<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1161">
                  <span class="catalogo-item-label">1161.</span> <span class="catalogo-bibl"><span class="catalogo-author">HEMSTERHUIS</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1161">Lettre sur la sculpture a M. Theod. de Smeth</a></span>, <span class="catalogo-pubPlace">Amsterd.</span> <span class="catalogo-date">1769</span>, in 4, fig., M. 26.
    <div class="catalogo-note collapse">Oltre ai pregi della dissertazione sonovi anche quelli delle stampe che tutte disegnate dall’autore vennero con
    somma accuratezza intagliate in rame da Schley. E sono tre vignette e tre tavole.</div>
    
    </span></section>