<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3302">
                     <span class="catalogo-item-label">3302.</span> <span class="catalogo-bibl"><span class="catalogo-author">PASSERII Joannis Baptistae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3302">In monumenta sacra eburnea a clariss. Franc. Gorio ad quartam hujus operis partem
reservata expositiones. Accedit ejusdem epistola de Artophorio eburneo Piaurensi</a></span>, <span class="catalogo-pubPlace">Florentiae</span> <span class="catalogo-date">1759</span>, in fol.,
figurato.
<div class="catalogo-note collapse">Oltre le 26 tavole in fine, trovansi altre 7 tavole sparse fra il testo rappresentanti alcuni antichi pregiatissimi
avori.</div>
</span></section>