<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="502">
                  <span class="catalogo-item-label">502.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FÉLIBIEN</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/502">Des principes de l’architecture, de la sculpture, de la peinture et des autres arts, qui
	en dépendent, avec un dictionaire des termes propres à chacune de ces arts,</a></span> 
                     <span class="catalogo-pubPlace">Paris,</span> 
                     chez
	Coignard, 
                     <span class="catalogo-date">1690</span> en 4, fig.</span>
	                 <div class="catalogo-note">Esemplare magnifico in mar. dor. della biblioteca di Colbert cui venne l’opera intitolata; con 65 tavole di
	bellissimo intaglio e le vignette incise da le Clerc. In tutte le opere di questo autore avvi una giudiziosa scelta di
	cognizioni, e molto gusto anche nella maniera di esporle.</div>
	
	              </section>