<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1058">
                  <span class="catalogo-item-label">1058.</span> <span class="catalogo-bibl"><span class="catalogo-author">GILPIN William</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1058">Trois éssais sur le beau pittoresque, sur le voyage pittoresque et sur l’art d’
      esquisser le paysage</a></span>, <span class="catalogo-pubPlace">Breslau</span> <span class="catalogo-date">1799</span>, in 8, fig.
      <div id="catalogo-note-text-1058" class="catalogo-note truncate-line-clamp">Con sette bellissime tavole pittoresche intagliate a mezzo tinto.</div><a id="catalogo-note-text-toggle-1058" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>