<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="781">
                  <span class="catalogo-item-label">781.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/781">SEMPLICI lumi tendenti a render cauti i soli interessati nel teatro da erigersi nella parrocchia di
	S. Fantino a Venezia</a></span>, <span class="catalogo-pubPlace">Venezia</span>, in 8. fig.
	<div id="catalogo-note-text-781" class="catalogo-note truncate-line-clamp">Con due tavole dimostrative al fine.</div><a id="catalogo-note-text-toggle-781" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>