<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4421">
                        <span class="catalogo-item-label">4421.</span> <span class="catalogo-bibl"><span class="catalogo-author">HELLE et REMY</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4421">Catalogue d’effets curieux du Cabinet de M. Hennin</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1763</span>, in 12.
<span class="catalogo-pb" id="page_295">295</span>
                     </span></section>