<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="785">
                  <span class="catalogo-item-label">785.</span> <span class="catalogo-bibl"><span class="catalogo-author">BIANCHI Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/785">Osservazioni sull’arena e sul podio dell’anfiteatro Flavio</a></span>, illustrate e difese da
	Lorenzo de Romano, <span class="catalogo-pubPlace">Roma</span>, nella stamperia de Romanis, <span class="catalogo-date">1812</span>, in fol. fig. M. 81.
	<div class="catalogo-note collapse">Con una gran tavola intagliata in rame. Fu oggetto di molte discussioni un’escavazione in quell’anno fatta, che si
	dovette fatalmente ricuoprire.</div>
	
	</span></section>