<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="773">
                  <span class="catalogo-item-label">773.</span> <span class="catalogo-bibl"><span class="catalogo-author">PISTOCCHI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/773">Prospetto d’un teatro</a></span>, <span class="catalogo-pubPlace">Faenza</span> <span class="catalogo-date">1790</span>.
	— Aggiuntavi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/773">Lettera anonima dove si espone il sentimento dell’autore pel foro progettato
	dall’architetto Antolini in Milano</a></span>. <span class="catalogo-pubPlace">Milano</span>, anno nono, in 8.
	— E in fine, <span class="catalogo-title"><a class="catalog-link" href="/catalog/773">le riflessioni architettoniche sopra il premiato disegno della trionfale colonna da
	erigersi in Milano</a></span>, in 8.
	<div id="catalogo-note-text-773" class="catalogo-note truncate-line-clamp">Opuscoli tutti del sud. Sig. Pistocchi ove viene lacerato senza pietà l’architetto Antolini a lui preferito.</div><a id="catalogo-note-text-toggle-773" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>