<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3948">
                     <span class="catalogo-item-label">3948.</span> <span class="catalogo-bibl"><span class="catalogo-author">BALTARD</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3948">Paris, et ses monumens, mésurés, dessinés, et gravés avec des descriptions historiques par Amaury
Duval</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1803 a 1815</span>, in fol. m.
<div id="catalogo-note-text-3948" class="catalogo-note truncate-line-clamp">In questa grande e magnifica opera non è stato illustrato che il Louvre, il castello d’Ecouen, e quello di S. Cloud.
Se tutti i monumenti di Francia fossero così illustrati, e prodotti non vi sarebbe opera di questa più splendida, e
interessante: 34 tavole bellissime illustrano il Louvre, senza com <span class="catalogo-pb" id="page_230">230</span> prendere le numerose vignette relative
a quell’edificio; l’ultima delle quali grandi tavole non fa parte del numero, ed è un ammasso di fragmenti
portante il titolo Explication du Louvre. Altre 14 tavole con molte vignette sono relative al castello di Ecouen, e
11 tavole sono per il parco e palazzo di S. Cloud.</div><a id="catalogo-note-text-toggle-3948" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>