<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="144">
                  <span class="catalogo-item-label">144.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DE JORIO Andrea</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/144">Scheletri cumani dilucidati,</a></span> 
                     <span class="catalogo-pubPlace">Napoli</span> 
                     <span class="catalogo-date">1810,</span>
                     <span class="catalogo-extent"> in 8, fig., M. 66,</span> con cinque tavole
	  in rame.</span>
	                 <div class="catalogo-note collapse">Memoria piena di curiose ed interessanti notizie.</div>
	  
	                 <span class="catalogo-pb" id="page_23">23</span>
	              </section>