<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3620">
                     <span class="catalogo-item-label">3620.</span> <span class="catalogo-bibl"><span class="catalogo-author">BIONDO da Forlì</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3620">Roma ristaurata, ed Italia illustrata tradotte in buona lingua volgare per Lucio Fauno</a></span>, 
                        <span class="catalogo-pubPlace">Venezia</span>,
per Michel Tramezzino, <span class="catalogo-date">1542</span>, in 8.
<div class="catalogo-note">Impressa coi medesimi caratteri della seguente.</div>
</span></section>