<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="321">
                  <span class="catalogo-item-label">321.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DURERO A.</span> pittore e geometra chiarissimo, <span class="catalogo-title"><a class="catalog-link" href="/catalog/321">Della simmetria de’ corpi umani, libri quattro
	
	                       
	                       
	
	nuovamente tradotti dalla lingua latina nella italianada M. Giovanni Paolo Gallucci salodiano,
	ed accresciuti del quinto libro che tratta dell’espressione degli affetti dell’animo, composto
	dal traduttore,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1591,</span> 
                     per Domenico Nicolini,
                     <span class="catalogo-extent"> in fol. fig.</span>
                  </span>
	– <span class="catalogo-bibl">
                     <span class="catalogo-author">ESEGRENIO</span>, vedi Colombina ec.</span>
                  
	              </section>