<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1458">
                  <span class="catalogo-item-label">1458.</span> <span class="catalogo-bibl"><span class="catalogo-author">OGILBY John</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1458">The entertainement of his most excellent Majesty Charles II, in his passage
    through the city London to his coronation etc.</a></span> by John Ogilby, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1662</span>, in fol. fig.
    <div class="catalogo-note">Edizione magnifica con tredici tavole intagliate la maggior parte da Hollard.
    Added Narrative of the coronation and royal fest in Westminster Hall.</div><div id="catalogo-note-text-1458" class="catalogo-note-search-results truncate-line-clamp">Edizione magnifica con tredici tavole intagliate la maggior parte da Hollard.
    Added Narrative of the coronation and royal fest in Westminster Hall.</div><a id="catalogo-note-text-toggle-1458" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCLXII
    
    </span></section>