<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="368">
                  <span class="catalogo-item-label">368.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VESALII Brucellensis</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/368">Suorum de humani corporis fabrica librorum epitome, sive Vivae
	immagines partium corporis humanis aeneis formis expressae,</a></span> 
                     <span class="catalogo-pubPlace">Antuerpiae,</span> 
                     Plantin, 
                     <span class="catalogo-date">1579,</span>
                     <span class="catalogo-extent"> in 4
	fig.</span>
                  </span>
	                 <div class="catalogo-note">Testo di questo libro è stampato con bellissimi tipi e le tavole anatomiche, che il valverde trasse dall’opera
	grande di Vesalio, furono incise in rame con diligenza infinita e dispendio, non pareggiando però la preziosità ed
	il gusto di quelle intagliate in legno.</div><div id="catalogo-note-text-368" class="catalogo-note-search-results truncate-line-clamp">Testo di questo libro è stampato con bellissimi tipi e le tavole anatomiche, che il valverde trasse dall’opera
	grande di Vesalio, furono incise in rame con diligenza infinita e dispendio, non pareggiando però la preziosità ed
	il gusto di quelle intagliate in legno.</div><a id="catalogo-note-text-toggle-368" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>