<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2798">
                     <span class="catalogo-item-label">2798.</span> <span class="catalogo-bibl"><span class="catalogo-author">CATTANEO Gaetano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2798">Lettera al sig. Domenico Sestini sopra due medaglie greche del R. Gabinetto di Milano</a></span>,
<span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1811</span>, in 8, fig., M. 48.
<div id="catalogo-note-text-2798" class="catalogo-note truncate-line-clamp">In questa seconda impressione avvi un articolo di confutazione del sig. du Mersan: e la difesa dell’autore. Tre
tavole di medaglie intagliate in rame sono alla fine.</div><a id="catalogo-note-text-toggle-2798" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>