<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4225">
                        <span class="catalogo-item-label">4225.</span> <span class="catalogo-bibl"><span class="catalogo-author">RATTI Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4225">Istruzione di quanto può vedersi di più bello in Genova, in pittura, scultura, e architettura</a></span>,
<span class="catalogo-pubPlace">Genova</span> <span class="catalogo-date">1766</span>, in 8, fig.
</span></section>