<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1705">
                  <span class="catalogo-item-label">1705.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAROZZO Achille bolognese</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1705">Maestro generale dell’Arto dell’armi, opera nova</a></span>, <span class="catalogo-pubPlace">Venezia</span>
  <span class="catalogo-date">1550</span>, in 4. fig. libri 5, per Gio. Padovano ad instanzia di Melchior Sessa.
  <div class="catalogo-note">Opera ricca di 82 figure in legno oltre il frontespizio. Si conosce un’edizione anteriore stampata in Modena in
  casa di Antonio Bergola sacerdote e cittadino modenese, 1536.</div><div id="catalogo-note-text-1705" class="catalogo-note-search-results truncate-line-clamp">Opera ricca di 82 figure in legno oltre il frontespizio. Si conosce un’edizione anteriore stampata in Modena in
  casa di Antonio Bergola sacerdote e cittadino modenese, 1536.</div><a id="catalogo-note-text-toggle-1705" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>