<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2176">
                  <span class="catalogo-item-label">2176.</span> <span class="catalogo-bibl"><span class="catalogo-author">SANBIN Hughes</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2176">Oeuvres de la diversité des termes dont on use en architécture, reduites en
    ordre</a></span>, <span class="catalogo-pubPlace">Lion</span>, chez Durand, <span class="catalogo-date">1572</span>, in fol. fig.

                  
                  
    
               </span></section>