<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2453">
                  <span class="catalogo-item-label">2453.</span> <span class="catalogo-bibl"><span class="catalogo-author">PINTIO M. Paulo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2453">Fisonomia naturale: raccolta brevemente da gli libri di antichi e moderni fi
    <span class="catalogo-pb" id="page_412">412</span> losofi novamente messa in luce</a></span>, <span class="catalogo-pubPlace">Roma</span>, presso Vincenzo Lucrino, <span class="catalogo-date">1555</span>, in 8.
    <div class="catalogo-note">Sono alcune figure intagliate in legno fra il testo.</div>
    
    </span></section>