<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3009">
                     <span class="catalogo-item-label">3009.</span> <span class="catalogo-bibl"><span class="catalogo-author">SPANHEIM</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3009">Les Césares de l’empereur Julien</a></span>, traduits du grec avec les gravures de Bernard Picard, <span class="catalogo-pubPlace">Amsterdam</span>
<span class="catalogo-date">1728</span>, in 4, fig.
<div class="catalogo-note collapse">Oltre il frontespizio figurato coll’allusione alla graziosa e dottissima satira dell’imperatore Giuliano, è sparso
tutto il volume fra il testo e fra le note di monumenti intagliati da Picard. L’opera è divisa in due parti. L’una
contiene la favola ossia satira coi commenti amplissimi; la seconda contiene Les preuves des remarques con una
gran copia di indici delle tavole, degli autori e delle materie.</div>
</span></section>