<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1557">
                  <span class="catalogo-item-label">1557.</span> <span class="catalogo-bibl"><span class="catalogo-author">AMATIUS Paschalis Sabinianensis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1557">De restituitone purpuraru</a></span>, <span class="catalogo-pubPlace">Lucae</span> <span class="catalogo-date">1781</span>, in fol., M. 82.
    <div class="catalogo-note collapse">Splendidissima edizione con bei tipi e bella carta accuratissima, che onora l’autore e il tipografo Giacomo Giusti.</div>
    
    </span></section>