<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3440">
                     <span class="catalogo-item-label">3440.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3440">Le PITTURE della Cappella di Niccolò V. Opere del B. Giovanni Angelico da Fiesole esistenti in Vaticano
disegnate e incise a contorni da Fran. Gio. <span class="catalogo-pb" id="page_145">145</span> Giacomo Romano</a></span> in 16 rami, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1811</span>, in fol. mass., M.
107.
<div class="catalogo-note collapse">Esemplare di prima impressione; opera eseguita con esattezza.</div>
</span></section>