<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="565">
                  <span class="catalogo-item-label">565.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">MILIZIA Francesco</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/565">Roma, delle belle arti del dise <span class="catalogo-pb" id="page_101">101</span>gno: parte prima: dell’architettura
	civile,</a></span> 
                     <span class="catalogo-pubPlace">Bassano</span> 
                     <span class="catalogo-date">1787,</span> 
                     <span class="catalogo-extent">in 8.</span>
                  </span> 
	              </section>