<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4049">
                     <span class="catalogo-item-label">4049.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4049">MONUMENTA Paderbonensia ex historia romana. Altra edizione della stessa opera</a></span>, <span class="catalogo-pubPlace">Amstelodami</span>, apud Danielem
Elsevirum, <span class="catalogo-date">1672</span>, in 4.
<div class="catalogo-note collapse">Meno copiosa, ma preferibile alla suddetta, perché i tipi <span class="catalogo-pb" id="page_247">247</span> sono assai eleganti, e le stampe di R. de Hooghe
assai fresche e assai belle in numero di 26 oltre il frontespizio di Visscher, il ritratto di Blottelinh, e due carte
topografiche.</div>
</span></section>