<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1119">
                  <span class="catalogo-item-label">1119.</span> <span class="catalogo-bibl"><span class="catalogo-author">VIRGILIANI</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/1119">Codicis Antiquissimi fragmnenta et picturae ex biblioteca Vaticana ad priscas
    imaginum formas a Petro Sancte Bartoli incisa</a></span>.
    <div class="catalogo-note">Edizione splendidissima in carta massima. Romae ex calcographia R. C. A. 1641, in fol.</div>
    
    </span></section>