<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2313">
                  <span class="catalogo-item-label">2313.</span> <span class="catalogo-bibl"><span class="catalogo-author">MANNI Domenico Maria</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2313">Addizioni necessarie alle Vite dei due celebri statuari Michelangelo
    Buonarroti e Pietro Tacca</a></span>. Lezione accademica, <span class="catalogo-pubPlace">Firenze</span>, <span class="catalogo-date">1774</span>, in 4.
    </span></section>