<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1941">
                  <span class="catalogo-item-label">1941.</span> <span class="catalogo-bibl"><span class="catalogo-author">PROBST Jo. Friderich</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1941">Judicium Paridis</a></span>, <span class="catalogo-pubPlace">Aug Vind.</span>, in 4, obl.
    <div id="catalogo-note-text-1941" class="catalogo-note truncate-line-clamp">Questo libro composto in trenta emblemi relativi al giudizio di Paride tra Giunone, Venere e Minerva, cioè tra le
    ricchezze, l’amore e la sapienza, è tolto dall’opera di Sperling in venti emblemi ai quali ione sono stati aggiunti:
    riconosconsi le tavole dei primi per le sentenze stampate a tergo in latino e in tedesco, non avendo i secondi
    alcuna cosa stampata nella retro pagina. <span class="catalogo-bibl">Vedi <span class="catalogo-author">Sperling</span></span>.</div><a id="catalogo-note-text-toggle-1941" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>