<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1911">
                  <span class="catalogo-item-label">1911.</span> <span class="catalogo-bibl"><span class="catalogo-author">LANGLOIS Franciscus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1911">Lux Claustri, La Lumiere du Cloistre</a></span>. Representée par figures

                  
                  
    
    emblématiques dessinées et gravées par Jacques Callot, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1646</span>, fig., in 4.
    </span></section>