<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1658">
                  <span class="catalogo-item-label">1658.</span> <span class="catalogo-bibl"><span class="catalogo-author">GESSARI Benedetto</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1658">Costumi e riti degli antichi Romani esposti per note alle vite di 100
    uomini illustri da Remolo sino a Carlo VI d’Austria</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1760</span>, in 8.
    <div class="catalogo-note collapse">Opera ove è qualche nozione, ma scritta indegnamente e senza critici.</div>
    
    </span></section>