<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4713">
                     <span class="catalogo-item-label">4713.</span> <span class="catalogo-bibl"><span class="catalogo-author">GYRALDI Gregorii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4713">De Diis gentium libri, sive syntagmata XVII quibus varia Deorum historia, imagines et
cognomina explicantur clarissimeque tractantur</a></span>, <span class="catalogo-pubPlace">Lugduni</span>, apud haeredes Jacob. Junctae, <span class="catalogo-date">1535</span>, in fol. op.
<div class="catalogo-note collapse">Opera dottissima, prolissa, e di bella edizione.</div>
</span></section>