<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="80">
                  <span class="catalogo-item-label">80.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BERTHOLLET</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/80">Elémens de l’art de la teintùre,</a></span>
                     <span class="catalogo-pubPlace"> Paris</span>
                     <span class="catalogo-date"> 1804,</span>
                      chez Didot,
                     <span class="catalogo-extent"> 2 vol. in 8 fig.</span>
                  </span>
	                 <div class="catalogo-note">Molti apparati e nozioni delle ultime scoperte in chimica per i principii coloranti sono utili anche alle pratiche
	  dell’arte del pennello.</div>	  
	              </section>