<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1839">
                  <span class="catalogo-item-label">1839.</span> <span class="catalogo-bibl"><span class="catalogo-author">D’AMBOISE François</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1839">Discours ou traité des Dévises compilé par Adrian d’Ambois son fils</a></span>,
                     <span class="catalogo-pubPlace">Paris</span><span class="catalogo-date"> 1620</span>, in 8.
   <span class="catalogo-bibl"> — Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1839">Les Dévises Royales par Adrien d’Amboise au Roi</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1621</span>.
    <div id="catalogo-note-text-1839" class="catalogo-note truncate-line-clamp">Con 13 tavole intagliate in rame.</div><a id="catalogo-note-text-toggle-1839" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a></span>
    
    — <span class="catalogo-bibl">E in fine: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1839">Dévises héroiques et emblemes de M. Claude Paradin</a></span> revues et augtmentées de

                  
                  
    
    moitié par François d’ Amboise, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1622</span>.
    <div id="catalogo-note-text-1839" class="catalogo-note truncate-line-clamp">Con 178 tavolette finamente ed elegantemente intagliate in rame.</div><a id="catalogo-note-text-toggle-1839" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a></span>
    
    </span></section>