<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="471">
                  <span class="catalogo-item-label">471.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">Du CERCEAU Jacobi Andronetii</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/471"> De architectura opus ec.,</a></span>
                     <span class="catalogo-pubPlace"> Lutetiae Parisiorum </span>
                     <span class="catalogo-date">1559,</span>
                     <span class="catalogo-extent"> in fol. fig.
	Prima edizione.</span>
                  </span>
	                 
	                 
	                 
	                 <div id="catalogo-note-text-471" class="catalogo-note truncate-line-clamp">Questo libro contiene i piani e i disegni di 50 differenti edifici, al qual libro è aggiunta una collezione di 25 archi
	trionfali antichi e moderni dello stesso autore pubblicati nell’anno 1549, e da’ bibliografi non citati.</div><a id="catalogo-note-text-toggle-471" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>