<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="846">
                  <span class="catalogo-item-label">846.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAIGNAN Emanuele</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/846">Perspectiva horaria, sive de orographia gnomonica tum theoretica tum
	practica</a></span>, libri quatuor, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1648</span>, in fol. fig.
	</span></section>