<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="141">
                  <span class="catalogo-item-label">141.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">HAGEDORN</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/141"> Reflexions sur la peinture traduites de l’allemand par Hubert,</a></span> 
                     <span class="catalogo-pubPlace">Leipzig</span> 
                     <span class="catalogo-date">1775,</span> 
                     <span class="catalogo-extent">in 8
	  V. 2.</span>
                  </span>
	                 <div id="catalogo-note-text-141" class="catalogo-note truncate-line-clamp">Opera scritta con molta filosofia e profondità di teorie.</div><a id="catalogo-note-text-toggle-141" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 
	                 
	                 
	  
	              </section>