<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3795">
                     <span class="catalogo-item-label">3795.</span> <span class="catalogo-bibl"><span class="catalogo-author">MIRRI Lodovico</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3795"> Le antiche camere delle terme di Tito, e le loro pitture restituite al pubblico, delineate, incise, e
dipinte, descritte da Giuseppe Carletti</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1776</span>, in fol.
<div class="catalogo-note">In questo volume non sono che le descrizioni e la dedica, le quali in foglietto piccolo o quarto grande apparvero
separatamente dalle tavole, come rilevasi dall’avviso di associazione che vi va annesso. Libro di 100 pagine in
carta grande. Esemplare di dedica della biblioteca di Pio VI.</div>
</span></section>