<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3919">
                     <span class="catalogo-item-label">3919.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZANONI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3919">Ragguaglio della nuova pittura del signor Filippo Gherardi da Lucca sulla volta e tribuna
della chiesa di S. Pantaleo scoperta l’anno <span class="catalogo-date">1690</span></a></span>, <span class="catalogo-pubPlace">Roma</span>, in 8, M. 62.
</span></section>