<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1522">
                  <span class="catalogo-item-label">1522.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1522">POMPA funebris Mediolanensis Francisci I Augusti</a></span>, in <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1766</span>, in fol. fig.
    <div id="catalogo-note-text-1522" class="catalogo-note truncate-line-clamp">Tre tavole di medaglie, una del catafalco e il frontespizio formano gli ornamenti dell’edizione.</div><a id="catalogo-note-text-toggle-1522" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCCLXVI
    
    </span></section>