<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2352">
                  <span class="catalogo-item-label">2352.</span> <span class="catalogo-bibl"><span class="catalogo-author">PUCCINI Cav. Tommaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2352">Memorie istorico-critiche di Antonello degli Antoni pittore
    messinese</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1809</span>, in 8, M. 88.
    <span class="catalogo-pb" id="page_398">398</span>
               </span></section>