<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1838">
                  <span class="catalogo-item-label">1838.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALEANDRO Girolamo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1838">Discorso sopra l’impresa degli Accademici Rumoristi, recitato
                     pubblicamente in tre lezioni</a></span>, <span class="catalogo-pubPlace">Roma</span>, presso il Mascardi, <span class="catalogo-date">1611</span>, in 4.
                     <div id="catalogo-note-text-1838" class="catalogo-note truncate-line-clamp">La tavola ove è intagliata l’impresa degli Umoristi è di Agostino Caracci, o di qualche suo allievo</div><a id="catalogo-note-text-toggle-1838" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
    
    </span></section>