<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2967">
                     <span class="catalogo-item-label">2967.</span> <span class="catalogo-bibl"><span class="catalogo-author">PATINUS</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2967">Numismata Imperatorum Romanorum ex aere, mediae et minimae formae</a></span>, 
                        <span class="catalogo-pubPlace">Argentinae</span> <span class="catalogo-date">1671</span>, in fol.,
figurato.
<div class="catalogo-note">L’apparato di quest’opera ridonda di ricchezza soverchia per le stampe. Il frontespizio simbolico e figurato è
opera di F. Chauveau. Trovasi fra i prolegomeni poetici in onore dell’autore il magnifico suo ritratto intagliato da
Masson. Sonovi le carte delle città orientali e occidentali. Le medaglie tutte stanno fra il testo a’ rispettivi luoghi
intagliate in rame. Frequentissime sono le vignette d’ogni dimensione, che veggonsi aver avuto innanzi un altro
destino. Fra queste trovansi ai capi di molte pagine i fregi e baccanali di Pietro Brebiette che quantunque logori
alquanto sono sempre pieni di grazia per l’invenzione e per l’esecuzione. Le altre incisioni sono di gran lunga

                     
                     
inferiori e non hanno alcuna relazione col testo.</div><div id="catalogo-note-text-2967" class="catalogo-note-search-results truncate-line-clamp">L’apparato di quest’opera ridonda di ricchezza soverchia per le stampe. Il frontespizio simbolico e figurato è
opera di F. Chauveau. Trovasi fra i prolegomeni poetici in onore dell’autore il magnifico suo ritratto intagliato da
Masson. Sonovi le carte delle città orientali e occidentali. Le medaglie tutte stanno fra il testo a’ rispettivi luoghi
intagliate in rame. Frequentissime sono le vignette d’ogni dimensione, che veggonsi aver avuto innanzi un altro
destino. Fra queste trovansi ai capi di molte pagine i fregi e baccanali di Pietro Brebiette che quantunque logori
alquanto sono sempre pieni di grazia per l’invenzione e per l’esecuzione. Le altre incisioni sono di gran lunga

                     
                     
inferiori e non hanno alcuna relazione col testo.</div><a id="catalogo-note-text-toggle-2967" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>