<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="222">
                  <span class="catalogo-item-label">222.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/222">TRATTATO della pittura e scultura, uso ed abuso loro, composto da un teologo e da un pittore
	  per offerirlo ai sigg. accademici del disegno di Firenze e di altre città ec.,</a></span> 
                     <span class="catalogo-pubPlace">Firenze</span> 
                     <span class="catalogo-date">1652</span>,<span class="catalogo-extent"> in 4.</span>
                  </span>
	                 <div class="catalogo-note">L’Ottonelli da Fano e il Berettini da Cortona, l’uno teologo e l’altro pittore, ascosero per cristiana modestia il
	  loro nome transfuso in sciocchi anagrammi nel frontispizio, Odominigio Lelonotti da Fanano e Britio Prenetteri.
	  Vi è più erudizione teologica che arte e nessuna cosa che non sia stata da altri prima di loro pubblicata.</div>	  
	              </section>