<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="192">
                  <span class="catalogo-item-label">192.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/192">RÉFLEXIONS sur quelques causes de l’état présent de la peinture en France, avec un examen des
	  ouvrages exposées au Louvre, l’an 1746, à la Haye</a></span> 
                     <span class="catalogo-pb" id="page_31">31</span> <span class="catalogo-date">1747,</span> avec une lettre à la fin de
	  l’auteur des dites réflexions.</span>
	                 <div class="catalogo-note collapse">Questa è una lettera apologetica, poiché alcuni si dichiararono offesi del giudizio e della sana critica sulle loro
	  opere: e la verità irrita sovente e ferisce l’orgoglio degli artisti.</div>	  
	              </section>