<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1512">
                  <span class="catalogo-item-label">1512.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1512">RÉLACION de las exequias hechas en Roma a la magestad catolica de Phelippe V</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1746</span>,
    in foglio, fig.
    <div class="catalogo-note collapse">Con due orazioni funerali, l’una di Mons. Marcolini, l’altra del Padre Guzman Gesuita. Con sette grandissime
    tavole atlantiche inventate e disegnate dal Cav. Fuga e intagliate da vari artefici.</div>
    MDCCXLVII
    
    </span></section>