<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2494">
                     <span class="catalogo-item-label">2494.</span> <span class="catalogo-bibl"><span class="catalogo-author">MONTFAUCON (de) D. Bernard</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2494">Diarium italicum, sive monumentorum veterum, bibliothecarum, musaeorum etc.</a></span>,
<span class="catalogo-pubPlace">Parisiis</span> <span class="catalogo-date">1702</span>, in 4, fig.
<div class="catalogo-note collapse">Le poche tavole intagliate in rame che illustrano quest’opera, non troppo profonda, sono inserite fra il testo.
Vedansi le osservazioni su quest’opera all’articolo Ficoroni e l’apologia all’articolo Riccobaldi.</div>
</span></section>