<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="189">
                  <span class="catalogo-item-label">189.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">POSSEVINI Antonii</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/189">Bibliotheca selecta de ratione studiorum,</a></span> 
                     <span class="catalogo-pubPlace">Venetiis</span> 
                     <span class="catalogo-date">1603</span>,<span class="catalogo-extent"> in fol., vol. 2.</span>
                  </span>
	                 <div class="catalogo-note collapse">Trovasi in quest’opera il suddetto trattato.</div>	  
	              </section>