<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2745">
                     <span class="catalogo-item-label">2745.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARTOLI Pietro Santi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2745">Musaeum Odescalcum, sive thesaurus antiquarium Gemmarum cum imaginibus in iisdem
insculptis etc. quae a Serenissima Christina Svecorum Regina collectae in Museo Odescalcho adservantur</a></span>,
<span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1751-52</span>, vol. 2, in fol., fig.
<div id="catalogo-note-text-2745" class="catalogo-note truncate-line-clamp">Nicolò Galeotti estese i commentarj alle tavole di quest’opera, che ascendono al num. di 103 senza contare le
vignette, nella quale sarebbe stato molto più ordine e scelta, se fosse stata pubblicata vivente l’insigne collettore
del Museo. La prima edizione fu pubblicata nel 1747.</div><a id="catalogo-note-text-toggle-2745" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>