<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="815">
                  <span class="catalogo-item-label">815.</span> <span class="catalogo-bibl"><span class="catalogo-author">BORDONI A.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/815">De’ contorni delle ombre ordinarie</a></span>. Trattato, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1816</span>, in 4, gr. fig.
	<div class="catalogo-note">Con 18 grandi tavole. Opera trattata con tutta la profondità della scienza matematica e troppo difficile per le
	pratiche necessarie agli artisti.</div><div id="catalogo-note-text-815" class="catalogo-note-search-results truncate-line-clamp">Con 18 grandi tavole. Opera trattata con tutta la profondità della scienza matematica e troppo difficile per le
	pratiche necessarie agli artisti.</div><a id="catalogo-note-text-toggle-815" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>