<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4677">
                     <span class="catalogo-item-label">4677.</span> <span class="catalogo-bibl"><span class="catalogo-author">De BENSERADE M.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4677">Metamorfoses d’Ovide en Rondeaux imprimés et enrichis de figures par ordre de S. Majesté</a></span>,
vol. 2, in 12, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1714</span>.
<div id="catalogo-note-text-4677" class="catalogo-note truncate-line-clamp">Operetta di poco merito, apparsa e sostenuta dal Mecenate che ne favorì la spesa, e assistita da Le Brun, che
disegnò certamente alcune delle tante tavole, di cui sono composti i due volumi.</div><a id="catalogo-note-text-toggle-4677" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>