<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1818">
                  <span class="catalogo-item-label">1818.</span> <span class="catalogo-bibl"><span class="catalogo-author">VAVASSORE detto Guadagnino Giovanni Andrea</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1818">Esemplario novo di più di cento variate
                     mostre di qualunque sorte bellissime per cucire intitulato Fontana de gli esempli</a></span>, <span class="catalogo-date">1550</span>, in 4,
  obl.
  
                  
                  
  <div class="catalogo-note">Nel frontespizio è una fontana col motto Sollicitudo est mater divitiarum, e lateralmente Donne e donzelle che el
  cusir segnile (per farvi eterne alla fonte venite) a retro del frontesp. sta la dedica cosi intestata. Il Pelliciolo alta
  molto magnifica Madonna Lippomana Signora e Padrona Osservandissima, dopo la quale finisce la pagina con
  un sonetto. Seguono quattordici foglietti impressi da ambo i lati con 28 disegni intagliati in legno di vari punti e
  ricami e nel foglio ultimo dopo questi è un avviso ALLE VIRTUOSE DONNE et a qualunque lettore Giovan Andrea
  Vavassore detto Guadagnino. Nuovamen <span class="catalogo-pb" id="page_311">311</span>te stampato ec. Le prime opere prodotte da questo intagliatore e
  tipografo erano assai più rozze (Vedi la sua Biblia Pauperum). Ma siccome precedono di molli anni questa
  ristampa, fatta però lui vivente, si scorge l’avanzamento ch’egli aveva fatto nell’arte sua. Vedi agli articoli
  Bellezze, Vinciolo, Passerotti.</div><div id="catalogo-note-text-1818" class="catalogo-note-search-results truncate-line-clamp">Nel frontespizio è una fontana col motto Sollicitudo est mater divitiarum, e lateralmente Donne e donzelle che el
  cusir segnile (per farvi eterne alla fonte venite) a retro del frontesp. sta la dedica cosi intestata. Il Pelliciolo alta
  molto magnifica Madonna Lippomana Signora e Padrona Osservandissima, dopo la quale finisce la pagina con
  un sonetto. Seguono quattordici foglietti impressi da ambo i lati con 28 disegni intagliati in legno di vari punti e
  ricami e nel foglio ultimo dopo questi è un avviso ALLE VIRTUOSE DONNE et a qualunque lettore Giovan Andrea
  Vavassore detto Guadagnino. Nuovamen <span class="catalogo-pb" id="page_311">311</span>te stampato ec. Le prime opere prodotte da questo intagliatore e
  tipografo erano assai più rozze (Vedi la sua Biblia Pauperum). Ma siccome precedono di molli anni questa
  ristampa, fatta però lui vivente, si scorge l’avanzamento ch’egli aveva fatto nell’arte sua. Vedi agli articoli
  Bellezze, Vinciolo, Passerotti.</div><a id="catalogo-note-text-toggle-1818" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>