<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2735">
                     <span class="catalogo-item-label">2735.</span> <span class="catalogo-bibl"><span class="catalogo-author">ARPE Friedrich Peter</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2735">De prodigiosis naturae et artis operibus, talismanes, et amuleta dictis, cum recensione
scriptorum hujus argumenti</a></span>, liber singularis, <span class="catalogo-pubPlace">Hamburgi</span>, apud Christ. Liebezeit, <span class="catalogo-date">1717</span>, in 8, fig.
<div id="catalogo-note-text-2735" class="catalogo-note truncate-line-clamp">In questo libro trovansi le nozioni generali delle antichità talismaniche e di quegli antichi scrittori d’ogni età e di
ogni nazione, con frontespizio figurato.</div><a id="catalogo-note-text-toggle-2735" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>