<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="838">
                  <span class="catalogo-item-label">838.</span> <span class="catalogo-bibl"><span class="catalogo-author">HAMELLII Pascasii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/838">Perspectiva tribus libris succinctis dentro correda et figuris illustrata</a></span>,
	<span class="catalogo-pubPlace">Lutetiae</span>, apud Aegidium Gourbinum, <span class="catalogo-date">1556</span>, in 4.
	<div class="catalogo-note">L’obiettiva della luce e delle rifrazioni è matematicamente trattata in 43 foglietti di stampa con bei caratteri
	corsivi e la figure in legno fra il testo. Questa non è però se non una ristampa esattissima (mutata una
	dedicatoria) della Perspectiva Communis di Giovanni Pisano vescovo ec. Vedi Cantuariensis.</div>
	
	</span></section>