<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3039">
                     <span class="catalogo-item-label">3039.</span> <span class="catalogo-bibl"><span class="catalogo-author">VAILLANT Joannis Foj</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3039"> Selectiora numismata in aere maximi moduli e Museo Francisci de Camps</a></span>, <span class="catalogo-pubPlace">Parisiis</span> <span class="catalogo-date">1695</span>,
in 4, figurato.
<div class="catalogo-note collapse">Con 54 tavole intagliate da Adriano Schoonebeek. In questo luogo possiamo osservare quanto improprio fosse il
servirsi di questo intagliatore per le opere di numismatica e di antichità. Bizzarro, inesatto, incapace di sentire la
finezza dell’antico, introdusse in tutto il suo carattere libero e gustoso in ogni altra cosa fuori che in quella che
esige la fedeltà più scrupolosa.</div>
</span></section>