<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="278">
                  <span class="catalogo-item-label">278.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GAURICI POMPONII</span> napoletani, <span class="catalogo-title"><a class="catalog-link" href="/catalog/278">De sculptura, Norimbergae ec., apud Jo. Petreium,</a></span> 
                     <span class="catalogo-date">1542,</span>
                     <span class="catalogo-extent"> in 4.</span>
	                    
	                    
	                    
	Magnifica edizione, esemplare del Thuano.</span>
	
	              </section>