<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1115">
                  <span class="catalogo-item-label">1115.</span> <span class="catalogo-bibl"><span class="catalogo-author">TASSO Torquato</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1115">Il Goffredo, ovvero La Gerusalemme</a></span>, <span class="catalogo-pubPlace">Venezia</span>, presso Antonio Groppo,
      <span class="catalogo-date">1760</span>. vol. 2 in fol. pic.
      <div class="catalogo-note">In quest’edizione i rami e le copiose vignette furono eseguite da mediocri artisti ed i primi quantunque imitate da
      quelli di Bern. Castello non hanno alcun pregio. Nel resto per la parte de’ tipi l’edizione non è spregevole.</div>
      
      </span></section>