<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="448">
                  <span class="catalogo-item-label">448.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">De BOUELLES Charles</span>, Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/448">Peleiier Jacques médecin et mathematicien de l’usage de la
	geometrie,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1573,</span>
                     <span class="catalogo-extent"> in 4, fig.</span>
                  </span>
	              </section>