<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2870">
                     <span class="catalogo-item-label">2870.</span> <span class="catalogo-bibl"><span class="catalogo-author">GORI Francisci</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2870">Dactyliotheca Smithiana</a></span>,<span class="catalogo-pubPlace"> Venetiis</span><span class="catalogo-date"> 1767</span>, 2 vol., in fol., fig.
<div class="catalogo-note collapse">Cento tavole presentano le gemme illustrate nel primo vo <span class="catalogo-pb" id="page_62">62</span> lume eseguite con mediocre intaglio in rame.
Consecrato è il secondo tomo alla storia glittografica nella quale sono raccolte molte e preziose notizie degli
artefici. Cose che non trovansi quasi mai nelle opere di questo genere destinate ad illustrare i monumenti e tacere

                     
                     
   dell’arte e dell’artista</div>.
</span></section>