<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2941">
                     <span class="catalogo-item-label">2941.</span> <span class="catalogo-bibl"><span class="catalogo-author">NICASII Claudii</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2941"> De nummo Pantheo Hadriani imperatoris ad Spanhenium, dissertatio </a></span>, 
                       <span class="catalogo-pubPlace"> Lugduni</span> <span class="catalogo-date">1690</span>, in 4, fig.
<div id="catalogo-note-text-2941" class="catalogo-note truncate-line-clamp">Con molte medaglie intagliate in rame fra il testo.</div><a id="catalogo-note-text-toggle-2941" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>