<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3319">
                     <span class="catalogo-item-label">3319.</span> <span class="catalogo-bibl"><span class="catalogo-author">RAPONI Ignatii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3319">De quodam epigrammate graeco. Romae in hortis Coelimontanis extante</a></span>, <span class="catalogo-pubPlace">Velitris</span> <span class="catalogo-date">1788</span>, in 4, M.
23.
</span></section>