<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4014">
                     <span class="catalogo-item-label">4014.</span> <span class="catalogo-bibl"><span class="catalogo-author">GAMBA Ghiselli C. Paolo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4014">Lettera sopra l’antico edificio di Ravenna detto volgarmente la Rotonda</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1765</span>,
in 4, M. 1.
<div id="catalogo-note-text-4014" class="catalogo-note truncate-line-clamp">Questo scrittore ebbe assai più buon senso di tutti quelli che lo precedettero, i quali parlarono di questo edifizio
con una quantità di falsi supporti contrarj alla critica, e alla ragione; ma egli vendicò la Rotonda dalle favolose
tradizioni, e scrisse da uomo giusto, e imparziale.</div><a id="catalogo-note-text-toggle-4014" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>