<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1553">
                  <span class="catalogo-item-label">1553.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALBERTI Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1553">De’ funerali, ossia dissertazione in cui si espongono le varie maniere di
    sepel <span class="catalogo-pb" id="page_269">269</span> lire i defunti usate da diverse nazioni</a></span>, <span class="catalogo-pubPlace">Rimino</span> <span class="catalogo-date">1790</span>, in 8.
    <div id="catalogo-note-text-1553" class="catalogo-note truncate-line-clamp">Opera scarsa di erudizione e di critica.</div><a id="catalogo-note-text-toggle-1553" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>