<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2034">
                  <span class="catalogo-item-label">2034.</span> <span class="catalogo-bibl"><span class="catalogo-author">GALLONII Antonii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2034">De SS. Martyrum cruciatibus</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1594</span>, in 4.
  <div class="catalogo-note">Prima edizione della versione latina di quest’opera: con 25 tav. in legno. Le prime tav. originali in rame di Ant.
  Tempesta si videro nella edizione italiana di Roma 1591.</div><div id="catalogo-note-text-2034" class="catalogo-note-search-results truncate-line-clamp">Prima edizione della versione latina di quest’opera: con 25 tav. in legno. Le prime tav. originali in rame di Ant.
  Tempesta si videro nella edizione italiana di Roma 1591.</div><a id="catalogo-note-text-toggle-2034" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>