<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1848">
                  <span class="catalogo-item-label">1848.</span> <span class="catalogo-bibl"><span class="catalogo-author">BIRALLI Simone</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1848">Delle imprese scelte dove trovansi tutte quelle che da diversi autori

                  
                  
    
    stampate si rendon conformi alle regole e alle principali qualità ec. ec.</a></span>, <span class="catalogo-pubPlace">Venezia</span><span class="catalogo-date"> 1600</span>, presso
    Giovan Battista Ciotti, in 4.
                     <div class="catalogo-note">Non figurata e stampato coti nitida eleganza</div><div id="catalogo-note-text-1848" class="catalogo-note-search-results truncate-line-clamp">Non figurata e stampato coti nitida eleganza</div><a id="catalogo-note-text-toggle-1848" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
    
    </span></section>