<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2705">
                     <span class="catalogo-item-label">2705.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROY (Le)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2705">Les ruines des plus beaux monumens de la Grece, ouvrage divisée en deux parties</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1758</span>, in fol.
mass.
<div class="catalogo-note">Quest’opera rimase in grande opinione finché non giunse agli occhi del pubblico quella di Stuard eseguita con
più scrupolosa esattezza. La prima parte in cui si considerano questi monumenti dal lato storico è arricchita di 27
bellissime tavole pittoresche rappresentanti le vedute intagliate da le Bas. La seconda parte ove si esaminano i
monumenti dal lato architettonico contiene 32 tavole intagliate da Patte. Esemplare magnifico ril. in vit.</div>
</span></section>