<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4684">
                     <span class="catalogo-item-label">4684.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARTARI Vincenzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4684">Le imagini colla sposizione degli Dei degli antichi</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per Francesco Marcolini, <span class="catalogo-date">1556</span>,
in 4 p., edizione elegantissima pei tipi.
</span></section>