<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="101">
                  <span class="catalogo-item-label">101.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CAYLUS M. le Comte</span>, et <span class="catalogo-author">M. Majault</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/101"> Memoires sur le peinture à l’encaustique et sur la
	  peinture à la cire,</a></span> 
                     <span class="catalogo-pubPlace">Geneve</span>
                     <span class="catalogo-date"> 1780,</span>
                     <span class="catalogo-extent"> in 8 fig.</span>
                  </span>
	                 <div class="catalogo-note">Con frontispizio figurato allusivo all’argomento e due tavole in fine degli utensili necessari a questo genere di
	  pittura.</div><div id="catalogo-note-text-101" class="catalogo-note-search-results truncate-line-clamp">Con frontispizio figurato allusivo all’argomento e due tavole in fine degli utensili necessari a questo genere di
	  pittura.</div><a id="catalogo-note-text-toggle-101" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 <div class="catalogo-note">Il giorno 12 Novembre 1754 in una pubblica assemblea l’autore espose il metodo della pittura all’encausto
	  all’accademia delle iscrizioni e belle lettere per la prima volta, producendo una testa di Minerva da lui dipinta:
	  infatti la prima edizione di quest’opera fu nel 1755 stampata a Ginevra, di cui questa è una ristampa.</div><div id="catalogo-note-text-101" class="catalogo-note-search-results truncate-line-clamp">Il giorno 12 Novembre 1754 in una pubblica assemblea l’autore espose il metodo della pittura all’encausto
	  all’accademia delle iscrizioni e belle lettere per la prima volta, producendo una testa di Minerva da lui dipinta:
	  infatti la prima edizione di quest’opera fu nel 1755 stampata a Ginevra, di cui questa è una ristampa.</div><a id="catalogo-note-text-toggle-101" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 <div class="catalogo-note">Vedi la Peinture Poeme.</div><div id="catalogo-note-text-101" class="catalogo-note-search-results truncate-line-clamp">Vedi la Peinture Poeme.</div><a id="catalogo-note-text-toggle-101" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>