<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2272">
                  <span class="catalogo-item-label">2272.</span> <span class="catalogo-bibl"><span class="catalogo-author">GAULT de S. Germain</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2272">Vie de Nicolas Poussin consideré comme chef de l’École Françoise</a></span>,
    <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1806</span>, en 4.
    <div class="catalogo-note collapse">Elegantissima edizione, ove sono nel fine 37 tavole incise tratte dalle sue opere.</div>
    
    </span></section>