<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1731">
                  <span class="catalogo-item-label">1731.</span> <span class="catalogo-bibl"><span class="catalogo-author">De NICOLAI Nicolò</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1731">Le navigazioni et viaggi fatti nella Turchia</a></span>. Nuovamente tradotto di
  francese in italiano da Francesco Fiori da Lillà aritmetico con sessantasette figure naturali di
  uomini e di donne, <span class="catalogo-pubPlace">Venezia</span>, presso Francesco Ziletti. <span class="catalogo-date">1580</span>, in fol.
  
                  
                  
 <div id="catalogo-note-text-1731" class="catalogo-note truncate-line-clamp"> Le tavole in quest’edizione trovami molto logore per aver servito alle precedenti.</div><a id="catalogo-note-text-toggle-1731" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>