<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1440">
                  <span class="catalogo-item-label">1440.</span> <span class="catalogo-bibl"><span class="catalogo-author">MOSCARDI Vitale</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1440">Festa fatta in Roma al 25 Febbraio <span class="catalogo-date">1634</span> in occasione della venuta in Roma
    del Principe Alessandro Carlo di Polonia</a></span>, spettacolo datogli dal Cardinale Antonio Barberini,
    in 4, fig.
    <div id="catalogo-note-text-1440" class="catalogo-note truncate-line-clamp">Tredici tavole intagliate in rame, compreso il frontespizio e l’ultima in gran foglio del teatro, ornano questo libro
    e vennero disegnate e inventate da Andrea Sacchi e intagliate da F. Colignon.</div><a id="catalogo-note-text-toggle-1440" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCXXXV
    
    </span></section>