<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3204">
                     <span class="catalogo-item-label">3204.</span> <span class="catalogo-bibl"><span class="catalogo-author">CIAMPINI Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3204">De incombustibili lino sive lapide amianto deque illius filandi modo</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1661</span>, in 4, fig.,
M. 11.
</span></section>