<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1341">
                  <span class="catalogo-item-label">1341.</span> <span class="catalogo-bibl"><span class="catalogo-author">PUCCINI Cav. Tommaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1341">Orazione letta nella R. Accademia di Belle Arti di Firenze il giorno
    del solenne triennale concorso</a></span>, 14 Settembre <span class="catalogo-date">1794</span>, in 8.
    </span></section>