<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1629">
                  <span class="catalogo-item-label">1629.</span> <span class="catalogo-bibl"><span class="catalogo-author">COLUMNAE Fabii Lyncei</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1629">De purpura, opusculum, nunc iterum luci datum opera et studio Jo.
    Danielis maioris</a></span>, <span class="catalogo-pubPlace">Kiliae</span> <span class="catalogo-date">1675</span>, in 4, parv.
    <div id="catalogo-note-text-1629" class="catalogo-note truncate-line-clamp">Due piccoli volumetti legati assieme; nel secondo de’ quali sta il dizionario ostracologico; non può vedersi
    esecuzione più esatta e più elegante delle tavole in legno, di cui è ornato questo libro: ma la pessima carta in cui
    è stampato rende l’edizione poco appariscente.</div><a id="catalogo-note-text-toggle-1629" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>