<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="76">
                  <span class="catalogo-item-label">76.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/76">L’ART nouveau de la peinture en fromage, ou en raméquin, inventée pour suivre le louable
	  projet de trouver graduellement les façons de peindre inferieures à celles qui existent,</a></span> 
                     <span class="catalogo-pubPlace">à
	  Marolles</span> 
                     <span class="catalogo-date">1755.</span>
                  </span>
	                 <div id="catalogo-note-text-76" class="catalogo-note truncate-line-clamp">Questa brochure apparve per satirizzare il nuovo modo di dipingere in cera e per divertire gl’increduli.
	  L’opuscolo di 20 pagine è seguito dall’altro intitolato l’Histoire et le secret de la peinture en cire ove pretendesi
	  che M. Bachelier nel 1749 sia stato il primo a dipingere colla cera un quadro rappresentabile Zefiro e Flora, 5
	  anni prima della Minerva del C. di Caylus.</div><a id="catalogo-note-text-toggle-76" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>