<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1729">
                  <span class="catalogo-item-label">1729.</span> <span class="catalogo-bibl"><span class="catalogo-author">NERI Merret et Kunckel</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1729">Art de la verrerie</a></span> au quel on a ajouté <span class="catalogo-bibl">le <span class="catalogo-title"><a class="catalog-link" href="/catalog/1729">Sol sine veste</a></span> d’<span class="catalogo-author">Orschall</span>.</span>
  <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1729">L’Helioscopium videndi, le chapitre XI de la Flora Saturnizans</a></span> de <span class="catalogo-author">Henckel</span> etc.</span> Traduit de
  l’allemand par M. D.**, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1752</span>, in 4, fig.
  <div class="catalogo-note">Opera la più completa in questa materia, con molte grandi tavole incise in rame a’ luoghi richiamati dal testo.</div>
  
  </span></section>