<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1469">
                  <span class="catalogo-item-label">1469.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1469">TEATRO de la gloria consagrado a la Exma Sennora Donna Felize de Sandaval Enriquez
    Duquessa de Uceda difunta</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1671</span>, in fol. fig.
    <div class="catalogo-note collapse">Le invenzioni furono di Cesare Fiore architetto ed espresse in otto grandi tavole.</div>
    MDCLXXI
    
    </span></section>