<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1169">
                  <span class="catalogo-item-label">1169.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1169">LETTERE pittoriche</a></span>, Risposta ad un amico riguardante le sei lettere anonime pubblicate in
    Bologna intitolate Lettere Pittoriche, le quali lettere sono unite alla presente risposta, <span class="catalogo-pubPlace">Forlì</span>
    <span class="catalogo-date">1719</span>. Diatribe in proposito dell’utilità, o inutilità delle Accademie di Belle Arti, M. 104.Vedi
    <span class="catalogo-title"><a class="catalog-link" href="/catalog/1169">Raccolta</a></span>.
    </span></section>