<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="109">
                  <span class="catalogo-item-label">109.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DIDEROT</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/109"> Essais sur la peinture,</a></span>
                     <span class="catalogo-pubPlace"> à Paris,</span>
                      chez Fr. Buisson,
                     <span class="catalogo-date"> l’an IV de la Republique</span>
                     <span class="catalogo-extent"> in 8.</span> Oltre
	  a questa prima Opera di 110 pagine, contiene il volume anche: Observations sur le Salon de
	  peinture de 1765 par le meme Auteur.</span>
	                 <div class="catalogo-note">La filosofia, lo spirito e l’ingegno dell’autore risaltano ad ogni linea della prima e della seconda opera estese per
	  300 pagine e quantunque l’artista non v’incontri il linguaggio il più tecnico, ritrova un largo compenso pel
	  pascolo che le idee dell’autore, colla magia dello stile, danno sempre all’immaginazione di chi legge.</div><div id="catalogo-note-text-109" class="catalogo-note-search-results truncate-line-clamp">La filosofia, lo spirito e l’ingegno dell’autore risaltano ad ogni linea della prima e della seconda opera estese per
	  300 pagine e quantunque l’artista non v’incontri il linguaggio il più tecnico, ritrova un largo compenso pel
	  pascolo che le idee dell’autore, colla magia dello stile, danno sempre all’immaginazione di chi legge.</div><a id="catalogo-note-text-toggle-109" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>