<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3790">
                     <span class="catalogo-item-label">3790.</span> <span class="catalogo-bibl"><span class="catalogo-author">MENETREI Claudii Francisci</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3790">Columna Theodosiana quam vulgo historiatam vocant ab Arcadio imperatore
Costantinopoli erecta in honorem imperatoris Theodosii junioris a Gentile Bellino delineata nunc primum aere
sculpta et in XVIII tab. distributa</a></span>, senza luogo ed anno, in foglio m. obl.
<div class="catalogo-note">Nell’occasione che Gentile Bellino fu chiamato a Costantinopoli da Maometto II voglioso di avere il proprio
ritratto, e di vedere alcune pitture, questo artefice fece i disegni di un tal monumento che dimostra la decadenza al
V secolo, ma non lascia interamente dimenticare le altre preesistenti colonne trionfali di Roma. Il Menetrejo
racconta nelle spiegazioni che i disegni originali di Gentile erano lunghi 52 piedi, ed erano passati in Francia nel
Museo Accarti a Parigi, e furono recati in questa dimensione da un pittore chiamato Paillet, acciò un certo Velletti
intagliatore e pensionato in Roma dell’Accademia di Francia potesse facilmente intagliarli.</div>
</span></section>