<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4720">
                     <span class="catalogo-item-label">4720.</span> <span class="catalogo-bibl"><span class="catalogo-author">MANUTII Aldi Pauli filii Aldi nepotis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4720">De falsa <span class="catalogo-pb" id="page_323">323</span> antiquorum religione deque larario, commentatio
historica</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1773</span>, in 8, M. 44.
<div id="catalogo-note-text-4720" class="catalogo-note truncate-line-clamp">L’Amaduzzi pubblicò la prima volta questo libro, e non lo abbiamo stampato che in unione d’altre opere.</div><a id="catalogo-note-text-toggle-4720" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                     
                     

                  </span></section>