<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="474">
                  <span class="catalogo-item-label">474.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">Du CERCEAU Jaques Androuet</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/474"> Les plus excellents bâtimens de France, au quel sont designés
	les plans de 15 bastimens et de leur contenu, ensemble les élévations et singularitée d’un
	chascun, 2 vol.,</a></span>
                     <span class="catalogo-pubPlace"> Paris </span>
                     <span class="catalogo-date">1607,</span>
                     <span class="catalogo-extent"> legati in uno in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Allettanti edifici sono illustrati nel secondo volume: opera che comprende quanto di più insigne produssero le
	arti in Francia nell’aureo secolo di Francesco, piena di preziose nozioni relative agli artisti di quell’età. Le tavole
	sono in rame, o intagliate con gusto.</div>
	
	              </section>