<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3723">
                     <span class="catalogo-item-label">3723.</span> <span class="catalogo-bibl"><span class="catalogo-author">FICORONI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3723">La Bolla d’oro de’ fanciulli nobili romani, e quella dei libertini</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1732</span>, in 4, fig.
<div class="catalogo-note">Colle tavole ai luoghi indicati nel testo.</div>
</span></section>