<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2716">
                     <span class="catalogo-item-label">2716.</span> <span class="catalogo-bibl"><span class="catalogo-author">VILLAMENA Franciscus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2716">Ager Puteolanus sive prospectus ejusdem insigniores</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1626</span>, in 8, constat
tabularum 24.

                     
                     
                  </span></section>