<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="651">
                  <span class="catalogo-item-label">651.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SCAMOZZI Vincenzo</span> archit. veneto, <span class="catalogo-title"><a class="catalog-link" href="/catalog/651">L’idea dell’architettura universale, vol. 2, legati in uno,</a></span>
	                    <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1615,</span> 
                     per Giorgio Valentino. Iᵃ edizione di magnifica <span class="catalogo-pb" id="page_118">118</span> conservazione e
	legatura in vitello dorato con busta, <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Questa fu dedicata al principe Massimiliano d’Austria: col ritratto dell’autore molto ben disegnato: furono le
	tavole inserite fra il testo in gran numero.</div>
	
	              </section>