<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="120">
                  <span class="catalogo-item-label">120.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DUTENS M. I.</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/120">Princeps abrégés de peinture suivis d’un discours sur l’architecture et la
	  sculpture,</a></span> 
                     <span class="catalogo-pubPlace">à Tours</span> 
                     <span class="catalogo-date">1803,</span> 
                     <span class="catalogo-extent">in 8 fig., M. 97</span>
                  </span>
	                 <div class="catalogo-note collapse">Operetta dettata con qualche accorgimento, ove sono belle teorie per l’armonia dei colori, dedotte dalle corde
	  armoniche de’ suoni; ma che vedesi però nel totale essere scritta da chi manca delle pratiche nell’arte; con una
	  tavola dimostrativa.</div>	  
	              </section>