<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4033">
                     <span class="catalogo-item-label">4033.</span> <span class="catalogo-bibl"><span class="catalogo-author">MACEDO</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4033">Pictura venetae urbis</a></span>, <span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1670</span>, in 4.</span>
		     <div class="catalogo-note collapse">Questo libro raccoglie diverse importanti memorie, ed è poco conosciuto in Venezia medesima.</div>
		  </section>