<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="239">
                  <span class="catalogo-item-label">239.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VOLPATO</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/239">Altro esemplare di questo rarissimo libretto con due teste intagliate in legno al fine,
	  dimostrative di tutte le rughe della pelle del volto, che non sono nel sopra descritto esemplare.</a></span>
                  </span>
	              </section>