<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4611">
                     <span class="catalogo-item-label">4611.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4611">LIBRO di arnesi, ed ornamenti per cavalli, e carrozze, incisi in rame con diligenza, ed eleganza, e i respettivi
prezzi di ciascheduno in lingua inglese, tedesca, spagnuola, e italiana</a></span>.

                     
                     
                        <div id="catalogo-note-text-4611" class="catalogo-note truncate-line-clamp">Con cinque figure di cavalli guarniti: sono in tutto 34 grandi tavole in foglio piegate in quarto</div><a id="catalogo-note-text-toggle-4611" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>