<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1392">
                  <span class="catalogo-item-label">1392.</span> <span class="catalogo-bibl"><span class="catalogo-author">VANNOCCI Oreste</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1392">Apparato, e barriera del tempio di Atnor Feretrio fatta dal Sereniss.
    Principe di Mantova</a></span>, l’an. <span class="catalogo-date">1585</span>, <span class="catalogo-pubPlace">Mantova</span>, per Francesco Osanna, in 8.
    <div class="catalogo-note collapse">La descrizione è di Oreste Vannocci Biringucci senese prefetto delle fabbriche del Ser. sig. Duca di Mantova.
    Questo e molti altri simili opuscoli sono scritti sullo stile della cavalleria di quei tempi.</div>
    MDLXXXV
    
    </span></section>