<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3164">
                     <span class="catalogo-item-label">3164.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALMELOVEEN Theodorus I.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3164">Amoenitates theologico-philologicae in quibus varia S. Scripturae loca, ritus prisci,
et inedita quaedam Erasmi Bochartii etc.</a></span>, <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1594</span>, in 8, M. 72.
</span></section>