<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1612">
                  <span class="catalogo-item-label">1612.</span> <span class="catalogo-bibl"><span class="catalogo-author">CANCELLIERI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1612">Biblioteca ragionata degli scrittori sul giuoco degli scacchi colla
    dissertazione di D. Benedetto Rocco napoletano sul giuoco degli scacchi da lui ristampata</a></span>,
    <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1817</span>, in 12.
    </span></section>