<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1273">
                  <span class="catalogo-item-label">1273.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1273">MUSIVORUM quae Bergomi in comitis equitis Antonii Moroni redibus asservantur historica
    descriptio</a></span>, <span class="catalogo-date">1791</span>, in 4, m. 10.
    <span class="catalogo-pb" id="page_222">222</span>
               </span></section>