<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2725">
                     <span class="catalogo-item-label">2725.</span> <span class="catalogo-bibl"><span class="catalogo-author">AGOSTINI don Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2725">Discorsi sopra le medaglie ed altre anticaglie divisi in XI dialoghi tradotti dalla lingua
                        spagnuola</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1592</span>, in 4, fig., con 72 tav. in rame.
<div class="catalogo-note">Questa è la sola edizione, che abbia pregio di rarità e di preziosità delle tante versioni ed edizioni che esistono
posteriormente.
Il nostro esemplare confronta con quello della Libreria di Crevenna e non avvi punto l’indicazione nel
frontespizio citata dall’Haim che al fine debbasi trovare l’originale spa <span class="catalogo-pb" id="page_39">39</span> gnuolo: noi non conosciamo
alcun esemplare con questa indicazione. Motivo dell’estrema rarità di questa versione si è che l’edizione prima
ed originale di Tarragona del 1587 essendo comparsa con un numero inferiore di medaglie, vennero subito
mutilati tutti gli esemplari di questa prima edizione italiana per completar la spagnuola, giacché le tavole tanto
dell’una che dell’altra furono incise a Roma. É da notarsi, che questa versione non è la stessa che quella di
Ottaviano Sada. Abbiamo in fatti riscontrato in due esemplari dell’edizione spagnuola esistenti nella R.
Biblioteca di Monaco queste varietà, mentre l’una è più completa dell’altra per l’addizione fattavi delle tavole
tolte da un esemplare del 1592</div><div id="catalogo-note-text-2725" class="catalogo-note-search-results truncate-line-clamp">Questa è la sola edizione, che abbia pregio di rarità e di preziosità delle tante versioni ed edizioni che esistono
posteriormente.
Il nostro esemplare confronta con quello della Libreria di Crevenna e non avvi punto l’indicazione nel
frontespizio citata dall’Haim che al fine debbasi trovare l’originale spa <span class="catalogo-pb" id="page_39">39</span> gnuolo: noi non conosciamo
alcun esemplare con questa indicazione. Motivo dell’estrema rarità di questa versione si è che l’edizione prima
ed originale di Tarragona del 1587 essendo comparsa con un numero inferiore di medaglie, vennero subito
mutilati tutti gli esemplari di questa prima edizione italiana per completar la spagnuola, giacché le tavole tanto
dell’una che dell’altra furono incise a Roma. É da notarsi, che questa versione non è la stessa che quella di
Ottaviano Sada. Abbiamo in fatti riscontrato in due esemplari dell’edizione spagnuola esistenti nella R.
Biblioteca di Monaco queste varietà, mentre l’una è più completa dell’altra per l’addizione fattavi delle tavole
tolte da un esemplare del 1592</div><a id="catalogo-note-text-toggle-2725" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>