<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4027">
                     <span class="catalogo-item-label">4027.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4027">L’ITALIE illustrée en 135 figures en tailles donces en fol. dessinées, et gravées par les plus fameux graveurs des
Pays Bas, avec l’explication en italien, françois, et latin</a></span>, <span class="catalogo-pubPlace">Leyde</span>, chez Hank, <span class="catalogo-date">1757</span>.
<div class="catalogo-note">Potrebbe questo libro piuttosto intitolarsi come apparisce da un secondo frontespizio, Vedute di Venezia; poiché
quasi tutto il volume è consacrato a questa città: rappresentata in 115 tavole, non ne restando che 20 alle vedute
di altre principali città dell’Italia.</div><div id="catalogo-note-text-4027" class="catalogo-note-search-results truncate-line-clamp">Potrebbe questo libro piuttosto intitolarsi come apparisce da un secondo frontespizio, Vedute di Venezia; poiché
quasi tutto il volume è consacrato a questa città: rappresentata in 115 tavole, non ne restando che 20 alle vedute
di altre principali città dell’Italia.</div><a id="catalogo-note-text-toggle-4027" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>