<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2306">
                  <span class="catalogo-item-label">2306.</span> <span class="catalogo-bibl"><span class="catalogo-author">LONGHI Alessandro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2306">Compendio delle vite de’ pittori veneziani istorici più rinomati del
    presente secolo, con suoi ritratti tratti dal naturale, delineati ed incisi</a></span>, <span class="catalogo-pubPlace">Venezia</span>, presso
    l’autore, <span class="catalogo-date">1762</span>, in foglio.
    <div class="catalogo-note">Sono questi 44 ritratti all’acqua forte in grande intagliati con libertà, ma senza buon gusto, i quali però
    conservano il carattere che questo artista metteva nelle sue opere di pennello. Esemplare in mar. rosso dorato
    della Biblioteca Pisani.</div><div id="catalogo-note-text-2306" class="catalogo-note-search-results truncate-line-clamp">Sono questi 44 ritratti all’acqua forte in grande intagliati con libertà, ma senza buon gusto, i quali però
    conservano il carattere che questo artista metteva nelle sue opere di pennello. Esemplare in mar. rosso dorato
    della Biblioteca Pisani.</div><a id="catalogo-note-text-toggle-2306" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>