<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3416">
                     <span class="catalogo-item-label">3416.</span>
                     
                        
                           <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3416">MUSEO Capitolino. Il tomo primo</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1741</span>.</span>
			   <div class="catalogo-note">Contiene le imagini degli uomini illustri in tavole 90.</div><div id="catalogo-note-text-3416" class="catalogo-note-search-results truncate-line-clamp">Contiene le imagini degli uomini illustri in tavole 90.</div><a id="catalogo-note-text-toggle-3416" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
			
                        
                           <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3416">MUSEO Capitolino. Il tomo secondo</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1748</span>.</span>
			   <div class="catalogo-note">Contiene i busti imperiali. Tavole 83.</div><div id="catalogo-note-text-3416" class="catalogo-note-search-results truncate-line-clamp">Contiene i busti imperiali. Tavole 83.</div><a id="catalogo-note-text-toggle-3416" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
			
                        
                           <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3416">MUSEO Capitolino. Il tomo terzo</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1755</span>.</span>
			   <div class="catalogo-note">Contiene le statue. Tavole 91.</div><div id="catalogo-note-text-3416" class="catalogo-note-search-results truncate-line-clamp">Contiene le statue. Tavole 91.</div><a id="catalogo-note-text-toggle-3416" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
			
                        
                           <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3416">MUSEO Capitolino. Il tomo quarto</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1782</span>.</span>
			   <div class="catalogo-note">È diviso in due parti, la prima contiene 35 bassi rilievi: la seconda ne contiene 34.</div><div id="catalogo-note-text-3416" class="catalogo-note-search-results truncate-line-clamp">È diviso in due parti, la prima contiene 35 bassi rilievi: la seconda ne contiene 34.</div><a id="catalogo-note-text-toggle-3416" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
			
                     
		     <div class="catalogo-note">Il tutto legato in cinque volumi in foglio fig. colle illustrazioni di mons. Bottari e molte altre vignette e tavole
		     illustrative oltre le indicate. Opera raccomandabile, ma che potrebbe essere rifusa.</div><div id="catalogo-note-text-3416" class="catalogo-note-search-results truncate-line-clamp">Il tutto legato in cinque volumi in foglio fig. colle illustrazioni di mons. Bottari e molte altre vignette e tavole
		     illustrative oltre le indicate. Opera raccomandabile, ma che potrebbe essere rifusa.</div><a id="catalogo-note-text-toggle-3416" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
		  </section>