<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="641">
                  <span class="catalogo-item-label">641.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">RUSCONI Giovanni Antonio</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/641">Lo stesso nuovamente ristampato e accresciuto della pratica degli
	orologi solari,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1660,</span> 
                     appresso Niccolini.
                  </span>
	                 <div class="catalogo-note">Il merito singolare di questa pregiatissima operetta consiste nelle tavole intagliate in legno con infinito gusto.
	L’edizione del Giolito ha il sommo avvantaggio della freschezza delle stampe.</div>
	
	              </section>