<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1097">
                  <span class="catalogo-item-label">1097.</span> <span class="catalogo-bibl"><span class="catalogo-author">GESSNER Salomon</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1097">Oeuvres</a></span> vol. 3, in 4, <span class="catalogo-pubPlace">Paris</span>. Traduite en françois par Huber, Meister, et
      l’abbé Bruté de Loreille, <span class="catalogo-date">1786-93. Les figures sont d’après les desseins de le Barbier.
      Edizione elegantissima e di molto lusso per le tavole numerose e le vignette di cui è arrichita; esemplare
      magnifico in vit. dor.</span>
      
      </span></section>