<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2757">
                     <span class="catalogo-item-label">2757.</span> <span class="catalogo-bibl"><span class="catalogo-author">BEGERII Laurentii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2757">Thesaurus Brandeburgicus selectus, sive gemmarum, et numismatum graecorum in
cimeliarchio Brandeburgico elegantiorum series commentario illustratae</a></span>, <span class="catalogo-pubPlace">Coloniae Marcichae</span> <span class="catalogo-date">1666</span>, vol. 3, fig.
<div class="catalogo-note collapse">Le tavole sono di accurata esecuzione, ma senza alcun gusto e sapore dell’antico. L’opera è grandiosa e
dottissima e forse la più copiosa fra quelle che sono illustrate. Le tavole stanno fra il testo accanto alle rispettive
spiegazioni.</div>
</span></section>