<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="251">
                  <span class="catalogo-item-label">251.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BOSSE Abr.</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/251">Traicté des manières de graver en taille douce sur l’airaïn par le moyen de l’eaux
	  forte et des vernix durs et mols. Ensemble de façons d’en emprimer les planches et d’en
	  construire la presse et autres choses concernentes les dits arts,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span>, chez le dit Bosse, 
                     <span class="catalogo-date">1645,</span>
	                    <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note">Tavole 19 comprese il frontispizio figurato: in questo esemplare la tavola 6 è impressa da entrambe le parte del
	  foglio. Prima edizione.</div><div id="catalogo-note-text-251" class="catalogo-note-search-results truncate-line-clamp">Tavole 19 comprese il frontispizio figurato: in questo esemplare la tavola 6 è impressa da entrambe le parte del
	  foglio. Prima edizione.</div><a id="catalogo-note-text-toggle-251" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>