<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3956">
                     <span class="catalogo-item-label">3956.</span> <span class="catalogo-bibl"><span class="catalogo-author">BETTI Zaccaria</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3956">Descrizione d’un maraviglioso ponte naturale nei monti veronesi</a></span>, <span class="catalogo-pubPlace">Verona</span> <span class="catalogo-date">1766</span>, in 4, fig.

                     
                     
                  </span></section>