<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2660">
                     <span class="catalogo-item-label">2660.</span> <span class="catalogo-bibl"><span class="catalogo-author">CICOGNARA Leopoldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2660">Dei Propilei e dell’inutilità e dei danni dei perni metallici nella costruzione degli edifizi</a></span>,

                     
                     
<span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1814</span>, in 4, fig., M. 77.
<div class="catalogo-note collapse">Edizione di cui non furono stampati che 50 esemplari e fu intitolata alla regina di Napoli. Prese motivo l’autore
di estendere questa memoria da alcuni fragmenti di perni di legno recati dal sig. Dodwel di ritorno da’ suoi
viaggi in Grecia, appunto in seguito d’esser caduta una delle colonne de’ Propilei mentre egli soggiornava in
Atene.</div>
</span></section>