<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2799">
                     <span class="catalogo-item-label">2799.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAYLUS M. le Comte</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2799">Recueil de 300 têtes, et sujets de compositions, gravées d’après les pierres gravées antiques
du cabinet du Roi</a></span> in 4.
<div class="catalogo-note">Quest’opera fu riunita e pubblicata da Basan, essendo rimasta imperfetta presso l’autore, che aveva fatto tirare
qualche esemplare soltanto delle tavole senza numeri e senza illustrazioni. Il pregio massimo è di possederla in
quello stato di prima imperfezione. Ma siccome ne furono tirati pochissimi esemplari, le tavole sono
freschissime, anche in questa di Basan, alle quali vennero aggiunti i numeri e un cenno relativo a ciascun
soggetto sulle stesse tavole intagliato.</div><div id="catalogo-note-text-2799" class="catalogo-note-search-results truncate-line-clamp">Quest’opera fu riunita e pubblicata da Basan, essendo rimasta imperfetta presso l’autore, che aveva fatto tirare
qualche esemplare soltanto delle tavole senza numeri e senza illustrazioni. Il pregio massimo è di possederla in
quello stato di prima imperfezione. Ma siccome ne furono tirati pochissimi esemplari, le tavole sono
freschissime, anche in questa di Basan, alle quali vennero aggiunti i numeri e un cenno relativo a ciascun
soggetto sulle stesse tavole intagliato.</div><a id="catalogo-note-text-toggle-2799" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>