<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1922">
                  <span class="catalogo-item-label">1922.</span> <span class="catalogo-bibl"><span class="catalogo-author">MENESTRIER Claude François</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/1922"> Histoire du Roy Louis le Grand par médailles, emblémes,
    dévises etc.</a></span> etc. seconde édition augmentée de plusieures figures et corrigée, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1693</span>, in
    fol. fig.

                  
                  
    <div class="catalogo-note">Questa è corredata di tutte le illustrazioni che non apparvero nella prima edizione con molte tavole di più d’ogni
    genere e sparse fra il testo e riunite alla fine.</div>
    
    </span></section>