<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="121">
                  <span class="catalogo-item-label">121.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">EQUICOLA Mario</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/121">Instituzioni al comporre in ogni sorte di rima della lingua volgare, con uno
	  
	                       
	                       
	  
	  eruditissimo discorso della pittura e con molte secrete allegorie circa le muse e la poesia,</a></span>
                     <span class="catalogo-pubPlace"> in
	  Milano</span> 
                     <span class="catalogo-date">1541,</span> 
                     <span class="catalogo-extent">in 4,</span> senza nome di stampatore.</span>
	                 <div class="catalogo-note">Fa questo grazioso libretto ristampato in Venezia nel 1555; ma fu ommessa allora un’interessantissima dedica ad
	  Uberto <span class="catalogo-pb" id="page_20">20</span> Strozzi, piena di notizie intorno a Letterati di quel tempo e a diversi improvvisatori, la quale
	  trovandosi in questa, piuttosto rara edizione, la rende ancora più pregiata.</div><div id="catalogo-note-text-121" class="catalogo-note-search-results truncate-line-clamp">Fa questo grazioso libretto ristampato in Venezia nel 1555; ma fu ommessa allora un’interessantissima dedica ad
	  Uberto <span class="catalogo-pb" id="page_20">20</span> Strozzi, piena di notizie intorno a Letterati di quel tempo e a diversi improvvisatori, la quale
	  trovandosi in questa, piuttosto rara edizione, la rende ancora più pregiata.</div><a id="catalogo-note-text-toggle-121" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>