<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2298">
                  <span class="catalogo-item-label">2298.</span> <span class="catalogo-bibl"><span class="catalogo-author">LANZI Abate Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2298">Storia pittorica dell’Italia dal risorgimento delle Belle Arti sin presso al
    fine del XVIII secolo</a></span>, <span class="catalogo-pubPlace">Bassano</span> <span class="catalogo-date">1809</span>, in 8. Vol. 6. legati in 3.
    <div class="catalogo-note collapse">Quest’opera fu fatta con infinita cura e diligenza dal dottissimo autore: potrebbe riguardarsi come un libro
    classico in questa materia, se fosse un po’ più nudrito di riflessioni critiche sulle pratiche e le teorie dell’arte.</div>
    
    </span></section>