<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3303">
                     <span class="catalogo-item-label">3303.</span> <span class="catalogo-bibl"><span class="catalogo-author">PASSERII Joannis Baptistae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3303">Decisione capitolare e definitiva e inappellabile intorno all’intelligenza del famoso
Dittico Quiriniano Mss.</a></span>, M. 21.
<div class="catalogo-note">Quest’opuscolo faceto inedito fu fatto dall’uditor Giovan Battista Passeri per mettere in ridicolo e il Dittico
Quiriniano e i suoi interpreti. Infatti in queste nostre dissertazioni, lettere e lavori d’antiquaria si trova un così
gran numero di opuscoli intorno questo Dittico, che veramente o fu pomo della discordia de’ letterati, o lo
splendor della porpora rifulgendo sul Dittico impegnò tutti gli eruditi (che spesso adulano) a corteggiare le
opinioni del dotto cardinale.</div><div id="catalogo-note-text-3303" class="catalogo-note-search-results truncate-line-clamp">Quest’opuscolo faceto inedito fu fatto dall’uditor Giovan Battista Passeri per mettere in ridicolo e il Dittico
Quiriniano e i suoi interpreti. Infatti in queste nostre dissertazioni, lettere e lavori d’antiquaria si trova un così
gran numero di opuscoli intorno questo Dittico, che veramente o fu pomo della discordia de’ letterati, o lo
splendor della porpora rifulgendo sul Dittico impegnò tutti gli eruditi (che spesso adulano) a corteggiare le
opinioni del dotto cardinale.</div><a id="catalogo-note-text-toggle-3303" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>