<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4278">
                        <span class="catalogo-item-label">4278.</span> <span class="catalogo-bibl"><span class="catalogo-author">MOSCHINI Giovan Antonio</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/4278"> Breve guida all’amico delle belle arti per la città di Padova</a></span>, <span class="catalogo-date">1817</span>, in 12.
<div class="catalogo-note collapse">Estratta dall’opera più estesa pubblicata nello stesso anno dal medesimo autore.</div>
</span></section>