<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3882">
                     <span class="catalogo-item-label">3882.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3882">SCULTURE del palazzo della Villa Borghese, detta Pinciana, brevemente descritte, le cui illustrazioni sono
l’estratto di più ampie estese dal signor E. Quirino Visconti</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1796</span>, in 8, fig., 3 vol., uno di testo, e due di
tavole.
</span></section>