<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3385">
                     <span class="catalogo-item-label">3385.</span> <span class="catalogo-bibl"><span class="catalogo-author">EFFETTI (degli) ab. Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3385">Studiolo di pittura nella Galleria della Ricchezza in casa dell’abbate Antonio degli
Effetti e discorso del medesimo</a></span>, <span class="catalogo-pubPlace">Roma</span>, per Giovan Battista Molo alla Maddalena, senz’anno, M. 75.
<div class="catalogo-note">È forse stampato verso la metà del XVII secolo ed è pieno di notizie preziose per la ricognizione di molti oggetti
di arte.</div>
</span></section>