<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="880">
                  <span class="catalogo-item-label">880.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARTOLUCCI Vincentii Romani</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/880">Dissertatio de viis publicis</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1786</span>, in 4, M. 23.
      <div class="catalogo-note">L’autore di questa memoria fu uno de’ luminari della Romana Giurisprudenza.</div>
      
      </span></section>