<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1148">
                  <span class="catalogo-item-label">1148.</span> <span class="catalogo-bibl"><span class="catalogo-author">CIAMPI Sebastiano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1148">Lettera sull’interpretazione d’un verso di Dante nella Cantica XXIV,

                  
                  
    
    dell’Inferno e altre notizie sull’Oreficeria</a></span>, <span class="catalogo-pubPlace">Pistoia</span> <span class="catalogo-date">1814</span>, in 8, M. 34.
    </span></section>