<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="206">
                  <span class="catalogo-item-label">206.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SCARAMUCCIA Luigi perugino</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/206">Altro esemplare colle aggiunte e mutazioni che si credono di
	  Luigi Scaramuccia medesimo, forse per fare una edizione più corretta del libro.</a></span>
                  </span>
	                 <div class="catalogo-note">Sotto il nome di Giuripeno anagramma di Perugino, lo Scaramuccia descrive tutto ciò che di bello ha veduto
	  viaggiando l’Italia, accompagnato dal genio di Raffaello. Dopo di che seguono alcuno precetti dell’arte.</div><div id="catalogo-note-text-206" class="catalogo-note-search-results truncate-line-clamp">Sotto il nome di Giuripeno anagramma di Perugino, lo Scaramuccia descrive tutto ciò che di bello ha veduto
	  viaggiando l’Italia, accompagnato dal genio di Raffaello. Dopo di che seguono alcuno precetti dell’arte.</div><a id="catalogo-note-text-toggle-206" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>