<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2582">
                     <span class="catalogo-item-label">2582.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIORGI Antonio</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2582"> Dissertazione accademica sopra un monumento etrusco ritrovato presso Volterra</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1752</span>,
in 4, fig., M. 93.
<div class="catalogo-note">Avvi una tavola di pessima esecuzione</div>.
</span></section>