<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2037">
                  <span class="catalogo-item-label">2037.</span> <span class="catalogo-bibl"><span class="catalogo-author">GINI Clemente Paolo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2037">Alcuni paesi intagliati all’acqua forte dagli originali disegni del
  Cantagallina</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1625</span>, tav. 26.
  <div class="catalogo-note">Opera al di cotto della mediocrità: poiché eseguita manieratamente e con poco gusto: non ostante vi sono amatori
  che la tengono in qualche pregio.</div><div id="catalogo-note-text-2037" class="catalogo-note-search-results truncate-line-clamp">Opera al di cotto della mediocrità: poiché eseguita manieratamente e con poco gusto: non ostante vi sono amatori
  che la tengono in qualche pregio.</div><a id="catalogo-note-text-toggle-2037" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  <span class="catalogo-pb" id="page_349">349</span>
               </span></section>