<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3371">
                     <span class="catalogo-item-label">3371.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOCCHI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3371">Opera sopra l’imagine miraculosa della Santissima Nunziata di Firenze</a></span>, ivi <span class="catalogo-date">1592</span>, in 8.
<div class="catalogo-note">Opuscoletto pieno di preziose notizie d’arti intitolato al sig. Baccio Aldobrandini.</div>
</span></section>