<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4268">
                        <span class="catalogo-item-label">4268.</span> <span class="catalogo-bibl"><span class="catalogo-author">PETRINI Paolo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4268">Facciate delle chiese più cospicue di Napoli</a></span>, tavole 20, in 4 obl., <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1718</span>.
— Principali parti della città di Napoli, 21 vedute delle più belle fabbriche, fortezze, e strade. Sono però 26
vedute.
— Facciate delli palazzi più cospicui della città di Napoli, tav. 16, legate in un sol volume. Opera di meno che
mediocre esecuzione, e poco conosciuta.

                        
                        
                     </span></section>