<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3532">
                     <span class="catalogo-item-label">3532.</span> <span class="catalogo-bibl"><span class="catalogo-author">MISSIRINI Melchiorre</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3532"> Monumenti di scultura e architettura, sonetti</a></span>, 
                       <span class="catalogo-pubPlace"> Roma</span> <span class="catalogo-date">1818</span>, in 8.
<div class="catalogo-note collapse">Fra questi trattasi di una gran parte delle opera di Canova che non sono illustrate nel volume qui sopra: furono a
noi intitolati dall’amico autore, che è uno dei più forti e begli ingegni italiani.</div>
</span></section>