<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="918">
                  <span class="catalogo-item-label">918.</span> <span class="catalogo-bibl"><span class="catalogo-author">GALLUCCI Paolo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/918">Della fabbrica ed uso di un nuovo strumento fatto in quattro maniere per
      costruire gli orologi solari ad ogni latitudine</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1590</span>, in 4, piccolo fig.
      <div class="catalogo-note">Con le tavole in legno collocate fra il testo.</div>
      
      </span></section>