<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3560">
                     <span class="catalogo-item-label">3560.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3560">Per la VENERE italica scolpita da Antonio Canova <span class="catalogo-pb" id="page_165">165</span> versi d’autori toscani</a></span>, 
                        <span class="catalogo-pubPlace">Pisa</span> <span class="catalogo-date">1812</span>, in 4, M. 101.
<div class="catalogo-note">In assenza della Venere Medicea la Venere di Canova tenne il suo luogo nella Galleria di Firenze ed ora è
passata a formare il principale ornamento di scultura del Palazzo Pitti.</div>
</span></section>