<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1913">
                  <span class="catalogo-item-label">1913.</span> <span class="catalogo-bibl"><span class="catalogo-author">MACH Paulli</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1913">Emblemata</a></span>, <span class="catalogo-pubPlace">Bononiae</span> <span class="catalogo-date">1628</span>, in 4, fig.
    <div class="catalogo-note collapse">Sono 81 tavole d’emblemi con dichiarazioni in versi latini e italiani. Sono questi dedicati alla Madonna di S.
    Luca, la cui imagine si vede in principio.</div>
    
    </span></section>