<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1974">
                  <span class="catalogo-item-label">1974.</span> <span class="catalogo-bibl"><span class="catalogo-author">WARBURTON</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1974">Essai sur les hiéroglyphes des Egyptiens on l’on voit l’origine et les progrès du
    langage et de l’écriture, et l’antiquité des sciences en Egypte et l’origine du culte des
    animaux, traduit en français avec des observatìons etc.</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1744</span>, in 12, vol. 2, fig.
 <div class="catalogo-note">   Questo esemplare appartenne a M. d’Anse Villoison, che vi fece in principio preziose osservazioni in diverse
    pagine manoscritte. Debbono esservi 7 tavole intagliate in rame. Opera piuttosto rara a trovarsi.</div><div id="catalogo-note-text-1974" class="catalogo-note-search-results truncate-line-clamp">   Questo esemplare appartenne a M. d’Anse Villoison, che vi fece in principio preziose osservazioni in diverse
    pagine manoscritte. Debbono esservi 7 tavole intagliate in rame. Opera piuttosto rara a trovarsi.</div><a id="catalogo-note-text-toggle-1974" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>