<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="779">
                  <span class="catalogo-item-label">779.</span> <span class="catalogo-bibl"><span class="catalogo-author">RUOBÒ</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/779">Le filse Maître Ménuisier</a></span>, Traité de la construction de théatres et des machines
	théatrales, <span class="catalogo-date">1777</span> <span class="catalogo-pubPlace">Paris</span>, in fol. fig.
	<div class="catalogo-note">Opera ripiena di ottime idee, di critica e di erudizione con dieci tavole intagliate in rame.</div>
	</span></section>