<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2370">
                  <span class="catalogo-item-label">2370.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2370">SERIE degli uomini i più illustri nella pittura, scultura e architettura coi loro elogi e ritratti. </a></span>
    Volumi 12 legati in 6 tomi, <span class="catalogo-pubPlace">Firenze</span> dal <span class="catalogo-date">1769</span> al <span class="catalogo-date">1776</span>, in 4, fig.
 <div id="catalogo-note-text-2370" class="catalogo-note truncate-line-clamp">   Opera non così ricca di critica e di cognizioni come esser <span class="catalogo-pb" id="page_400">400</span> dovrebbe il complesso di queste notizie, coi
    ritratti degli artisti.
 </div><a id="catalogo-note-text-toggle-2370" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>   
    </span></section>