<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4047">
                     <span class="catalogo-item-label">4047.</span> <span class="catalogo-bibl"><span class="catalogo-author">MIRABELLAE Vincentii et Alagone</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4047">Iconographiae Siracusarum antiquarum explicatio etc.</a></span>, 
                        <span class="catalogo-pubPlace">Lugd. Bat.</span> <span class="catalogo-date">1723</span>, in fol., fig.
<div id="catalogo-note-text-4047" class="catalogo-note truncate-line-clamp">Edizione pregiata per le illustrazioni ed aggiunte dell’Havercampio con numerose tavole impresse fra il testo. La
prima edizione escì in italiano a Napoli nel 1613, rara a trovarsi.</div><a id="catalogo-note-text-toggle-4047" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>