<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1732">
                  <span class="catalogo-item-label">1732.</span> <span class="catalogo-bibl"><span class="catalogo-author">NICOLAI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1732">Recerches historiques sur l’usage des <span class="catalogo-pb" id="page_299">299</span> cheveux postiches, et des perruques
  dans les tems anciens, et modernes</a></span>, à <span class="catalogo-pubPlace">Paris</span>, en 8, traduit de l’allemand.
  <div class="catalogo-note">Con due grandi tavole il fine</div>.
  
  </span></section>