<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3003">
                     <span class="catalogo-item-label">3003.</span> <span class="catalogo-bibl"><span class="catalogo-author">SIMONE Gabrielli fiorentino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3003">Illustrazione degli epitaffj, et medaglie antique</a></span>, <span class="catalogo-pubPlace">Lione</span>, per Gio. di Tournes, <span class="catalogo-date">1558</span>, in
4 p., fig.
<div class="catalogo-note">Prezioso libretto per la quantità dei monumenti e medaglie intagliate in legno con grande eleganza. Dedicato ad
Alfonso d’Este col ritratto di fronte alla dedica. Il testo è di 174 p. e le tavole stampate ai luoghi in quello
indicati.</div>
</span></section>