<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2744">
                     <span class="catalogo-item-label">2744.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARTOLI Pietro Santi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2744">Collezione di gemme intagliate la più parte provenienti dal tesoro del duca Odescalchi</a></span>, in
numero di 53 tavole in fol. pic.
<div class="catalogo-note">Questa rara collezione è mancante del testo, poiché avendo il duca fatto intagliare in gran parte le gemme e i
monumenti del suo ricchissimo museo, che aveva intenzione di far continuare, rimase il tutto sospeso alla sua
morte seguita nel 1713 e immediatamente dopo quella, essendo cadute in mano d’un destro stampatore queste 53
tavole, ne furono furtivamente tirate alcune copie precedute da un bellissimo frontespizio, ove il ritratto del duca
in mezzo ai Geni delle virtù e delle scienze vedesi collocato, disegnato da Car. Maratti ed inciso da Gustavo
Ameling. Nel 1747 poi comparve in intiero con queste e tutte le altre stampe riunite il Museo Odescalchi.</div><div id="catalogo-note-text-2744" class="catalogo-note-search-results truncate-line-clamp">Questa rara collezione è mancante del testo, poiché avendo il duca fatto intagliare in gran parte le gemme e i
monumenti del suo ricchissimo museo, che aveva intenzione di far continuare, rimase il tutto sospeso alla sua
morte seguita nel 1713 e immediatamente dopo quella, essendo cadute in mano d’un destro stampatore queste 53
tavole, ne furono furtivamente tirate alcune copie precedute da un bellissimo frontespizio, ove il ritratto del duca
in mezzo ai Geni delle virtù e delle scienze vedesi collocato, disegnato da Car. Maratti ed inciso da Gustavo
Ameling. Nel 1747 poi comparve in intiero con queste e tutte le altre stampe riunite il Museo Odescalchi.</div><a id="catalogo-note-text-toggle-2744" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>