<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="512">
                  <span class="catalogo-item-label">512.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GALILEI Galileo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/512">Le operazioni del compasso geometrico e Militare. Dedicato al Seren.
	Principe di Toscana D. Cosano de’ Medici,</a></span> 
                     <span class="catalogo-pubPlace">Padova</span> 
                     <span class="catalogo-date">1606,</span> 
                     <span class="catalogo-extent">in fog. p. fig.</span>
                  </span>
	                 <div class="catalogo-note">Edizione stampata in numero di soli 60 esemplari. Le ragioni della quale scarsezza di copie l’autore fa conoscere
	in un avviso ai discreti lettori.</div>
	
	              </section>