<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4136">
                     <span class="catalogo-item-label">4136.</span> <span class="catalogo-bibl"><span class="catalogo-author">COCHIN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4136">Voyage d’Italie, ou récueil des notes sur les ouvrages de peinture, sculpture etc.</a></span>, 
                        <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1769</span>, in 8, 3 vol.
<div class="catalogo-note collapse">Opera piena di errori non solo di gusto, ma anche di fatto, e madornali ec.</div>
</span></section>