<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="85">
                  <span class="catalogo-item-label">85.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BOERNEI (Gio. Theoph )</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/85"> Super privilegiis pictorum liber singularis,</a></span>
                     <span class="catalogo-pubPlace"> Lipsiae </span>
                     <span class="catalogo-date">1751,</span>
                     <span class="catalogo-extent"> in 8, M. 70.</span>
                  </span>
	                 <div id="catalogo-note-text-85" class="catalogo-note truncate-line-clamp">Questo è un eruditissimo libro, e ben fatto, in cui percorrendo la greca e la romana antichità, sono addotte le <span class="catalogo-pb" id="page_14">14</span> prove di fatto intorno alla venerazione di cui erano onorate le arti per la providenza delle leggi, e i decreti de’
	  re.</div><a id="catalogo-note-text-toggle-85" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>