<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="668">
                  <span class="catalogo-item-label">668.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SERLIO</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/668">Libro primo d’architettura ove trattasi dei principi di geometria,</a></span> 
                     <span class="catalogo-pubPlace">Venezia,</span> 
                     presso
	Francesco Senese e Zuanne Krugher alemanno, 
                     <span class="catalogo-date">1566,</span> 
                     <span class="catalogo-extent">in 4, fig.</span>
                  </span> 
                   
	— Il libro secondo di Prospettiva.
	— II terzo libro delle antichità romane ed altre che sono in Italia e fuori d’Italia con nuove
	addizioni.
	<span class="catalogo-pb" id="page_122">122</span> — Il quarto libro. Regole generali d’architettura sopra le cinque maniere degli edifici.
	— Il quinto libro de’ templi.
	— Libro estraordinario ove si dimostrano trenta porte d’opera rustica e 20 d’opera delicata.
	Qui al basso del frontespizio è ripetuta la stessa data e il nome degli editori; ma quantunque questo sesto libro sia
	legato assieme agli altri cinque, ha una enumerazione di pagine separata, ed è impresso in caratteri corsivi molto
	più grandi. Le tavole in legno di questa edizione sono intagliate pulitamente da Zuanne Krugher.
	
	— Il settimo libro, nei quale si tratta di molti nobili edifici tanto pubblici che privati ec., in
	Venezia, presso gli eredi di Francesco de’ Franceschi, 1600, in 4, fig.
	Comparve questo settimo libro alla luce separatamente nel 1584 dedicato a Vincenzo Scamozzi mentre li sei
	primi furono intitolati al Barbaro: molti esemplari, come questo nostro, quantunque siano di prima edizione,
	hanno questo frontespizio colla data posta dagli eredi, spara che sia da loro ristampato. È raro il trovare le opere
	del Serlio in 4, complete di prima edizione.
	
	</section>