<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="828">
                  <span class="catalogo-item-label">828.</span> <span class="catalogo-bibl"><span class="catalogo-author">CHAMBERS’</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/828">Jesuits’ practice of perspective</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1726</span>, in 4, f.
	<div class="catalogo-note collapse">Opera copiosissima di tavole, traduzione dal francese da Roberto Pricke.</div>
	
	</span></section>