<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3417">
                    <span class="catalogo-item-label">3417.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3417">MUSEUM Florentinum exhibens insigniora vetustatis monumenta quae Florentiae sunt Jo. Gastoni Etruriae Magno
		    Duci dedicatum</a></span>, <span class="catalogo-pubPlace">Florentiae</span> <span class="catalogo-date">1731</span>, fig., vol. 10.</span>

		    Il nostro esemplare è distribuito come segue:
		    
		      — <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3417">Gemmae antiquae ex thesauro mediceo et privatorum Dactyliothecis Florentiae exhibens tab. 200 etc. cum
		      observationibus Fr. Gori, vol. 2</a></span>, <span class="catalogo-date">1732</span>.</span>
		      
		      — <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3417">Statuae antiquae Deorum, et virorum illustrium centum aeneis tab. incisae cum observationibus Fr. Gori</a></span>,
		      <span class="catalogo-date">1734</span> vol. l.</span>
		      
		      — <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3417">Antiqua numismata praestantiora maximi moduli cum observationibus Fr. Gori, vol. 3</a></span> f., <span class="catalogo-date">1740</span>.
		      <div class="catalogo-note">Il volume delle tavole ne contiene 115</div>.</span>
		      
		      — <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3417">Serie di ritratti degli eccellenti pitturi dipinti di propria mano che esistono nella Galleria di Firenze colle vite
		      in compendio descritte da Fr. Moücke</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1754</span>, vol. 4.</span>
		      
		    

		    <div class="catalogo-note">Tutti i bibliografi hanno scritto sul merito di questa grand’opera ed in ispecie sopra i sei primi volumi colle
preziose illustrazioni del Gori. La collezione dei ritratti in numero di 220 è eseguita quanto meglio il potevasi in
opera sì vasta e può ritenersi fra le migliori. Furono stampati dal Pazzi in Firenze altri due volumi di ritratti,
senza testo, che servono a completamento ulteriore di quest’opera.</div>
</section>