<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1749">
                  <span class="catalogo-item-label">1749.</span> <span class="catalogo-bibl"><span class="catalogo-author">PATERNÒ Castello Ignazio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1749">Ragionamento a Madama N. N. sopra gli antichi ornamenti e
  trastulli dei bambini</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1781</span>, in 4, fig.
  <div class="catalogo-note collapse">Con 9 tavole dalle quali può provarsi un po’ troppo l’assunto.</div>
  
  </span></section>