<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2115">
                  <span class="catalogo-item-label">2115.</span> <span class="catalogo-bibl"><span class="catalogo-author">TESTELIN L.</span> et Leonis Ferdinand, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2115">Raccolta di fregi formali da’ genietti intrecciati con festoni
  e ghirlande</a></span>. Intagliati da L. Ferdinand sui disegni di Testelin ed altri pubblicati da <span class="catalogo-pubPlace">Mariette</span>.
  <span class="catalogo-bibl">Aggiuntivi alcuni disegnati ed incisi da Giulio Carpioni pubblicati in <span class="catalogo-pubPlace">Padova</span> da Mattia
  Cadorin detto Bolzetta. In tutto 19 stampe con vario gusto e bella maniera eseguite.</span>
  </span></section>