<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2678">
                     <span class="catalogo-item-label">2678.</span> <span class="catalogo-bibl"><span class="catalogo-author">LEGRAND J. G.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2678">Monumens de la Grece, ou colléction des chefs d’oeuvres d’architecture, de sculpture et de
peinture antiques</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1808</span>, in fol., fig., tome I.
<div class="catalogo-note">Non comparve finora che questo volume in contorni, che può dirsi un plagio delle opere precedenti e fatto per
speculazione libraria più che per altro oggetto: con 93 tavole. Chi non possiede le grandi opere d’antichità, trova
però in questo alcuni sussidj d’erudizione.</div><div id="catalogo-note-text-2678" class="catalogo-note-search-results truncate-line-clamp">Non comparve finora che questo volume in contorni, che può dirsi un plagio delle opere precedenti e fatto per
speculazione libraria più che per altro oggetto: con 93 tavole. Chi non possiede le grandi opere d’antichità, trova
però in questo alcuni sussidj d’erudizione.</div><a id="catalogo-note-text-toggle-2678" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>