<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1708">
                  <span class="catalogo-item-label">1708.</span> <span class="catalogo-bibl"><span class="catalogo-author">MEIBOMII Marci</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1708">De fabrica triremium</a></span>, <span class="catalogo-pubPlace">Amsterdami</span> <span class="catalogo-date">1671</span>, in 4, fig.
  <div class="catalogo-note collapse">Prezioso libro con una gran tavola in principio. E singolare come, scorrendo l’opera del sig le roi sulla marina
  degli antichi popoli, non si parli in quella mai di questo autore che d’un secolo lo aveva preceduto.</div>
  
  </span></section>