<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2906">
                     <span class="catalogo-item-label">2906.</span> <span class="catalogo-bibl"><span class="catalogo-author">LEONARDI Camilli</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2906"> Speculum lapidum et d. Petri Arlensis de Scudalupis sympathia septem metallorum ac septem
selectorum lapidum ad planetas</a></span>. Accedit Constantini Albinii Villanovensis, <span class="catalogo-pubPlace">Hamburgi</span> <span class="catalogo-date">1717</span>, in 12.
<div class="catalogo-note">Col ritratto di Pietro Arlense in principio. Sono in questo libro riunite tutte le cognizioni e superstizioni
conosciute in questa materia.</div><div id="catalogo-note-text-2906" class="catalogo-note-search-results truncate-line-clamp">Col ritratto di Pietro Arlense in principio. Sono in questo libro riunite tutte le cognizioni e superstizioni
conosciute in questa materia.</div><a id="catalogo-note-text-toggle-2906" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
<span class="catalogo-pb" id="page_68">68</span>
                  </span></section>