<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1472">
                  <span class="catalogo-item-label">1472.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1472">RELATION de la feste de Versailles, du 18 Juillet 1668</a></span>, <span class="catalogo-pubPlace">Paris</span>, de l’Imprimerie Royale, <span class="catalogo-date">1679</span>, in
    fol. fig.
    <div id="catalogo-note-text-1472" class="catalogo-note truncate-line-clamp">Esemplare di dedica che appartenne a Carlo di Lorena: sonovi tavole 21 intagliate da le Pà tre e da Silvestri
    molto gusto.</div><a id="catalogo-note-text-toggle-1472" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCLXXX
    
    </span></section>