<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1455">
                  <span class="catalogo-item-label">1455.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1455">SOLEMNIA electionis et inaugurationis Leopoldi Rom. Imp. Aug. Cum tabulis et fig. cupro
    incisis etc.</a></span>, <span class="catalogo-pubPlace">Francf.</span> <span class="catalogo-date">1660</span>, in fol.
    <div class="catalogo-note">Questo libro contiene esattissime descrizioni delle pompose carte diligentissime per la topografia dei luoghi. Le
    tavole sono in numero di 24, la più parte di doppia grandezza del foglio e presso ché tutte intagliate da Gaspero
    Merian. Cominciano le tavole coll’aquila imperiale e sette ritratti, indi seguono quelle degli spettacoli.</div><div id="catalogo-note-text-1455" class="catalogo-note-search-results truncate-line-clamp">Questo libro contiene esattissime descrizioni delle pompose carte diligentissime per la topografia dei luoghi. Le
    tavole sono in numero di 24, la più parte di doppia grandezza del foglio e presso ché tutte intagliate da Gaspero
    Merian. Cominciano le tavole coll’aquila imperiale e sette ritratti, indi seguono quelle degli spettacoli.</div><a id="catalogo-note-text-toggle-1455" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCLXI
    
    </span></section>