<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1321">
                  <span class="catalogo-item-label">1321.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIORDANI Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1321">Discorso letto nella pubblica funzione tenutasi per la distribuzione de’

                  
                  
    
    premi nell’Accademia di Belle Arti in Bologna l’anno <span class="catalogo-date">1806</span></a></span>, in 8.
    </span></section>