<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3789">
                     <span class="catalogo-item-label">3789.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAZZOCCHI Jacobi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3789">Epigrammata antiquae urbis Romae</a></span>, <span class="catalogo-pubPlace">Romae</span>, in aedibus auctoris, <span class="catalogo-date">1521</span>, f. p., fig.
<div class="catalogo-note">Con note marginali manoscritte di ottimo autore, il quale le trasse dal tomo V degli atti della Società latina di Iena
comentando questo esemplare, che oltre l’essere per se stesso pregiatissimo, in tal modo divenne prezioso. Le
lapidi, e i monumenti sono intagliati in legno e inseriti fra il testo.</div>
<span class="catalogo-pb" id="page_201">201</span>
                  </span></section>