<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1904">
                  <span class="catalogo-item-label">1904.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1904">HADRIANI Junii Med. Embl.</a></span>, <span class="catalogo-pubPlace">Ant.</span> <span class="catalogo-date">1565</span>, in 8.
    <div class="catalogo-note collapse">La prima parte di questi emblemi in 58 tavole contiene bellissime incisioni in legno, la quale è seguita da una
    seconda contenente gli enigmi. Le spiegazioni sono legate separatamente dalle tavole.</div>
    
    </span></section>