<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4560">
                        <span class="catalogo-item-label">4560.</span> <span class="catalogo-bibl"><span class="catalogo-author">GOESIN Verhaerge</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4560">Catalogue d’une colléction de <span class="catalogo-pb" id="page_306">306</span> tableaux du cabinet de M. Van Stemberghen, Gand.
                           an. X de la Rep.</a></span>, in 8, <span class="catalogo-date">1801</span>.
</span></section>