<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="493">
                  <span class="catalogo-item-label">493.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">DUPUIS</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/493">Nouveau traité d’architecture, comprenant les cinq ordres des anciens avec un sexieme
	ordre, qui on nomine ordre français,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1768,</span>
                     <span class="catalogo-extent"> en 4, fig.</span>
                     <div id="catalogo-note-text-493" class="catalogo-note truncate-line-clamp">Se fosse altrettanto purgato lo stile dell’architetto, come è <span class="catalogo-pb" id="page_88">88</span>ritido il bulino con cui sono intagliate le 62
	tavole di quest’opera sarebbe da ritenersi in maggior pregio. In fine sono 13 tabelle di proporzioni.</div><a id="catalogo-note-text-toggle-493" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>