<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1224">
                  <span class="catalogo-item-label">1224.</span> <span class="catalogo-bibl"><span class="catalogo-author">VISCONTI Ennio Quirino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1224">Lettera su d’un’antica argenteria nuovamente scoperta in Roma</a></span>,
    <span class="catalogo-date">1793</span>, in 4, M. 28.
    <div class="catalogo-note">Questa è l’argenteria che passò in potere del famoso Sig. Barone di Shellerseim ec. ec.</div>
    
    </span></section>