<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="316">
                  <span class="catalogo-item-label">316.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">COUSIN Maître Jean</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/316">L’arte de dessiner, revu, corrigé et augmenté de plusieurs morceaux
	d’après l’antique ec,</a></span>
                     <span class="catalogo-pubPlace"> à Paris,</span> 
                     chez Fr. Chereau, 
                     <span class="catalogo-date">1778,</span> 
                     <span class="catalogo-extent">in 4 obl.</span>
	                    <div class="catalogo-note collapse">In quest’edizione furono copiate le tavole della prima edizione originale; sono pagine 72 ed al dorso d’ogni
	tavola sta l’illustrazione. L’ultima riferisce un ritratto della vita di F. Cousin. Le tavole sono in legno e
	quantunque non sian in dimensione utile abbastanza per la gioventù che comincia a disegnare, sono ripiene di
	ottime nozioni per la prospettiva, lo scorcio, le proporzioni e l’anatomia anche applicata alle statue antiche. Si
	conosce da questo libretto come questo fosse un uomo grandissimo.</div>
	                 </span>
	                 <span class="catalogo-pb" id="page_55">55</span>
	              </section>