<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3627">
                     <span class="catalogo-item-label">3627.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOLDETTI Marc’Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3627">Osservazioni sopra i cimiterj de’ Santi Martiri, ed antichi cristiani</a></span>, 
                        <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1702</span>, in fol.,
fig., vol. 2.
<div class="catalogo-note">Opera piena di cognizioni erudite; nel I volume stanno molte tavole con monumenti, e nel secondo copiosissime
iscrizioni illustrate.</div>
</span></section>