<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1156">
                  <span class="catalogo-item-label">1156.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1156">EXPLICATION de quatre tableaux di Titien d’après les chants du Petrarque</a></span>, nommement le
    Triomphe du Tems, de la Renommée, du Christianisme, et de la Mort, dans une lettre à un
    ami, <span class="catalogo-pubPlace">Naples</span> <span class="catalogo-date">1774</span>, in 4, M 15.
    <div class="catalogo-note">Esemplare ricorretto a penna dell’autore.</div>
    
    </span></section>