<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1279">
                  <span class="catalogo-item-label">1279.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1279">RELAZIONE della pittura fatta nell’abside della cattedrale di Osimo dal Sig. Abate Giovan
    Andrea Lazzarini</a></span>, <span class="catalogo-pubPlace">Osimo</span> <span class="catalogo-date">1768</span>, in 4.
    <span class="catalogo-pb" id="page_223">223</span>
               </span></section>