<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4737">
                     <span class="catalogo-item-label">4737.</span> <span class="catalogo-bibl"><span class="catalogo-author">PERNETTY Antoine Joseph</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4737">Les fables egyptiennes, et grécques dévoilées et reduites au même principe avec une
explication des hieroglyphes, et de la guerre de Troye</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1658</span>, in 8, vol. 2.
</span></section>