<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2624">
                     <span class="catalogo-item-label">2624.</span> <span class="catalogo-bibl"><span class="catalogo-author">RICCOBALDI del Bava Giuseppe Maria</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2624">Dissertazione istorico-etrusca sopra 1’etrusca nazione e sopra la città di
Volterra</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1758</span>, in 4.
</span></section>