<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1375">
                  <span class="catalogo-item-label">1375.</span> <span class="catalogo-bibl"><span class="catalogo-author">BALDINI Baccio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1375">Discorso sopra la mascherata della genealogia degl’iddei de’ gentili mandata
    fuori dall’Eccell. e Illustrissimo Duca di Firenze, e di Siena il giorno 22 Febbraio 1565</a></span>,
    <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1565</span>, presso i Giunti, in 8.
    <div class="catalogo-note collapse">Questa è una delle meglio estese, e ordinate descrizioni d! spettacoli ricchi e grandiosi: libro raro e prezioso dal
    Poggiali attribuito a Buccio Baldini sull’asserzione di Paolo Mini scrittore contemporaneo e degno di fede.</div>
    MDXVI
    
    </span></section>