<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="147">
                  <span class="catalogo-item-label">147.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">JUNII Francisci</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/147"> De pictura veterum lib. 3,</a></span> 
                     <span class="catalogo-pubPlace">Amstelodami</span> 
                     <span class="catalogo-date">1637,</span> 
                     <span class="catalogo-extent">in 8.</span>
	                    <div id="catalogo-note-text-147" class="catalogo-note truncate-line-clamp"> In questa prima edizione non sono gli elenchi ragionati degli artefici antichi, come trovansi nell’edizione in
	  foglio.</div><a id="catalogo-note-text-toggle-147" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>	  
	              </section>