<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4562">
                        <span class="catalogo-item-label">4562.</span> <span class="catalogo-bibl"><span class="catalogo-author">PAILLET et de la Roche</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4562">Catalogue d’une riche colléction de tableaux, desseins, stampes, vases, bronzes, etc. du
                           Cabinet de M. Claude Tolozan</a></span>, <span class="catalogo-pubPlace">Paris</span><span class="catalogo-date"> 1801</span>, in 8.
</span></section>