<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4184">
                        <span class="catalogo-item-label">4184.</span> <span class="catalogo-bibl"><span class="catalogo-author">AVEROLDO Giulio Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4184">Le scelte pitture di Brescia</a></span>, <span class="catalogo-date">1700</span>, in 4, fig.
<div class="catalogo-note collapse">La singolarità di questo libro di oltre 300 pagine, veramente bizzarro, è di essere interamente stato scritto dal prin
   <span class="catalogo-pb" id="page_268">268</span> cipio alla fine senza mai far uso della parola che. Ciò notato è però anche eccellente per le notizie</div>.
</span></section>