<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1923">
                  <span class="catalogo-item-label">1923.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1923">MICROCOSMOS, Parvus Mundus</a></span>, <span class="catalogo-pubPlace">Arnhemii</span>, apud Jansonium, sine anno, in 4, fig. Comincia il
    libro con <span class="catalogo-bibl">una lettera così intitolata <span class="catalogo-title"><a class="catalog-link" href="/catalog/1923">Politioris litteraturae studiosis et picturae elegantioribus
    amatoribus salutem plurimam Iberus Cunradi; osoris centra Nemesin.</a></span></span>
    <div class="catalogo-note">Sono 74 tavole assai ben intagliale d’emblemi morali con motti e sentenze in versi stampate a tergo di ciascuna.
    Il frontespizio non è compreso in questo numero.</div><div id="catalogo-note-text-1923" class="catalogo-note-search-results truncate-line-clamp">Sono 74 tavole assai ben intagliale d’emblemi morali con motti e sentenze in versi stampate a tergo di ciascuna.
    Il frontespizio non è compreso in questo numero.</div><a id="catalogo-note-text-toggle-1923" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>