<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4239">
                        <span class="catalogo-item-label">4239.</span> <span class="catalogo-bibl"><span class="catalogo-author">FRIGERIO Pietro Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4239">Distinto ragguaglio dell’ottava meraviglia del mondo, ossia della gran metropolitana
dell’Insubria detta volgarmente il Duomo di Milano</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1739</span>, in 8, fig.
<div class="catalogo-note">Quantunque annunziato con questo titolo ampolloso all’uso dell’Escuriale di Spagna, il libro è ben fatto, e ricco
di notizie, con una pianta generale.</div>
</span></section>