<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2462">
                  <span class="catalogo-item-label">2462.</span> <span class="catalogo-bibl"><span class="catalogo-author">RAIMONDO Annibale</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2462">Opera dell’antica et honorata scientia di Nomandia</a></span>, <span class="catalogo-pubPlace">Anversa</span> <span class="catalogo-date">1677</span>, in
    ottavo.
    <div class="catalogo-note">Libro pieno di sole sciocchezze astrologiche.</div>
    
    </span></section>