<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1442">
                  <span class="catalogo-item-label">1442.</span> <span class="catalogo-bibl"><span class="catalogo-author">GEVARTII C.</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/1442">Pompa introitus honori Serenissimi Principis Ferdinandi Austriaci Hispan.
    Infantis S. R. E. Card. Belgarum et Burgundionum Gubernatoris etc.</a></span> A S. P. Q., Antuerp.
    decreta et ornata, <span class="catalogo-pubPlace">Antuerpiae</span> <span class="catalogo-date">1635</span>.
    <div class="catalogo-note collapse">Intitolato a Ferdinando da C. Gevarsio. Teodoro Van Tulden intagliò tutte le magnifiche tavole delle invenzioni e
    disegni di Rubens in numero di 45 gran tavole compresoli piano d’Anversa, il frontespizio e il ritratto, libro di
    grande magnificenza.</div>
    MDCXXXVII
    
    </span></section>