<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1214">
                  <span class="catalogo-item-label">1214.</span> <span class="catalogo-bibl"><span class="catalogo-author">ToLOMEI Claudio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1214">Lettere, ove di cose architettoniche e vitruviane si tratta</a></span>, <span class="catalogo-pubPlace">Venezia</span>, Giolito
    <span class="catalogo-date">1547</span>, in 4.
    <div class="catalogo-note">Queste entrano nella serie delle opere vitruviane: così postevi anche dal Poleni. Vedasi fra le altre alla pag. 81 la
    lettera al Conte Agostino de’ Landi.</div><div id="catalogo-note-text-1214" class="catalogo-note-search-results truncate-line-clamp">Queste entrano nella serie delle opere vitruviane: così postevi anche dal Poleni. Vedasi fra le altre alla pag. 81 la
    lettera al Conte Agostino de’ Landi.</div><a id="catalogo-note-text-toggle-1214" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>