<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4600">
                     <span class="catalogo-item-label">4600.</span> <span class="catalogo-bibl"><span class="catalogo-author">EISEMBERG</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4600">Déscription du manége moderne dans la perféction, gravée par Bernard Picard</a></span>, a la <span class="catalogo-pubPlace">Haye</span>, <span class="catalogo-date">1737</span>, <div class="catalogo-note">in
fol. oblong., chez Pierre de Hondt. Tavole 55 rappresentanti cavalli, e 4 tavole comprendono diversi morsi: sono
60 tavole compresovi il frontespizio.
Edizione in bel disegno, ed intaglio, quantunque l’altra comparsa dieci anni avanti possa ritenersi in qualche
maggior pregio per la freschezza delle tavole</div>.
</span></section>