<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3410">
                     <span class="catalogo-item-label">3410.</span> <span class="catalogo-bibl"><span class="catalogo-author">MECHEL Chrétien</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3410">Catalogue des tableaux de la Galérie Impériale et Royale de Vienne</a></span>, à <span class="catalogo-pubPlace">Basle</span>, chez l’auteur,
<span class="catalogo-date">1784</span>, in 8.
<div id="catalogo-note-text-3410" class="catalogo-note truncate-line-clamp">Sonovi in fine le piante e i prospetti dell’edificio. Il catalogo è fatto da un uomo che aveva gusto, ma ha voluto
arricchirlo di troppe superfluità, tutto lodando, quasi che il numero fosse un pregio da preferirsi alla scelta.
MITELLI Giuseppe Maria. Vedi Caracci nelle Collezioni figurate.
MOLINARI Stefano. Vedi Scola italicae picturae cui va unito.</div><a id="catalogo-note-text-toggle-3410" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>