<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2787">
                     <span class="catalogo-item-label">2787.</span> <span class="catalogo-bibl"><span class="catalogo-author">Brocchieri Pier Maria</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2787">Osservazioni sopra alcune monete consolari</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1762</span>, in 4, fig., M. 20.
<div class="catalogo-note collapse">In fine è una tavola con 28 monete intagliate.</div>
</span></section>