<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2329">
                  <span class="catalogo-item-label">2329.</span> <span class="catalogo-bibl"><span class="catalogo-author">MORENI Canonico Domenico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2329">Vita di Filippo di ser Brunellesco architetto fiorentino scritta
    da Filippo Baldinucci</a></span>, con altra in fine di anonimo contemporaneo scrittore, amendue per la
    prima volta pubblicate ed illustrate dal Can. Moreni, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1812</span>, in 8.
    <div class="catalogo-note">Sta unita all’altr’opera: Memoria intorno al risorgimento delle arti in Toscana.
    Questo dotto e zelante cultore delle memorie stanche della sua patria, è particolarmente benemerito alle arti.</div><div id="catalogo-note-text-2329" class="catalogo-note-search-results truncate-line-clamp">Sta unita all’altr’opera: Memoria intorno al risorgimento delle arti in Toscana.
    Questo dotto e zelante cultore delle memorie stanche della sua patria, è particolarmente benemerito alle arti.</div><a id="catalogo-note-text-toggle-2329" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>