<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="332">
                  <span class="catalogo-item-label">332.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">LOMAZZO Jean Pol</span> peintre milanois, <span class="catalogo-title"><a class="catalog-link" href="/catalog/332">Traicté de la poportion naturelle et artificielle des choses,
	trauduit d’italien en françois par Ilaire Pader tolosain peintre du prince Maurice de Savoie,</a></span> 
                     <span class="catalogo-pubPlace">à
	Tolouse</span> 
                     par Arnoud, Coloniae 1649, <span class="catalogo-extent">in fol. fig.</span>
                  </span> 
                  
	                 <div class="catalogo-note">Non riescì mai il Bossi pittore di trovare questo libro in alcuna pubblica o privata libreria. Deve porsi tra’ libri
	assai rari e presenta tutte le tavole intorno le proporzioni, secondo il sistema del Lomazzo, le quali disegnate
	disegnate ed incise dal traduttore si desiderarono inutilmente nell’opera originale: sono queste in numero di 47 e
	di buonissima esecuzione. Rettificò il traduttore alcuni errori corsi nell’edizione dell’originale, non solo nella
	distribuzione dei capitoli ma anche nei numeri delle proporzioni. Infatti nell’originale s’incontrano due capi V e
	due capi XXVII, il che realmente fa scendere il primo libro a 32 capitoli e non a 30 come indica l’edizione
	italiana. Non venne qui tradotto, o almen pubblicato altro che il primo dei sette che compongono il trattato
	originale. Una dedica del traduttore al P. Maurizio, un discorso sovra il soggetto della traduzione, un
	avvertimento sul trattato delle proporzioni e gli errori scorsi nell’edizione italiana, alcune poesie in lode degli
	autori e la vita di Paolo Lomazzo precedono l’opera seguita dalle tavole degli autori citati e delle materie.
	L’essersi in questa traduzione ridotte a pratica le proporzioni elementari mediante le tavole ci ha fatto collocare
	questo libro in questo luogo.</div>
	
	              </section>