<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3772">
                    <span class="catalogo-item-label">3772.</span>
		    <span class="catalogo-bibl"><span class="catalogo-author">MANILLI Jacomo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3772">Villa Borghese fuori di porta Pinciana descritta</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1650</span>, in 8.</span>
		     <div class="catalogo-note collapse">Questo Manilli era il Guardaroba del palazzo, e s’avvisò di scrivere questa descrizione piuttosto poeticamente.</div>
		  </section>