<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4757">
                     <span class="catalogo-item-label">4757.</span> <span class="catalogo-bibl"><span class="catalogo-author">VETTORI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4757">Del culto di Cibele, dissertazione ove s’illustra una statuetta del suo museo</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1753</span>, fig.,
in 4, M. 19.
<div class="catalogo-note">Con una tavola grande intagliata in rame. Dissertazione dottissima.</div>
</span></section>