<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1849">
                  <span class="catalogo-item-label">1849.</span> <span class="catalogo-bibl"><span class="catalogo-author">BIVERII Petri</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1849">Sacrura Oratorium piarum imaginum Immaculatae Mariae et animae creatae,
                     ars nova bene vivendi et moriendi</a></span>, <span class="catalogo-pubPlace">Antuerpiae</span>, ex officina Plantiniana, <span class="catalogo-date">1634</span>, in 4, fig.
    <div class="catalogo-note">Opera divisa in 3 parti di presso che 500 pagine con 42 tavole allegoriche istoriate e quindici di emblemi in
    un’appendice, oltre il frontespizio figurato. Le incisioni sono della maniera di Teod. Galle e molto nitide di
    esecuzione. Mar. dor., esemplare della Bibl. Malborough.</div>
    
    </span></section>