<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1051">
                  <span class="catalogo-item-label">1051.</span> <span class="catalogo-bibl"><span class="catalogo-author">CROUSAZ</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1051">Traité du Beau où l’on montre en quoi consiste ce que l’on nomme ainsi, par des
      exemples, tirés la plus part des arts et des sciences</a></span>, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1724</span>, 2 vol., in 12.
      </span></section>