<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4361">
                        <span class="catalogo-item-label">4361.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4361">DESCRIZIONE di tutte le pitture pubbliche di Venezia, ossia rinnovazione delle Ricche miniere del Boschini</a></span>,
<span class="catalogo-pubPlace">Venezia</span>, presso Pietro Bassaglia, <span class="catalogo-date">1733</span>, in 8.
<div class="catalogo-note">Libro assai ben fatto, e una delle migliori guide di Venezia, con molte buone notizie intorno gli artisti, ed è una
stessa cosa che le Miniere del Boschini ampliate.</div>
</span></section>