<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1259">
                  <span class="catalogo-item-label">1259.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1259">ESTRATTO e Giudizio del Giornale Pisano dell’opera in titolata Fastorum anni Romani a
    Valerio Flacco ordinatorum reliquiae</a></span>, <span class="catalogo-pubPlace">Pisa</span> <span class="catalogo-date">1781</span>, in 8, M. 67.
    — Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1259">altri estratti e giudizi intorno le due opere dell’Ab. Gaetano Marini, l’una
    degli Archia <span class="catalogo-pb" id="page_220">220</span>tri Pontificii, l’altra delle iscrizioni delle ville e palazzi Albani</a></span>, M. 67.
    </span></section>