<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1208">
                  <span class="catalogo-item-label">1208.</span> <span class="catalogo-bibl"><span class="catalogo-author">SAVARY</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1208">Lettres sur la Grece faisant suite de celles sur l’Egypte</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1788</span>, in 8.
    <div class="catalogo-note collapse">Con una tavola del Laberinto di Gnosso e una carta topografica. Le cognizioni sparse in questi quattro volumi
    sono raccolte da buone fonti e nudrite di buona critica.</div>
    
    </span></section>