<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4171">
                        <span class="catalogo-item-label">4171.</span> <span class="catalogo-bibl"><span class="catalogo-author">GATTI Giacomo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4171">Descrizione delle più rare cose di Bologna, e suoi subborghi in pitture, sculture, e architetture</a></span>,
<span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1803</span>, in 8.
<div class="catalogo-note">In questa riproduzione delle antiche guide nulla si è migliorato, né per critica, né per scoperte, né per edizione, e
forma d’esposizione.</div>
</span></section>