<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1552">
                  <span class="catalogo-item-label">1552.</span> <span class="catalogo-bibl"><span class="catalogo-author">AGRIPPA Cammillo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1552">Nuove invenzioni sopra il modo di navigare</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1595</span>, in 4, fig.
    <div class="catalogo-note">Nel principio è una tav. grande intagliata da Cornelio Cort col fatto di S. Pietro e di Cristo, colla navicella. Segue
    la dedica al Card. Borromeo, poi viene un’altra tavola grande, allegorica a tutte le scienze: dopo la quale è un
    altro foglio più grande con Astrolabio e quadrante: indi il ritratto dell’autore e il testo che contiene 55 pagine, in
    fine è la tavola delle cose più notabili.</div><div id="catalogo-note-text-1552" class="catalogo-note-search-results truncate-line-clamp">Nel principio è una tav. grande intagliata da Cornelio Cort col fatto di S. Pietro e di Cristo, colla navicella. Segue
    la dedica al Card. Borromeo, poi viene un’altra tavola grande, allegorica a tutte le scienze: dopo la quale è un
    altro foglio più grande con Astrolabio e quadrante: indi il ritratto dell’autore e il testo che contiene 55 pagine, in
    fine è la tavola delle cose più notabili.</div><a id="catalogo-note-text-toggle-1552" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>