<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1706">
                  <span class="catalogo-item-label">1706.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAVELOT C.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1706">Chiffres</a></span>. Nouveau livre par alphabet à simples traits, où se trouvent tous les
  noms et surnoms, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1684</span>, in 8.
  </span></section>