<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="162">
                  <span class="catalogo-item-label">162.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">LOMAZZO Giovanni Paolo</span> milanese pittore, <span class="catalogo-title"><a class="catalog-link" href="/catalog/162">Idea del tempio della pittura, nella quale egli
	  discorre dell’origine e fondamento delle cose contenute nel suo trattato dell’arte della pittura,</a></span>
	  in <span class="catalogo-pubPlace">Milano</span>, per Gottardo Ponto; in fine per Gottardo Pontio, <span class="catalogo-date">1590</span>.</span>
	              </section>