<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1976">
                  <span class="catalogo-item-label">1976.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZINGREPH</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1976">Emblematum</a></span>, <span class="catalogo-date">1619</span> senza luogo.
    <div class="catalogo-note">Non è comune a trovarsi questa centuria intagliata da Mat. Merian e pubblicata nella calcografia di de Bry con
    illustrazioni francesi e latine.
    </div>
    </span></section>