<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1374">
                  <span class="catalogo-item-label">1374.</span> <span class="catalogo-bibl"><span class="catalogo-author">MORETTO da Lucca</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1374">La superba, ricca, pomposa, et magnifica creazione, che ha fatto
    l’Illustrissimo et Eccell. Duca di Ferrara</a></span>. Festa descritta dal Moretto da Lucca alla Sig. D.
    Lucrezia Estense Medici Duchessa di Ferrara, <span class="catalogo-pubPlace">Ferrara</span> <span class="catalogo-date">1559</span>, in 8.
    <div id="catalogo-note-text-1374" class="catalogo-note truncate-line-clamp">Le descrizioni di questa festa sono un curioso misto di narrative e di poeti.</div><a id="catalogo-note-text-toggle-1374" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDLXV
    
    </span></section>