<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4110">
                     <span class="catalogo-item-label">4110.</span> <span class="catalogo-bibl"><span class="catalogo-author">VICTOR (Saint)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4110">Tableau historique, et pittoresque de Paris depuis le Gaulois jusqu’à nos jours</a></span>, 
                        <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1708 à 1711</span>,
3 vol., en 4 gr., fig.
<div class="catalogo-note collapse">Opera riccamente eseguita, ove sono belle ed utili nozioni, e numerosissime tavole di un esatto lavoro, la cui
immensità tolse il poter forse impiegarvi artefici più ragguardevoli. Nel frontespizio è taciuto il nome dell’autore,
e apparisce libro anonimo.</div>

                     
                     
                  </span></section>