<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="975">
                  <span class="catalogo-item-label">975.</span> <span class="catalogo-bibl"><span class="catalogo-author">ARCADIA Pletorica en sueno</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/975">alegoria o poema prosaico sobre la teorica y practica de la pintura
      escrita por Parrasio Tebano Pastor Arcade de Roma</a></span>, <span class="catalogo-pubPlace">Madrid</span> <span class="catalogo-date">1789</span>, in 8.
      <div class="catalogo-note">Sotto questo nome arcadico si riconosce D. Francesco Preciado che estese questo sogno pieno di avvertimenti e
      dottrine.</div>
      
      </span></section>