<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="343">
                  <span class="catalogo-item-label">343.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">DEL PASSO Crispino</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/343"> La prima parte della luce del dipingere e disegnare nella quale si vede
	esser messa in luce diligentemente da Crispino Del Passo con molte belle stampe in lingua
	italiana, olandese, francese e tedesca,</a></span> 
                     <span class="catalogo-pubPlace">Amsterdam</span>
                     <span class="catalogo-date">1663</span> 
                     <span class="catalogo-extent">&gt;m f. fig.</span>
                  </span>
	                 <div class="catalogo-note"> 
	                    <p>La seconda parte della luce dell’arte dove si trova la proporzione del corpo d’uomini e donne,
	insieme il vero uso dell’Accademia de’ pittori in Roma, col fondamento della prospettiva,
	1664.</p>
	                    <p>La terza parte dell’arte del disegnare continenda diverse posture de femine nude, tanto grasse che
	mediocre ec. ec., Amsterdam 1664.</p>
	                    <p>La quarta parte della lumiera dell’arte di disegnare nella quale è trattato le figure con ogni sorte
	di panni vestite e con l’uso del modello di legno.</p>
	                    <p>La quinta parte dell’arte di disegnare contenenti le representationi dei quadrupedi, in fogl. figur.
	La prima di queste parti contiene 30 tavole con numeri progressivi, poi altri sei putti; la seconda 25 figure
	accademiche e 11 tav. prospettiche; la terza due tavole di proporzioni e 18 donne ignude; la quarta 45 figure
	vestite; la quinta 47 di quadrupedi, 6 pesci e insetti e 12 di uccelli. In tutto tavole 202 con un registro al fine, il
	quale è sbagliato poiché si dimenticano le 11 tavole prospettiche e le due di proporzione.</p>
	                 </div>
	                 
	                 
	                 
	
	              </section>