<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1670">
                  <span class="catalogo-item-label">1670.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUENEBAULD Jean Medecin</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1670">Le réveil de Chyndonax Prince des Vacies, Druydes, Celtiques,
    Diionois, avec la saincteté, religion et diversité des cérémonies observées aux anciennes
    sepultures par J. G. D. M. D. A.</a></span>, <span class="catalogo-pubPlace">Dijon</span> <span class="catalogo-date">1621</span>, in 8, fig.
    <div class="catalogo-note">Libro, che appartenne alla biblioteca di Mariette segnato di sua mano col nome dell’autore, spiegando le iniziali,
    e dichiarandolo di molta rarità, specialmente allorché non manchino le 2 tavole; una dello stemma, l’altra del
    sepolcro e dell’urna, come si trovano in questo esemplare magnifico e completo. Opera ripiena di dottrina.
    </div>
    </span></section>