<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3804">
                     <span class="catalogo-item-label">3804.</span> <span class="catalogo-bibl"><span class="catalogo-author">NICOLAI Joannis</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3804"> Romanorum triumphus solemnissimus, quo ceremoniae, vestitus, currus, ornamenta, et
antiquitates illustrantur</a></span>, <span class="catalogo-pubPlace">Francofurti</span> <span class="catalogo-date">1696</span>, in 12.
</span></section>