<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="946">
                  <span class="catalogo-item-label">946.</span> <span class="catalogo-bibl"><span class="catalogo-author">OVRIDGE John</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/946">Description of the Gaol at Bury saint Edmunds to which are added designs for
      a prison etc.</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1819</span>, in f.
      <div id="catalogo-note-text-946" class="catalogo-note truncate-line-clamp">Con 5 tavole in rame.</div><a id="catalogo-note-text-toggle-946" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>