<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="928">
                  <span class="catalogo-item-label">928.</span> <span class="catalogo-bibl"><span class="catalogo-author">HERRONE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/928">Gli artificiosi e curiosi moti spiritali</a></span>, tradotti da Giovan Battista Aleotti d’Argenta,
      <span class="catalogo-pubPlace">Ferrara</span> <span class="catalogo-date">1589</span>, in 4, pic. fig.
      <div class="catalogo-note collapse">Con frontespizio figurato e tavole in legno fra il testo; edizione non comune.</div>
      
                  
                  
      
               </span></section>