<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="463">
                  <span class="catalogo-item-label">463.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CARAMUEL D. Juan</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/463"> Architectura civil, recta y obliqua, considerada y dibuxada en el tempio de
	Jerusalem,</a></span> 
                     <span class="catalogo-pubPlace">en Vegeeven</span> 
                     <span class="catalogo-date">1678,</span>
                     <span class="catalogo-extent"> vol. 3, in fol. fig.</span>
	                    <div id="catalogo-note-text-463" class="catalogo-note truncate-line-clamp">Opera farraginosa con un volume intero di tavole 161, intagliate in rame, ove si parla e si presenta il tempio di
	Solomone e altre strane cose miste alle buone. Può riguardarsi come un magazzino indigesto di tutte le
	cognizioni riguardanti l’architettura.</div><a id="catalogo-note-text-toggle-463" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>