<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1193">
                  <span class="catalogo-item-label">1193.</span> <span class="catalogo-bibl"><span class="catalogo-author">ORSINI Baldassarre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1193">Risposte alle lettere pittoriche del Sig. Annibale Mariotti</a></span>, <span class="catalogo-pubPlace">Perugia</span> <span class="catalogo-date">1791</span>,
    in 8.
    — <span class="catalogo-author">PAOLI Paolo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1193">Lettera in difesa dell’epitafio di S. Felice</a></span>. Vedi <span class="catalogo-author">Marini Gaetano</span>.
    </span></section>