<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2570">
                     <span class="catalogo-item-label">2570.</span> <span class="catalogo-bibl"><span class="catalogo-author">DEMPSTERI Thomae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2570">Passerii Joan. Bapt., In Thomae Dempsteri libros de Etruria regali paralipomena, quibus
tabulae eidem operi additae illustrantur</a></span>, <span class="catalogo-pubPlace">Lucae</span> <span class="catalogo-date">1767</span>, in fol., fig.
<div id="catalogo-note-text-2570" class="catalogo-note truncate-line-clamp">Trovansi in questo volume sette tavole di monumenti interpretati e la lezione e l’interpretazione delle Tavole
Egubine, che erano nella forma de’ caratteri primitivi originali state prodotte nell’opera precedente, a cui di
necessità questa si aggiugne in guisa di continuazione ed illustrazione.</div><a id="catalogo-note-text-toggle-2570" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>