<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3966">
                     <span class="catalogo-item-label">3966.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRETTINGHAM Matthew</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3966">The plans elevations and sections of Holkham in Norfolk the seat of the late earl of
Leicester</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1761</span>, in fol., fig.
<div id="catalogo-note-text-3966" class="catalogo-note truncate-line-clamp">Libro contenente molti bei progetti di edifici esposti pel conte di Leicester con elegantissimi disegni intagliati dai
migliori incisori. Sono 32 bellissime tavole in rame.</div><a id="catalogo-note-text-toggle-3966" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>