<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4553">
                        <span class="catalogo-item-label">4553.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARTSCH Adam</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/4553">Catalogue raisonné de toutes les estampes, qui forment l’oeuvre de Rembrant</a></span>, <span class="catalogo-pubPlace">Vienne</span><span class="catalogo-date"> 1797</span>, in
8, avec figures.
</span></section>