<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4770">
                     <span class="catalogo-item-label">4770.</span> <span class="catalogo-bibl"><span class="catalogo-author">CUNNINGHAM Francis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4770">Notes récuillies en visitant les prisons de la Suisse, et rémarques sur les moyens de les
améliorer</a></span>, <span class="catalogo-pubPlace">Geneve</span> <span class="catalogo-date">1820</span>, in 8.
</span></section>