<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4149">
                     <span class="catalogo-item-label">4149.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCOTTO Andrea</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4149">Itinerario, ovvero nuova descrizione dei viaggi principali d’Italia, tradotto dal latino all’italiano</a></span>,
<span class="catalogo-pubPlace">Venezia</span>, per Francesco Bolzetta, <span class="catalogo-date">1670</span>, in 8.
<div id="catalogo-note-text-4149" class="catalogo-note truncate-line-clamp">Questa è la ristampa dell’altra edizione del 1659, in cui l’autore non più Francesco, ma chiamatosi Andrea, è
però lo stesso.</div><a id="catalogo-note-text-toggle-4149" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>