<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2469">
                  <span class="catalogo-item-label">2469.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCOTTO Michele</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2469">Fisionomia la qual compilò M. Mieli. Scoto a’ preghi di Federico Romano
    Imperatore huomo di gran scientia</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per Francesco Bindoni, <span class="catalogo-date">1546</span>, in 8.
    <div class="catalogo-note">Questa versione italiana fu mutilata al capitolo 56 della notizia degli auguri. <span class="catalogo-bibl">Vedi all’artic. <span class="catalogo-author">Alberti Magni</span>.</span></div>
    
    </span></section>