<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1489">
                  <span class="catalogo-item-label">1489.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1489">DIARIO delle solennità in occasione dell’elezione ed incoronamento dell’Imperatore Carlo VI</a></span>,
    <span class="catalogo-pubPlace">Francfort</span> <span class="catalogo-date">1712</span>, in fol. fig., in lingua tedesca.
    <div class="catalogo-note">Sono in questo volume 18 tavole fra le quali i 10 ritratti della famiglia imperiale intagliati da Montalegre con
    bassa mediocrità.</div>
    MDCCXIII
    
    </span></section>