<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4017">
                     <span class="catalogo-item-label">4017.</span> <span class="catalogo-bibl"><span class="catalogo-author">GILPIN William</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4017">Observations pittoresques sur differentes parties de l’Angleterre particuliérment sur les
montagnes, et les lacs du Cumberland, et du Weste Moreland: traduit de l’anglais</a></span>, due vol. leg. in uno,<span class="catalogo-pubPlace"> Breslan</span>
<span class="catalogo-date">1801</span>, in 8, fig.
<div class="catalogo-note collapse">Con 30 bellissime tavole incise a mezzo tinto, che rendono l’edizione preziosa.</div>
</span></section>