<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2045">
                  <span class="catalogo-item-label">2045.</span> <span class="catalogo-bibl"><span class="catalogo-author">HOLLARD Winceslaus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2045">Characaturas by Leonardo da Vinci from drawings out of the Portland
  Museum</a></span>, <span class="catalogo-date">1786</span>, in 4, tav. 18, compresoli frontespizio e il ritratto di Leonardo, le quali
  comprendono 64 teste tratte dai disegni originali.
  <div class="catalogo-note collapse">Le opere di questo incisore sono tutte preziose, ma il gusto pittoresco che ha messo in queste teste si discosta dal
  carattere di Leonardo più che non ha fatto il C. di Caylus.</div>
  
  </span></section>