<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3802">
                     <span class="catalogo-item-label">3802.</span> <span class="catalogo-bibl"><span class="catalogo-author">NERALCO monsignor Ercolani</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3802"> Descrizione del Colosseo romano, del Panteon, e del Tempio Vaticano</a></span>, <span class="catalogo-pubPlace">Roma</span>
<span class="catalogo-date">1763</span>, in fol., fig.
<div class="catalogo-note collapse">Questo autore scrisse dopo gli altri, che illustrarono questi principali edifici di Roma, come il Serlio, il Fontana, il
Maffei, il Degodetz ch’egli prende ad esaminare: vi sono 15 tavole in rame.</div>
</span></section>