<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3399">
                     <span class="catalogo-item-label">3399.</span> <span class="catalogo-bibl"><span class="catalogo-author">KIRCHERII Athanasii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3399">Romani Collegii Musaeum celeberrimum publicae luci expositum a Georgio de Sepibus</a></span>,
<span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1678</span>, in fol., fig.
<div class="catalogo-note collapse">Con molte tavole in rame ed in legno, parte frapposte e parte inserte nel testo. Opera in cui si riprodussero molte
figure d’obelischi e monumenti egiziani in altri libri dallo stesso autore pubblicati.</div>
</span></section>