<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3547">
                     <span class="catalogo-item-label">3547.</span> <span class="catalogo-bibl"><span class="catalogo-author">QUINZA Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3547">Relazione della statua equestre di Carlo Magno eretta nel Portico Vaticano. Opera di
Agostino Cornacchini</a></span>, <span class="catalogo-pubPlace">Siena</span> <span class="catalogo-date">1725</span>, in fol., figurato.
<div class="catalogo-note">Difficilmente può vedersi opera che maggiormente diverga dal buon gusto e dal buon senso. Vedi anche unita al
Discorso sopra il nuovo ornato della guglia di S. Pietro.</div>
</span></section>