<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3254">
                     <span class="catalogo-item-label">3254.</span> <span class="catalogo-bibl"><span class="catalogo-author">LICETUS Fortunius</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3254">De Monstris, ex recensione Gerardi Blasii, editio novissima iconibus illustrata</a></span>,<span class="catalogo-pubPlace"> Amstelodami</span>
                        <span class="catalogo-date">1655</span>, in 4, fig.
<div class="catalogo-note collapse">Le copiosissime tavole di quest’opera distribuite a seconda del testo offrono quanto di più strano possano
   accozzare gli effetti dell’immaginazione e della natura</div>.
</span></section>