<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1784">
                  <span class="catalogo-item-label">1784.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROSA Michele</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1784">Delle porpore e delle materie vestiario presso gli antichi</a></span>. Dissertazione
  epistolare, <span class="catalogo-pubPlace">Modena</span> <span class="catalogo-date">1786</span>, in 4, fig.
  <div class="catalogo-note">Con tre grandi tavole in rame. Opera dottissima, intitolata a uno degli ultimi e più insigni mecenati italiani il
  
                  
                  
  Marchese Gherardo Rangone modenese.</div>
  
  </span></section>