<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4772">
                     <span class="catalogo-item-label">4772.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4772">DESCRIPTION of Fonthill Abbey Wiltshire with views</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1817</span>, in 8.
<div class="catalogo-note">Questa descrizione della villa del cavalier William Beckford è tanto più preziosa quanto è maggiore la difficoltà
di vedere questo luogo magnifico e pittoresco. Il libro è ornato da 9 tavole di finissimo intaglio, e termina con
alcuni cenni su i più singolari libri della biblioteca di quel palazzo.</div>
</span></section>