<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3611">
                     <span class="catalogo-item-label">3611.</span> <span class="catalogo-bibl"><span class="catalogo-author">BELLORI</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3611"> Le pitture antiche del sepolcro de’ Nasoni nella via Flaminia. Disegnate, ed intagliate alla similitudine
degli antichi originali da Pietro Santi Bartoli, descritte ed illustrate da Pietro Bellori</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1680</span>, prima edizione,
in fol.
<div class="catalogo-note collapse">Le tavole di questo esemplare sono di rara freschezza in numero di 35, ed è una delle più pregevoli opere del Santi
Bartoli.</div>
</span></section>