<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="848">
                  <span class="catalogo-item-label">848.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAROLOIS</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/848">La perspective conténante tant la théorie que la pratique rémise en volume plus
	commode qui auparavant</a></span>, <span class="catalogo-pubPlace">Amsterdam</span>, Janson, <span class="catalogo-date">1638</span>, in fol. fig.
	<div class="catalogo-note">Questa è edizione completa di questo trattato incisa da Enrico Hondio. E divisa in due parti, la prima consecrata
	alle teorie, la seconda alla scenografia dei corpi con 119 tav. L’opera, è farraginosa, ma non possono negarsi a
	questo matematico somme cognizioni, benché gli mancasse il modo della semplicità.</div>
	
	</span></section>