<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3577">
                     <span class="catalogo-item-label">3577.</span> <span class="catalogo-bibl"><span class="catalogo-author">AMATI Pasquale</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3577"> Dissertazione seconda sopra alcune lettere del d. Bianchi e sopra il Rubicone degli antichi</a></span>,
<span class="catalogo-pubPlace">Faenza</span> <span class="catalogo-date">1763</span>, in 4, M. 58, con molte appendici, e una carta topografica.
<div id="catalogo-note-text-3577" class="catalogo-note truncate-line-clamp">Queste dissertazioni dottissime sul Rubicone formano un buon volume di 272 pagine.</div><a id="catalogo-note-text-toggle-3577" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                     
                     

                  </span></section>