<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="198">
                  <span class="catalogo-item-label">198.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">REYNOLDS Josué</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/198">Reynolds Joshue the work, </a></span>
                     <span class="catalogo-pubPlace">London</span> 
                     <span class="catalogo-date">1801,</span> 
                     <span class="catalogo-extent">in three volumes, in 8.</span>
                  </span>
	                 <div class="catalogo-note">Quest’edizione nella lingua originale è preceduta da un bel ritratto dell’autore intagliato da Carolina Watson: e
	  nei primi due volumi si contengono le memorie della vita di Reynolds, coi 15 discorsi da lui pronunciati
	  nell’accademia di Londra; oltre a tre lettere dell’Ozioso e al viaggio in Fiandra e in Olanda, ove illustransi le più
	  segnalate opere di pittura che colà esistono. Il terzo volume è consecrato alla traduzione del poema di Dufresnoy
	  fatta da William Mason, alle note sul poema, ai giudizi di Dufresnoy sulle pitture dei due ultimi secoli, a un
	  parallelo tra la poesia e la pittura, alle memorie e cataloghi cronologici di tutti gli artisti principali e all’indice
	  generale.</div><div id="catalogo-note-text-198" class="catalogo-note-search-results truncate-line-clamp">Quest’edizione nella lingua originale è preceduta da un bel ritratto dell’autore intagliato da Carolina Watson: e
	  nei primi due volumi si contengono le memorie della vita di Reynolds, coi 15 discorsi da lui pronunciati
	  nell’accademia di Londra; oltre a tre lettere dell’Ozioso e al viaggio in Fiandra e in Olanda, ove illustransi le più
	  segnalate opere di pittura che colà esistono. Il terzo volume è consecrato alla traduzione del poema di Dufresnoy
	  fatta da William Mason, alle note sul poema, ai giudizi di Dufresnoy sulle pitture dei due ultimi secoli, a un
	  parallelo tra la poesia e la pittura, alle memorie e cataloghi cronologici di tutti gli artisti principali e all’indice
	  generale.</div><a id="catalogo-note-text-toggle-198" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 
	                 
	                 
	  
	                 <span class="catalogo-pb" id="page_32">32</span>
	              </section>