<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3589">
                     <span class="catalogo-item-label">3589.</span> <span class="catalogo-bibl"><span class="catalogo-author">BACCI Mass. Andrea</span><span class="catalogo-title"><a class="catalog-link" href="/catalog/3589">, Del Tevere, e della natura, e bontà dell’acqua, e delle inondazioni: libri due</a></span>, 
                        <span class="catalogo-pubPlace">Roma</span>, presso
Vincenzo Lucchino, <span class="catalogo-date">1558</span>, in ottavo.
<div class="catalogo-note collapse">Raro, e singolare libretto stampato in bei caratteri corsivi grandi. Esemplare in mar. rub.</div>
<span class="catalogo-pb" id="page_170">170</span>
                  </span></section>