<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3444">
                     <span class="catalogo-item-label">3444.</span> <span class="catalogo-bibl"><span class="catalogo-author">PRESTEL Théophile peintre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3444">Dessins des mellieurs peintres d’ltalie, d’Allemagne et des Pays Bas du Cabinet de
M. Paul de Praun à Nuremberg gravés d’après les originaux de la même grandeur</a></span>, <span class="catalogo-pubPlace">Nuremberg</span> <span class="catalogo-date">1776</span>, in fol.
atlant.
<div id="catalogo-note-text-3444" class="catalogo-note truncate-line-clamp">Sono 48 tavole di bellissima e accurata esecuzione, che rendono perfettamente il carattere degli originali.</div><a id="catalogo-note-text-toggle-3444" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>