<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="516">
                  <span class="catalogo-item-label">516.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">GIARDINI Giovanni</span> da Forlì, <span class="catalogo-title"><a class="catalog-link" href="/catalog/516">Disegni diversi inven<span class="catalogo-pb" id="page_93">93</span>tati, e delineati per lampadi,
	candelabri ed altri simili arredi,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1714,</span> 
                     <span class="catalogo-extent">in fol.</span>
                  </span> 
	                 <div id="catalogo-note-text-516" class="catalogo-note truncate-line-clamp">L’epoca infelice per le opere di gusto, in cui furono pubblicati questi disegni intagliati da Massimilno Limpach
	di Praga, basta per relegare quest’opera fra i monumenti, che nella storia dell’arte attestano il decadimento a cui
	soggiacque in quel secolo: sono 100 tavole intagliate in rame.</div><a id="catalogo-note-text-toggle-516" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>