<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="94">
                  <span class="catalogo-item-label">94.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BULENGERI Caes.</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/94"> De pictura, plastice, statuaria, lib. duo, </a></span>
                     <span class="catalogo-pubPlace">Lugduni</span>
                     <span class="catalogo-date"> 1627,</span>
                     <span class="catalogo-extent"> in 12;</span> aggiunto: <span class="catalogo-title"><a class="catalog-link" href="/catalog/94">De
	  Ludis privatis ac domesticis veterum lib. unicus </a></span>
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/94">De Conviviis, lib. IV, eodem loco et anno.</a></span>
                  </span>
	                 <div id="catalogo-note-text-94" class="catalogo-note truncate-line-clamp">Della pittura è trattato secondo gli antichi e nulla si dice intorno gli artisti moderni. Relativi all’encausto sonovi
	  alcuni capitoli interessanti scritti in un’epoca molto anteriore a quelle de’ moderni scrittori.</div><a id="catalogo-note-text-toggle-94" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>