<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1195">
                  <span class="catalogo-item-label">1195.</span> <span class="catalogo-bibl"><span class="catalogo-author">POCH Bernardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1195">Lettera sui marmi estratti dal Tevere e sulle iscrizioni scolpite in essi a S. E.
    il Principe Altieri</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1733</span>, M. 27.
    <div class="catalogo-note">Non sono che due foglietti di stampa.</div><div id="catalogo-note-text-1195" class="catalogo-note-search-results truncate-line-clamp">Non sono che due foglietti di stampa.</div><a id="catalogo-note-text-toggle-1195" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    1195*. <span class="catalogo-author">PUCCINI Tommaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1195">Dello stato delle Belle Arti in Toscana, Lettera</a></span>, <span class="catalogo-pubPlace">Italia</span> <span class="catalogo-date">1807</span>, in 8, M. 35 e
    48.
    <div class="catalogo-note">Questo scrittore era passionatamente intelligente delle arti e le studiò col raccogliere oggetti preziosi e vivere
    nelle città di Roma e Firenze tutta la sua età sempre in mezzo ai monumenti ed agli artisti.</div><div id="catalogo-note-text-1195" class="catalogo-note-search-results truncate-line-clamp">Questo scrittore era passionatamente intelligente delle arti e le studiò col raccogliere oggetti preziosi e vivere
    nelle città di Roma e Firenze tutta la sua età sempre in mezzo ai monumenti ed agli artisti.</div><a id="catalogo-note-text-toggle-1195" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>