<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2973">
                     <span class="catalogo-item-label">2973.</span> <span class="catalogo-bibl"><span class="catalogo-author">PINTII Josephi Antonii</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2973"> De nummis Ravennatibus, dissertatio singularis</a></span>, 
                        <span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1750</span>, in 4, fig., M. 39.
<div id="catalogo-note-text-2973" class="catalogo-note truncate-line-clamp">Con cinque tavole intagliate in rame.</div><a id="catalogo-note-text-toggle-2973" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>