<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="618">
                  <span class="catalogo-item-label">618.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/618">Les amours de Polia ou le songe de Poliphile traduit de l’italien,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1772,</span> 
                     <span class="catalogo-extent">en 12.</span>
                  </span>
	                 <div class="catalogo-note">Dal titolo di questo libro ognuno avrebbe diritto di attendersi una versione letterale dell’Itipnerotomachia: ma
	sarebbe indotto in errore, poiché non trovansi in effetto che trenta piccole pagine in grossi caratteri di un estratto
	indigesto e malfatto del sogno di Poliphilo, le quali non presentano una minima idea della singolare e profonda
	opera di F. Francesco Colonna. Ciò viene qui avvertito per mettere in guardia i letterati e librai contro i titoli
	speciosi dei libri, i quali spesse volte sono imposture, siccome questa ne è una solennissima.</div>
	                 
	— <span class="catalogo-bibl">Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/618">Le grand’oeuvre devoilé en faveur des enfans de la lumière, traduit du
	Chaldaique par M. Contan,</a></span> 
                     <span class="catalogo-pubPlace">Amsterdam</span> 
                     <span class="catalogo-date">1775.</span>
                  </span>
	— <span class="catalogo-bibl">Al fine: <span class="catalogo-title"><a class="catalog-link" href="/catalog/618">Le grand oeuvre devoilé en faveur des personnes qui ont grand besoin d’argent,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1778.</span>
                  </span>
	              </section>