<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="360">
                  <span class="catalogo-item-label">360.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">TESTELIN Henry</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/360"> Peintre du roi. Sentiments des plus habiles peintres sur la pratique de la
	peinture et sculpture, mis en tables de préceptes,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     chez la Veuve Martre Cramoisy, 
                     <span class="catalogo-date">1696,</span>
	                    <span class="catalogo-extent">in f.</span>
                  </span>
	                 <div class="catalogo-note">Opera di bellissima esecuzione preceduta da una prefazio <span class="catalogo-pb" id="page_63">63</span> ne, e da sei dissertazioni o conferenze lette
	all’accademia in presenza del gran Colbert; sul disegno lineare, sulle proporzioni, sull’espressione, sul
	chiaroscuro, sul colorito, seguite dai relativi precetti intagliati in sei tavole. Vengono poi quattro tavole di quadri
	di composizione, delle quali una presenta 5 statue antiche colle relative proporzioni. Finisce il volume colle teste
	d’espressione di Lebrun in una tavola grande e in un’altra le espressioni di Testelin; in fine una tavola incisa da
	Audran, che dovrebbe essere posta in principio, rappresentante il Tempo che discuopre la Verità, tolta da un
	disegno di Testelin.</div><div id="catalogo-note-text-360" class="catalogo-note-search-results truncate-line-clamp">Opera di bellissima esecuzione preceduta da una prefazio <span class="catalogo-pb" id="page_63">63</span> ne, e da sei dissertazioni o conferenze lette
	all’accademia in presenza del gran Colbert; sul disegno lineare, sulle proporzioni, sull’espressione, sul
	chiaroscuro, sul colorito, seguite dai relativi precetti intagliati in sei tavole. Vengono poi quattro tavole di quadri
	di composizione, delle quali una presenta 5 statue antiche colle relative proporzioni. Finisce il volume colle teste
	d’espressione di Lebrun in una tavola grande e in un’altra le espressioni di Testelin; in fine una tavola incisa da
	Audran, che dovrebbe essere posta in principio, rappresentante il Tempo che discuopre la Verità, tolta da un
	disegno di Testelin.</div><a id="catalogo-note-text-toggle-360" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>