<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2812">
                     <span class="catalogo-item-label">2812.</span> <span class="catalogo-bibl"><span class="catalogo-author">CORSINI Eduardi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2812">Epistola in Gotarzis Parthiae regis Nummum, qui hactenus ineditus explicatur</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1757</span>, in
4, M. 13.
<div id="catalogo-note-text-2812" class="catalogo-note truncate-line-clamp">Nel frontespizio di amendue gli opuscoli sono le medaglie intagliate.</div><a id="catalogo-note-text-toggle-2812" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>