<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3880">
                     <span class="catalogo-item-label">3880.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCHONVISNERII Stephani</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3880">De ruderibus Laconici Caldariique romani, et nonnullis aliis monumentis, in solo
Budensi repertis</a></span>. Liber unicus, <span class="catalogo-pubPlace">Budae</span> <span class="catalogo-date">1768</span>, in fol., fig.
<div class="catalogo-note">Con tre tavole in rame. Libro interessante, per i confronti colle dottrine vitruviane.</div>
</span></section>