<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4019">
                     <span class="catalogo-item-label">4019.</span> <span class="catalogo-bibl"><span class="catalogo-author">GONNELLI Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4019">Monumenti sepolcrali della Toscana disegnati da Vincenzo Gozzini, ed incisi da Giovan
Paolo Lasinio, sotto la direzione dei signori cav. Benvenuti e L. de Cambray Digny</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1819</span>, in foglio.
<div class="catalogo-note collapse">Sono questi con estrema diligenza, e correttamente inta <span class="catalogo-pb" id="page_242">242</span> gliati in 48 tavole in foglio. Esemplare distinto in
carta grande velina d’Inghilterra.</div>
</span></section>