<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3397">
                     <span class="catalogo-item-label">3397.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3397"> GALLERIA Giustiniana del marchese Vincenzo Giustiniani</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1651</span>, in fol., vol. 2.
<div class="catalogo-note">Sono due volumi che contengono 322 tavole di busti e sta <span class="catalogo-pb" id="page_137">137</span>tue antiche cioè 153 nel primo volume e 169
nel secondo. Esemplare di antica impressione quantunque le stampe siano numerate. Opera pregievolissima per
la serie de’ preziosi monumenti e che avrebbe avuto necessità di elenchi e di illustrazioni che mai non ebbe. Ne
furono colle lamine logorate tirati alcuni esemplari moderni da non aversi in pregio.</div>
</span></section>