<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2591">
                     <span class="catalogo-item-label">2591.</span> <span class="catalogo-bibl"><span class="catalogo-author">INGHIRAMI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2591">Monumenti etruschi o di etrusco nome disegnati, incisi, illustrati e pubblicati, alla Badia di

                     
                     
Fiesole dai torchi dell’autore</a></span> <span class="catalogo-date">1819</span>, in 4, fig.
<div class="catalogo-note collapse">Opera divisa in sei volumi con copiosissime tavole colorate, splendida edizione. Le suddivisioni di quest’opera
riguardano le urne etrusche, gli specchi mistici, i bronzi etruschi, gli edifizi etruschi, i vasi fittili dipinti e i
monumenti che corredano l’opera per una più chiara intelligenza. Ne sono esciti i primi fascicoli ed è estesa con
infinita critica e dottrina. Il complesso delle tavole è promesso fino al numero di 600.</div>
</span></section>