<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="231">
                  <span class="catalogo-item-label">231.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">De VINCI Leonard</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/231">Traité de la peinture donné au public et traduit d’italien en françois par R.
	  F. S. D. C.,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span>, chez Langlois, <span class="catalogo-date">1651</span>, <span class="catalogo-extent">fol fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Questa è la prima versione francese che comparve nello stesso anno dell’originale con diverse infedeltà ed
	  omissioni nella parte del testo. Le tavole sono le stesse ma tirate dopo l’edizione italiana.</div>	  
	              </section>