<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2713">
                     <span class="catalogo-item-label">2713.</span> <span class="catalogo-bibl"><span class="catalogo-author">STUART James</span>, and Revett Nicholas painters, and architects, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2713">The antiquities of Athens, mensured, and delineated
                        etc.</a></span>, <span class="catalogo-pubPlace">London</span>, printed by John Haberkarn, <span class="catalogo-date">1762</span>, in fol., fig., vol. 4.
<div class="catalogo-note">Al fine d’ogni capitolo seguono le stampe de’ migliori bulini dell’Inghilterra. Il secondo volume comparve nel
1787 <span class="catalogo-pb" id="page_37">37</span> stampato da John Nichols col ritratto di Stuart in fronte. Il terzo volume comparve ne1 1794 per lo
stesso stampatore. Il quarto ed ultimo volume fu stampato da Bensley 1816 col ritratto di Revert in fronte.
Termina quest’opera completando i volumi precedenti coi disegni dei marmi della celebre collezione di lord
Elgin. Certamente finora non produssero i torchi e non accolsero le biblioteche un’opera di maggior pregio per
l’esatta esecuzione, con cui fu fatto questo insigne lavoro. Potrebbe ritenersi come quinto volume al seguito di
questa grand’opera l’altro stampato nel 1817 per conto d’una società. Vedi Antiquities of Attica</div><div id="catalogo-note-text-2713" class="catalogo-note-search-results truncate-line-clamp">Al fine d’ogni capitolo seguono le stampe de’ migliori bulini dell’Inghilterra. Il secondo volume comparve nel
1787 <span class="catalogo-pb" id="page_37">37</span> stampato da John Nichols col ritratto di Stuart in fronte. Il terzo volume comparve ne1 1794 per lo
stesso stampatore. Il quarto ed ultimo volume fu stampato da Bensley 1816 col ritratto di Revert in fronte.
Termina quest’opera completando i volumi precedenti coi disegni dei marmi della celebre collezione di lord
Elgin. Certamente finora non produssero i torchi e non accolsero le biblioteche un’opera di maggior pregio per
l’esatta esecuzione, con cui fu fatto questo insigne lavoro. Potrebbe ritenersi come quinto volume al seguito di
questa grand’opera l’altro stampato nel 1817 per conto d’una società. Vedi Antiquities of Attica</div><a id="catalogo-note-text-toggle-2713" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>