<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2727">
                     <span class="catalogo-item-label">2727.</span> <span class="catalogo-bibl"><span class="catalogo-author">AGOSTINI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2727">Dialoghi sopra le medaglie, iscrizioni ed altre antichità, tradotti da Ottaviano Sada</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1698</span>, in fol.,
fig.
</span></section>