<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2069">
                  <span class="catalogo-item-label">2069.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2069">NAVICULA</a></span>, sive speculum fatuorum praestantissimi sacrarum litterarum doctoris Jo. Begler,
  Kepserbergii, a Jacopo Odiero diligenter collecta, compendiosa vitae eiusdem descriptio per
  Beatum Rhenanum Sclestaninum, <span class="catalogo-pubPlace">Argentorati</span> <span class="catalogo-date">1511</span>, in 4, fig.
  <div id="catalogo-note-text-2069" class="catalogo-note truncate-line-clamp">Questa è una parafrasi della Stultifera Navis di Sebastiano Brandi con copiosissime tavole in legno di prima
  bellezza. Cento e dieci sono le torme dei stolti con altrettanti disegni e la tavola delle materie è copiosissima.</div><a id="catalogo-note-text-toggle-2069" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>