<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3657">
                     <span class="catalogo-item-label">3657.</span> <span class="catalogo-bibl"><span class="catalogo-author">CASSINI Giovanni</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3657">Nuova raccolta delle migliori vedute, antiche, e moderne di Roma, 
                        disegnate</a></span>, ed incise l’anno
<span class="catalogo-date">1779</span>, in fol. obl.
<div class="catalogo-note collapse">Sono queste tavole 80 intagliate all’acqua forte con poca grazia, e con negligenza nel disegno, le quali rendono
un’idea poco adeguata de’ principali punti di vista di Roma.</div>
</span></section>