<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1042">
                  <span class="catalogo-item-label">1042.</span> <span class="catalogo-bibl"><span class="catalogo-author">SPELTA Antonio Maria</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1042">La Pavia trionfante</a></span>, <span class="catalogo-pubPlace">Pavia</span> <span class="catalogo-date">1606</span>, in 8.
      <div class="catalogo-note">Questo libretto divenne raro e in fatti ha molti pregi, ol <span class="catalogo-pb" id="page_186">186</span>tre che per l’estensione, per le notizie d’arti che vi
      si contengono.</div><div id="catalogo-note-text-1042" class="catalogo-note-search-results truncate-line-clamp">Questo libretto divenne raro e in fatti ha molti pregi, ol <span class="catalogo-pb" id="page_186">186</span>tre che per l’estensione, per le notizie d’arti che vi
      si contengono.</div><a id="catalogo-note-text-toggle-1042" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>