<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2620">
                     <span class="catalogo-item-label">2620.</span> <span class="catalogo-bibl"><span class="catalogo-author">PASSERI Giovan Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2620">Linguae oscae specimen singulare, quod superest Nolae in marmore Musei Seminarii</a></span>,
<span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1774</span>, in fol., fig.
<div class="catalogo-note">Con tre tavole per l’illustrazione del monumento: e in fine una tavola dell’iscrizione Eugubina tratta dal
Demstero e un elenco di voci ebraiche da cui derivano voci etrusche e latine e un Lessico di voci etrusche.
Vedi anche all’articolo Dempsteri ec.</div>
</span></section>