<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1584">
                  <span class="catalogo-item-label">1584.</span> <span class="catalogo-bibl"><span class="catalogo-author">BELLONII Cenomani</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1584">De ammirabili opere antiquorum et rerum suscipiendarum praestantia</a></span>:
    de me <span class="catalogo-pb" id="page_274">274</span> dicato funere, seu cadavere condito et de medicamentis nonnullis, servandi
    cadaveris vim obtinentibus, libri tres: accedit de arboribus coniferis, resiniferis etc., <span class="catalogo-pubPlace">Parisiis</span>

                  
                  
    
    <span class="catalogo-date">1553</span>, in 4, fig.
    <div class="catalogo-note collapse">Raro e prezioso libro per la raccolta di cognizioni recondite che vi si ritrovano nella seconda opera: sonovi fra il
    tetto le tavole degli alberi incise in legno.</div>
    
    </span></section>