<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1939">
                  <span class="catalogo-item-label">1939.</span> <span class="catalogo-bibl"><span class="catalogo-author">PITTONI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1939">Imprese di diversi principi, duchi, signori ec. nuovamente ristampate con alcune
    stanze e sonetti di M. Lodovico Dolce</a></span>, <span class="catalogo-pubPlace">Venezia</span>, presso Giovan Battista Bertoni, <span class="catalogo-date">1602</span>, in fol.
    fig.
    <div id="catalogo-note-text-1939" class="catalogo-note truncate-line-clamp">Tavole 41 prese dalle due parti, le quali anteriormente vennero anche separatamente pubblicate. <span class="catalogo-bibl">Vedi <span class="catalogo-author">Dolce
    Lodovico</span>.</span></div><a id="catalogo-note-text-toggle-1939" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>