<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="952">
                  <span class="catalogo-item-label">952.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/952">PRATICAL treatise ou chimneys containing full directions for preventing or removing smoke in
      houses illustrated with copper plates</a></span>, <span class="catalogo-pubPlace">Edimburgh</span> <span class="catalogo-date">1776</span>, in 12.
      <div class="catalogo-note">Con una tavola in rame. Le teorie di questo pratico sono le migliori che noi conosciamo per averne fatto
      esperimento.</div><div id="catalogo-note-text-952" class="catalogo-note-search-results truncate-line-clamp">Con una tavola in rame. Le teorie di questo pratico sono le migliori che noi conosciamo per averne fatto
      esperimento.</div><a id="catalogo-note-text-toggle-952" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>