<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2463">
                  <span class="catalogo-item-label">2463.</span> <span class="catalogo-bibl"><span class="catalogo-author">RIZZACASA</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2463">La fisonomia non meno utile, che dilettevole, sì in morale, che in naturale
    filosofia, in due parti divisa</a></span>, <span class="catalogo-pubPlace">Carmagnola</span> <span class="catalogo-date">1607</span>.
    <div class="catalogo-note">Libretto ben esteso per la dizione ed elegantemente stampato.</div>
    
    </span></section>