<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="537">
                  <span class="catalogo-item-label">537.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">KRAMMER Gabriel</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/537">Architectura. In lingua tedesca,</a></span> 
                     <span class="catalogo-pubPlace">Praga,</span> 
                     <span class="catalogo-extent">in fol.,</span> 
                     <span class="catalogo-date">1606,</span> 
                     per cura di Marco
	Sadeler.
                  </span>
	                 <div class="catalogo-note">Le tavole portano la marca di Gab. Krammer e l’anno 1599. Gli esempi tratti dagli ordini e i loro ornamenti sono
	tutto ciò che di più barbaro escisse dagli umani deliri in 28 tavole, cui sono aggiunte altre tavole di prospettive
	inventate da Uriese, da Dom. Custodi, pubblicate da Steff. Scolari in Venezia.</div>
	
	              </section>