<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1004">
                  <span class="catalogo-item-label">1004.</span> <span class="catalogo-bibl"><span class="catalogo-author">WATELET</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1004">L’art de peindre poéme avec des reflexions sur les differentes parties de la
      peinture</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1760</span>, in 8, fig.
      <div class="catalogo-note collapse">Edizione elegantissima, aggiuntavi una lettera a M.*** contenant diverses observations sur le poéme de l’art de
      peindre.</div>
      
      </span></section>