<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="890">
                  <span class="catalogo-item-label">890.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/890">CAMINOLOGIE, ou traité des cheminées avec figures</a></span>, <span class="catalogo-pubPlace">Dijon</span> <span class="catalogo-date">1756</span>, en 8.
      <div id="catalogo-note-text-890" class="catalogo-note truncate-line-clamp">Operetta in cui la materia è per esteso trattata, con 21 tavole intagliate in rame e tolte dai metodi di tutti gli autori
      diversi che trattarono questa materia. Vedi Praticol.</div><a id="catalogo-note-text-toggle-890" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>