<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="546">
                  <span class="catalogo-item-label">546.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">LACTERBACH Bald. Jo.</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/546">Proporzioni de’ cinqne ordini di architettura,</a></span> 
                     <span class="catalogo-pubPlace">Lipsia</span> 
                     <span class="catalogo-date">1706,</span> 
                     <span class="catalogo-extent">in 12, fig.</span> in
	lingua tedesca.</span>
	                 <div class="catalogo-note">Col frontespizio figurato e 31 tavole in rame, incise con accuratezza.</div>
	
	              </section>