<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1342">
                  <span class="catalogo-item-label">1342.</span> <span class="catalogo-bibl"><span class="catalogo-author">QUESNAI de Beaurepaire</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1342">Mémoires, statuts et prospects concernant l’Académie des Sciences,
    et Beaux Arts des ÉtatsUnis de l’Amerique</a></span>, établie à Richemond, Capitale de la Virginie,
    <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1788</span>, en 8.
    </span></section>