<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2372">
                  <span class="catalogo-item-label">2372.</span> <span class="catalogo-bibl"><span class="catalogo-author">SOPRANI Rafaele nobile genovese</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2372">Vite de’ pittori, scultori ed architetti genovesi in questa
    seconda edizione rivedute e accresciute ed arricchite di note da Carlo Giuseppe Ratti, vol. 2,
 </a></span>   <span class="catalogo-pubPlace">Genova</span> <span class="catalogo-date">1768</span>, in 4.
    </span></section>