<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2061">
                  <span class="catalogo-item-label">2061.</span> <span class="catalogo-bibl"><span class="catalogo-author">LUCINI Ant. Fr.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2061">Disegni della guerra, assedio ed assalti dati dall’armata turchesca all’Isola di
  Malta, l’anno 1565</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1631</span>, in fol. M. 105.
  <div class="catalogo-note">Sono 16 tavole intagliate con valore compreso il frontespizio colle dichiarazioni sotto ciascuna.</div>
  
  </span></section>