<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4779">
                     <span class="catalogo-item-label">4779.</span> <span class="catalogo-bibl"><span class="catalogo-author">GAZZERA Costanzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4779">Lettera al C. Giuseppe Franchi di Pont intorno alle opere di pittura, e di scultura esposte nel
Palazzo della R. Università l’estate del 1820</a></span>, <span class="catalogo-pubPlace">Torino</span> <span class="catalogo-date">1821</span>, in 8.
</span></section>