<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3555">
                     <span class="catalogo-item-label">3555.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCROFANI Saverio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3555">Lettere al sig. c. Ennio Q. Visconti sopra alcuni quadri della Galleria Giustiniani e una statua
di Antonio Canova</a></span>, <span class="catalogo-pubPlace">Parigi</span> <span class="catalogo-date">1809</span>, in 8, M. 100.
<div class="catalogo-note collapse">Questa statua di cui parlasi è la Maddalena, che trovasi in Parigi in casa Sommariva.</div>
</span></section>