<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="387">
                  <span class="catalogo-item-label">387.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALBERTI messer Leon Battista</span> fiorentino,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/387">Deiphera, nella quale ne insegna ad amare
	temperatamente e ne fa divenire o più dotti ad amare, o più prudenti a fuggir amore;</a></span>
	novamente stampata in <span class="catalogo-pubPlace">Venezia</span>
                     <span class="catalogo-date">1545,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div id="catalogo-note-text-387" class="catalogo-note truncate-line-clamp">Il primo libretto è di 16 fogliettini di stampa e il secondo di 14. Sono due produzioni elegantissime e gentili.
	Nicolò Zoppino produsse la prima nel 1528 sotto lo stesso titolo. Esemplare in marocchino conservatissimo
	amendue sono legate assieme. Questi due opuscoli furono ristampati in Genova nel 1572. Sotto il titolo di
	concetti amorosi. Vedi. Camillo Giulio del Minio.</div><a id="catalogo-note-text-toggle-387" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>