<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1191">
                  <span class="catalogo-item-label">1191.</span> <span class="catalogo-bibl"><span class="catalogo-author">NATALE Francesc’Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1191">Lettera intorno ad una sacra colonna de’ bassi tempi eretta al
    presente dinanzi all’atrio del Duomo di Capua</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1766</span>, in 4, fig. Colla tavola intagliata
    del monumento.
    </span></section>