<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4798">
                     <span class="catalogo-item-label">4798.</span> <span class="catalogo-bibl"><span class="catalogo-author">VERMIGLIOLI Giovan Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4798">Principii della stampa in Perugia, e suoi progressi per tutto il XV secolo</a></span>, edizione
seconda, <span class="catalogo-pubPlace">Perugia</span> <span class="catalogo-date">1820</span>, in 8.
</span></section>