<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="401">
                  <span class="catalogo-item-label">401.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ANTONINI Carlo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/401">Manuale di vari ornamenti tratti dalle fabbriche e frammenti antichi, ad uso e
	comodo di pittori, architetti ec., vol. 4,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1771,</span> 
                     <span class="catalogo-date">1790,</span> 
                     <span class="catalogo-extent">in f. fig.</span> 
	                    <div class="catalogo-note collapse">Il primo volume contiene la serie dei rosoni antichi in Roma; il secondo la serie dei medesimi fuori di Roma; il
	terzo la serie dei candelabri antichi: il quarto la serie degli orologi solari e dei candelabri antichi. Sono duecento
	tavole in rame di bel disegno e buona esecuzione.</div>
                  </span>
	
	              </section>