<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="741">
                  <span class="catalogo-item-label">741.</span> <span class="catalogo-bibl"><span class="catalogo-author">M. VITRUVIO Pollio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/741">ARCHITETTURA di Vitruvio Pollione</a></span>. Libri X restituiti nell’italiana lingua
	da Baldassare Orsini vol. 2 legati in un tomo, <span class="catalogo-pubPlace">Perugia</span> <span class="catalogo-date">1802</span>, in 8, fig.
	</span></section>