<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3409">
                     <span class="catalogo-item-label">3409.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAZZOLA Francesco detto il Parmigianino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3409">Raccolta di disegni originali, tolti dal gabinetto Sanvitali</a></span>, incisi da
Benigno Bossi, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1772</span>, in fol.
— <div id="catalogo-note-text-3409" class="catalogo-note truncate-line-clamp">Aggiuntavi una raccolta di teste, inventate, di <span class="catalogo-pb" id="page_139">139</span> segnate e incise da Benigno Bossi; e un ultimo
quinternetto di 12 teste intitolato: Fisonomie possibili, 1676, in fol.
Le acque forti di questo incisore sono piene di grazia e di brio ec.</div><a id="catalogo-note-text-toggle-3409" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>