<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2872">
                     <span class="catalogo-item-label">2872.</span> <span class="catalogo-bibl"><span class="catalogo-author">GORLE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2872">Cabinet des pierres antiques gravées ou collection de 216 bagnes, et de 682 pierres tirées du Cabinet de
                        Gorlée, et autres célebres cabinets de l’Europe</a></span>,<span class="catalogo-pubPlace"> Paris</span><span class="catalogo-date"> 1778</span>, en 4, fig., 2 vol.
<div class="catalogo-note">Questa è una ristampa delle medesime tavole aumentate dopo l’edizione originale, tali come servirono alle due
illustrate da Gronovio nel 1695, o nel 1707. In questa edizione francese i cenni illustrativi sono ancora più brevi
e a dir vero troppo scarsi</div><div id="catalogo-note-text-2872" class="catalogo-note-search-results truncate-line-clamp">Questa è una ristampa delle medesime tavole aumentate dopo l’edizione originale, tali come servirono alle due
illustrate da Gronovio nel 1695, o nel 1707. In questa edizione francese i cenni illustrativi sono ancora più brevi
e a dir vero troppo scarsi</div><a id="catalogo-note-text-toggle-2872" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>