<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="208">
                  <span class="catalogo-item-label">208.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SCHEFFERI Joannis</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/208">Graphice, idest de arte pingendi. Liber singularis,</a></span> 
                     <span class="catalogo-pubPlace">Norimbergae</span> 
                     <span class="catalogo-date">1699,</span> 
                     <span class="catalogo-extent">in
	  12.</span>
                  </span>
	                 <div class="catalogo-note">Non tratta l’autore questa materia secondo le pratiche dell’arte moderna, ma riferisce e commenta gli autori che
	  hanno trattato della pittura presso gli antichi.</div>	  
	              </section>