<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1123">
                  <span class="catalogo-item-label">1123.</span> 
                  <span class="catalogo-bibl"><span class="catalogo-author">ESOPO</span> volgarizzato da Francescho Tuppo napoletano, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1485</span>, in fol. fig. picc.</span>
                  <div class="catalogo-note">
                     <p>Questa è l’edizione più rara e preziosa della versione di F. Tuppo non tanto perché le allusioni a cui mira il testo
      nel senso allegorico tendono (secondo alcuni) a ferire la corte di Roma, che appunto in quegli anni sotto il
      pontificato di Eugenio IV s’era trovato con Alfonso d’Aragona ad aspre contese quanto perché le tavole di legno
    singolarissime sono di prima e freschissima impressione, il de Bure quando ne parlò nella sua biblioteca
    istruttiva promosse il dubbio di alcuni bibliografi, che non s’accordavano nell’assegnare a questa edizione,
    piuttosto l’anno 1485 che il 1495, quantunque a chiare a grandi lettere sia espresso alla fine come diremo. Questo
    dottissimo bibliografo non aveva però veduto ancora alcun e-straniare dell’opera e non parlava che sulle riferte
    de’ suoi predecessori. Nullameno se avesse dubitato su qualche sbaglio d’impressione nei numeri romani
    dell’anno di stampa, come è tante volte accaduto, avrebbe potuto accertare con precisione e storica evidenza la
    cosa, se avesse potuto leggere rio che sta espresso così: Impressae Neapoli sub Ferdinando Illustris Sapientis,
    atque iustis in Siciliae Regno triumphatore. Il che basta ad escludere che in luogo del 85 si possa mai credere il
    95, mentre il gran Ferdinando morì ai 25 gennaio 1494 cui successe quel vigliacco di Alfonso II, coronato li 8
    maggio, che per paura dell’irruzione de’ Francesi in Italia abdicò <span class="catalogo-pb" id="page_201">201</span> la corona ai 23 gennaio 1495 fuggendo
      per farsi farte in Sicilia, ma poi non sopravisse e morì nello stesso anno.</p>
                     <p>
    La stessa opera che fu riprodotta a l’Aquila nel 1493 non è meno rara forse della precedente di Napoli e sebbene
    le tavole siano contornate con ornamenti di tre specie, ripetuti, a riempimento delle pagine, vedesi essere della
    stessa mano sì le tavole che gli ornamenti, anzi per le prime sono adoperati gli stessi legni, racchiudendoli nei
    contorni, dei quali contorni o compartimenti uno si trova impiegato nella nostra edizione di Napoli al foglietto ut
    juvet, ove cominciano, dopo la Vita, le Favole. Il Brunet la dice anzi più rara, ma non è certamente più pregiata;
    ed è sempre una ristampa della prima, della quale noi diamo ora la descrizione da nessuno data finora.
    Comincia il volume colla dedica, la quale occupa le due pagine del primo foglietto. Francisco del Tappo
    Neapolitano alto Illustrissimo Honorato de Aragonia Gaitano, Conte de Fundi, Collaterale dello Serenissimo Re
      Don Ferando Re de Sicilia Prothonotario et Logothetha benemerito felicitate.</p>
                     <p>Segue un proemio di sedici Linee, poi immediatamente Libistici fabulatoris Esopi vita feliciter incipit.</p>
                     <p>Il testo della vita incomincia in latino e ad ogni capitolo dopo il testo si trova impressa la stampa in legno
    figurata a quello allusiva e inseguitola versione Italiana. I capitoli non sono numerati e solamente distinti per
    l’argomento impresso in lettere maiuscole come nel primo De conditione et origine eiusdem. Il tutto in ai capitoli
    con altrettante stampe, terminando Clarissimi fabulatoris Esopi vita feliciter finit. Sequuntur fabula.</p>
                     <p>Questa prima parte compresa la dedica, e due carte bianche, l’una in principio e l’altra in fine, è di 44 foglietti o
    carte. Seguono le favole cominciando il testo in mezzo a una riquadratura, che contorna la pagina prima. Protesis
    comparativa fabula prima. Dopo i versi latini segue l’Imago poi la Tropologia, l’Allegorìa, l’Anagoge e
    l’Exemplum. In questa Protesis, che il traduttore intitola favola indebitamente, non è figura: seguono poi tutte le

                        
                        
    favole numerate, cominciando col testo latino in versi che precede immediatamente la stampar la quale e seguita
    dalla versione intitolata Apologia, dalla Tropologia, dall’Allegoria, e da un esempio che la conferma confirmatio
    cum exempla, ove appunto incontransi strane descrizioni e racconti e allusioni politiche. Continuano tutte le
    favole con questa costanza alternativa fino alla favola 66 intitolata de Rustico et Plutone, ove segue la stampa,
    poi l’Apologus, la Tropologia, la Barciologia, la Conclusio allegorica, Confirmatio, Epilogus, e in fine:
    Francisci Tuppi parthenopei utriusque iuris disertissimi studiosissimique in vitam Esopi fabulatoris tepidissimi
    philosophique clarissimi traductio materno sermone fidelissima: et in eius fabulas allegoriae cum exemplis
    antiquis modernisque finiunt feliciter. Impressae Neapoli <span class="catalogo-pb" id="page_202">202</span> sub Ferdinando Illustrissimo, sapientissimo,
    atque iustissimo in Siciliae Regno triumphatore sub anno Domini 1485 die XIII mensis Februarii, Finis. Deo
    Gratias.</p>
                     <p>Segue la tabula in fabulas Esapi e nella retro pagina di quest’ultimo foglietto il registro dei fogli, secondo il
    quale, esaminato il nostro esemplare, trovasi perfetto e ben conservato senza alcun mancamento. Questa seconda
    parte del volume contiene 124 foglietti o carte, l’ultima essendo bianca; le quali unite alle 44 della prima
    compongono l’intero volume in carte 168 ove incontransi 86 tavole intagliate in legno.</p>
                     <p>Fu riprodotta l’edizione di questo volgarizzamento anche in Venezia per Giovanni Andrea Vavassore detto
    Guadagnino in 8 nel 1533.</p>
                     <p>Quanto al merito delle favole non bisogna illudersi ed è uopo convenire che in Italia si poteva fare assai meglio,
    siccome molte opere intagliato in legno di quell’età il comprovano. Ma non può negarsi a queste figure un genere
    d’espressione singolare, il che ci farebbe propendere a crederla opera di maestri ialiani, quanto al disegno,
    piuttosto che oltramontani. E però vero che può osservarsi, come ci scrisse in questo argomento il chiarissimo
    sig. Ab. Pietro Zani, una differenza tra le tavole della vita d’Esopo e quelle delle favole; ma potrebbe nascere
    tanto da un diverso intagliatore, che da un diverso disegnatore. L’intaglio ha molto del tedesco e non non è da
    meravigliarsi se alcuno sostenesse essere l’artefice piuttosto alemanno che italiano. Notasi dal sig, Zani che le
    figure sono meglio intagliate che gli animali, sul che ci sarebbe permesso di dubitare, mentre sonovi anche
    animali disegnati in iscorcio con maestria; a cagion d’esempio la favola della rana e del bove al numero XXXXII
    non potrebbe meglio indicarsi di quel che è fatto; e così la 48 del pastore colla volpe in sui il cane sul davanti è
    disegnato con intelligenza ed espressione somma. E altresì vero che ai numeri 8,11, 25, 32, 39, 50, 51, 57,63,
    65,66, dove non sono animali principalmente, il disegno sembra migliore, ma non crediamo però che possano
    dirsi due diversi artisti aver lavorato per le tavole, quando ciò non fosse per la vita, le cui tavole d’uno stile più
    grandioso segnano qualche differenza. È altresì vero che al n. 51 de Juvene et Thaide è stata copiata la stampa di
    Israel Van Meckens.</p>
                  </div>    
               </section>