<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2255">
                  <span class="catalogo-item-label">2255.</span> <span class="catalogo-bibl"><span class="catalogo-author">DIEDO Antonio</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2255"> Elogio del professore Gio. Antonio Selva architetto</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1819</span>, M. 80.
    <div class="catalogo-note collapse">Col ritratto dello stesso in fronte.</div>
    
    </span></section>