<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="84">
	                 <span class="catalogo-item-label">84.</span>
	                 <span class="catalogo-bibl">
                     <span class="catalogo-author">BISAGNO D. Francesco</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/84"> Trattato della pittura fondato nell’autorità di molti eccellenti in questa
	    professione,</a></span>
                     <span class="catalogo-pubPlace"> Venezia </span>
                     <span class="catalogo-date">1642,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note">Meschino ed inutile libro per l’arte e per la storia. I due trattatelli del Biondo e del Bisagno non sono divenuti;
	  rari per la loro preziosità, ma unicamente perché essendo opere di poco merito, non ottennero l’onore di una
	  
	                    
	                    
	    seconda edizione.</div><div id="catalogo-note-text-84" class="catalogo-note-search-results truncate-line-clamp">Meschino ed inutile libro per l’arte e per la storia. I due trattatelli del Biondo e del Bisagno non sono divenuti;
	  rari per la loro preziosità, ma unicamente perché essendo opere di poco merito, non ottennero l’onore di una
	  
	                    
	                    
	    seconda edizione.</div><a id="catalogo-note-text-toggle-84" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	              </section>