<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2770">
                     <span class="catalogo-item-label">2770.</span> <span class="catalogo-bibl"><span class="catalogo-author">BERTI Alessandro Pompeo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2770">La scienza delle medaglie antiche e moderne.</a></span> Nuova edizione con annotazioni

                     
                     
storiche e critiche. Tradotto dal francese, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1755</span>, 2 vol., in 12, fig.
<div class="catalogo-note">Quest’opera fu scritta dal p. Joubert, alla quale il barone Brimard fece una serie di annotazioni storiche e critiche.
Il padre Berti tradusse il tutto e pubblicò i due volumetti colle rispettive medaglie. Questo è un corso di
numismatica elementare.</div>
</span></section>