<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="25">
                  <span class="catalogo-item-label">25.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DIALOGHI</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/25"> La stessa opera corretta ed accresciuta,</a></span>
                     <span class="catalogo-pubPlace"> Firenze</span>
                     <span class="catalogo-date"> l770,</span>
                     <span class="catalogo-extent"> in 12.</span>
                  </span>
	                 <div id="catalogo-note-text-25" class="catalogo-note truncate-line-clamp">L’autore si è conservato anonimo, quantunque sappiasi essere Monsig Bottari ed il libro è pieno di eccellenti
	  dottrine; gl’interlocutori sono Giovan Pietro Bellori e Carlo Maratta.</div><a id="catalogo-note-text-toggle-25" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
               </section>