<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4604">
                     <span class="catalogo-item-label">4604.</span> <span class="catalogo-bibl"><span class="catalogo-author">GALIBERTI Giovan Battista conte napoletano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4604">Il cavallo da maneggio, ove si tratta della nobilissima virtù del
                        cavalcare</a></span>, <span class="catalogo-pubPlace">Vienna d’Austria</span><span class="catalogo-date"> 1559</span>, in fol., fig.
                        <div class="catalogo-note collapse">Con trenta tavole in rame di scorretto disegno</div>.
</span></section>