<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3856">
                     <span class="catalogo-item-label">3856.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3856">ROMA sacra antica, e moderna.</a></span> Figurata, e divisa in tre parti, <span class="catalogo-pubPlace">Roma</span>, per Antonio de Rossi, <span class="catalogo-date">1700</span>, in 8.
<div class="catalogo-note">Questa è una buona antica guida tratta e composta dagli scrittori di antichità più accreditati.</div>
</span></section>