<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2835">
                     <span class="catalogo-item-label">2835.</span> <span class="catalogo-bibl"><span class="catalogo-author">FALLETTI Tommaso Vincenzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2835">Introduzione allo studio de’ preziosi Musei.</a></span> Dissertazioni quattro, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1783</span>, in
8.
<div class="catalogo-note">Versano queste sulle pietre fine o gemme figurate, sugli avanzi spettanti all’idolatria degli antichi, sull’uso e la
distinzione delle medaglie e sopra le cose di vario genere che formano, insieme raccolte, la preziosità de’ Musei.</div>
</span></section>