<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3920">
                     <span class="catalogo-item-label">3920.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZINO Pier Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3920">L’Anno Santo <span class="catalogo-date">1575</span> nel pontificato di Gregorio XIII</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per Francesco Rampazetto.
Questo libretto di 800 pagine contiene anche le cose meravigliose dell’alma città di Roma. Le Antichità di
Andrea Palladio, l’apertura della Porta Santa: libro non facile a trovarsi.
</span></section>