<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2909">
                     <span class="catalogo-item-label">2909.</span> <span class="catalogo-bibl"><span class="catalogo-author">LOTICHII Joan. Petri</span>, et <span class="catalogo-author">Hoffmanni Joan</span>. 
                        <span class="catalogo-title"><a class="catalog-link" href="/catalog/2909">Jacobi, Historia Augusta Imperatorum Romanorum a Julio Caesare
usque ad Josephum; cum effig. aere sculpto expres. adjecta Henr. Hamelow historia Imperatorum Romanorum
carmine perpetuo descripta</a></span>, <span class="catalogo-pubPlace">Amstel</span>. <span class="catalogo-date">1710</span>, in fol., fig.
<div id="catalogo-note-text-2909" class="catalogo-note truncate-line-clamp">Col ritratto del principe Guglielmo di Nassau intagliato da Halma e un frontespizio istoriato. Sono 25 ritratti
illustrati e presi la più parte dalle medaglie. Opera mediocre.</div><a id="catalogo-note-text-toggle-2909" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>