<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="855">
                  <span class="catalogo-item-label">855.</span> <span class="catalogo-bibl"><span class="catalogo-author">REMBOLD Io. Christoph.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/855">Perspectiva pratica</a></span>, <span class="catalogo-pubPlace">Augspurg</span> <span class="catalogo-date">1710</span> in 4, fig. Tedesco.
	<div class="catalogo-note collapse">Opera delle più ben fatte, con facilità di metodi e moltiplicità di esempi ricca di 150 tavole ben intagliate in
	rame.</div>
	
	<span class="catalogo-pb" id="page_158">158</span>
	              </span></section>