<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="833">
                  <span class="catalogo-item-label">833.</span> <span class="catalogo-bibl"><span class="catalogo-author">DUPAIN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/833">La science des ombres par rapport au dessein</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1786</span>, en 8. fig. Con 14 tavole
	grandi di bella ed esatta esecuzione.
	— Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/833">Le dessinateur au Cabinet, et à l’armée</a></span>, con quattro tavole.
	</span></section>