<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="377">
                  <span class="catalogo-item-label">377.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/377">ALBERTI Leon Baptistae,</a></span> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/377">Los diez libros de architectura traduzidos de latin en romance.</a></span>
	                    <span class="catalogo-pubPlace">Madrid</span> 
                     <span class="catalogo-date">1582</span> 
                     <span class="catalogo-extent">in 8.</span>
                  </span>
                  <div class="catalogo-note collapse">	L’edizione fu eseguita in casa di Alonsa Gomez, stampatore reale, ma il privilegio per la stampa fu concesso a
	Francesco Loçano. Non vi sono tavole in questa versione.</div>
	
	              </section>