<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="196">
                  <span class="catalogo-item-label">196.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">REVELLI Vincenzo Antonio</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/196"> Opere filosofiche pittoriche dedicati a’ professori ed amatori delle
	  belle arti,</a></span> 
                     <span class="catalogo-pubPlace">Torino</span> 
                     <span class="catalogo-date">1797,</span> 
                     <span class="catalogo-extent">in 4 gr., t.</span> I cui va annesso un piccolo atlante in foglio di 13 tav.</span>
	                 <div id="catalogo-note-text-196" class="catalogo-note truncate-line-clamp">Divaga in questo primo volume l’autore in una varietà di materie, sulle fisionomie, sulle opere di Camper, sul
	  bello ideale, sull’origine del capitello corintio e sui giuochi dell’anfiteatro di Vespasiano; ma dopo questo primo
	  volume non diede altro alla luce.</div><a id="catalogo-note-text-toggle-196" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>