<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1823">
                  <span class="catalogo-item-label">1823.</span> <span class="catalogo-bibl"><span class="catalogo-author">Del VOLO</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1823">Dialogo diviso in tre mattine in 8, figurato.</a></span> D’autore anonimo, M. 55.
  <div class="catalogo-note collapse">Dedicato al sig. Marcantonio Sabatini bolognese. Quest’opera è scritta con lepidezza piuttosto fratesca: infatti è
  da credersi estesa da qualche frate poiché rilevasi che l’autore aveva stampato un poemetto intitolato: Gli occhi
  di Gesù.</div>
  
  </span></section>