<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4433">
                        <span class="catalogo-item-label">4433.</span> <span class="catalogo-bibl"><span class="catalogo-author">BASAN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4433">Catalogue des estampes gravées d’après Rubens</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1767</span>, in 8.
— <span class="catalogo-bibl">On y a joint <span class="catalogo-title"><a class="catalog-link" href="/catalog/4433">le catalogue de l’oeuvre de Corneille Wisscher, et l’oeuvre de Jacques Jordans</a></span>.</span>

                        
                        
                     </span></section>