<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3758">
                     <span class="catalogo-item-label">3758.</span> <span class="catalogo-bibl"><span class="catalogo-author">KIRCHERII Athanasii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3758">Latium idest nova et paralella Latii tum veteris, tum novi descriptio</a></span>, <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1671</span>, in
fol., fig.
<div class="catalogo-note">Opera dottissima arricchita di grandi tavole, e bene delineate col ritratto di Clemente X in rpincipio e il
frontespizio fig. da R. de Hooge.</div>
</span></section>