<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3603">
                     <span class="catalogo-item-label">3603.</span> <span class="catalogo-bibl"><span class="catalogo-author">BELLORII Giovan Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3603">Colonna Trajana eretta dal senato e popolo romano all’imperatore Trajano Augusto nel
suo foro di Roma, scolpita con l’istorie della guerra dacica, la prima, e la seconda spedizione e vittoria contro il re
Decebalo nuovamente disegnata, ed intagliata da Pietro Santi Bartoli, colla esposizione latina di Alfonso
Ciaccone, compendiata nella volgare lingua sotto ciascuna immagine, accresciuta di medaglie, iscrizioni, e trofei
da Giovan Pietro Bellori</a></span>, prima edizione, <span class="catalogo-pubPlace">Roma</span>, in fol.
<div class="catalogo-note">Comincia il volume col frontespizio senz’anno, e col solo nome di Giovan Giacomo de’Rossi che lo diede in luce;
segue la dedica al re di Francia Luigi XIV, cui fu offerta l’opera dall’editore; succede la gran tavola della colonna
intera con suo spaccato, longitudine, e quattro tavole colle fronti della base, e le piante del piedistallo, ingresso,
sommità, e piede della colonna. Dopo ciò vengono le 119 tavole di bellissimo intaglio. L’istoria del Ciacconio,
estratta dalle sculture della colonna segue in quattordici pagine di testo stampato, e finisce coll’indice delle
materie. Esemplare di antiche e freschissime prove.</div><div id="catalogo-note-text-3603" class="catalogo-note-search-results truncate-line-clamp">Comincia il volume col frontespizio senz’anno, e col solo nome di Giovan Giacomo de’Rossi che lo diede in luce;
segue la dedica al re di Francia Luigi XIV, cui fu offerta l’opera dall’editore; succede la gran tavola della colonna
intera con suo spaccato, longitudine, e quattro tavole colle fronti della base, e le piante del piedistallo, ingresso,
sommità, e piede della colonna. Dopo ciò vengono le 119 tavole di bellissimo intaglio. L’istoria del Ciacconio,
estratta dalle sculture della colonna segue in quattordici pagine di testo stampato, e finisce coll’indice delle
materie. Esemplare di antiche e freschissime prove.</div><a id="catalogo-note-text-toggle-3603" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>