<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="266">
                  <span class="catalogo-item-label">266.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">OTTLEY WILLIAM Joung</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/266">An inquiris in to the origin and early history of engraving upon
	copper and in wood with an account of engravers and their works from the invention of
	calchography by Maso Finiguerra to the time of Marcantonio Raimondi,</a></span> 
                     <span class="catalogo-pubPlace">London</span> 
                     <span class="catalogo-date">1816</span>, <span class="catalogo-extent">vol. 2,
	4.</span>
                  </span>
	                 <div class="catalogo-note">
	Opera assai stimabile per le estese cognizioni del dottissimo autore e per le preziose tavole collocate fra il testo
	ove sono i fac simile delle antiche stampe in legno e in rame de’ più celebrati intagliatori e i nielli più insigni
	mirabilmente imitati.
	</div><div id="catalogo-note-text-266" class="catalogo-note-search-results truncate-line-clamp">
	Opera assai stimabile per le estese cognizioni del dottissimo autore e per le preziose tavole collocate fra il testo
	ove sono i fac simile delle antiche stampe in legno e in rame de’ più celebrati intagliatori e i nielli più insigni
	mirabilmente imitati.
	</div><a id="catalogo-note-text-toggle-266" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	              </section>