<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4568">
                        <span class="catalogo-item-label">4568.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4568">CATALOGO delle stampe intagliate in rame, e a bulino, e in acqua forte esistenti nella calcografia della R. Camera
                           Apostolica</a></span>, <span class="catalogo-pubPlace">Roma</span><span class="catalogo-date"> 1805</span>, in 12.
</span></section>