<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="365">
                  <span class="catalogo-item-label">365.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VERRI (Carlo)</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/365">Saggio elementare sul disegno della figura umana, in due parti diviso,</a></span> 
                     <span class="catalogo-pubPlace">Milano
</span>	
                     <span class="catalogo-date">1814,</span>
                     <span class="catalogo-extent"> 8, M. 46.</span>
                  </span>
	              </section>