<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3350">
                     <span class="catalogo-item-label">3350.</span> <span class="catalogo-bibl"><span class="catalogo-author">TANURSI Fran. M. patricii Ripani</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3350">Historiae patriae epitome et Joa. Garzonii ac Theodosii Quatrini de rebus
Ripanis nunc primum edita.</a></span> Omnia recensuit <span class="catalogo-pb" id="page_129">129</span> atque emendavit Cajetanus Fr. M. Tanursi filius, <span class="catalogo-pubPlace">Romae</span>
<span class="catalogo-date">1787</span>, in 8, M. 58.
</span></section>