<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="394">
                  <span class="catalogo-item-label">394.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">ALBERTOLI Ferdinando</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/394"> Porte di città e fortezze, depositi sepolcrali ed altre principali
	fabbriche pubbliche e private di Michele Sammicheli, misurate, disegnate ec.,</a></span> 
                     <span class="catalogo-pubPlace">Milano</span> 
                     <span class="catalogo-date">1816,</span> 
                     <span class="catalogo-extent">in
	fol. grande.</span>
                  </span>
	                 <div class="catalogo-note collapse">Tav. 30 disegnate con molta diligenza ed intagliate alla maniera di disegni acquarellati.</div>
	
	              </section>