<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="457">
                  <span class="catalogo-item-label">457.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CALDERARI Otone</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/457"> Disegni e scritti di architettura, vol. 2,</a></span> 
                     <span class="catalogo-pubPlace">Vicenza</span>
                     <span class="catalogo-date"> 1808 a 1815, </span>
                     <span class="catalogo-extent">fol. max. fig.</span>
                  </span>
	              </section>