<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="298">
                  <span class="catalogo-item-label">298.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BOUCHARDON</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/298">L’anatomie necessaire pour l’usage du Delfin,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span>, chez Huquier, 
                     <span class="catalogo-extent">fol. fig.</span>
	                    <div id="catalogo-note-text-298" class="catalogo-note truncate-line-clamp">Sono 15 tavole assai bene e chiaramente intagliate compreso il frontispizio e un avviso al lettore in principio, e
	un indice per le nomenclature anatomiche al fine, intagliate in rame.</div><a id="catalogo-note-text-toggle-298" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a> Vedi GENGA.
	</span>
	              </section>