<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1873">
                  <span class="catalogo-item-label">1873.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAUSSINO Nicolao</span>, La stessa, colla <span class="catalogo-bibl">continuazione intitolata <span class="catalogo-title"><a class="catalog-link" href="/catalog/1873">Polysthor Symbolicus electorum
    
    Symbolorum et parabolarum historicurum stromata XII libris complectens</a></span>, <span class="catalogo-pubPlace">Parisiis</span> <span class="catalogo-date">1646</span>, in
    4.</span>
    </span></section>