<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2846">
                     <span class="catalogo-item-label">2846.</span> <span class="catalogo-bibl"><span class="catalogo-author">FROELICH Erasmi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2846">Appendicula ad nummo Augustorum et Caesarum ab urbibus graece loquentibus cusos quos
                        Vaillantius collegerat</a></span>,<span class="catalogo-pubPlace"> Viennae</span><span class="catalogo-date"> 1734</span>, in 12, M. 74.
                        <div class="catalogo-note">Con 19 tavole intagliate in rame</div>.

                     
                     

                  </span></section>