<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4062">
                     <span class="catalogo-item-label">4062.</span> <span class="catalogo-bibl"><span class="catalogo-author">PERAU M. l’abbé</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/4062"> Description historique de l’Hòtel Royal des Invalides, avec les plans, coupes, et élévations
géometrales dessinées et gravées par le sieur Cochin</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1756</span>, in fol., fig.
<div class="catalogo-note collapse">Con 108 tavole in rame. Non poteva certamente illustrarsi con più minutezza di dettagli questo edificio, e i suoi
ornamenti, e pitture. E se altrettanto d’ogni magnifica fabbrica si fosse fatto, non basterebbe un immenso castello
a contenerne la biblioteca. Quanta parte ne occuperebbero gli edifici d’Italia!</div>
</span></section>