<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3793">
                     <span class="catalogo-item-label">3793.</span> <span class="catalogo-bibl"><span class="catalogo-author">MILIZIA Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3793">Roma delle belle arti del disegno</a></span>, <span class="catalogo-pubPlace">Bassano</span> <span class="catalogo-date">1787</span>, in 8.
<div class="catalogo-note collapse">In altri luoghi in proposito di questo autore abbiamo fatto bastevoli osservazioni.</div>
</span></section>