<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="68">
                  <span class="catalogo-item-label">68.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALBERTI Leon Battista</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/68"> Della pittura e della statua colla vita di Leon B. Alberti scritta dal
	  Tiraboschi ed altri, </a></span>
                     <span class="catalogo-pubPlace">Milano </span>
                     <span class="catalogo-date">1804,</span>
                     <span class="catalogo-extent"> in 4.</span>
                  </span>
	                 <div class="catalogo-note">Questa edizione fa parte della collezione de’ Classici italiani.</div>

	              </section>