<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1378">
                  <span class="catalogo-item-label">1378.</span> <span class="catalogo-bibl"><span class="catalogo-author">MELLINI Domenico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1378">Descrizione dell’apparato della commedia ed intermedi d’essa</a></span>, recitata
    in Firenze il giorno di S. Stefano l’anno 1563 per le Nozze di D. Francesco Medici e della
    Regina Giovanna d’Austria, <span class="catalogo-pubPlace">Firenze</span>, Giunti, <span class="catalogo-date">1566</span>, in 8. Aggiuntavi la <span class="catalogo-title"><a class="catalog-link" href="/catalog/1378">descrizione dell’entrata
    della Regina Giovanna d’Austria e dell’apparato</a></span>, scritta da <span class="catalogo-author">Domenico Mellini</span>, <span class="catalogo-pubPlace">Firenze</span>,
    Giunti, anno suddetto.
    <div class="catalogo-note">È indicato in fine di questo prezioso libretto come D. Vincenzo Borghini inventò l’apparato e segue nominando
    tutti i chiarissimi uomini di lettere e d’arti che vi furono impiegati.</div>
    MDLXVIII
    
    </span></section>