<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2384">
                  <span class="catalogo-item-label">2384.</span> <span class="catalogo-bibl"><span class="catalogo-author">UGURGIERI Isidoro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2384">Le pompe sanesi, ovvero relazioni degli uomini e donne illustri di Siena e
    suo stato</a></span>, <span class="catalogo-pubPlace">Pistoia</span> <span class="catalogo-date">1649</span>, vol. 2 in 8.<div class="catalogo-note">
    Opera molto pregievole ove trovanti curiose e interessanti notizie anche dei primi restauratori delle arti in Italia
    che furono Pisani e Sanesi.</div>
    
    </span></section>