<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="81">
                  <span class="catalogo-item-label">81.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DE BEUNIE T. B.</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/81"> Memoire sur la teinture en noir: traduite du flamand,</a></span> 
                     <span class="catalogo-pubPlace">Rotterdam</span>
                     <span class="catalogo-date"> 1777,</span>
                     <span class="catalogo-extent"> in 8, M. 63.</span>
                  </span>
	                 <div class="catalogo-note">Memoria premiata che estendesi chiaramente a tutte le indicazioni della pratica.</div><div id="catalogo-note-text-81" class="catalogo-note-search-results truncate-line-clamp">Memoria premiata che estendesi chiaramente a tutte le indicazioni della pratica.</div><a id="catalogo-note-text-toggle-81" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>