<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1338">
                  <span class="catalogo-item-label">1338.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1338">ORAZIONI recitate nella distribuzione solenne an <span class="catalogo-pb" id="page_229">229</span> nuale de’ premi nella Veneta
    Accademia di Belle Arti in Venezia nuovamente instituita dall’ anno 1808 al 1820</a></span>, in 8.
    <div class="catalogo-note">Contiene questa 12 discorsi in materie teoriche di Belle Arti del N. U. Diedo segretario della detta accademia:
    Un discorso inaugurale delle accademie del C. Cicognara presidente e gli elogi di Tiziano, di Giorgione, di
    Palladio dello stesso. L’ Elogio del Bellini del D. Aglietti, quello di Tintoretto dell’Ab. Zabeo, quello del
    Sammicheli del professore architetto Selva, quello di Paolo Cagliari dell’avvocato Biagi. Le lodi di Luigi
    Cornaro del Sig. Bartolommeo Gamba. L’Elogio del Vivarini del Sig. Neumam Rizzi. L’Elogio del Selva del
    Sig. Diedo.</div><div id="catalogo-note-text-1338" class="catalogo-note-search-results truncate-line-clamp">Contiene questa 12 discorsi in materie teoriche di Belle Arti del N. U. Diedo segretario della detta accademia:
    Un discorso inaugurale delle accademie del C. Cicognara presidente e gli elogi di Tiziano, di Giorgione, di
    Palladio dello stesso. L’ Elogio del Bellini del D. Aglietti, quello di Tintoretto dell’Ab. Zabeo, quello del
    Sammicheli del professore architetto Selva, quello di Paolo Cagliari dell’avvocato Biagi. Le lodi di Luigi
    Cornaro del Sig. Bartolommeo Gamba. L’Elogio del Vivarini del Sig. Neumam Rizzi. L’Elogio del Selva del
    Sig. Diedo.</div><a id="catalogo-note-text-toggle-1338" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>