<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2598">
                     <span class="catalogo-item-label">2598.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2598">Lettera del medesimo sopra un idoletto trovato a Fiesole</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1803</span>, fig., M. 54.
<div id="catalogo-note-text-2598" class="catalogo-note truncate-line-clamp">Questo anonimo è il cavalier Boni: le due lettere sono precedute dalle rispettive tavole. Tutti gli opuscoli di
questo letterato sono ripieni di frizzi e di sali attici.</div><a id="catalogo-note-text-toggle-2598" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>