<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3634">
                     <span class="catalogo-item-label">3634.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOSIO Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3634">Roma sotterranea nella quale si tratta de’ suoi cimiterj, del sito, forma, ed uso antico di essi ec.</a></span>
Opera postuma pubblicata dal com. Carlo Aldobrandino, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1632</span>, in f., fig.
<div id="catalogo-note-text-3634" class="catalogo-note truncate-line-clamp">Opera grande in foglio massimo, con numerosissime tavole in rame, che per le arti nei bassi tempi, e per
l’ecclesiastica erudizione è ancor buona, sebbene i bibliografi oltramontani ne abbiamo di troppo avvilito il
prezzo.</div><a id="catalogo-note-text-toggle-3634" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>