<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1231">
                  <span class="catalogo-item-label">1231.</span> <span class="catalogo-bibl"><span class="catalogo-author">BELTRAMELLI Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1231">Notizie intorno ad un quadro esistente nella Cappella del Palazzo
    della Prefettura in Bergamo</a></span>, <span class="catalogo-date">1806</span>, in 8.
    Aggiuntavi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1231">Lettera dello stesso al professore Lorenzo Mascheroni</a></span>, <span class="catalogo-date">1797</span>.
    
    </span></section>