<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2782">
                     <span class="catalogo-item-label">2782.</span> <span class="catalogo-bibl"><span class="catalogo-author">BONARROTTI Filippo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2782">Osservazioni istoriche sopra alcuni medaglioni antichi</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1698</span>, in 4, fig.
<div id="catalogo-note-text-2782" class="catalogo-note truncate-line-clamp">Quest’opera è dedicata al Gran Duca di Toscana ed è ricchissima di tavole e di monumenti la più parte con
diligenza e con gusto intagliati da P. S. Bartoli. Oltre le 38 tavole delle medaglie, vi ha un numero maggiore di
gemme, cristalli, avori, bronzi e monumenti intagliati e collocati al fine e al principio d’ogni capitolo e nel
frontespizio e fra il testo dell’opera. Quest’esemplare è prezioso per alcune correzioni e postille autografe del
marchese Scipione Maffei.</div><a id="catalogo-note-text-toggle-2782" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>