<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2590">
                     <span class="catalogo-item-label">2590.</span> <span class="catalogo-bibl"><span class="catalogo-author">INGHIRAMI Curtii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2590">Etruscarum antiquitatum fragmenta quibus urbis Romae, aliarumque gentium primordia,
mores, et res gestae indicantur, reperta Scornelli prope Vulterram</a></span>, <span class="catalogo-pubPlace">Francofurti</span> <span class="catalogo-date">1637</span>, in fol., fig.
<div class="catalogo-note">Bella e preziosa edizione per l’esattezza delle tavole intagliate in rame e in legno, collocate fra il testo, nonché
per l’eleganza dei tipi e bellezza della carta non comune in Germania. Vedi anche all’articolo Micali.</div>
</span></section>