<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3800">
                     <span class="catalogo-item-label">3800.</span> <span class="catalogo-bibl"><span class="catalogo-author">NARDINI Famiano</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3800"> Roma antica, alla Santità di Alessandro VII</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1666</span>, in 4, fig.
<div class="catalogo-note collapse">Prima edizione di questo raro e prezioso libro, il migliore che abbiamo sulle romane antichità, depurato dalle
contumelie, e inesattezze di una folla si scrittori che specularono su questo argomento. Ne apparvero parecchie
altre edizioni, ma tutte esaurite; si stava ora pensando ad una più ampliata, e riveduta, della quale è necessità. La
terza edizione del 1771 è la più ampia che abbiamo. In questo esemplare è aggiunto il discorso di Ottavio
Falconieri (pubblicatore del Nardini) intorno la piramide di Cajo Cestio con 5 belle tavole in rame, e una lettera a
Carlo Dati sopra un antico mattone: sono fra il testo della Roma antica alcune utilissime tavole.</div>
</span></section>