<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="124">
                  <span class="catalogo-item-label">124.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FEDELE da S. Biagio Pittore Capuccino</span>, Dialoghi famigliari sopra la pittura difesa ed esaltata,
	  <span class="catalogo-pubPlace">Palermo</span> 
                     <span class="catalogo-date">1788,</span>
                     <span class="catalogo-extent"> in 4.</span>
                  </span>
	                 <div class="catalogo-note">In questi noiosissimi dialoghi pieni di complimenti, si trovano coll’esercizio dalla pazienza molte notizie delle
	  opere e degli artisti siciliani, del quali abbiamo pochi scrittori.</div>	  
	              </section>