<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3873">
                     <span class="catalogo-item-label">3873.</span> <span class="catalogo-bibl"><span class="catalogo-author">SANDRART Jacobi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3873">Insignium Romae templorum prospectus exteriores, et interiores, septuaginta tribus figuris
aere incisis in lucem editi</a></span>, <span class="catalogo-pubPlace">Norimbergae</span>, in fol.
<div id="catalogo-note-text-3873" class="catalogo-note truncate-line-clamp">Non può lodarsi la scelta delle chiese intagliate in queste tavole, essendo eccessivo il numero di quelle che in
quanto al gusto non onorano la capitale del mondo cristiano, e il centro delle buone arti.</div><a id="catalogo-note-text-toggle-3873" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>