<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2589">
                     <span class="catalogo-item-label">2589.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUARNACCI Mario</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2589">Origini italiche, ossia memorie istorico-etrusche</a></span>, <span class="catalogo-pubPlace">Lucca</span> dal <span class="catalogo-date">1767 al 1782</span>, vol. 3, in fol., fig.
<div class="catalogo-note">Questa è una delle opere più copiose di erudizione e di monumenti etruschi, che in molte tavole sono collocate
fra il testo.</div>
</span></section>