<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3345">
                     <span class="catalogo-item-label">3345.</span> <span class="catalogo-bibl"><span class="catalogo-author">SPALLETTI Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3345">Dichiarazione di una tavola ospitale trovata in Roma sull’Aventino</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1777</span>, in 4, f., M.
23.
<div id="catalogo-note-text-3345" class="catalogo-note truncate-line-clamp">Il monumento è intagliato in una gran tavola in rame.</div><a id="catalogo-note-text-toggle-3345" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>