<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4385">
                        <span class="catalogo-item-label">4385.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAFFEI Scipione</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4385">Compendio della Verona illustrata ad uso dei forestieri. Coll’aggiunta del Museo Lapidario</a></span>,
<span class="catalogo-pubPlace">Verona</span> <span class="catalogo-date">1795</span>, in 8, fig.
<div class="catalogo-note">Eccellente libro colle tavole tolte dalla grand’opera, e piegate adattandole alla forma di grande ottavo, ma per una
guida del viaggiatore è troppo copiosa ed incomoda.</div>
</span></section>