<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="545">
                  <span class="catalogo-item-label">545.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">LAUGIER</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/545">Essai sur l’architecture: nouvelle édition avec un dictionnaire des termes et des
	planches qui en facilitent l’explication,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1733,</span> 
                     <span class="catalogo-extent">en 8, fig.</span>
                  </span>
	                 <div class="catalogo-note">Con un avvertimento di 32 pagine l’autore risponde in questa seconda edizione alle censure crudeli che erano
	state pubblicate intorno l’opera sua in un opuscolo examen d’un essai sur l’architecture. A noi sembra che
	questo saggio sia pieno di utili avvertenze, ma forse per alcune sincerità andava a ferire con qualche forza alcuni
	artisti di cattivo gusto (che in quel tempo non mancavano) e si dolsero senza misura della sempre odiata verità.</div>
	
	              </section>