<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="462">
                  <span class="catalogo-item-label">462.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">CAPRA Alessandro</span> architetto e cittadino cremonese, <span class="catalogo-title"><a class="catalog-link" href="/catalog/462">La stessa divisa in 2 tomi. Aggiuntavi: La
	nuova architettura militare, </a></span>
                     <span class="catalogo-pubPlace">Cremona</span> 
                     <span class="catalogo-date">1717,</span>
                     <span class="catalogo-extent"> in 4, fig.</span>
	                    <div class="catalogo-note collapse">Edizione seconda con maggior numero di lav. in legno. Si estende molto quest’opera sulle macchine e
	meccaniche ed usi domestici delle arti.</div>
                  </span>
	
	              </section>