<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="135">
                  <span class="catalogo-item-label">135.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GIOVIO</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/135"> Discorso sulla pittura,</a></span> 
                     <span class="catalogo-pubPlace">Londra</span> 
                     <span class="catalogo-date">1776,</span> 
                     <span class="catalogo-extent">in 8.</span>
                  </span>
	                 <div id="catalogo-note-text-135" class="catalogo-note truncate-line-clamp">Questo colto signore era dotato del giusto senso delle arti e lo esprimeva in ogni opera sua.</div><a id="catalogo-note-text-toggle-135" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	              </section>