<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="357">
                  <span class="catalogo-item-label">357.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SCHEINER Cristophori</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/357"> Pantographicae, seu ars delineandi,</a></span> 
                     <span class="catalogo-pubPlace">Rome</span> 
                     <span class="catalogo-date">1631,</span>
                     <span class="catalogo-extent"> in 4, fig.</span>
                  </span>
	              </section>