<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="262">
                  <span class="catalogo-item-label">262.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">HUBER ET ROST</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/262">Manuel des curieux et des amateurs de l’art avec une notice des principaux
	graveurs,</a></span> 
                     <span class="catalogo-pubPlace">Zuric</span>
                     <span class="catalogo-date"> 1797 a 1804,</span> 
                     <span class="catalogo-extent">vol. 8, rel. In 4, in 12.</span>
                  </span>
	                 <div class="catalogo-note collapse">Opera da tenersi come un ristretto de’ più grandiosi lavori che abbiamo in tal genere, ma che ha qualche pregio.</div>	
	              </section>