<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="700">
                  <span class="catalogo-item-label">700.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVII</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/700">De architectura lib. X, summa diligentia recogniti, cum nonnullis figuribus hoc
	signo * positis</a></span>, <span class="catalogo-date">1523</span>, in 8, fig.
	<div class="catalogo-note collapse">Elegante e corretta edizione, che dai tipi e dalla carta ritiensi essere egualmente di Firenze non dissimile
	dall’altra del 1522: contrassegnate da un asterisco sono tutte le figure in <span class="catalogo-pb" id="page_130">130</span> tagliale in legno aggiunte fra il
	testo, le quali ridotte in piccola forma, furono tolte dall’edizione del Cesariano.</div>
	
	</span></section>