<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1421">
                  <span class="catalogo-item-label">1421.</span> <span class="catalogo-bibl"><span class="catalogo-author">SALVADORI Andrea</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1421">Guerra di bellezza</a></span>. Festa a cavallo fatta a Firenze per la venuta del
    Serenissimo Principe d’Urbino, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1616</span>, in 8. <div class="catalogo-note collapse">L’invenzione e le poesie furono di Andrea
    Salvadori.</div>
    MDCXVI
    
    </span></section>