<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4712">
                     <span class="catalogo-item-label">4712.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUMPPENBERG Guillelmi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4712">Atlas Marianus, sive de imaginibus Deiparae per orbem christianum miraculosis, libri
duo</a></span>, <span class="catalogo-pubPlace">Monachi</span> <span class="catalogo-date">1657</span>, in 12, fig.
<div class="catalogo-note">La relazione e il tipo figurato in pessime tavole di 50 diverse immagini celebri formano la sostanza di questo
libro.</div>
</span></section>