<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1821">
                  <span class="catalogo-item-label">1821.</span> <span class="catalogo-bibl"><span class="catalogo-author">VERNET Horace</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1821">Les merveilleuses et les incroyables de Paris: Aggiunto Lanté, Les costumes
                     et les cris etc.,</a></span><span class="catalogo-pubPlace"> Paris</span>, in fol.
  <div class="catalogo-note collapse">Sono queste 79 tavole assai ben disegnate, intagliate e acquarellate con gusto, che presentano i moderni costumi
  di Francia, delle quali 32 appartengono al primo e 10 al secondo autore. Vi sono aggiunte di Orazio Vernet le
  Ore del giorno in sei stampine in 8 di due figure ciascuna aggruppate, che sono di bellissima esecuzione.</div>
  
  </span></section>