<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3078">
                     <span class="catalogo-item-label">3078.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZANETTI Hieronimi Francisci</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3078">Sigillum aereum Alesinae e marchionibus Montisferrati nunc primum protulit
notisque illustravit</a></span>, <span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1751</span>, in 8, figurato.
<div class="catalogo-note collapse">Opuscoletto ripieno di preziose notizie.</div>
</span></section>