<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2806">
                     <span class="catalogo-item-label">2806.</span> <span class="catalogo-bibl"><span class="catalogo-author">CHERON Elisabeth Sophie</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2806">Estampes</a></span>, vol., fol.
<div class="catalogo-note collapse">Sono 45 tavole componenti l’opera di questa disegnatrice, la più parte prese da antiche gemme. In fronte a queste
è il magnifico ritratto di lei intagliato avanti le lettere. La maggior parte di queste tavole non sono state che
disegnate da lei: quantunque ne abbia anche alcune intagliate. Essa è conosciuta piuttosto sotto il suo nome di
donzella qui sopra indicato, che di Mad. Le Hay, come poi divenne pel matrimonio. Queste incisioni di gemme
sono di altrettanto bella esecuzione quanto infedele, piena di arbitrio e priva affatto <span class="catalogo-pb" id="page_53">53</span> del gusto antico. Basti
il vedere che sono sostituiti fondi di paese, alterate figure, gruppi ec.</div>
</span></section>