<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4088">
                     <span class="catalogo-item-label">4088.</span> <span class="catalogo-bibl"><span class="catalogo-author">De los SANTOS</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4088">Description breve del monasterio de S. Lorenzo el Real del Escorial unica maravilla del mundo</a></span>,
<span class="catalogo-pubPlace">Madrid</span> <span class="catalogo-date">1657</span>, in fol. p., fig.
<div class="catalogo-note collapse">Con 9 tavole in rame intagliate da Pietro Villafranca e col ritratto di Filippo IV. Queste medesime tavole
servirono anche al Ximenes. Vedi Ximenes.</div>
</span></section>