<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2160">
                  <span class="catalogo-item-label">2160.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2160">DICTIONNAIRE historique et portatif, ou histoire abrégé de tous les hommes, qui se sont fait un
    nom par les talens, vertus etc. </a></span>, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1769</span> a<span class="catalogo-date"> 1773</span>, vol. 5, in 8, avec le supplément.
    </span></section>