<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3470">
                     <span class="catalogo-item-label">3470.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZANETTI Anton Maria</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3470">Varie pitture a fresco dei principali pittori veneziani</a></span>, ora per la prima volta colle stampe
pubblicate, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1760</span>.
<div class="catalogo-note collapse">Queste sono 24 tav. e 6 carte di notizie intorno alla presente raccolta.</div>
</span></section>