<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="310">
                  <span class="catalogo-item-label">310.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">LE CLERC Sébastien</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/310">Les vrais principes du dessein suivis du caractère des passions, gravés sur
	les desseins de Le Brun.</a></span> 
                     <span class="catalogo-extent">92 tavole incise in 8 oblong.,</span> 
                     <span class="catalogo-pubPlace">Paris</span>.
	<div class="catalogo-note collapse">Poco utile come opera elementare è questo libro; ma eseguito con tutta la venustà propria di questo spiritoso
	incisore.</div>
	                 </span>
	              </section>