<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2804">
                     <span class="catalogo-item-label">2804.</span> <span class="catalogo-bibl"><span class="catalogo-author">De la CHAUSSE Michaelis Angeli Causei</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2804">Romanum Museum, sive thesaurus eruditae antiquitatis</a></span>. Editio tertia
romana, cum additamentis, et figuris, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1746</span>, in fol., fig.
<div class="catalogo-note">Questa è la terza ed ultima edizione di quest’opera, che comparve a Roma nel 1690 e nel 1706 fu tradotta in
francese ad Amsterdam, la quale tutta intera fu poi ristampata nel Tesoro del Grevio. La pomposa maniera, con
cui venne annunciata in quest’ultima edizione da noi posseduta, serve a mostrare l’impostura de’ librai, che ne
fecero due volumi ingrossando la carta e aggiungendo poche cose di lieve merito, come un capitolo descrittivo di
alcuni istrumenti musicali e la spiegazione in ristretto d’una ventina di tavole vecchie riprodotte altra volta nel
libro intitolato Aedes Barberinae. Contro le quali imposture e speculazioni vedasi il trattato di Mariette delle
pietre incise a p. 281.</div><div id="catalogo-note-text-2804" class="catalogo-note-search-results truncate-line-clamp">Questa è la terza ed ultima edizione di quest’opera, che comparve a Roma nel 1690 e nel 1706 fu tradotta in
francese ad Amsterdam, la quale tutta intera fu poi ristampata nel Tesoro del Grevio. La pomposa maniera, con
cui venne annunciata in quest’ultima edizione da noi posseduta, serve a mostrare l’impostura de’ librai, che ne
fecero due volumi ingrossando la carta e aggiungendo poche cose di lieve merito, come un capitolo descrittivo di
alcuni istrumenti musicali e la spiegazione in ristretto d’una ventina di tavole vecchie riprodotte altra volta nel
libro intitolato Aedes Barberinae. Contro le quali imposture e speculazioni vedasi il trattato di Mariette delle
pietre incise a p. 281.</div><a id="catalogo-note-text-toggle-2804" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>