<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1125">
                  <span class="catalogo-item-label">1125.</span> <span class="catalogo-bibl"><span class="catalogo-author">De la FONTAINE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1125">Fables choisies en vers par de la Fontaine</a></span>, 4 vol. in fol. fig., <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1755 al
  1759</span>.
  <div class="catalogo-note collapse">Le tavole sono disegnate da Oudry e incise da parecchi de’ migliori incisori di quel tempo col ritratto di Oudry in
  principio.</div>
  
  </span></section>