<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4658">
                    <span class="catalogo-item-label">4658.</span>
		    <span class="catalogo-bibl"><span class="catalogo-author">MORELLI Jacopo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4658">Della
		    pubblica libreria di S. Marco in Venezia,
		    dissertazione storica</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1774</span>, in 8.</span>
		    
<span class="catalogo-bibl"> — Aggiunta <span class="catalogo-title"><a class="catalog-link" href="/catalog/4658">una Narrazione dello stesso intorno l’abate Lastesio</a></span>, senz’anno.</span>
		  </section>