<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1959">
                  <span class="catalogo-item-label">1959.</span> <span class="catalogo-bibl"><span class="catalogo-author">SPERLING</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1959">Judicium Paridis XX emblematibus illustratum cum germanis et latinis versibus</a></span>,
    <span class="catalogo-pubPlace">Aug. Vindel.</span>, sine anno, in fol.
    <div class="catalogo-note">Sono 30 tavole di bell’intaglio con illustrazioni latine tedesche.</div><div id="catalogo-note-text-1959" class="catalogo-note-search-results truncate-line-clamp">Sono 30 tavole di bell’intaglio con illustrazioni latine tedesche.</div><a id="catalogo-note-text-toggle-1959" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    <span class="catalogo-pb" id="page_332">332</span>
               </span></section>