<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3251">
                     <span class="catalogo-item-label">3251.</span> <span class="catalogo-bibl"><span class="catalogo-author">LAPI Giovanni Girolamo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3251">Lezione accademica intorno l’origine dei due laghi Albano e Nemorese</a></span>, <span class="catalogo-pubPlace">Roma</span><span class="catalogo-date"> 1781</span>, in
4, M. 1, in carta grande.
</span></section>