<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3179">
                     <span class="catalogo-item-label">3179.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOCCHI Francesco Girolamo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3179">Dissertazione intorno a un antichissimo greco-cristiano basso rilievo</a></span>, <span class="catalogo-pubPlace">Padova</span> <span class="catalogo-date">1790</span>,
in 8, fig.
<div id="catalogo-note-text-3179" class="catalogo-note truncate-line-clamp">La tavola barbaramente eseguita si vede alfine.</div><a id="catalogo-note-text-toggle-3179" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>