<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2040">
                  <span class="catalogo-item-label">2040.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2040">HISTOIRE du V. et du N. Testament (par David Martin) enrichie de plus de 400 fig.</a></span>, à
  <span class="catalogo-pubPlace">Anverse</span>, par Mortier, <span class="catalogo-date">1700</span>, 2 vol. in fol. f. Esemplare magnifico in maroch. dor.
  <div id="catalogo-note-text-2040" class="catalogo-note truncate-line-clamp">Questa suole denominarsi la Biblia di Mortier: il cui pregio maggiore consiste qualora gli esemplari siano tirati
  
                  
                  
  avanti l’avvenimento per cui si ruppe la lamina ultima dell’Apocalisse a pag. 146 del secondo volume e non
  veggansi in quella stampa i segni dei chiodi che servirono per accomodarla. Quantunque questi segni
  s’incontrino nel nostro esemplare è non pertanto di bellissima conservazione; ma le arti poco possono consolarsi
  dì quest’edizione consecrata a un lusso apparente e non tratta da disegni preziosi e non intagliata con gusto e
  sapore dell’arte.</div><a id="catalogo-note-text-toggle-2040" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>