<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1381">
                  <span class="catalogo-item-label">1381.</span> <span class="catalogo-bibl"><span class="catalogo-author">TROIANO Massimo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1381">Discorsi dei trionfi, giostre, apparati e delle cose più notabili fatte nelle

                  
                  
    
    nozze del Duca Guglielmo di Baviera nel 1568, i 22 Febbraio</a></span>, compartiti in tre libri. Alla
    Serenissima Regina Christierna Danismarchi: di Massimo Trojano da Napoli, musico
    dell’Illustriss. et Eccellen. Sig. Duca di Baviera: in <span class="catalogo-pubPlace">Monaco</span>, appresso Adamo Montano, <span class="catalogo-date">1568</span>.
    <div id="catalogo-note-text-1381" class="catalogo-note truncate-line-clamp">Questo è uno dei più strani, minuziosi e curiosi libri in cui stanno indicati persino gl’ingredienti dei piatti di
    cucina che furono serviti alle mense e leggesi in fine la data cosi scritta : In Monaco Città di Germania 1568.</div><a id="catalogo-note-text-toggle-1381" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDLXXI
    
    </span></section>