<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2644">
                     <span class="catalogo-item-label">2644.</span> <span class="catalogo-bibl"><span class="catalogo-author">AMADUZZI Cristoforo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2644">Raccolta d’antichità argentine, alle quali si uniscono i disegni del tempio di Teseo in
Atene e di quello di Pesto, il tutto espresso in 53 rami con brevi dichiarazioni postume dell’ab</a></span>. Amaduzzi, <span class="catalogo-pubPlace">Roma</span>
<span class="catalogo-date">1798</span>, in fol., fig.
<div class="catalogo-note">Sono le stesse cattive e immense tavole del Pancrazj con poche illustrazioni dell’Amaduzzi prodotte per
speculazione dello stampatore.</div><div id="catalogo-note-text-2644" class="catalogo-note-search-results truncate-line-clamp">Sono le stesse cattive e immense tavole del Pancrazj con poche illustrazioni dell’Amaduzzi prodotte per
speculazione dello stampatore.</div><a id="catalogo-note-text-toggle-2644" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>