<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="142">
                  <span class="catalogo-item-label">142.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/142">IDEA del perfetto pittore per servire di regola nel giudizio che si deve formare intorno l’opere
	  dei pittori,</a></span>
                     <span class="catalogo-date"> 1769 </span>
                     <span class="catalogo-pubPlace">Torino,</span>
                     <span class="catalogo-extent"> in 12.</span>
                  </span>
	                 <div class="catalogo-note">Libro superficiale, di cattiva e scorretta edizione, il quale non è formato però, né estratto dall’altro di Federico
	  Zuccheri, parimente stampato in Torino 1607 che porta quasi lo stesso titolo.</div>	  
	              </section>