<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1181">
                  <span class="catalogo-item-label">1181.</span> <span class="catalogo-bibl"><span class="catalogo-author">LUPPI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1181">Dissertazioni e lettere filologiche antiquarie</a></span>, <span class="catalogo-pubPlace">Arezzo</span> <span class="catalogo-date">1753</span>, in 8, fig. Con qualche
    tavola illustrativa.
    </span></section>