<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2443">
                  <span class="catalogo-item-label">2443.</span> <span class="catalogo-bibl"><span class="catalogo-author">HAGECII Taddei ab Hagek</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2443">Aphorismorum metoposcopicorum libellus unicus</a></span>, <span class="catalogo-pubPlace">Francofurti</span>
    <span class="catalogo-date">1684</span>, in 8, fig. Editio secunda.
    <div id="catalogo-note-text-2443" class="catalogo-note truncate-line-clamp">Elegante libretto per l’edizione e la locuzione, con copiose tavole in legno impresse fra il testo.</div><a id="catalogo-note-text-toggle-2443" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>