<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="722">
                  <span class="catalogo-item-label">722.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVII Marci Pollionis</span>, <span class="catalogo-pubPlace">Genevae</span> <span class="catalogo-date">1586</span>, in 4, fig.
	<div class="catalogo-note">Questi due esemplari l’uno colta data di Ginevra, l’altro <span class="catalogo-pb" id="page_135">135</span> con quella di Lione, sono una medesima e sola
	edizione, la quale esattamente corrisponde a quella del 1552, prodotta dallo stesso Tornesio, colle medesime
	figure.</div><div id="catalogo-note-text-722" class="catalogo-note-search-results truncate-line-clamp">Questi due esemplari l’uno colta data di Ginevra, l’altro <span class="catalogo-pb" id="page_135">135</span> con quella di Lione, sono una medesima e sola
	edizione, la quale esattamente corrisponde a quella del 1552, prodotta dallo stesso Tornesio, colle medesime
	figure.</div><a id="catalogo-note-text-toggle-722" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>