<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="61">
                  <span class="catalogo-item-label">61.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">WINCKELMANN, Addisson, Sultzer ec., </span>
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/61">De l’allégorie, ou traités sur cette matière, recueil utile
	  aux gens de <span class="catalogo-pb" id="page_10">10</span> lettres et nécessaire aux artistes,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-extent">An. VII, 2. vol. in 8.</span>
                  </span>
	                 <div class="catalogo-note collapse">Nel primo volume è il saggio sull’allegoria di Winckelmann scritto per uso degli artisti che apparve a Dresda la
	  prima volta nel 1766. Nel secondo sono i tre dialoghi sull’utilità delle antiche medaglie di Addisson. Le
	  osservazioni di Gibbon sui medesimi ed il discorso sull’allegoria di Sultzer con alcune osservazioni sugli
	  attributi di Cerere, sulla maniera di figurare l’Eterno Padre e sulle divinità alate. Tutto corredato di indici
	  copiosissimi.</div>
               </section>