<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3018">
                     <span class="catalogo-item-label">3018.</span> <span class="catalogo-bibl"><span class="catalogo-author">De STRADA Jacobus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3018">Epitome thesauri antiquitatum hoc est Imp. Rom. Orient. ac Occident. iconum et antiquis
numismatibus quam fidellissime delineatarum</a></span>, <span class="catalogo-pubPlace">Lugduni</span> <span class="catalogo-date">1553</span>, in 4, fig., I edizione.
<div class="catalogo-note">Quest’opera erudita e laboriosissima pei copiosi intagli in legno sparsi fra le pagine del testo meritava d’essere
ricordata da’bibliografi, che la maggior parte non ne parlano. Quest’antiquario mantovano celebratissimo diede
questo lavoro in un tempo che poco la numismatica si sapeva e si limitò a trarre dalle medaglie le effìgie degli
imperatori; ma ricavò le notizie da buone correnti con sana critica.</div>
</span></section>