<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3333">
                     <span class="catalogo-item-label">3333.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCHIOPPALALBA Joan. Baptistae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3333">In perantiquam sacram tabulam graecam, insigni sodalitio sanctae Mariae
Charitatis Venetiarum, ab amplissimo cardinali Bessarione dono datam; dissertatio</a></span>, <span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1767</span>, in 4, fig.
<div class="catalogo-note collapse">Vi fu un cappellano di S. M. della Carità, che illustrò questo prezioso monumento. Ma fin’ora non fu né un
cappellano, né un canonico di S. Marco che illustrasse la Palla d’Oro, la quale è il primo monumento d’arti della
cristianità. Questo lavoro è ben fatto: col ritratto del Bessarione e quattro gran tavole in fine. Il monumento ora
trovasi in Vienna.</div>
</span></section>