<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1434">
                  <span class="catalogo-item-label">1434.</span> <span class="catalogo-bibl"><span class="catalogo-author">PONA Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1434">La maschera Jatropolitica, ovvero cervello et cuore, Prencipi Reali, aspiranti
    alla Monarchia del Microcosmo</a></span>, gioco serio di Eureta Misoscolo all’Illustrissimo Girolamo
    Cornaro, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1627</span>, in 4, presso Marco Ginammi.
    <div class="catalogo-note">Questa operetta fa stesa da Francesco Pona ed è assai stravagante.</div>
    MDCXXVIII
    
    </span></section>