<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2396">
                  <span class="catalogo-item-label">2396.</span> <span class="catalogo-bibl"><span class="catalogo-author">VASARI Giorgio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2396">Vita di Michelangelo Buonarroti pittore, scultore e architetto fiorentino,
    aggiuntevi copiose note</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1760</span>, in 4.<div class="catalogo-note collapse">
    Col ritratto e il monumento sepolcrale di Michelangelo e il suo disegno originale del sepolcro di Giulio II e di
    una mano segnata, in penna da lui, il tutto intagliato in rame.</div>
    
    </span></section>