<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3343">
                     <span class="catalogo-item-label">3343.</span> <span class="catalogo-bibl"><span class="catalogo-author">De SIMEONIBUS Thoma</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3343">Historica dissertatio de tollenda ambiguitate inter duas antiquas romanas matronas
Aniciam Faltoniam Probam, et Valeriam Faltoniam Probam</a></span>, <span class="catalogo-pubPlace">Bononiae</span> <span class="catalogo-date">1692</span>, in 4, M. 40.
<div class="catalogo-note collapse">La prima fu moglie di Sesto Petronio Probo e la seconda di Adelfo Proconsole e fu poetessa d’ingegno
meccanico che trasse dalle opere di Virgilio un miserabile centone della vita di Cristo storpiando quel classico
senza pietà e trovando un editore della sua puerile fatica nel 1692.</div>
</span></section>