<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4150">
                     <span class="catalogo-item-label">4150.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCOTTI Francisci</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4150">Itinerariae Italiae rerumque romanarum libri tres</a></span>, <span class="catalogo-pubPlace">Antuerpiae</span>,
                        ex officina Plantiniana, <span class="catalogo-date"/>1600, in
12.
</span></section>