<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1805">
                  <span class="catalogo-item-label">1805.</span> <span class="catalogo-bibl"><span class="catalogo-author">STUCKII Guillelmi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1805">Antiquitatum convivalium libri tres,</a></span><span class="catalogo-pubPlace"> Tiguri</span><span class="catalogo-date"> 1582</span>, in fol.
  <div class="catalogo-note">Grand’opera in cui raccogliesi tutto ciò che in questa materia si è saputo e citato da tutti gli autori, prendendo la
  cosa sotto ogni aspetto d’erudizione. Questi si estende oltre le 800 pagine in un carattere minuto e corsivo. Nel
  
                  
                  
     1695 fu ristampata con altra opera del medesimo autore.</div>
  
  </span></section>