<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1893">
                  <span class="catalogo-item-label">1893.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1893">EMBLEMS of morality</a></span>, <span class="catalogo-date">1789</span> <span class="catalogo-pubPlace">London</span>, in 8, fig.
    <div class="catalogo-note">Le tavole sono di Hollar; copiate dal Trionfo della Morte d’Holbein. In questo moderno cattivo esemplare sono
    riportate dicontro alle stampe dell’edizione di Londra le altre preziose stampe originali del Hollart, che lo
    rendono prezioso.</div>
    
    </span></section>