<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4036">
                     <span class="catalogo-item-label">4036.</span> <span class="catalogo-bibl"><span class="catalogo-author">MALASPINA di S. Nazaro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4036">Memorie storiche della fabbrica della cattedrale di Pavia</a></span>,
                        <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1816</span>, in fol. atl., M. 85.</span>
		     <div class="catalogo-note collapse">Con 3 tavole intagliate in rame. L’autore propone un progetto di facciata, e produce altre proposizioni anteriori.</div>
		  </section>