<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1735">
                  <span class="catalogo-item-label">1735.</span> <span class="catalogo-bibl"><span class="catalogo-author">NONNII Ludovici</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1735">Diaeteticon, sive de re cibaria libri quatuor:</a></span> nunc primum lucem vidit,
  <span class="catalogo-pubPlace">Antuerpiae</span> <span class="catalogo-date">1646</span>, in 4.
  <div class="catalogo-note collapse">Con indice amplissimo delle materie eruditissime che compongono quest’opera.</div>
  
  </span></section>