<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2375">
                  <span class="catalogo-item-label">2375.</span> <span class="catalogo-bibl"><span class="catalogo-author">TASSI Francesco Maria Conte Cav.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2375">Vite de pittori, scultori e architetti bergamaschi, vol. 2,
   </a></span> <span class="catalogo-pubPlace">Bergamo</span> <span class="catalogo-date">1793</span>, in 4.
    Col ritratto dell’autore.
    
    </span></section>