<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2101">
                  <span class="catalogo-item-label">2101.</span> <span class="catalogo-bibl"><span class="catalogo-author">SADELER Egidius</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2101">I 12 Cesari dipinti da Tiziano intagliati in 12 tavole in fol. accompagnati <span class="catalogo-pb" id="page_362">362</span> dalle 12 mogli dei Cesari incise dallo stesso, ma da altri disegni</a></span>; sotto ciascuna stanno quattro distici
  latini, <span class="catalogo-pubPlace">Paris</span>, chez la V. de Cherau.
  
  </span></section>