<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="337">
                  <span class="catalogo-item-label">337.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DEL MEDICO Giuseppe</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/337"> Anatomia per l’uso de’ pittori e scultori,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1811.</span>
	                    <div class="catalogo-note collapse">Esemplare distinto in carta velina tinta, con tavole in due colori, M. 83.</div>
                  </span>
	
	              </section>