<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2218">
                  <span class="catalogo-item-label">2218.</span> <span class="catalogo-bibl"><span class="catalogo-author">BORGHINI Rafaello</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2218">Il Riposo, seconda edizione</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1730</span>, in 4.
    <div class="catalogo-note collapse">Edizione riprodotta per cura di Anton M. Biscioni, con note ampliata ec.</div>
    
    </span></section>