<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="665">
                  <span class="catalogo-item-label">665.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SERLIO Sebastiano</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/665">Regole generali d’architettura sopra le cinque maniere degli edifici,</a></span>
	                    <span class="catalogo-pubPlace">Venezia,</span> 
                     per Francesco Marcolini, 
                     <span class="catalogo-date">1544,</span> 
                     <span class="catalogo-extent">fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Quello non è che il quarto libro del Serlio, ma è da notar <span class="catalogo-pb" id="page_121">121</span> si che a render prezioso questo esemplare sono
	inserite in rispettivi luoghi le nove stampe delle basi e dei capitelli degli ordini, intagliati da Agostino Veneziano
	colle marche A. V. l’anno 1528. Sta in ciascuna di esse inciso il privilegio, allora ottenuto, Cantum sic ne aliquis
	imprimat ut in privilegio constat. Il nome dì ciascun ordine è espresso colle parole dorica, ionica etc.
	accompagnato dalle iniziali S. B. Le quali significano Serlio Bolognese. Bairtsch nella sua opera le Peintre
	graveur vol. 14 sez. 11, ai numeri 525, e 533 indica queste nove rare stampe, ignorando però che appaitengano
	all’architettura del Serlio. Nel 1636 Antonio Sadeler le riprodusse senza il privilegio e senza le iniziali,
	ponendovi soltanto il suo nome. Magnifico esemplare in vit.</div><div id="catalogo-note-text-665" class="catalogo-note-search-results truncate-line-clamp">Quello non è che il quarto libro del Serlio, ma è da notar <span class="catalogo-pb" id="page_121">121</span> si che a render prezioso questo esemplare sono
	inserite in rispettivi luoghi le nove stampe delle basi e dei capitelli degli ordini, intagliati da Agostino Veneziano
	colle marche A. V. l’anno 1528. Sta in ciascuna di esse inciso il privilegio, allora ottenuto, Cantum sic ne aliquis
	imprimat ut in privilegio constat. Il nome dì ciascun ordine è espresso colle parole dorica, ionica etc.
	accompagnato dalle iniziali S. B. Le quali significano Serlio Bolognese. Bairtsch nella sua opera le Peintre
	graveur vol. 14 sez. 11, ai numeri 525, e 533 indica queste nove rare stampe, ignorando però che appaitengano
	all’architettura del Serlio. Nel 1636 Antonio Sadeler le riprodusse senza il privilegio e senza le iniziali,
	ponendovi soltanto il suo nome. Magnifico esemplare in vit.</div><a id="catalogo-note-text-toggle-665" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>