<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1101">
                  <span class="catalogo-item-label">1101.</span> <span class="catalogo-bibl"><span class="catalogo-author">HOMERI</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/1101">Illiadis fragmenta et picturae: accedunt scholia vetera ad Odysseam</a></span>, item Didymi
      Alexandrini marmorum et lignorum mensurae edente Angelo Maio Ambrosiani Collegii doct.
      ec. Mediolani Regiis typis <span class="catalogo-date">1819</span>, in fol.
      <div class="catalogo-note collapse">Sono 58 gli antichi fragmenti intagliati e pubblicati in quest’opera, non molto dissimili per lo stile da quelli del
      Codice Virgiliano e del Terenziano nella libreria Vaticana già noti e pubblicati.</div> Vedi <span class="catalogo-author">TISCHBEIN</span>. Vedi <span class="catalogo-author">DE PASSE
      CRISPIN</span>.
      
      </span></section>