<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1949">
                  <span class="catalogo-item-label">1949.</span> <span class="catalogo-bibl"><span class="catalogo-author">RUSCELLI Jeronimo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1949">Le imprese illustri</a></span>: <span class="catalogo-bibl">Aggiuntovi nuovamente il 4 libro da <span class="catalogo-author">Vincenzo
    Ruscelli da Viterbo</span>, <span class="catalogo-pubPlace">Venezia</span>, per Franceschi, <span class="catalogo-date">1584</span>, in 4, fig.</span>
    <div class="catalogo-note">Sonovi 235 imprese ben intagliate in rame divise in tre libri precedute da un bel frontespizio figurato di Giacomo
    Franco. Questi tre libri sono seguiti da un quarto, con un altro frontespizio e diverse numerazione di pagine,
    stampato probabilmente alcuni mesi dopo con altre 20 tavole. Opera ben eseguita ed eruditamente illustrata.</div><div id="catalogo-note-text-1949" class="catalogo-note-search-results truncate-line-clamp">Sonovi 235 imprese ben intagliate in rame divise in tre libri precedute da un bel frontespizio figurato di Giacomo
    Franco. Questi tre libri sono seguiti da un quarto, con un altro frontespizio e diverse numerazione di pagine,
    stampato probabilmente alcuni mesi dopo con altre 20 tavole. Opera ben eseguita ed eruditamente illustrata.</div><a id="catalogo-note-text-toggle-1949" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>