<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1421">
                  <span class="catalogo-item-label">1421.</span> <span class="catalogo-bibl"><span class="catalogo-author">SALVADORI Andrea</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1421">Guerra di bellezza</a></span>. Festa a cavallo fatta a Firenze per la venuta del
    Serenissimo Principe d’Urbino, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1616</span>, in 8. <div class="catalogo-note">L’invenzione e le poesie furono di Andrea
    Salvadori.</div><div id="catalogo-note-text-1421" class="catalogo-note-search-results truncate-line-clamp">L’invenzione e le poesie furono di Andrea
    Salvadori.</div><a id="catalogo-note-text-toggle-1421" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCXVI
    
    </span></section>