<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4596">
                     <span class="catalogo-item-label">4596.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARACCIOLO Pasquale</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4596">La gloria del cavallo divisa in dieci libri, Venezia</a></span>, <span class="catalogo-pubPlace">Giolito</span>, <span class="catalogo-date">1567</span>, in 4.
<div id="catalogo-note-text-4596" class="catalogo-note truncate-line-clamp">Opera la più vasta che conosciamo in questa materia, senza figure, con molte e ben estese tavole delle materie,
ma che eccede le mille pagine di testo: stampato in minuto carattere corsivo. Nel 1587 ne comparve una seconda
edizione ricorretta</div><a id="catalogo-note-text-toggle-4596" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>