<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2695">
                     <span class="catalogo-item-label">2695.</span> <span class="catalogo-bibl"><span class="catalogo-author">PATERNÒ Ignazio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2695">Viaggio per tutte le antichità della Sicilia descritto</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1781</span>, in 4.
<div class="catalogo-note">Questo colto signore aveva ben viaggiato e conosciuto il suo paese e resone conto al viaggiatore in modo utile ed
istruttivo.</div>
</span></section>