<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1675">
                  <span class="catalogo-item-label">1675.</span> <span class="catalogo-bibl"><span class="catalogo-author">Le HAY</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1675">Recueil de cent estampes réprésentantes differentes nations du Levant, tirées sur les
    tableaux peints d’aprés nature par les ordres de Monsieur de Ferriol Ambassadeur du Roi à la
    Porte</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1714</span>, in fol.
    <div class="catalogo-note collapse">Questo esemplare apparteneva alla biblioteca di M. Crozat ed è di prima edizione, quantunque vi sieno le

                  
                  
    spiegazioni, le 3 tavole addizionali intitolate Enterremens turques, Derviches qui tourent e una pagina di musica,
    le quali per solito non trovatisi riunite che nell’edizione dell’anno posteriore. Legato in mar. dorato.
    </div>
    </span></section>