<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1108">
                  <span class="catalogo-item-label">1108.</span> <span class="catalogo-bibl"><span class="catalogo-author">De PASSÉ Crispin</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1108">Speculum heroicum principis omnium temporam poetarum</a></span>, Homeri idest.
      <span class="catalogo-pubPlace">Traiecti Bat.</span> <span class="catalogo-date">1613</span>, in 4, fig. Latino francese.
      <div class="catalogo-note">Tavole 24 dimostrative dì bellissimo intaglio sono accompagnate dal soggetto dei libri dell’Iliade esteso dal sig.
      T. Hillaire de la Riviere. Il frontespizio presenta un ritratto di Omero coronato da due Sirene. Trovasi inoltre
      anche il ritratto del sig. de la Riviere; e compresovi il frontespizio i canti sono preceduti da dieci foglietti di
      preliminari ed altri quattro seguono dopo il 34 argomento, nei quali sono gli epitafii agli eroi estinti nella guerra
      di Troia.</div><div id="catalogo-note-text-1108" class="catalogo-note-search-results truncate-line-clamp">Tavole 24 dimostrative dì bellissimo intaglio sono accompagnate dal soggetto dei libri dell’Iliade esteso dal sig.
      T. Hillaire de la Riviere. Il frontespizio presenta un ritratto di Omero coronato da due Sirene. Trovasi inoltre
      anche il ritratto del sig. de la Riviere; e compresovi il frontespizio i canti sono preceduti da dieci foglietti di
      preliminari ed altri quattro seguono dopo il 34 argomento, nei quali sono gli epitafii agli eroi estinti nella guerra
      di Troia.</div><a id="catalogo-note-text-toggle-1108" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>