<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2680">
                     <span class="catalogo-item-label">2680.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAJOR Thomas</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2680">The ruins of Paestum, otherwise Posidonia in magna Grecia</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1768</span>, in fol. figurato.
<div class="catalogo-note">Opera pubblicata con molto apparato di lusso, ma la precisione che vuolsi nelle opere di questo genere non
corrisponde all’aspettazion che ne avevano formata i dotti e specialmente gli architetti. Ciò si avverte anche nella
successiva opera del Paoli sullo stesso soggetto.</div><div id="catalogo-note-text-2680" class="catalogo-note-search-results truncate-line-clamp">Opera pubblicata con molto apparato di lusso, ma la precisione che vuolsi nelle opere di questo genere non
corrisponde all’aspettazion che ne avevano formata i dotti e specialmente gli architetti. Ciò si avverte anche nella
successiva opera del Paoli sullo stesso soggetto.</div><a id="catalogo-note-text-toggle-2680" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
<span class="catalogo-pb" id="page_32">32</span>
                  </span></section>