<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4471">
                        <span class="catalogo-item-label">4471.</span> <span class="catalogo-bibl"><span class="catalogo-author">JOULLAIN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4471">Catalogue d’une belle colléction de tableaux, desseins, estampes, sculptures du Cabinet de M. Bourlat
de Montredon</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1778</span>, in 8, coi prezzi.
</span></section>