<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3125">
                     <span class="catalogo-item-label">3125.</span> <span class="catalogo-bibl"><span class="catalogo-author">MALVASIAE cav. Caes.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3125">Nuova interpretazione della famosa iscrizione enigmatica Aelia Laelia Crispis</a></span>, <span class="catalogo-pubPlace">Bologna</span>
<span class="catalogo-date">1760</span>, in 4, M. 30.
<div class="catalogo-note collapse">Questa spiegazione anonima è d’un carmelitano: ma molti letterati si ruppero il capo in un indovinello
immaginato per prendersi giuoco di loro.
Unita a questa ne segue un’altra, stampata pure nel 1761 d’un frate min. osservante riformato, M. 30.</div>
</span></section>