<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="682">
			<span class="catalogo-item-label">682.</span>
			<span class="catalogo-bibl"><span class="catalogo-author">VASCONI Filippo</span>,
			<span class="catalogo-title"><a class="catalog-link" href="/catalog/682">Studiò d’architettura civile</a></span>,
			<span class="catalogo-pubPlace">Roma</span>, <span class="catalogo-extent">in fol., senz’anno.</span></span>
			
			<div class="catalogo-note">Non contiene che 19 porte ornate di barbaro
			gusto.</div>
		      </section>