<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2050">
                  <span class="catalogo-item-label">2050.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2050">IMAGINES Sanctorum Francisci et qui ex tribus eius ordinibus relati sunt inter divos cum
  elogiis</a></span>, auct. F. Honrico Sedulio, <span class="catalogo-pubPlace">Antuerpiae</span>, ap. Phil.Gallaeum, <span class="catalogo-date">1602</span>, in 8, fig. M. 95.
  <div id="catalogo-note-text-2050" class="catalogo-note truncate-line-clamp">Sonovi 10 tavole oltre il frontespizio figurato, le quali furono sì largamente intagliate per lo stile del bulino, che
  superano il merito ordinario delle opere di questo diligente intagliatore.</div><a id="catalogo-note-text-toggle-2050" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>