<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1664">
                  <span class="catalogo-item-label">1664.</span> <span class="catalogo-bibl"><span class="catalogo-author">GOCLERII Rod.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1664">De luxu convivali nostri speculi, ganeaeque artificibus, origine, auctoribus et
    assectis oratio</a></span>, <span class="catalogo-pubPlace">Malpurgii</span> <span class="catalogo-date">1607</span>, in 12.
    <div class="catalogo-note">Opuscoletto non comune e pieno di erudizione.</div><div id="catalogo-note-text-1664" class="catalogo-note-search-results truncate-line-clamp">Opuscoletto non comune e pieno di erudizione.</div><a id="catalogo-note-text-toggle-1664" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>