<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4091">
                     <span class="catalogo-item-label">4091.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCARDEONII Bernardini</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/4091"> De antiquitate urbis Patavii, et claris civibus patavinis lib. III. Ejusdem appendix de
sepulchris insignibus esterorum Patavii jacentium</a></span>, in fol. pic., <span class="catalogo-pubPlace">Basileae</span> <span class="catalogo-date">1560</span>.
<div class="catalogo-note collapse">A retro del frontespizio è una veduta di Padova intagliata in legno. Quest’opera è piena di ottime ed utili notizie e
non è fra’ libri facili a rinvenirsi.</div>
</span></section>