<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3467">
                    <span class="catalogo-item-label">3467.</span>
		    <span class="catalogo-bibl"><span class="catalogo-author">VISCONTI Giovan Battista</span> ed Ennio Quirino, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3467">Il Museo Pio Clementino descritto</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1782</span>, vol. 8, in fol. atl.,fig.</span>
		    <div id="catalogo-note-text-3467" class="catalogo-note truncate-line-clamp"><p>Dopo il 6 volume, che uscì nel 1792, stette quest’opera sospesa, finché non comparve nel 1807 un settimo
volume dedicato al papa Chiaramonti contenente le miscellanee del Museo Pio Clementino, descritto dallo stesso
Ennio Quirino; e finalmente l’ottavo volume col titolo di Tomo primo del Museo Chiaramonti, aggiunto al Pio
Clementino, coll’esplicazione de’ sigg. Filippo Aurelio Visconti e Giuseppe Guattani, venne alla luce nel 1808.
Può dirsi esser questa l’opera più grandiosa di antichità illustrate che abbiamo. Giovan Battista Visconti prefetto
delle antichità di Roma, padre del celebre Ennio Quirino, l’incominciò sotto il pontificato di Clemente XIV e
pubblicò il primo volume nel 1752, regnante Pio VI, cui lo intitolò, proseguendo ad ampliarsi il Museo
incominciato dal papa precedente. Contiene questo tomo I 52 tav. di statue e due tavole marcate A. B. con
monumenti che servono alle illustrazioni: In principio è il ritratto di Pio VI e la pianta generale del Museo.</p>

<p>Morto il sig. Giovan Batista Visconti, successe nell’impresa Ennio Quirino, che pubblicò il secondo volume nel
1784 con altre 32 tavole di statue e due tavole di monumenti illustrativi e il ritratto in principio. Il terzo volume
contiene 50 tavole di statue e un nuovo ritratto del papa e tre tavole illustrative. Il quarto contiene 45 tav. di bassi
rilievi, due tavole di monumenti illustrativi e le tre statue di Apollo, di Venere e di Meleagro intagliate da Luigi
Cunego in aumento de’ primi volumi. Nel quinto sono 45 tav. di bassi rilievi, due tav. illustrative e un sarcofago
oltre il numero. Nel sesto sono 61 tav. di busti e due tavole di mouumenti illustrativi. Il tomo VII fu dedicato a
Pio VII col ritratto in fronte di questo papa e intitolato Miscellanea del Museo Pio Clemen <span class="catalogo-pb" id="page_151">151</span>tino con 50
tavole e due di monumenti illustrativi. L’ottavo tomo, illustrato dal sig. Filippo Visconti fratello del defunto
Ennio Quirino e dal Guattani, contiene 44 tavole di monumenti di vario genere e si intitola Museo Chiaramonti;
avvi una tavola illustrativa e un nuovo ritratto del papa. In tutto 428 tavole.</p></div><a id="catalogo-note-text-toggle-3467" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
		  </section>