<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3591">
                     <span class="catalogo-item-label">3591.</span> <span class="catalogo-bibl"><span class="catalogo-author">BANCK L.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3591">Roma triumphans, seu actus inaugurationum et coronationum pontificum romanorum et in specie
Innocentii X pont. max. Brevis descriptio etc. Editio secunda triplo auctior</a></span>, <span class="catalogo-pubPlace">Franekerae</span> <span class="catalogo-date">1656</span>, in 12, fig.
<div class="catalogo-note">Libretto ancora più raro e singolare del precedente per molte singolarità del testo, e delle tavole che trovansi in
fine in numero di 16 ove stanno le cavalcate pontificie col treno ec. Oltre il frontespizio figurato, e il ritratto
d’Innocenzo X.</div>
</span></section>