<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="754">
                  <span class="catalogo-item-label">754.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAMILLO Giulio Delminio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/754">Tutte le opere, nelle quali è compresa anche la sovraddetta del
	teatro</a></span>, volumi due stampati, il primo nel <span class="catalogo-date">1563</span> il secondo <span class="catalogo-date">1565</span> in <span class="catalogo-pubPlace">Vinegia</span> per il Giolito in 12
	legati in un solo volume.Aggiuntovi: in fine <span class="catalogo-author">Leon B. Alberti</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/754">Concetti amorosi</a></span>, ne’ quali sotto
	il nome di Hecatonfila si insegna la bella e ingegnosa arte d’amore con un dialogo intitolato
	Deifira, che ne mostra come si debbe fuggire il mal cominciato amore. <span class="catalogo-pubPlace">Genova</span> presso Ant.
	Bellone <span class="catalogo-date">1672</span>.
	
	                 
	                 
	
	              </span></section>