<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1977">
                  <span class="catalogo-item-label">1977.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZINNE-BEELDEN oft. Adams Appel.</span>, <span class="catalogo-pubPlace">Ams.</span> <span class="catalogo-date">1642</span>, in 4.
    <div class="catalogo-note">Sonavi 50 assai belle tavole intagliate con gusto all’acqua forte, che esprimono allegorie sacre e morali, con
    copiose illustrazioni in olandese.</div></span></section>