<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3036">
                     <span class="catalogo-item-label">3036.</span> <span class="catalogo-bibl"><span class="catalogo-author">VAILLANT Joannis Foj</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3036">Arsacidarum imperium, sive regum Parthorum historia ad fidem numismatum
accomodata. Item Achaemenidarum imperium, sive ejusdem auctoris historia regum Ponti, Bosphori, et
Bithyniae, ad fidem numismatum accomodata</a></span>; ex editione et cum praefatione Caroli de Valois de la Marre,
<span class="catalogo-pubPlace">Parisiis</span> <span class="catalogo-date">1725</span>, 2 vol., in 4, fig.
<div class="catalogo-note">Le tavole sono stampate fra il testo dell’opera.</div>
</span></section>