<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3394">
                     <span class="catalogo-item-label">3394.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3394">GALERIE eléctorale de Dusseldorff, ou catalogue raisonné, et figuré des ses tableaux, ouvrage composé d’un goût
nouveau par Nicolas de Pigage avec une suite de 30 planch. contenant 365 estampes, gravées d’apres les
tableaux</a></span>, a <span class="catalogo-pubPlace">Bâle</span>, chez Mechel, <span class="catalogo-date">1778</span>, 2 vol., in fol. obl.
<div class="catalogo-note collapse">Nell’uno di questi volumi sono contenute le tavole e nell’altro il testo: opera eseguita con diligenza, ma in
piccola dimensione non può rendere altra idea che della distribuzione e dei motivi delle composizioni.</div>

                     
                     
                  </span></section>