<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1471">
                  <span class="catalogo-item-label">1471.</span> <span class="catalogo-bibl"><span class="catalogo-author">VASCO Giulio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1471">Del funerale celebrato nel Duomo di Torino all’Altezza R. di Carlo Emanuele
    II</a></span>, <span class="catalogo-pubPlace">Torino</span> <span class="catalogo-date">1675</span>, in fol. fig.
    <div class="catalogo-note collapse">La narrazione e del P. Giulio Vasco gesuiti con sei tavole intagliate in gran foglio.</div>
    MDCLXXX
    
    </span></section>