<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3484">
                     <span class="catalogo-item-label">3484.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOCCHI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3484">Eccellenza della statua di S. Giorgio di Donatello scultore fiorentino, posta nella facciata
d’Orsan Michele scritta in lingua fiorentina</a></span>, <span class="catalogo-pubPlace">Fiorenza</span>, pel Marescotti, <span class="catalogo-date">1584</span>, in 8.
</span></section>