<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1398">
                  <span class="catalogo-item-label">1398.</span> <span class="catalogo-bibl"><span class="catalogo-author">CATARI Baldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1398">Pompa funerale fatta dal Cardinal Montalto nella trasportazione dell’ossa di
    Sisto V</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1591</span>, in 4, fig.
    <div class="catalogo-note">Baldo Catani scrisse le narrazioni e le 14 tavole vennero intagliate da Francesco Villamena sui disegni di
    Prospero Bresciano, di Ventura Salimbeni ed altri artisti. Libro di buona esecuzione.</div><div id="catalogo-note-text-1398" class="catalogo-note-search-results truncate-line-clamp">Baldo Catani scrisse le narrazioni e le 14 tavole vennero intagliate da Francesco Villamena sui disegni di
    Prospero Bresciano, di Ventura Salimbeni ed altri artisti. Libro di buona esecuzione.</div><a id="catalogo-note-text-toggle-1398" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDXCI
    
    </span></section>