<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="776">
                  <span class="catalogo-item-label">776.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/776">RÉFLÉXIONS d’un patriote sur l’opera française et sur l’opera italienne, qui presente le paralèlle
	du goût des deux nations dans les beaux arts</a></span>, <span class="catalogo-pubPlace">Losanne</span> <span class="catalogo-date">1754</span>, en 8.
	— Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/776">Essai sur la peinture, la sculpture, et l’architetture</a></span>, <span class="catalogo-date">1751</span>.
	</span></section>