<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1139">
                  <span class="catalogo-item-label">1139.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOCCHI Francisci</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1139">Epistola seu opusculum de restitutione sacrae Testudinis Fiorentina ad per
    illustrem Franciscum Niccolium Rom. Florentiae, ap. Sermartellium</a></span>, <span class="catalogo-date">1604</span>, in 8. M. 97.
    <div class="catalogo-note">Nel frontespizio è la tavola della cupola intagliata in legno: riferisce ai danni, che del 1600 sofferse quell’edilizio
    a cagione del fulmine caduto nel mese di febbraio. Opuscolo interessante e raro a trovarsi. È composto di a 3
    pagine.</div>
    
    </span></section>