<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1416">
                  <span class="catalogo-item-label">1416.</span> <span class="catalogo-bibl"><span class="catalogo-author">ADIMARI Ales.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1416">Esequie dell’Illustriss. et Eccell. Principe D. Francesco Medici celebrate dal
    Serenissimo Cosimo II G. D. di Toscana IV</a></span>, descritte da Alessandro Adimari, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1614</span>,
    in 4, fig. Comincia il frontespizio figurato, indi un buon ritratto di Francesco Medici: seguono
    21 tavole d’emblemi e una ultima tavola col catafalco.
    <div class="catalogo-note collapse">Vi è aggiunto altro opuscolo: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1416">Laudatio in funere Francisci Medicei habita a Balduino de Monte</a></span>, Flor. 1614,
    Giunti.</div>
    MDCXIV
    
    </span></section>