<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4766">
                     <span class="catalogo-item-label">4766.</span> <span class="catalogo-bibl"><span class="catalogo-author">CIAMPI Sebastiano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4766">Feriae Varsavienses</a></span>, <span class="catalogo-pubPlace">Varsaviae</span> <span class="catalogo-date">1819</span>, in 4.
<div class="catalogo-note">Trattasi particolarmente in questo quaderno d’illustrare qualche luogo di Pausania, ed in ispecie del tempio di
Giove Olimpico, con una tavola in fol.</div>
</span></section>