<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3860">
                     <span class="catalogo-item-label">3860.</span> <span class="catalogo-bibl"><span class="catalogo-author">RONDININI Philippus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3860">De sanctis martyribus Joanne et Paulo eorumque basilica in urbe Romae, vetera monimenta
collecta, et concinnata</a></span>, <span class="catalogo-pubPlace">Romae</span>, <span class="catalogo-date">1707</span>, fig., in 4, per Franciscum Gonzagam.
<div id="catalogo-note-text-3860" class="catalogo-note truncate-line-clamp">Con due tavole in 4. Edizione nitidissima.</div><a id="catalogo-note-text-toggle-3860" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>