<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3596">
                     <span class="catalogo-item-label">3596.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARGAEI Petri Angeli</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3596">De privatorum, pubblicorumque aedificiorum urbis Romae eversoribus. Epistola ad Petrum
Usimbardum</a></span>, <span class="catalogo-pubPlace">Florentiae</span>, apud Sermartellium, <span class="catalogo-date">1589</span>, in 4.
</span></section>