<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3380">
                     <span class="catalogo-item-label">3380.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3380">DESCRIZIONE italiana e francese, di tutto ciò che si contiene nella Galleria Sampieri</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1785</span>, in 8.
<div class="catalogo-note collapse">Giova di avere questo libro per conservare la traccia di ciò che ora non esiste riunito. Il più fa parte però della
Galleria di Milano all’Accademia di Belle Arti.</div>
<span class="catalogo-pb" id="page_134">134</span>
                  </span></section>