<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1804">
                  <span class="catalogo-item-label">1804.</span> <span class="catalogo-bibl"><span class="catalogo-author">STRUTT Joseph</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1804">Angleterre ancienne, ou tableau des moeurs, usages, armes, habillements etc.
                     des anciens habitants de l’Angleterre, ouvrage traduit de l’anglais par M. B. **,</a></span><span class="catalogo-pubPlace"> Paris</span><span class="catalogo-date"> 1789</span>, 2
  vol., in 4, fig.
  <div id="catalogo-note-text-1804" class="catalogo-note truncate-line-clamp">Quest’opera è annunciata dal traduttore come continuazione delle collezioni di Montfaucon e di Caylus. Le
     tavole in numero di 77 sono nel volume secondo.</div><a id="catalogo-note-text-toggle-1804" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>