<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="194">
                  <span class="catalogo-item-label">194.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">REQUENO D. Vincenzo</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/194"> Scoperta della chironomia, ossia dell’arte di gestire colle mani,</a></span> 
                     <span class="catalogo-pubPlace">Parma</span>
	                    <span class="catalogo-date">1797,</span>
                     <span class="catalogo-extent"> in 8, fig.</span> con tre tavole esprimenti il gesto delle mani.</span>
	              </section>