<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1633">
                  <span class="catalogo-item-label">1633.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1633">DISCORSO breve dell’insegne pinte delle famiglie nobili nel quale si disputa s’elle fussero
    appresso gli antichi in uso.</a></span>
    <div class="catalogo-note collapse">Opuscoletto manoscritto di sedici pagine di testo ed esteso con molta dottrina e buon gusto di stile.
    </div>
    </span></section>