<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2822">
                     <span class="catalogo-item-label">2822.</span> <span class="catalogo-bibl"><span class="catalogo-author">DONI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2822">Dichiarazione sopra l’effigie di <span class="catalogo-pb" id="page_55">55</span> Cesare fatta da M. Enea Vico da Parma</a></span>, <span class="catalogo-pubPlace">Vinegia</span> <span class="catalogo-date">1550</span>, in
8.
<div class="catalogo-note">Questa dichiarazione estese il Doni per illustrare tutti gli ornamenti ed allegorie di cui è contornata la bella
stampa di Carlo V intagliata da Enea Vico, che era uno de’ suoi amici più intimi: a questa si aggiunge
L’esposizione sopra l’effigie et statue, motti, imprese, figure, et animali poste nell’arco fatto al vittoriosissimo

                     
                     
Carlo V in intaglio di rame per opera di messer Enea Vico da Parma, Ven. 1551 in 8 M. 97. Lo stesso incisore
pubblicò anche questa esposizione.</div><div id="catalogo-note-text-2822" class="catalogo-note-search-results truncate-line-clamp">Questa dichiarazione estese il Doni per illustrare tutti gli ornamenti ed allegorie di cui è contornata la bella
stampa di Carlo V intagliata da Enea Vico, che era uno de’ suoi amici più intimi: a questa si aggiunge
L’esposizione sopra l’effigie et statue, motti, imprese, figure, et animali poste nell’arco fatto al vittoriosissimo

                     
                     
Carlo V in intaglio di rame per opera di messer Enea Vico da Parma, Ven. 1551 in 8 M. 97. Lo stesso incisore
pubblicò anche questa esposizione.</div><a id="catalogo-note-text-toggle-2822" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>