<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3695">
                     <span class="catalogo-item-label">3695.</span> <span class="catalogo-bibl"><span class="catalogo-author">DEMONTIOSII Ludovici</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3695">Gallus Romae hospes</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1585</span>, in 4, fig.
<div class="catalogo-note">Pochi sono i monumenti incisi in rame e stampati fra il testo. Raro, e prezioso libretto ove rendesi conto di molti
monumenti nella maniera che non erasi per anche fatto per lo innanzi, quantunque allorché tratta delle pietre
incise è molto superficiale, limitandosi a ripetere ciò che trovasi in Plinio. Autore è Luigi di Mont Josieu, che era
stato a Roma due anni prima che il libro fosse stampato col duca di Joeuse suo mecenate e anche suo allievo,
mandato al Papa Gregorio XIII da Enrico III con segrete commissioni.</div><div id="catalogo-note-text-3695" class="catalogo-note-search-results truncate-line-clamp">Pochi sono i monumenti incisi in rame e stampati fra il testo. Raro, e prezioso libretto ove rendesi conto di molti
monumenti nella maniera che non erasi per anche fatto per lo innanzi, quantunque allorché tratta delle pietre
incise è molto superficiale, limitandosi a ripetere ciò che trovasi in Plinio. Autore è Luigi di Mont Josieu, che era
stato a Roma due anni prima che il libro fosse stampato col duca di Joeuse suo mecenate e anche suo allievo,
mandato al Papa Gregorio XIII da Enrico III con segrete commissioni.</div><a id="catalogo-note-text-toggle-3695" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>