<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3029">
                     <span class="catalogo-item-label">3029.</span> <span class="catalogo-bibl"><span class="catalogo-author">VAILLANT Joannis Foj</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3029">Numismata imper. romanor. praestantiora a Julio Caesare ad postumum et tirannos</a></span>,
<span class="catalogo-pubPlace">Parisiis</span> <span class="catalogo-date">1674</span>, in 4, vol. 2, fig.
<div class="catalogo-note">Nitida edizione colle figure stampate fra il testo intagliate in rame assai bene.</div>
</span></section>