<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3588">
                     <span class="catalogo-item-label">3588.</span> <span class="catalogo-bibl"><span class="catalogo-author">AUGUSTINUS Antonius</span>, et <span class="catalogo-author">Fulvius Ursinus</span>, 
                        <span class="catalogo-title"><a class="catalog-link" href="/catalog/3588">Scriptores duo praestantissimi, De romanorum gentibus, et familiis</a></span>,
<span class="catalogo-pubPlace">Lugduni</span> <span class="catalogo-date">1592</span>, in 4.
</span></section>