<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="883">
                  <span class="catalogo-item-label">883.</span> <span class="catalogo-bibl"><span class="catalogo-author">BEROALDI Francisci</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/883">Teatro d’invenzioni e macchine</a></span>, tradotto in tedesco, <span class="catalogo-pubPlace">Norimberga</span> <span class="catalogo-date">1696</span>, in
      
                  
                  
      
      fol. figurato.
      <div class="catalogo-note">Questo è il trattato del Bessonio arricchito di figure e illustrazioni dal Beroaldo, che prima era già stato
      pubblicato in francese e in latino, con 60 tavole in rame di logora impressione.</div><div id="catalogo-note-text-883" class="catalogo-note-search-results truncate-line-clamp">Questo è il trattato del Bessonio arricchito di figure e illustrazioni dal Beroaldo, che prima era già stato
      pubblicato in francese e in latino, con 60 tavole in rame di logora impressione.</div><a id="catalogo-note-text-toggle-883" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>