<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1015">
                  <span class="catalogo-item-label">1015.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1015">COMPONIMENTI poetici in lode del sig. Leopoldo del Pozzo Romano celebre dipintore di
      musaico per le pitture ristaurate e di nuovo da lui fatte nella Basilica di San Marco in Venezia</a></span>,
      scuoprendosi il di lui quadro nella facciata della chiesa, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1729</span>, in 4, M. 96.
      </span></section>