<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4747">
                     <span class="catalogo-item-label">4747.</span> <span class="catalogo-bibl"><span class="catalogo-author">SIMEONI Gabriello</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4747">La vita, e metamorfosi d’Ovidio figurato, e abbreviato in forma d’epigrammi, con altre stanze
sopra gli effetti della luna, il ritratto d’una fontana d’Auvergne etc. all’ill. sig. <span class="catalogo-pb" id="page_327">327</span> duchessa di Valentinois</a></span>,
<span class="catalogo-pubPlace">Lione</span>, per Giovanni di Tournes, <span class="catalogo-date">1584</span>, in 8.
<div class="catalogo-note">Edizione elegantissima, le cui stampe in legno du Petit Bernard sono assai belle, in numero di tav. 187 con
aggiunte al fine d’altri opuscoletti dello stesso Simeoni sulla natura ed effetti della luna nelle cose umane. La
fontana di Roing in Overnia, e l’apologia generale del Simeoni contro tutti i calunniatori e impugnatori
dell’opere passate, presenti, e avvenire.</div><div id="catalogo-note-text-4747" class="catalogo-note-search-results truncate-line-clamp">Edizione elegantissima, le cui stampe in legno du Petit Bernard sono assai belle, in numero di tav. 187 con
aggiunte al fine d’altri opuscoletti dello stesso Simeoni sulla natura ed effetti della luna nelle cose umane. La
fontana di Roing in Overnia, e l’apologia generale del Simeoni contro tutti i calunniatori e impugnatori
dell’opere passate, presenti, e avvenire.</div><a id="catalogo-note-text-toggle-4747" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>