<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4539">
                        <span class="catalogo-item-label">4539.</span> <span class="catalogo-bibl"><span class="catalogo-author">Le BRUN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4539">Catalogue d’une précieuse colléction de <span class="catalogo-pb" id="page_304">304</span> tableaux et objets rares du Cabinet de M. le Duc de
                           Ch…</a></span>, <span class="catalogo-pubPlace">Paris</span><span class="catalogo-date"> 1788</span>, in 8.
</span></section>