<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2720">
                     <span class="catalogo-item-label">2720.</span> <span class="catalogo-bibl"><span class="catalogo-author">WINCKELMANN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2720">Lettre a M. le comte de Brül sur les dëcouvertes d’Herculanum</a></span>, a <span class="catalogo-pubPlace">Dresde</span> <span class="catalogo-date">1764</span>, in 4, M. 93.
                        <div class="catalogo-note collapse">Con una tavola al principio ed un’altra alla p. 92. Questa lettera incontrò grandi e forti opposizioni</div>.
<span class="catalogo-pb" id="page_38">38</span>
                  </span></section>