<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1157">
                  <span class="catalogo-item-label">1157.</span> <span class="catalogo-bibl"><span class="catalogo-author">FONTANINI (Giusto)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1157">De le masnade ed altri servi secondo l’uso de’ Longobardi</a></span>.
    Ragionamento steso in una lettera al Sig. Girolamo de’ Puppi, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1698</span>, in 4, M. 41.
    </span></section>