<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2324">
                  <span class="catalogo-item-label">2324.</span> <span class="catalogo-bibl"><span class="catalogo-author">MILIZIA. Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2324">Le vite de’ più celebri architetti d’ogni nazione e di ogni tempo
    precedute da un saggio sopra l’architettura</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1768</span>, in 4, figurato.
    <div id="catalogo-note-text-2324" class="catalogo-note truncate-line-clamp">Questa è la prima edizione pubblicata dal Monaldini senza il nome dell’autore.</div><a id="catalogo-note-text-toggle-2324" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>