<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1136">
                  <span class="catalogo-item-label">1136.</span> <span class="catalogo-bibl"><span class="catalogo-author">BETTINELLI Saverio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1136">Lettere sulle belle arti: pubblicate per le nozze di Barbarigo Pisani</a></span>,
    <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1793</span>, in 4.
    <div class="catalogo-note collapse">Sono in questo volume inserite fra il testo alcune incisioni di gemme antiche.</div>
    
    </span></section>