<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="136">
                  <span class="catalogo-item-label">136</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GOERÉE</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/136"> Versione del trattato di Leonardo, e di <span class="catalogo-pb" id="page_22">22</span>altre opere sull’anatomia e sulle
	  proporzioni, in olandese,</a></span> 
                     <span class="catalogo-pubPlace">Amsterdam</span> 
                     <span class="catalogo-date">1682,</span> 
                     <span class="catalogo-extent">in 8, fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Questo autore ha fatto intagliare le medesime tavole che trovansi nell’opera di Leonardo stampata a Parigi, e
	  tradurre in piccolo alcune delle tavole anatomiche della grand’edizione di Vesalio.</div>	  
	              </section>