<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="63">
                  <span class="catalogo-item-label">63.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ZANI D. Pietro</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/63"> Enciclopedia metodica delle arti. Manifesto di associazione con alcune note
	  manoscritte dell’Ab.</a></span> 
                     Carlo Bianconi, 
                     <span class="catalogo-pubPlace">Parma</span> 
                     <span class="catalogo-date">1794</span> 
                     <span class="catalogo-extent">vol. 8.</span>
                  </span>
	                 <div class="catalogo-note collapse">Il prodromo di quest’opera esce stampato nello stesso luogo nel 1791.</div>
               </section>