<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4610">
                     <span class="catalogo-item-label">4610.</span> <span class="catalogo-bibl"><span class="catalogo-author">LIBERATI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4610">La perfezione del cavallo</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1669</span>, in 4, fig.
<div class="catalogo-note collapse">— Aggiuntavi l’altra edizione di Roma 1639, nella quale leggesi in fine la traduzione dal greco dell’arte di
cavalcare tratta da Xenofonte, in 4, fig.
L’opera è divisa in tre libri, l’ultimo de’ quali riporta i <span class="catalogo-pb" id="page_311">311</span> marchj de’ cavalli intagliati in legno. In principio
   è la gran tavola in rame delle malattie del cavallo</div>.
</span></section>