<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1671">
                  <span class="catalogo-item-label">1671.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUER M.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1671">Moeurs et usages des Turcs, leur religion, leur gouvernement civil, militaire et
    politique avec un abregé de l’histoire ottomane,</a></span> <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1746</span>, 2 vol., in 4, fig.
<div class="catalogo-note">    Le tavole disegnate da Boucher e incise in rame da Duflos sono, d’incontro ai tanghi indicati nel testo. Opera ove
    con utile accorgimento le costumanze di quei popoli sono accompagnate colla toro storia.</div>
    
    </span></section>