<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2262">
                  <span class="catalogo-item-label">2262.</span> <span class="catalogo-bibl"><span class="catalogo-author">FEDERICI Fra Dom. Maria</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2262">Memorie trevigiane sulle opere di disegno dal 1100 al 1800 per
    servire alla Storia delle Belle Arti in Italia</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1803</span>, in 4, vol. 2.
    <div class="catalogo-note">Legati in un solo.</div>
    
    </span></section>