<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1687">
                  <span class="catalogo-item-label">1687.</span> <span class="catalogo-bibl"><span class="catalogo-author">LICETI Fortunii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1687">De lucernis antiquorum reconditis libri sex</a></span>, <span class="catalogo-pubPlace">Utini</span> <span class="catalogo-date">1653</span>, in fol. fig.
    <div class="catalogo-note">È sempre da osservarsi come la superstiziosa ignoranza mutilò gran numero di libri e vedasi per conseguenza in
    quest’opera se sieno intatte le pagine 910 e 1142. Le numerose tavole di questo libro ripieno di curiosità, sono
    riportate nei fogli del testo e intagliate in rame.
</div><div id="catalogo-note-text-1687" class="catalogo-note-search-results truncate-line-clamp">È sempre da osservarsi come la superstiziosa ignoranza mutilò gran numero di libri e vedasi per conseguenza in
    quest’opera se sieno intatte le pagine 910 e 1142. Le numerose tavole di questo libro ripieno di curiosità, sono
    riportate nei fogli del testo e intagliate in rame.
</div><a id="catalogo-note-text-toggle-1687" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  
                  
    
               </span></section>