<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3719">
                     <span class="catalogo-item-label">3719.</span> <span class="catalogo-bibl"><span class="catalogo-author">FERRERIO Pietro </span> pittore, ed architetto, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3719">Palazzi di Roma de’ più celebri architetti, libro I e Giovan Battista Falda,
nuovi disegni, architetture, e piante dei palazzi di Roma</a></span>, libro II, in fol., <span class="catalogo-pubPlace">Roma</span>, per  Giovan Giacomo Rossi
all’insegna della Pace.
<div id="catalogo-note-text-3719" class="catalogo-note truncate-line-clamp">Quarantaquattro tavole sono nel primo libro, e 61 nel secondo. Opera di bellissima esecuzione in ispecie la
seconda parte. Prime, ed antiche impressioni.</div><a id="catalogo-note-text-toggle-3719" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>