<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="302">
                  <span class="catalogo-item-label">302.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">BUCHOTTE</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/302"> Les regles du dessein et du lavis pour les plans particuliers des ouvrages et des
	bâtiments etc., nouvelle édition,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span>
                     <span class="catalogo-date"> 1743,</span> 
                     chez Jombert,
                     <span class="catalogo-extent"> in 8.</span>
	                    <div class="catalogo-note collapse">Questa edizione contiene 22 tavole ben intagliate mentre la prima non ne ha che 14 e serve specialmente per gli
	ombreggiatori e aquarellatori di mappe e piante e alzati d’ogni genere e per tutto ciò che riguarda la topografia e
	l’architettura.</div>
	CAMUCCINI, Vedi Studio del disegno. 
	</span>
	              </section>