<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="747">
                  <span class="catalogo-item-label">747.</span> <span class="catalogo-bibl"><span class="catalogo-author">VEDREMAN Joannes</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/747">Architectura</a></span>. Stampato in lingua olandese, in <span class="catalogo-pubPlace">Anversa</span>, presso Giovanni
	de Jode, <span class="catalogo-date">1598</span>, in fol. fig.
	<div class="catalogo-note collapse">Contenente le spiegazioni degli ordini secondo i precetti di Vitruvio, applicate a diverse fabbriche poi di sua
	invenzione 23 tavole di bella impressione. Questo libro è lo stesso che la prima parte del sua più ampio trattato
	dell’opera precedente.</div>
	
	</span></section>