<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="673">
                  <span class="catalogo-item-label">673.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SERLIO Sebastiano</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/673">Tercero y quarto libro de architettura <span class="catalogo-pb" id="page_123">123</span> traduzido de toscano en
	lengua castellana per Francesco de Villalpando architetto,</a></span> 
                     <span class="catalogo-pubPlace">Toledo</span> 
                     <span class="catalogo-date">1573,</span> 
                     <span class="catalogo-extent">in fol. fig.</span> In fine
	aqui fenesce el libro quarto de Sebastian Serlio bolonés. Y fue impresso en Toledo en Casa de
	Joan de Ayala anno 1573.</span>
	                 <div class="catalogo-note collapse">Le tavole in legno sono tutte imitato materialmente e calcate su quelle delle anteriori edizioni venete.</div>
	
	              </section>