<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="55">
                  <span class="catalogo-item-label">55.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">TEMPESTI Ab.</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/55"> Antiperistasi Pisane sul risorgimento e cultura delle belle arti.</a></span> Dialoghi, <span class="catalogo-pubPlace"> Pisa</span>
	                    <span class="catalogo-date">1812,</span> 
                     <span class="catalogo-extent">4 fig. M. 25 con cinque tavole intagliate in rame,</span> disegnate dal celebre C. Inghirami.</span>
	                 <div class="catalogo-note">Questo scrittore sostenne molte opinioni contro il pensare del Morrona suo contemporaneo, autore della Pisa
	  illustrata e le sostenne con veemenza.</div><div id="catalogo-note-text-55" class="catalogo-note-search-results truncate-line-clamp">Questo scrittore sostenne molte opinioni contro il pensare del Morrona suo contemporaneo, autore della Pisa
	  illustrata e le sostenne con veemenza.</div><a id="catalogo-note-text-toggle-55" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
               </section>