<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1594">
                  <span class="catalogo-item-label">1594.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOISSARD Robert</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1594">Mascarade récueillie, et mise en taille douce</a></span>, <span class="catalogo-date">1697</span>.
    <div class="catalogo-note">Sono queste 14 tavole intagliate in rame oltre il frontespizio nella miniera di de Bry.</div>
    Aggiuntovi. <span class="catalogo-bibl"><span class="catalogo-author">Le Roux G. B.</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/1594">nouveau lambri de Galérie, Chambre et Cabinet</a></span>, avec quelque
    nouveau dessein de chéminées gravées par Degremont, <span class="catalogo-pubPlace">Paris</span>, chez Mariette, fol. pic.,
    Planches N. 54.
    <div class="catalogo-note">Opera che attesta il cattivo gusto e l’epoca della corruzione delle arti, per quanto ne sia sufficiente l’intaglio.</div></span>
    
    </span></section>