<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="344">
                  <span class="catalogo-item-label">344.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">PETRALIA Franciscus</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/344">Tabulae anatomicae ex archetypis egregii pictoris Petri Berrettini
	cortonensis expressae in aes incisae,</a></span> 
                     <span class="catalogo-pubPlace">Romae</span> 
                     <span class="catalogo-date">1778,</span> 
                     <span class="catalogo-extent">in f. f.</span>
                  </span>
	                 <div class="catalogo-note">Sono 27 le tavole colle quali quest’opera è illustrata.</div><div id="catalogo-note-text-344" class="catalogo-note-search-results truncate-line-clamp">Sono 27 le tavole colle quali quest’opera è illustrata.</div><a id="catalogo-note-text-toggle-344" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>