<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1024">
                  <span class="catalogo-item-label">1024.</span> <span class="catalogo-bibl"><span class="catalogo-author">LOMAZZO Giovan Paolo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1024">Rabisch dra Academiglia dor compa Zavargna Nabad dra Vall
      Bregn ec.</a></span>, <span class="catalogo-pubPlace">Milano</span>, per Paolo Goliardo Ponzio, <span class="catalogo-date">1589</span>, in 4.
      <div id="catalogo-note-text-1024" class="catalogo-note truncate-line-clamp">Questo libro scritto in lingua bergamasca e in lingua milanese (preceduto da molti sonetti e altri componimenti
      diretti all’autore in diversi dialetti) è raro e versa anche su argomenti relativi alle arti. Esemp. in vitello.</div><a id="catalogo-note-text-toggle-1024" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>