<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1813">
                  <span class="catalogo-item-label">1813.</span> <span class="catalogo-bibl"><span class="catalogo-author">TRAITÉ</span><span class="catalogo-title"><a class="catalog-link" href="/catalog/1813"> contre le luxe des Coiffures,</a></span><span class="catalogo-pubPlace"> Paris</span><span class="catalogo-date"> 1694</span>, in 12.
                     <div class="catalogo-note">Questo raro e singolassimo libro è scritto dall’ab. Vasset ed è fra libri i più curiosi di questo genere.</div>
  
  </span></section>