<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="21">
                  <span class="catalogo-item-label">21.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/21">CONSERVATOIR des sciences et des arts, ou récueil des pieces intéressantes sur les antiquités, la
	  mythologie, la peinture, la musique, etc. traduit des differentes langues,</a></span>
                     <span class="catalogo-pubPlace"> Paris </span>
                     <span class="catalogo-date">1787,</span>
                     <span class="catalogo-extent"> vol. 6, in
	  8 fig.</span>
                  </span>
	                 <div class="catalogo-note">Questa è una scelta di preziose memorie tratta dalle opere dei primi eruditi in ispecie della Germania e
	  dell’Inghilterra.</div><div id="catalogo-note-text-21" class="catalogo-note-search-results truncate-line-clamp">Questa è una scelta di preziose memorie tratta dalle opere dei primi eruditi in ispecie della Germania e
	  dell’Inghilterra.</div><a id="catalogo-note-text-toggle-21" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
               </section>