<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3617">
                     <span class="catalogo-item-label">3617.</span> <span class="catalogo-bibl"><span class="catalogo-author">BIANCHINI monsignor Francesco</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3617"> Camera ed iscrizioni sepolcrali de’ Liberti, ed ufficiali della casa di Augusto
scoperte nella via Appia, ed illustrate con annotazioni</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1727</span>, in fol., fig.
</span></section>