<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1210">
                  <span class="catalogo-item-label">1210.</span> <span class="catalogo-bibl"><span class="catalogo-author">STOSCH Filippo Barone (de)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1210">Lettera sopra una medaglia nuovamente scoperta di Carino
    Imperatore e Magnia Urbica Augusta sua consorte, all’Accademia Etrusca di Cortona</a></span>, <span class="catalogo-pubPlace">Fir.</span>
    <span class="catalogo-date">1755</span>, in 4, M. 13.
    <div id="catalogo-note-text-1210" class="catalogo-note truncate-line-clamp">Le due medaglie sono egregiamente intagliate nel frontespizio.</div><a id="catalogo-note-text-toggle-1210" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>