<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2254">
                  <span class="catalogo-item-label">2254.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2254">DIALOGHI di un amatore della verità scritti in difesa del terzo tomo della Felsina Pittrice

                  
                  
    
    uscito in luce l’anno 1769 dai torchi di Marco Pagliarini</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1770</span>, in 4.
    </span></section>