<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="658">
                  <span class="catalogo-item-label">658.</span>
                  <span class="catalogo-bibl">
	
	                    <span class="catalogo-author">SCHEINER Christophori</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/658">Pantographice seu ars
	parallelogrammarum lineare ec.,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1631,</span> 
                     <span class="catalogo-extent">in 4 fig.</span>
                  </span>
	
	delineandi
	
	res
	
	quaslibet  
	
	per
	
	<div class="catalogo-note collapse">Con quaranta figure intagliate in rame collocate fra il testo, e chiaramente disegnate. Quest’opera fu la prima che
	ci presentasse completo l’uso del pantografo. </div>
	                 
	              </section>