<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2301">
                  <span class="catalogo-item-label">2301.</span> <span class="catalogo-bibl"><span class="catalogo-author">LÉPICIÉ</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2301">Vies des prémiers peintres du roi depuis M. Le Brun jusque à present</a></span>, vol. 2, rel. En
    1, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1751</span>, in 8.
    </span></section>