<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3909">
                     <span class="catalogo-item-label">3909.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3909">VETERIS Latii antiqua vestigia, urbis maenia, pontes, templa, piscinae, balnea, villae etc. etc. aeneis tabulis
eleganter incisa</a></span>, <span class="catalogo-pubPlace">Romae</span>, <span class="catalogo-date">1751</span>, typis Joannis Generosi Salomoni, prostant apud Joannem Bouchard Bibliopolam
in via Cursus.
<div class="catalogo-note collapse">Questo libro apparisce diviso in tre parti, la prima di 24 tavole, col titolo Celebriora Tiburtinarum antiquitatum
rudera, la seconda di 10 tavole col titolo Tusculanorum, la <span class="catalogo-pb" id="page_224">224</span> terza di 24 tavole col titolo Volscorum,
Latinorum, et Setinorum rudera.
Il librajo sordido speculatore non fece che riunire, e riprodurre tavole senza scelta, logore, e in parte cattive, che
avevano di già servito ad antiche opere precedenti, In f. obl.</div>

                     
                     

                  </span></section>