<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2823">
                     <span class="catalogo-item-label">2823.</span> <span class="catalogo-bibl"><span class="catalogo-author">DRIUZZO Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2823">Le gemme. Versi per le nozze Tiepolo-Nani tolti dalle antiche pietre incise di quel Museo</a></span>,
<span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1812</span>, in 4, fig., M. 25.
<div class="catalogo-note">Sono 30 i monumenti illustrati in questo volume, intagliati in altrettante tavole disperse senza ordine in tutta
l’operetta.</div>
</span></section>