<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="951">
                  <span class="catalogo-item-label">951.</span> <span class="catalogo-bibl"><span class="catalogo-author">POLENI Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/951">Sexti Julii Frontini de aquaeductibus urbis Roma commentarius</a></span>, <span class="catalogo-pubPlace">Patavii</span> <span class="catalogo-date">1722</span>,
      in 4, fig.
      
                  
                  
      
               </span></section>