<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3943">
                     <span class="catalogo-item-label">3943.</span> <span class="catalogo-bibl"><span class="catalogo-author">AUDIBERTO Camillo Maria</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3943">Regiae villae agri Taurinensis poetice descriptae</a></span>, <span class="catalogo-pubPlace">Augustae Taurinorum</span> <span class="catalogo-date">1711</span>, fig., in
4.
<div class="catalogo-note">Questo libro è assai ben scritto per la latinità dei poemetti, è stampato con molta eleganza di tipi, ed ornato di
belle tavole in rame che esprimono le vedute prospettiche delle ville reali di Piemonte. Avvi un frontespizio
istoriato disegnato da Domenico Piola, intagliato da Tasnier che incise egualmente altre 9 tavole.</div>
</span></section>