<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="185">
                  <span class="catalogo-item-label">185.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">PINO messer Paolo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/185">Dialogo di pittura nuovamente dato in luce,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1548,</span> 
                     per Paolo
	  Gherardo
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note">Quest’elegante opuscoletto fu intitolato al doge Francesco Donato, come a vero mecenate delle arti.</div><div id="catalogo-note-text-185" class="catalogo-note-search-results truncate-line-clamp">Quest’elegante opuscoletto fu intitolato al doge Francesco Donato, come a vero mecenate delle arti.</div><a id="catalogo-note-text-toggle-185" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>