<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3963">
                     <span class="catalogo-item-label">3963.</span> <span class="catalogo-bibl"><span class="catalogo-author">BORLASE William</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3963">Antiquities historical, and monumental of the country of Cornwall etc.</a></span> Exemplified and
proved by monuments now extant in Cornwall etc., <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1769</span>, in fol., fig.
<div class="catalogo-note collapse">Edizione assai bella con 36 tavole di bell’intaglio, e un vocabolario in fine del dialetto di quella contea.</div>
</span></section>