<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="771">
                  <span class="catalogo-item-label">771.</span> <span class="catalogo-bibl"><span class="catalogo-author">PATTE architecte du Prince Palatin</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/771">Essai sur l’architecture théatrale, ou de l’ordonnance la plus
	avantigensue a une salle de spectacles, relativement aux principes de l’optique et de
	l’acoustique</a></span>. <span class="catalogo-pb" id="page_144">144</span> Avec un examen des principaux théatres de l’Europe, et une analyse des
	écrits les plus importans sur cette matière, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1782</span>, en 8, fig.
	<div class="catalogo-note collapse">Con tre tavole ove sono disegnati i principali teatri paragonati fra turo. Opera assai ben concepita, e da tenersi fra
	le migliori di questo genere.</div>
	
	</span></section>