<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3339">
                     <span class="catalogo-item-label">3339.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3339">SERIE distinta degli avvenimenti nella caduta della cupola della chiesa metropolitana d’Urbino</a></span>, <span class="catalogo-pubPlace">Urbino</span> <span class="catalogo-date">1782</span>, in 4,
M. 54.
Colla veduta della città intagliata in legno nel frontespizio.
</span></section>