<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4122">
                     <span class="catalogo-item-label">4122.</span> <span class="catalogo-bibl"><span class="catalogo-author">WAXEL (de) Leon</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4122">Recueil de quelques antiquités trovées sur les bords de la Mer Noire</a></span>, 
                        <span class="catalogo-pubPlace">Berlin</span> <span class="catalogo-date">1803</span>, in 4,
tedesco e francese.
<div class="catalogo-note collapse">Vi sono 21 tavole compreso il frontespizio, e una piccola carta del Mar Nero nel principio.</div>
</span></section>