<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3562">
                     <span class="catalogo-item-label">3562.</span> <span class="catalogo-bibl"><span class="catalogo-author">VISCONTI Ennio Quirino</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3562"> Monumenti Gabinj della villa Pinciana descritti</a></span>, 
                        <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1797</span>, in 8.
<div class="catalogo-note">Opera divisa in tre parti con 57 tavole. I preliminari formano la parte prima, le statue formano la seconda e le
iscrizioni la terza.</div><div id="catalogo-note-text-3562" class="catalogo-note-search-results truncate-line-clamp">Opera divisa in tre parti con 57 tavole. I preliminari formano la parte prima, le statue formano la seconda e le
iscrizioni la terza.</div><a id="catalogo-note-text-toggle-3562" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>