<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="279">
                  <span class="catalogo-item-label">279.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GAURICI POMPONII</span> napoletani, <span class="catalogo-title"><a class="catalog-link" href="/catalog/279">De sculptura liber. Demontiosii Lud. De veterum sculptura,
	Gorlaei Abr. Dactyliotheca,</a></span> 
                     <span class="catalogo-pubPlace">Antuerpiae</span> 
                     <span class="catalogo-date">1609</span>,<span class="catalogo-extent"> in 4</span>, con frontispizio figurato.
	<div class="catalogo-note">Non bisogna cercare in questo autore le teorie dell’arte di cui promette il titolo, ma bisogna soffrire che si parli di
	fisionomia e di tutt’altro, contentandosi di poche e rare notizie sfigurate di qualche artefice in un tempo che di 50
	anni precedeva il Vasari.</div>
	                 </span>
	              </section>