<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="237">
                  <span class="catalogo-item-label">237.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">Da VINCI Lionardo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/237">Trattato della pittura tratto da un codice della Biblioteca Vaticana</a></span> e
	  pubblicato da Guglielmo Manzi, <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1817</span>,<span class="catalogo-extent"> in 4;</span> unitovi un atlante di stampe.</span>
	                 <div class="catalogo-note">Questo codice esisteva nella libreria dei duchi d’Urbino, e per la morte di Francesco M. della Rovere passò cogli
	  stati al dominio pontificio. Le figure furono lumeggiate dal codice senza la biasimevole, che vedesi nell’edizione
	  di Parigi per opera del pittore Errard. Può questo ritenersi per l’edizione la più ampia e corretta a seconda
	  dell’antico originale. Questo diligente editore estese anche la vita di Leonardo in 28 pagine e pose al fine alcune
	  note al trattato estese dal sig. Giovanni Gherardo de’ Rossi; e prima delle tavole è il ritratto di Leonardo.</div>	  
	              </section>