<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1197">
                  <span class="catalogo-item-label">1197.</span> <span class="catalogo-bibl"><span class="catalogo-author">QUATREMERE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1197">Lettres sur le prejudice qu’occasionneroient aux arts et à la Science, le
    deplacement des monumens de l’art de l’Italie etc.</a></span> Nouvelle édition faite sur celle de Paris de
    1796, <span class="catalogo-pubPlace">Rome</span> <span class="catalogo-date">1815</span>, in 8, M. 96.
    </span></section>