<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4280">
                        <span class="catalogo-item-label">4280.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4280">STORICA dimostrazione della città di Padova nelle parti principali con note, e critiche osservazioni</a></span>, <span class="catalogo-pubPlace">Padova</span> <span class="catalogo-date">1767</span>,
in 12, fig.
<div class="catalogo-note">In questo libretto con accorgimento vennero riunite molte nozioni, e operette sparse che illustrano le cose
pregievoli della città.</div><div id="catalogo-note-text-4280" class="catalogo-note-search-results truncate-line-clamp">In questo libretto con accorgimento vennero riunite molte nozioni, e operette sparse che illustrano le cose
pregievoli della città.</div><a id="catalogo-note-text-toggle-4280" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
<span class="catalogo-pb" id="page_279">279</span>
                     </span></section>