<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3323">
                     <span class="catalogo-item-label">3323.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3323">SAGGIO di dissertazioni dell’Accademia Palermitana del buon gusto, vol. I</a></span>, <span class="catalogo-pubPlace">Palermo</span> <span class="catalogo-date">1755</span>, in 4, M. 32.
<div id="catalogo-note-text-3323" class="catalogo-note truncate-line-clamp">Contiene questo volume 8 dissertazioni in materia d’antichità colle rispettive tavole degli oggetti al principio di
ciascuna.</div><a id="catalogo-note-text-toggle-3323" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>