<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3718">
                     <span class="catalogo-item-label">3718.</span> <span class="catalogo-bibl"><span class="catalogo-author">FENESTELLA</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3718">Dei sacerdozii, e dei magistrati romani</a></span>, tradotto di latino alla lingua toscana da Francesco Sansovino,
<span class="catalogo-pubPlace">Venezia</span>, presso Giolito, <span class="catalogo-date">1544</span>, in 8.
— Aggiunto: <span class="catalogo-title"><a class="catalog-link" href="/catalog/3718">Opera nuova, la quale insegna presto di abaco con un modo nuovo</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per Hieronimo
Calepino, <span class="catalogo-date">1553</span>.
— <span class="catalogo-title"><a class="catalog-link" href="/catalog/3718">Le piacevoli, ed ingegnose quistioni di Plutarco</a></span>, tradotte da Pietro Lauro modenese, <span class="catalogo-pubPlace">Venezia</span>, per Comin da
Trino, <span class="catalogo-date">1551</span>.
</span></section>