<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="421">
                  <span class="catalogo-item-label">421.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BARTOLI Cosimo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/421">Del modo di misurare le distanze, le superficie, i corpi, le piante, le
	provincie, le prospettive ec.,</a></span> 
                     <span class="catalogo-pubPlace">Venezia,</span> 
                     pel Franceschi, 
                     <span class="catalogo-date">1564,</span> 
                     <span class="catalogo-extent">in 4, fig.</span>
	                    <div class="catalogo-note collapse">Prima edizione col ritratto dell’autore intagliato in legno, non meno che le figure inserite fra il testo.</div>
                  </span>
	
	              </section>