<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2472">
                  <span class="catalogo-item-label">2472.</span> <span class="catalogo-bibl"><span class="catalogo-author">TIBERTI Antiochi Doct.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2472">De Cheiromantia lib. III denuo recogniti etc</a></span>. Eiusdem argomenti
    incerti auctoris liber hactentis nondum typis excusus per Jo. Dryandrum Melicum
    Marpurgensem, <span class="catalogo-pubPlace">Maguntiae</span> <span class="catalogo-date">1541</span>, in 8.
    <div class="catalogo-note collapse">Con alcune tavole in legno fra il testo: elegante esemplare colle pagine contornate di linee
    rosse, dorato.</div>
    </span></section>