<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2845">
                     <span class="catalogo-item-label">2845.</span> <span class="catalogo-bibl"><span class="catalogo-author">FROELICH Erasmi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2845">De familia Vaballathi nummis illustrata, opusculum postumum. Accedunt appendiculae duae
                        ad numismata antiqua a Cl. Vaillantio olim edita etc.</a></span>,<span class="catalogo-pubPlace"> Vindobonae</span><span class="catalogo-date"> 1762</span>, in 4, fig., M. 17.
<div id="catalogo-note-text-2845" class="catalogo-note truncate-line-clamp">Con quattro tavole in rame. Il Khellio fu l’editore di quest’opera postuma e la fa precedere dall’elogio al suo
   collega Froelich</div><a id="catalogo-note-text-toggle-2845" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>