<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3692">
                     <span class="catalogo-item-label">3692.</span> <span class="catalogo-bibl"><span class="catalogo-author">CRESCIMBENI Giovan Mario</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3692">Istoria della chiesa di S. Giovanni avanti la Porta Latina</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1716</span>, in 4, fig.
Opera assai ben fatta ed erudita per le antichità sacre di Roma con 6 tavole in rame.
</span></section>