<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3975">
                     <span class="catalogo-item-label">3975.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAMDENII Guillelmi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3975">Britannia, sive florentissimorum regnorum Angliae, Scotiae, et Hiberniae chorographica
descriptio</a></span>, <span class="catalogo-pubPlace">Londini</span> <span class="catalogo-date">1607</span>, in fol., figurato.
<div class="catalogo-note">Le medaglie, le carte topografiche, i monumenti sono riportati fra il testo. Questo è lo scrittore più riputato
intorno le antichità dell’Inghilterra.</div><div id="catalogo-note-text-3975" class="catalogo-note-search-results truncate-line-clamp">Le medaglie, le carte topografiche, i monumenti sono riportati fra il testo. Questo è lo scrittore più riputato
intorno le antichità dell’Inghilterra.</div><a id="catalogo-note-text-toggle-3975" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>