<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3703">
                     <span class="catalogo-item-label">3703.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3703">DISCORSO sopra il nuovo ornato della guglia di S. Pietro</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1723</span>, in fol., fig., con tre grandi tavole.
— Aggiuntavi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/3703">La relazione della statua equestre <span class="catalogo-pb" id="page_188">188</span> di Carlo Magno nel portico Vaticano scolpita da
Agostino Cornacchi</a></span>, <span class="catalogo-pubPlace">Siena</span> <span class="catalogo-date">1735</span>.
— Aggiuntavi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/3703">L’istoria della città di Chiusi in Toscana dal 1436 al 1595 di messer Jacopo Gori da Senalonga</a></span>, in
fol., <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1747</span>.
— In fine Corsini Eduardi Herculis quies et expiatio in eximio Farnesiano marmore expressae. Colla tavola in
fine.
</span></section>