<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="901">
                  <span class="catalogo-item-label">901.</span> <span class="catalogo-bibl"><span class="catalogo-author">COMOLLI J. B.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/901">Projet d’une fontaine publique</a></span>, <span class="catalogo-pubPlace">Parme</span> <span class="catalogo-date">1808</span>, in fol. fig.
      <div class="catalogo-note collapse">Questo libro magnificamente stampato nella Bodoniana fu dedicato alla principessa Elisa Bonaparte. Le tavole
      sono 15 e l’autore in luogo del ritratto del mecenate o dell’eroe celebrato nella sua invenzione, pose il proprio
      ritratto modestamente di contro al frontespizio.</div>
      
      </span></section>