<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2102">
                  <span class="catalogo-item-label">2102.</span> <span class="catalogo-bibl"><span class="catalogo-author">SADELER Iustus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2102">Duodecim Cesarum qui primi Romae imperarunt effigies, cum Ausonii in
  eosdem Tetrasticis</a></span>, <span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1608</span>, in 4.
  <div class="catalogo-note collapse">Incisioni singolari con molta bizzarria dì finissimo intaglio nelle celate, di cui hanno coperta il capo.</div>
  
  </span></section>