<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1406">
                  <span class="catalogo-item-label">1406.</span> <span class="catalogo-bibl"><span class="catalogo-author">BUONARROTI Michel Angelo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1406">Descrizione delle felicissime nozze di Madama Maria Medici
    Regina di Francia e di Navarra</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1600</span>, in 8.
    MDC
    
    </span></section>