<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1968">
                  <span class="catalogo-item-label">1968.</span> <span class="catalogo-bibl"><span class="catalogo-author">VAENII Othonis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1968">Amoris divini emblemata studio ex aere concinnata, Antuerpiae, ex officina
    Plantiniana</a></span>, <span class="catalogo-date">1660</span>, in 4.
    <div class="catalogo-note">Edizione elegantissima con sessanta bellissime tavole intagliate in rame e le illustrazioni, in latino, spagnuolo,
    olandese e francese.
    </div>
    </span></section>