<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="313">
                  <span class="catalogo-item-label">313.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">COLOMBINA Gasparo padovano</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/313">Il bomprò vi faccia per sani ed ammalati,</a></span> 
                     <span class="catalogo-pubPlace">Padova,</span> per Pietro
	Paolo Tozzi, 
                     <span class="catalogo-date">1621,</span>
                     <span class="catalogo-extent"> in 8 fig.</span>
	                    <div id="catalogo-note-text-313" class="catalogo-note truncate-line-clamp">Questo libretto contiene l’uso di molti semplici per guarigioni di malattie con la figura di tutte le piante intagliate
	in legno fra il testo. Non appartiene per la sua materia a questa collezione, ma è un’opera curiosa ed estesa
	dall’autore di cui abbiamo il precedente Trattato elementare del disegno che tiene luogo fra’ libri rarissimi.</div><a id="catalogo-note-text-toggle-313" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 </span>
	              </section>