<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="211">
                  <span class="catalogo-item-label">211.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/211">SOGGETTI per quadri ad uso de’ giovani pittori,</a></span> 
                     <span class="catalogo-pubPlace">Vienna</span>, nella stamperia Alberti, 
                     <span class="catalogo-date">1798</span>,<span class="catalogo-extent"> in 8.</span>
	  L’anonimo di questa scelta fatta dall’Iliade, dall’Eneide e dalla Gerusalemme liberata in 36 soggetti, è il M.
	  Malaspina.</span>	  
	              </section>