<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="464">
                  <span class="catalogo-item-label">464.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CARLETTI Nicolo</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/464"> Istituzioni d’architettura civile, vol. 2,</a></span> 
                     <span class="catalogo-pubPlace">Napoli </span>
                     <span class="catalogo-date">1772, </span>
                     <span class="catalogo-extent">in 4, fig.</span>
	                    <div class="catalogo-note collapse">Sono in quest’opera 21 tavole cosi mal intagliate che non possono guidare che con incertezza
	la gioventù i precetti sono sani per l’arte, falsi pel gusto e gli esempi non atti ad alcuna pratica
	lineare.</div>
                  </span>
	              </section>