<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1041">
                  <span class="catalogo-item-label">1041.</span> <span class="catalogo-bibl"><span class="catalogo-author">SMIDS Ludovici</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1041">Pictura loquens, sive heroicarum tabularum Hadriani Schoonebeek</a></span>: enarratio
      et explicatio, <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1695</span>, in 8, fig.
      <div class="catalogo-note">Questo libro è composto da sessanta soggetti figurati con qualche vaghezza pittoresca da Schoonebeek, tolti da
      altrettanti squarci di poeti classici antichi e la più parte da Ovidio, e da Seneca, i quali sono per intiero riportati
      d’incontro alle tavole, con note ed illustrazioni: il frontespizio è altresì figurato ed avvi il ritratto di Nic. Wityen
      cui è l’opera dedicata.</div>
      
      </span></section>