<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2914">
                     <span class="catalogo-item-label">2914.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAGNAN Dominici</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2914">Altro esemplare di quest’opera, disposto per ordine alfabetico dei popoli e degli imperatori,

                     
                     
legato in un sol volume colle semplici tavole.</a></span>
<div id="catalogo-note-text-2914" class="catalogo-note truncate-line-clamp">Opera delle più ricche in materia di numismatica, che estendesi a 275 tavole.</div><a id="catalogo-note-text-toggle-2914" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>