<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1868">
                  <span class="catalogo-item-label">1868.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAMERARII Joach.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1868">Symbolorum emblematum ex re herbaria desumptorum</a></span>, centuria una,
    <span class="catalogo-pubPlace">Norimb.</span> <span class="catalogo-date">1590</span>, in 4, fig.
    — <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1868">Symbolorum et emblematum ex animalibus quadrupedibus desumptorum</a></span>, centuria altera
    <span class="catalogo-date">1595</span>, in 4, fig. in un vol.</span>
    <div class="catalogo-note collapse">Le duecento tavole ini questo volume non sono spregievoli.</div>
    
    </span></section>