<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1616">
                  <span class="catalogo-item-label">1616.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAROSO M. Fabritio da Sermoneta</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1616">Il Ballerino</a></span>: diviso in due trattati, ornato di molte figure:
    <span class="catalogo-pubPlace">Venezia</span>, pel Ziletti, <span class="catalogo-date">1581</span>, in 4, fig.
    <div class="catalogo-note">Quest’opera fu intitolata a Bianca Capello de’ Medici Gran Duchessa di Toscana, col ritratto dell’autore in fronte
    e la musica di tutti i balli che allora usavansi intitolata n ciascuna delle più famose dame d’Italia e con 22 tavole
    degli atteggiamenti del ballo, intagliate da Giovan Battista Franco.</div>
    
    </span></section>