<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3358">
                     <span class="catalogo-item-label">3358.</span> <span class="catalogo-bibl"><span class="catalogo-author">VENUTI cav. Domenico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3358">Spiegazione d’un servi <span class="catalogo-pb" id="page_130">130</span> zio da tavola dipinto e modellato in porcellana nella R.

                     
                     
Fab. di Napoli</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1782</span>, in 4, M. 93.
<div class="catalogo-note">Questa è una delle più insigni produzioni delle arti applicate al lusso delle supellettili reali, essendo stato inviato
questo tesoro di porcellane al re di Spagna da Ferdinando IV re di Napoli.</div><div id="catalogo-note-text-3358" class="catalogo-note-search-results truncate-line-clamp">Questa è una delle più insigni produzioni delle arti applicate al lusso delle supellettili reali, essendo stato inviato
questo tesoro di porcellane al re di Spagna da Ferdinando IV re di Napoli.</div><a id="catalogo-note-text-toggle-3358" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>