<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3102">
                     <span class="catalogo-item-label">3102.</span> <span class="catalogo-bibl"><span class="catalogo-author">BISCARI (di) principe</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3102"> Discorso accademico sopra un’antica iscrizione trovata nel teatro della città di Catania</a></span>,
<span class="catalogo-pubPlace">Catania</span> <span class="catalogo-date">1771</span>, in 4, fig., M. 8.
<div class="catalogo-note">Con due tavole in rame.</div>
</span></section>