<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3646">
                     <span class="catalogo-item-label">3646.</span> <span class="catalogo-bibl"><span class="catalogo-author">CANCELLIERI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3646">Osservazioni intorno la questione da varj promossa sull’originalità della Divina Commedia di
Dante</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1814</span>, in 12.
</span></section>