<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2244">
                  <span class="catalogo-item-label">2244.</span> <span class="catalogo-bibl"><span class="catalogo-author">CONDIVI Ascanio de la ripa Transone</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2244">Vita di Michel Angelo Buonarroti pittore, scultore,
    architetto e gentiluomo fiorentino</a></span>. Seconda edizione accresciuta. <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1746</span>, in 4, grande.
    <div id="catalogo-note-text-2244" class="catalogo-note truncate-line-clamp">Con molte annotazioni ed illustrazioni del Cori, di Mariette e il compendio della vita scritta dal Vasari ec. e 18
    intagli in rame collocati fra il testo relativi alla sua effigie, alle sue opere, al monumento scolpitogli ec.</div><a id="catalogo-note-text-toggle-2244" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>