<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2056">
                  <span class="catalogo-item-label">2056.</span> <span class="catalogo-bibl"><span class="catalogo-author">KIRCHERII Athanasii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2056">Mundus subterraneus in X.H. lib. digestus: fidi tio tertia</a></span>. <span class="catalogo-pubPlace">Amst.</span> <span class="catalogo-date">1678</span> 2
  voi. in fol. fig.
  <div class="catalogo-note collapse">Questa è l’edizione più completa e stimata di quest’opera, die riguarda più la fisica che le arti.</div>
  
  </span></section>