<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4117">
                     <span class="catalogo-item-label">4117.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4117">VUES, plans etc. du château de Versailles, avec les statues, thermes et vases, 78 pieces</a></span>, gr. fol., 
                        <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1672 à 84</span>
avec la description de la grotte de Versailles 1679, gr. fol., 20 pl.
<div id="catalogo-note-text-4117" class="catalogo-note truncate-line-clamp">Questi due volumi fanno parte dell’opera detta Cabinets du Roy composta di molti volumi da noi non posseduti
in intero, della quale de Bure, e Brunet danno ragione. Le stampe di queste due opere da noi qui citate e legate in
un solo volume sono di prima freschezza, e di mano di eccellenti intagliatori, massimamente quelle che
presentano le sculture della grotta che sono di Giovanni Edelink e di Stefano Pickart.</div><a id="catalogo-note-text-toggle-4117" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>