<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2028">
                  <span class="catalogo-item-label">2028.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2028">FARINASTES diverses figures à l’eau forte de petits amours, anges voilantes etc.</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1644</span>, in
  8.
  <div id="catalogo-note-text-2028" class="catalogo-note truncate-line-clamp">Bella operetta di 30 tavole di buon intaglio. Bibl Malborough.</div><a id="catalogo-note-text-toggle-2028" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>