<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="413">
                  <span class="catalogo-item-label">413.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BARCA Alessandro</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/413">Saggio sopra il bello di proporzione in architettura,</a></span> 
                     <span class="catalogo-pubPlace">Bassano</span> 
                     <span class="catalogo-date">1806,</span> 
                     <span class="catalogo-extent">in 4,
	fig. M. 76.</span>
	                    <div class="catalogo-note">Opera ripiena di cognizioni profonde, dedicata a Jacopo Quarerighi architetto, con quattro grandi tavole.</div><div id="catalogo-note-text-413" class="catalogo-note-search-results truncate-line-clamp">Opera ripiena di cognizioni profonde, dedicata a Jacopo Quarerighi architetto, con quattro grandi tavole.</div><a id="catalogo-note-text-toggle-413" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span> ‘
	
	</section>