<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1646">
                  <span class="catalogo-item-label">1646.</span> <span class="catalogo-bibl"><span class="catalogo-author">FAUSTO da Longiano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1646">Delle nozze, trattato in cui si leggono i riti, costumi, cerimonie ec. di
    diversi popoli onde si sono tratti molti problemi, aggiuntivi i precetti matrimoniali di Plutarco,
    Venezia per Plinio Pietra Santa</a></span>, <span class="catalogo-date">1554</span>, in 4.
    <div class="catalogo-note collapse">Il libretto elegantemente stampato e raro con frontespizio figurato, è dedicato all’illustrissima S. Virginia S. di
    Piombino. Contiene in tutto ventiquattro foglietti.
    </div>
    </span></section>