<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4325">
                        <span class="catalogo-item-label">4325.</span> <span class="catalogo-bibl"><span class="catalogo-author">SPRETI Desiderio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4325">Della grandezza, della ruina, e della ristaurazione di Ravenna,</a></span> tradotta da Bonifacio Spreti
discendente del primo, <span class="catalogo-pubPlace">Pesaro</span> <span class="catalogo-date">1574</span>, in 8.
</span></section>