<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2364">
                  <span class="catalogo-item-label">2364.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROBERTI Giovan Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2364">Lettera al Conte Giovan Battista Giovio sopra Giacomo da Ponte
    pittore, detto il Bassan Vecchio e risposta del medesimo</a></span>, <span class="catalogo-pubPlace">Lugano</span> <span class="catalogo-date">1777</span>, in 8.
    </span></section>