<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="695">
                  <span class="catalogo-item-label">695.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVII L. Pollionis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/695">De Architectura libri decem</a></span>. Accedunt Cleonidae Harmonicum
	Introdoctorium, Frontini de aquaeductibus. Policiani opuscula, impressimi, <span class="catalogo-pubPlace">Venetiis</span>, per
	Simonem Papiensem, dictum Bevilacqua, <span class="catalogo-date">1497</span>, in fol.
	<div class="catalogo-note">Le poche varianti che incontranti in questa edizione dalla <span class="catalogo-pb" id="page_128">128</span> precedente di Toscana non sono prese da alcun
	codice, né in alcun motto comprovate, ma dettate da semplici conghietture: in tutto rassomiglia l’edizione
	fiorentina e non conosciamo se alcun uomo di profonda dottrina ne procurasse la ristampa. Sono questi 91
	foglietti di stampa per l’aggiunta del Cleonide. L’anno di stampa sta dopo il decimo libro di Vitruvio.</div>
	
	</span></section>