<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="207">
                  <span class="catalogo-item-label">207.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SCARMILIONI Vidi Antonii</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/207">De coloribus, libri duo,</a></span> 
                     <span class="catalogo-pubPlace">Marpurgi Cattorum</span> 
                     <span class="catalogo-date">1601</span>, <span class="catalogo-extent">in 8.</span>
                  </span>
	                 <div class="catalogo-note">La materia è trattata filosoficamente e secondo le antiche dottrine, non già per le pratiche dell’arte.</div><div id="catalogo-note-text-207" class="catalogo-note-search-results truncate-line-clamp">La materia è trattata filosoficamente e secondo le antiche dottrine, non già per le pratiche dell’arte.</div><a id="catalogo-note-text-toggle-207" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 
	                 
	                 
	  
	              </section>