<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4319">
                        <span class="catalogo-item-label">4319.</span> <span class="catalogo-bibl"><span class="catalogo-author">PARRINO Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4319">Nuova guida de’ forestieri per le antichità di Pozzuoli, ed isole adjacenti</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1751</span>, fig., in
12.
</span></section>