<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2458">
                  <span class="catalogo-item-label">2458.</span> <span class="catalogo-bibl"><span class="catalogo-author">PORTAE J. Bapt. Neapolitani</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2458">Della celeste fisonomia libri sei nei quali, ribattuta la vanità
    dell’astrologia giudiziaria, si da a conoscere per le cause naturali tutto ciò che l’aspetto e le
    fattezze degli uomini possono significare</a></span>, <span class="catalogo-pubPlace">Padova</span> <span class="catalogo-date">1616</span>, in 4, pic. fig.
    <div class="catalogo-note collapse">Colle figure in legno fra il testo.</div>
    
    </span></section>