<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="496">
                  <span class="catalogo-item-label">496.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ERASMO Giovanni Giorgio</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/496"> Notizia breve ma ragionata e fondamentale delle cinque colonne
	conosciute nella nobile arte dell’architettura, con una estesa istruzione come se ne debbano
	fare i disegni e i capitelli, Norimberga senza data.</a></span> In tedesco, <span class="catalogo-extent">in fol. fig.</span>
	                    <div class="catalogo-note">Nel volume è aggiunta una numerosa serie di ornamenti del gusto più barbaro, che escisse mai dalla maggior
	corruzione delle arti.</div>
                  </span>
	
	              </section>