<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3825">
                     <span class="catalogo-item-label">3825.</span> <span class="catalogo-bibl"><span class="catalogo-author">PICCIONI Matteo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3825">Bassi rilievi tolti dall’arco di Costantino, e dalle scale del Campidoglio</a></span>.
Tavole 20 originali all’acqua forte in fol. pubblicate in <span class="catalogo-pubPlace">Roma</span> da Giovan Giacomo de Rossi senz’anno.
</span></section>