<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1112">
                  <span class="catalogo-item-label">1112.</span> <span class="catalogo-bibl"><span class="catalogo-author">TASSO Torquato</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1112">La Gerusalemme con le figure in rame di Bernardo Castello e le annotazioni
      di Scipio Gentili e di Giulio Guastavini</a></span>, <span class="catalogo-pubPlace">Genova</span> <span class="catalogo-date">1590</span>, presso Girolamo Bertoli, fol. pic.
      <div id="catalogo-note-text-1112" class="catalogo-note truncate-line-clamp">Questa è l’edizione in cui nove tavole vennero intagliate da Agostino Caracci e undici da Giacomo Franco.
      Bisogna osservare che il rame del 4 canto non sia ripetuto nel 5 come succede in molti esemplari, altrimenti
      l’edizione è imperfetta. Questo esemplare è secondo la descrizione del Bure.</div><a id="catalogo-note-text-toggle-1112" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>