<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1438">
                  <span class="catalogo-item-label">1438.</span> <span class="catalogo-bibl"><span class="catalogo-author">BERNI Fran.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1438">Il Torneo a piedi e l’invenzione ed allegoria colla quale il Sig. Borso Bonacossi
    comparì a mantenerlo e l’Alcina favola pescatoria fatta rappresentare alla presenza di tre A. S.
    di Mantova nel Carnevale dell’anno <span class="catalogo-date">1631</span></a></span>, <span class="catalogo-pubPlace">Ferrara</span>, in 8, fig.
    <div id="catalogo-note-text-1438" class="catalogo-note truncate-line-clamp">Francesco Berni estese la descrittone e non si conosce l’in <span class="catalogo-pb" id="page_246">246</span> ventore e intagliatore delle sei grandi tavole
    in foglio che vi si trovano.</div><a id="catalogo-note-text-toggle-1438" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCXXXII
    
    </span></section>