<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3214">
                     <span class="catalogo-item-label">3214.</span> <span class="catalogo-bibl"><span class="catalogo-author">DOLCE mess. Lodovico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3214">Dialogo nel quale si ragiona del modo di accrescere e conservar la memoria</a></span>, <span class="catalogo-pubPlace">Venezia</span>,
per il Sessa, <span class="catalogo-date">1562</span>, in 8, fig.
<div class="catalogo-note">Libretto singolare e ripieno di figure frammiste al testo, intagliate in legno. É intitolato al Magnifico ed
Eccellentissimo sig. Filippo Terzo ed è fra i meno comuni opuscoli di questo autore.</div>

                     
                     

                  </span></section>