<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="613">
                  <span class="catalogo-item-label">613.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">POLIPHILI (Francisci Columnae)</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/613">Hypnerotomachia, ubi humana omnia nonnisi somnium esse
	docet etc. (opus a Leonardo Grasso Veronensi editum),</a></span> 
                     <span class="catalogo-pubPlace">Venetiis,</span> mense Decembris, <span class="catalogo-date">1499</span>, in
	    aedibus Aldi Manutii, 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span> 
	                 <div class="catalogo-note collapse">Prima edizione intatta, di margine massimo, esemplare di prima conservazione, ore tutte le figure e quella del
	sagrifizio a Priapo sono intatte. Legato con somma magnificenza in cuoio di Russia dorato.</div>
	
	              </section>