<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="293">
                  <span class="catalogo-item-label">293.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BARTOLOZZI Francesco</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/293"> Elementi del disegno intagliati sui disegni di G. B. Cipriani,</a></span> 
                     <span class="catalogo-pubPlace">Londra</span>
	                    <span class="catalogo-date">1796</span>, <span class="catalogo-extent">in 4, obl.</span>
	                    <div class="catalogo-note">Sono 10 tavole compreso il frontispizio seguite da 9 foglietti di testo francese e italiano, ove si svolgono i
	principi elementari dell’arte.</div>
	                 </span>
	              </section>