<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="210">
                  <span class="catalogo-item-label">210.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SCAHULZ Ernest</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/210"> Essai sur la manière de melanger et composer toutes les couleurs, traduit de
	  l’allemand,</a></span>
                     <span class="catalogo-pubPlace"> à Lausanne</span> 
                     <span class="catalogo-date">1788,</span>
                     <span class="catalogo-extent"> in 8, M. 99.</span>
                  </span>
	                 <div class="catalogo-note">Luigi Pfannenschmidt intese dimostrare con un triango <span class="catalogo-pb" id="page_34">34</span>lo che vedesi annesso a questo libro in una tavola,
	  che tutti i colori possono comporsi col mezzo del turchino, del giallo e del rosso: la qual cosa in poche parole e
	  dimostrazioni fisiche poteva chiaramente dimostrarsi.</div><div id="catalogo-note-text-210" class="catalogo-note-search-results truncate-line-clamp">Luigi Pfannenschmidt intese dimostrare con un triango <span class="catalogo-pb" id="page_34">34</span>lo che vedesi annesso a questo libro in una tavola,
	  che tutti i colori possono comporsi col mezzo del turchino, del giallo e del rosso: la qual cosa in poche parole e
	  dimostrazioni fisiche poteva chiaramente dimostrarsi.</div><a id="catalogo-note-text-toggle-210" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	  
	                 <div class="catalogo-note">– SICILLO, Trattato de’ colori nelle arme.</div><div id="catalogo-note-text-210" class="catalogo-note-search-results truncate-line-clamp">– SICILLO, Trattato de’ colori nelle arme.</div><a id="catalogo-note-text-toggle-210" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 <div class="catalogo-note">Vedi Pellegrino.</div><div id="catalogo-note-text-210" class="catalogo-note-search-results truncate-line-clamp">Vedi Pellegrino.</div><a id="catalogo-note-text-toggle-210" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>