<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="294">
                  <span class="catalogo-item-label">294.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BENVENUTI Niccola</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/294">Corso elementare di disegno diviso in quaranta tavole, tratte dalle più
	eccellenti opere greche e da alcune pitture di Raffaello, disegnate, incise</a></span> 
                     e pubblicate da
	Giuseppe Calendi, diretto da Pietro Benvenuti e Raffaello Morghen, <span class="catalogo-pubPlace">Firenze</span> 
                     <span class="catalogo-date">1808</span>, <span class="catalogo-extent">in fol. atl.</span>
	Questa è una delle migliori opere elementari.
	</span>
	              </section>