<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3044">
                     <span class="catalogo-item-label">3044.</span> <span class="catalogo-bibl"><span class="catalogo-author">VENUTO Rudolphino cortonensi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3044">Numismata Romanorum Pontificum praestantiora a Martino V ad Benedictum

                     
                     
XIV</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1744</span>, in 4, fig.
<div id="catalogo-note-text-3044" class="catalogo-note truncate-line-clamp">Opera piena di sicure notizie, i cui medaglioni intagliati in rame sono riportati fra il testo.</div><a id="catalogo-note-text-toggle-3044" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>