<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2902">
                     <span class="catalogo-item-label">2902.</span> <span class="catalogo-bibl"><span class="catalogo-author">LANDI Constantii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2902">In veterum numismatum romanorum miscellanea explicationes</a></span>,<span class="catalogo-pubPlace"> Lugduni</span><span class="catalogo-date"> 1560</span>, in 4, M. 96.
<div class="catalogo-note collapse">Prima edizione senza le tavole, ma da pregiarsi per la descrizione e provenienza di ciascuna medaglia e poiché
piena di cognizioni intorno agli studi numismatici di quell’età che non erano molti, essendo tutte le memorie
delle monete estese a guisa di narrazioni, o di epistole a qualche suo dotto contemporaneo</div>.
</span></section>