<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1983">
                  <span class="catalogo-item-label">1983.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1983">ARME (Le) ovvero insegne di tutti i nobili della magnifica e illustrissima città di Venezia che
    ora vivono, nuovamente raccolte et poste in luce </a></span>, in <span class="catalogo-pubPlace">Venezia</span>, presso Gio. B. Taminelli
    intagliador a S. M. Nuova, <span class="catalogo-date">1541</span>, in 4.<div class="catalogo-note">
    Sono 16 foglietti incisi in legno cogli stemmi a quattro per pagina.
    </div>
    </span></section>