<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2654">
                     <span class="catalogo-item-label">2654.</span> <span class="catalogo-bibl"><span class="catalogo-author">BONANNI Francesco</span> principe di Rocca Fiorita duca di Montalbano, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2654">Delle antiche Siracuse</a></span>. Volumi due, <span class="catalogo-pubPlace">Palermo</span>
<span class="catalogo-date">1717</span>, in fol., p. fig.
<div class="catalogo-note">Nel primo volume si contiene la Siracusa illustrata da Giacomo Bonanni e Colonna duca di Montalbano. Nel
secondo gli scrittori anteriori al Bonanni come il Mirabella, il Cluverio e altri ec. con le tavole della pianta e
delle medaglie.</div>
</span></section>