<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4514">
                        <span class="catalogo-item-label">4514.</span> <span class="catalogo-bibl"><span class="catalogo-author">FOILLOT, et de la Lande</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4514">Catalogue d’une belle colléction de tableaux, esquisse à l’huile, desseins, estampes etc.
du Cabinét de M. Nourri</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1785</span>, in 8.
</span></section>