<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3488">
                     <span class="catalogo-item-label">3488.</span> <span class="catalogo-bibl"><span class="catalogo-author">CANCELLIERI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3488">Notizie delle due famose statue di un fiume e di Patroclo, dette volgarmente di Marforio
e Pasquino</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1789</span>, in 8, fig., M. 48.
<div class="catalogo-note collapse">Colle statue intagliate in rame.</div>
</span></section>