<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="932">
                  <span class="catalogo-item-label">932.</span> <span class="catalogo-bibl"><span class="catalogo-author">HERRONIS Alexandrini</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/932">Spiritalium liber a Federico Commandino Urbinate ex graeco nuper in
      latinum couversus</a></span>. <span class="catalogo-pubPlace">Urbini</span> <span class="catalogo-date">1576</span>, in 4, pic.
      <div class="catalogo-note">Bella ed accurata edizione colle tavole in legno fra il testo.</div>
      
      — <span class="catalogo-author">HIGGINS</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/932">Experiments the calcareous cements</a></span>. Vedi Faujas de Saint-fond cui va unito.
      </span></section>