<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1385">
                  <span class="catalogo-item-label">1385.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1385">ENTRATA del Cristianissimo Re Henrico III di Francia e di Polonia nella città di Mantova con
    i son <span class="catalogo-pb" id="page_236">236</span>tuosissimi apparati, trionfi e feste ec.</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1574</span> presso Francesco Petriani,
    in 4.
    <div class="catalogo-note">Con 3 foglietti di stampe.</div>
    MDLXXIV
    
    </span></section>