<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2541">
                     <span class="catalogo-item-label">2541.</span> <span class="catalogo-bibl"><span class="catalogo-author">NORDEN Frederich Lewis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2541">Travels in Egypt, and Nubia in two volumes</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1757</span>, 2 vol., in fol., figurato.
<div class="catalogo-note">Quest’opera tradotta dal danese in cui fu scritta venne pubblicata in Londra in inglese dal d. Peter Tempelmann e
deve riguardarsi come una delle migliori opere che hanno preceduto la grande e colossale ultimamente in
Francia. Tutto il primo volume è consecrato al testo: il secondo alle tavole in numero di 159.</div>

                     
                     

                  </span></section>