<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2222">
                  <span class="catalogo-item-label">2222.</span> <span class="catalogo-bibl"><span class="catalogo-author">CALVI Jacopo Alessandro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2222">Notizia della vita e delle opere di Gio. Francesco Barbieri detto il
    Guercino da Cento</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1808</span>, in 4, M. 86.
    </span></section>