<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1044">
                  <span class="catalogo-item-label">1044.</span> <span class="catalogo-bibl"><span class="catalogo-author">STROZZI Giulio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1044">La Venezia edificata</a></span>. Poema eroico cogli argomenti del Sig. Francesco
      Cortesi, <span class="catalogo-pubPlace">Venezia</span>, presso Antonio Pinelli, <span class="catalogo-date">1624</span>, in fol. fig.
      <div class="catalogo-note">Il Valesio intagliò le tavole, il frontespizio, e il ritratto dell’autore. I canti sono 24, ciascuno preceduto da una
      tavola. La prima fu disegnata da Bernardo Castello: le altre certamente sono di meno perito artefice, o se del
      medesimo, assai trascurate.</div></span></section>