<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="836">
                  <span class="catalogo-item-label">836.</span> <span class="catalogo-bibl"><span class="catalogo-author">GAULTIER Réné</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/836">Invention nouvelle et briefe pour <span class="catalogo-pb" id="page_155">155</span> reduire en perspective par le moyen
	du quarré toute sorte des plans et corps ete</a></span>. A <span class="catalogo-pubPlace">la Flèche</span>, <span class="catalogo-date">1648</span>, en 4, grand fig.
	<div class="catalogo-note">Vi sono 56 figure prospettiche assai nitidamente intagliate in rame. La nomenclatura e molti metodi sono tolti dal
	
	                 
	                 
	Nicerone. In fine è l’insegnamento per dipingere a buon fresco, che si praticava in Francia, ed è caduto in
	dissuetudine.</div>
	
	</span></section>