<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="38">
                  <span class="catalogo-item-label">38.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/38">HISTOIRE de la peinture en Italie par M. B. A. A.,</a></span>
                     <span class="catalogo-extent"> vol. 2,</span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1817,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div id="catalogo-note-text-38" class="catalogo-note truncate-line-clamp">L’autore che tiensi anonimo è il sig. B. A. Aubertin: l’opera non è per anche giunta al suo compimento.</div><a id="catalogo-note-text-toggle-38" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
               </section>