<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1106">
                  <span class="catalogo-item-label">1106.</span> <span class="catalogo-bibl"><span class="catalogo-author">OSSIAN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1106">I Canti: Pensieri d’un anonimo</a></span>, disegnati ed incisi a contorni.
      <div class="catalogo-note">L’anonimo indicato è il sig. Luigi Zandomeneghi scultore.</div><div id="catalogo-note-text-1106" class="catalogo-note-search-results truncate-line-clamp">L’anonimo indicato è il sig. Luigi Zandomeneghi scultore.</div><a id="catalogo-note-text-toggle-1106" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>