<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2553">
                     <span class="catalogo-item-label">2553.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALLATII Leonis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2553">Animadversiones in antiquitatum etruscarum fragmenta ab Inghiramo edita</a></span>,0 <span class="catalogo-pubPlace">Parisiis</span>, <span class="catalogo-date">1640</span>, ap.
Seb. Cramoysi, in 4.
</span></section>