<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1230">
                  <span class="catalogo-item-label">1230.</span> <span class="catalogo-bibl"><span class="catalogo-author">Degli ASCARI Giacomo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1230">Nuova descrizione non più uscita alle stampe di due principalissimi
    quadri di Raffaelle</a></span>; l’uno la Natività, l’altro l’Adorazione dei Magi, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1820</span>, in 12.
    <div class="catalogo-note">Sonovi singolari descrizioni d’altri preziosi quadri. Libretto curioso ed utile per concretare la provenienza di
    molte pitture.</div><div id="catalogo-note-text-1230" class="catalogo-note-search-results truncate-line-clamp">Sonovi singolari descrizioni d’altri preziosi quadri. Libretto curioso ed utile per concretare la provenienza di
    molte pitture.</div><a id="catalogo-note-text-toggle-1230" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>