<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2112">
                  <span class="catalogo-item-label">2112.</span> <span class="catalogo-bibl"><span class="catalogo-author">Le SUEUR Eustache</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2112"> La vie. Bruno fondateur de l’ordre des Chartreux, peinte à la Chartreuse
  de Paris</a></span>: gravée par François Chauveau, <span class="catalogo-pubPlace">Paris</span>, in foglio.
  <div class="catalogo-note">Contiene 22 tav. intagliate in rame. Il depauperamento a cui soggiacque la Galleria del Louvre nel 1815 collocò
  questi 22 quadri a ricuoprire i vani rimasti su quelle pareti.</div>
  
  </span></section>