<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1053">
                  <span class="catalogo-item-label">1053.</span> <span class="catalogo-bibl"><span class="catalogo-author">DOMESICHI M. Lodovico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1053">La nobiltà delle donne</a></span>, <span class="catalogo-pubPlace">Venezia</span>, Giolito, <span class="catalogo-date">1649</span>, in 12.
      <div class="catalogo-note">Libretto esteso con venustà e ripieno di belle notizie</div>.
      
      </span></section>