<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="909">
                  <span class="catalogo-item-label">909.</span> <span class="catalogo-bibl"><span class="catalogo-author">DOBRZENSKI de Nigro Ponte Iacobi W.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/909">Nova et amaenior de ammirando fontium genio ex
      abditis natura claustris in orbis lucem emanata philosophia</a></span>, <span class="catalogo-pubPlace">Ferrariae</span> <span class="catalogo-date">1659</span>, in fol. fig.
      <div id="catalogo-note-text-909" class="catalogo-note truncate-line-clamp">Libro raro e pregevole trovandosi sviluppate tutte le teorie idrauliche e idrostatiche e tutte le pratiche ingegnoso
      per la costruzione delle fontane più che non crederebbesi in una epoca in cui la fisica non aveva ancor fatti
      grandissimi progressi. Le numerose tavole intagliate in rame sono fra il testo.</div><a id="catalogo-note-text-toggle-909" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>