<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4174">
                        <span class="catalogo-item-label">4174.</span> <span class="catalogo-bibl"><span class="catalogo-author">MALVASIA Carlo Cesare</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4174">Le pitture di Bologna che rendono il passaggiero disingannato ed istrutto: dell’Ascoso
                           Accademico Gelato terza edizione</a></span>, <span class="catalogo-pubPlace">Bologna</span><span class="catalogo-date"> 1732</span>, in 12.
                           <div class="catalogo-note">Il conte Malvasia dedicò questo suo libro sotto il nome di Ascoso la prima volta che lo stampò a Carlo le Brun.</div>
</span></section>