<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3370">
                     <span class="catalogo-item-label">3370.</span> <span class="catalogo-bibl"><span class="catalogo-author">BENINCASA Bartolomeo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3370">Descrizione della raccolta di stampe del conte Jacopo Durazzo, esposta in una
dissertazione sull’arte dell’intaglio a stampa, Parma, nella stamperia Reale</a></span>, <span class="catalogo-date">1784</span>, in 4.
</span></section>