<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1854">
                  <span class="catalogo-item-label">1854.</span> <span class="catalogo-bibl"><span class="catalogo-author">BONOMI Fran. bononiensis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1854">Chiron Achiilis sive navarchus humanae vitae morali emblemate
    geminato ad felicitatis portum perducens</a></span>, <span class="catalogo-pubPlace">Bononiae</span> <span class="catalogo-date">1661</span>, in 12, fig.
    <div id="catalogo-note-text-1854" class="catalogo-note truncate-line-clamp">Frontespizio figurato con 51 tavole degli emblemi principali, senza tener conto di molte altre piccole figure in
    legno stampate fra il testo.</div><a id="catalogo-note-text-toggle-1854" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>