<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3309">
                     <span class="catalogo-item-label">3309.</span> <span class="catalogo-bibl"><span class="catalogo-author">PIGNORIO Laurentio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3309">Magnae Deum Matris Idaeae et Attidis initia ex vetustis monumentis nuper Tornaci erutis</a></span>,
<span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1624</span>, in 4, fig., M. 98.
<div class="catalogo-note">Con 6 tavole in rame di nitidissima esecuzione. Opuscolo prezioso quantunque l’argomento si trovi illustrato
posteriormente dal Paciaudi nella sua Dissertazione sul culto di Cibele (Vedi) e da Domenico Giorgi,
Interpretatio Vet. Mon. in agro Lanuvino detecti e da Filippo Tomasino (Vedi). Ma il Pignoria precedette tutte
queste ulteriori opere e merita la riconoscenza dalla posterità.</div><div id="catalogo-note-text-3309" class="catalogo-note-search-results truncate-line-clamp">Con 6 tavole in rame di nitidissima esecuzione. Opuscolo prezioso quantunque l’argomento si trovi illustrato
posteriormente dal Paciaudi nella sua Dissertazione sul culto di Cibele (Vedi) e da Domenico Giorgi,
Interpretatio Vet. Mon. in agro Lanuvino detecti e da Filippo Tomasino (Vedi). Ma il Pignoria precedette tutte
queste ulteriori opere e merita la riconoscenza dalla posterità.</div><a id="catalogo-note-text-toggle-3309" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>