<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="274">
                  <span class="catalogo-item-label">274.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">CELLINI Benvenuto</span> scultore fiorentino, <span class="catalogo-title"><a class="catalog-link" href="/catalog/274">Gli stessi due trattati,</a></span> 
                     <span class="catalogo-pubPlace">Firenze</span> 
                     <span class="catalogo-date">1731</span>,<span class="catalogo-extent"> 4,</span> edizione citata
	dalla Crusca.
	Questo prezioso libro contiene una quantità di notizie per la pratica dell’arte e non differisce la prima dalla
	seconda edizione essenzialmente, se non per essere nella seconda una prefazione con qualche notizia intorno
	all’autore.
	</span>
	              </section>