<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3240">
                     <span class="catalogo-item-label">3240.</span> <span class="catalogo-bibl"><span class="catalogo-author">HEEREN Arnoldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3240">Expositio fragmenti tabulae mar <span class="catalogo-pb" id="page_116">116</span> morae operibus caelatis et inscriptionibus graecis
                        ornatae Musei Borgiani Velitris</a></span>,<span class="catalogo-pubPlace"> Romae</span><span class="catalogo-date"> 1786</span>, in 4, fig., M. 27.
                        <div class="catalogo-note collapse">Con una tavola in rame elegantissima</div>.
</span></section>