<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1798">
                  <span class="catalogo-item-label">1798.</span> <span class="catalogo-bibl"><span class="catalogo-author">SPANDUGINO Teodoro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1798">Commentari dell’origine de’ principi turchi e de’ costumi di quella
                     nazione</a></span>, <span class="catalogo-pubPlace">Torrentino</span><span class="catalogo-date"> 1551</span>, in 8.
  <div class="catalogo-note collapse">Operetta stampata in bei caratteri corsivi e ripiena di notizie curiose e interessanti per la storia e le usanze di quei
     popoli</div>.
  
  </span></section>