<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2471">
                  <span class="catalogo-item-label">2471.</span> <span class="catalogo-bibl"><span class="catalogo-author">SPONTONI Ciro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2471">La metoposcopia, ovvero commensurazione delle linee della fronte</a></span>, <span class="catalogo-pubPlace">Venezia</span>,
    per Evangelista Deuchino, <span class="catalogo-date">1626</span>, in 8, fig.
    <div id="catalogo-note-text-2471" class="catalogo-note truncate-line-clamp">Il frontespizio è figurato in rame e le tavole in legno sono impresse fra il testo e furono disegnate da buona
    mano.</div><a id="catalogo-note-text-toggle-2471" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                  
                  
    
               </span></section>