<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3314">
                     <span class="catalogo-item-label">3314.</span> <span class="catalogo-bibl"><span class="catalogo-author">PROCOPIO Cesariense</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3314">Delle guerre di Giustiniano contro i persiani e contro i vandali, volgarizzate da Benedetto
Egio da Spoleti</a></span>, <span class="catalogo-pubPlace">Venezia</span>, <span class="catalogo-date">1547</span>, in 8, per Michel Tramezzino.
— Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/3314">Il libro degli edifizii di Giustiniano imperatore</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1547</span>, in 8.
<div id="catalogo-note-text-3314" class="catalogo-note truncate-line-clamp">Sono amendue i libri con dediche separate intitolati al molto magnifico M. Gio. Soranzo e stampati con eleganza
di tipi.</div><a id="catalogo-note-text-toggle-3314" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>