<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1393">
                  <span class="catalogo-item-label">1393.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1393">DESCRIZIONE della festa fatta in Bologna nelle nozze del Sig. Piriteo Malvezzi colla Sig. D.
    Beatrice Orsina</a></span>, li 1 8. novembre 1584, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1585</span>, in 8, per Alessandro Benaci.
    MDLXXXV
    
    </span></section>