<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3601">
                     <span class="catalogo-item-label">3601.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARTOLUCCI Vincentii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3601">Dissertatio de viis pubblicis</a></span>, 
                        <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1786</span>, in 4, M. 23.
BASILICAE veteris Vaticanae descriptio auctore romano ejusdem basilicae canonico cum notis de Angelis Pauli.
Vedi de Angelis.
</span></section>