<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2928">
                     <span class="catalogo-item-label">2928.</span> <span class="catalogo-bibl"><span class="catalogo-author">MENIZZI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2928">Delle monete de’ Veneziani dal principio al fine della loro Repubblica, P. Prima</a></span>, 
                        <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1818</span>, in 4,
fig.
<div class="catalogo-note">Le tavole in legno inserte fra i1 testo presentano una serie di antichissime monete sconosciute, che se non sono
apocrife, capovolgono le notizie fin qui avute relativamente all’antichità delle prime monete veneziane.</div><div id="catalogo-note-text-2928" class="catalogo-note-search-results truncate-line-clamp">Le tavole in legno inserte fra i1 testo presentano una serie di antichissime monete sconosciute, che se non sono
apocrife, capovolgono le notizie fin qui avute relativamente all’antichità delle prime monete veneziane.</div><a id="catalogo-note-text-toggle-2928" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>