<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1600">
                  <span class="catalogo-item-label">1600.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOSSI Hieronymi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1600">De toga romana commentarius</a></span>. Accedit ex Philippo Rubenio iconismus
    statuae toga tuae etc., <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1671</span>, in 12.
    <div class="catalogo-note collapse">La tavola tolta dal Rubenio, che è in 4, trovasi piegata in questo libretto, a car. 82.</div>
    
    </span></section>