<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="755">
                  <span class="catalogo-item-label">755.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARINI Motta Fabbricio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/755">Trattato sopra la struttura de’ teatri e scene, che a’ nostri giorni si
	costumano</a></span>, <span class="catalogo-pubPlace">Guastalla</span> <span class="catalogo-date">1676</span>, in fol. pic. fig. Con undici tavole intagliate in rame.
	<div class="catalogo-note">Se si potessero da un’opera somigliante escludere il buon gusto e la comodità, questa sarebbe da tenersi in
	qualche pregio: ma i difetti la vincono sulle bellezze e non serve che a tener memoria nella storia delle arti della
	bizzaria del gusto di quell’età.</div><div id="catalogo-note-text-755" class="catalogo-note-search-results truncate-line-clamp">Se si potessero da un’opera somigliante escludere il buon gusto e la comodità, questa sarebbe da tenersi in
	qualche pregio: ma i difetti la vincono sulle bellezze e non serve che a tener memoria nella storia delle arti della
	bizzaria del gusto di quell’età.</div><a id="catalogo-note-text-toggle-755" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>