<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="609">
                  <span class="catalogo-item-label">609.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">PEYRE Marie Joseph</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/609">Oeuvre d’architecture,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1765,</span> 
                     <span class="catalogo-extent">in fol. fig., M. 90.</span>
                  </span>
	                 <span class="catalogo-bibl">Sono tutti proggetti vasti e immaginosi d’invenzione dell’architetto, dimostrati in 19 tavole colle rispettive
	illustrazioni.</span>
	
	              </section>