<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="812">
                  <span class="catalogo-item-label">812.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAROZZI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/812">Regole della prospettiva pratica con i commentari di Ignazio Danti</a></span>, <span class="catalogo-pubPlace">Venezia</span>, presso
	Pietro Battaglia, <span class="catalogo-date">1743</span>, in fol. fig.
	<div class="catalogo-note">Quarta edizione diligentemente migliorata. La varietà particolarmente consiste nelle tavole che tutte rifatte da
	Giorgio Fossati sono in rame, mentre la maggior parte nelle tre precedenti edizioni erano in legno. In generale
	tanto pel tipi, quanto per gli intagli è da posporsi alle antiche edizioni.</div><div id="catalogo-note-text-812" class="catalogo-note-search-results truncate-line-clamp">Quarta edizione diligentemente migliorata. La varietà particolarmente consiste nelle tavole che tutte rifatte da
	Giorgio Fossati sono in rame, mentre la maggior parte nelle tre precedenti edizioni erano in legno. In generale
	tanto pel tipi, quanto per gli intagli è da posporsi alle antiche edizioni.</div><a id="catalogo-note-text-toggle-812" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>