<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2325">
                  <span class="catalogo-item-label">2325.</span> <span class="catalogo-bibl"><span class="catalogo-author">MILIZIA. Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2325">Memorie degli architetti antichi e moderni</a></span>. Terza edizione accresciuta e
    corretta dallo stesso autore, <span class="catalogo-pubPlace">Parma</span> <span class="catalogo-date">1781</span>, to. 2, in 4.
    <div class="catalogo-note collapse">Questa è la migliore edizione di quest’opera in cui sono influite ottime nozioni e profondissima critica, sebben
    troppo severa e qualche volta pericolosa per i giovani artisti.</div>
    
    </span></section>