<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3403">
                     <span class="catalogo-item-label">3403.</span> <span class="catalogo-bibl"><span class="catalogo-author">LEGATI Lorenzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3403">Museo Cospiano annesso a quello del famoso Ulisse Aldovrandi e donato alla sua <span class="catalogo-pb" id="page_138">138</span>
patria dal sig. Ferd. Cospi patrizio e senatore di Bologna descritto da Lorenzo Legati cremonese</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1677</span>,
in fol., fig.
<div class="catalogo-note">Le tavole sono in legno a’ luoghi dal testo indicati intagliati da Veronica Fontana, di cui mano è anche il ritratto
di Ferdinando III di Toscana al quale il volume è intitolato. Il solo ritratto del Cospi è intagliato in rame da Adr.
Halluech tolto da una pittura di Sutterman.</div><div id="catalogo-note-text-3403" class="catalogo-note-search-results truncate-line-clamp">Le tavole sono in legno a’ luoghi dal testo indicati intagliati da Veronica Fontana, di cui mano è anche il ritratto
di Ferdinando III di Toscana al quale il volume è intitolato. Il solo ritratto del Cospi è intagliato in rame da Adr.
Halluech tolto da una pittura di Sutterman.</div><a id="catalogo-note-text-toggle-3403" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>