<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4106">
                     <span class="catalogo-item-label">4106.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4106"> VEDUTE delle ville, e d’altri luoghi della Toscana</a></span>, presso Giuseppe Bouchard, 
                        <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1757</span>, in fol. oblong.
<div class="catalogo-note">Tavole 50 delle quali Giuseppe Zucchi fu il disegnatore. Alcune di queste tavole intagliate da buoni maestri
rendono una vera idea dei bei luoghi della Toscana: altre poi sono molto inferiori, cosicché avvi una grande
diseguaglianza, e fra le cose cattive è osservabile il frontespizio figurato.</div>
</span></section>