<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1515">
                  <span class="catalogo-item-label">1515.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1515">NARRAZIONE delle solenni reali feste celebrate in Napoli da Carlo Infante di Spagna per la
    nascita del suo primogenito Filippo Real Principe delle due Sicilie</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1749</span>, in fot. atl.
    fig.
    <div id="catalogo-note-text-1515" class="catalogo-note truncate-line-clamp">Con 14 tavole grandissime intagliate da Gius. Vasi, da Luigi le Lorain, da Jardin ec. il tutto d’invenzione
    dell’architetto Vincenzo Re. Esemplare di dedica.</div><a id="catalogo-note-text-toggle-1515" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCCL
    
    </span></section>