<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4286">
                        <span class="catalogo-item-label">4286.</span> <span class="catalogo-bibl"><span class="catalogo-author">FELIBIEN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4286">Recueil des déscriptions des peintures et autres ouvrages faites pour le Roy</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1682</span>, in 12, fig.</span>
<div class="catalogo-note">Libretto elegantissimo in mar. dor. ove sono due bei ritratti del re, e della regina. Contiene le descrizioni delle 8
tappezzerie di le Brun, dell’Arco alla piazza del Delfino, della famiglia di Dario dipinta per gabinetto reale, la
descrizione delle feste, e della villa di Versailles, e un romanzetto allegorico in fine intitolato Le songe de
Philomathe ec.</div><div id="catalogo-note-text-4286" class="catalogo-note-search-results truncate-line-clamp">Libretto elegantissimo in mar. dor. ove sono due bei ritratti del re, e della regina. Contiene le descrizioni delle 8
tappezzerie di le Brun, dell’Arco alla piazza del Delfino, della famiglia di Dario dipinta per gabinetto reale, la
descrizione delle feste, e della villa di Versailles, e un romanzetto allegorico in fine intitolato Le songe de
Philomathe ec.</div><a id="catalogo-note-text-toggle-4286" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
		     </section>