<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2404">
                  <span class="catalogo-item-label">2404.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITTORIA D. Vincenzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2404">Osservazioni sopra il libro della Felsina Pittrice per difesa di
    Rafaello</a></span>, dei Caracci ec., <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1703</span>, in 8.<div class="catalogo-note collapse">
    Si riprendono tutti, o molti dei passi pungenti dei Malvasia <span class="catalogo-pb" id="page_405">405</span> e trovasi innanzi al frontespizio una tavola in
    rame con due mani che temperano una penna da scrivere col motto di sopra ut scribat, non feriat.
    </div>
    </span></section>