<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4246">
                        <span class="catalogo-item-label">4246.</span> <span class="catalogo-bibl"><span class="catalogo-author">MORIGIA Paolo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4246">La nobiltà di Milano aggiuntovi il supplemento di Girolamo Borsieri</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1619</span>, in 8.
<span class="catalogo-pb" id="page_275">275</span>
                     </span></section>