<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="314">
                  <span class="catalogo-item-label">314.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">CORNEILLE J. B.</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/314"> Les premiers élémens de la peinture pratique enrichis de figures de
	proportions mésurées sur l’antique, dessinées et gravées par J. B. Corneille peintre de
	l’Academie Royale,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1684,</span> 
                     <span class="catalogo-extent">in 12, fig.</span>
	                    <div class="catalogo-note">Libretto piuttosto raro e succinto che ha qualche merito per la succosa con cui è scritto: ma si estende presso ché
	esclusivamente sui preparativi meccanici dell’arte della pittura e le tavole sono inserte fra il testo dell’opera.</div><div id="catalogo-note-text-314" class="catalogo-note-search-results truncate-line-clamp">Libretto piuttosto raro e succinto che ha qualche merito per la succosa con cui è scritto: ma si estende presso ché
	esclusivamente sui preparativi meccanici dell’arte della pittura e le tavole sono inserte fra il testo dell’opera.</div><a id="catalogo-note-text-toggle-314" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	                 
	                 
	                 
	
	              </section>