<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="303">
                  <span class="catalogo-item-label">303.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CARACCI Annibale</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/303">Scuola perfetta per imparare a disegnare tutto il corpo umano, cavata dallo
	studio e disegni de’ Caracci,</a></span> 
                     <span class="catalogo-extent">fol. fig.</span> con tavole 44 compreso il frontispizio.</span>
	              </section>