<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1072">
                  <span class="catalogo-item-label">1072.</span> <span class="catalogo-bibl"><span class="catalogo-author">VAENII</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/1072">Ernesti tractatus phisiologicus de pulchritudine juxta ea quae de sponsa in canticis
      canticorum mystice pronunciantu</a></span>, <span class="catalogo-pubPlace">Bruxelles</span> <span class="catalogo-date">1662</span>, in 12, fig.
      <div class="catalogo-note collapse">Vi sono 20 tavole tra il testo intagliate in rame a contorno con nitidezza.</div>
      <span class="catalogo-pb" id="page_190">190</span>
               </span></section>