<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="71">
                  <span class="catalogo-item-label">71.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/71">ANTOLOGIA dell’Arte Pittorica, contenente un saggio sulla composizione della pittura: il trattato
	  della bellezza e del gusto, di Raffaello Mengs. Una lettera del medesimo sul merito dei quadri
	  del real palazzo di Madrid; alcune regole della pittura di Lomazzo. L’arte del dipingere a
	  fresco di Andrea Pozzo; e le lezioni pratiche sul colorito di Mengs, </a></span>
                     <span class="catalogo-pubPlace">Augusta</span> 
                     <span class="catalogo-date">1784,</span>
                     <span class="catalogo-extent"> in 4. fig.</span>
                  </span>
	                 <span class="catalogo-pb" id="page_12">12</span>
	              </section>