<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2688">
                     <span class="catalogo-item-label">2688.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2688">NOTIZIE curiose intorno lo scoprimento della città d’Ercolano</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1747</span>.
<div class="catalogo-note">Questo non è che un avviso di poche pagine, pubblicato forse in qualche articolo di Giornal Letterario, il quale
annuncia come prossima l’opera del Bajardi sulle antichità ercolanensi e porta la versione di due lettere di Plinio
al suo Tacito.</div><div id="catalogo-note-text-2688" class="catalogo-note-search-results truncate-line-clamp">Questo non è che un avviso di poche pagine, pubblicato forse in qualche articolo di Giornal Letterario, il quale
annuncia come prossima l’opera del Bajardi sulle antichità ercolanensi e porta la versione di due lettere di Plinio
al suo Tacito.</div><a id="catalogo-note-text-toggle-2688" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>