<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="301">
                  <span class="catalogo-item-label">301.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">BUCHOTTE, </span>
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/301">Les regles du dessein et du lavis,</a></span> 
                     <span class="catalogo-pubPlace">Paris </span>
                     <span class="catalogo-date">1722,</span> 
                     <span class="catalogo-extent">in 8.</span> Prima edizione con minor
	numero di tavole della seguente.</span>
	              </section>