<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3683">
                     <span class="catalogo-item-label">3683.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3683">Le COSE maravigliose della città di Roma colle reliquie, e colle indulgentie de dì in dì che sono in tutte le chiese di
essa</a></span>, tradotte di latino in vol <span class="catalogo-pb" id="page_185">185</span> gare, in <span class="catalogo-pubPlace">Vinegia</span>, per Guglielmo da Fontaneto, 10 marzo <span class="catalogo-date">1544</span>, in 8.
<div class="catalogo-note">Questa è una ristampa e traduzione delle antiche Mirabilia Romae.</div>
</span></section>