<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3961">
                     <span class="catalogo-item-label">3961.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOREL Pierre conseiller et med. du Roy</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3961">Tresor des recherches et antiquités gauloises et françoi <span class="catalogo-pb" id="page_232">232</span> ses
reduites en ordre alphabetique etc.</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1655</span>, in 4.
</span></section>