<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="942">
                  <span class="catalogo-item-label">942.</span> <span class="catalogo-bibl"><span class="catalogo-author">MEMMO Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/942">Vita e macchine di Bartolommeo Ferracino celebre bassanese ingegnere,
      colla storia del Ponte di Bassano dal medesimo rifabbricato</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1754</span>, in 4, pic. fig.
      — Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/942">La relazione e le tavole per la ricostruzione del detto Ponte estesa dal
      medesimo Ferracina</a></span>, <span class="catalogo-date">17 Settembre 1751</span>.
      <div id="catalogo-note-text-942" class="catalogo-note truncate-line-clamp">Una gran tavola con undici figure va annessa a questa relazione e tre tavole illustrano il testo del libro cui va in
      fronte il ritratto del famoso meccanico Ferracino. Opera estesa semplicemente senza grande apparato di dottrine,
      una che rende conto delle opere e della vita d’un bellissimo ingegno.</div><a id="catalogo-note-text-toggle-942" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      <span class="catalogo-author">MIRAMI Rafaelle</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/942">Della Specularia</a></span>. Vedi <span class="catalogo-author">Herrome</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/942">Gli artificiosi moti con cui è legato</a></span>.
      <span class="catalogo-pb" id="page_173">173</span>
               </span></section>