<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2493">
                     <span class="catalogo-item-label">2493.</span> <span class="catalogo-bibl"><span class="catalogo-author">MONTFAUCON (de) D. Bernard</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2493">L’antiquité (en françois, et en latin), et représentée en figures.</a></span> <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1719</span>, 5 tom.
en 10 vol., in fol., avec le supplément, Paris 1724, 5 vol., in fol., fig.
<div id="catalogo-note-text-2493" class="catalogo-note truncate-line-clamp">In questa grand’opera trovasi riunita e riprodotta una Biblioteca d’autori d’antichità, ma in alcuni rami è prolissa
con inutilità e troppo di sovente espone l’oggetto puramente descrivendolo e non interpretandolo con
accorgimento e con critica, senza portar luce nella oscurità e spianare gli ostacoli e le difficoltà. Opera eseguita
con troppa fretta e che abbisognava di una scelta di dotti collaboratori, volendo abbracciare una sì vasta
estensione. Manca intieramente di gusto anche nelle tavole spesso infedeli.</div><a id="catalogo-note-text-toggle-2493" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                     
                     

                  </span></section>