<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1933">
                  <span class="catalogo-item-label">1933.</span> <span class="catalogo-bibl"><span class="catalogo-author">PHILOSTRATE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1933">Les images ou tableaux de platte peinture des deux Philostrates sophistes
    grecs</a></span>, mis en français par Blaise de Vigénere et representéz en taille douce, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1629</span>, in fol.
    fig.

                  
                  
    <div id="catalogo-note-text-1933" class="catalogo-note truncate-line-clamp">Opera che non gode gran credito per la sua prolissità e poca giustezza di critica e intralciata erudizione, ma che
    non manca di essere di qualche pregio per chi sa sciegliere il grano dalla zizania; volume di presso a 1000 pagine
    comprendendovi gli indici e i prolegomeni. Le numerose tavole di cui va ornato non sono spregievoli. Sembra
    che ne fosse fatta un’anteriore edizione nel 1614.</div><a id="catalogo-note-text-toggle-1933" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>