<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4168">
                        <span class="catalogo-item-label">4168.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4168">Della CHIESA del S. Sepolcro riputata l’antico Battisterio di Bologna, e in generale dei Battisteri. Discorso
dedicato a Gesù Cristo, e al suo amico e battezzatore Giovanni</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1772</span>, in 8, M. 50, con una tavola della
pianta.
<div id="catalogo-note-text-4168" class="catalogo-note truncate-line-clamp">Si ricava in quest’opera qualche notizia intorno l’antica basilica di S. Stefano, ma dal titolo si capisce facilmente
in che direzione l’autore abbia rivolte le sue ricerche.</div><a id="catalogo-note-text-toggle-4168" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>