<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4696">
                     <span class="catalogo-item-label">4696.</span> <span class="catalogo-bibl"><span class="catalogo-author">COMITIS Natalis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4696">Mythologiae sive explicationis fabularum libri decem.</a></span>
— Accedunt Linocerii Musarum Mythologia, et alia Antonii Tritonii Utinensis, <span class="catalogo-pubPlace">Patavii</span> <span class="catalogo-date">1637</span>, in 4, figurato.
</span></section>