<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4203">
                        <span class="catalogo-item-label">4203.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOCCHI messer Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4203">Le bellezze della città di Firenze dove a pieno di pittura, scultura, di templi, di palazzi,
                           i più notabili artifizii e più preziosi si contengono</a></span>, <span class="catalogo-pubPlace">Firenze</span><span class="catalogo-date"> 1591</span>, in 8.
<div class="catalogo-note">Questo è il primo libro ben fatto che illustrasse le curiosità di Firenze, del quale i begli esemplari per la
   conservazione sono rari</div>.
</span></section>