<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1886">
                  <span class="catalogo-item-label">1886.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1886">EMBLEMATA anniversaria Academiae Althorphinae studiorum juventutis exercitandorum
    causa proposita et variorum orationibus exposita</a></span>, <span class="catalogo-pubPlace">Norimbergae</span> <span class="catalogo-date">1597</span>, in 4, fig.
    <div class="catalogo-note collapse">Bella e dotta opera con 59 tavole d’emblemi e un bel frontespizio figurato.</div>
    
    </span></section>