<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="375">
                  <span class="catalogo-item-label">375.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">ALBERTI Leon Battista</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/375"> L’architettura tradotta in lingua fiorentina da Cosimo Bartoli
	gentiluomo e accademico fiorentino, coll’aggiunta de’ disegni ed altri diversi trattati del
	medesimo autore. </a></span>
                     <span class="catalogo-pubPlace">Nel Monteregale,</span> 
                     <span class="catalogo-pubPlace">Torrentino,</span> 
                     <span class="catalogo-date">1565,</span>
                     <span class="catalogo-extent"> in fol. fig.</span>
                  </span>
	                 <div id="catalogo-note-text-375" class="catalogo-note truncate-line-clamp">A tergo del frontespizio e il ritratto dell’autore, poi la dedica del traduttore a Cosimo de Medici. Cominciano li
	dieci libri dell’architettura colle tavole in legno fra il testo. A questa va aggiunto il trattato della pittura tradotto
	da Lodovico Domenichi e in fine la tavola delle cose notabili. La prima edizione di questa versione del Bartoli è
	del 1550, per Lorenzo Torrentino.</div><a id="catalogo-note-text-toggle-375" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>