<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4637">
                     <span class="catalogo-item-label">4637.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRAVETTI Jacopo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4637">Indice dei libri a stampa citati per testo di lingua nel Vocabolario della Crusca</a></span>, 
                        <span class="catalogo-pubPlace">Verona</span> <span class="catalogo-date">1798</span>,
in 8.
</span></section>