<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1251">
                 <span class="catalogo-item-label">1251.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1251">DESCRIZIONE degli arazzi della Regina Cristina di Svezia provenienti dal Sacco, prima di
		 Mantova, poi di Praga, portati in Roma dalla stessa, e in sua <span class="catalogo-pb" id="page_219">219</span> morte comperati e
		 posseduti dal P. D. Livio Odescalchi Duca di Bracciano</a></span>.
	       Due foglietti in 4 <span class="catalogo-pubPlace">Roma</span>. M. 5.</span></section>