<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="777">
                  <span class="catalogo-item-label">777.</span> <span class="catalogo-bibl"><span class="catalogo-author">RICCATI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/777">Della costruzione de’ teatri secondo il costume d’Italia, vale a dire divisi in
	piccole loggie</a></span>, <span class="catalogo-pubPlace">Bassano</span> <span class="catalogo-date">1790</span>, in 4, fig.
	<div class="catalogo-note collapse">Con tre tavole in rame.</div>
	
	<span class="catalogo-pb" id="page_145">145</span>
	              </span></section>