<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2668">
                     <span class="catalogo-item-label">2668.</span> <span class="catalogo-bibl"><span class="catalogo-author">CUPERO Gisberto</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2668">Apotheosis vel consecratio Homeri, sive lapis antiquissimus, in quo poetarum principis Homeri
consecratio sculpta est, commentario illustratus: accedunt etc.</a></span>, <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1683</span>, in 4, fig.
<div class="catalogo-note">Le tavole numerose di monumenti e medaglie sono sparse per l’opera fra il testo. È da osservarsi che non manchi
in principio la bellissima tavola grande dell’Apoteosi intagliata dal Gallestruzzi. Magnifico esemplare in vit.</div>
</span></section>