<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1207">
                  <span class="catalogo-item-label">1207.</span> <span class="catalogo-bibl"><span class="catalogo-author">SAVARY</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1207">Lettres sur l’Egypte</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1786</span>, in 8, vol. 3, leg. in 2.
    <div id="catalogo-note-text-1207" class="catalogo-note truncate-line-clamp">Sonovi due carte topografiche e una tavola coll’intaglio di una piramide.</div><a id="catalogo-note-text-toggle-1207" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>