<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2159">
                  <span class="catalogo-item-label">2159.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2159">DICTIONNAIRE abrégé de peinture et architécture</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1745</span>, in 12, vol. 2.
 <div class="catalogo-note collapse">   Questo dizionario restringendo la materia a questi due rami soli delle arti è preferibile a quello di Lacombe.
 </div>   
    </span></section>