<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="628">
                  <span class="catalogo-item-label">628.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/628">RAGIONAMENTO intorno al formare loggie arcate l’una soprapposta all’altra in fabbriche fornite
                        di <span class="catalogo-pb" id="page_114">114</span> più ordini d’architettura,</a></span> 
                     <span class="catalogo-pubPlace">Bologna</span> 
                     <span class="catalogo-date">1778,</span> 
                     <span class="catalogo-extent">in 8, fig., M. 31.</span>
                  </span>
                  <div class="catalogo-note">Con una gran tavola in rame.</div>
	
	              </section>