<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="177">
                  <span class="catalogo-item-label">177.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">PASSERI Niccola</span> di Faenza, <span class="catalogo-title"><a class="catalog-link" href="/catalog/177">Del metodo di studiare la pittura e delle cagioni di sua decadenza.
	  Dialoghi,</a></span> 
                     <span class="catalogo-pubPlace">Napoli</span> 
                     <span class="catalogo-date">1795,</span> 
                     <span class="catalogo-extent">vol. 2 legati in uno, in 8.</span>
                  </span>
	                 
	                 
	                 
	                 <div class="catalogo-note collapse">Gli interlocutori sono Mengs e Winkelmann, che appunto con altri uomini sommi contribuivano, allora che
	  l’autore pubblicò quest’opera, al risorgimento delle arti; e Piranesi, e Canova, e Flaxman, e David, e Pikler, e
	  Morghen, e Volpato, e cento altri elevavano precisamente le arti dalla lor <span class="catalogo-pb" id="page_29">29</span> decadenza. Singolarissima è una
	  dissertazione.</div>	  
	              </section>