<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="573">
                  <span class="catalogo-item-label">573.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">Le MUET</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/573">Traité des cinq ordres d’architecture, dont se sont servi les anciens: traduit du
	Palladio: Augmenté des nouvelless inventions pour l’art de bien bâtir, avec un traité des
	galéries, entrées, salles etc.,</a></span> 
                     <span class="catalogo-date">Paris,</span> 
                     chez l’Anglois, 
                     <span class="catalogo-date">1645,</span> 
                     <span class="catalogo-extent">en 8, fig.</span>
                  </span>
	                 <div class="catalogo-note">Questo elegantissimo libretto ha tutto il suo testo egualmente che le tavole intagliate in rame.</div><div id="catalogo-note-text-573" class="catalogo-note-search-results truncate-line-clamp">Questo elegantissimo libretto ha tutto il suo testo egualmente che le tavole intagliate in rame.</div><a id="catalogo-note-text-toggle-573" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>