<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="672">
                  <span class="catalogo-item-label">672.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SERLII Sebastiani</span> bononiensis, <span class="catalogo-title"><a class="catalog-link" href="/catalog/672">De architectura libri V, a Joanne Carlo Saraceno ex italica in
	latina in linguam nunc primum translati atque conversi,</a></span> 
                     <span class="catalogo-pubPlace">Venetiis,</span> 
                     apud Franciscum de
	Franciscis et Jo. Crugher, 
                     <span class="catalogo-date">1569,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">L’opera è preceduta da una lunga prefazione del traduttore e in fine è il libro delle porte. Le tavole sono in legno
	come le precedenti, dallo stesso socio del Franceschi intaglate.</div>
	
	              </section>