<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="637">
                  <span class="catalogo-item-label">637.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">Del ROSSO Giuseppe</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/637">Ricerche sull’architettura egiziana e su ciò che i Greci pare abbiano
	preso da quella nazione, in risposta al quesito della R. Accademia delle iscrizioni e belle
	lettere di Parigi proposto per l’anno 1785,</a></span> 
                     <span class="catalogo-pubPlace">Firenze</span> 
                     <span class="catalogo-date">1787,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note">Opera divisa in due parti, nella prima raccolgonsi le notizie storielle e ciò che riguarda l’architettura egizia; e
	nella seconda si riconosce il passaggio dall’architettura egiziana alla greca.</div>
	              </section>