<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1100">
                  <span class="catalogo-item-label">1100.</span> <span class="catalogo-bibl"><span class="catalogo-author">GOETHE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1100">Disegni intagliati a contorni presi dalla composizione poetica di Goethe</a></span> con una
      breve illustrazione in tedesco. Composti ed eseguiti con infinita grazia, tav. 26.
      <span class="catalogo-pb" id="page_195">195</span>
               </span></section>