<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2001">
                  <span class="catalogo-item-label">2001.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOSSI Benigno milanese prof. nell’Accad. di Parma</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2001">Raccolta di disegni originali di Fran.
  Mazzola detto il Parmigiano, tolti dal gabinetto del C. Sanvitali</a></span>, <span class="catalogo-pubPlace">Parma</span> <span class="catalogo-date">1772</span>, con qualche
  altra stampa tratta da disegni originali: sono tavole 37.
  — <span class="catalogo-bibl">Aggiuntavi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/2001">una raccolta di teste inventate, disegnate, ed incise dallo stesso</a></span>, <span class="catalogo-pubPlace">Parma</span>, presso
  l’autore: sono tav. 17 nelle quali sono intagliate 39 teste.</span>
  — <span class="catalogo-bibl">Aggiuntevi: altre 8 tavole tratte da diversi autori.</span>
  
                  
                  
  
  —<span class="catalogo-bibl"> Aggiuntevi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/2001">Fisonomie possibili parte 1</a></span>, <span class="catalogo-date">1776</span>, tav. 8.</span>
  <div id="catalogo-note-text-2001" class="catalogo-note truncate-line-clamp">In tutto il volume è di tavole 70 intagliate con grazia all’acqua forte.</div><a id="catalogo-note-text-toggle-2001" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>