<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4744">
                     <span class="catalogo-item-label">4744.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4744">RITUUM ecclesiasticorum, sive sacrarum ceremoniarum S. R. Ecclesiae libri tres non antea impressi</a></span>. Editi ab
Antonio, et Silvano Cappellis civibus venetis, <span class="catalogo-pubPlace">Venetiis</span>, <span class="catalogo-date">1516</span>, in fol., fig., impressum a Gregorio de Gregoriis.
</span></section>