<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="437">
                  <span class="catalogo-item-label">437.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BLONDEL François</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/437">De l’utilité de joindre à l’etude de l’architecture celui des sciences et de
	arts qui lui sont relatifs,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1771,</span>
                     <span class="catalogo-extent"> in 8.</span>
	                    <div class="catalogo-note">Quest’opuscolo è estratto dal terzo volume del Corso d’Architettura di questo autore.</div><div id="catalogo-note-text-437" class="catalogo-note-search-results truncate-line-clamp">Quest’opuscolo è estratto dal terzo volume del Corso d’Architettura di questo autore.</div><a id="catalogo-note-text-toggle-437" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>