<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2911">
                     <span class="catalogo-item-label">2911.</span> <span class="catalogo-bibl"><span class="catalogo-author">MACCÀ Gaetano Girolamo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2911">Della zecca vicentina trattato</a></span>, 
                       <span class="catalogo-pubPlace"> Vicenza</span> <span class="catalogo-date">1802</span>, in 8, M. 68.
<div class="catalogo-note">Non è che una moneta in legno sul frontespizio.</div>
</span></section>