<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="317">
                  <span class="catalogo-item-label">317.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DANTI Vincenzo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/317">Il primo libro del trattato delle perfette proporzioni di tute le cose che imiare
	e ritrarre si possano con l’arte del disegno,</a></span> 
                     <span class="catalogo-pubPlace">Firenze</span> 
                     <span class="catalogo-date">1567,</span>
                     <span class="catalogo-extent"> in 4.</span> Senza nome di stampatore ma
	dei Giunti, esemplare magnifico in carta distinta in marocchino dorato.
	<div class="catalogo-note">Questo trattato doveva essere composto di quindici libri ed il primo soltanto vide la luce. Libretto prezioso e
	meritamente raro e degno che sia ristampato; poiché non hanno forse le arti un’opera più chiaramente e meglio
	scritta di questa. Ma chi sa ove siano sepolti gli altri quattordici libri, che probabilmente saranno stati estesi
	dall’autore?</div><div id="catalogo-note-text-317" class="catalogo-note-search-results truncate-line-clamp">Questo trattato doveva essere composto di quindici libri ed il primo soltanto vide la luce. Libretto prezioso e
	meritamente raro e degno che sia ristampato; poiché non hanno forse le arti un’opera più chiaramente e meglio
	scritta di questa. Ma chi sa ove siano sepolti gli altri quattordici libri, che probabilmente saranno stati estesi
	dall’autore?</div><a id="catalogo-note-text-toggle-317" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>