<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3661">
                     <span class="catalogo-item-label">3661.</span> <span class="catalogo-bibl"><span class="catalogo-author">CELIO Gaspare</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3661">Dell’abito di Cristo. Memoria delli nomi degli artefici delle pitture che sono in alcune chiese,
facciate, e palazzi di Roma</a></span>, in <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1638</span>, in 12.
</span></section>