<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2349">
                  <span class="catalogo-item-label">2349.</span> <span class="catalogo-bibl"><span class="catalogo-author">POMPEI Girolamo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2349">Orazione in morte di Giambettino Cignaroli pittor veronese ed alcune
    poetiche composizioni sullo stesso argomento</a></span>, <span class="catalogo-pubPlace">Verona</span> <span class="catalogo-date">1771</span>, in 4, M. 11.
    </span></section>