<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1452">
                  <span class="catalogo-item-label">1452.</span> <span class="catalogo-bibl"><span class="catalogo-author">VALDOR Jean</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1452">Les triomphe de Louis le Juste XIII du nom roi de France et de Navarre avec
    les portraits du roi, princes etc. etc. et leurs devises en forme d’eloge par Henry Êtienne</a></span>,

                  
                  
    
    traduit en latin par le P. Nicolai, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1649</span>, in fol. fig. francese e latino. Ouvrage entrepris et
    fini par Jean Valdor calcographe du roi.
    <div id="catalogo-note-text-1452" class="catalogo-note truncate-line-clamp">Opera copiosissima di bellissimi ritratti imprese ed altre stampe allegoriche frapposte al testo; il quale parimente
    è eseguito con molto splendore di tipi.</div><a id="catalogo-note-text-toggle-1452" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCLI
    
    </span></section>