<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1070">
                  <span class="catalogo-item-label">1070.</span> <span class="catalogo-bibl"><span class="catalogo-author">SPAGNIO Andrea fiorentino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1070">De bono, de malo, de pulcro</a></span>, libri tres editi retractatior, <span class="catalogo-pubPlace">Romae</span>
      <span class="catalogo-date">1776</span>, in 4.
      <div class="catalogo-note collapse">In questo grosso volume la materia è trattata piuttosto secondo le viste del teologo che del filosofo, o dell’artista.</div>
      
      </span></section>