<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="561">
                  <span class="catalogo-item-label">561.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">MARQUEZ D. Pietro Gias.</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/561">Esercitazioni architettoniche sopra gli spettacoli degli antichi con
	un’appendice sul bello in generale,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1808,</span> 
                     <span class="catalogo-extent">in 4, fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Con 27 figure dimostrative, in 3 grandi tavole. Questo dot<span class="catalogo-pb" id="page_100">100</span>to Messicano sparse una copiosissima
	erudizione in tutte te sue opere, che meritano di stare fra le più utili e istruttive in queste materie.</div>
	
	              </section>