<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="863">
                  <span class="catalogo-item-label">863.</span> <span class="catalogo-bibl"><span class="catalogo-author">TESI Mauro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/863">Raccolta di disegni originali estratti da diverse collezioni pubblicata da Lodovico
	Inig Calcografo in Bologna</a></span>. Aggiuntavi <span class="catalogo-title"><a class="catalog-link" href="/catalog/863">la Vita dell’autore</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1787</span>, in fol.
	<div id="catalogo-note-text-863" class="catalogo-note truncate-line-clamp">L’opera consiste in 42 tavole di opere prospettiche assai belle precedute dalla vita e dagli elenchi ec. che
	occupano 15 pagine. Questo esemplare è unico e per conseguenza assai pregevole, essendo pieno di molte prove
	delle tavole in diversi gradi avanti il loro ombreggiamento e perfezionamento e di molti contracalchi. Appartenne
	al celebre Ab. Bianconi amico dell’autore, indi al sig. Giuseppe Bossi e passò poi in questa nostra Biblioteca.
	L’esemplare qui citato è composto di 94 tavole in luogo che di 41.</div><a id="catalogo-note-text-toggle-863" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>