<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1858">
                  <span class="catalogo-item-label">1858.</span> <span class="catalogo-bibl"><span class="catalogo-author">BORSETTA Cesare</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1858">Discorsi della natura delle imprese e della modestia descrittori</a></span>, <span class="catalogo-pubPlace">Verona</span>,
    nella stamperia di Angelo Tamo, <span class="catalogo-date">1602</span>, in 4.
    <div id="catalogo-note-text-1858" class="catalogo-note truncate-line-clamp">Opuscoletto singolare e stampato in bei caratteri rotondi difficile a trovarsi.</div><a id="catalogo-note-text-toggle-1858" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>