<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="386">
                  <span class="catalogo-item-label">386.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">ALBERTI messer Leon Battista</span> fiorentino, <span class="catalogo-title"><a class="catalog-link" href="/catalog/386">Hecatomphila, nella quale ne insegna l’ingegnosa
	arte d’amore, mostrandone il perito modo d’amare, ove di semplici e rozzi, saggi e gentili ne
	fa divenire:</a></span>
                     <span class="catalogo-pubPlace"> in Venezia</span> 
                     <span class="catalogo-date">1545,</span> senza nome di stampatore,<span class="catalogo-extent"> in 8.</span>
                  </span>
	              </section>