<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1401">
                  <span class="catalogo-item-label">1401.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOCCHI Jo.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1401">Descriptio publica gratulationis spe <span class="catalogo-pb" id="page_239">239</span> ctaculorum et ludorum in adventu
    Serenissimi Principis Ernesti Archid. Austriae etc.</a></span> Omnia a Jo. Bocchio S. P. A. A. a secretis
    conscripta, <span class="catalogo-pubPlace">Ant.</span> Plantin <span class="catalogo-date">1595</span>, in fog. fig.
    <div class="catalogo-note collapse">Splendidissima edizione con trentadue tavole di ricco lavoro non compresa quella del frontespizio, fatte da Pietro
    Vander Borcht. Esemplare del Tuano.</div>
    MDXCVIII
    
    </span></section>