<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1111">
                  <span class="catalogo-item-label">1111.</span> <span class="catalogo-bibl"><span class="catalogo-author">SALLUSTIO Cayo Crispo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1111">La conjuration de Catilina, y la guerra de Jugurta</a></span>, en <span class="catalogo-pubPlace">Madrid</span>, par
      Joachin Ibarra, <span class="catalogo-date">1772</span>, in fol. fig. spagnuolo e latino.
      <div class="catalogo-note collapse">Splendida edizione, col frontespizio intagliato e disegnato da Montfort, stampata uniformemente in carta velina
      bianca senza il mescuglio della carta azzurra come trovasi in alcuni <span class="catalogo-pb" id="page_197">197</span> esemplari. L’incisione delle
      
                  
                  
      medaglie è classicamente eseguita, in ispecie le tavole intagliate da Carmona.</div>
      
      </span></section>