<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="497">
                  <span class="catalogo-item-label">497.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ERASMO Giorgio Gasparo</span>, cittadino di Norimberga, <span class="catalogo-title"><a class="catalog-link" href="/catalog/497">Libro delle colonne, o notizia
	fondamentale dei cinque ordini di architettura, secondo ne trattano M. Vitruvio, Jacopo
	Barozzio e Giovanni Bluman ed altri celebri architetti,</a></span> 
                     <span class="catalogo-pubPlace">Norimbergae</span> 
                     <span class="catalogo-date">1667,</span>
                     <span class="catalogo-extent"> in fol. fig.</span> tedesco.
	<div id="catalogo-note-text-497" class="catalogo-note truncate-line-clamp">Le tavole, compreso il frontispizio, intagliate in rame, sono 40, del gusto più barbaro che sia possibile,
	quantunque la scienza sia tolta da sorgenti si pure.</div><a id="catalogo-note-text-toggle-497" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>