<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="163">
                  <span class="catalogo-item-label">163.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">LOMAZZO Giovannni Paolo</span> milanese pittore, Aggiuntavi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/163">Della forma delle muse cavata dagli
	  antichi autori greci e latini, opera utilissima a’ pittori e scultori, di Giovanni Paolo Lomazi
	  milanese pittore,</a></span> 
                     <span class="catalogo-pubPlace">Milano,</span> per lo stesso, <span class="catalogo-date">1591</span>. Legata coi medesimi trattati è la Vita di
	  Giacomo Robusti detto il Tintoretto fedelmente descritta da Carlo Ridolfi, Venezia 1642, in 4.</span>
	                 <div class="catalogo-note collapse">Quest’ultima venne stampata parecchi anni prima della sua opera le Meraviglie dell’arte. Esemplare del Tuano.</div>	  
	              </section>