<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4310">
                        <span class="catalogo-item-label">4310.</span> <span class="catalogo-bibl"><span class="catalogo-author">MORRONA Alessandro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4310">Pisa illustrata nelle arti del disegno</a></span>, <span class="catalogo-pubPlace">Pisa</span> <span class="catalogo-date">1787</span>, in 8, vol. 3.
<div class="catalogo-note collapse">Opera utilissima, ornata di molte tavole in rame.</div>
</span></section>