<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="443">
                  <span class="catalogo-item-label">443.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BOSROOM Simon</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/443"> Libro d’architettura, estratto dall’opera di Vincenzo Scamozzi in lingua
	olandese,</a></span> 
                     <span class="catalogo-pubPlace">Amsterdam</span> 
                     <span class="catalogo-date">1656,</span>
                     <span class="catalogo-extent"> in fol. fig.</span>
	                    <div id="catalogo-note-text-443" class="catalogo-note truncate-line-clamp">Sono 50 tav. di buon disegno e diligente intaglio, e il frontespizio è figurato col ritratto dell’autore.</div><a id="catalogo-note-text-toggle-443" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>