<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4709">
                     <span class="catalogo-item-label">4709.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIRARDET chanoine de Nozeroy</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4709">Nouveau systeme sur la mythologie</a></span>, a <span class="catalogo-pubPlace">Dijon</span> <span class="catalogo-date">1788</span>, in 4.
<div class="catalogo-note collapse">Questo orientalista, versatissimo specialmente nella lingua ebraica, tratta la materia sotto un aspetto diverso assai
dai suoi predecessori.</div>
</span></section>