<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="553">
                  <span class="catalogo-item-label">553.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">MARCHI Francesco</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/553">Architettura militare illustrata da Luigi Marini,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1810</span> 
                     <span class="catalogo-extent">in 4 gr., tomi 3
	legati in 6 volumi.</span> Con due volumi in foglio atlantico, che contengono le tavole.</span> 
	                 <div class="catalogo-note">Furono tirate anche alcune copie del testo nella stessa carta grande delle tavole e vide la luce a spese d’un gran
	mecenate, caldo di vero zelo, per la gloria italiana. Questa è la più splendida fra le opere che trattino dell’arte
	militare. Si era già resa introvabile l’antica edizione di Brescia del 1599 e da questo motivo fa indotto il Duca
	Melzi a incaricare il <span class="catalogo-pb" id="page_99">99</span>sig. Marini di questa edizione preceduta da molti prolegomeni, da una biblioteca
	storico-critica di fortificazione, da una nuova lezione e commenti del testo e finalmente dell’antico testo
	originale. Il tutto illustrato da copiosissime tavole.</div><div id="catalogo-note-text-553" class="catalogo-note-search-results truncate-line-clamp">Furono tirate anche alcune copie del testo nella stessa carta grande delle tavole e vide la luce a spese d’un gran
	mecenate, caldo di vero zelo, per la gloria italiana. Questa è la più splendida fra le opere che trattino dell’arte
	militare. Si era già resa introvabile l’antica edizione di Brescia del 1599 e da questo motivo fa indotto il Duca
	Melzi a incaricare il <span class="catalogo-pb" id="page_99">99</span>sig. Marini di questa edizione preceduta da molti prolegomeni, da una biblioteca
	storico-critica di fortificazione, da una nuova lezione e commenti del testo e finalmente dell’antico testo
	originale. Il tutto illustrato da copiosissime tavole.</div><a id="catalogo-note-text-toggle-553" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>