<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1415">
                  <span class="catalogo-item-label">1415.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1415">MASCHERATA di selvaggi</a></span>, ballo danzato nel palazzo del Sig. Lorenzo Strozzi, presenti i
    Principi di Toscana, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1613</span>, in 4.
    <div class="catalogo-note">Sono due soli foglietti in versi.</div>
    MDCXIV
    
    </span></section>