<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="557">
                  <span class="catalogo-item-label">557.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">MARQUEZ D. Pietro Gias.</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/557">Delle case di città degli antichi Romani secondo la dottrina di
	Vitruvio,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1793,</span> 
                     <span class="catalogo-extent">in 8, fig.</span>
                  </span>
	                 
	                 
	                 
	                 <div id="catalogo-note-text-557" class="catalogo-note truncate-line-clamp">Con sei tavole in rame, opera piena d’erudizione e ingegnosa.</div><a id="catalogo-note-text-toggle-557" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>