<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="366">
                  <span class="catalogo-item-label">366.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VESALII Andrea</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/366">De humani corporis fabrica libri septem,</a></span> 
                     <span class="catalogo-pubPlace">Basileae</span> 
                     <span class="catalogo-date">1543</span> mense iunio, ex
	officina. J. Oporini. <span class="catalogo-extent">Edizione prima in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Si direbbe che il de Bure e il Brunet non conobbero la prima edizione di quest’opera,
	                    citandosi da loro soltanto la <span class="catalogo-pb" id="page_64">64</span>ristampa del 1555 mentre se le tavole copiosissime di cui e

	ripiena, hanno un merito distinto, certamente debbe tenersi in molto maggior pregio la prima
	edizione. Le incisioni sono fatte in legno da Giovanni Calcar scolare di Tiziano e
	verosimilmente intagliate sui disegni del medesimo.</div>
	              </section>