<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2415">
                  <span class="catalogo-item-label">2415.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZANOTTI Giampietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2415">Dialogo in difesa di Guido <span class="catalogo-pb" id="page_406">406</span> Reni steso in una lettera al Sig.
    Dottore Girolamo Baruffaldi</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1710</span>, in 8.
    </span></section>