<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3404">
                     <span class="catalogo-item-label">3404.</span> <span class="catalogo-bibl"><span class="catalogo-author">LENOIR Alexandre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3404">Musée des monumens français, ou déscription des statues, bas réliefs, et tombeaux pour servir
à l’histoire de France, et à celle de l’art, orné des gravures</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1800</span>, vol. 6, in 8.
<div class="catalogo-note collapse">L’ultimo di questi volumi comprende la storia della pittura in vetro e la descrizione di molte opere antiche e
moderne, segnatamente della favola di Psiche, tolta dai disegni di Raffaello.</div>
</span></section>