<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="551">
                  <span class="catalogo-item-label">551.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">MANETTI Alessandro</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/551">Studio degli ordini d’architettura,</a></span> 
                     <span class="catalogo-pubPlace">Firenze</span> 
                     <span class="catalogo-date">1808,</span> 
                     <span class="catalogo-extent">in fol., M. 83</span>
                  </span>
	                 <div class="catalogo-note">Due parti raccolte in un volume ricco di 25 tavole in contorni con molto lusso di tipi e di carta e con copiose
	dottrine: opera sagacemente inventata per uso delle scuole.</div>
	
	              </section>