<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2390">
                  <span class="catalogo-item-label">2390.</span> <span class="catalogo-bibl"><span class="catalogo-author">VASARI Giorgio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2390">Le vite de’ pittori</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1550</span>, in 5 vol. in fol. pic.
    <div class="catalogo-note collapse">Edizione del Torrentino postillata dal P. Sebastiano Resta. Era nelle Biblioteche Bianconi e Bossi. È singolare
    l’astio con cui il Resta strapazza il Vasari in tutti quei punti nei quali da lui discorda.
    </div>
    </span></section>