<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="782">
                  <span class="catalogo-item-label">782.</span> <span class="catalogo-bibl"><span class="catalogo-author">TARQUINI Giuseppe architetto</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/782">Fedele descrizione circa il piantato, elevazione e volta del
	nuovo teatro di Tor di Nona</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1785</span>, in 4, M. 15.
	<div id="catalogo-note-text-782" class="catalogo-note truncate-line-clamp">Fu bisogno di molte giustificazioni all’architetto per gli avvenimenti sinistri che accompagnarono la costruzione
	di questo edificio. Vedi Giorgi Felice.</div><a id="catalogo-note-text-toggle-782" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>