<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="407">
                  <span class="catalogo-item-label">407.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">d’AVILER</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/407"> Dictionnaire d’architecture civile, et idraulique et des arts, qui en dependent,
	ouvrage servant de suite au cours d’architecture du même auteur,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1755,</span> 
                     <span class="catalogo-extent">en 4.</span>
	                    
	                    
	                    
	                    <div class="catalogo-note">Con frontispizio di Bouchardon al primo vol. e più di cento tavole in rame. La miglior opera che in questa
	materia escisse in Francia in quel tempo.</div>
	                 </span>
	              </section>