<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="896">
                  <span class="catalogo-item-label">896.</span> <span class="catalogo-bibl"><span class="catalogo-author">CEREDI Giuseppe</span>, Aggiuntovi <span class="catalogo-title"><a class="catalog-link" href="/catalog/896">Belli Silvio Vicentino</a></span>, Libro del misurar colla vista, <span class="catalogo-pubPlace">Venezia</span>,
      presso Giordano Ziletti, <span class="catalogo-date">1566</span> in 4, pic. fig.
      <div class="catalogo-note">Operette dotte e ingegnose di uomini sommi per l’età in cui vissero, colle tavole ben disegnate ed intagliate in
      legno.</div><div id="catalogo-note-text-896" class="catalogo-note-search-results truncate-line-clamp">Operette dotte e ingegnose di uomini sommi per l’età in cui vissero, colle tavole ben disegnate ed intagliate in
      legno.</div><a id="catalogo-note-text-toggle-896" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>