<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="645">
                  <span class="catalogo-item-label">645.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SALVIATI Giuseppe</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/645">Regola di far perfettamente <span class="catalogo-pb" id="page_117">117</span> compasso la voluta del capitello
	ionico,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1552,</span> 
                     <span class="catalogo-extent">in fol., M. 83.</span>
                  </span>
	                 <div class="catalogo-note collapse">Questa non è che la ristampa del rarissimo opuscolo riprodotta per cura del Prof. Giovan Antonio Selva in
	Padova nel 1814. Vedi all’Articolo Selva.</div>
	
	              </section>