<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4056">
                     <span class="catalogo-item-label">4056.</span> <span class="catalogo-bibl"><span class="catalogo-author">NORIS Enrico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4056">Cenotaphio pisana Caij, et Lucii Caesarum dissertationibus illustrata</a></span>, 
                        <span class="catalogo-pubPlace">Venetiis</span>, apud Paulum Balleonium, <span class="catalogo-date">1681</span>, in fol.

                     
                     
<div class="catalogo-note collapse">Racchiudesi in queste dissertazioni (le quali non sono in numero che tre, componenti un volume di 500 pagine in
foglio) un tesoro di erudizione che mette più in evidenza l’autore che le cose propostesi.</div>
</span></section>