<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="800">
                  <span class="catalogo-item-label">800.</span> <span class="catalogo-bibl"><span class="catalogo-author">STRATICO Simone</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/800">Dell’antico teatro di Padova</a></span>, <span class="catalogo-pubPlace">Padova</span> <span class="catalogo-date">1795</span>, in 4, fig.
	<div id="catalogo-note-text-800" class="catalogo-note truncate-line-clamp">Con sei gran tavole intagliate in rame. Questo dottissimo professore dell’Università di Padova e uno dei luminari
	dell’instituto italiano, ha raccolte e non pubblicate molte memorie e commenti inediti intorno le opere di Leon B.
	Alberti e di Vitruvio, che sarebbe voto comune dei dotti di veder pubblicate.</div><a id="catalogo-note-text-toggle-800" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>