<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="738">
                  <span class="catalogo-item-label">738.</span> <span class="catalogo-bibl"><span class="catalogo-author">M. VITRUVIO Pollio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/738">De architectura lib. X</a></span>, vol. 2 in 4, <span class="catalogo-pubPlace">Lipsia</span> <span class="catalogo-date">1796</span>, in tedesco.
	<div id="catalogo-note-text-738" class="catalogo-note truncate-line-clamp">Questa è una delle edizioni prodotte e commentate da Augusto Rode, cui va aggiunto un Lessico vitruviano.</div><a id="catalogo-note-text-toggle-738" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>