<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="470">
                  <span class="catalogo-item-label">470.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CERATO Domenico Vicentino</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/470">Nuovo metodo per insegnare li cinque ordini d’architettura
	civile conforme le regole di Palladio e di Scamozzi ed alcune regole di geometria pratica,</a></span>
	                    <span class="catalogo-pubPlace">Padova</span> 
                     <span class="catalogo-date">1784,</span>
                     <span class="catalogo-extent"> in 4 vol. 2, legati in uno.</span>
                  </span>
	                 <div class="catalogo-note">Questo libro si annuncia particolarmente esser fatto a beneficio delle arti meccaniche de’ marangoni, muratori e
	taglia-pietra.</div>
	
	              </section>