<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1581">
                  <span class="catalogo-item-label">1581.</span> <span class="catalogo-bibl"><span class="catalogo-author">BEAUMONT</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1581">L’enciclopedie Perruquiere à l’usage de toute sorte de têtes</a></span>, enrichie de figures,
    <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1757</span>, in 8.
    <div class="catalogo-note collapse">Con 45 tavole all’acquaforte, libretto di qualche rarità.</div>
    
    </span></section>