<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4170">
                        <span class="catalogo-item-label">4170.</span> <span class="catalogo-bibl"><span class="catalogo-author">CROCE M. Giulio Cesare</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4170">Descrizione del nobil palazzo posto nella contà di Bologna detto Tuscolano</a></span>, <span class="catalogo-pubPlace">Bologna</span>
<span class="catalogo-date">1582</span>, in 8, M. 51.
</span></section>