<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4040">
                     <span class="catalogo-item-label">4040.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARIESCHI Michael</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4040">Magnificentiores, selectioreque urbis venetiarum prospectus</a></span>,
                        <span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1741</span>, in fol. obl.
<div id="catalogo-note-text-4040" class="catalogo-note truncate-line-clamp">Sono queste 22 tavole compresa quella del frontespizio, intagliate all’acqua forte dallo stesso autore con molto
bel garbo, e verità.</div><a id="catalogo-note-text-toggle-4040" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>