<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3274">
                     <span class="catalogo-item-label">3274.</span> <span class="catalogo-bibl"><span class="catalogo-author">MENEGHELLI Pier’Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3274">Memoria antiquario-lapidaria pubblicata nel solenne ingresso di Mon <span class="catalogo-pb" id="page_120">120</span> sig.
Dondi Orologio vescovo di Padova nel seminario</a></span>, <span class="catalogo-date">1808</span>, in 4, M. 78.
</span></section>