<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3852">
                     <span class="catalogo-item-label">3852.</span> <span class="catalogo-bibl"><span class="catalogo-author">RASPONI Caesaris</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3852">De basilica et patriarchio Lateranensi libri quatuor</a></span>, <span class="catalogo-pubPlace">Romae</span>, typis Ignatii de Lazzaris, <span class="catalogo-date">1656</span>, in
fol., fig.
<div id="catalogo-note-text-3852" class="catalogo-note truncate-line-clamp">Il frontespizio è figurato: lo disegnò Giuseppe Belloni, e lo intagliò Giuseppe Testana con dodici tavole intagliate
in rame. Opera ripiena di storica erudizione eseguita con diligenza.</div><a id="catalogo-note-text-toggle-3852" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>