<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3571">
                     <span class="catalogo-item-label">3571.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALBERTINI Francisci florentini</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3571">Opusculum, de mirabilis novae et veteris urbis Romae per Jacobum Mazzocchium
1515</a></span>, <span class="catalogo-pubPlace">Romae</span> die 20 Octobris, in 4 parv., seconda edizione.
</span></section>