<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4095">
                     <span class="catalogo-item-label">4095.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4095">SELECT views in Italy with topographical and historical descriptions in english and french</a></span>, 
                        <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1792 à 1796</span>,
vol. 2, in fol. obl., fig.
<div class="catalogo-note collapse">Questi due volumi pubblicati da John Smith, William Byrne, et John Emes contengono 72 tavole con le rispettive
illustrazioni nelle due lingue. Le vedute sono di un elegante disegno, che rende il carattere dei luoghi, e intagliate
con tutto il gusto. Il testo è breve, e succoso, e può ritenersi come uno de’ migliori libri di questo genere.</div>
</span></section>