<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2483">
                     <span class="catalogo-item-label">2483.</span> <span class="catalogo-bibl"><span class="catalogo-author">BLANCANII Jacobi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2483">De antiquitatis studio. Oratio habita in aedibus instituti</a></span>, VI idus Januarias, <span class="catalogo-pubPlace">Bononiae</span> <span class="catalogo-date">1781</span>, in
4.
<div class="catalogo-note">Sono in questo opuscolo alcune vignette intagliate con grazia da Francesco Rosaspina, aggiunta in fine
l’illustrazione di due medaglie di Giacomo Zucconi dedicata al P. Trombelli: non sono che quattro foglietti di
stampa.</div>
</span></section>