<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="772">
                  <span class="catalogo-item-label">772.</span> <span class="catalogo-bibl"><span class="catalogo-author">PIERMARINI Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/772">Architettura del Teatro della Scala in Milano</a></span>, <span class="catalogo-date">1789</span>, otto tavole in fol.
	atlant.
	<div id="catalogo-note-text-772" class="catalogo-note truncate-line-clamp">Nella prima di queste 8 tavole viene instituito un paralello fra alcuni teatri d’Italia.</div><a id="catalogo-note-text-toggle-772" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>