<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3937">
                     <span class="catalogo-item-label">3937.</span> <span class="catalogo-bibl"><span class="catalogo-author">ANTOLINI Giovanni</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3937">Descrizione del Foro Bonaparte</a></span>, <span class="catalogo-pubPlace">Parma</span>, co’ tipi bodoniani, <span class="catalogo-date">1806</span>, M. 85.
<div class="catalogo-note">Opera di grandiosa immaginazione stampata con tutta l’eleganza dei tipi, e lo splendore dell’incisione. Il testo fu
esteso da Pietro Giordani, e le tavole sono in numero di 24 in foglio grande atlantico.</div>
</span></section>