<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1022">
                  <span class="catalogo-item-label">1022.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1022">Per la GUARIGIONE della sig. Angelica Kauffman pittrice seguita sul lago di Como</a></span>, versi e
      disegno inciso, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1802</span>, in 4, M. 25.
      <div class="catalogo-note">Camuccini inventò una graziosa composizione che incise il Piroli: non sono che due foglietti di stampa.</div>
      
      <span class="catalogo-pb" id="page_183">183</span>
               </span></section>