<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3024">
                     <span class="catalogo-item-label">3024.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3024">THESAURUS numismatum modernorum hujus saeculi sive numismata mnemonica et iconica quibus praecipui
eventus, et res gestae ab anno 1700 ad annum 1709 illustrantur, figuris aeneis expressa: addita latina, et
germanica explicatione</a></span>, <span class="catalogo-date">1704</span> <span class="catalogo-pubPlace">Norimbergae</span>, in fol., fig., 2 vol.
<div class="catalogo-note collapse">Opera di laboriosissima e non elegante esecuzione.</div>
</span></section>