<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3505">
                     <span class="catalogo-item-label">3505.</span> <span class="catalogo-bibl"><span class="catalogo-author">FABBRONI Angelo</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3505"> Dissertazione sulle statue appartenenti alla favola di Niobe</a></span>, 
                        <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1779</span>, in fol. m., fig.
<div class="catalogo-note collapse">Con 19 tavole intagliate in rame, non con tanta accuratezza e buon gusto come le incise dal Piroli. Vedi Piroli.</div>
</span></section>