<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1650">
                  <span class="catalogo-item-label">1650.</span> <span class="catalogo-bibl"><span class="catalogo-author">FIALETTI Odoardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1650">Briefve (sic) histoire de l’institution de toutes les religions avec leurs
    habits</a></span>, à <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1658</span>, in 4.
    <div id="catalogo-note-text-1650" class="catalogo-note truncate-line-clamp">Questa è una versione o illustrazione del testo fatta da Du Fresne ove sono riprodotte le tavole originali nelle
    quali uno è stato tolto il testo italiano
    </div><a id="catalogo-note-text-toggle-1650" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>