<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1196">
                  <span class="catalogo-item-label">1196.</span> <span class="catalogo-bibl"><span class="catalogo-author">QUATREMERE de Quinci</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1196">Lettres sur le prejudice qu’occasionneroient aux arts et à la science,
    le déplacément des monumens de l’art de l’Italie, le démembrement de ses écoles et la

                  
                  
    
    spoliation de ses collections, galéries, musées ec.</a></span>, Par. A. Q. <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1796</span>, in 8.
    <div id="catalogo-note-text-1196" class="catalogo-note truncate-line-clamp">L’onesta franchezza, con cui questo esimio letterato ed artista pubblicò queste lettere in un’epoca tanto
    pericolosa quan <span class="catalogo-pb" id="page_212">212</span>to quella in cui i suoi concittadini barbaramente saccheggiavano l’Italia d’ogni sua
    ricchezza, ponendo egli senza riguardo le proprie iniziali sulle «sue lettere, onora il suo animo, siccome i suoi
    scritti onorano il suo ingegno.
    La petizione fu segnata da’ principali artisti, che veggonsi firmati alla fine di questo opuscolo, ma non ottenne
    alcuna risposta.</div><a id="catalogo-note-text-toggle-1196" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>