<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3477">
                     <span class="catalogo-item-label">3477.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3477">ANTIQUARUM statuarum urbis Romae quae in pubblicis privatisque locis visuntur icones</a></span>, <span class="catalogo-pubPlace">Romae</span>, ex typis
Gothifredi Scaichis, pars secunda <span class="catalogo-date">1621</span>, in 4.
Son tav. 80 in 4. Questa è una delle più rare collezioni di <span class="catalogo-pb" id="page_153">153</span> statue riunita e riprodotta, che apparve forse
disgiunta avanti l’epoca nel frontespizio da noi qui segnata e sebbene dicasi parte seconda in due esemplari da
noi posseduti, nondimeno non conosciamo alcuna traccia dell’esistenza di una prima. La statua segnata 12, che è
un Genio nel Campidoglio, porta inciso il nome di Orazio Aquilano: e la tavola 69 che rappresenta il Marsia
porta il nome di Cherubino Alberti fece 1578.<div class="catalogo-note"/><div id="catalogo-note-text-3477" class="catalogo-note-search-results truncate-line-clamp"/><a id="catalogo-note-text-toggle-3477" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>