<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4251">
                        <span class="catalogo-item-label">4251.</span> <span class="catalogo-bibl"><span class="catalogo-author">TORRE Carlo</span>, Lo stesso, edizione seconda, <span class="catalogo-date">1714</span>, in 4, fig.
<div class="catalogo-note collapse">Opera ben fatta: nella prima edizione trovasi una bella antica carta topografica della città, e la facciata del
Duomo di Milano; nella seconda incontransi fra il testo alcune cattive stampe.</div>
</span></section>