<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3393">
                     <span class="catalogo-item-label">3393.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3393">GALERIE de Florence et du Palais Pitti. Tableaux <span class="catalogo-pb" id="page_136">136</span> statues, bas-reliefs, et camées dessinés par M. Wicar
peintre etc., vol. 4</a></span>, in fol. rel., en 2, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1789 a 1807</span>.
<div class="catalogo-note">Quest’opera è la più ricca e la più bella che si conosca in questa materia non tanto per la correzione dei disegni
quanto per l’accuratezza dell’intaglio e pei tipi che sono splendidissimi. Le quattro prime carte contengono il
frontespizio cogli stemmi, la dedica, un succinto ragguaglio storico della galleria e il frontespizio allegorico
intagliato. Le tavole dei soggetti principali sono 192 con altrettanti fogli d’illustrazione. Ad ogni tavola di queste
va aggiunto sullo stesso foglio un secondo intaglio ove in grande sono rappresentate le principali gemme della
galleria. L’opera del Museo Napoleone di Robillard e Perronville è più ricca, ma questa è più squisita per la sua
esecuzione.</div><div id="catalogo-note-text-3393" class="catalogo-note-search-results truncate-line-clamp">Quest’opera è la più ricca e la più bella che si conosca in questa materia non tanto per la correzione dei disegni
quanto per l’accuratezza dell’intaglio e pei tipi che sono splendidissimi. Le quattro prime carte contengono il
frontespizio cogli stemmi, la dedica, un succinto ragguaglio storico della galleria e il frontespizio allegorico
intagliato. Le tavole dei soggetti principali sono 192 con altrettanti fogli d’illustrazione. Ad ogni tavola di queste
va aggiunto sullo stesso foglio un secondo intaglio ove in grande sono rappresentate le principali gemme della
galleria. L’opera del Museo Napoleone di Robillard e Perronville è più ricca, ma questa è più squisita per la sua
esecuzione.</div><a id="catalogo-note-text-toggle-3393" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>