<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3076">
                     <span class="catalogo-item-label">3076.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZANETTI Antonii Mariae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3076">Gemmae antiquae illustratae a Francisco Gorio notis latinis italice redditae <span class="catalogo-pb" id="page_96">96</span> a
Hieronimo Zanettio</a></span>, <span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1750</span>, in fol., fig., italiano e latino.
<div id="catalogo-note-text-3076" class="catalogo-note truncate-line-clamp">Opera pregievole per la dottrina d’amendue i letterati in questa materia e la singolarità di alcune gemme.
Edizione eseguita con lusso quanto nella metà del secolo scorso esser ne poteva, disgiunto interamente dal buon

                     
                     
gusto: sonovi ottanta tavole intagliate in rame.</div><a id="catalogo-note-text-toggle-3076" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>