<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4756">
                     <span class="catalogo-item-label">4756.</span> <span class="catalogo-bibl"><span class="catalogo-author">VERDERII Antonii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4756">Pantheon antiquorum exhibens imagines Deorum olim a Vincentio Chartario italice
expositum, nunc ad comunem omnium utilitatem latino sermone expressum</a></span>, <span class="catalogo-pubPlace">Rottemburci</span> ad Tubarim <span class="catalogo-date">1683</span>, in 8,
fig., con 88 tavole in rame spaventevoli.
</span></section>