<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="667">
                  <span class="catalogo-item-label">667.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SERLIO</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/667">Libro primo di architettura che tratta della geometria, libro secondo della prospettiva,</a></span>
	                    <span class="catalogo-pubPlace">Venezia,</span> 
                     pei fratelli Sessa, 
                     <span class="catalogo-date">1560.</span>
                  </span> 
                  
	— Terzo libro delle antichità di Roma: per Francesco Rampazzetto ad istanza di Marchione
	Sessa, 1562.
	— Quarto libro degli ordini delle colonne, e quinto dei tempi: pei fratelli Sessa 1559.
	— Libro extraordinario, pei fratelli Sessa 1567, in fol. fig.
	Bellissimo esemplare.
	
	                 
	                 
	
	              </section>