<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2802">
                     <span class="catalogo-item-label">2802.</span> <span class="catalogo-bibl"><span class="catalogo-author">De la CHAUSSE Causeo</span>, Michelangelo parigino, <span class="catalogo-pb" id="page_52">52</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/2802">Le gemme antiche figurate consecrate al Cardinale Cesare
Destrées</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1700</span>, in 4, fig.
<div class="catalogo-note collapse">Edizione che sembraci originale, sebbene siasi dubitato che la prima fosse pubblicata nel 1690, confondendo
quest’opera con quella del Museo Romano; ma noi non l’abbiamo mai veduta. Quest’opera contiene dugento
tavole intagliate in rame a contorno e assai nitidamente, da P. S. Bartoli colle rispettive illustrazioni, precedute
dalla dedica, dal proemio e dagl’indici delle gemme.</div>
</span></section>