<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3858">
                     <span class="catalogo-item-label">3858.</span> <span class="catalogo-bibl"><span class="catalogo-author">RONDININI Philippus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3858">De Sancto Clemente Papa, et martyre, ejusque basilica in urbe Romae</a></span>, libri duo, <span class="catalogo-date">Romae</span>,
per Franciscum Gonzagam, <span class="catalogo-date">1706</span>, in 4.
<div class="catalogo-note">Con quattro tavole in rame. Tutte le opere del Rondinini sono state stampate con accuratezza, e con bellissimi
tipi.</div>
</span></section>