<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2723">
                     <span class="catalogo-item-label">2723.</span> <span class="catalogo-bibl"><span class="catalogo-author">WOOD Robert</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2723">Les ruines de Balbec autrement dit Héliopolis etc.</a></span>, <span class="catalogo-pubPlace">Londres</span> <span class="catalogo-date">1757</span>, in fol., fig., <div class="catalogo-note collapse">con 47 tavole simili
in bellezza all’opera precedente.
Queste sono le due prime opere che diedero movimento al lusso enorme introdottosi poi nei libri di antichità.
Esemplari legati in mar</div>. der.</span></section>