<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3776">
                     <span class="catalogo-item-label">3776.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARINI Gaetano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3776">Gli atti e monumenti dei fratelli Arvali</a></span>, vol. 2, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1795</span>, fig., in 4.
<div class="catalogo-note collapse">Opera dottissima e preziosissima, decorata delle grandi tavole dei monumenti, e del fac simile di queste rare e
singolari iscrizioni.</div>
</span></section>