<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4409">
                        <span class="catalogo-item-label">4409.</span> <span class="catalogo-bibl"><span class="catalogo-author">GERSAINT</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4409">Catalogue raisonné de tableaux, diamans, ba <span class="catalogo-pb" id="page_294">294</span> gues etc. dé la succession de M. Geodefroy</a></span>,
<span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1748</span>, in 8.
</span></section>