<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2113">
                  <span class="catalogo-item-label">2113.</span> <span class="catalogo-bibl"><span class="catalogo-author">TEMPESTA Ant.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2113">Il primo e il secondo libro delle Cac <span class="catalogo-pb" id="page_364">364</span> cie intagliate per mano di Ant. Temp.</a></span>,
  <span class="catalogo-pubPlace">Roma</span>, presso Andrea Vaccario, <span class="catalogo-date">1598</span>.
  
                  
                  
  <div id="catalogo-note-text-2113" class="catalogo-note truncate-line-clamp">Tav. 50 in 8 per traverso ove sono le caccie del selvaggiame, delle fiere e degli uccelli.</div><a id="catalogo-note-text-toggle-2113" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  — Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/2113">Herculis aerumnas maximas etc.</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1608</span>, in 13 tav. senza alcun testo.
  </span></section>