<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1530">
                  <span class="catalogo-item-label">1530.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1530">DESCRIPCION de los ornatos pubblicos con que la corte de Madrid a solennizado la felis
    exaltacion al trono de los reyes nuestros sennores D. Carlos IV y Donna Luisa de Borbon y la
    Jurra del Seren. D. Fernando Principe d’Asturias</a></span>, <span class="catalogo-pubPlace">Madrid</span> <span class="catalogo-date">1789</span>, in fol. fig.
    <div class="catalogo-note">Edizione elegante con undici tavole intagliate con diligenza e disegnate da buoni architetti. Esemplare della
    biblioteca di Pio VI.</div><div id="catalogo-note-text-1530" class="catalogo-note-search-results truncate-line-clamp">Edizione elegante con undici tavole intagliate con diligenza e disegnate da buoni architetti. Esemplare della
    biblioteca di Pio VI.</div><a id="catalogo-note-text-toggle-1530" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                  
                  
    MDCCXC
    
    </span></section>