<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3893">
                     <span class="catalogo-item-label">3893.</span> <span class="catalogo-bibl"><span class="catalogo-author">UGGERI Angelo architetto milanese</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3893">Journées pittoresque des édifices de Rome ancienne avec les édifices de la
décadence, les trois ordres d’après les monuments de Rome antique, les détails des materiaux des anciens pour la
construction de leurs bâtiments, un supplément aux journées pittoresques, et la journée pittoresque de Tivoli</a></span>,
<span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">dal 1800 al 1814</span>, il tutto rilegato in quattro volumi.
<div class="catalogo-note">In questi volumi, ove le numerose tavole sono eseguite con mediocre gusto, e le illustrazioni un po’ confuse vi si
sarebbe bramato un ordine migliore, e una più scrupolosa diligenza. Non manca però d’esservi qualche cosa di
buono.</div><div id="catalogo-note-text-3893" class="catalogo-note-search-results truncate-line-clamp">In questi volumi, ove le numerose tavole sono eseguite con mediocre gusto, e le illustrazioni un po’ confuse vi si
sarebbe bramato un ordine migliore, e una più scrupolosa diligenza. Non manca però d’esservi qualche cosa di
buono.</div><a id="catalogo-note-text-toggle-3893" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>