<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3551">
                     <span class="catalogo-item-label">3551.</span> <span class="catalogo-bibl"><span class="catalogo-author">De ROSSI Giovan Gherardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3551">Aggiuntavi una lettera sulla statua del Perseo. Opere di Antonio Canova</a></span>, 
                        <span class="catalogo-pubPlace">Pisa</span> <span class="catalogo-date">1801</span>.
</span></section>