<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1713">
                  <span class="catalogo-item-label">1713.</span> <span class="catalogo-bibl"><span class="catalogo-author">MERCURIALIS Hieron. Foroliv.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1713">De Arte Gymnastica</a></span>, libri sex figuris Christophori Coriolani
  exornata, <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1672</span>, in 4, fig.
  <div class="catalogo-note">Quest’edizione è la più stimata poiché alle tavole in legno delle precedenti sono aggiunte le altre 10 mine che la
  rendono illustrata completamente: sette sono le tavole aggiunte oltre il frontespizio, che è figurato con allegoria
  singolare; e le tavole in legno trovatisi ai luoghi indicati dal testo.</div><div id="catalogo-note-text-1713" class="catalogo-note-search-results truncate-line-clamp">Quest’edizione è la più stimata poiché alle tavole in legno delle precedenti sono aggiunte le altre 10 mine che la
  rendono illustrata completamente: sette sono le tavole aggiunte oltre il frontespizio, che è figurato con allegoria
  singolare; e le tavole in legno trovatisi ai luoghi indicati dal testo.</div><a id="catalogo-note-text-toggle-1713" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>