<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1361">
                  <span class="catalogo-item-label">1361.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCARSELLI Flaminio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1361">Orazione per la distribuzione del premio alle Belle Arti nell’Accademia
    Clementina di Bologna</a></span>, l’anno <span class="catalogo-date">1731</span>, in 8.

                  
                  
    
               </span></section>