<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="746">
                  <span class="catalogo-item-label">746.</span> <span class="catalogo-bibl"><span class="catalogo-author">VEDREMAN Joannes</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/746">Architecture traduite du bas allemand en français par Kemp</a></span>, <span class="catalogo-pubPlace">Anversae</span>
	<span class="catalogo-date">1677</span>.
	<div class="catalogo-note collapse">Questo esemplare apparteneva all’architetto Scamozzi ed è composto come segue: il frontespizio è figurato e
	porta nel centro un cartello applicato, ove in barbara ortografia è espressa la dichiarazione dell’opera. Segue la
	dedica del traduttore e subito nello stesso foglietto il testo del trattato in colonne stampato a caratteri corsivi, che
	continua fino al sesto foglietto inclusive. Questa prima porte è accompagnata da 23 tavole: segue un’altra parte
	col primo foglietto in basso alemanno e la data d’Anversa del 1578 intorno l’ordine toscano con 12 tavole. Un
	altro libretto colla stessa data e nella stessa lingua riguarda il corintio, io <span class="catalogo-pb" id="page_140">140</span> nico e il composito con 18
	tavole. L’ultima parte relativa al corintio e al composito con le trabeazioni porta la data del 1565 che è la data
	dell’edizione originale delle opere di Vredeman intagliate da Girolamo Ceck: e contiene 22 tavole.</div>
	
	                 
	                 
	
	              </span></section>