<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1444">
                  <span class="catalogo-item-label">1444.</span> <span class="catalogo-bibl"><span class="catalogo-author">MANZINI Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1444">Applausi festivi fatti in Roma per <span class="catalogo-pb" id="page_247">247</span> l’elezione di Ferdinando III al

                  
                  
    
    Regno de’ Romani</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1637</span>, in 4, fig.
    <div class="catalogo-note">La descrizione è di Luigi Manzini, con tredici tavole in foglio non compreso il frontespizio: le cui invenzioni
    furono di Orazio Turiano architetto, non molto felici e peggio intagliate.</div><div id="catalogo-note-text-1444" class="catalogo-note-search-results truncate-line-clamp">La descrizione è di Luigi Manzini, con tredici tavole in foglio non compreso il frontespizio: le cui invenzioni
    furono di Orazio Turiano architetto, non molto felici e peggio intagliate.</div><a id="catalogo-note-text-toggle-1444" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCXXXII
    
    </span></section>