<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="389">
                  <span class="catalogo-item-label">389.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALBERTI Giuseppe Antonio</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/389">Trattato delle misure delle fabbriche,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1757,</span>
                     <span class="catalogo-extent"> in 8, fig.</span>
                  </span>
	                 <div id="catalogo-note-text-389" class="catalogo-note truncate-line-clamp">Avvi un frontespizio figurato, il ritratto dell’autore, e 38 tavole: il trattato è diviso in tre parti planimetria,
	curvimetria, itereometria e il tutto potrebbe con più semplicità e chiarezza esser esposto per l’uso pratico, se
	l’autore nella sua mediocrità non avesse voluto metter troppo in evidenza se stessa.</div><a id="catalogo-note-text-toggle-389" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>