<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1417">
                  <span class="catalogo-item-label">1417.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1417">BALLO di donne turche insieme ai loro consorti di schiavi fatti liberi, danzato nel Palazzo Pitti
    <span class="catalogo-pb" id="page_242">242</span> davanti la Serenissima Altezza di Toscana</a></span>, <span class="catalogo-pubPlace">Firenze</span>, per i Giunti, <span class="catalogo-date">1614</span>, in 4
    MDCXV
    
    </span></section>