<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2912">
                     <span class="catalogo-item-label">2912.</span> <span class="catalogo-bibl"><span class="catalogo-author">MACHIAVELLI Alexandri</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2912">De veteri bononeno Al <span class="catalogo-pb" id="page_69">69</span> genti Bononiae dissertatio</a></span>, 
                        <span class="catalogo-pubPlace">Bononiae</span> <span class="catalogo-date">1721</span>, in 4, fi.,
M.16.
<div class="catalogo-note collapse">Con molte monete intagliate in legno fra il testo e tre tavole in legno di sigle numeriche singolari al fine.</div>
</span></section>