<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="635">
                  <span class="catalogo-item-label">635.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">ROSSI Cosimo.</span> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/635">Saggio teorico pratico intorno alla determinazione dell’ombre di diversi
	soggetti di architettura geometrica,</a></span> 
                     <span class="catalogo-pubPlace">Firenze</span> 
                     <span class="catalogo-date">1805,</span> 
                     <span class="catalogo-extent">in 4, fig., M. 93.</span>
                  </span>
	              </section>