<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4113">
                     <span class="catalogo-item-label">4113.</span> <span class="catalogo-bibl"><span class="catalogo-author">VISENTINI Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4113">Urbis Venetiarum prospectus celebriores ex tabulis 38 Antonii Canal in tres partes distributi</a></span>,
<span class="catalogo-pubPlace">Venetii</span>, apud J. B. Pasquali, <span class="catalogo-date">1751</span>, in fol.
<div class="catalogo-note">Bello e completo esemplare di quest’opera, che difficilmente ritrovasi di prove freschissime.</div>
</span></section>