<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="322">
                  <span class="catalogo-item-label">322.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">EUSTACHII Bartholomei</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/322"> Tabulae anatomicae editae a Jo. Maria Lancisio,</a></span> 
                     <span class="catalogo-pubPlace">Venetiis</span> 
                     <span class="catalogo-date">1769,</span> 
                     <span class="catalogo-extent">in fol.</span>
	                    <div id="catalogo-note-text-322" class="catalogo-note truncate-line-clamp">Le pessime tavole di quest’opera non sono da osservarsi, ma si è fatto conto delle dichiarazioni che possono
	illustrare dottamente e profondamente le altre opere anatomiche per uso del disegno.</div><a id="catalogo-note-text-toggle-322" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>