<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3922">
                     <span class="catalogo-item-label">3922.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZUZZERI Giovan Luca</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3922">D’un’antica villa scoperta sul dosso del Tiscolo, e d’un antico orologio a sole tra le rovine
della medesima ritrovato</a></span>, dissertazioni due, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1746</span>, in 4.
<div id="catalogo-note-text-3922" class="catalogo-note truncate-line-clamp">Con una sola tavola in fine.</div><a id="catalogo-note-text-toggle-3922" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>