<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4012">
                    <span class="catalogo-item-label">4012.</span>
		    <span class="catalogo-bibl"><span class="catalogo-author">FISCHER Jos. Emanuel</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4012">Dilucida repraesentatio magnificae et sumptuosae Bibliotecae Cesarae</a></span>, <span class="catalogo-pubPlace">Viennae</span> <span class="catalogo-date">1737</span>, in

                     
                     
fol., fig.</span>
<div class="catalogo-note">In 13 tavole unite alle respettive illustrazioni si rende conto di questo magnifico edificio, che è la cosa più d’ogni
altra veramente imperiale che trovisi in quella capitale, sebbene eseguita in tempi di gusto infelice.</div><div id="catalogo-note-text-4012" class="catalogo-note-search-results truncate-line-clamp">In 13 tavole unite alle respettive illustrazioni si rende conto di questo magnifico edificio, che è la cosa più d’ogni
altra veramente imperiale che trovisi in quella capitale, sebbene eseguita in tempi di gusto infelice.</div><a id="catalogo-note-text-toggle-4012" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
		  </section>