<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1376">
                  <span class="catalogo-item-label">1376.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1376">CAVALLERIE della città di Ferrara, che contengono il Castello di Gorgoferusa, il Monte di
    Feronia e il Tempio d’Amore</a></span>. Fatti in Ferrara in occasione delle Nozze dei Duca Alfonso e
    della <span class="catalogo-pb" id="page_234">234</span>Regina Barbara d’Austria nel Carnevale del 1561, <span class="catalogo-pubPlace">Ferrara</span> <span class="catalogo-date">1566</span>, in 4.
    <div class="catalogo-note">L’edizione è in bellissimi caratteri e le descrizioni contengono belle poesie, che servirono alle cantate e spettacoli
    in quella occasione.</div>
    MDLXVI
    
    </span></section>