<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2435">
                  <span class="catalogo-item-label">2435.</span> <span class="catalogo-bibl"><span class="catalogo-author">CORVII Andreae mirandulensis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2435">Liber de chiromantia</a></span>, <span class="catalogo-pubPlace">Venetiis</span>, per Georgium de Rusconibus,
    <span class="catalogo-date">1520</span>, in 8, fig.
    <div id="catalogo-note-text-2435" class="catalogo-note truncate-line-clamp">Il frontespizio veramente è così espresso: Excellentissimi at singularis viris, in chiromantia exercitatissimi,
    Magistri Andreae Corvi mirandulensis. L’opera è dedicata a Gio. Francesco Gonzaga con 157 tavole e il testo
    sotto ciascuna, stampata in caratteri gotici; è raro.</div><a id="catalogo-note-text-toggle-2435" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>