<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2859">
                     <span class="catalogo-item-label">2859.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIULIANELLI Andrea Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2859">Memorie degli intagliatori moderni in pietre dure, cammei e gioje dal secolo XV fino

                     
                     
                        al XVIII</a></span>,<span class="catalogo-pubPlace"> Livorno</span><span class="catalogo-date">1753</span>, in 4.
<div id="catalogo-note-text-2859" class="catalogo-note truncate-line-clamp">Quest’opera non è se non una versione dal francese del trattato sopra le pietre intagliate di Mariette, cui il
traduttore fece utili note ed aggiunte col voto de’ primi letterati. Manca in questa materia un’opera più in grande,
che è molto desiderabile, poiché tutte le ricerche degli eruditi si sono sempre dirette per la parte storica ed
antiquaria, troppo trascurando di osservare le gemme e le medaglie come produzione dell’arte</div><a id="catalogo-note-text-toggle-2859" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>