<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3196">
                     <span class="catalogo-item-label">3196.</span> <span class="catalogo-bibl"><span class="catalogo-author">CHIFLETII Joan. Jacobi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3196">Anastasis Childerici Primi Francorum Regis, sive thesaurus sepulchralis</a></span>, <span class="catalogo-pubPlace">Antuerpiae,
Plantin</span>, <span class="catalogo-date">1655</span>, in 4, fig.
<div class="catalogo-note">Con molte tavole de’ monumenti trovati nel sepolcro di Childerico ben intagliate ed inserite fra il testo
dell’opera.</div>
</span></section>