<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1673">
                  <span class="catalogo-item-label">1673.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUICHARDI Martini</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1673">Noctes Granzovianae de antiquis triumphorum spectaculis lucubratae</a></span>,
    <span class="catalogo-pubPlace">Amster.</span> <span class="catalogo-date">1661</span>, in 12, fig.
    <div class="catalogo-note collapse">Opera ricchissima di profonda erudizione colle tavole stampate fra il testo.
    </div>
    </span></section>