<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="483">
                  <span class="catalogo-item-label">483.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CRISTIANI Gir. Franc.</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/483"> Dell’utilità e della dilettazione de’ modelli. Dissertazione,</a></span> 
                     <span class="catalogo-pubPlace">Brescia</span> 
                     <span class="catalogo-date">1765,</span>
	                    <span class="catalogo-extent">in 4.</span> 
                     
	— Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/483">Altra dissertazione per confutare le idee innate, letta in Brescia in un’accademia
	letteraria,</a></span> 
                     <span class="catalogo-date">1766,</span> ivi.
	— <span class="catalogo-title"><a class="catalog-link" href="/catalog/483">Dell’armonica proporzione d’applicarsi all’architettura civile. Due dissertazioni epistolari a
	M. G. Bottari,</a></span> 
                     <span class="catalogo-date">1767,</span> ivi.
                     — <span class="catalogo-title"><a class="catalog-link" href="/catalog/483">Allegazione legale idrostatica in una causa ver <span class="catalogo-pb" id="page_86">86</span>tente tra li Sigg. Parisi e Colle di
	Roveredo</a></span>, <span class="catalogo-date">1771,</span>
                     <span class="catalogo-extent"> in 4,</span> ivi.
	<div class="catalogo-note">Tutte legate in un volume.</div><div id="catalogo-note-text-483" class="catalogo-note-search-results truncate-line-clamp">Tutte legate in un volume.</div><a id="catalogo-note-text-toggle-483" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>