<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2198">
                  <span class="catalogo-item-label">2198.</span> <span class="catalogo-bibl"><span class="catalogo-author">BALDINUCCI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2198">La medesima vita. Edizione posteriore contraffatta con altri caratteri portante la
    stessa data, alla quale manca il ritratto del Bernino.</a></span>
    <div class="catalogo-note collapse">Sebbene vi siano le stesse tavole, molti contrasegni fanno <span class="catalogo-pb" id="page_379">379</span> conoscere la contraffazione eseguita verso la
    meta del XVIII secolo, ma sul frontespizio si noti che dopo il nome Gio. vi sono due punti, e nell’originale un
    solo, e ove dicesi nella stamperia a è minuscola e nella contraffazione è maiuscola; nell’originale sta un vaso di
    fiori, mentre nella seconda edizione è una cestella.</div>
    
    </span></section>