<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3616">
                     <span class="catalogo-item-label">3616.</span> <span class="catalogo-bibl"><span class="catalogo-author">BIANCHINI monsignor Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3616">Considerazioni teoriche, e pratiche intorno al trasporto della colonna di
Antonino Pio collocata in Monte Citorio</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1704</span> in 4, fig.
<div class="catalogo-note">Con due tavole dimostrative.</div>

                     
                     

                  </span></section>