<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="168">
                  <span class="catalogo-item-label">168.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MENGS Antonio Rafaello</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/168">Opere pubblicate dal cavaliere d’Azara, edizione aumentata
	  dall’avvocato Carlo Fea,</a></span> 
                     Roma 
                     <span class="catalogo-date">1787,</span> 
                     <span class="catalogo-extent">in 4.</span>
                  </span>
	                 <div class="catalogo-note">Quest’edizione pe’ suoi commenti è stimata la migliore e le opere teoriche di questo artista, amicissimo di
	  Winkelmann, sono piene di giudizi sani.</div>	  
	              </section>