<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4213">
                        <span class="catalogo-item-label">4213.</span> <span class="catalogo-bibl"><span class="catalogo-author">LASTRI Proposto</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4213">L’Osservatore Fiorentino sugli edifici della sua patria</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1766</span>, in 8, fig., 2 vol. legati in 3.
<div class="catalogo-note">Vi sono alcune tavole de’ principali edifici e monumenti, <span class="catalogo-pb" id="page_271">271</span> ma le illustrazioni sono dottissime e preziose, e
forse non avvi miglior libro per le cose fiorentine. Noi abbiamo indicato il nome, sebbene per modestia od altro
motivo l’autore si tenne anonimo.</div>
</span></section>