<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2004">
                  <span class="catalogo-item-label">2004.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARACCI Ann.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2004">L’Enea vagant</a></span>e, pitture dei Caracci intagliate e dedicate al Seren. Pr.
  Leopoldo Medici da Gius. M. Mitelli Bolognese, <span class="catalogo-pubPlace">Bol.</span> <span class="catalogo-date">1661</span>, fol. obl.
  <div class="catalogo-note collapse">Queste sono 20 tavole all’acqua forte eseguite con Brio pittoresco. È opportuno in simili opere osservarne le
  prime edizioni. In questo esemplare di prima e fresca impressione sì sono espressamente inserte alcune tavole di
  più, che appartengono a una 1 edizione, affine di riconoscere la varietà pel confronto e per osservarsi il secondo
  taglio nei rami, il quale toglie alle tavole tutta la grazia originale per sussidiare al logoramento che era successo.
  Queste pitture a fresco sono nel Palazzo Fava.</div>
  
  — <span class="catalogo-bibl">Aggiunte in questo volume le pitture del palazzo Magnani in 15 tav. disegnate da Tortebat
  e intagliate da <span class="catalogo-pubPlace">Chatillon</span>, le Pautre, Mignard, e Boulangere, in fol. <span class="catalogo-date">1659</span>.</span>
  — <span class="catalogo-bibl">In fine sono le 8 rare e bellissime tav. delle camere Farnesiane in Roma (non della
  Galleria) le quali Nic. Mignard disegnò in Roma e intagliò nei primi anni del suo matrimonio
  in Avignone, coll’anima ancor piena di quegli studi. Ann. Caracci le aveva dipinte nel <span class="catalogo-date">1607</span> e
  8 e l’intagliatore le incise nel <span class="catalogo-date">1637</span>.
  <div class="catalogo-note collapse">Sono forse le più ben incise di tutte le opere de’ Caracci.</div></span>
  
  <span class="catalogo-pb" id="page_343">343</span>
               </span></section>