<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="369">
                  <span class="catalogo-item-label">369.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">VOLPATO Giovanni</span> e MORGHEN Rafaelle, <span class="catalogo-title"><a class="catalog-link" href="/catalog/369">Principi del disegno, tratti dalle più eccellenti statue
	antiche, per i giovani, che vogliono incamminarsi nella studio delle belle arti,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1786,</span> 
                     <span class="catalogo-extent">in
	f. M.</span>
                  </span>
	                 <div id="catalogo-note-text-369" class="catalogo-note truncate-line-clamp">Sono queste 36 Tavole con diligenza e larghezza di stile intagliate e precedute da quattro carte di testo italiano e
	francese.</div><a id="catalogo-note-text-toggle-369" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 <div id="catalogo-note-text-369" class="catalogo-note truncate-line-clamp">Esaurita l’edizione originale e resasi introvabile a qualunque prezzo, viene ora riprodotta con nuovi intagli e con
	singolare esattezza dagl’incisori dell’Accademia di Venezia ec. Opera eccellente.</div><a id="catalogo-note-text-toggle-369" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
               </section>