<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2418">
                  <span class="catalogo-item-label">2418.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZANOTTI Gio. Pietro. </span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/2418">Storia dell’Accademia Clementina di Bologna, aggregata all’Istituto
    delle Scienze e Belle Arti</a></span>, vol. 2, in gran 4, fig., <span class="catalogo-pubPlace">Bologna</span>.<div id="catalogo-note-text-2418" class="catalogo-note truncate-line-clamp">
    Con quantità eli annotazioni e postille tolte dal manoscritto autografo esistente in casa del Principe Ercolani ed
    estratte di pugno dal segretario Carlo Bianconi nel 1795. Quest’opera è in ogni vita preceduta dal ritratto
    dell’autore.</div><a id="catalogo-note-text-toggle-2418" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>