<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2729">
                     <span class="catalogo-item-label">2729.</span> <span class="catalogo-bibl"><span class="catalogo-author">AGRICOLAE Georgii</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2729"> De ortu et causis subterraneorum et alia opuscula</a></span>, <span class="catalogo-pubPlace">Basileae</span> <span class="catalogo-date">1546</span>, in fol.
— Aggiunto nello stesso volume: <span class="catalogo-title"><a class="catalog-link" href="/catalog/2729">De mensuris et ponderibus et alia de pretio metallorum et monetis</a></span>, <span class="catalogo-pubPlace">Basileae</span>
<span class="catalogo-date">1550</span>, in fol.
<div class="catalogo-note">Edizione splendidamente eseguita.</div>
</span></section>