<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4365">
                        <span class="catalogo-item-label">4365.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4365">Il FORESTIERE illuminato intorno le cose più rare, e curiose di Venezia</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1796</span>, in 8, fig.

                        
                        
<div class="catalogo-note">Sono in questa guida le sue piccole tavole, mediocri però di esecuzione. Il libro fu parecchie altre volte impresso.</div><div id="catalogo-note-text-4365" class="catalogo-note-search-results truncate-line-clamp">Sono in questa guida le sue piccole tavole, mediocri però di esecuzione. Il libro fu parecchie altre volte impresso.</div><a id="catalogo-note-text-toggle-4365" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>