<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="868">
                  <span class="catalogo-item-label">868.</span> <span class="catalogo-bibl"><span class="catalogo-author">VIATOR</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/868">De artificiali perspectiva</a></span>, <span class="catalogo-pubPlace">Tulli</span> <span class="catalogo-date">1505</span>, editio princeps.
	<div class="catalogo-note collapse">Tre sono le edizioni conosciute dai bibliografi di questo prezioso e primo libro di prospettiva pratica lineare che
	siasi stampato due anni avanti la divina proporzione del Paciolo. Nella nostra biblioteca esistono queste tre
	edizioni, delle quali la terza unicamente deve riguardarsi per completa, giacché con varianti, emende ed aggiunte
	vennero tutte tre prodotte, vivente l’autore.
	La prima è descritta minutamente dal Panzer negli Annali Tipografici, e perciò non daremo di questa un troppo
	minuto ragguaglio, che ogni lettore può facilmente rinvenire da sé. Il nostro esemplare ha qualche mancanza che
	avrebbe potuto supplirsi e non abbiam preso cura di farlo, avendo perfettissime le altre due edizioni. Tutti e tre
	però sono di bella conservazione e di prima antica legatura in cuoio, elegantemente impresso con bellissimi
	meandri.
	Questa prima edizione sopra citata del 1505 è asserita contenere 40 foglietti; trentasette dei quali sono occupati
	dalle figure. Il suo frontespizio è il seguente: De Artificiali perspectiva, Viator: gli altri tre foglietti che seguono
	contengono il testo in latino e finiscono con due versi:
	Pro cunctis orat fictor scriptorque libelli.
	Cunctorum pariter supplicat ipse preces.
	Questi quattro foglietti congiunti ad altri 4 di figure formano il primo quaderno A. Il secondo quaderno B è
	formato da 8 figure. Il terzo quaderno C è formato da 8 figure. Il <span class="catalogo-pb" id="page_161">161</span> quarto quaderno D è formato da 8
	figure. Il quinto E è quinquerno ed è formato da 9 figure e dall’ultimo foglietto, ove leggesi alla distesa, come
	riferisce il Panzer. Habes optime lector etc. etc. Impressum Tulli anno Catholicae veritatis quingentesimo quinto
	supra milesimum ad nonum calendas julias solerti opera Petri locali presbiteri incole Pagi Sancti Nicolai.
	Dopo le tavole seguono secondo il Panzer medesimo i quattro fogli della versione latina, come riscontrasi anche
	nel nostro esemplare, la materia della quale fluisce però nel terzo a mezza pagina e in 5 righe trovasi cosi
	espresso più basso:
	Pro cunctis orat.
	Cellui qui a ce livre fait
	Prie pour touz de cueur parfait
	Et supplie tres humblement
	Prier pour lui pareitlement.
	L’ultima carta o è bianca, come a noi parve da prima, or vero deve contenere come viene indicato dal Panzer le
	sole parole finis laus Deo. In tal maniera sono dimostrati i foglietti 46 poiché quattro stanno al principio, quattro
	al fine e 37 tavole in aggiunta al foglietto ove è l’anno dell’impressione.</div>
	
	                 
	                 
	
	              </span></section>