<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2606">
                     <span class="catalogo-item-label">2606.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2606">NUOVA trasfigurazione delle lettere etrusche</a></span>, <span class="catalogo-date">1751</span>, in 4, fig., M. 27 e 78.
<div class="catalogo-note collapse">Interessantissimo opuscoletto ove trovansi le discrepanze tra i varj alfabeti etruschi e le somiglianze tra molti
caratteri ritenuti etruschi e i runnici.</div>

                     
                     

                  </span></section>