<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3921">
                     <span class="catalogo-item-label">3921.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZOEGA Giorgio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3921">I bassi rilievi antichi di Roma incisi da Tommaso Piroli</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1708</span>, in 4 grande.
<div class="catalogo-note">Questi due volumi contengono i bassi rilievi della Villa Albani pubblicati nello stabilimento calcografico di
Pietro Piranesi. Sono 115 tavole che presentano altrettanti monumenti con profonda dottrina illustrati, opera di
già divenuta rara a trovarsi.</div>

                     
                     

                  </span></section>