<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1007">
                  <span class="catalogo-item-label">1007.</span> <span class="catalogo-bibl"><span class="catalogo-author">BALDI Bernardino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1007">Versi e prose</a></span>, <span class="catalogo-pubPlace">Venezia</span>, presso il Franceschi, <span class="catalogo-date">1590</span>, in 4.
      Aggiuntovi: i concetti morali dello stesso, <span class="catalogo-pubPlace">Parma</span> <span class="catalogo-date">1607</span>.
      
                  
                  
      
               </span></section>