<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="104">
                  <span class="catalogo-item-label">104.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">Comanini D. Gregorio</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/104"> Il Figino, ovvero del fine della pittura, dialogo,</a></span> 
                     <span class="catalogo-pubPlace">Mantova </span>
                     <span class="catalogo-date">1591,</span>
                      per
	  Francesco Osanna,
                     <span class="catalogo-extent"> in 4.</span>
                  </span>
	                 <div id="catalogo-note-text-104" class="catalogo-note truncate-line-clamp">L’edizione è stampata con bellissimi caratteri. Gl’interlocutori sono D. Ascanio Martinengo, Stefano Guazzo e
	  Gio. Ambrogio Figino e s’aggira il dialogo sul tema se il fine della pittura sia l’utile, ovvero il diletto, e tratta
	  dell’uso di quella nel Cristianesimo; opera prolissa, ma non povera di buone erudizioni e utili notizie. Il
	  Martinengo fu fondatore dell’accademia degli Animosi in Padova e gran mecenate. Il Guazzo fondatore
	  dell’accademia degl’illustrati in Casale di Monferrato, il Figino eccellente artista scolare di Leonardo i cui
	  disegni sono preziosissimi, e ricercatissimi.</div><a id="catalogo-note-text-toggle-104" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	  
	                 <span class="catalogo-pb" id="page_17">17</span>
	              </section>