<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3846">
                     <span class="catalogo-item-label">3846.</span> <span class="catalogo-bibl"><span class="catalogo-author">PRATILI Francesco Maria</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3846">Della via Appia riconosciuta, e descritta da Roma a Brindisi</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1745</span>, in fol.
<div class="catalogo-note">Con tre carte topografiche che descrivono il corso di questa via, opera grandiosa e ripiena di erudite nozioni:

                     
                     
volume di 566 pagine.</div>
</span></section>