<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3168">
                     <span class="catalogo-item-label">3168.</span> <span class="catalogo-bibl"><span class="catalogo-author">BALASSA Francisci</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3168">Casulae Sancti Stephani regis <span class="catalogo-pb" id="page_107">107</span> Hunghariae vera imago, et expositio</a></span>, <span class="catalogo-pubPlace">Viennae</span> <span class="catalogo-date">1754</span>, in
4, fig.
</span></section>