<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4101">
                    <span class="catalogo-item-label">4101.</span>
		    <span class="catalogo-bibl"><span class="catalogo-author">TEMANZA Tomaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4101">Le antichità di Rimino, libri due</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1741</span>, in fol. pic., fig.</span>
		    <div class="catalogo-note">Opera che quantunque non sia abbastanza diffusa non cessa di essere ottima, ed illustrata con 9 tavole di
accuratissimo disegno intagliate da Anton Visentini.</div>
		  </section>