<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1122">
                  <span class="catalogo-item-label">1122.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAPACCIO Giulio Cesare</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1122">Gli apologi con le dicerie morali al sig. Cesare Oliato</a></span>, <span class="catalogo-pubPlace">Venezia</span>
    <span class="catalogo-date">1619</span>, in 4, fig.
    <div id="catalogo-note-text-1122" class="catalogo-note truncate-line-clamp">Ad ognuna delle 94 dicerie stanno le piccole stampine in legno, a mezzo la pagina, da non
    farne gran caso.</div><a id="catalogo-note-text-toggle-1122" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>