<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2164">
                  <span class="catalogo-item-label">2164.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2164">Le MANUEL des artistes et des amateurs ou Dictionnaire Historique et Mythologique des
    emblèmes, allégories, dévises</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1770</span>, vol. quattro in dodici.
    <div class="catalogo-note">In fine al quarto volume sta un’esposizione degli autori di mitologia, di geroglifici e emblemi e dell’arte
    pittorica: ma però i talmente piena di sbagli e di omissioni che non può fidarsi alcuno che la consulti senza
    cautele.</div><div id="catalogo-note-text-2164" class="catalogo-note-search-results truncate-line-clamp">In fine al quarto volume sta un’esposizione degli autori di mitologia, di geroglifici e emblemi e dell’arte
    pittorica: ma però i talmente piena di sbagli e di omissioni che non può fidarsi alcuno che la consulti senza
    cautele.</div><a id="catalogo-note-text-toggle-2164" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>