<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4006">
                     <span class="catalogo-item-label">4006.</span> <span class="catalogo-bibl"><span class="catalogo-author">FANTUZZI Marco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4006">Monumenti ravennati de’ secoli di mezzo, per la maggior parte inediti</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1801</span>, in 4, fig.,
vol. 6.
<div class="catalogo-note">Opera rara essendo stata stampata in numero di pochi esemplari che l’autore donò a’ suoi amici, come si legge
nello stesso prospetto dell’opera. Sonovi qua e là poche tavole di monumenti, ma una ricchissima serie di atti
autentici, e notizie storiche, e diplomatiche che rende l’opera cospicua.</div>
</span></section>