<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="356">
                  <span class="catalogo-item-label">356.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SAUVAGE</span>, dit Lemire, <span class="catalogo-title"><a class="catalog-link" href="/catalog/356">Collection de têtes d’expression representant les differentes passions de
	l’âme.</a></span>
                  </span>
	                 <div class="catalogo-note collapse">Queste non sono che 18 teste intagliate da Tassaert in foglio, e tratte dai migliori artisti. M. 81.
	</div>
	              </section>