<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="236">
                  <span class="catalogo-item-label">236.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">Da VINCI Lionardo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/236">Trattato della pittura. Colle memorie storiche sulla vita di Leonardo scritte
	  da Carlo Amoretti,</a></span> 
                     <span class="catalogo-pubPlace">Milano</span> 
                     <span class="catalogo-date">1804</span>,<span class="catalogo-extent"> in 4, fig.</span>
                  </span>
	                 <div class="catalogo-note">Sta fra la collezione de’ classici italiani.</div><div id="catalogo-note-text-236" class="catalogo-note-search-results truncate-line-clamp">Sta fra la collezione de’ classici italiani.</div><a id="catalogo-note-text-toggle-236" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>