<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3663">
                     <span class="catalogo-item-label">3663.</span> <span class="catalogo-bibl"><span class="catalogo-author">CENNI Gaetano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3663">Breve dichiarazione delle sei tavole incise in rame da Anton Francesco Barbazza, che
rappresentano la storia ecclesiastica del primo, e secondo secolo, ideate da monsignor Francesco Bianchini, e
perfezionate da Giuseppe Bianchini</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1753</span>, in 8.
<span class="catalogo-bibl">— <span class="catalogo-title"><a class="catalog-link" href="/catalog/3663">Aggiuntovi: Elenchus monumentorum quae continentur in sex prioribus tabulis ex aere incisis nostri Musei
sacri, et profani, complectentibus demonstrationem historiae ecclesiasticae</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1754</span>, in 8.
<div id="catalogo-note-text-3663" class="catalogo-note truncate-line-clamp">Questo elenco non è che la guida estesa coi numeri relativi agli oggetti rappresentati nelle tavole per riscontrarli, e
spiegarli, accuratamente fatta dal calcografo Antonio Giuseppe Barbazza.</div><a id="catalogo-note-text-toggle-3663" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a></span>
</span></section>