<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2523">
                     <span class="catalogo-item-label">2523.</span> <span class="catalogo-bibl"><span class="catalogo-author">GROBERT Jacques</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2523">Description des piramides de Ghize de la ville du Kaire et de ses environs</a></span>, <span class="catalogo-pubPlace">Paris</span>, an. IX in 4,
fig., M. 106.
<div class="catalogo-note">L’autore, ufficiale d’artiglieria e membro dell’Instituto di Bologna fu al Cairo nella gran spedizione ed illustrò
questa opera con cinque tavole in rame.</div><div id="catalogo-note-text-2523" class="catalogo-note-search-results truncate-line-clamp">L’autore, ufficiale d’artiglieria e membro dell’Instituto di Bologna fu al Cairo nella gran spedizione ed illustrò
questa opera con cinque tavole in rame.</div><a id="catalogo-note-text-toggle-2523" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
<span class="catalogo-pb" id="page_10">10</span>
                  </span></section>