<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="969">
                  <span class="catalogo-item-label">969.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZARABIN Niccolò</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/969">Metodo di comporre un cemento validissimo per intonacare e rendere
      impenetrabile all’acqua qualvogliasi recipiente di pietra, o legno, o muro ec.</a></span> M. 104.
      <div class="catalogo-note">Fu pubblicato per ordine del Senato Veneto.</div><div id="catalogo-note-text-969" class="catalogo-note-search-results truncate-line-clamp">Fu pubblicato per ordine del Senato Veneto.</div><a id="catalogo-note-text-toggle-969" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>