<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3529">
                     <span class="catalogo-item-label">3529.</span> <span class="catalogo-bibl"><span class="catalogo-author">MENETREJO Claudio</span>, <span class="catalogo-author">Ceimeliothecae Barberinae</span> praefecto.<span class="catalogo-title"><a class="catalog-link" href="/catalog/3529">Symbolica Dianae 
                        Ephesiae statua exposita, cui accessere Lucae Holstenii epistola de fulcris seu verubus Dianae Eph. simulacro appositis</a></span>. 
                        Jo. Pet. Bellorii notae
in Numismata Ephesia, tum aliarum Urbium apibus insignita. Editio altera auctior, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1788</span>, in fol. pic., fig.
<div id="catalogo-note-text-3529" class="catalogo-note truncate-line-clamp">Le tavole di tutte le dissertazioni delle quali è arricchita <span class="catalogo-pb" id="page_161">161</span> questa preziosa seconda edizione sono in
numero di 24, alcune delle quali veggonsi indubitatamente intagliate da P. S. Bartoli.</div><a id="catalogo-note-text-toggle-3529" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>