<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1773">
                  <span class="catalogo-item-label">1773.</span> <span class="catalogo-bibl"><span class="catalogo-author">RABASCO Ottaviano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1773">Il Convito, ovvero discorsi di quelle materie, che al Convito si
  appartengono</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1615</span>, presso i Giunti, in 4.
  <div class="catalogo-note collapse">Dedicato a D. Carlo Medici. La materia viene esurita e trattata in questo libro con molta erudizione. L’autore
  avea composti anche 50 discorsi conviviali che forse non videro la luce.</div>
  
  </span></section>