<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3824">
                     <span class="catalogo-item-label">3824.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3824">PIANTE, e fabbriche, che dimostrano lo splendore degli edifizj di Roma antica.</a></span>
<div class="catalogo-note collapse">Questo volume contiene le due piante di Roma antica, e moderna di Pirro Ligorjo: quella di Onofrio Panvinio; le
carte dell’Ippodromo di Costantinopoli; i circhi di Caracalla, e gli altri tutti di Onofrio Panvinio in numero di 8
tavole. La valle di Tempe di Abramo Ortelio, l’Isola Tiberina colle vestigia del Ponte Senatorio; gli archi di
trionfo; le pompe circensi, in numero di 6 tavole unite dall’opera di Onofrio Panvinio. In tutto 20 tavole, formanti
questa collezione.</div>
</span></section>