<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1481">
                  <span class="catalogo-item-label">1481.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1481">ARCOS triumphalis Leopoldo Magno, Eleonorae Augustae, Josepho glorioso a Senatu
    pupuloque Viennensi positus et emblematibus ornatus anno <span class="catalogo-date">1690</span></a></span>, in fol. fig.
    <div class="catalogo-note">Le invenzioni e disegni di cattivo gusto in mezzo a molta magnificenza sono di Bernardo Fischer, intagliate da
    Denuer. Le tavole degli apparati ed arco sono due in foglio atlantico e 16 le tavole degli emblemi.</div>
    
    <span class="catalogo-pb" id="page_254">254</span>
    MDCXC
    
    </span></section>