<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="580">
                  <span class="catalogo-item-label">580.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">NERALCO P. A.</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/580">I tre ordini d’architettura, dorico, ionico e corintio, tratti dalle più insigni
	fabbriche di Roma,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1744,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Sotto questo nome d’Arcadia intendasi Monsignor Ercolani. Edizione di qualche lusso apparente, non
	agguagliato dal merito dell’opera, come il dimostrano le 61 tavole del volume. In fine sta una descrizione del
	Colosseo romano, del Panteon e del tempio vaticano, con altre 15 tavole.</div>
	
	              </section>