<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3247">
                     <span class="catalogo-item-label">3247.</span> <span class="catalogo-bibl"><span class="catalogo-author">JACUTII Matthaei</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3247">Christianarum antiquitatum specimina quae in vetere Bonusae et Mennae titulo e suburbana S.
                        Agatae basilica an</a></span>. 1757 Vaticanum ad Museum transvecta exercitationibus collustrantur, <span class="catalogo-pubPlace">Romae</span><span class="catalogo-date"> 1758</span>, in 4.
                        <div class="catalogo-note">Le tavole in queste due opere sono intagliate in legno e inserite fra il testo</div>.
</span></section>