<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2400">
                  <span class="catalogo-item-label">2400.</span> <span class="catalogo-bibl"><span class="catalogo-author">VETTORI Giovanni Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2400">Memoria intorno alla vita e alle opere del Capitano Francesco
    Marchi</a></span>, <span class="catalogo-pubPlace">Modena</span> <span class="catalogo-date">1816</span>, in 4, fig., M. 77.
    <div id="catalogo-note-text-2400" class="catalogo-note truncate-line-clamp">Con un bel ritratto in fronte al volume intagliato da Rosaspina e quattro gran tavole al fine. È interessantissima
    ogni produzione dell’ab. Venturi. In questa rimarcasi un’aggiunta di molti articoli alla bibliografia di
    fortificazione inserita nell’edizione di Roma del Marchi.
    </div><a id="catalogo-note-text-toggle-2400" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>