<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4697">
                     <span class="catalogo-item-label">4697.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4697">CONNOISSANCE de la mythologie, par demandes et responses augmentée de traits d’histoire</a></span>, <span class="catalogo-pubPlace">Lion</span> <span class="catalogo-date">1782</span>, in 12.
<span class="catalogo-pb" id="page_320">320</span>
                  </span></section>