<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="624">
                  <span class="catalogo-item-label">624.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">PRETI Francesco-Maria</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/624">Elementi d’architettura,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1770,</span> 
                     <span class="catalogo-extent">in fol. fig. in 4.</span> Colle tavole,
	che presentano la pianta, spaccato e prospetto del teatro di Castel Franco da lui edificato.</span>
	                 <div id="catalogo-note-text-624" class="catalogo-note truncate-line-clamp">Il celebre C. Riccati fece la prefazione a questi elementi e ci fa conoscere che l’autore era un pratico materiale
	chiamato dalla natura alle più felici disposizioni per quest’arte, come il Ferracina nacque Meccanico, il
	Marchiori scultore ec. Ebbe in fatti bisogno che i suoi scritti venissero ripuliti d’altra penna ec.</div><a id="catalogo-note-text-toggle-624" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>