<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3744">
                     <span class="catalogo-item-label">3744.</span> <span class="catalogo-bibl"><span class="catalogo-author">GAMUCCI Bernardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3744">Le antichità della città di Roma: raccolte sotto brevità da antichi, e moderni scrittori</a></span>. Edizione
seconda riveduta, e corretta dal Porcacchi, <span class="catalogo-pubPlace">Venezia</span>, presso Giovanni Varisco, <span class="catalogo-date">1588</span>, in 8.
</span></section>