<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="66">
                  <span class="catalogo-item-label">66.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALBERTI Leon Battista</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/66">La pittura tradotta per mess. Lodovico Domenichi.</a></span> 
                     <span class="catalogo-extent">Libri tre,</span> 
                     <span class="catalogo-pubPlace">Venezia,</span>
	                     Giolito, 
                     <span class="catalogo-date">1547,</span>
                      in 8.
                  </span>
	              </section>