<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1394">
                  <span class="catalogo-item-label">1394.</span> <span class="catalogo-bibl"><span class="catalogo-author">De’ Rossi Bastiano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1394">Descrizione del magnificentissimo apparato e de’ maravigliosi intermedii
    fatti per la commedia rappresentata in Firenze nelle nozze del Sig. D. Cesare d’ Este e la Sig.
    Donna Virginia Medici</a></span>, <span class="catalogo-pubPlace">Firenze</span>, <span class="catalogo-date">1585</span>, in 4.
    <div id="catalogo-note-text-1394" class="catalogo-note truncate-line-clamp">L’esposizione e di Bastiano de’ Rossi diretta ad Alfonso di Este.</div><a id="catalogo-note-text-toggle-1394" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDLXXXTI
    
    </span></section>