<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2898">
                     <span class="catalogo-item-label">2898.</span> <span class="catalogo-bibl"><span class="catalogo-author">KHEVENULLER Francisci Antonii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2898">Regum veterum numismata anecdota aut perrara notis illustrata</a></span>,<span class="catalogo-pubPlace"> Viennae</span>
Austriae, in 4, fig.
<div class="catalogo-note">Opera apparentemente giovanile in occasione di pubblici esami al termine dell’anno scolastico: con tre tavole di
medaglie; ma sostanzialmente poi profonda, poiché del p. Erasmo Froelich professore, il quale all’uso dei collegi
metteva l’opera e gli alunni prestavano il nome. Il che dallo stampatore è indicato in un avviso al lettore</div><div id="catalogo-note-text-2898" class="catalogo-note-search-results truncate-line-clamp">Opera apparentemente giovanile in occasione di pubblici esami al termine dell’anno scolastico: con tre tavole di
medaglie; ma sostanzialmente poi profonda, poiché del p. Erasmo Froelich professore, il quale all’uso dei collegi
metteva l’opera e gli alunni prestavano il nome. Il che dallo stampatore è indicato in un avviso al lettore</div><a id="catalogo-note-text-toggle-2898" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>