<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1089">
                  <span class="catalogo-item-label">1089.</span> <span class="catalogo-bibl"><span class="catalogo-author">DANTE Alighieri</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1089">La divina Commedia con tavole in rame disegnate da Luigi Adamolii</a></span>,
      <span class="catalogo-pubPlace">Firenze</span> in fol., t. IV, alla Stamp. dell’Ancora, <span class="catalogo-date">1817</span> e segg.
      <div class="catalogo-note collapse">Le due prime cantiche sono disegnate e per la più parte incise dal Sig. Adamolii medesimo. Il Paradiso è
      disegnato dal Sig. Francesco Menci e inciso da vari. Sono oltre le 100 tavole. Il tomo IV contiene le illustrazioni.
      Se il Signor Nenci avesse disegnate tutte le tavole di quest’opera, si sarebbe tenuta in maggior pregio, anche per
      la magnificenza dei tipi.</div>
      
      </span></section>