<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1350">
                  <span class="catalogo-item-label">1350.</span> <span class="catalogo-bibl"><span class="catalogo-author">REGOLAMENTI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1350">Regolamenti e Statuti della R. Accademia di Pittura e Scultura</a></span>, <span class="catalogo-pubPlace">Torino</span>,
    Stamperia Reale, <span class="catalogo-date">1788</span>, in foglio.
    </span></section>