<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1984">
                  <span class="catalogo-item-label">1984.</span> <span class="catalogo-bibl"><span class="catalogo-author">ATRIUM heroicum caesarum, regum, aliorumque summatum, ac procerurn qui intra proximum
    saeculum vixere aut hodie supersunt. Partes IV, uno volumine </span>, calcografo et editore Dom.
    Custode, Aug. Vindel. <span class="catalogo-date">1600 al 1602</span>. I pars constat imag. 72; II imag. 31; III. Imag. 40; IV
    imag. 33.<div class="catalogo-note collapse">
    Bellissimo esemplare ove i ritratti di prima freschezza rendono una ragione precisa del merito di
    quest’intagliatore e de’ suoi figli ed allievi, che lavorarono in questa bella ed ampia raccolta.
    </div>
    <span class="catalogo-pb" id="page_337">337</span>
               </span></section>