<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3925">
                     <span class="catalogo-item-label">3925.</span> <span class="catalogo-bibl"><span class="catalogo-author">ACKERMANN R.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3925">The microcosme of London</a></span>, <span class="catalogo-pubPlace">London</span>, 3 vol., in 4 gran., fig.
<div class="catalogo-note">Opera di lusso superficiale con 104 tavole colorate oltre i frontespizj e le vignette magnifiche, ma che esprime
piuttosto le caricature, che i costumi di quella città.</div>
</span></section>