<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3898">
                     <span class="catalogo-item-label">3898.</span> <span class="catalogo-bibl"><span class="catalogo-author">VENUTI Rodulphinus et Jo. Christophorus Amadutius</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3898">Vetera monumenta, quae in hortis Caelimontanis et in
aedibus Matheiorum adservantur: nunc primum in unum collecta et adnotationibus illustrata</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1779</span>, in
fol., fig., 3 vol.
<div class="catalogo-note">Se le numerose tavole fossero state eseguite almeno dai mediocri artisti potrebbero corrispondere alla decenza
dei tipi, e al merito delle illustrazioni, ma sono queste intagliate e disegnate indecentemente, e deturpano la
buona edizione dell’opera. Il primo volume contiene 106 tavole, il secondo 90, il terzo 76, fra le quali avvene
alcuna passabilmente intagliata.</div>
</span></section>