<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3435">
                     <span class="catalogo-item-label">3435.</span> <span class="catalogo-bibl"><span class="catalogo-author">PIROLI Tommaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3435">Raccolta di XII virtù personificate dipinte coi disegni di Rafaello d’Urbino nella sala detta di
Giulio Romano al Vaticano</a></span>, incise all’acqua forte, <span class="catalogo-pubPlace">Roma</span>, in fol. gr.
<div class="catalogo-note collapse">Queste figure in gran dimensione sono di corretto disegno e bellissimo intaglio e da ritenersi fra le migliori opere
del Piroli.</div>
</span></section>