<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3623">
                     <span class="catalogo-item-label">3623.</span> <span class="catalogo-bibl"><span class="catalogo-author">BIONDO</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3623"> Roma ristaurata etc. etc. come sopra, da molti errori corretta, e ristampata</a></span>, 
                        <span class="catalogo-pubPlace">Venezia</span>, presso Domenico
Giglio. <span class="catalogo-date">1558</span>, in 8.
<div class="catalogo-note">Questa bella edizione della traduzione fatta da Lucio Fauno ha una preziosa singolarità, che nel fine sono raccolte
le giuste critiche fatte da’ geografi a tutti gli sbagli corsi nell’opera del Biondo: come il Marliano, il Sabelico, il
Volaterrano ec.</div>
</span></section>