<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1402">
                  <span class="catalogo-item-label">1402.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1402">DESCRIZIONE degli apparati fatti in Bologna parla venuta di N. S. Papa Clemente VIII con i
    disegni degli archi, statue e pitture</a></span>, dedicata agli illustrissimi Signori del Reggimento di
    <span class="catalogo-pubPlace">Bologna</span>, da Vittorio Benacci Stampatore Camerale, <span class="catalogo-date">1598.</span>
    <div class="catalogo-note">Sonovi 9 stampe pittoresche all’acqua forte, oltre lo stemma nel frontespizio, molto pregiate, che rendono
    l’opuscolo prezioso, per essere della mano maestra di Guido Reni. Due esemplari; all’uno de’ quali è aggiunto
    l’altro opuscolo felicissima entrata di N. S. Papa Clemente VIII nell’inclita città di Ferrara con gli apparati
    pubblici. In Ferrara, e ristampata in Torino presso Giov. Mich. Cavalieri 1598. Si trova più difficilmente questo
    secondo, che il primo.</div><div id="catalogo-note-text-1402" class="catalogo-note-search-results truncate-line-clamp">Sonovi 9 stampe pittoresche all’acqua forte, oltre lo stemma nel frontespizio, molto pregiate, che rendono
    l’opuscolo prezioso, per essere della mano maestra di Guido Reni. Due esemplari; all’uno de’ quali è aggiunto
    l’altro opuscolo felicissima entrata di N. S. Papa Clemente VIII nell’inclita città di Ferrara con gli apparati
    pubblici. In Ferrara, e ristampata in Torino presso Giov. Mich. Cavalieri 1598. Si trova più difficilmente questo
    secondo, che il primo.</div><a id="catalogo-note-text-toggle-1402" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDXCVIII
    
    </span></section>