<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="679">
                  <span class="catalogo-item-label">679.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/679">TEMPLES anciens et modernes, ou observations historiques et critiques sur le plus célebres
	monumens de l’architecture grecque et gothique : par M. L. M.,</a></span> 
                     <span class="catalogo-pubPlace">Londres</span> 
                     <span class="catalogo-date">1774,</span> 
                     <span class="catalogo-extent">en 8, fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Questo libro colla data di Londra è stampato a Parigi, ma con moltissima eleganza sopra tutto per l’esatto
	disegno delle sette bellissime tavole disegnate da Dumont e intagliate da Sellier. L’opera è piena di critica e di
	dottrina, né se ne conosce su questa materia una che sia più concisa e più saggiamente imaginata ed eseguita di
	questa.</div>
	
	              </section>