<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4644">
                     <span class="catalogo-item-label">4644.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4644"> CATALOGO della libreria del fu cavaliere Giuseppe Bossi pittore milanese</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1817</span>, in 8.
<div class="catalogo-note collapse">Fu questo rapidamente esteso dal librajo Salvi per il solo oggetto della vendita. La libreria Bossi ebbe origine
coll’acquisto della collezione di libri d’arte del segretario abate Bianconi.</div>
</span></section>