<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4529">
                        <span class="catalogo-item-label">4529.</span> <span class="catalogo-bibl"><span class="catalogo-author">Le BRUN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4529">Catalogue des tableaux des écoles d’Italie, de Flandre, et de France du Cabinet de M. Collet</a></span>, <span class="catalogo-pubPlace">Paris</span>
<span class="catalogo-date">1787</span>, in 8.
</span></section>