<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3583">
                     <span class="catalogo-item-label">3583.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3583">ANTIQUITES romaines expliquées dans les memoires du comte de B… contenant ses avantures, ses recherches, et
ses decouvertes sur les antiquités de la ville de Rome et autres curiosités de l’Italie, divisées en trois parties, et
enrichies de plus de 100 belles planches en taille douce</a></span>, <span class="catalogo-pubPlace">Haye</span> <span class="catalogo-date">1750</span>, in 4, fig.
<div id="catalogo-note-text-3583" class="catalogo-note truncate-line-clamp">L’opera è piena di garbo, e di spirito, e le stampe non mancano di gusto.</div><a id="catalogo-note-text-toggle-3583" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>