<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2908">
                     <span class="catalogo-item-label">2908.</span> <span class="catalogo-bibl"><span class="catalogo-author">LIGUORIO Ottavio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2908">Ristretto istorico dell’origine degli abitanti della campagna di Roma, delle medaglie e gemme,
colla rarità e prezzo delle medesime e col vero modo di conoscere le vere dalle false</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1753</span>, in 8.
<div class="catalogo-note">L’intenzione ottima con cui fu esteso questo libro nol rese utile che temporariamente. Le cognizioni ora più
estese, la critica e il valor diverso delle cose nol rendono più della stessa utilità.</div>
</span></section>