<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2014">
                  <span class="catalogo-item-label">2014.</span> <span class="catalogo-bibl"><span class="catalogo-author">LE CLERC Sébastien</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2014">Calendier des Saints, ou figures des vies des Saints pour tous les jours
  de l’année</a></span>, gravées d’apres Sébastien le Clerc, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1730</span>, 2 vol. in 4. p.
  <div class="catalogo-note collapse">Questi due volumetti sono egregiamente intagliati. Le tavole sono 365 senza testo. I due frontespizi figurati sono
  in olandese.</div>
  
  </span></section>