<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2892">
                     <span class="catalogo-item-label">2892.</span> <span class="catalogo-bibl"><span class="catalogo-author">KEDERI Nicolai</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2892">De argento runis seu literis gothicis insignito</a></span>,<span class="catalogo-pubPlace"> Lipsiae</span><span class="catalogo-date"> 1703</span>, in 4, f. M. 12.
                        <div class="catalogo-note collapse">Con una tavola in rame</div>.
</span></section>