<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="648">
                  <span class="catalogo-item-label">648.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SANTINI Angelo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/648">Regole e avvertimenti pratici per fabbricar con sodezza,</a></span> 
                     <span class="catalogo-pubPlace">Ferrara</span> 
                     <span class="catalogo-date">1770,</span> 
                     <span class="catalogo-extent">in 8.</span>
                  </span>
	                 <div id="catalogo-note-text-648" class="catalogo-note truncate-line-clamp">Sono poche osservazioni pratiche unite a molte altre geometriche riflessioni estranie al soggetto.</div><a id="catalogo-note-text-toggle-648" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>