<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="589">
                  <span class="catalogo-item-label">589.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">OSIO Carlo Cesare</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/589">Architettura civile dimostrativamente proporzionata ed accresciuta col
	ritrovamento d’un nuovo strumento angolare per stabilire le sagome in ogni loro necessario
	contorno,</a></span> 
                     <span class="catalogo-pubPlace">Milano</span> 
                     <span class="catalogo-date">1661,</span>
                     <span class="catalogo-extent"> in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Col ritratto dell’autore disegnato da Cesare dai fiori, intagliato da Giovan Battista Bonacina, assai bello. Opera in
	                    cui si com<span class="catalogo-pb" id="page_106">106</span>plicano le cose più facili in una quantità di inutili insegnamenti.</div>
	
	              </section>