<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3498">
                     <span class="catalogo-item-label">3498.</span> <span class="catalogo-bibl"><span class="catalogo-author">DANIELE Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3498">Ragionamento intorno ad un’antica statua di Annibale cartaginese</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1781</span>, in 4.
— Aggiuntevi alcune riflessioni sopra Annibale dopo la battaglia di Canne del sig. Saint Evremond, traduzione
inedita del Magalotti, M. 10.
Con una tavola intagliata in rame in principio.
</span></section>