<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1777">
                  <span class="catalogo-item-label">1777.</span> <span class="catalogo-bibl"><span class="catalogo-author">RICAUT</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1777">Histoire de l’état present de l’Empire ottoman contenant les maximes politiques etc.</a></span>,
  traduit de l’anglais par M. Briot, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1670</span>, in 12.
  <div class="catalogo-note collapse">Questo libro è pregiabile anche per le 20 tavole dei costumi turchi intagliate con infinita grazia da Sebast. Le
  Clere indipendenti dal frontespizio figurato.</div>
  
  </span></section>