<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="953">
                  <span class="catalogo-item-label">953.</span> <span class="catalogo-bibl"><span class="catalogo-author">PRICE Francis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/953">The british carpenter or a treatise on carpentry</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1765</span>, in 4, fig.
      <span class="catalogo-pb" id="page_174">174</span> — Aggiunto: a <span class="catalogo-title"><a class="catalog-link" href="/catalog/953">supplement containing Palladio ordens of architecture ec.</a></span>
      <div class="catalogo-note">Sono nella prima parte 44 tavole diligentemente disegnate ed incise. Opera eccellente per la parte soprattutto
      delle connessioni dei legnami. Nella seconda che tratta degli ordini di Palladio sono 16 tavole oltre un busto a
      capriccio dell’architetto, ma io questa non possiamo lodare né il gusto, né la esattezza dell’esecuzione.</div>
      
      </span></section>