<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2444">
                  <span class="catalogo-item-label">2444.</span> <span class="catalogo-bibl"><span class="catalogo-author">Ab INDAGINE Joannes</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2444">Chiromantia</a></span>, <span class="catalogo-pubPlace">Argentorati</span>, apud Joannem Scottum, <span class="catalogo-date">1532</span>, in 4, fig.
    <div class="catalogo-note">Le molte figure intagliate in legno sono frapposte al testo. II ritratto dell’autore è in principio. L’opera e divisa in
    sei libri; 1. Chiromanzia; 2. Fisonomia; 3. Dei segni della faccia; 4. Canoni astrologici dei giudizi intorno le
    infirmità; 5. Astrologia naturale; 6. Delle Compulsioni secondo l’influsso planetario.</div>
    
    </span></section>