<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2029">
                  <span class="catalogo-item-label">2029.</span> <span class="catalogo-bibl"><span class="catalogo-author">FERRARI Jo. Bapt. Senensis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2029">Hesperides sive de malorum aureorom cultura et usu lib. 4</a></span>,
  <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1646</span>, in fol. fig.
  <div id="catalogo-note-text-2029" class="catalogo-note truncate-line-clamp">Se quest’opera fosse stampata in miglior carta e con più eleganza di tipi, potrebbe essere celebrata assai più che
  none, a cagione delle ricche e belle tavole in rame che l’abbelliscono: sono queste in numero di 99. II
  frontespizio è intagliato da Greuter sopra disegno di Pietro da Cortona e sonovi in seguito sei belle tavole di
  antiche statue e monumenti intagliate da Bloemart, che incita paramenti altre sei magnifiche tavole figurate dai
  disegni dell’Albano, And. Sacchi, Nic. Pussino, Romanelli, Domenichino e Lanfranchi. Tutte le altre tavole
  esprimono le frutta d’ogni sorta di agrumi colle loro sezioni.</div><a id="catalogo-note-text-toggle-2029" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>