<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1498">
                  <span class="catalogo-item-label">1498.</span> <span class="catalogo-bibl"><span class="catalogo-author">BERNI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1498">Il Torneo a piedi</a></span> e l’invenzione ed allegoria colla quale il Sig, Dorso
    Bonacossi comparì a sostenerlo e l’Alcina maga, favola Pescatoria, rappresentata nella sala
    dei Giganti in <span class="catalogo-pubPlace">Ferrara</span>, nel Carnevale del <span class="catalogo-date">1731</span>, in 8.
    MDCCXXXII
    
    </span></section>