<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2877">
                     <span class="catalogo-item-label">2877.</span> <span class="catalogo-bibl"><span class="catalogo-author">HARDUINI Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2877">Cronologiae ex nummis antiquis restitutae. Prolusio de nummis Herodiarum</a></span>,<span class="catalogo-pubPlace"> Parisiis</span><span class="catalogo-date"> 1793</span>, in
8.
</span></section>