<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2522">
                     <span class="catalogo-item-label">2522.</span> <span class="catalogo-bibl"><span class="catalogo-author">GAFFAREL Jacques</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2522">Curiosités inouies sur la sculpture talismanique des persans, horoscope des patriarches, et
lecture des étoiles</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1629</span>, in 8. Prima edizione. <div class="catalogo-note collapse">Fu molte volte ristampato e anche da Giorgio Michele con
note nel 1676 al 78 in due volumetti in 8.</div>
</span></section>