<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2593">
                     <span class="catalogo-item-label">2593.</span> <span class="catalogo-bibl"><span class="catalogo-author">LANZI Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2593">Dissertazione sopra un’urnetta toscanica e difesa del Saggio di Lingua Etrusca </a></span>edito in <span class="catalogo-pubPlace">Roma</span> nel
<span class="catalogo-date">1789</span>, <span class="catalogo-date">1799</span>, in 4, fig., M. 11.
</span></section>