<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3689">
                     <span class="catalogo-item-label">3689.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3689">Le COSE meravigliose dell’alma città di Roma</a></span>, Le stesse. Cioè chiese, e luoghi con la delineazione dell’edificio,
loro istoria, ornamenti, pitture, e sculture ec., in 8, fig., senza luogo ed anno.
<div class="catalogo-note collapse">Edizione della metà circa del XVII secolo, arricchita di molte notizie, e tavole.</div>
</span></section>