<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="813">
                  <span class="catalogo-item-label">813.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAROZZI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/813">La prospettiva pratica delineata in tavole a norma della seconda regola del
	medesimo</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1744</span>, in 4, gr. fig.
	<div class="catalogo-note">Col frontespizio figurato e 66 tavole in rame, edizione di comodo per la gioventù.</div><div id="catalogo-note-text-813" class="catalogo-note-search-results truncate-line-clamp">Col frontespizio figurato e 66 tavole in rame, edizione di comodo per la gioventù.</div><a id="catalogo-note-text-toggle-813" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>