<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4386">
                        <span class="catalogo-item-label">4386.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARINI Giuseppe</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/4386"> Indicazione delle chiese, pitture, e fabbriche della città di Verona</a></span>, <span class="catalogo-pubPlace">Verona</span> <span class="catalogo-date">1797</span>, in 8, fig.
<div class="catalogo-note collapse">Avvi in principio la pianta della città, e gli impercettibili <span class="catalogo-pb" id="page_291">291</span> cenni intorno le pitture lasciano più voglia di
sapere e cercare le cose, di quello che soddisfazione di aver trovato quello che realmente non è raccolto nel libro
di 50 pagine.</div>
</span></section>