<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1944">
                  <span class="catalogo-item-label">1944.</span> <span class="catalogo-bibl"><span class="catalogo-author">REUSNERI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1944">Emblemata varia</a></span>, <span class="catalogo-pubPlace">Francf.</span> <span class="catalogo-date">1581</span>, in 4, figurato.
    <div class="catalogo-note">Tutti gli intagli sono in legno di bella esecuzione. Comincia il vol. col ritratto dell’autore e il primo libro
    contiene 40 emblemi, altrettanti il secondo, ed altrettanti il terzo. Ai 40 emblemi del quarto libro non sono le
    figure. Seguono poi gli emblemi sacri in altri 40 soggetti figurati, e in fine tre libri intitolati Stemmatum sive
    armorum gentilitiorum: senza figure, Bibl. Malborough.</div>
    
    </span></section>