<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="50">
	                 <span class="catalogo-item-label">50.</span>
	                 <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/50">REFLEXIONS d’un patriote sur l’Opera françois et sur l’Opera italien, qui presente le parallele du
	    goût de deux nations dans les beaux arts,</a></span>
                     <span class="catalogo-pubPlace"> à Lausanne</span> 
                     <span class="catalogo-date">1754,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <span class="catalogo-bibl">Aggiuntovi:<span class="catalogo-title"><a class="catalog-link" href="/catalog/50"> Essai sur la peinture, la sculpture et l’architecture,</a></span>
                     <span class="catalogo-date"> 1751.</span>
                  </span>
	              </section>