<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3464">
                     <span class="catalogo-item-label">3464.</span> <span class="catalogo-bibl"><span class="catalogo-author">TIBALDI Pellegrino e Nicolò Abbati</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3464">Pitture esistenti nell’Instituto di Bologna, descritte da Giampietro Zanotti</a></span>,
<span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">l756</span>, in fol., fig.
<div class="catalogo-note collapse">Edizione di una distinta serie di belle opere eseguite a spese del sig. Petronio Buratti con molta precisione e
nobilmente, nella quale si distinse più che in ogni altra sua produzione l’intagliatore Vagner come vedesi nel
bellissimo ritratto del Tibaldi posto in principio. Nell’esemplare nostro incontrasi di questo ritratto anche una
prima acqua forte, non meno che del ritratto di Benedetto XIV. Le tavole sono 41 e buon numero fu intagliato da
Bartolommeo Crivella.</div>
<span class="catalogo-pb" id="page_150">150</span>
                  </span></section>