<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1654">
                  <span class="catalogo-item-label">1654.</span> <span class="catalogo-bibl"><span class="catalogo-author">FRANCO Giacomo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1654">Habiti d’huomini et donne veneziane con la processione della Sereniss.
    Signoria ed altri particolari, cioè trionfi, feste e cerimonie pubbliche della nobilissima città di
    Venetia</a></span>, <span class="catalogo-date">1610</span>, tavole 26.
    </span></section>