<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2880">
                     <span class="catalogo-item-label">2880.</span> <span class="catalogo-bibl"><span class="catalogo-author">HAYM Nicola Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2880">Del tesoro britannico, ovvero del museo nummario ove si contengono le medaglie
                        greche e latine non prima pubblicate</a></span>, <span class="catalogo-pubPlace">Londra</span><span class="catalogo-date"> 1719</span> e 20, 2 vol. in un tomo, in 4.
<div class="catalogo-note">L’autore delineò e descrisse le medaglie, che in copiose <span class="catalogo-pb" id="page_64">64</span> tavole trovansi sparse fra il testo dell’opera ai
   rispettivi luoghi</div>.
</span></section>