<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2172">
                  <span class="catalogo-item-label">2172.</span> <span class="catalogo-bibl"><span class="catalogo-author">PERNETTY Joseph</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2172">Dictionnaire portatif de peinture, sculpture, gravare, avec un traité pratique
    des differentes manieres de peindre</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1757</span>, en 12, figurato.
    <div class="catalogo-note">Sono in fine 8 tavole relative all’incisione. Questo libro è dei migliori ristretti che siano esciti in tal genere.</div>
    
    </span></section>