<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="235">
                  <span class="catalogo-item-label">235.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">Da VINCI Lionardo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/235">Traité de la peinture precedé de la vie de l’auteur et du catalogue de ses
	  ouvrages avec des notes et observationes par le traducteur M. de Gault de S. Germain,
	  nouvelle édition,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1803</span>, <span class="catalogo-extent">in 8, fig. con 30 tav.</span>
                  </span>
	                 <div class="catalogo-note">Pare incredibile come malgrado le ottime intenzioni dell’autore egli non siasi prevalso delle notizie di fatto
	  esattissime, pubblicate in Parigi nel 1801 dall’abate Venturi e sbagli d’otto anni la nascita di Leonardo, e fra
	  molti altri equivochi asserisca che il suo Cenacolo fosse dipinto a fresco.</div><div id="catalogo-note-text-235" class="catalogo-note-search-results truncate-line-clamp">Pare incredibile come malgrado le ottime intenzioni dell’autore egli non siasi prevalso delle notizie di fatto
	  esattissime, pubblicate in Parigi nel 1801 dall’abate Venturi e sbagli d’otto anni la nascita di Leonardo, e fra
	  molti altri equivochi asserisca che il suo Cenacolo fosse dipinto a fresco.</div><a id="catalogo-note-text-toggle-235" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>