<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2348">
                  <span class="catalogo-item-label">2348.</span> <span class="catalogo-bibl"><span class="catalogo-author">PINGERON</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2348">Vies des architectes anciens et modernes, qui se sont rendus célebres chez le
    differentes nations, traduites de l’italien etc.</a></span>, 2 vol. en 12, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1771</span>.
    <div class="catalogo-note">Quantunque il traduttore non degni nominare l’autore italiano, da cui tradusse l’opera, questa è di Francesco
    Milizia.</div>
    
    </span></section>