<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2538">
                     <span class="catalogo-item-label">2538.</span> <span class="catalogo-bibl"><span class="catalogo-author">NIEBUHR</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2538">Voyage en Arabie et en d’autres pays circonvoisins, traduit de l’Allemand</a></span>, vol. 2, in 4, fig.,
<span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1776</span>.
<div class="catalogo-note">Con 124 tavole in rame.</div>
<span class="catalogo-pb" id="page_12">12</span>
                  </span></section>