<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3839">
                     <span class="catalogo-item-label">3839.</span> <span class="catalogo-bibl"><span class="catalogo-author">PIROLI Tommaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3839">Gli edifici antichi di Roma ricercati nelle loro piante, e restituiti alla pristina <span class="catalogo-pb" id="page_212">212</span>
magnificenza secondo Palladio, Desgodetz, ed altri più recenti, coll’aggiunta di qualche moderna fabbrica</a></span>, tavole
82, <span class="catalogo-pubPlace">Roma</span>, in 4.
<div class="catalogo-note collapse">Sebbene le dimensioni degli edifici siano in piccola proporzione, sono nondimeno assai belle e precise le
incisioni.</div>
</span></section>