<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3945">
                     <span class="catalogo-item-label">3945.</span> <span class="catalogo-bibl"><span class="catalogo-author">AVERANI Josephi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3945">Monumenta latina postuma</a></span>, <span class="catalogo-pubPlace">Florentiae</span> <span class="catalogo-date">1769</span>, in 4, sive de Lampadum Ludo. De ludis in
genere. Oratio in solemni instauratione studiorum Pisis. Proposito mechanica etc., M. 29.

                     
                     

                  </span></section>