<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2123">
                  <span class="catalogo-item-label">2123.</span> <span class="catalogo-bibl"><span class="catalogo-author">VALESIO Giovanni Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2123">Raccolta di Santi PP. nel deserto, disegnati e intagliati ad uso de’
  pittori e dilettanti</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1763</span>, in 4, fig.
  <div id="catalogo-note-text-2123" class="catalogo-note truncate-line-clamp">Questa non è altro che l’opera pubblicata dai fratelli Sadeler Solitudo sive vitae Patrum Heremicatarum
  riprodotta colle stampe logoratissime che non già Luigi, ma Francesco Valesio pubblica nel 1612 copiando i
  Sadeler, alla quale edizione il Cavaccio pose il testo. <span class="catalogo-bibl">Vedi <span class="catalogo-author">Cavaccio</span>.</span></div><a id="catalogo-note-text-toggle-2123" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>