<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="532">
                  <span class="catalogo-item-label">532.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/532">JONES Inigo and others designs</a></span> 
                     published by J. Ware 
                     <span class="catalogo-extent">in 4 p.</span>
                  </span> 
	                 <div class="catalogo-note">Questa raccolta di piccoli monumenti, come cammini, scale, porte, finestre, soffitti ed altro, de’ principali palazzi
	d’Inghilterra è una scelta che fu diretta dal gusto del C. di Burlington. Le tavole sono 53, d’intaglio diligente.</div><div id="catalogo-note-text-532" class="catalogo-note-search-results truncate-line-clamp">Questa raccolta di piccoli monumenti, come cammini, scale, porte, finestre, soffitti ed altro, de’ principali palazzi
	d’Inghilterra è una scelta che fu diretta dal gusto del C. di Burlington. Le tavole sono 53, d’intaglio diligente.</div><a id="catalogo-note-text-toggle-532" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	                 
	                 
	                 
	
	              </section>