<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1714">
                  <span class="catalogo-item-label">1714.</span> <span class="catalogo-bibl"><span class="catalogo-author">MEURSII Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1714">Orchestra, sive de saltationibus veterum</a></span>, liber singularis, <span class="catalogo-pubPlace">Lugd. Batav.</span>
  <span class="catalogo-date">1618</span>, in 8.
  <div class="catalogo-note collapse">Operetta piena di dottrina gr. lat.</div>
  
  </span></section>