<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1134">
                  <span class="catalogo-item-label">1134.</span> <span class="catalogo-bibl"><span class="catalogo-author">BELGRADI (Jacobi)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1134">Ad virum eruditiss. Scipionem Maphejum epistolae IV de rebus physicis
    et antiquis monumentis sub retina recens inventis</a></span>, <span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1749</span>, in 8, M. 46.
    </span></section>