<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4073">
                     <span class="catalogo-item-label">4073.</span> <span class="catalogo-bibl"><span class="catalogo-author">POLIDORO Valerio</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/4073"> Le religiose memorie della chiesa di S. Antonio di Padova</a></span>,
                        <span class="catalogo-pubPlace">Venezia</span>, <span class="catalogo-date">1590</span>, presso Paolo Majetto, in 4 pic.
<div class="catalogo-note">Questo buon libro per le cognizioni in esso contenute fu intitolato a Sisto V di cui vedesi un bel ritratto in legno a
tergo del frontespizio.</div>
</span></section>