<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="9">
               <span class="catalogo-item-label">9.</span> 
               <span class="catalogo-bibl">
                 <span class="catalogo-author">BIANCONI Giovan Lodovico</span>, 
                 <span class="catalogo-title"><a class="catalog-link" href="/catalog/9">Opere varie,</a></span> 
                 <span class="catalogo-pubPlace">Milano</span> 
                 <span class="catalogo-date">1802,</span> 
                 <span class="catalogo-extent">vol. 4, in 8.</span>
               </span>
	       <div class="catalogo-note">Contengonsi in questi volumi molti preziosi opuscoli in materia d’arte, e fra questi le dotte sue lettere sui
	       monumenti in ogni genere che trovansi in Baviera.</div><div id="catalogo-note-text-9" class="catalogo-note-search-results truncate-line-clamp">Contengonsi in questi volumi molti preziosi opuscoli in materia d’arte, e fra questi le dotte sue lettere sui
	       monumenti in ogni genere che trovansi in Baviera.</div><a id="catalogo-note-text-toggle-9" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
             </section>