<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="329">
                  <span class="catalogo-item-label">329.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DE ST. IGNY Jean</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/329">élémens de portraiture ou la methode de répresenter et pourtraire toutes les
	
	                       
	                       
	
	parties du corp humain,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1630,</span>
                     <span class="catalogo-extent">in 8 fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Oltre le tavole, che spiegano le proposizioni del testo in quest’operetta, trovansi al fine dopo il privilegio
	quattordici ritratti.</div>
	
	              </section>