<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4396">
                        <span class="catalogo-item-label">4396.</span> <span class="catalogo-bibl"><span class="catalogo-author">PEZZI Jean</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4396">Vienne, et ses environs precedée d’un precis historique sur cette ville</a></span>, 4me edition revue et augmentée,
<span class="catalogo-date">1818</span>, in 16.
<div class="catalogo-note">Questo libro è fatto secondo il bisogno de’ viaggiatori, ed è utile, conciso, chiaro, sebbene le sue opinioni
tendano a lodar tutto, per rendersi accetto, con poca libertà ne’ suoi giudizj.</div></span></section>