<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3104">
                     <span class="catalogo-item-label">3104.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOSELCI Hieron.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3104">Ad Prin. Aug. Joseph archid. Austr. etc. De Aureliano lapide suo nuper luci restituto</a></span>, <span class="catalogo-pubPlace">Bononiae</span>
<span class="catalogo-date">1692</span>, in 4, M. 49.
</span></section>