<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3522">
                     <span class="catalogo-item-label">3522.</span> <span class="catalogo-bibl"><span class="catalogo-author">LEVEZOW Konrad</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3522">La famiglia di Licomede nella galleria del re di Prussia</a></span>, 
                        <span class="catalogo-pubPlace">Berlino</span> <span class="catalogo-date">1804</span>, in fol., figurato.
<div class="catalogo-note">Sono 10 tavole assai mal disegnate ed incise per l’esagerata maniera con cui sono contornate. L’estensione del
testo è in tedesco. I marmi però di queste dieci figure, sebbene non rappresentino la famiglia di Licomede, sono
il più prezioso complesso di sculture che vedasi nella Germania.</div><div id="catalogo-note-text-3522" class="catalogo-note-search-results truncate-line-clamp">Sono 10 tavole assai mal disegnate ed incise per l’esagerata maniera con cui sono contornate. L’estensione del
testo è in tedesco. I marmi però di queste dieci figure, sebbene non rappresentino la famiglia di Licomede, sono
il più prezioso complesso di sculture che vedasi nella Germania.</div><a id="catalogo-note-text-toggle-3522" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
<span class="catalogo-pb" id="page_160">160</span>
                  </span></section>