<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1545">
                     <span class="catalogo-item-label">1545.</span>
                     
	                       
                           — <span class="catalogo-title"><a class="catalog-link" href="/catalog/1545">Vedute di città assediate con molte figure ed ornamenti
	intagliate la <span class="catalogo-pb" id="page_266">266</span> più parte da Agostino Corvino sui
	disegni di Paolo Deker</a></span>.
	                          Tav. 14
                        
	
	                       
	                       
	                       
	                       
	                          
	    — Trionfi, ingressi, pompe civili e miiitari, Feste di tori in
	    Spagna, accampamenti, cavalcate, supplici, abiure, teatri,
	  prospetti e illuminazioni in molti luoghi.
	                          40 Tav.
                        
	                       
                           
                           Tav. 54
                        
                     
      Fra le quali sono rimarcabili e rare le feste di Siena e di Firenze del 1633 e 1717 e la flotta
      navale col Principe d’Orange intagliata da R. de Hooghe.
      Sono in questo volume aggiunte altre 16 carte disegnate a mano di battaglie navali Venete ec.
      </section>