<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1958">
                  <span class="catalogo-item-label">1958.</span> <span class="catalogo-bibl"><span class="catalogo-author">Simone Gabriele</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1958">Le sentenziose imprese et dialogo al Serenissimo Duca di Savoia</a></span>, in <span class="catalogo-pubPlace">Lione</span>,
    appresso Guglielmo Roviglio, <span class="catalogo-date">1560</span>, in 4, fig.
    <div class="catalogo-note">Edizione nitida e intagli eleganti in numero di 125 tavole.</div>
    
    </span></section>