<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2740">
                     <span class="catalogo-item-label">2740.</span> <span class="catalogo-bibl"><span class="catalogo-author">Bacci Andrea</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2740">Le dodici pietre preziose, che adornarono i vestimenti del Sommo Sacerdote</a></span>.
— <span class="catalogo-title"><a class="catalog-link" href="/catalog/2740">Aggiuntevi il diamante, le margherite etc. con un discorso dell’alicorno e della gran bestia detta Alce</a></span>, <span class="catalogo-pubPlace">Roma</span>
<span class="catalogo-date">1587</span>, in 4.
</span></section>