<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3702">
                     <span class="catalogo-item-label">3702.</span> <span class="catalogo-bibl"><span class="catalogo-author">DIONISIO Alicarnasseo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3702">Delle cose antiche della città di Roma tradotto in toscano per messer Francesco Venturi
fiorentino</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per Nicolò Bascharini a istanza del Tramezzino, <span class="catalogo-date">1545</span>, in 8.
<div class="catalogo-note">Bellissimo esemplare di questa edizione impressa con buoni caratteri corsivi assai nitidamente.</div>

                     
                     

                  </span></section>