<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1085">
                  <span class="catalogo-item-label">1085.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOILEAU Despreaux Nicolas</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1085">Oeuvres avec des éclarcissemens historiques donnés par lui
      même</a></span>; enrichi des figures gravées par Bernard Picard, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1729</span>, 2 vol. in fol.
      <div class="catalogo-note">Questa magnifica e completa edizione è arricchita di molte elegantissime vignette di Picard: ma il frontespizio
      dei primo volume, ove in un medaglione è anche il ritratto dell’autore, è una delle più belle tavole di questo
      intagliatore; oltre a questa sono anche le sei tavole a’ canti del Lutria, e il ritratto della regina d’Inghilterra, cui
      l’edizione è intitolata. Esemplare intonso.</div>
      
      </span></section>