<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="933">
                  <span class="catalogo-item-label">933.</span> <span class="catalogo-bibl"><span class="catalogo-author">HOWARD John</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/933">The state of the prisons in England and Wales, with preliminary observations
      and an account of some forcing prisons</a></span>, <span class="catalogo-pubPlace">Warrington</span> <span class="catalogo-date">1774</span>, in 4, fig.
      </span></section>