<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="568">
                  <span class="catalogo-item-label">568.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/568">&gt;MISCELLANEA di molte stampe d’ornamenti, di figure ec.</a></span>
                  </span>
	                 <div id="catalogo-note-text-568" class="catalogo-note truncate-line-clamp">Comincia col libro dei grotteschi di Simone Vovet intagliati da Dovigny. Poi gli ornati di Ducerrean intagliati da
	Poilly, gli ornati di Raffaello pubblicati da la Guertiere, i fregi del Mitelli; le Bar [...] de Pieret e molte statue e
	figure prese da Rafaello pubblicate da Mariette; in tutto dugento [...].</div><a id="catalogo-note-text-toggle-568" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>