<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1027">
                  <span class="catalogo-item-label">1027.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1027">MARTE e VENERE rappresentanti la Pace</a></span>, gruppo del Sig. Luigi Acquisti scultore bolognese;
      componimenti dedicati al suo merito, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1807</span>, in 8.
      <div class="catalogo-note">Questo gruppo appartiene al N. sig. Giovan Battista Soramariva mecenate delle arti e doviziosissimo possessore
      d’immense preziosità di ogni genere.</div><div id="catalogo-note-text-1027" class="catalogo-note-search-results truncate-line-clamp">Questo gruppo appartiene al N. sig. Giovan Battista Soramariva mecenate delle arti e doviziosissimo possessore
      d’immense preziosità di ogni genere.</div><a id="catalogo-note-text-toggle-1027" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>