<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="58">
                  <span class="catalogo-item-label">58.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VOSSÙ Gerardi Joannis</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/58">De quatuor artibus popularibus; de philologia et scientiis mathematicis,</a></span>
	                    <span class="catalogo-pubPlace">Amsterdam</span>
                     <span class="catalogo-date"> 1660,</span>
                     <span class="catalogo-extent"> in 4.</span>
                  </span>
	                 <div id="catalogo-note-text-58" class="catalogo-note truncate-line-clamp">Nel primo di questi tre libri sono quattro trattati di grammatica, di ginnastica, di musica e di pittura. La filologia
	  è trattata in seguito con altro frontespizio e ricominciando il numero delle pagine e lo stesso è fatto per l’ultima
	  opera intitolata de univeræ Matheseos natura et constitutione liber, cui subiungitur chronologia
	  mathematicorum. Stesso luogo ed anno.</div><a id="catalogo-note-text-toggle-58" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
               </section>