<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="139">
                  <span class="catalogo-item-label">139.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GUIDOTTI Alberto</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/139"> Metollo facile per formare qualunque siasi sorte di vernice della China e del
	  Giappone, praticato in Francia e in Inghilterra,</a></span> 
                     <span class="catalogo-pubPlace">Rimino</span> 
                     <span class="catalogo-date">1784,</span> 
                     <span class="catalogo-extent">in 8.</span>
                  </span>
	                 <div class="catalogo-note">Il meglio di questo libro è tolto da quello del Bonanni.</div>	  
	              </section>