<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3256">
                     <span class="catalogo-item-label">3256.</span> <span class="catalogo-bibl"><span class="catalogo-author">LIPSII Justi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3256">De Vesta et vestalibus sintagma, Antuerpiae, ex officina Plantiniana</a></span>, <span class="catalogo-date">1603</span>, in 4.

                     
                     
                  </span></section>