<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1869">
                  <span class="catalogo-item-label">1869.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAMERARII Joach.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1869">Symbolorum et emblematum centuriae tres</a></span>, <span class="catalogo-date">1605</span>, in 4, fig. Accedit
    noviter centuria 4 ex aquatilibus et reptilibus.
    <div class="catalogo-note collapse">Opera ricca e di bella esecuzione con 400 tavole. Esemplare della Bibl. di Malborough.</div>
    
    </span></section>