<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2940">
                     <span class="catalogo-item-label">2940.</span> <span class="catalogo-bibl"><span class="catalogo-author">NALDI Pio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2940">Delle gemme e delle regole per valutarle. Operetta ad uso dei giojellieri principianti. Si aggiungono in
fine varie notizie con disegni di alcune gemme più insigni</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1791</span>, in 8, figurato.
<div class="catalogo-note">Quest’operetta benissimo fatta istruisce rapidamente e con buon metodo sui modi di conoscere le pietre fine e
rende ragione con tavole benissimo disegnate delle principali pietre conosciute al mondo.</div>
</span></section>