<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1268">
                  <span class="catalogo-item-label">1268.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1268">ISTRUZIONE intorno alle opere de’ pittori nazionali ed esteri</a></span>, esposta in pubblico nella città di
    Milano, con qualche notizia de’ scultori e architetti. Parte Prima, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1777</span>, in 8.
    <div class="catalogo-note">Non ne fu mai pubblicato che questa prima sola parte.</div>
    
    </span></section>