<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1888">
                  <span class="catalogo-item-label">1888.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1888">EMBLEMATISCHE gedancken muster</a></span>, senza data, fig.
    <div class="catalogo-note collapse">Sono 252 emblemi morali intagliati da Cristoforo Weigel <span class="catalogo-pb" id="page_322">322</span> cui ne seguono altri 144 civili, il tutto espresso
    con intagli in rame e spiegazioni in tedesco, francese e italiano. Esemplare della bibl. Malborough.</div>
    
    </span></section>