<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4535">
                        <span class="catalogo-item-label">4535.</span> <span class="catalogo-bibl"><span class="catalogo-author">PAILLET</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4535">Catalogue d’une belle collction des desseins de troit écoles etc. le tout provenant de plusieurs cabinets
celebres</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1787</span>, in 8, coi prezzi.
</span></section>