<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3312">
                     <span class="catalogo-item-label">3312.</span> <span class="catalogo-bibl"><span class="catalogo-author">PONTEDERAE Julii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3312">Antiquitatum latinarum, graecarumque enarrationes; atque emendationes praecipuae ad veteris
anni rationem attinentes</a></span>, <span class="catalogo-pubPlace">Patavii</span> <span class="catalogo-date">1740</span>, in 4.
</span></section>