<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1020">
                  <span class="catalogo-item-label">1020.</span> <span class="catalogo-bibl"><span class="catalogo-author">GAMBARAE (Laurentii)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1020">Poemata, ubi arcis Caprarolae descriptio ec.</a></span>, <span class="catalogo-pubPlace">Antuerpie</span>, Plantin,
      <span class="catalogo-date">1569</span>, M. 75. Edizione elegante.
      </span></section>