<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="804">
                  <span class="catalogo-item-label">804.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALEAUME Ingenieur du roi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/804">La perspective speculative et pratique mise au pur par Estienne
	Migon professeur en mathematique</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1643</span>, en 4, fig.
	<div class="catalogo-note">Con 38 tavole intagliate in rame. Edizione bellissima, che meritò d’esser plagiata nel trattato del P. Dubreuil.
	Esemplare del Tuano.</div><div id="catalogo-note-text-804" class="catalogo-note-search-results truncate-line-clamp">Con 38 tavole intagliate in rame. Edizione bellissima, che meritò d’esser plagiata nel trattato del P. Dubreuil.
	Esemplare del Tuano.</div><a id="catalogo-note-text-toggle-804" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>