<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2021">
                  <span class="catalogo-item-label">2021.</span> <span class="catalogo-bibl"><span class="catalogo-author">DOINO Canarino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2021">Ritratti de’ serenissimi Principi di Este Signori di Ferrara con l’aggiunta dei
  loro fatti più memorabili ridotti in sommario dal Sig. Ant; Cartola</a></span>, dedicati al Seren. Alfonso
  IV Principe di Modena, <span class="catalogo-pubPlace">Ferrara</span>, per Francesco Suzzi <span class="catalogo-date">1641</span>, in 4, fig.
  <div class="catalogo-note">Questo libretto i dice eximiae raritatis nell’analecta letteraria <span class="catalogo-pb" id="page_346">346</span> de libris rarioribus stampata a Lipsia nel
  1750 a pag. 214. L’opera si presenta umilmente con tipi infelici, e mediocri tavole intagliate all’acqua forte. La
  progenie estense ai trova intagliata a due figure per tavola in 13 tav. cominciando da Almerico I, Marchese di
  Ferrara sino a Cesare I che cesse al Papa li stati senza difenderli, ritirandosi a Modena e facendosi cappuccino.
  La rarità consisterà forse nel testo unito alle tavole, giacché noi possediamo altri due esemplari completi di
  questa serie, ma senza il testo.</div>  
  </span></section>