<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1355">
                  <span class="catalogo-item-label">1355.</span> <span class="catalogo-bibl"><span class="catalogo-author">REGOLAMENTI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1355">Ordini e Statuti dell’Accademia del Disegno di S. Luca corretti e confermati
    sotto Clemente XI</a></span>, <span class="catalogo-pubPlace">Palestrina</span> <span class="catalogo-date">1716</span>, in 4. Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1355">Lettera di un amico ad un accademico
    di S. Luca sopra alcuni decreti di quell’accademia pubblicati contro il pittore Benefiale</a></span>,
    <span class="catalogo-pubPlace">Livorno</span> <span class="catalogo-date">1737</span>, in 4.
    </span></section>