<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="380">
                  <span class="catalogo-item-label">380.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">De ALBERTIS</span>, Bap. de Alb. poet. Laur., <span class="catalogo-title"><a class="catalog-link" href="/catalog/380">Opus preclarum in amoris remedio feliciter incipit: e in
	fine: Baptistae de Albertis poetae laureati opus in Amoris remedio utilissimum feliciter finit
	1471.</a></span>
                  </span>
	                 <div class="catalogo-note">Questi due opuscoli sono estesi in italiano, quantunque, il titolo sia espresso in latino. Questa è l’edizione
	originale dell’Hecatomphila e della Deifira in caratteri rotondi a 25 righe per pagina. Ciascuno dei due volumetti
	rilegati in ini solo conta 20 foglietti. Tanto il titolo, che il finale colla data è stampato in maiuscole. Santander
	opina che possano essere stampati questi due opuscoli a Venezia da Clemente Padovano, ch’egli denomina il
	Guttemberg dell’Italia. Vero è che sono d’un estrema rarità e preziosità. Il nostro esemplare è di prima bellezza
	in vit.</div><div id="catalogo-note-text-380" class="catalogo-note-search-results truncate-line-clamp">Questi due opuscoli sono estesi in italiano, quantunque, il titolo sia espresso in latino. Questa è l’edizione
	originale dell’Hecatomphila e della Deifira in caratteri rotondi a 25 righe per pagina. Ciascuno dei due volumetti
	rilegati in ini solo conta 20 foglietti. Tanto il titolo, che il finale colla data è stampato in maiuscole. Santander
	opina che possano essere stampati questi due opuscoli a Venezia da Clemente Padovano, ch’egli denomina il
	Guttemberg dell’Italia. Vero è che sono d’un estrema rarità e preziosità. Il nostro esemplare è di prima bellezza
	in vit.</div><a id="catalogo-note-text-toggle-380" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>