<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3669">
                     <span class="catalogo-item-label">3669.</span> <span class="catalogo-bibl"><span class="catalogo-author">Du CHOUL Guglielmo</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3669"> Discorso sopra la castramentazione, e bagni antichi dei greci, e dei romani colla figura del
campo romano, e una informazione della milizia turchesca di M. Francesco Sansovino</a></span>, <span class="catalogo-pubPlace">Vinegia</span> <span class="catalogo-date">1582</span>, presso
Altobello Salicato, in 8, fig.
<div id="catalogo-note-text-3669" class="catalogo-note truncate-line-clamp">Libretto ripieno di figure in legno, ma di un merito inferiore a quelle delle edizioni in foglio. Le tavole però della
milizia turchesca sono molto migliori, e fatte d’altra mano.</div><a id="catalogo-note-text-toggle-3669" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>