<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4274">
                        <span class="catalogo-item-label">4274.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRANDOLESE Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4274">Pitture, sculture, e architetture di Padova nuovamente descritte</a></span>, <span class="catalogo-pubPlace">Padova</span> <span class="catalogo-date">1795</span>, in 8.
<div class="catalogo-note">Questa è un’ottima guida divenuta ormai rara.</div>
</span></section>