<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="62">
                  <span class="catalogo-item-label">62.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ZANETTI Girolamo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/62">Dell’origine di alcune arti principali presso i Veneziani.</a></span> 
                     <span class="catalogo-extent">Libri due,</span> 
                     <span class="catalogo-pubPlace">Venezia</span>
	                    <span class="catalogo-date">1758,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note">Le preziose notizie sparse in questo libretto sono estratte da antiche cronache, è assegnano a’ Veneziani un
	  primato in molte pratiche che non può loro esser conteso.</div>
               </section>