<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3429">
                     <span class="catalogo-item-label">3429.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3429">PARADIGMATA graphices variorum artificum per Jo. Episcopium ex formis Nicolai Visscher cum privilegio
ordinum Hollandiae et West-Frisiae</a></span>, in fol. p.
<div class="catalogo-note">Il frontespizio istoriato è una bella acqua forte di Leonard Gaultier: comincia il volume con 57 tavole tolte da
marmi e da pitture le più insigni antiche e moderne; segue una bella scelta di 100 statue antiche. Il tutto intagliato
da Giovanni Episcopio con moltissimo gusto all’acqua forte: termina il volume con un’aggiunta di varie celebri
pitture di buoni autori intagliate da Robillard in 13 tav. In tutto il volume contiene 170 tavole di prima
freschezza.</div>
</span></section>