<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1423">
                  <span class="catalogo-item-label">1423.</span> <span class="catalogo-bibl"><span class="catalogo-author">ANDREINI Giovan Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1423">L’Adamo</a></span>. Sacra Rappresentazione di Giovan Battista Andreini
    fiorentino alla M. cristianissima di Maria de’ Medici reina di Francia dedicata. All’istanza di
    Geronimo Bordoni libraro in <span class="catalogo-pubPlace">Milano</span>, <span class="catalogo-date">1617</span>, in 4, fig.
    <div class="catalogo-note">È falso che di questo dramma sianvi due edizioni milanesi. <span class="catalogo-pb" id="page_243">243</span> Fu stampato tutto il corpo dell’edizione ad
    un tempo, cioè nel 1613, come sta nella data della dedicatoria alla quarta carta del libro. Fu poi variato il
    frontespizio e tolto dall’editore il ritratto dell’autore, che trovasi infatti negli esemplari colla data del 1613. Lo
    dichiara implicitamente ciò che è stampato sotto la prima tavola della pagina d’incontro al coro d’angeli, che
    serve di prologo al dramma. Carlo Antonio Procaccino milanese fece i disegni numerosi per questo libro, che
    vennero intagliati da Cesare Bassani, il quale pose le sue iniziali in ogni stampa. In Inghilterra questo libro
    divenne ricercatissimo, pretendendosi che in ispecie le tavole, se non bastava il testo, somministrassero molti
    luoghi al poema di Milton. Le tavole in tutte, compreso il frontespizio, sono 41.</div><div id="catalogo-note-text-1423" class="catalogo-note-search-results truncate-line-clamp">È falso che di questo dramma sianvi due edizioni milanesi. <span class="catalogo-pb" id="page_243">243</span> Fu stampato tutto il corpo dell’edizione ad
    un tempo, cioè nel 1613, come sta nella data della dedicatoria alla quarta carta del libro. Fu poi variato il
    frontespizio e tolto dall’editore il ritratto dell’autore, che trovasi infatti negli esemplari colla data del 1613. Lo
    dichiara implicitamente ciò che è stampato sotto la prima tavola della pagina d’incontro al coro d’angeli, che
    serve di prologo al dramma. Carlo Antonio Procaccino milanese fece i disegni numerosi per questo libro, che
    vennero intagliati da Cesare Bassani, il quale pose le sue iniziali in ogni stampa. In Inghilterra questo libro
    divenne ricercatissimo, pretendendosi che in ispecie le tavole, se non bastava il testo, somministrassero molti
    luoghi al poema di Milton. Le tavole in tutte, compreso il frontespizio, sono 41.</div><a id="catalogo-note-text-toggle-1423" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCXVIII
    
    </span></section>