<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2728">
                     <span class="catalogo-item-label">2728.</span> <span class="catalogo-bibl"><span class="catalogo-author">AGOSTINI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2728">Dialoghi sopra le medaglie, iscrizioni ed altre antichità, tradotti dalla lingua spagnuola nell’italiana da
Ottaviano Sada</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1736</span>, in fol., figurato.
</span></section>