<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4752">
                     <span class="catalogo-item-label">4752.</span> <span class="catalogo-bibl"><span class="catalogo-author">TRAVERSARI abbate Giuseppe Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4752">Dissertazione sull’origine dell’antica idolatria e sulla forma dei primi
simulacri</a></span>, <span class="catalogo-pubPlace">Faenza</span> <span class="catalogo-date">1788</span>, in 8.
</span></section>