<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1093">
                  <span class="catalogo-item-label">1093.</span> <span class="catalogo-bibl"><span class="catalogo-author">FLAXMAN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1093">Compositions from the tragedies of Eschylus designed by John Flaxman, engraved
      by Thomas Piroli</a></span>, tav. 30.
      — Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1093">Iliade d’Homere gravée par Thomas Piroli d’après les dessins composés par
      Jean Flaxman sculpteur à Rome</a></span>, 34 tav.
      — Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1093">Odyssée d’Homére gravée par Piroli d’après les dessins de Flaxman</a></span>, 28 tav.
      
                  
                  
      
                  <span class="catalogo-pb" id="page_194">194</span>
               </span></section>