<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3748">
                     <span class="catalogo-item-label">3748.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIOVANNOLI Alò da Civita Castellana</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3748">Roma antica</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1619</span>, in fol. obl., fig., libri III.
<div class="catalogo-note">Questi tre libri sono affatto senza testo, meno un’interpretazione delle tavole in italiano, e in latino intagliato sotto
le stesse. La prima parte contiene il frontespizio figurato, la pianta di Roma, e 33 tavole. Il secondo contiene 40
tavole, e un frontespizio istoriato, e il terzo 50 tav. con un frontespizio figurato. Le incisioni sono all’acqua forte
eseguite in una maniera tutta proprio di questo autore.</div><div id="catalogo-note-text-3748" class="catalogo-note-search-results truncate-line-clamp">Questi tre libri sono affatto senza testo, meno un’interpretazione delle tavole in italiano, e in latino intagliato sotto
le stesse. La prima parte contiene il frontespizio figurato, la pianta di Roma, e 33 tavole. Il secondo contiene 40
tavole, e un frontespizio istoriato, e il terzo 50 tav. con un frontespizio figurato. Le incisioni sono all’acqua forte
eseguite in una maniera tutta proprio di questo autore.</div><a id="catalogo-note-text-toggle-3748" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
<span class="catalogo-pb" id="page_196">196</span>
                  </span></section>