<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1686">
                  <span class="catalogo-item-label">1686.</span> <span class="catalogo-bibl"><span class="catalogo-author">LEROI Alphonse</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1686">Recherches sur les habillemens des femmes et des enfans</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1782</span>, in 12.
<div class="catalogo-note">    Questo libro riguarda particolarmente la materia sotto l’aspetto di economia pubblica e di stinte.</div>
    
    </span></section>