<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="271">
                  <span class="catalogo-item-label">271.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BORRONI Giovanni Andrea</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/271"> Delle statue,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1661</span>, <span class="catalogo-extent">in 4, fig.</span>
	                    <div id="catalogo-note-text-271" class="catalogo-note truncate-line-clamp">Sono in questo volume 12 statue disegnate da Lazaro Baldi, editore della famosa vita di San Lazaro monaco e
	pittore (Vedi fra le vite degli artisti) e intagliate da Francesco Spiere e altri buoni artisti, e una 13 tavola che
	rappresenta le due colonne Antonina e Traiana, e il frontispizio figurato di accurata e nitida esecuzione. Il testo
	dell’opera è senza critica, esteso secondo le viste di un dottor teologo, com’era questo frate e nulla più.</div><a id="catalogo-note-text-toggle-271" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>