<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3106">
                     <span class="catalogo-item-label">3106.</span> <span class="catalogo-bibl"><span class="catalogo-author">CANCELLIERI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3106">Dissertazione epistolare sopra due iscrizioni delle martiri Semplicia madre di Orsa e di
un’altra Orsa, trovate ne’ cimiteri di S. Ciriaco</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1819</span>, in 8.
Opera piena di sacra erudizione.
<span class="catalogo-pb" id="page_100">100</span>
                  </span></section>