<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="64">
                  <span class="catalogo-item-label">64.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ZANI D. Pietro</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/64"> Materiali per servire alla storia dell’origine e dei progressi dell’incisione in
	  rame, e in legno ec. ec.,</a></span> 
                     <span class="catalogo-pubPlace">Parma</span>
                     <span class="catalogo-date"> 1820,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
               </section>