<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="51">
                  <span class="catalogo-item-label">51.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ROUQUET</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/51">L’état des arts en Angleterre,</a></span> 
                     <span class="catalogo-pubPlace">Paris,</span>
                      chez Jombert,
                     <span class="catalogo-date"> 1755,</span>
                     <span class="catalogo-extent"> in 12.</span>
                  </span>
	                 <div class="catalogo-note">Opera stesa con critica sensata.</div>
               </section>