<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2935">
                     <span class="catalogo-item-label">2935.</span> <span class="catalogo-bibl"><span class="catalogo-author">MOLINET P. Claude</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2935">Le cabinet de la Bibliotheque de S. Génévieve divisé en deux parties</a></span>, 
                       <span class="catalogo-pubPlace"> Paris</span> <span class="catalogo-date">1692</span>, in fol., fig.,
carta grande.
<div class="catalogo-note">Vi sono 45 tavole oltre i due frontespizj e il ritratto dell’autore. L’importanza maggiore di questo libro deriva
dall’essere il testimonio più autentico dell’insigne abilità del Cavino contraffattore di conj antichi (detto il
Padovanino) essendo riportate e descritte le medaglie più celebri da lui imitate. Le qui citate e le altre preziosità
di quel Gabinetto di S. Genuefa, ora trovansi al Gabinetto Reale di Francia.</div>
</span></section>