<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3670">
                     <span class="catalogo-item-label">3670.</span> <span class="catalogo-bibl"><span class="catalogo-author">CIACONII Alphonsi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3670">Vitae et res gestae pontificum romanorum et cardinalium ab initio nascentis ecclesiae usque ad
Clementem IX</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1667</span>, in fol., fig., vol. IV.
<span class="catalogo-bibl">—<span class="catalogo-title"><a class="catalog-link" href="/catalog/3670"> Aggiuntevi le altre vite a Clemente X usque ad Clementem XII scriptae a Mario Guarnacci</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1751</span>, vol.
II.
<div class="catalogo-note">Quest’opera coi ritratti, e gli stemmi, e i monumenti dei pontefici, è utilissima per tutto che riguarda la storia
anche delle antichità romane. I 4 primi volumi furono impressi <span class="catalogo-pb" id="page_183">183</span> in cattiva, e con maggior negligenza degli
ultimi due più accuratamente impressi e più abbondanti di tavole, poiché oltre quelle dei pontefici trovansi anche
le imagini dei cardinali.</div><div id="catalogo-note-text-3670" class="catalogo-note-search-results truncate-line-clamp">Quest’opera coi ritratti, e gli stemmi, e i monumenti dei pontefici, è utilissima per tutto che riguarda la storia
anche delle antichità romane. I 4 primi volumi furono impressi <span class="catalogo-pb" id="page_183">183</span> in cattiva, e con maggior negligenza degli
ultimi due più accuratamente impressi e più abbondanti di tavole, poiché oltre quelle dei pontefici trovansi anche
le imagini dei cardinali.</div><a id="catalogo-note-text-toggle-3670" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a></span>
</span></section>