<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="372">
                  <span class="catalogo-item-label">372.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALBERTI Leonis Baptistae</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/372"> De re aedificatoria libri X,</a></span> 
                     <span class="catalogo-pubPlace">Argentorati</span> 
                     <span class="catalogo-date">1541,</span>
                     <span class="catalogo-extent"> in 4, par.</span>
                  </span>
	                 <div class="catalogo-note">Quest’edizione venne distinta in capitoli e ricorretta da Eberardo Tappio Lunense. Giacomo Caumerlauder
	Magontino ne fu l’editore.</div><div id="catalogo-note-text-372" class="catalogo-note-search-results truncate-line-clamp">Quest’edizione venne distinta in capitoli e ricorretta da Eberardo Tappio Lunense. Giacomo Caumerlauder
	Magontino ne fu l’editore.</div><a id="catalogo-note-text-toggle-372" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>