<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1954">
                  <span class="catalogo-item-label">1954.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCARLATTI D. Ottavio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1954">L’huomo e sue parti figurato e simbolico raccolto e spiegato con
    figure, simboli, emblemi, geroglifici</a></span>, in due libri distinto con addizioni e tavole copiosissime,
    <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1684</span>, in fol. fig.
    <div id="catalogo-note-text-1954" class="catalogo-note truncate-line-clamp">Domenico Bonavera intagliò le copiose tavole, e il frontespizio di quest’opera voluminosa di circa 800 pagine
    poco dissimile da quella del Picinelli: e della medesima mediocre importanza.</div><a id="catalogo-note-text-toggle-1954" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>