<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2389">
                  <span class="catalogo-item-label">2389.</span> <span class="catalogo-bibl"><span class="catalogo-author">VASARI Giorgio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2389">Le vite de’ più eccellenti pittori, architetti e scultori italiani da Cimabue sino
    ai tempi nostri, descritte</a></span>. Prima edizione del Torrentino. Parti tre in due volumi, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1660</span>,
    in fol. pic.<div id="catalogo-note-text-2389" class="catalogo-note truncate-line-clamp">
    Magnifico e conservatissimo esemplare con qualche rara postilla autografa del M. Scipione Maffei cui
    appartenne.</div><a id="catalogo-note-text-toggle-2389" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>