<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3671">
                     <span class="catalogo-item-label">3671.</span> <span class="catalogo-bibl"><span class="catalogo-author">CIAMPINI Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3671">Vetera monumenta, in quibus praecipue musiva opera, sacrarum, profanarumque aedium
structura, ac nonnulli antiqui ritus dissertationibus, iconibusque illustrantur</a></span>, tomi 2, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1690 ad 1699</span>, in fol.,
fig.
<div class="catalogo-note collapse">Opera piena di dottrina, ma con tavole mal eseguite in numero di 135.</div>
</span></section>