<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="300">
                  <span class="catalogo-item-label">300.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">LE BRUN</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/300"> Conference sur l’expression générale et particulière des passions enrichi de figures
	suivant l’édition d’Amsterdam de l’année 1713,</a></span> 
                     <span class="catalogo-pubPlace">Verona</span> 
                     <span class="catalogo-date">1751</span>, <span class="catalogo-extent">in 8,</span> ital. e franc. con figure.
	<div class="catalogo-note">La traduzione è di Pier Antonio Perotti pittor veronese, dedicata al pittore conte Pietro Rottario.</div><div id="catalogo-note-text-300" class="catalogo-note-search-results truncate-line-clamp">La traduzione è di Pier Antonio Perotti pittor veronese, dedicata al pittore conte Pietro Rottario.</div><a id="catalogo-note-text-toggle-300" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 </span>
	              </section>