<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2650">
                     <span class="catalogo-item-label">2650.</span> <span class="catalogo-bibl"><span class="catalogo-author">BELLINO Gentile</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2650">Columna theodosiana quam vulgo historiatam vocant ab Arcadio imperatore Costantinopoli
erecta in XVIII tab. distributa cum <span class="catalogo-pb" id="page_27">27</span> explicationibus Claudii Francisci Menetreii S.</a></span> I in fol. <div class="catalogo-note collapse">Vedasi
all’articolo Menetreii fra le Antichità Romane.</div>
</span></section>