<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1574">
                  <span class="catalogo-item-label">1574.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARTOLINI Gasp. Thomae fil.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1574">De tibiis veterum</a></span>, <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1679</span>, in 12, fig.
    <div class="catalogo-note collapse">Col ritratto dell’autore e numero di nitidissime tavole ai luoghi voluti nel testo.</div>
    
    </span></section>