<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1946">
                  <span class="catalogo-item-label">1946.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROLLI Giuseppe bolognese</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1946">Collezione di 80 tavole emblematiche relative all’ Ave Maria</a></span> in
    8.
    <div class="catalogo-note collapse">Fioriva questo intagliatore alla metà del XVII secolo e inventò ed incise egli stesso questi emblemi in una varietà
    infinita di cartelle.</div>
    
    </span></section>