<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2183">
                  <span class="catalogo-item-label">2183.</span> <span class="catalogo-bibl"><span class="catalogo-author">AFFÒ Ireneo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2183">Vita di M. Bernardino Baldi da Urbino primo Ab. di Guastalla</a></span>, <span class="catalogo-pubPlace">Parma</span> <span class="catalogo-date">1783</span>, in
    8.
    <div class="catalogo-note collapse">L’autore che amò passionatamente le arti scrisse la vita di questo abate guastallese conoscitore di questi studi e
    dei più profondi che in quelli fossero versati nel XVI secolo.</div>
    
    </span></section>