<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="465">
                  <span class="catalogo-item-label">465.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CATANEO Pietro</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/465">I quattro primi libri d’architettura, Venezia, in casa de’ figliuoli di Aldo,</a></span>
	                    <span class="catalogo-date">1554,</span>
                     <span class="catalogo-extent"> in f. fig.</span>
                  </span>
	              </section>