<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="991">
                  <span class="catalogo-item-label">991.</span> <span class="catalogo-bibl"><span class="catalogo-author">LESCALIER Antoine</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/991">Poéme sur la peinture en sept chants</a></span>, <span class="catalogo-pubPlace">Londres</span> <span class="catalogo-date">1778</span>, in 4.
      <div class="catalogo-note collapse">Di mano del celebre letterato ed artista Giuseppe Bossi cui appartenne il volume sta scritto: Strani errori a iosa,
      sì nel testo come nelle note, sì di fatta come di giudizio.</div>
      
      </span></section>