<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1382">
                  <span class="catalogo-item-label">1382.</span> <span class="catalogo-bibl"><span class="catalogo-author">TASSOLO Domenico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1382">Trionfi, feste e livree</a></span>, fatte dai conservatori e popolo romano e da tutte
    le arti di Roma nell’entrata del Sig. Marc’Antonio Colonna, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1671</span>, in 6.
    <div class="catalogo-note collapse">Non sono che otto pagine contenenti una lettera elegantissima scritta da Roma al molto Magnifico Messer
    Annibale da Domenico Tassolo e Baldassare Mariotti.</div>
    MDLXXIV
    
    </span></section>