<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2998">
                     <span class="catalogo-item-label">2998.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCOTTI Vincenzo Natale</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2998">Breve metodo per distinguere facilmente la rarità delle medaglie antiche di tutti i
metalli</a></span>, <span class="catalogo-date">1803</span> <span class="catalogo-pubPlace">Pisa</span>, in 8, M. 71.
<div class="catalogo-note collapse">L’elenco delle medaglie è esposto con segnali progressivi dalla minima alla massima loro rarità.</div>
<span class="catalogo-pb" id="page_83">83</span>
                  </span></section>