<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4483">
                        <span class="catalogo-item-label">4483.</span> <span class="catalogo-bibl"><span class="catalogo-author">BASAN et Joullain</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4483">Catalogue de differentes curiosités dans les sciences, et arts du Cabinet de M. de Menard</a></span>,
<span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1781</span>, in 8, coi prezzi.
</span></section>