<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3774">
                     <span class="catalogo-item-label">3774.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARANGONI Giovanni</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3774">Delle memorie sacre, e profane dell’anfiteatro Flavio, volgarmente detto il Colosseo</a></span>,
                        <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1746</span>, in 4, fig.</span>
<div class="catalogo-note">Lavoro pieno di erudizione specialmente sacra con un gran medaglione intagliato in legno nel frontespizio.</div>
		  </section>