<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2229">
                  <span class="catalogo-item-label">2229.</span> <span class="catalogo-bibl"><span class="catalogo-author">CASALI Gregorio Marchese</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2229">In morte dell’insigne letterato Francesco M. Zanotti</a></span>, in 4, fig.
    <div class="catalogo-note collapse">Con un medaglione in fine che presenta il ritratto di Fran. M. Zanotti.</div>
    
    </span></section>