<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1716">
                  <span class="catalogo-item-label">1716.</span> <span class="catalogo-bibl"><span class="catalogo-author">MITELLI Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1716">Le ventiquattr’ore dell’humana felicità. Conservate all’Em. P. Card.
  Nicola Conti</a></span>, invenzione, disegno, ed intaglio di Gius. M. Mitellì Pittore Bolognese <span class="catalogo-date">1675</span>.
  <div id="catalogo-note-text-1716" class="catalogo-note truncate-line-clamp">Sono 28 tavole con versi intagliati al basso di ciascuna piene di gusto pittoresco: sono in questo volume aggiunte
  altre 65 tavole di mode e costumanze in caricatura, con dichiarazioni in Francese e in Tedesco pubblicate da Jo.
  Mart. Will. in Augusta: ma non hanno altro merito che il conservare una memoria del barbaro gusto della metà
  del secolo scorso, senza alcuna grazia di esecuzione.</div><a id="catalogo-note-text-toggle-1716" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>