<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1748">
                  <span class="catalogo-item-label">1748.</span> <span class="catalogo-bibl"><span class="catalogo-author">PASSEROTTI Aurelio</span>, Pittore bolognese, dissegnatore e miniatore figlio di Bartolommeo
  Passerotti circa al 1560 (Vedasi Malvasia e Abec. Pit.), <span class="catalogo-title"><a class="catalog-link" href="/catalog/1748">Libro primo di lavorieri alle molto
  illustri et virtuosissi <span class="catalogo-pb" id="page_301">301</span> me gentildonne bolognesi. Libro secondo alla molto magnifica et
  virtuosissima signora ...</a></span>, in fol. obl.
  <div id="catalogo-note-text-1748" class="catalogo-note truncate-line-clamp">Questo è un libretto di disegni vari di ricami con stemmi ed allegorie disegnato a penna, preceduto da’ citati due
  frontespizi con lettere dedicatorie, alle quali va innanzi un primo frontespizio miniato riccamente ove è una
  Devise con un girasole, e in una targa: non san questi occhi miei volgersi altrove. Sono carte 67 in tutto,
  comprese le due dedicatorie e il frontespizio. Vedi agli articoli Bellezze, Vinciolo, Vavassore.</div><a id="catalogo-note-text-toggle-1748" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>