<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1991">
                  <span class="catalogo-item-label">1991.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1991">NUOVA BIBLIA figurata, Ossia moderne o nuove figure della Biblia del vecchio e del nuovo
    Testamento, disposte e ordinate dall’eccellente e ingegnosissimo Gio. Bockspergen il giovine
    di Salisburgo e disegnate con particolare attenzione dai tanto sperimentato Joss. Amman di
    Zurigo, opera servibile e necessaria ai professori di pittura, oreficeria, incisione, scultura e
    tarsia, </a></span> stampata a <span class="catalogo-pubPlace">Franfort sul Meno </span> l’anno <span class="catalogo-date">1564</span>, in 4, pic obl. in tedesco.
 <div class="catalogo-note">   Prima e preziosa edizione conservatissima. Cento e trentatrè sono le tavole intagliate in legno, comprese due che
    nel libro dei re sono di tripla grandezza ed un’altra consimile nel libro dell’Esodo. Le tavole sono a tergo l’una
    dell’altra nei medesimi foglietti e non tutte, come il dimostrano le diverse marche, sono di quel J. Amanno
    Tigurino sopra-detto.
    Dopo il titolo, e prima delle tavole, è la dedica che ai 18 agosto Sigismondo Feyrabend fece di questo libro al
    rinomatissima intagliatore Melchior Lorick di Flensburg, a cui seguono alcuni versi tedeschi. Alcune
    illustrazioni di questa Biblia ne danno diversi autori, ma da ultimo il Zani nella 1 parte del suo volume secondo
    dell’Enciclopedia metodica di B. Arti ne parla con diffusione.
 </div>   
    </span></section>