<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3069">
                     <span class="catalogo-item-label">3069.</span> <span class="catalogo-bibl"><span class="catalogo-author">WACHTERI Georgii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3069">Archeologia nummaria continens praecognita nobilissimae artis, quae nummos antiquos
interpretatur</a></span>, <span class="catalogo-pubPlace">Lipsiae</span> <span class="catalogo-date">1740</span>, in 4, fig., M. 12.
<div class="catalogo-note">Accurata edizione pei tipi non meno che per l’incisione dei rami delle medaglie stampate fra il testo.</div>
</span></section>