<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1617">
                  <span class="catalogo-item-label">1617.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARYOPHILI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1617">De veterum Clypeis opusculum</a></span>, <span class="catalogo-pubPlace">Lugduni Batavorum</span> <span class="catalogo-date">1761</span>, in 4, fig.
    <div id="catalogo-note-text-1617" class="catalogo-note truncate-line-clamp">Opera benissimo stampata ed ornata di numerose medaglie e monumenti sparsi fra il testo, oltre tre grandi tavole,

                  
                  
    l’una in principio e due al fine del volume. La materia vi è dottamente esaurita.</div><a id="catalogo-note-text-toggle-1617" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>