<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4735">
                     <span class="catalogo-item-label">4735.</span> <span class="catalogo-bibl"><span class="catalogo-author">PALEOTTI cardinale e vescovo di Bologna</span>, La stessa opera tradotta in latino, <span class="catalogo-pubPlace">Ingolstadii</span> <span class="catalogo-date">1594</span>, in 4.
<div class="catalogo-note collapse">In fine dell’edizione originale è indicato che gli altri tre libri si daranno poi fuori a suo tempo, quantunque si
pubblichi in questo volume non tanto nell’italiano, che nella versione latina l’indice dei capitoli di quei libri che
non vennero poi mai pubblicati. Opera di un teologo rigorista.</div>
</span></section>