<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3183">
                     <span class="catalogo-item-label">3183.</span> <span class="catalogo-bibl"><span class="catalogo-author">BONARDO Vincenzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3183">Discorso intorno all’origine, antichità ec. della Benedizione Pontificale degli Agnusdei</a></span>,
<span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1621</span>, in 8, M 75.
</span></section>