<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1190">
                  <span class="catalogo-item-label">1190.</span> <span class="catalogo-bibl"><span class="catalogo-author">MUTI Papazzurri Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1190">Lettera su di un’antica terracotta trovata in Palestrina</a></span>, <span class="catalogo-pubPlace">Roma</span>
    <span class="catalogo-date">1794</span>, in 4, fig.
    <div id="catalogo-note-text-1190" class="catalogo-note truncate-line-clamp">Con una tavola grande al fine.</div><a id="catalogo-note-text-toggle-1190" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>