<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3482">
                     <span class="catalogo-item-label">3482.</span> <span class="catalogo-bibl"><span class="catalogo-author">Becker Guillaume Gottlieb</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3482">Augusteum ou description des monumens antiques qui se trouvent à Dresde</a></span>, <span class="catalogo-pubPlace">Leipzig</span>
<span class="catalogo-date">1804</span>, vol. 3, in fol., fig.
<div class="catalogo-note collapse">Opera eseguita con precisione e con ricca eleganza. Vedi Recueil.</div>
<span class="catalogo-pb" id="page_154">154</span>
                  </span></section>