<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1677">
                  <span class="catalogo-item-label">1677.</span> <span class="catalogo-bibl"><span class="catalogo-author">INVERNIZI Philippi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1677">De Fraenis eorumque generibus et partibus apud veteres</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1786</span>, in
    8, fig. M. 62.
<div class="catalogo-note">    Con due tavole intagliate in rame e alcune medaglie.</div><div id="catalogo-note-text-1677" class="catalogo-note-search-results truncate-line-clamp">    Con due tavole intagliate in rame e alcune medaglie.</div><a id="catalogo-note-text-toggle-1677" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>