<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2564">
                     <span class="catalogo-item-label">2564.</span> <span class="catalogo-bibl"><span class="catalogo-author">CIAMMARUCONE Setino</span> dottore di legge, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2564">Descrizione della città di Sezza, colonia latina di romani</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1641</span>, in
4.
<div class="catalogo-note">Elegante libretto citato dall’Haim fra libri rari.</div>
<span class="catalogo-pb" id="page_16">16</span>
                     
                     
                     
                  </span></section>