<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="434">
                  <span class="catalogo-item-label">434.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BLONDEL François</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/434">Cours d’architecture enseigné dans l’Accademie Royale d’Architecture,</a></span>
	                    <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1698,</span>
                     <span class="catalogo-extent"> in fol., 2 vol. fig. Seconde édition augmentée et corrigée.</span>
	                    <div class="catalogo-note collapse">Opera assai ben immaginata ed eseguita, ove sono instituiti sulle tavole intagliate i confronti delle varie
	proporzioni e dottrine di Vitruvio, Vignola, Palladio e Scamozzi e Serlio e Barbaro, e Filandro. Opera dotta e
	superiormente bene disegnata e stampata con gran numero di tavole in rame riportate fra il testo. Esemplare
	magnifico in mar. dor.</div>
                  </span>
	
	              </section>