<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3021">
                     <span class="catalogo-item-label">3021.</span> <span class="catalogo-bibl"><span class="catalogo-author">STREINNIO Richardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3021">Gentium et familiarum romanarum stemmata</a></span>, <span class="catalogo-date">1559</span>, in fol., excudebat Henricus Stephanus,
senza luogo.
<div class="catalogo-note">Edizione estremamente accurata per la forma dei tipi. Quest’opera cronologica è eseguita con tutta la chiarezza e
l’eleganza possibile.</div>

                     
                     
                  </span></section>