<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3755">
                     <span class="catalogo-item-label">3755.</span> <span class="catalogo-bibl"><span class="catalogo-author">HIRT Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3755">Osservazioni istorico-architettoniche sopra il Pantheon</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1791</span>, in 4, fig.
<div class="catalogo-note">Con 3 tavole in rame.</div>
</span></section>