<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1993">
                  <span class="catalogo-item-label">1993.</span> <span class="catalogo-bibl"><span class="catalogo-author">DE BIE Jacques</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1993">Les vrais portraits des rois de France augmentés de nouveaux portraits et des
  vies des rois par de Costes</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1689</span>, in fol. pic. figurato.<div class="catalogo-note">
  Giunge quest’opera a Luigi XIII al quale è intitolata. Le tavole sono appena mediocri.</div>
  
  </span></section>