<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4746">
                     <span class="catalogo-item-label">4746.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCHEDII Eliae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4746">De Diis germanis, sive veteris germanorum, gallorum, britannorum, vandalorum religione</a></span>,
<span class="catalogo-pubPlace">Amstelodami</span>, Elzevir, <span class="catalogo-date">1648</span>, in 8.
<div class="catalogo-note collapse">Opera dottissima e preziosa: alla qual edizione però vien preferita la posteriore del 1728 per i commenti di cui è
illustrata.</div>
</span></section>