<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1204">
                  <span class="catalogo-item-label">1204.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROSSI Giovan Galeazzo Cav. bolognese</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1204">Lettera al Sig. Giovanni Carga sopra la Villa di
    Tusculano, di Mons. Giovan Battista Campeggio Vescovo di Maiorica</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1571</span>, in 4
    pic.
    — Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1204">Campegii Joan. Baptistae Maioricensis Episcopi: De Tusculana Villa sua</a></span>,
    <span class="catalogo-pubPlace">Bononiae</span> <span class="catalogo-date">1571</span>.

                  
                  
    <div class="catalogo-note collapse">Questo Tosculano è lontano tre miglia da Bologna, villa così nominata dal prelato per fare allusione all’antica
    villa di Cicerone.</div>
    
    </span></section>