<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1065">
                  <span class="catalogo-item-label">1065.</span> <span class="catalogo-bibl"><span class="catalogo-author">NATTAE Marci Antonii Astensis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1065">De pulcro libri sex</a></span> <span class="catalogo-pb" id="page_189">189</span>, <span class="catalogo-pubPlace">Paviae</span>, apud Franciscum Moschenium,
      <span class="catalogo-date">1553</span>, in fol. parv.
      <div class="catalogo-note">L’opera è intitolata al card. Ercole Gonzaga. L’autore s’ingolfa con una diffusione estrema nelle metafisiche le
      più astruse con poca chiarezza e non fa cenno che 20 anni prima di lui erano apparsi ai pubblico gli scritti di
      Agostino Nifo sullo stesso argomento.</div>
      
      </span></section>