<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1413">
                  <span class="catalogo-item-label">1413.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIRARDI Giul.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1413">Esequie di Arrigo IV cristianissimo re di Francia e Navarra celebrate in
    Firenze dal Serenissimo D. Cosimo II, Gran Duca di Toscana</a></span> descritte da Giuliano Girardi,
    <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1610</span>, per Bartolomnieo Sermartelli, in fol. fig.
    <div class="catalogo-note collapse">Le 36 tavole in rame rappresentano altrettanti fatti storici allusivi a Enrico IV. con la marca A. R.</div>
    MDCXI
    
    </span></section>