<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1473">
                  <span class="catalogo-item-label">1473.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1473">DISEGNO della mascherata fatta in Lodi</a></span>, il carnevale del <span class="catalogo-date">1680</span> per le nozze di Carlo II re di
    Spagna, <span class="catalogo-pubPlace">Milano</span>, in 8, fig.
    <div class="catalogo-note collapse">Vi sono undici stampe disegnate ed incise da Filippo Biffi con poca fortuna.</div>
    MDCLXXX
    
    </span></section>