<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1403">
                  <span class="catalogo-item-label">1403.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1403">LA FELICISSIMA ENTRATA della Sereniss. Regina di Spagna Donna Margarita d’Austria nella
    città di Ferrara nel 1598 avuta dal Cav. Reale</a></span>, in <span class="catalogo-pubPlace">Ferrara e in Bologna</span> <span class="catalogo-date">1698</span>, in 4.
    <div class="catalogo-note">Sono due foglietti di stampa.</div><div id="catalogo-note-text-1403" class="catalogo-note-search-results truncate-line-clamp">Sono due foglietti di stampa.</div><a id="catalogo-note-text-toggle-1403" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDXCVIII
    
    </span></section>