<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4769">
                     <span class="catalogo-item-label">4769.</span> <span class="catalogo-bibl"><span class="catalogo-author">CORDERO Sanquintino Giulio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4769">Della Zecca e degli antichi marchesi della Toscana edizione seconda emendata</a></span>,
<span class="catalogo-pubPlace">Pisa</span> <span class="catalogo-date">1821</span>, in 8.
<div class="catalogo-note collapse">In quest’operetta dottissima si fanno importanti osservazioni sull’opera del signor Menizzi intorno la Zecca e le
monete veneziane.</div>
</span></section>