<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3716">
                     <span class="catalogo-item-label">3716.</span> <span class="catalogo-bibl"><span class="catalogo-author">FENESTELLA Jo. Dom. Fiocchus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3716">De romanorum magistratibus, sine loco et anno</a></span>, in 8.
<div id="catalogo-note-text-3716" class="catalogo-note truncate-line-clamp">Questa bellissima edizione del XV secolo, in caratteri nitidi rotondi, e in ottima carta, non può asserirsi se preceda
o segua l’altra di Milano del 1477 non essendovi traccia per giudicarlo. Circa al nome di questo scrittore, noi
crediamo di tenerci a quanto riferiscono il Biondo, e il Fabrizio, che lo chiamano Gio. Domenico, piuttosto che ad
altri più moderni che il dicono Andrea. Il segretario di Eugenio IV di questo casato, morì nel 1452 canonico nel
duomo di Firenze.</div><a id="catalogo-note-text-toggle-3716" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>