<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1433">
                  <span class="catalogo-item-label">1433.</span> <span class="catalogo-bibl"><span class="catalogo-author">PISTOFILO Bonaventura</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1433">Il Torneo</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1627</span>, in 4, fig.
    <div id="catalogo-note-text-1433" class="catalogo-note truncate-line-clamp">Nei due primi libri di quest’opera non sono figure, ma se ne trovano 117 nel terzo libro ragionevolmente
    eseguite; ol <span class="catalogo-pb" id="page_245">245</span>tre il frontespizio e il ritratto dell’autore. Leggesi nel frontespizio Coriolanus Pictor et
    Theatri Palladis professor fecit.</div><a id="catalogo-note-text-toggle-1433" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCXXVIII
    
    </span></section>