<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2258">
                  <span class="catalogo-item-label">2258.</span> <span class="catalogo-bibl"><span class="catalogo-author">DE’ DOMINICI Bernardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2258">Vite de’ pittori, scultori e architetti napoletani</a></span>, volumi 3, <span class="catalogo-pubPlace">Napoli</span>
    <span class="catalogo-date">1742</span>, in 4.
    <div class="catalogo-note">Opera vastissima arricchita di notizie più che ogni altra opera di questo genere e fra molte inutilità non priva
    però di storiche cognizioni, esposte con debole critica.</div>
    
    </span></section>