<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2195">
                  <span class="catalogo-item-label">2195.</span> <span class="catalogo-bibl"><span class="catalogo-author">BALDINDCCI Filippo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2195">Notizie dei professori del disegno da Cimabue in qua, distinte in secoli
    e decennali</a></span>, <span class="catalogo-pubPlace">Firenze</span> dal <span class="catalogo-date">1681 al 1728</span>, in 4, legata in 3 volumi.
    <div class="catalogo-note">Prima e pregiatissima edizione delle memorie dell’arte che <span class="catalogo-pb" id="page_378">378</span> dopo il Vasari meritavano di ottenere il
    pieno volo della posterità.
    La prima parte dell’opera si pubblicò nel 1681 per Santi Franchi e in principio avanti le approvazioni per la
    stampa osservasi il rarissimo privilegio di Carlo il Re di Spagna colle armi, che manca in moltissimi esemplari: e
    questa parte forma il secolo I. Il secondo dal 1300 al 1400 fu stampato da Pietro Marini nel 1686. Il secolo terzo
    e quarto dal 1400 al 1550 distinto sempre in decennali, è opera postuma stampata per Tarlini e Franchi nel 1728
    col ritratto del Baldinucci intagliato da Pietro Rotari veronese. La seconda parte del secolo 4 contiene tre
    decennali dal 1550 al 1580 nella sudetta stamperia di Pietro Marini 1688; e altri tre decennali dal 1580 al 1610 li
    stampò Giuseppe Manni nel 1702; il secolo quinto finalmente dal 1610 al 1670 stampato pei Tartini e Franchi
    comparve nel 1728.</div>

                  
                  
    
               </span></section>