<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2154">
                  <span class="catalogo-item-label">2154.</span> <span class="catalogo-bibl"><span class="catalogo-author">CORNEILLE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2154">Dictionnaire universel des termes des arts et des sciences de M. D. Corneille de
    l’Académie Française; novelle édition, vue, corrigée et augmentée par M. ****</a></span>, <span class="catalogo-date">1731</span>, in fol.
    vol. 2.
    </span></section>