<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1009">
                  <span class="catalogo-item-label">1009.</span> <span class="catalogo-bibl"><span class="catalogo-author">BONARROTI Michelangelo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1009">Rime raccolte da Michelangelo suo nipote</a></span>, <span class="catalogo-pubPlace">Firenze</span>, presso i
      Giunti, <span class="catalogo-date">1623</span>, in 4, piccolo.
      </span></section>