<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4399">
                        <span class="catalogo-item-label">4399.</span> <span class="catalogo-bibl"><span class="catalogo-author">LANDO Ortensio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4399">Sette libri de’ cataloghi a varie cose appartenenti non solo antiche, ma anche moderne, opera
molto utile all’historia, et da cui prender si può materia di favellare d’ogni proposito che ci occorra</a></span>, <span class="catalogo-pubPlace">Vinegia</span>,
presso Gabriel Giolito, <span class="catalogo-date">1552</span>, in 8.
<div class="catalogo-note">Libro di non comune interesse e ripieno di curiose notizie. Questo è composto da Ortensio Lando; e parlando in
alcuni di questi cataloghi degli uomini a’ suoi tempi chiari per dottrina, non manca di parlar di se stesso.</div></span></section>