<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1174">
                  <span class="catalogo-item-label">1174.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1174">LETTERA di un architetto di S. Luca di Roma al Sig. G. G. de’ Rossi in occasione delle
    esequie e apparato pel Re Lodovico I, celebrate in Firenze li 30 Luglio <span class="catalogo-date">1803</span></a></span>, in 8, fig., M. 31
    e 46.
    <div id="catalogo-note-text-1174" class="catalogo-note truncate-line-clamp">Con una tavola avanti il frontespizio.</div><a id="catalogo-note-text-toggle-1174" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>