<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1468">
                  <span class="catalogo-item-label">1468.</span> <span class="catalogo-bibl"><span class="catalogo-author">PERRAULT Car.</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/1468">Festiva ad capita annulumque decursio a Rege Ludovico XIV principibus</a></span>,
    summisque aulae proceribus, edita an. 1662 scripsit Gallice Carolus Perrault; latine reddidit,

                  
                  
    
    et versibus heroicis expressit Spiritus Flechier, <span class="catalogo-pubPlace">Paris</span>, e Tipographia Regia, <span class="catalogo-date">1670</span>, in fol. fig.
    <div class="catalogo-note">Edizione splendidissima con numerose tavole in rame di cavalli, divise, rappresentazioni, leg. in mar. dor. colle
    armi reali.</div>
    MDCLXXI
    
    </span></section>