<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1952">
                  <span class="catalogo-item-label">1952.</span> <span class="catalogo-bibl"><span class="catalogo-author">SAMBUCI Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1952">Emblemata cum aliquot nummis antiqui operis</a></span>, <span class="catalogo-pubPlace">Antuerpiae</span>, ex officina
    Plantiniana, <span class="catalogo-date">1664</span>, in 8, fig.
    <div class="catalogo-note collapse">Con intagli in legno eleganti: oltre il frontespizio intaglia <span class="catalogo-pb" id="page_331">331</span>to e il ritratto dell’autore sono 163 bellissime
    tavole e quattro carte al fine piene di medaglioni.</div>
    
    </span></section>