<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1691">
                  <span class="catalogo-item-label">1691.</span> <span class="catalogo-bibl"><span class="catalogo-author">LIPSII Justi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1691">Saturnalium sermonum lib. duo, qui de gladiatoribus, noviter corredi, aucti et
    formis aeneis illustrati</a></span>, <span class="catalogo-pubPlace">Ant., Plant</span>, <span class="catalogo-date">1685</span>, in 4.
    <div class="catalogo-note">In questa edizione sono sedici tavole intagliate in rame e in fine è aggiunta Justi Lipsii Satira Menippeea
    Somnium Lusus in nostri aevi Criticos.
    </div><div id="catalogo-note-text-1691" class="catalogo-note-search-results truncate-line-clamp">In questa edizione sono sedici tavole intagliate in rame e in fine è aggiunta Justi Lipsii Satira Menippeea
    Somnium Lusus in nostri aevi Criticos.
    </div><a id="catalogo-note-text-toggle-1691" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>