<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="824">
          <span class="catalogo-item-label">824.</span> 	<span class="catalogo-bibl"><span class="catalogo-author">CANTUARIENSIS Archiepiscopi Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/824">Perspectiva</a></span>, communis per L. Gauricum
	Neapoletanum emendata, <span class="catalogo-pubPlace">Venetiis</span>, per Joan. Baptistam Sessam, <span class="catalogo-date">1504</span>, in fol. fig.
	<div id="catalogo-note-text-824" class="catalogo-note truncate-line-clamp">Fu il libro intitolato dal Gaurico al patrizio veneto Paulo. Le figure in legno sono impresse sui margini: e il libro
	non ti alta che dell’obiettiva e delle riflessioni dei raggi secondo i principi dell’ottica di quell’età.</div><a id="catalogo-note-text-toggle-824" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>