<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2383">
                  <span class="catalogo-item-label">2383.</span> <span class="catalogo-bibl"><span class="catalogo-author">UGHI Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2383">Dizionario storico degli uomini illustri ferraresi, (ove è parlato anche degli
    artisti)</a></span>, <span class="catalogo-pubPlace">Ferrara</span> <span class="catalogo-date">1814</span>, in 8.

                  
                  <div class="catalogo-note collapse">
    Due tomi in un sol volume, che non onorano la patria di tanti uomini insigni in ogni ramo di arti e di lettere.
    </div>
    </span></section>