<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3436">
                     <span class="catalogo-item-label">3436.</span> <span class="catalogo-bibl"><span class="catalogo-author">PIROLI Tommaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3436">Le sei storie dipinte nella Cappella Brancacci al Carmine in Firenze da Masaccio</a></span>, intagliate in
fol., M. 90.
<div class="catalogo-note">Queste sei tavole intagliate in rame e ombreggiate con una specie di sfumatura rossa non rendono un’idea della
purità di stile di quel sommo maestro. Vedi tra le Vite, Masaccio.</div><div id="catalogo-note-text-3436" class="catalogo-note-search-results truncate-line-clamp">Queste sei tavole intagliate in rame e ombreggiate con una specie di sfumatura rossa non rendono un’idea della
purità di stile di quel sommo maestro. Vedi tra le Vite, Masaccio.</div><a id="catalogo-note-text-toggle-3436" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>