<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1025">
                  <span class="catalogo-item-label">1025.</span> <span class="catalogo-bibl"><span class="catalogo-author">MANDRISIO Nicolò</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1025">Viaggi per l’Italia, Francia e Germania descritti in versi con annotazioni
      copiose</a></span>: tomi 2, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1718</span>, in 8.
      — Aggiunto in fine al primo tomo <span class="catalogo-title"><a class="catalog-link" href="/catalog/1025">un’orazione dello stesso in rendimento di grazie per una
      sontuosa biblioteca aperta in Udine al pubblico da Dionigio Delfino Patriarca d’Aquileia</a></span>,
      <span class="catalogo-date">1718</span>.
      
                  
                  
      
               </span></section>