<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2808">
                     <span class="catalogo-item-label">2808.</span> <span class="catalogo-bibl"><span class="catalogo-author">CHIFLETII Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2808">Socrates, sive de gemmis, ejus imagine coelatis, judicium</a></span>, <span class="catalogo-pubPlace">Bruxelles</span> <span class="catalogo-date">1661</span>, in 4, figurato.
<div id="catalogo-note-text-2808" class="catalogo-note truncate-line-clamp">Questa memoria è stampata con lusso ed eleganza di tipi e di stampe, trovandosi in sei bellissime tavole 24
gemme intagliate e ridotte a grandezza uniforme tutte le immagini e i soggetti relativi a questo filosofo colle
rispettive illustrazioni. Ma questo autore si abbandonò soverchiamente all’imaginazione e vide Socrate anche
dove non era, sebbene cerchi raffigurarlo con molto ingegno ed erudizione.</div><a id="catalogo-note-text-toggle-2808" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>