<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4163">
                        <span class="catalogo-item-label">4163.</span> <span class="catalogo-bibl"><span class="catalogo-author">ORSINI Baldassare</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/4163"> Descrizione delle pitture, sculture, e architetture dell’insigne città di Ascoli</a></span>,
                           <span class="catalogo-pubPlace">Perugia</span> <span class="catalogo-date">1790</span>, in
8, fig.
<div class="catalogo-note">Prolisso, e con molte cattive tavole.</div></span></section>