<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="980">
                  <span class="catalogo-item-label">980.</span> <span class="catalogo-bibl"><span class="catalogo-author">CHIUSOLE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/980">Componimenti poetici sopra la pittura trionfante</a></span>, <span class="catalogo-pubPlace">Siena</span> <span class="catalogo-date">1731</span>.
      <div id="catalogo-note-text-980" class="catalogo-note truncate-line-clamp">Opera giovanile dell’autore, che apparisce esserti trovato allora nel Collegio di Siena.</div><a id="catalogo-note-text-toggle-980" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>