<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2287">
                  <span class="catalogo-item-label">2287.</span> <span class="catalogo-bibl"><span class="catalogo-author">HOLLARD Venceslaus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2287">A description of the ingenious delineator, and engraver with some
    account of his lite</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1745</span>, in 4.
    <div class="catalogo-note">Col ritratto di Hollard nel frontespizio ed alcune vignette col prospetto di Londra e quello di Praga, patria di
    questo valente intagliatore. Abbiamo posto tra i biografi questo libro poiché contiene tutte le notizie le più
    singolari di un tant’’uomo.</div><div id="catalogo-note-text-2287" class="catalogo-note-search-results truncate-line-clamp">Col ritratto di Hollard nel frontespizio ed alcune vignette col prospetto di Londra e quello di Praga, patria di
    questo valente intagliatore. Abbiamo posto tra i biografi questo libro poiché contiene tutte le notizie le più
    singolari di un tant’’uomo.</div><a id="catalogo-note-text-toggle-2287" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>