<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="526">
                  <span class="catalogo-item-label">526.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">GUARINI Padre D. Guarino</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/526">Architettura civile, opera postuma dedicata a S. R. Maestà,</a></span> 
                     <span class="catalogo-pubPlace">Torino</span>
	                    <span class="catalogo-date">1737,</span> 
                     <span class="catalogo-extent">vol. 2 in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Opera divisa in cinque trattati dell’architettura in generale: dell’iconografìa, dell’ortografia elevata,
	dell’ortografia gettata, della geodesia. Il primo volume è consacrato al testo, il secondo alle tavole che sono il
	risultato il più strano d’un imaginazione sregolata e priva di retto senso e di ogni sorta di gusto.</div>
	
	              </section>