<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3019">
                     <span class="catalogo-item-label">3019.</span> <span class="catalogo-bibl"><span class="catalogo-author">STRADAE Jacobi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3019">Imperatorum romanorum omnium orientalium et occidentalium verissimae imagines ex antiquis
numismatis quam fidelissimae <span class="catalogo-pb" id="page_87">87</span> delineatae addita descriptione ex thesauro I. Stradae et perbrevi elogio
uniuscujusque carmine, quod quasi epitome est historiae ad juvandam memoriam</a></span>, <span class="catalogo-pubPlace">Tiguri</span> ex off. Andr. Gesneri
<span class="catalogo-date">1559</span>, in fol. m., fig.
<div class="catalogo-note collapse">Il primo foglio contiene il frontespizio figurato. Il secondo un avviso del tipografo al lettore. Il terzo, quarto e
quinto contengono i fasti Romanorum Imperatorum a Julio C. ad Carolum V. Indi seguono in 118 fogli tutte le
imagini colle vite di contro. Gli intagli di maniera grandiosa sono eseguiti in legno colle marche R. W. H. R.</div>
</span></section>