<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2186">
                  <span class="catalogo-item-label">2186.</span> <span class="catalogo-bibl"><span class="catalogo-author">D’ARGENVILLE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2186">Abregé de la vie des plus fameux peintres avec leurs portraits gravés en taille
    douce etc.</a></span>, vol. 3, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1742 a 1745</span>, in 4, fig.
    <div class="catalogo-note collapse">Esemplare bellissimo donato dal Cavaliere de la Loriniere al salone delle arti. Al principio delle vite stanno i
    ritratti degli artisti e sebbene l’edizione in ottavo sia più completa, questa ritiene un pregio per la maggior
    freschezza dei rami.</div>
    
    </span></section>