<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="562">
                  <span class="catalogo-item-label">562.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">MASI Girolamo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/562">Teoria e pratica di architettura civile per istruzione della gioventù,
	specialmente romana,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1788,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Sonovi tredici gran tavole al fine, precedute da un dizionario compendioso d’architettura civile. Trattasi la
	materia per costituire un buon pratico, e non perdutisi di vista tutte le istruzioni teoriche, tutte le misure delle
	varie nazioni comparate, tutte le indicazioni succinte degli autori di questa materia; in fine può dirsi essere un
	eccellente libro elementare in un senso diverso affatto dalle altre instituzioni.</div>
	
	              </section>