<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2072">
                  <span class="catalogo-item-label">2072.</span> <span class="catalogo-bibl"><span class="catalogo-author">OLINA Giovan Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2072">Uccelliera, ovvero discorso della natura e proprietà di diversi uccelli
  etc. con figure intagliate dal Tempesta e dal Villamena</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1633</span>, in 4.
  <div class="catalogo-note collapse">Questo libro fu dedicato al Cav. del Pozzo e contiene 66 tavole assai ben eseguite. L’uso che ne hanno fatto gli
  amatori di caccia lo ha reso alquanto raro.</div>
  
  </span></section>