<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="780">
                  <span class="catalogo-item-label">780.</span> <span class="catalogo-bibl"><span class="catalogo-author">SABBATINI Niccola</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/780">Pratica di fabbricare scene e macchine teatrali</a></span>, ristampata ila nuovo
	coll’aggiunta del secondo libro, <span class="catalogo-pubPlace">Ravenna</span> <span class="catalogo-date">1738</span>, in 4, fig.
	<div class="catalogo-note">Le figure dimostrative sono intagliate in legno e riporta te fra il testo. Vi si insegna bene la prospettica teatrale e
	ogni sorta di meccanismo per le scene e per gli accidenti teatrali.</div><div id="catalogo-note-text-780" class="catalogo-note-search-results truncate-line-clamp">Le figure dimostrative sono intagliate in legno e riporta te fra il testo. Vi si insegna bene la prospettica teatrale e
	ogni sorta di meccanismo per le scene e per gli accidenti teatrali.</div><a id="catalogo-note-text-toggle-780" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>