<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="205">
                  <span class="catalogo-item-label">205.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SCARAMUCCIA Luigi perugino</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/205"> Le finezze dei pennelli italiani ammirate e studiate da
	  Giuripeno sotto la scorta di Raffaello d’Urbino,</a></span> 
                     <span class="catalogo-pubPlace">Pavia</span> 
                     <span class="catalogo-date">1674,</span>
                     <span class="catalogo-extent"> in 4.</span> Col ritratto dell’autore dis.
	  dal cavaliere del Cairo, scolpito da I. B. Bonacina.</span>
	              </section>