<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="911">
                  <span class="catalogo-item-label">911.</span> <span class="catalogo-bibl"><span class="catalogo-author">FAUJAS de Saint-fond</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/911">Recherches sur la pouzzolane, sur la théorie de la chaux et sur la cause
      de la dureté du mortier</a></span>, <span class="catalogo-pubPlace">Grenoble et Paris</span> <span class="catalogo-date">1778</span>, in 8.
      </span></section>