<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2786">
                     <span class="catalogo-item-label">2786.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRENNERI Eliae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2786">Thesaurus nummorum Sveco-Gothicorum studio indefesso L annorum spatio collectus etc.</a></span>,
<span class="catalogo-pubPlace">Holmiae</span> <span class="catalogo-date">1731</span>, in 4, fig.
— <span class="catalogo-title"><a class="catalog-link" href="/catalog/2786">Accessit ejusdem auctoris Libellus de Nummophylaciis Sveciae.</a></span>
<div class="catalogo-note">Quest’opera non comune specialmente in Italia è eseguita con un estremo lusso di esecuzione meccanica,
specialmente per la massima finezza, anzi troppa dell’intaglio in rame nelle tavole che sono in fine riunite e
dovrebbero essere collocate fra il testo: trovasi però grandissimo numero anche di medaglie intagliate in legno,
ma sono fra i caratteri, mentre quelle intagliate a bulino sono 62, non compreso il ritratto dell’autore.</div><div id="catalogo-note-text-2786" class="catalogo-note-search-results truncate-line-clamp">Quest’opera non comune specialmente in Italia è eseguita con un estremo lusso di esecuzione meccanica,
specialmente per la massima finezza, anzi troppa dell’intaglio in rame nelle tavole che sono in fine riunite e
dovrebbero essere collocate fra il testo: trovasi però grandissimo numero anche di medaglie intagliate in legno,
ma sono fra i caratteri, mentre quelle intagliate a bulino sono 62, non compreso il ritratto dell’autore.</div><a id="catalogo-note-text-toggle-2786" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>