<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2157">
                  <span class="catalogo-item-label">2157.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2157">DICTIONARY of arts and sciences comprehending all the branches of useful knowledge</a></span>,
    <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1764</span>, in 8, vol. 4.
    <div id="catalogo-note-text-2157" class="catalogo-note truncate-line-clamp">Questo dizionario, con tavole in rame copiose dì mediocre esecuzione è una piccola enciclopedia di poca utilità,
    <span class="catalogo-pb" id="page_373">373</span> dopo che più grandi opere hanno arricchito le biblioteche in queste materie. Opera di 3500 pagine.
    </div><a id="catalogo-note-text-toggle-2157" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>