<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3195">
                     <span class="catalogo-item-label">3195.</span> <span class="catalogo-bibl"><span class="catalogo-author">CHEVALIER Nicolas</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3195">Remarques sur une piece antique de bronze trouvée aux environs de Rome etc. avec une
description de la Chambre des rarétez de l’auteur</a></span>, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1694</span>, in 12, fig.
<div class="catalogo-note">In questo elegante volumetto sono 14 tavole, compreso il frontespizio istoriato, le quali con grazia furono incise
da Schoonebeek.</div>
</span></section>