<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3797">
                     <span class="catalogo-item-label">3797.</span> <span class="catalogo-bibl"><span class="catalogo-author">MODIO Giovan Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3797">Il Tevere, dove si ragiona in generale della natura di tutte le acque, e in particolare di
quella del fiume di Roma</a></span>, <span class="catalogo-pubPlace">Roma</span>, presso Vincenzo Luchino, <span class="catalogo-date">1556</span>, in 8, M. 75.
<div class="catalogo-note">Operetta ben stampata, divisa in due libri, dedicata al cardinale Ranuccio Farnese. L’autore era un medico
calabrese <span class="catalogo-pb" id="page_206">206</span> discepolo di san Filippo Neri, che scrisse le annotazioni ai cantici di Jacopone da Todi, e
stampò un’opera intitolata il Convitto, ovvero del peso della moglie, in Milano 1558, in 8.</div>
</span></section>