<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3359">
                     <span class="catalogo-item-label">3359.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITALE Pier Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3359">Riflessioni sulle nuove scoverte di Lodovico Antonio Muratori per gli annali di Italia</a></span>,
<span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1746</span>, in 4, fig., M. 2.
<div class="catalogo-note">Questo letterato era uno dei più rigidi censori delle opere degli uomini più grandi e li attaccava con un veleno
crudele. In questo volume di 252 p. ch’egli chiama operetta, ove sono anche molte tavole stampate fra il testo,
attacca il Muratori (non sempre senza ragione) intorno 10 punti storici, con altrettante dissertazioni.</div>
</span></section>