<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="563">
                  <span class="catalogo-item-label">563.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">MAUCLERC Julien</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/563">Traité d’architecture suivant Vitruve où il est traité des cinq ordres des
	colonnes, designez et mis en lumière par Pierre Daret graveur duroy,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1648,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">La prima tavola che precede le 50 figure contiene il ritratto di Mauclerc dipinto e intagliato di sua mano: fu
	levato (ma non abbastanza) dal rame il millesimo e sul nostro esemplare, che è di prima bellezza, si legge 1535,
	del qual autore non troviamo citazioni. Ma è da tenersi in gran pregio per le tavole di bella e nitida incisione.
	Pietro Daret aggiunse a quest’opera le misure e proporzioni d’altri maestri, siccome egli avvisa nel frontespizio.
	E infatti Mauclerc non poteva parlare di Palladio, di Vignola, di Scamozzi, le cui opere non erano vivente lui
	conosciute; e perciò vedesi che le cinque tavole dalla 45 alla 48 inclusive, nelle quali si presentano questi
	paralelli, sono d’altro bulino ed aggiunte da Pietro Daret all’opera di Mauclerc, le altre tavole avendo tutte la
	marca del primo autore. Quanto al testo si riconosce derivar le nozioni da Vitruvio, ma succintamente, e
	confusamente ed eludendo passi difficili, come quelli sulla voluta ionica, sugli scamilli ec.</div><div id="catalogo-note-text-563" class="catalogo-note-search-results truncate-line-clamp">La prima tavola che precede le 50 figure contiene il ritratto di Mauclerc dipinto e intagliato di sua mano: fu
	levato (ma non abbastanza) dal rame il millesimo e sul nostro esemplare, che è di prima bellezza, si legge 1535,
	del qual autore non troviamo citazioni. Ma è da tenersi in gran pregio per le tavole di bella e nitida incisione.
	Pietro Daret aggiunse a quest’opera le misure e proporzioni d’altri maestri, siccome egli avvisa nel frontespizio.
	E infatti Mauclerc non poteva parlare di Palladio, di Vignola, di Scamozzi, le cui opere non erano vivente lui
	conosciute; e perciò vedesi che le cinque tavole dalla 45 alla 48 inclusive, nelle quali si presentano questi
	paralelli, sono d’altro bulino ed aggiunte da Pietro Daret all’opera di Mauclerc, le altre tavole avendo tutte la
	marca del primo autore. Quanto al testo si riconosce derivar le nozioni da Vitruvio, ma succintamente, e
	confusamente ed eludendo passi difficili, come quelli sulla voluta ionica, sugli scamilli ec.</div><a id="catalogo-note-text-toggle-563" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>