<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4267">
                        <span class="catalogo-item-label">4267.</span> <span class="catalogo-bibl"><span class="catalogo-author">D’ONOFRI Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4267">Succinte notizie intorno la facciata della chiesa cattedrale napoletana e l’antica speciosa sua
porta</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1788</span>, in 4, fig., M. 27.
<div id="catalogo-note-text-4267" class="catalogo-note truncate-line-clamp">Con sei grandi tavole in rame.</div><a id="catalogo-note-text-toggle-4267" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>