<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="823">
                  <span class="catalogo-item-label">823.</span> <span class="catalogo-bibl"><span class="catalogo-author">LE P. DUBREUIL, de la Compagnie de Jesus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/823">La perspective pratique necessaire à tous les
	peintres ec.</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1642</span>, in 4 vol. 3, in carta grande.
	<div class="catalogo-note collapse">Il secondo volume è stampato nel 1647; e il terzo nel 1649. La più prolissa opera che si conosca in tal genere,
	ricchissima di tavole e dimostrazioni. Edizione splendida e assai distinta. È duopo osservare se nel primo volume
	dopo l’indice delle materie sonovi tutte le appendici interessantissime, che mancano a molti esemplari «1. Divers
	methodes universelles en tout on en partie pour faire des perspectives tirées de la Perspective pratique pour
	reponse aux affiches du Sieur Desargues contre la dite perspective, Paris. 1642. Exarmen de la manière de faire
	des quadrantes, enseigné à la fine du Brouillon. Projet de la coupé des pierres etc. par G. D. L. 1641.
	«Lettre de M. Beangrand secretaire du Roi sur le sujet de feuilles intitulées Brouillon 1640.
	«Avis charitables sur les diverses oeuvres et feuilles volantes da S. Girard Desargues Lionois publiés sur les
	titres Brouillons etc. etc., Paris 1642. Reponse à un ami contenant un examen du Brouillon etc.
	Tutte queste controversie e scritti formano 44 carte alla fine del libro. La sola mutazione del frontespizio per
	opera di uno stampatore fece supporre che di quest’opera ti facesse una <span class="catalogo-pb" id="page_153">153</span> seconda edizione: e ciò è
	smentito dal Comolli. I frontespizi de’ tre vol. sono figurati e contengono 350 tavole intagliate in rame.</div>
	
	</span></section>