<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4383">
                        <span class="catalogo-item-label">4383.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4383">VIAGGIO di Venezia al Santo Sepolcro et al Monte Sinai più copiosamente scritto degli altri, con disegni di paesi,
città, porti, chiese, et altri luoghi</a></span>, <span class="catalogo-pubPlace">Venetia</span>, presso gli eredi di Luigi Valvassori, <span class="catalogo-date">1587</span>.
<div class="catalogo-note collapse">Tutto ciò di cui si parla è intagliato in legno nella più goffa maniera. Libro dei più strani, e curiosi.</div>
</span></section>