<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="711">
                  <span class="catalogo-item-label">711.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVII Marci Pollionis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/711">Viri suae professionis peritissimi</a></span>, De architectura libri decem cum
	notis Philandri, et Sexti Julii Frontini de aquaeductibus, et Nicolai Cusani de staticis
	experiinentis. Argentorati, ex officina Knoblochiana, <span class="catalogo-date">1550</span>, in 4, par. fig.
	<div class="catalogo-note collapse">Questa edizione è molto più pregievole di quella che lo stesso editore produsse nel 1543 poiché vi fece una
	quantità di correzioni e di aggiunte prese dal Filandro non solo nel testo, come nelle figure.</div>
	
	</span></section>