<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3582">
                     <span class="catalogo-item-label">3582.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3582">ANTIQUITATUM variarum auctores quorum catalogum sequens continet pagella</a></span>, 
                        <span class="catalogo-pubPlace">Lugduni</span>, apud Seb. Gryphium,
<span class="catalogo-date">1552</span>, in 12.
<div id="catalogo-note-text-3582" class="catalogo-note truncate-line-clamp">Questo volumetto di presso 900 pagine, contiene la collezione più ampia di tutte quelle operette apocrife
d’antichità pubblicate da frate Antonio da Viterbo, dal Fiocchi, da Pietro Calabro e da altri, e sono Myrsilii Lesbii
de origine Italiae. M. Porcii Catonis originum, Archilochi de temporibus, Berosi Babilonii antiquitatum,
Manethonis de Reg. Aegipt. Metasthenis annalium Persicorum, Xenophontis de aequivocis, Q. Fabii Pictoris de
aureo seculo, C. Sempronii de divisione Italiae, Philonis Judaei Antiq. Bibliorum, C. Julii Solini Polyhistor,
Pomponii Meloe de situ orbis, Pomponii Laeti de antiq. urbis Romae, Marliani Topographia veteris Romae,
Publii Victoris de urbis Romae regionibus, Pomponii Laeti de Magistratibus, L. Fenestelloe de Magistratibus
sacerdotiisque romanorum. Vedi ancora De Roma prisca et nova.</div><a id="catalogo-note-text-toggle-3582" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>