<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2533">
                     <span class="catalogo-item-label">2533.</span> <span class="catalogo-bibl"><span class="catalogo-author">MERCATI Michele</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2533">Considerazioni sopra gli avvertimenti del sig. Latino Latini intorno alcune cose scritte nel
libro degli obelischi di Roma insieme con alcuni supplementi al medesimo libro</a></span>, <span class="catalogo-pubPlace">Roma</span>, per Domenico Basa.
<span class="catalogo-date">1590</span>, in 4.
</span></section>