<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4261">
                        <span class="catalogo-item-label">4261.</span> <span class="catalogo-bibl"><span class="catalogo-author">HERBESTAIN barone</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4261">Commentarii della Moscovia, e della Russia tradotti dal latino in italiano</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per
Giovan Battista Pederzano, <span class="catalogo-date">1550</span>, in 4 pic.
<div class="catalogo-note">Con figure nel fine in sei tavole in legno d’attrezzi e cose relative al costume di quei popoli, e una carta
topografica. Libro non comune.</div></span></section>