<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="52">
                  <span class="catalogo-item-label">52.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SABA da Castiglione monsignore</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/52"> Ricordi, ovvero ammaestramenti, ne’ quali con prudenti e
	  cristiani discorsi si ragiona di tutte le materie onorate, che si ricercano a un vero gentiluomo,</a></span>
	                    <span class="catalogo-pubPlace">Venezia,</span>
                      per Paolo Gherardo, 
                     <span class="catalogo-date">1555,</span>
                     <span class="catalogo-extent"> in 4.</span>
                  </span>
	                 <div class="catalogo-note">Nel frontispizio è il ritratto dell’autore intagliato in legno con eleganza. Lo stampatore intitolò l’opera al doge
	  Francesco Veniero. In questi aurei ricordi sono preziosissime e recondite notizie d’arti e d’artisti, specialmente
	  nel ricordo circa gli ornamenti della casa.</div><div id="catalogo-note-text-52" class="catalogo-note-search-results truncate-line-clamp">Nel frontispizio è il ritratto dell’autore intagliato in legno con eleganza. Lo stampatore intitolò l’opera al doge
	  Francesco Veniero. In questi aurei ricordi sono preziosissime e recondite notizie d’arti e d’artisti, specialmente
	  nel ricordo circa gli ornamenti della casa.</div><a id="catalogo-note-text-toggle-52" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
               </section>