<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4199">
                        <span class="catalogo-item-label">4199.</span> <span class="catalogo-bibl"><span class="catalogo-author">DESCAMPS</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4199">Voyage pittoresque de la Fiandre et du Brabant avec des réfléxions rélativement aux arts et quelques
                           gravures</a></span>, <span class="catalogo-pubPlace"> Paris</span><span class="catalogo-date">1769</span> , in 8.
<div class="catalogo-note">Vi si trovano incise in rame alcune cattedre per la predicazione le più singolari. Opera estesa con molta
   accuratezza.</div>
</span></section>