<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="67">
                  <span class="catalogo-item-label">67.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALBERTI Leon Battista</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/67">Altro esemplare della stessa con note marginali manoscritte.</a></span>
                  </span>
	                 <div class="catalogo-note">In queste note manoscritte rendesi ragione di qualche opera di pennello esistite in Firenze di mano di L. B.
	  Alberti. La stampa di questo opuscoletto da Lodovico Domenichi fu intitolata a Francesco Salviati. Vedi anche
	  Vinci Leonardo.</div><div id="catalogo-note-text-67" class="catalogo-note-search-results truncate-line-clamp">In queste note manoscritte rendesi ragione di qualche opera di pennello esistite in Firenze di mano di L. B.
	  Alberti. La stampa di questo opuscoletto da Lodovico Domenichi fu intitolata a Francesco Salviati. Vedi anche
	  Vinci Leonardo.</div><a id="catalogo-note-text-toggle-67" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>