<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2205">
                  <span class="catalogo-item-label">2205.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARUFFALDI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2205">Memorie dei pittori ferraresi</a></span>. Manoscritto inedito in fol.

                  
                  
    <div class="catalogo-note">Preziosissimo per le interessantissime notizie inedite e per una quantità di aneddoti d’arte non conosciuti e
    utilissimi per la storia delle medesime.</div>
    
    </span></section>