<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1597">
                  <span class="catalogo-item-label">1597.</span> <span class="catalogo-bibl"><span class="catalogo-author">BONANNI Filippo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1597">Descrizione degli strumenti armonici d’ogni genere</a></span>, seconda ediz. corretta,
    ed accresciuta da Giacinto Cerati con 140 rami, incisi da Arnoldo Wan Westerowd, <span class="catalogo-pubPlace">Roma</span>
    <span class="catalogo-date">1756</span>, in 4. Francese e italiano.
    <div class="catalogo-note">Sono però le stesse tavole dell’edizione precedente.</div>
    
    </span></section>