<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2224">
                  <span class="catalogo-item-label">2224.</span> <span class="catalogo-bibl"><span class="catalogo-author">CANAL Vincenzo P. V.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2224">Vita di Gregorio Lazzarini pubblicata per la prima volta nelle nozze
    da Mula Lavagnoli</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1809</span>, in 4, M. 89.
    </span></section>