<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4380">
                        <span class="catalogo-item-label">4380.</span> <span class="catalogo-bibl"><span class="catalogo-author">SANSOVINO Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4380">La stessa descritta dal Sansovino colle aggiunte del Martignoni, e dello Stringa</a></span>, <span class="catalogo-pubPlace">Venezia</span>
<span class="catalogo-date">1663</span>, in 4.
<div class="catalogo-note">Questa è la miglior illustrazione di Venezia non senza errori, ma almeno desunta da buone fonti. In questa ultima
edizione le aggiunte sono importanti, ma sarebbe da rifarsi con note d’un altro genere che facessero conoscere
cosa fu, e cosa sia al presente.</div><div id="catalogo-note-text-4380" class="catalogo-note-search-results truncate-line-clamp">Questa è la miglior illustrazione di Venezia non senza errori, ma almeno desunta da buone fonti. In questa ultima
edizione le aggiunte sono importanti, ma sarebbe da rifarsi con note d’un altro genere che facessero conoscere
cosa fu, e cosa sia al presente.</div><a id="catalogo-note-text-toggle-4380" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>