<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="615">
                  <span class="catalogo-item-label">615.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">POLIPHILE</span>, Hypnerotomachie ou discours du songe de Poliphile deduisant comme amour le
	combat a l’occasion de Polia, nouvellement traduit de langage italien en françois, Paris, pour
	Jacques Kerwer, <span class="catalogo-date">1554,</span>
                     <span class="catalogo-extent"> in fol. fig.</span>
                  </span>
	                 <div id="catalogo-note-text-615" class="catalogo-note truncate-line-clamp">Questa versione preparata dal cardinale di Lenoncourt fu pubblicata da Giovanni Martino la prima volta nel 1346
	ed una posteriore a questa nostra nel 1561. Dopo il frontespizio figurato a tergo sta un avviso al lettore, indi
	segue la dedica, poi un secondo indirizzo ai lettori del traduttore. Alcuni versi nel 4 foglietto e la tavola dei
	capitoli in altri due fogli: dal numero 1 al numero 157 procede il testo in altrettanti foglietti; in fine Imprimé pour
	Jacques Kerwer marchant libraire par Marin Massellin le XXII Decembre l’an 1553. Le tavole in legno sono
	assai ben intagliate massimamente quelle ove trovansi paesaggi ed animali: alcune poche sono anche tratte
	dell’edizione originale. Esemplare magnifico in vit. dor.</div><a id="catalogo-note-text-toggle-615" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>