<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2367">
                  <span class="catalogo-item-label">2367.</span> <span class="catalogo-bibl"><span class="catalogo-author">DE’ ROSSI Giovanni Gherardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2367">Vita di Antonio Cavallucci da Sermoneta pittore</a></span>, <span class="catalogo-pubPlace">Venezia
</span>    <span class="catalogo-date">1766</span>, in 8, M. 87.
    <div class="catalogo-note">Col ritratto del pittore inciso da Bettelini.
    </div><div id="catalogo-note-text-2367" class="catalogo-note-search-results truncate-line-clamp">Col ritratto del pittore inciso da Bettelini.
    </div><a id="catalogo-note-text-toggle-2367" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>