<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="191">
                  <span class="catalogo-item-label">191.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">PUCCINI Tommaso</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/191">Esame critico dell’opera sulla pittura di Daniel Webb, tradotto dall’inglese
	  e commentato da Francesco Pizzetti.</a></span> Articolo del Giornale 
                     <span class="catalogo-pubPlace">di Pisa,</span> 
                     <span class="catalogo-date">1807,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note collapse">Questo esame fu diretto dall’autore al sig. Luigi Lanzi.</div>	  
	              </section>