<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="904">
                  <span class="catalogo-item-label">904.</span> <span class="catalogo-bibl"><span class="catalogo-author">DESMAREST</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/904">Lettre sur les differentes sortes de pouzzolanes et particulierement sur celles
      qu’on peut tirer de l’Auvergne</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1779</span>, in 8, M. 63. Con due tavole.
      </span></section>