<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="376">
                  <span class="catalogo-item-label">376.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">ALBERTI Leon Battista</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/376">L’architettura tradotta da Cosimo Bartoli coll’aggiunta dei disegni,</a></span>
	                    
	                    
	                    
	
	                    <span class="catalogo-pubPlace">Venezia,</span> 
                     presso il Franceschi, 
                     <span class="catalogo-date">1565,</span>
                     <span class="catalogo-extent"> in 4, fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Edizione colle tavole in legno collocate fra il testo.</div>
	
	              </section>