<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4730">
                     <span class="catalogo-item-label">4730.</span> <span class="catalogo-bibl"><span class="catalogo-author">MONTIFALCHII Petri</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4730">De cognominibus Deorum opusculum</a></span>, <span class="catalogo-pubPlace">Perusiae</span>, in aedibus Hieronymy Francisci Cartularii,
<span class="catalogo-date">1522</span>, in 4.
<div class="catalogo-note">Opuscolo di carte 91 raro e interessantissimo. Il frontespizio è intagliato in legno, e a tergo è il Grifo, stemma
della città di Perugia.</div><div id="catalogo-note-text-4730" class="catalogo-note-search-results truncate-line-clamp">Opuscolo di carte 91 raro e interessantissimo. Il frontespizio è intagliato in legno, e a tergo è il Grifo, stemma
della città di Perugia.</div><a id="catalogo-note-text-toggle-4730" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>