<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4075">
                     <span class="catalogo-item-label">4075.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4075"> RACCOLTA delle più belle vedute, e prospettive della città di Firenze</a></span>, 
                        presso Niccolò Pagni, <span class="catalogo-pubPlace">Firenze</span>, tav. 24, in
fol. obl.
<div class="catalogo-note">Queste 24 tavole non sono degne della bellezza di Firenze, e del sommo gusto dei toscani nelle arti. Furono
eseguite da mediocrissimi intagliatori.</div><div id="catalogo-note-text-4075" class="catalogo-note-search-results truncate-line-clamp">Queste 24 tavole non sono degne della bellezza di Firenze, e del sommo gusto dei toscani nelle arti. Furono
eseguite da mediocrissimi intagliatori.</div><a id="catalogo-note-text-toggle-4075" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>