<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="555">
                  <span class="catalogo-item-label">555.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">MAROT Jean</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/555">Recueil des plans, profils et élévations des plusieurs palais, chàteaux, eglises, sépultures, grottes et autels bâtis dans Paris,</a></span> 
                     <span class="catalogo-date">senza data,</span> 
                     <span class="catalogo-extent">in fol. pic. fig.</span>
	                    <div class="catalogo-note">Prima edizione delle opere architettoniche di questo autore: freschissimo esemplare contenente 125 tavole.</div>
                  </span>
	
	              </section>