<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="683">
                  <span class="catalogo-item-label">683.</span> 
	                 <span class="catalogo-bibl">
	                    <span class="catalogo-author">VEGETII Flavii Renati</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/683">De re militari lib. IV. correcti a Godescalco Stewechio: accesserunt sex
	Jul. Frontini stratagematon lib. IV., Aelianus de instruendis aciebus; Modestus de vocabulis
	rei militaris. Castrametatio Rom. ex Polibio, et alia ec., Lugd. Bat., Plantin.</a></span>, <span class="catalogo-date">1592</span>, <span class="catalogo-extent">in 8</span>.</span>

   <span class="catalogo-bibl">— <span class="catalogo-title"><a class="catalog-link" href="/catalog/683">Aggiugnesi a questo: Godescalchi Stewechii commentarius ad Flavii Vegetii Renati de Re
	militari libros. Eodem loco et anno fig</a></span>.</span>
	<div class="catalogo-note collapse">In questo secondo libro sono molte belle figure intagliate in legno inserite fra il testo. Le due opere legate
	assieme formano un volume di circa 900 pagine comprese le tavole delle materie e i prolegomeni.</div>
	
	</section>