<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="159">
                  <span class="catalogo-item-label">159.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">LOMAZZO Giovanni Paolo</span> milanese pittore, <span class="catalogo-title"><a class="catalog-link" href="/catalog/159">Trattato dell’arte della pittura diviso in 7 libri, nei
	  quali si contiene tutta la teorica e la pratica di essa pittura,</a></span> 
                     <span class="catalogo-pubPlace">Milano</span> 
                     <span class="catalogo-date">1584,</span> 
                     presso Gottardo
	  Ponzio, 
                     <span class="catalogo-extent">in 4.</span>
                  </span>
	                 <div class="catalogo-note collapse">Questo frontespizio fu cangiato nel corso della stessa edizione e trovasi in pochi esemplari.</div>
	                 
	                 
	                 
	  
	              </section>