<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2645">
                     <span class="catalogo-item-label">2645.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2645">Le ANTICHITÀ di Ercolano esposte, volumi 9</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1755</span>, in fol., fig.</span>
		     
                       
                         <span class="catalogo-item-label">l.</span> <span class="catalogo-bibl">Cominciò l’edizione
                         col Catalogo degli antichi monumenti composto
                         da monsig. Bajardi, che escì alle stampe nel
                         1755 ed occupa un vol. di 447 p.</span>
		       

                       
                         <span class="catalogo-item-label">2.</span> <span class="catalogo-bibl">Seguirono le pitture antiche d’Ercolano a contorni, incise con qualche spiegazione. Vol. I 1757.
</span>

                        
                           <span class="catalogo-item-label">3.</span> <span class="catalogo-bibl">Le pitture Vol. II pubblicate nel 1760.</span>

                        
                           <span class="catalogo-item-label">4.</span> <span class="catalogo-bibl">Le pitture Vol. III pubblicate nel 1762.</span>

                        
                           <span class="catalogo-item-label">5.</span> <span class="catalogo-bibl">Le pitture Vol. IV pubblicate nel 1765.</span>

                        
                           <span class="catalogo-item-label">6.</span> <span class="catalogo-bibl">De’ bronzi Vol. I dei busti. Pubblicato nel 1767.</span>

                        
                           <span class="catalogo-item-label">7.</span> <span class="catalogo-bibl">De’ bronzi d’Ercolano Vol. II statue pubblicate nel 1771.</span>

                        
                           <span class="catalogo-item-label">8.</span> <span class="catalogo-bibl">Delle pitture Vol. V pubblicato nel 1779.</span>

                        
                           <span class="catalogo-item-label">9.</span> <span class="catalogo-bibl">Delle lucerne e candelabri tomo unico nel 1792.</span>
                     

		     <div class="catalogo-note">I cinque volumi delle pitture contengono 324 tavole illustrate oltre una grandissima quantità di vignette e
monumen <span class="catalogo-pb" id="page_26">26</span>ti. I due dei bronzi 173 tavole e quello delle lucerne 93: il tutto arricchito di note, d’indici e di
osservazioni.
Una parte dei manoscritti o papiri fu impressa in un I vol. in 4 gr. o foglietto piccolo nel 1793 sotto il seguente
titolo:
<span class="catalogo-title"><a class="catalog-link" href="/catalog/2645">Herculanensium voluminum quoe supersunt tomus I.</a></span>
Per ultimo abbiamo anche un gran volume atlantico slegato di 106 tavole di pareti, pavimenti e altre antichità
Ercolanensi venuto a poco a poco in luce e non anche illustrato.
È debitrice l’Italia della protezione che ebbero in Napoli gli studi al tempo di queste scoperte, di questa edizione
e dell’Accademia Ercolanense, al genio protettore del marchese Tanucci, che sotto il regno di Carlo III può dirsi
essere stato il Colbert dell’Italia.</div>
</section>