<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2171">
                  <span class="catalogo-item-label">2171.</span> <span class="catalogo-bibl"><span class="catalogo-author">ORLANDI Pellegrino Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2171">Abecedario Pittorico</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per il Pasquali, <span class="catalogo-date">1753</span>, in 4.
    <div class="catalogo-note collapse">Con molte aggiunte preziossisime e postille manoscritte di mano di Venanzio de Pagave. Esemplare che
    appartenne alla Biblioteca Bianconi e poi Bossi; il quale ne aveva fatto un estratto per le memorie degli artisti
    Milanesi che andava preparando.</div>
    
    <span class="catalogo-bibl"><span class="catalogo-author">ORSINI</span>. <span class="catalogo-bibl">Vedi <span class="catalogo-title"><a class="catalog-link" href="/catalog/2171">all’Art.</a></span> <span class="catalogo-author">VITRUVIO</span>.</span></span>
    </span></section>