<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3905">
                     <span class="catalogo-item-label">3905.</span> <span class="catalogo-bibl"><span class="catalogo-author">VENUTI Ridolfino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3905">Accurata, e succinta descrizione topografica dell’antichità di Roma</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1763</span>, 2 vol., in 4,
fig., con 96 tavole in rame.
</span></section>