<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3221">
                     <span class="catalogo-item-label">3221.</span> <span class="catalogo-bibl"><span class="catalogo-author">FICINO Marsilio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3221">Commento sopra il Convito di Platone</a></span>, <span class="catalogo-pubPlace">Firenze</span>, <span class="catalogo-date">1544</span>, per Neri Dortellata, in 8, pr. edizione.
<div class="catalogo-note">Questo libretto è citato fra i rari dall’Argelati, da Claudio Tolomei, dal Fontanini, dal Zeno e da altri e in ispecie
dal Mazzucchelli poiché in questa prima edizione vi è un discorso dello stampatore che vuolsi esteso da Cosimo
Bartoli e un’ortografia in tutta l’opera diversa dalle altre edizioni: mostrasi in quello la pronuncia fiorentina col
mezzo degli accenti e dalla prefazione dello stesso Marsilio a Bernardo del Nero ed Antonio Manetti si ricava
che non solo egli fece la versione in latino e il comento, ma ne fu anche il traduttore in lingua italiana. Vedasi
anche Giambullari.</div>
</span></section>