<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2840">
                     <span class="catalogo-item-label">2840.</span> <span class="catalogo-bibl"><span class="catalogo-author">FLOREZ Enrique</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2840">Medallas de las colonias, municipios y pueblos antiquos de Espana</a></span>, <span class="catalogo-pubPlace">Madrid</span> <span class="catalogo-date">1757 e 1758</span>, 2 vol.
leg. in uno, in 4, fig.
</span></section>