<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2146">
                  <span class="catalogo-item-label">2146.</span> <span class="catalogo-bibl"><span class="catalogo-author">BALDINUCCI Filippo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2146">Vocabolario toscano dell’arte del disegno nel quale si esplicano i propri
    termini e voci non solo della pittura, scultura et architettura ma ancora di altre arti a quella
    subordinate e che abbiano per fondamento il disegno, con la notizia de’ nomi e qualità delle
    gioie, metalli e pietre dure ec</a></span>. <span class="catalogo-pubPlace">Firenze</span>, per Santi Franchi, <span class="catalogo-date">1681</span>, in 4.
    <div class="catalogo-note collapse">Libro prezioso, che ha tutti i requisiti per far testo di lingua e nella terza edizione del Vocabolario della Crusca
    infatti ammesso.
    </div>
    </span></section>