<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1910">
                  <span class="catalogo-item-label">1910.</span> <span class="catalogo-bibl"><span class="catalogo-author">LANDI Costanzo Conte di Compiano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1910">Lettera so <span class="catalogo-pb" id="page_325">325</span> pra una impresa d’un pino</a></span>, <span class="catalogo-pubPlace">Milano</span>,
    per Giovan Antonio degli Antonii, <span class="catalogo-date">1560</span>, in 8.
    <div class="catalogo-note collapse">Aggiuntavi altra lettera all’illustre Sig. Teodoro Conte di Sangiorgio e di Biandrà in risposta d’ una del detto
    signore, ivi ec.</div>
    
    </span></section>