<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4046">
                     <span class="catalogo-item-label">4046.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4046">La METROPOLITANA fiorentina illustrata</a></span>, <span class="catalogo-pubPlace">Firenze</span>, presso Giuseppe Molini, e comp. all’insegna di Dante, <span class="catalogo-date">1820</span>, in
4 gr., fig.
<div class="catalogo-note">In quest’opera gli editori riprodussero in una scala minore i disegni dello Sgrilli, e con qualche annotazione ed
aumento i discorsi del Nelli: sono però per la prima volta pubblicati in Firenze i bassi rilievi del Bandinelli, e la
porta di Luca della Robbia, che non avevano vista la luce prima che da noi venissero fatti conoscere nel secondo
volume della Storia della scultura.</div>
</span></section>