<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1987">
                  <span class="catalogo-item-label">1987.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAUR Jo. Wilhelmi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1987">Pub. Ovidii Nasonis Metamorphoseon</a></span>, <span class="catalogo-pubPlace">Augspurg</span> <span class="catalogo-date">1709</span>, in fol. obl.
    <div class="catalogo-note">Queste sono le medesime 150 tavole da questo valentissimo intagliatore prodotte nella p. edizione e in questa
    ristampate e non riconoscibili per essere assai logore; a fronte di ciascuna sta il testo in lingua tedesca.
    </div>
    </span></section>