<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1183">
                  <span class="catalogo-item-label">1183.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARINI Gaetano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1183">Lettera al Sig. Gasparo Garattoni sopra una antica iscrizione cristiana</a></span>, <span class="catalogo-pubPlace">Pisa</span>
    <span class="catalogo-date">1772</span>, in 12, M. 97.
    </span></section>