<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2436">
                  <span class="catalogo-item-label">2436.</span> <span class="catalogo-bibl"><span class="catalogo-author">ELSOTHII Joan. Sigismundi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2436">Anthropometria</a></span>, <span class="catalogo-pubPlace">Patavii</span> <span class="catalogo-date">1656</span>, in 8.
    <span class="catalogo-bibl">Accessit: <span class="catalogo-title"><a class="catalog-link" href="/catalog/2436">Doctrina Naworum</a></span>.</span>
    <div id="catalogo-note-text-2436" class="catalogo-note truncate-line-clamp">Questo libretto delle proporzioni umane ha le tavole in legno fraposte al testo ed è piuttosto trattato da scrittore
    di fisionomia che da artista.</div><a id="catalogo-note-text-toggle-2436" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>