<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2699">
                     <span class="catalogo-item-label">2699.</span> <span class="catalogo-bibl"><span class="catalogo-author">PELLEGRINO Cammillo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2699">Discorsi della Campania felice</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1651</span>, in 8.
<div id="catalogo-note-text-2699" class="catalogo-note truncate-line-clamp">Opera molto diffusa, in quattro parti: libro di circa 900 pagine comprese le tavole e i prolegomeni con una carta
topografica.</div><a id="catalogo-note-text-toggle-2699" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>