<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3155">
                     <span class="catalogo-item-label">3155.</span> <span class="catalogo-bibl"><span class="catalogo-author">WAKCHII Jo. Ernesti</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3155">Marmor hispaniae antiquum vexationis christianorum Neronianae insigne documentum
illustratum, et viro celeberrimo Ant. Fr. Gorio consecratum</a></span>, <span class="catalogo-pubPlace">Ienae</span> <span class="catalogo-date">1750</span>, in 4, M. 59.
</span></section>