<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4177">
                        <span class="catalogo-item-label">4177.</span> <span class="catalogo-bibl"><span class="catalogo-author">MALVASIA Carlo Cesare</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4177">Pitture, sculture, e architetture delle chiese, luoghi pubblici, palazzi, e case della città di

                        
                        
                           Bologna</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date"> 1782</span>, in 8.
<div class="catalogo-note">In questo esemplare sono molte aggiunte manoscritte in <span class="catalogo-pb" id="page_267">267</span> fine. Non è d’uopo ripetere come tutto ciò che
   porta il nome del Malvasia faccia testo d’arte in fatto delle cose bolognesi</div><div id="catalogo-note-text-4177" class="catalogo-note-search-results truncate-line-clamp">In questo esemplare sono molte aggiunte manoscritte in <span class="catalogo-pb" id="page_267">267</span> fine. Non è d’uopo ripetere come tutto ciò che
   porta il nome del Malvasia faccia testo d’arte in fatto delle cose bolognesi</div><a id="catalogo-note-text-toggle-4177" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>