<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2626">
                     <span class="catalogo-item-label">2626.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROSSO (del) Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2626">Singolare scoperta di un monumento etrusco nella città di Fiesole</a></span>. Memoria, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1819</span>,
in 8, M. 80.
<div class="catalogo-note">Con una tavola in rame.</div>
</span></section>