<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="712">
                  <span class="catalogo-item-label">712.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVII Marci Pollionis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/712">De architectura libri decem ad Caesarem Augustum cum notis
	Philandri, Lugduni, apud Tornesium</a></span>, <span class="catalogo-date">1552</span>, in 4, fig.
	<div class="catalogo-note">Edizione pregiatissima per la correzione del testo e le cure studiose dell’autore che aumentò di molto le note
	dall’edizione che nel 1544 ne fece in Roma separatamente dal testo. Le tavole in legno non sono prive dì
	eleganza e di gusto. Il Poleni ritiene quest’edizione in tal pregio da porta immediata dopo quella di Sulpizio.</div><div id="catalogo-note-text-712" class="catalogo-note-search-results truncate-line-clamp">Edizione pregiatissima per la correzione del testo e le cure studiose dell’autore che aumentò di molto le note
	dall’edizione che nel 1544 ne fece in Roma separatamente dal testo. Le tavole in legno non sono prive dì
	eleganza e di gusto. Il Poleni ritiene quest’edizione in tal pregio da porta immediata dopo quella di Sulpizio.</div><a id="catalogo-note-text-toggle-712" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>