<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4422">
                        <span class="catalogo-item-label">4422.</span> <span class="catalogo-bibl"><span class="catalogo-author">JOULLAIN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4422">Catalogue des desseins, tableaux, estampes, bronzes, et livres du Cabinet de M. D. ***</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1763</span>, in
8.
</span></section>