<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="37">
                  <span class="catalogo-item-label">37.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GUTIERREZ Gaspar</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/37"> Noticia general para la estimacion de las Artes de la manera en que se
	  conocen las liberales de las que son mecanicas y serviles,</a></span> 
                     <span class="catalogo-pubPlace">Madrid</span>
                     <span class="catalogo-date"> 1600,</span>
                     <span class="catalogo-extent"> in 4.</span>
                  </span>
	                 <div class="catalogo-note collapse">Opera divisa in quattro libri, che trattano superficialmente questa materia.</div>
               </section>