<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="409">
                  <span class="catalogo-item-label">409.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BALDO Bernardino</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/409"> Accedit de verborum vitruvianorum significatione et vita Vitruvii eodem
	auctore et de maculis solaribus (stesso luogo ed anno).</a></span>
	                    <div id="catalogo-note-text-409" class="catalogo-note truncate-line-clamp">Comparvero questi tre opuscoli (ma rilegati in questo volume) separatamente; nel primo de’ quali confutansi le
	opinioni del Filandro, del Barbaro, del Bertano. Unita al commento sui vocaboli da una vita di Vitruvio, che non
	sappiamo quanto esser possa attendibile.</div><a id="catalogo-note-text-toggle-409" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>