<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2923">
                     <span class="catalogo-item-label">2923.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/2923"> La SACRA MEDAGLIA. Moneta d’oro del pio imperatore Tiberio Anicio Costantino privilegiata da Sisto V che si
espone nel tempio di S. Alessandro</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1694</span>, in 12, M. 73.
<div class="catalogo-note collapse">A carte dieci trovasi fra il testo riportata la medaglia.</div>
</span></section>