<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="304">
                  <span class="catalogo-item-label">304.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CARACCI Annibale</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/304">Altro esemplare con alcune tavole variate, e più fresco del primo in
	numero di 48 tav.</a></span>
	                    <div class="catalogo-note">Queste tavole elementari sono tratte da disegni originali di Annibale Carraci e marcate al basso da un P. S. F. che
	vuol dire Petrus Steffanoni fecit. Non si cita quest’opera dai bibliografi che in numero di 40 tavole, ma ne
	vennero sempre aggiunte alcune altre in diversi esemplari di mano dello stesso Carracci.</div><div id="catalogo-note-text-304" class="catalogo-note-search-results truncate-line-clamp">Queste tavole elementari sono tratte da disegni originali di Annibale Carraci e marcate al basso da un P. S. F. che
	vuol dire Petrus Steffanoni fecit. Non si cita quest’opera dai bibliografi che in numero di 40 tavole, ma ne
	vennero sempre aggiunte alcune altre in diversi esemplari di mano dello stesso Carracci.</div><a id="catalogo-note-text-toggle-304" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>