<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3728">
                     <span class="catalogo-item-label">3728.</span> <span class="catalogo-bibl"><span class="catalogo-author">FONTANA Carlo </span> cav. architetto,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3728"> Discorso sopra l’antico monte Citatorio situato in Campo Marzio</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1708</span>, in
fol., fig., seconda edizione.
— Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/3728">Anzio, e sue antichità dalla Porta di S. Giovanni ai Volsci in vicinanza del nuovo porto dello
stesso</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1710</span>.
</span></section>