<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2114">
                  <span class="catalogo-item-label">2114.</span> <span class="catalogo-bibl"><span class="catalogo-author">TERTII Francisci Bergomatis Serenis. Ferdinandi Archid. Austriae etc. etc.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2114">Pictoris Aulici ad
  invictissimum Caesarem Maximilianum II Romanorum Imp. semper Augustum Austriacae
  gentis imaginum partes quinque</a></span>. Gasper Patavinus incisor. <span class="catalogo-pubPlace">Oeniponti</span> <span class="catalogo-date">1669</span>, in gr. fol.
  <div class="catalogo-note collapse">Questo Gaspare Padov. è quello che altrimenti si denomina anche Gaspar ab avibus o Gasparo delle Oselle. Poco
  si sa di lui, se non che era nativo di Cittadella nel Padovano, trovandosi in una sua stampa delta flagellazione
  Gaspar ab avibus Cittadellensis fecit. Cinquantadue tavole compongono questa opera di bello intaglio, ove i
  ritratti in piedi dei personaggi hanno contorni figurati.</div>
  
  </span></section>