<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4021">
                     <span class="catalogo-item-label">4021.</span> <span class="catalogo-bibl"><span class="catalogo-author">GOUGH Richard</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4021">Sepulchral monuments in Great Britain applied to illustrate the history of families, manners,
habits, and arts at the different periods from the Norman conquest to the seventeenth century</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1786 1796</span>,
3 vol., in f. mas., figurato.
<div id="catalogo-note-text-4021" class="catalogo-note truncate-line-clamp">Questa è l’opera più solidamente concepita ed eseguita intorno le antichità inglesi, le quali sono assai più
rispettabili che non si crede comunemente. Le tavole numerose oltre a 235 sono intagliate con bello stile senza
superfluità di lusso meccanico, come conviensi ad opera gravissima: le erudizioni storiche tratte dalle fonti
migliori e cribrate da molta critica. I volumi sono troppo pesanti da maneggiare, ed è opportuno il suddividerla.
Quest’opera è divenuta assai rara per il poco numero degli esemplari rimasti, e per un avvenimento sgraziato
arrivato nel magazzino ove custodivasi il deposito dell’edizione. L’autore aveva divisato di farne una seconda
edizione con emende, ed aggiunte, ma premorto all’esecuzione del progetto, lasciò i materiali all’Università di
Oxford. Abbiamo veduto in questi ultimi tempi vendersi alcuni di questi esemplari sino a 300 scudi, e in Italia
sono estremamente rari, e assai poco conosciuti.</div><a id="catalogo-note-text-toggle-4021" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>