<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="939">
                  <span class="catalogo-item-label">939.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARINONI Giovan Giacomo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/939">De re iconographica cuius hodierna praxis exponitur</a></span>, <span class="catalogo-pubPlace">Vienna</span>
      <span class="catalogo-date">1751</span>, in 4, f.
      <div class="catalogo-note">Opera con moltissime tavole impresse fra il testo divisa in due parti. Estesa per insegnare le teorie e le pratiche a
      tutti quelli che nella professione d’ingegnere principalmente si dedicano all’agrimensura.</div>
      
      </span></section>