<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="370">
                  <span class="catalogo-item-label">370.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALBERTI Leonis Baptistae</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/370"> De re aedificatoria, Lib. X,</a></span> 
                     <span class="catalogo-pubPlace">Fiorentiae</span> 
                     <span class="catalogo-date">1486,</span> 
                     <span class="catalogo-extent">in fol. Editio princeps.</span>
                  </span>
	                 <div class="catalogo-note collapse">Questa edizione originale pregiatissima è impressa con bellissimi caratteri in carta buonissima La faccia del
	primo foglietto è bianca e a retro sta la dedica fatta dal Poliziano a Lorenzo de Medici. Nel secondo foglietto
	comincia il testo: Leonis Baptistae Alberti de re aedificatoria incipit, lege feliciter. Nel penultimo foglietto: Laus
	Deo honor et gloria. Leonis Baptistae Alberti florentini viri clarissimi de re aedificatoria opus elegantiisimum et
	quam maxime utile, Florentia, accuratissime impressum opera Magistri Nicolai Laurentiii Alamanni, anno
	salutis milesimo octuagesimo quinto; quarto Kalendas Januarias. Nell’ultimo foglietto sono 32 versi di Battista
	Siculo in onore dell’autore e a tergo il registro dei fogli. Esemplare in vit. dor. con custodia.</div>
	
	              </section>