<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2750">
                     <span class="catalogo-item-label">2750.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAUDELOT</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2750">Feste d’Athenes representée sur une cornaline antique du cabinet du Roy</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1712</span>, in 4, fig.
<div id="catalogo-note-text-2750" class="catalogo-note truncate-line-clamp">Dedicata al duca d’Orleans. Si tratta in questa memoria del famosi sigillo di Michelangelo, che vedesi intagliato
in rame in due modi e dall’incavo e dal rilievo, cioè a dritta e a sinistra. Questa illustrazione apparve dopo i
lunghi dispareri e contese di mad. le Hay e mons. de Mautour, di cui sono pieni i giornali di Trévoux: sempre si
spiegò il significato di questa gemma come un baccanale, o una vendemmia e provasi che non è questa la dovuta
interpretazione: su tutto ciò che riguarda questa pietra leggasi Mariette, che estesamente ne ragiona nella sua
grand’opera a p. 311.</div><a id="catalogo-note-text-toggle-2750" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>