<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="209">
                  <span class="catalogo-item-label">209.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SCHERFER</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/209"> De coloribus accidentalibus. Dissertatio physica,</a></span> 
                     <span class="catalogo-pubPlace">Vindobonae</span> 
                     <span class="catalogo-date">1761,</span>
                     <span class="catalogo-extent"> in 4, M. 25.</span>
                  </span>
	                 <div class="catalogo-note">
	                    <span class="catalogo-bibl">  – <span class="catalogo-title"><a class="catalog-link" href="/catalog/209">De emendatione telescopiorum dioptricorum per vitrum objectivum compositum,</a></span> 
                        <span class="catalogo-pubPlace">Viennae</span>
	                       <span class="catalogo-date">1762</span>,<span class="catalogo-extent"> in 4, fig.</span>
                     </span>
	                    <span class="catalogo-bibl"> – <span class="catalogo-title"><a class="catalog-link" href="/catalog/209">De iride, disser. Physica,</a></span> 
                        <span class="catalogo-pubPlace">Viennae</span> 
                        <span class="catalogo-date">1761</span>, <span class="catalogo-extent">fig. M. 25.</span>
                     </span>
	                 </div><div id="catalogo-note-text-209" class="catalogo-note-search-results truncate-line-clamp">
	                    <span class="catalogo-bibl">  – <span class="catalogo-title"><a class="catalog-link" href="/catalog/209">De emendatione telescopiorum dioptricorum per vitrum objectivum compositum,</a></span> 
                        <span class="catalogo-pubPlace">Viennae</span>
	                       <span class="catalogo-date">1762</span>,<span class="catalogo-extent"> in 4, fig.</span>
                     </span>
	                    <span class="catalogo-bibl"> – <span class="catalogo-title"><a class="catalog-link" href="/catalog/209">De iride, disser. Physica,</a></span> 
                        <span class="catalogo-pubPlace">Viennae</span> 
                        <span class="catalogo-date">1761</span>, <span class="catalogo-extent">fig. M. 25.</span>
                     </span>
	                 </div><a id="catalogo-note-text-toggle-209" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 <div class="catalogo-note">Queste dissertazioni sono presso che unicamente risguardanti la fisica.</div><div id="catalogo-note-text-209" class="catalogo-note-search-results truncate-line-clamp">Queste dissertazioni sono presso che unicamente risguardanti la fisica.</div><a id="catalogo-note-text-toggle-209" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	  
	              </section>