<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4667">
                     <span class="catalogo-item-label">4667.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZAMBONI Baldassarre</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/4667"> La libreria del N. U. signor Leopardo Martinengo patrizio veneto, dissertazione</a></span>, in <span class="catalogo-pubPlace">Brescia</span>
<span class="catalogo-date">1778</span>, in 4.
<div class="catalogo-note collapse">Si rende conto in questo più dei chiari uomini di quella famiglia, che dei libri: non ostante propone un piano per
la formazione d’un catalogo, e rende ragione dei varj motivi che in generale costituiscono la rarità dei libri.</div></span></section>