<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="517">
                  <span class="catalogo-item-label">517.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">GIOPPREDO Mario</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/517">Dell’architettura, parte prima, nella quale si tratta degli ordini
	dell’architettura de’ Greci e degl’Italiani e si danno le regole più spedite per disegnare,</a></span> 
                     <span class="catalogo-pubPlace">Napoli</span>
	                    <span class="catalogo-date">1768,</span> 
                     <span class="catalogo-extent">in fol. mass. Fig.</span>
                  </span>
	                 <div class="catalogo-note">Quest’autore aveva una felice natural disposizione per l’architettura e nell’opera sua, che non poté proseguire,
	come sembrava disposto a fare, per essere mancato a’ vivi, travedasi il buon gusto in quanto imitò e studiò
	Vitruvio e il cattivo per la pessima istruzione che ebbe da Martino Bonocore suo istitutore. Le 31 tavole sono di
	nitido e bell’intaglio in grandiosa dimensione incise da Francesco Gemignani.</div><div id="catalogo-note-text-517" class="catalogo-note-search-results truncate-line-clamp">Quest’autore aveva una felice natural disposizione per l’architettura e nell’opera sua, che non poté proseguire,
	come sembrava disposto a fare, per essere mancato a’ vivi, travedasi il buon gusto in quanto imitò e studiò
	Vitruvio e il cattivo per la pessima istruzione che ebbe da Martino Bonocore suo istitutore. Le 31 tavole sono di
	nitido e bell’intaglio in grandiosa dimensione incise da Francesco Gemignani.</div><a id="catalogo-note-text-toggle-517" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>