<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3235">
                     <span class="catalogo-item-label">3235.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUARNIERI Ottoni Aurelio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3235">Dissertazione epistolare sopra un’antica ara marmorea esistente nel Museo Nani</a></span>,
                        <span class="catalogo-pubPlace">Venezia</span><span class="catalogo-date"> 1785</span>, in 4, fig., M. 2, 78.
                        <div class="catalogo-note">L’iscrizione è intagliata in un foglio atlantico della grandezza del marmo originale</div>.
</span></section>