<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4711">
                     <span class="catalogo-item-label">4711.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUARANA Jacopo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4711">Oracoli, augurii, aruspicii, sibille, indovini della religione pagana tratti da antichissimi
monumenti ed incisi in rame da più esperti viniziani artefici</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1792</span>, in fol., fig.
<div class="catalogo-note collapse">Sono trenta tavole eseguite dai disegni del Guarana col testo intagliato in rame di contro a ciascuna tavola.
Sarebbe però troppo infelice l’idea che degli esperti artefici veneziani si formerebbe, se fidati alle parole del
frontespizio i cono <span class="catalogo-pb" id="page_322">322</span> scitori stabilissero in quest’opera il merito della Scuola Veneta.</div>
</span></section>