<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1047">
                  <span class="catalogo-item-label">1047.</span> <span class="catalogo-bibl"><span class="catalogo-author">BURKE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1047">Ricerca filosofica sull’origine delle nostre idee intorno al Sublime, ed al Bello</a></span>.
      Traduzione dall’inglese del Conte Giuseppe Marogna, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1804</span>, in 8.
      </span></section>