<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1826">
                  <span class="catalogo-item-label">1826.</span> <span class="catalogo-bibl"><span class="catalogo-author">WERNER Samuel</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1826">Judicium veterani de capillis peregrinis et ascititiis maxime clericorum,</a></span>
                     <span class="catalogo-pubPlace">Regiomonti</span><span class="catalogo-date"> 1684</span>, in 4, M. 45.
  </span></section>