<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="929">
                  <span class="catalogo-item-label">929.</span> <span class="catalogo-bibl"><span class="catalogo-author">HERRONE</span>, Aggiuntavi <span class="catalogo-title"><a class="catalog-link" href="/catalog/929">la compendiosa introduzione alla prima parte della specularia, cioè della
      scienza degli specchi di Rafani Mirami Ebreo, fisico e mattematico</a></span>, <span class="catalogo-pubPlace">Ferrara</span> <span class="catalogo-date">1582</span>.
      </span></section>