<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2594">
                     <span class="catalogo-item-label">2594.</span> <span class="catalogo-bibl"><span class="catalogo-author">LANZI Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2594">De’ vasi antichi dipinti, volgarmente chiamati etruschi</a></span>. Dissertazioni tre, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1806</span>, in 8
figurato.
</span></section>