<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2344">
                  <span class="catalogo-item-label">2344.</span> <span class="catalogo-bibl"><span class="catalogo-author">PASSERI Giambattista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2344">Vite de’ pittori, scultori e architetti che hanno lavorato in Roma, morti
    dal <span class="catalogo-pb" id="page_397">397</span>1641 fino al 1673</a></span>. Prima edizione, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1772</span>, in quarto.
    <div class="catalogo-note collapse">Questa è la continuazione del Baglioni.</div>
    
    </span></section>