<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2200">
                  <span class="catalogo-item-label">2200.</span> <span class="catalogo-bibl"><span class="catalogo-author">BALDINUCCI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2200">Notizie dei professori del disegno da Cimabue in qua</a></span>, distinta in secoli e
    decennali. Edizione accresciuta di annotazioni da Domenico Maria Manni, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1767 a
    1774</span>, in 4, picc. tomi XXI, legati in 7 volumi.
    </span></section>