<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3090">
                     <span class="catalogo-item-label">3090.</span> <span class="catalogo-bibl"><span class="catalogo-author">AMADUTII Jo. Christoph.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3090">Donaria duo graece loquentia, quorum unum in tabula argentea apud Moniales Saxo-
Ferratenses S. Clarae, alterum in vexillo serico opere Phrygionico apud monachos avellanenses asservantur</a></span>,
<span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1774</span>, in 8, M. 60.
<div class="catalogo-note collapse">Con due grandi tavole ove sono riportate le iscrizioni dei due monumenti.</div>
</span></section>