<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="48">
                  <span class="catalogo-item-label">48.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">QUATRÈMERE de Quinci</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/48"> Considerations morales sur la destination des ouvrages de l’art, ou de
	  l’influence de leur emploi sur le genie et le goût,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span>
                     <span class="catalogo-date"> 1815,</span>
                     <span class="catalogo-extent">in 8, M. 102.</span>
                  </span>
	                 <div class="catalogo-note">Opera suscettibile di maggior estensione, piena di belle idee e fino criterio</div><div id="catalogo-note-text-48" class="catalogo-note-search-results truncate-line-clamp">Opera suscettibile di maggior estensione, piena di belle idee e fino criterio</div><a id="catalogo-note-text-toggle-48" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
               </section>