<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1107">
                  <span class="catalogo-item-label">1107.</span> <span class="catalogo-bibl"><span class="catalogo-author">OVIDE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1107">Les Métamorphoses en latin et en français de la traduction de M. l’abbé Banier</a></span> avec
      des explications historiqnes et des gravures sur les desseins des meilleurs peintres français par
      les soins des Sieurs Le Mire et Basan graveurs, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1767, 1771</span>, 4 vol. en 4, avec 141
      planches.
      <div class="catalogo-note">Prima edizione e ricchissima, per riconoscer la quale, ol <span class="catalogo-pb" id="page_196">196</span>tre alla freschezza dette stampe, osservisi che
      nella seconda, alla pag. 215 del tomo terzo è posto il num. 109 e la data del titolo del tomo quarto è segnata 1770
      invece che 1771.</div><div id="catalogo-note-text-1107" class="catalogo-note-search-results truncate-line-clamp">Prima edizione e ricchissima, per riconoscer la quale, ol <span class="catalogo-pb" id="page_196">196</span>tre alla freschezza dette stampe, osservisi che
      nella seconda, alla pag. 215 del tomo terzo è posto il num. 109 e la data del titolo del tomo quarto è segnata 1770
      invece che 1771.</div><a id="catalogo-note-text-toggle-1107" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>