<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2561">
                     <span class="catalogo-item-label">2561.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2561">CARRO o biga di metallo antico etrusco usato nei giuochi circensi conservato presso il sig. Stefano Pazzaglia,
intagliato in due vedute in foglio atlantico da Francesco Piranesi e dedicato a Pio VI</a></span>, M. 84.
<div id="catalogo-note-text-2561" class="catalogo-note truncate-line-clamp">Ora questo monumento si vede nel Museo Vaticano.</div><a id="catalogo-note-text-toggle-2561" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>