<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="992">
                  <span class="catalogo-item-label">992.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAILLIER</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/992">L’architecture, poéme en trois chants</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1780</span>, en 8.
      <div class="catalogo-note collapse">Operetta di 150 pagine arricchita di molte annotazioni.</div>
      
      </span></section>