<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="240">
                  <span class="catalogo-item-label">240.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">WATIN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/240">L’art du peindre, doreur, vernisseur,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1802</span>,<span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note">Opera pienissima di utili avvertimenti per le pratiche d’ogni sorta di lavori di pennello.</div><div id="catalogo-note-text-240" class="catalogo-note-search-results truncate-line-clamp">Opera pienissima di utili avvertimenti per le pratiche d’ogni sorta di lavori di pennello.</div><a id="catalogo-note-text-toggle-240" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>