<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="77">
                  <span class="catalogo-item-label">77.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BARDON Dandré</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/77"> Traité de peinture suivi d’un essais sur la sculture, et un catalogue des artistes
	  les plus fameux de l’Ecole Française,</a></span> 
                     2 vol. in 8, leg. in un solo, 
                     <span class="catalogo-pubPlace">Paris</span>
                     <span class="catalogo-date"> 1765.</span>
                  </span>
	              </section>