<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3881">
                     <span class="catalogo-item-label">3881.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3881">SCIOGLIMENTO d’alcune difficoltà insorte contro la mossa dei cavalli colossali sul Quirinale all’emin. signor
cardinal Pallotta.</a></span>
<div class="catalogo-note">Questa è una giudiziosa lettera dell’Antinori, che venne destinato all’esecuzione del progetto che ebbe effetto;
accompagnata da altra lettera a lui diretta da Venezia li 22 nov. 1783 da C.P.B. sullo stesso argomento, in 4, M.
7.</div><div id="catalogo-note-text-3881" class="catalogo-note-search-results truncate-line-clamp">Questa è una giudiziosa lettera dell’Antinori, che venne destinato all’esecuzione del progetto che ebbe effetto;
accompagnata da altra lettera a lui diretta da Venezia li 22 nov. 1783 da C.P.B. sullo stesso argomento, in 4, M.
7.</div><a id="catalogo-note-text-toggle-3881" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>