<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2141">
                  <span class="catalogo-item-label">2141.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2141">VITA, Passio et Resurrectio Jesu, Christi, variis iconibus a celebre pict. Martino de Vos
  expressa ab Adr. Collart nunc primum in ses incisis </a></span>, <span class="catalogo-pubPlace">Antuerpiae</span>, <div id="catalogo-note-text-2141" class="catalogo-note truncate-line-clamp">Io. Galle excud.
  Cinquantuna tavola compreso il frontespizio formano questo libro: lavorarono anche altri intagliatori come
  vedesi sotto ciascuna stampa.</div><a id="catalogo-note-text-toggle-2141" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a> </span>
  
  — Aggiugnesi: <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2141">Acta Apostolorum</a></span>. Elegantiss. Monochromatis a duobus pictoribus belgis
  summo artificio delineata, Martino Hems Kerchio et Jo. Stradano, <span class="catalogo-pubPlace">Antuerp.</span>, Jo. Gallaeus
  edidit.<div id="catalogo-note-text-2141" class="catalogo-note truncate-line-clamp">
  Trentacinque tavole compreso il frontespizio istoriato compongono quest’opera.</div><a id="catalogo-note-text-toggle-2141" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  </span>
  — Aggiungonsi: <span class="catalogo-bibl">Imago bonitatis illius a Martirio de Vos fig. et a Jo. Sadeler sculpta et
  excusa.
  In queste 8 tavolo compreso il frontespizio sono le sette giornate della Creazione.
  </span>
  — Aggiungonsi: <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2141">Bonorum et malorum consensio, a Martino de Vos fig. et a Jo. Sadeler
  Sculp. etc. caeptum et absolutum</a></span>, <span class="catalogo-pubPlace">Maguntiae</span> <span class="catalogo-date">1586</span>.
  <div id="catalogo-note-text-2141" class="catalogo-note truncate-line-clamp">Quindici tavole tratte dal Genesi.</div><a id="catalogo-note-text-toggle-2141" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  </span>
  — Aggiungonsi: <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2141">Boni et mali Scientia et quid ex horum cognitione a condito mando
  succreverunt declaratio</a></span>, <span class="catalogo-pubPlace">Ant.</span> <span class="catalogo-date">1583</span>, a Martino de Vos fig. a Jo. Sadeler excusa.
  <div id="catalogo-note-text-2141" class="catalogo-note truncate-line-clamp">La storia de’primi Padri è espressa in in tavole.
  </div><a id="catalogo-note-text-toggle-2141" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a></span>
  — In fine: <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2141">Il Simbolo Apostolico figurato da Martino de Vos in 12 tavole</a></span> <span class="catalogo-author">Matthaei Florimi
  
                  
                  
  
  formis.</span>
  <div id="catalogo-note-text-2141" class="catalogo-note truncate-line-clamp">Questo volume nelle sei opere contiene tavole 133.
  </div><a id="catalogo-note-text-toggle-2141" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a></span>
               </section>