<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3458">
                     <span class="catalogo-item-label">3458.</span> <span class="catalogo-bibl"><span class="catalogo-author">TAYLOR Combe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3458">A description of the collection of ancient terracottas in the British Museum with engravings</a></span>,
<span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1810</span>, in 4, fig.
<div class="catalogo-note">Edizione elegantissima, ove le incisioni sono della più bella esecuzione, conservando il carattere esattissimo dei
monumenti. Le tavole sono 40.</div>
</span></section>