<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2956">
                     <span class="catalogo-item-label">2956.</span> <span class="catalogo-bibl"><span class="catalogo-author">PACCIAUDI Paolo M.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2956">Osservazioni sopra alcune singolari medaglie</a></span>, 
                        <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1748</span>, in 4, fig., M. 26 e 38.
<div class="catalogo-note collapse">Quattro sono le medaglie coi loro rovesci figurate nel frontespizio. La materia è divisa in quattro articoli o
dissertazioni.</div>
</span></section>