<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="631">
                  <span class="catalogo-item-label">631.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">REVESI Bruti Ottavio</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/631">Archisesto per formar con facilità li cinque ordini d’architettura,</a></span>
	                    <span class="catalogo-pubPlace">Vicenza</span> 
                     <span class="catalogo-date">1627,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Oltre la tavola che rappresenta l’archisesto vi sono 49 tavole di operazioni in tutti gli ordini disegnate e intagliate
	con gusto ed intelligenza profonda dell’arte. Il meccanismo però suggerito dall’architetto poco fu messo in
	pratica, poiché è un gran perditempo e non compensa della lentezza dell’opera colla precisione, che in tanti altri
	modi si può ottenere.</div>
	
	              </section>