<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3512">
                     <span class="catalogo-item-label">3512.</span> <span class="catalogo-bibl"><span class="catalogo-author">La FOLIE M. Ch. I.</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3512"> Mémoires historiques relatives à la fonte, et à l’elevation de la statue equestre de Henri IV sur
le terraplein du Pont neuf à Paris</a></span>, <span class="catalogo-pubPlace">Paris</span><span class="catalogo-date"> 1819</span>, in 8, fig.
<div class="catalogo-note">La statua fu l’opera dello scultore Le Mot.</div>
</span></section>