<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="560">
                  <span class="catalogo-item-label">560.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">MARQUEZ D. Pietro Gias.</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/560">Dell’ordine dorico, Ricerche dedicate all’Accademia di Saragozza,</a></span>
	                    <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1803,</span> 
                     <span class="catalogo-extent">in 8, fig.</span>
                  </span>
	                 <div class="catalogo-note">Con 10 tavole in rame. Operetta piena di avvertimenti giudiziosi, fondata sui principi dell’arte
	specialmente teorici.</div>
	              </section>