<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1067">
                  <span class="catalogo-item-label">1067.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1067">NIPHI Augustini medici ad illustriss. Joannam Aragoniam Tagliacotii Principem de pulcro
      liber</a></span>, itera de amore liber, <span class="catalogo-pubPlace">Romae</span>, ap. ant. Bladum, anno D. <span class="catalogo-date">1531</span>, in carta grande in 4.
      </span></section>