<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3506">
                     <span class="catalogo-item-label">3506.</span> <span class="catalogo-bibl"><span class="catalogo-author">FALCONET Etienne</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3506">Observations sur la statue de M. Aurele, et sur d’autres objets relatifs aux beaux arts à M.
Diderot</a></span>, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1771</span>, in 12.
<div id="catalogo-note-text-3506" class="catalogo-note truncate-line-clamp">Libro piccante per l’ardimento, che eccede, ma non senza alcune massime buone, che perdono molto del loro
pregio per la soverchia arroganza nei giudizj.</div><a id="catalogo-note-text-toggle-3506" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>