<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4116">
                     <span class="catalogo-item-label">4116.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4116">VITRUVIUS Britannicus. Ou l’architecte britannique, contenant les plan, l’élévations, et sections des bâtimens
réguliers tant particuliers que publiques de la Grande Brétagne, compris en 200 pla., en 2 tomes</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1715</span>.
<div class="catalogo-note">Il frontespizio è inglese, e francese; ma il testo dell’opera non è che inglese. Si stampò un 3 volume di
quest’opera con altre 100 tavole nel 1725. Questi tre volumi comparvero col nome del signor Campbell. Il 4
volume contenente altre 100 tavole fu pubblicato dai signori Wolfe, e Gandon architetti nel 1767. Il 5 vol. con
tavole 100 nel 1771. <span class="catalogo-pb" id="page_258">258</span>
Il signor Giorgio Richardson architetto continuò quest’opera sotto il titolo di Nouveau Vitruve Britannique,
pubblicando nel 1802 un volume di 52 tav. in maggior foglio, e un 2 nel 1808 con tav. 70.
Quest’opera fin’ora comprende 7 volumi in gran foglio, essendo a notarsi che i due ultimi son stampati in una
carta più grande.</div><div id="catalogo-note-text-4116" class="catalogo-note-search-results truncate-line-clamp">Il frontespizio è inglese, e francese; ma il testo dell’opera non è che inglese. Si stampò un 3 volume di
quest’opera con altre 100 tavole nel 1725. Questi tre volumi comparvero col nome del signor Campbell. Il 4
volume contenente altre 100 tavole fu pubblicato dai signori Wolfe, e Gandon architetti nel 1767. Il 5 vol. con
tavole 100 nel 1771. <span class="catalogo-pb" id="page_258">258</span>
Il signor Giorgio Richardson architetto continuò quest’opera sotto il titolo di Nouveau Vitruve Britannique,
pubblicando nel 1802 un volume di 52 tav. in maggior foglio, e un 2 nel 1808 con tav. 70.
Quest’opera fin’ora comprende 7 volumi in gran foglio, essendo a notarsi che i due ultimi son stampati in una
carta più grande.</div><a id="catalogo-note-text-toggle-4116" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>