<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2609">
                     <span class="catalogo-item-label">2609.</span> <span class="catalogo-bibl"><span class="catalogo-author">ORSINI Baldassare</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2609">Dissertazione su di una porta etrusca in Ispello nell’Umbria</a></span>, <span class="catalogo-pubPlace">Perugia</span> <span class="catalogo-date">1807</span>, in 8, fig., M. 39.
<div class="catalogo-note collapse">Con due tavole in rame.</div>
</span></section>