<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2300">
                  <span class="catalogo-item-label">2300.</span> <span class="catalogo-bibl"><span class="catalogo-author">LAZZARI D. Andrea arciprete</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2300">MEMORIE d’alcuni più celebri pittori d’Urbino dal medesimo
    arrichite con opportuni aneddoti, ed annotazioni non più stampate in addietro</a></span>, <span class="catalogo-date">1800</span>, in 4. gr.
    <div class="catalogo-note">Non contiene questo volume che le memorie di Rafaello <span class="catalogo-pb" id="page_391">391</span> Sanzio, di Girolamo Bartolommeo della Genga
    e di Federico Barocci; le quali vennero stampate separatamente e riunite.</div><div id="catalogo-note-text-2300" class="catalogo-note-search-results truncate-line-clamp">Non contiene questo volume che le memorie di Rafaello <span class="catalogo-pb" id="page_391">391</span> Sanzio, di Girolamo Bartolommeo della Genga
    e di Federico Barocci; le quali vennero stampate separatamente e riunite.</div><a id="catalogo-note-text-toggle-2300" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>