<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="656">
                  <span class="catalogo-item-label">656.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SCAMOZZI Vincenzo</span> architetto vicentino, <span class="catalogo-title"><a class="catalog-link" href="/catalog/656">Discorsi sopra le antichità di Roma con 40 tavole in
	rame, Venezia, presso Francesco Ziletti,</a></span> 
                     <span class="catalogo-date">1583,</span> 
                     <span class="catalogo-extent">in fol. p. fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Queste tavole alla pittoresca vennero intagliate da Giovan Battista Pittoni vicentino. Non fu mai fatta alcuna
	seconda edizione di quest’opera che ritiensi fra libri che hanno pregio anche di rarità.</div>
	
	              </section>