<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1623">
                  <span class="catalogo-item-label">1623.</span> <span class="catalogo-bibl"><span class="catalogo-author">CHAMBERS</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1623">Design of Chinese buildings furniture, dresses, machines and utensils, engraved
    by <span class="catalogo-pb" id="page_281">281</span> the best hands from the originals, drawn in China</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1753</span>, in fol. fig.
    <div class="catalogo-note collapse">Sono 11 tavole ben intagliate oltre un elenco, una prefazione e 19 pagine d’illustrazione.</div>
    
    </span></section>