<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3581">
                     <span class="catalogo-item-label">3581.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3581">ANTIQUITATES sacrae et civiles romanorum explicatae: sive commentarii historici, mithologici, philologici auctore
M.A.U.N.</a></span>, <span class="catalogo-pubPlace">Hagae Comitum</span> <div class="catalogo-note collapse">1726</div>, in fol., fig., lat. e fran.
<div class="catalogo-note collapse">Sono 84 tavole intagliate in rame. L’opera è piuttosto appariscente per la sua forma esterna, che per suo merito
intrinseco.</div>
</span></section>