<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4564">
                        <span class="catalogo-item-label">4564.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4564">CATALOGUE des planches dìaprès les plus beaux tableaux, et desseins, qui composent le fond du H. L. Basan,
                           marchand d’estampes</a></span>, <span class="catalogo-pubPlace">Paris</span><span class="catalogo-date"> 1802</span>, in 4.
</span></section>