<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2535">
                     <span class="catalogo-item-label">2535.</span> <span class="catalogo-bibl"><span class="catalogo-author">MILLIN Aubin Louis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2535">Egyptiaques ou recueil de quelques monumens egyptiens inedits</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1816</span>, in 4, fi., M.
77.
<div class="catalogo-note">Sono 12 tavole ben intagliate, con poche pagine d’illustrazioni.</div>
</span></section>