<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="525">
                  <span class="catalogo-item-label">525.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">GUARINI Padre D. Guarino</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/525">Disegni d’architettura civile ed ecclesiastica,</a></span> 
                     <span class="catalogo-pubPlace">Torino</span> 
                     <span class="catalogo-date">1668,</span> 
                     <span class="catalogo-extent">in fol.
	fig.</span>
                  </span>
	                 <div class="catalogo-note">Un avviso al lettore indica che, essendo morto il padre Guarino avanti che potessero pubblicarsi le sue opere
	d’architettura, il pubblico, (o lo stampatore) era così impaziente di farne noti i disegni, che si diedero alla luce
	separati dal testo. Le medesime tavole servirono all’opera dell’Architettura civile.</div>
	
	              </section>