<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="170">
                  <span class="catalogo-item-label">170.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MULLERI Petri</span>, ec., <span class="catalogo-title"><a class="catalog-link" href="/catalog/170">De pictura,</a></span> 
                     <span class="catalogo-pubPlace">Janae</span> 
                     <span class="catalogo-date">1692,</span> 
                     <span class="catalogo-extent">in 4.</span> Sive praecognita picturae, De excellentia artis
	  pictoriae, De privilegiis tam picturae quam pictorum, De abusu picturae et poena pictorum, M
	  45.</span>
	                 <div class="catalogo-note">Questa è una dissertazione, ossiano tesi sostenute in una pubblica funzione all’università di Jena.</div>	  
	              </section>