<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1766">
                  <span class="catalogo-item-label">1766.</span> <span class="catalogo-bibl"><span class="catalogo-author">PORCACCHI Tommaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1766">Funerali antichi di diversi popoli e nazioni con le figure in rame di
  
                  
                  
  
  Girolamo Porro</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1574</span>, presso Simone Galignani, in 4, fig. Prima Edizione.
  <div class="catalogo-note collapse">Nessun merito avendo la seconda fatta nel 1591: poiché le tavole erano di già molto logorate. Le tavole
  compreso il frontespizio figurato sono 24.</div>
  
  </span></section>