<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="693">
                  <span class="catalogo-item-label">693.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVII L. Pollionis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/693">De architectura libri decem, editio princeps.</a></span>
	<div class="catalogo-note">Nel principio è la lettera di Giovanni Sulpizio al lettore: segue l’indice: poi la lettera del Cardinal Riario a
	Giovanni Sulpizio: vengono i dieci libri di Viuuvio: che finiscono con una carta di errata col registro. In fine
	Sexti Iulii Frontini Consularis de acques quae in urbem influunt; libellus mirabilis. Dell’ultima carta è il registro
	dei fogli, in fol., senza luogo ed anno.
	Questa è la più rara e pregiata edizione di quest’opera per esser la prima non solo, ma perché il suo testo è
	bastantemente corretto: esemplare magnifico in vit. dor. Era della biblioteca Corsini.</div>
	
	</span></section>