<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="718">
                  <span class="catalogo-item-label">718.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVIO M.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/718">I dieci libri tradotti e commentati dal Barbaro</a></span>, <span class="catalogo-pubPlace">Venezia</span>, appresso il Franceschi,
	<span class="catalogo-date">1567</span>, in 4, fig.
	<div id="catalogo-note-text-718" class="catalogo-note truncate-line-clamp">Questo è l’esemplare autografo mi quale studiò per diver <span class="catalogo-pb" id="page_134">134</span> si anni Vincenzo Scamozzi, ed è tutto
	postillato di sua mano con incredibile ricchezza di osservazioni criticale e preziosissime: sonovi pagine intere
	d’illustrazioni e da questo prezioso manoscritto sarebbesi tratta una nuova e singolar edizione, in cui si sarebbero
	viste in conflitto le opinioni degli uomini più dotti. Leggesi infine:
	«Fine sia alla fatica fatta da me Vincenzo Scamozzi vicentino nel leggere Vitruvio, commentato da Monsig,
	Daniele Barbaro eletto Patriarca d’Aquileia, per la terza volta, con l’havere notato tutte le cose notabili ed in
	tutto ho trovalo come nelle postille margine si vedi a perla prima lettera notato. E questo principiai li 4 aprile
	1574 sino al di d’oggi li 2 Luglio 1574, il che posso dire la prima volta che io il lessi, haverlo udito, la seconda,
	la quale fu senza il comento del Zoppino, averlo goduto; e la terza che è questa, averlo giudicato: nel che ho
	conosciuto quanto sia da seguirlo a chi vuole di tal fatica haver meritevol frutto e così ogni studio voglio in esso
	porre, trovando che egli ha ragionato di tutte, o almeno le più difficili e bisognevoli parti dell’architettura e
	bisogni dell’architetto il che se molti conoscessero, non così facilmente si vanterebbero di essere architetti, che
	appena sanno quello che gli appartiene. Vincenzo Scamozzi Vicentino.»
	Questo esemplare appartenne all’architetto Selva, dopo la cui morte fu acquistato dal conte Rizzo Patarol, il
	quale veggendo che poteva con decoro illustrare questa nostra serie di vitruviane preziosità, ce ne fece con
	nobilissima munificenza il generosissimo dono, sebbene sia egli fornito d’altre molte sontuosità in materia di
	libri i più ricercati.</div><a id="catalogo-note-text-toggle-718" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>