<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2223">
                  <span class="catalogo-item-label">2223.</span> <span class="catalogo-bibl"><span class="catalogo-author">CALVI Jacopo Alessandro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2223">Memorie della vita ed opere di Francesco Raibolini</a></span>, detto il
    Francia, pittor bolognese, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1812</span>, in 8, M. 37.
    </span></section>