<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="614">
                  <span class="catalogo-item-label">614.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">POLIPHILI (Francisci Columnae)</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/614">La stessa. Ristampato di nuovo e ricorretto con somma
	diligenza a maggior commodo dei lettori,</a></span> 
                     <span class="catalogo-pubPlace">in Venezia</span> 
                     <span class="catalogo-date">nell’anno 1545,</span> in casa de’ figliuoli di
	Aldo. Esemplare non mancante di alcuna delle prerogative del primo per conservazione e
	magnificenza; ed intonso.</span>
	                 <div class="catalogo-note">Questi due esemplari sono i più belli che da noi siansi veduti <span class="catalogo-pb" id="page_111">111</span> di questa elegantissima e poetica finzione.
	La lettera b che si nova in diverse tavole, fece credere ad alcuni che queste fossero di Giovanni Bellino o di
	Gentile Bellino, e fra gli altri cosi opinò il Federici sulle memorie trevigiane. L’abate Zani al contrario adduce
	motivi congetturali per crederle del Bonconsigli e cita altre opere di quello stile, ove trovasi questa lettera
	preceduta da una J e seguita da un V; il che si accorda coll’uno e coll’altro maestro, poiché il nome di Giovanni
	era loro comune Joannis e la patria Venezia del primo e Vicenza del secondo, comincia per V; ma non ci sembra
	potere farsi altra induzione ben chiara, se non che la scuola di dove li disegni escirono è per lo stile certamente
	veneziana: e notaremo che per gli intagli in legno non occorreva loro maggior lavoro che non sarebbe occorso
	disegnare in carta, tracciando sulle tavolette pochi tratti di penna: puri meccanici intagliatori operavano il
	rimanente: onde anche uomini sommi prestavansi a quest’cura con pocchissima perdita del loro tempo. Questo
	cenno risponderà a molle obbiezioni che potrebbero farsi.</div><div id="catalogo-note-text-614" class="catalogo-note-search-results truncate-line-clamp">Questi due esemplari sono i più belli che da noi siansi veduti <span class="catalogo-pb" id="page_111">111</span> di questa elegantissima e poetica finzione.
	La lettera b che si nova in diverse tavole, fece credere ad alcuni che queste fossero di Giovanni Bellino o di
	Gentile Bellino, e fra gli altri cosi opinò il Federici sulle memorie trevigiane. L’abate Zani al contrario adduce
	motivi congetturali per crederle del Bonconsigli e cita altre opere di quello stile, ove trovasi questa lettera
	preceduta da una J e seguita da un V; il che si accorda coll’uno e coll’altro maestro, poiché il nome di Giovanni
	era loro comune Joannis e la patria Venezia del primo e Vicenza del secondo, comincia per V; ma non ci sembra
	potere farsi altra induzione ben chiara, se non che la scuola di dove li disegni escirono è per lo stile certamente
	veneziana: e notaremo che per gli intagli in legno non occorreva loro maggior lavoro che non sarebbe occorso
	disegnare in carta, tracciando sulle tavolette pochi tratti di penna: puri meccanici intagliatori operavano il
	rimanente: onde anche uomini sommi prestavansi a quest’cura con pocchissima perdita del loro tempo. Questo
	cenno risponderà a molle obbiezioni che potrebbero farsi.</div><a id="catalogo-note-text-toggle-614" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>