<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="644">
                  <span class="catalogo-item-label">644.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SALVIATI Josephe</span> pittore, <span class="catalogo-title"><a class="catalog-link" href="/catalog/644">Regola di far perfettamente col compasso la voluta et del capitello
	ionico et d’ogni altra sorta,</a></span> 
                     <span class="catalogo-pubPlace">in Vinetia,</span> 
                     per Francesco Marcolini, 
                     <span class="catalogo-date">1552.</span>
                  </span>
	                 <div class="catalogo-note collapse">Non nono questi che quattro foglietti di stampa estremamente rari. Nella prima pagina sta il descritto frontespizio
	in un’antiporta figurata; la seconda è bianca; la terza contiene la dedica a monsig. Barbaro; la quarta la voluta
	intagliata; la quinta e la sesta la regola per delinearle; la settima un’altra figura intagliata della voluta; l’ottava ed
	ultima in mezzo a un cartellone intagliato l’epigrafe Soli Deo honor et gloria; in Vinegia, Giugno 1552.</div>
	                 
	                 
	                 
	
	              </section>