<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2475">
                     <span class="catalogo-item-label">2475.</span> <span class="catalogo-bibl"><span class="catalogo-author">ABREGE</span><span class="catalogo-title"><a class="catalog-link" href="/catalog/2475"> des transactions philosophiques de la Societé Royale de Londres: redigé par Gibelin. Onzieme Partie:
                        antiquité, et beaux arts</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1789 e 1790</span>, vol. 2, en 8, fig.
</span></section>