<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="494">
                  <span class="catalogo-item-label">494.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">DURAND J. N. L.</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/494">Précis des leçons d’architecture données à l’Ecole Polytechnique,</a></span>
                     <span class="catalogo-extent"> 2 vol. in 4,</span>
	                    <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1830.</span>
	                    <div class="catalogo-note">In questi due volumi contengonsi 64 tavole intagliate a contorni da Normand con moltissime figure in piccole
	dimensioni. L’autore segue un modo d’instituzioni suo nuovo e particolare, che servir potrebbe con qualche
	modificazione a indurre utili varietà nel sistema generale di questi insegnamenti.</div>
                  </span>
	
	              </section>