<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="766">
                  <span class="catalogo-item-label">766.</span> <span class="catalogo-bibl"><span class="catalogo-author">MILIZIA</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/766">Lo stesso dedicato al Conte Algarotti</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1733</span>, in 4, fig.
	<div class="catalogo-note">Queste ristampe furono ricorrette e mutilate dall’ autore in più luoghi, altrimenti non ne sarebbe stata permessa
	la stampa. Il numero delle tavole è lo stesso che nell’edizione originale.</div>
	
	</span></section>