<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4085">
                     <span class="catalogo-item-label">4085.</span> <span class="catalogo-bibl"><span class="catalogo-author">RUBENS Pietro Paolo</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/4085"> La stessa opera colla 2 parte contenente altre 67 tavole, oltre quelle della prima parte</a></span>, in
fol., fig., senza data.
<div class="catalogo-note">In questa seconda edizione i caratteri, e la carta non sono come nella prima ma di molto inferiori: l’ortografia
dell’avviso ai lettori con maggiori errori di stampa, e verosimilmente l’opera fu ridotta al completo dopo la prima
parte pubblicata da Rubens, che nell’avviso indica di voler dare un piccol numero di questi edifici; e distratto da
altri lavori in Ispagna, e in Inghilterra avrà lasciato i palazzi di Genova, poiché già in quella prima parte aveva
dati i più insigni pel gusto dell’architettura, se non pel lusso della meccanica esecuzione. Ora si riproducono i
palazzi di Genova nuovamente in diversa maniera per quaderni.</div>
</span></section>