<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="270">
                  <span class="catalogo-item-label">270.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">ZANNI Pietro</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/270">ENCICLOPEDIA metodica, critico-ragionata delle belle arti.</a></span>
	                    <div class="catalogo-note collapse">Quest’opera, che si annunzia con un immenso apparato, è il frutto d’una serie senza confine di cognizioni che
	questo benemerito autore ha riunito nel corso della miglior parte della sua vita e che sta rendendo ora di pubblico
	benefizio, ma che domanda un luogo periodo di tempo per essere pubblicata.</div>
                  </span>
               </section>