<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2510">

                     <span class="catalogo-item-label">2510.</span> <span class="catalogo-bibl"><span class="catalogo-author">ADLER Christianus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2510">Museum Cuficum Borgianum Velitris illustratum</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1782</span>, in 4, fig.
<div class="catalogo-note collapse">Bella e nitida edizione pei caratteri orientali di cui è ripiena con 12 tavole di accurato intaglio in rame. Esemplare
di dedica in vit. dorato in carta grande.</div>
</span></section>