<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="312">
                  <span class="catalogo-item-label">312.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">COLOMBINA Gasparo padovano</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/312">Aggiuntivi li primi elementi della simmetria, ossia
	commensurazione del disegno delli corpi umani e naturali al giovamento delli studiosi di

	questa <span class="catalogo-pb" id="page_54">54</span>nobil arte. Autore Filippo Esegrenio, pittore ed antiquario.</a></span>

                  </span>
	                 <div class="catalogo-note collapse">Senz’anno, nome, luogo di stampa, con 24 bellissime tavole intagliate in rame di prima freschezza.
	– Per essere dello stesso autore ed amatore di belle arti abbiamo registrato anche il seguente.</div>
	
	              </section>