<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="725">
                  <span class="catalogo-item-label">725.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVIO M.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/725">I dieci libri dell’architettura tradotti e commentati da Monsig. Daniele Barbaro</a></span>
	ed ora in questa nuova impressione per maggior comodità del lettore le materie di ciascun
	libro ridotte sotto capi, <span class="catalogo-pubPlace">Venezia</span>, presso Alessandro de’ Vecchi, <span class="catalogo-date">1629</span>.
	<div class="catalogo-note">Quest’edizione è presa dalla precedente del 1567 colla differenza di essere assai meno corretta, ed essendo state
	dallo stampatore in più luoghi omesse tavole necessarie, o sostituite alcune altre che non hanno che fare col testo.
	Ma ciò che è più strano si è che il de’ Vecchi editore, ponendo il suo nome al proemio che aveva prodotto il
	Franceschi nella più antica citata edizione, ove parla del Barbaro si esprime come se avesse avuto dialogo con lui
	nelle materie vitruviane ed era morto 59 anni prima di questa seconda edizione: il che prova che ristampò e fece
	suo il proemio del Franceschi, senza leggerlo.</div><div id="catalogo-note-text-725" class="catalogo-note-search-results truncate-line-clamp">Quest’edizione è presa dalla precedente del 1567 colla differenza di essere assai meno corretta, ed essendo state
	dallo stampatore in più luoghi omesse tavole necessarie, o sostituite alcune altre che non hanno che fare col testo.
	Ma ciò che è più strano si è che il de’ Vecchi editore, ponendo il suo nome al proemio che aveva prodotto il
	Franceschi nella più antica citata edizione, ove parla del Barbaro si esprime come se avesse avuto dialogo con lui
	nelle materie vitruviane ed era morto 59 anni prima di questa seconda edizione: il che prova che ristampò e fece
	suo il proemio del Franceschi, senza leggerlo.</div><a id="catalogo-note-text-toggle-725" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>