<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2235">
                  <span class="catalogo-item-label">2235.</span> <span class="catalogo-bibl"><span class="catalogo-author">CICOGNARA Leopoldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2235">Vita di S. Lazzaro monaco e pittore preceduta da alcune osservazioni
    sulla bibliomania</a></span>, <span class="catalogo-pubPlace">Brescia</span> <span class="catalogo-date">1807</span>, in 8.
    <div class="catalogo-note">Con una lettera (che leggesi al principio) questo libretto fu intitolato al pittore Giuseppe Bossi e la vita di S.
    Lazzaro non è che la ristampa del raro e ridicolo opuscolo che porta questo nome. Esemplare in carta velina.
    <span class="catalogo-bibl">Vedi <span class="catalogo-author">Baldi</span>.</span></div>
    
    </span></section>