<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1588">
                  <span class="catalogo-item-label">1588.</span> <span class="catalogo-bibl"><span class="catalogo-author">BERTELLI Ferdinandi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1588">Omnium fere gentium nostrae aetatis habitus numquam ante hac editi</a></span>.
    Ferdinandus Bertelli aeneii typis excudebat, <span class="catalogo-pubPlace">Venetiis</span> anno <span class="catalogo-date">1569</span>, in 4, fig.
    <div class="catalogo-note">Generalmente tutti i volumi di tal materia intagliati in questo secolo sono riputati assai rari, poiché passando per
    solazzo nelle mani di molte persone gli esemplari sono periti. Le tavole sono numerate fino alla 60 che ha per
    titolo Hispania rustica: ne seguono altre 4 coi cartellini in bianco prive di denominazione e di numero. Poi
    chiudono la serie otto teste di acconciature femminili molto stravaganti, che non sembrano appartenere a questo
    intagliatore e non hanno alcun indizio di luogo, di età e d’incisore.</div>
    
    </span></section>