<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2813">
                     <span class="catalogo-item-label">2813.</span> <span class="catalogo-bibl"><span class="catalogo-author">CORSINI Eduardi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2813">Epistolae tres quibus Sulpiciae Dryantillae, Aureliani ac Vaballathi Augustorum nummi
explicantur et illustrantur</a></span>, <span class="catalogo-pubPlace">Liburni</span> <span class="catalogo-date">1761</span>, in 4, fig., M. 11.
</span></section>