<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="110">
                  <span class="catalogo-item-label">110.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DOLCE Messer Lodovico</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/110"> Dialogo della pittura, intitolato l’Aretino: ove si ragiona della dignità
	  della pittura ec.,</a></span>
                     <span class="catalogo-pubPlace"> Venezia,</span>
                      presso il Giolito,
                     <span class="catalogo-date"> 1557,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note collapse">Esemplare, che dalla biblioteca di Felibien passò a quella di Mariette e di d’Agincourt, con illustrazioni
	  manoscritte in principio, e note marginali.</div>	  
	              </section>