<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3075">
                     <span class="catalogo-item-label">3075.</span> <span class="catalogo-bibl"><span class="catalogo-author">WURDTWEIN Stephan Alexander</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3075">Nero Claudius Drusus Germanicus Maguntiaci superioris Germaniae
Metropolis conditor e scriptoribus coaevis et classicis delineatus</a></span>, <span class="catalogo-pubPlace">Maguntiae</span> <span class="catalogo-date">1781</span>, in 8, M. 52.
</span></section>