<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="508">
                  <span class="catalogo-item-label">508.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FREART Laurent</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/508">Le même parallele. Seconde édition augmentée des piedestaux de chaque
	ordre, Paris, chez Jombert de Barbou,</a></span> 
                     <span class="catalogo-date">sans date,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div id="catalogo-note-text-508" class="catalogo-note truncate-line-clamp">In quest’edizione le tavole quantunque in maggior numero sono mal contrafatte e il testo mutilato e inciso in
	rame dietro le tavole.</div><a id="catalogo-note-text-toggle-508" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>