<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1411">
                  <span class="catalogo-item-label">1411.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZUCCARI Federico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1411">li passaggio per l’Italia e la dimora in Parma del cav. Federico Zuccari in
    occasione delle feste date al P. Francesco Gonzaga e all’infanta Margarita di Savoia</a></span>. Opuscoli
    due, in 4. Rarissimi. <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1608</span>.
    <span class="catalogo-pb" id="page_241">241</span>
    MDCVIII
    

                  
                  
    
               </span></section>