<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2437">
                  <span class="catalogo-item-label">2437.</span> <span class="catalogo-bibl"><span class="catalogo-author">ELSOTHII Joan. Sigismundi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2437">Anthropometria, sive de mutua membrorum corporis humani
    proportione</a></span>. Libellus, <span class="catalogo-pubPlace">Francofurti</span> ad Oderam <span class="catalogo-date">1663</span>, in 8, fig.
    <div class="catalogo-note collapse">Con poche figure intagliate in rame oltre il ritratto dell’autore. Edizione migliore della precedente.</div>
    
    </span></section>