<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1932">
                  <span class="catalogo-item-label">1932.</span> <span class="catalogo-bibl"><span class="catalogo-author">PETRA Sancta Silvestre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1932">De symbolis heroicis lib. IX</a></span>, <span class="catalogo-pubPlace">Ant.</span> Plantin <span class="catalogo-date">1634</span>, in 4, fig. Le tavole
    sono di bell’intaglio e il frontespizio disegnato da Rubens è inciso da Teod. Galle.
    <div class="catalogo-note collapse">Gli emblemi sono 260 non computando quattro figure senza spiegazione e 16 altre tavole, che in tutto col
    frontespizio formano 290.</div>
    
    <span class="catalogo-pb" id="page_328">328</span>
               </span></section>