<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1624">
                  <span class="catalogo-item-label">1624.</span> <span class="catalogo-bibl"><span class="catalogo-author">CIACONII Petri Toletani</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1624">Opuscula in Columna rostrata inscriptionem, de ponderibus, de
    mensuris, de nummis</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1608</span>, in 8.
    <div class="catalogo-note">Questi opuscoli sono postumi, poiché non erano stati finiti dall’autore e nullameno vennero dai dotti applauditi
    per l’estensione delle cognizioni che racchiudono.</div><div id="catalogo-note-text-1624" class="catalogo-note-search-results truncate-line-clamp">Questi opuscoli sono postumi, poiché non erano stati finiti dall’autore e nullameno vennero dai dotti applauditi
    per l’estensione delle cognizioni che racchiudono.</div><a id="catalogo-note-text-toggle-1624" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>