<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1695">
                  <span class="catalogo-item-label">1695.</span> <span class="catalogo-bibl"><span class="catalogo-author">LUNADORO Girolamo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1695">Relazione della Corte di Roma, riti e magistrati e giurisdizione:
  Aggiuntovi il Maestro di camera del Sig. Francesco Sestini e la Roma ricercata nel suo sito
  del Sig. Fioravante Martinelli</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1660</span>, in 12.
  </span></section>