<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3050">
                     <span class="catalogo-item-label">3050.</span> <span class="catalogo-bibl"><span class="catalogo-author">VERNAZZA Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3050">Osservazioni sopra un sigillo de’ bassi tempi da lui posseduto</a></span>, <span class="catalogo-pubPlace">Torino</span> <span class="catalogo-date">1778</span>, in 4, fig., M.
26.
<div class="catalogo-note collapse">Il sigillo che è nel frontespizio non è l’illustrato. Vien questo immediatamente dopo la dedica ed è una stella con
una leggenda.</div>
</span></section>