<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2958">
                     <span class="catalogo-item-label">2958.</span> <span class="catalogo-bibl"><span class="catalogo-author">PARUTA Filippo</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2958"> La Sicilia descritta con medaglie e ristampata con aggiunta da Leonardo Agostini, ora in miglior
ordine disposta da Marco Majer</a></span>, <span class="catalogo-pubPlace">Lione</span> <span class="catalogo-date">1697</span>, in fol., fig.
<div class="catalogo-note">Quest’edizione e più completa, ma meno rara della prima, che seguì nel 1612 e tiensi in maggior pregio. Le

                     
                     
tavole appariscono 183 ma sono distribuite in 123 fogli: ogni medaglia essendo intagliata in un rame a parte e
riunite dodici laminette sopra la maggior parte delle pagine, acciò fosse in libertà dell’autore il cangiare a suo
talento la distribuzione, nel corso dell’opera.</div>
</span></section>