<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3908">
                     <span class="catalogo-item-label">3908.</span> <span class="catalogo-bibl"><span class="catalogo-author">VENUTI Ridolfino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3908">Accurata, e succinta descrizione topografica, ed istorica di Roma moderna</a></span>. Opera postuma
accresciuta ed ornata di figure in rame, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1767</span>, in 8, vol. 2 legati in 4, fig.
<div class="catalogo-note">Le tavole di quest’opera poste fra il testo sono intagliate da Piranesi all’acqua forte, ma non sono molto
pregievoli, poiché quel modo d’intaglio non seppe da quel valente autore adattarsi alle piccole dimensioni,
avendo contratta l’abitudine a un più largo e più libero stile. Quanto al merito dell’opera, l’autore è noto
abbastanza.
Generalmente tutte le opere di questo coltissimo letterato sono pregiate, e stampate con eleganza di tipi e di
tavole.</div>
</span></section>