<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="981">
                  <span class="catalogo-item-label">981.</span> <span class="catalogo-bibl"><span class="catalogo-author">CICOGNARA Leopoldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/981">Le belle arti, poemetto in tre canti con note e alcune piccole incisioni
      dell’autore</a></span>, opera giovanile, <span class="catalogo-pubPlace">Ferrara</span> <span class="catalogo-date">1790</span>, in 8.
      <div class="catalogo-note">Esemplare in carta distinta della Biblioteca di Pio VI.</div><div id="catalogo-note-text-981" class="catalogo-note-search-results truncate-line-clamp">Esemplare in carta distinta della Biblioteca di Pio VI.</div><a id="catalogo-note-text-toggle-981" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>