<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2304">
                  <span class="catalogo-item-label">2304.</span> <span class="catalogo-bibl"><span class="catalogo-author">LIONI Ottavio</span>,. <span class="catalogo-title"><a class="catalog-link" href="/catalog/2304">Ritratti di alcuni celebri pittori del secolo XVII da lui disegnati ed intagliati in
    rame, con le vite dei medesimi tratte da vari autori</a></span>.
    — <span class="catalogo-bibl">Aggiunta <span class="catalogo-title"><a class="catalog-link" href="/catalog/2304">la vita di Carlo Maratti scritta dal Bellori fino dal 1689 e terminata da altri</a></span>, non
    più stampata, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1731</span>, in 4, fig.</span>
    <div class="catalogo-note">Undici di questi ritratti sono intagliati da Ottavio superiormente e sono bellissime prove; l’ultimo del Maratti è
    d’altra mano. Gli intagli di questo maestro sono pochissimi e rari.</div>
    
    </span></section>