<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1534">
                  <span class="catalogo-item-label">1534.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1534">NOTIZIA delle operazioni e dei soggetti che le hanno eseguite per i solenni funerali da
    celebrarsi in Bologna a Gaetano Gandolfi pittore nella Chiesa di S. Giovanni in Monte li 22
    Settembre <span class="catalogo-date">1802</span></a></span>, in 4, M. 7.
    MDCCCX
    
    </span></section>