<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2125">
                  <span class="catalogo-item-label">2125.</span> <span class="catalogo-bibl"><span class="catalogo-author">VANDYCK Antoine</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2125">Le cabinet de plus beaux portraits de plusieurs Princes et Princesses,
  hom-mes illusrres, fameux peintres</a></span>. Ouvrage qui sert de suppléoient au cabinet du farneux
  Vandyck. Im-priméeà Anverse. <span class="catalogo-pubPlace">Amsterdam</span> chezMortier <span class="catalogo-date">1732</span> in fol.
  <div class="catalogo-note collapse">Quarantasei ritratti, che trovatisi la più parte ripetuti nelle opere precedenti e non di bella freschezza.</div>
  
  </span></section>