<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4128">
                    <span class="catalogo-item-label">4128.</span>
		    <span class="catalogo-bibl"><span class="catalogo-author">ZAMBONI Baldassare</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4128">Memorie intorno alle pubbliche più insigni fabbriche di Brescia</a></span>, <span class="catalogo-pubPlace">Brescia</span> <span class="catalogo-date">1778</span>, in fol., fig.</span>
		    <div class="catalogo-note">Con undici tavole intagliate in rame, e molte vignette ove sono altri monumenti. Opera ben fatta, e utilissima, che
		    potrebbe servire di esempio, specialmente per il testo a molte illustrazioni che mancano per città cospicue.</div>
		  </section>