<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2309">
                  <span class="catalogo-item-label">2309.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAIER Andrea</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2309">Della imitazione pittorica, della eccellenza delle opere di Tiziano e della vita
    dello stesso scritta da Stefano Ticozzi</a></span>, <span class="catalogo-pubPlace">Venezia</span>, Tipografia Alvisopoli, <span class="catalogo-date">1818</span>, in 8.
    <div class="catalogo-note">Questo Libro per la prima parte è ingegnoso, singolare, ardito, sebbene possa trovare qualcuno che sia di un
    avviso diverso molto dall’autore. Per la seconda è utile, diligente, istruttivo. Per l’ultima è troppo severo nella
    critica e poteva rettificare senza puntare. È da bramarsi che questo scrittore non tralasci però di produrre altre
    opere in materia d’arte.</div><div id="catalogo-note-text-2309" class="catalogo-note-search-results truncate-line-clamp">Questo Libro per la prima parte è ingegnoso, singolare, ardito, sebbene possa trovare qualcuno che sia di un
    avviso diverso molto dall’autore. Per la seconda è utile, diligente, istruttivo. Per l’ultima è troppo severo nella
    critica e poteva rettificare senza puntare. È da bramarsi che questo scrittore non tralasci però di produrre altre
    opere in materia d’arte.</div><a id="catalogo-note-text-toggle-2309" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>