<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="632">
                  <span class="catalogo-item-label">632.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">RIEGER Cristiano</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/632">Universae architecturae civilis elementa brevibus recentiorum
	observationibus illustrata,</a></span> 
                     <span class="catalogo-pubPlace">Vindobonae</span> 
                     <span class="catalogo-date">1756,</span> 
                     <span class="catalogo-extent">in 4, fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Edizione di bella esecuzione per la carta e pei tipi, con 15 tavole e il frontespizio figurato colla veduta di Vienna.
	I precetti dell’autore però non sono da valutarsi, pel gusto barbaro che domina in tutte le cose da lui disegnate.</div>
	
	              </section>