<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1199">
                  <span class="catalogo-item-label">1199.</span> <span class="catalogo-bibl"><span class="catalogo-author">QUIRINI Angeli M.</span>, Ad Claris. <span class="catalogo-title"><a class="catalog-link" href="/catalog/1199">Symmacum Mazochium Epistola in eius Schediasma de
    antiquis Corcyrae nominibus</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1742</span>, in 4, M. 40.
    </span></section>