<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3959">
                     <span class="catalogo-item-label">3959.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOCCHII Francisci</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3959">Epistola seu opusculum de restitutione Sacrae Testudinis Florentinae</a></span>, <span class="catalogo-pubPlace">Florentiae</span> <span class="catalogo-date">1604</span>, in 8,
M. 97.
</span></section>