<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1945">
                  <span class="catalogo-item-label">1945.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROLLENHAGII Gabrielis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1945">Selectorum emblematum centuria secunda</a></span>, <span class="catalogo-date">1613</span> <span class="catalogo-pubPlace">Ultrajecti</span>, ex
    officina Crispiani Passei ap. Jo. Janson.
    <div class="catalogo-note">Le centurie comparvero separatamente. Queste cento tav <span class="catalogo-pb" id="page_330">330</span> vole per la loro preziosa esecuzione sono tra le
    più belle in materia d’emblemi e trovansi molto di rado.</div>
    
    </span></section>