<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="295">
                  <span class="catalogo-item-label">295.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BIDLOO Godefridi</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/295">Anatomia humani corporis, centum quinque tabulis G. de Lairesse ad
	vivum delineatis demonstrata, </a></span>
                     <span class="catalogo-pubPlace">Amstelodamii</span> 
                     <span class="catalogo-date">1685</span>, <span class="catalogo-extent">in fol.</span>
	                    <div id="catalogo-note-text-295" class="catalogo-note truncate-line-clamp">La bellezza delle tavole tanto commendate di quest’opera consiste non già nel disegno, ma nel solo meccanismo</div><a id="catalogo-note-text-toggle-295" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                    
	                    
	                    
	del bulino.
	</span>
	              </section>