<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3407">
                     <span class="catalogo-item-label">3407.</span> <span class="catalogo-bibl"><span class="catalogo-author">MASSE Jean Baptiste peintre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3407">La grande Galérie de Versailles et les deux salons qui l’accompagnent peints par
Charles le Brun</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1753</span>, in 8.
<div class="catalogo-note collapse">Questa descrizione e quella di Reinsant servono ad illustrare le stampe che due volte furono pubblicate.</div>
</span></section>