<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="860">
                  <span class="catalogo-item-label">860.</span> <span class="catalogo-bibl"><span class="catalogo-author">SIRIGATTI Lorenzo Cavaliere</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/860">La pratica di prospettiva al Serenissimo Ferdinando Medici Gran
	Duca di Toscana</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per Girolamo Franceschi Sanese, <span class="catalogo-date">1596</span>, in fol. fig.
	<div class="catalogo-note">Questa è la più elegante delle edizioni di libri prospettici pei tipi, pei caratteri, per la carta. Dopo il frontespizio
	figurato, segue la dedica e un indirizzo ai benigni ad amorevoli lettori, indi la tavola dei capitoli e l’errata. Dopo
	questi 4 fogli cominciano le tavole e dietro quelle stanno le spiegazioni stampate in bellissimi caratteri: 43
	capitoli contiene il libro primo impresso in 44 fogli. E il libro secondo con altro frontespizio figurato procede
	colle figure prospettiche ombreggiate sino al numero 66.</div><div id="catalogo-note-text-860" class="catalogo-note-search-results truncate-line-clamp">Questa è la più elegante delle edizioni di libri prospettici pei tipi, pei caratteri, per la carta. Dopo il frontespizio
	figurato, segue la dedica e un indirizzo ai benigni ad amorevoli lettori, indi la tavola dei capitoli e l’errata. Dopo
	questi 4 fogli cominciano le tavole e dietro quelle stanno le spiegazioni stampate in bellissimi caratteri: 43
	capitoli contiene il libro primo impresso in 44 fogli. E il libro secondo con altro frontespizio figurato procede
	colle figure prospettiche ombreggiate sino al numero 66.</div><a id="catalogo-note-text-toggle-860" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>