<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1831">
                  <span class="catalogo-item-label">1831.</span> <span class="catalogo-bibl"><span class="catalogo-author">ACCADEMICI Gelati</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1831">Ricreazioni amorose</a></span>, <span class="catalogo-pubPlace">Bol.</span> <span class="catalogo-date">1500</span>, <div class="catalogo-note">con otto emblemi.
    — Aggiuntovi Psaffone trattato d’Amore, Bol. 1590.
    Questi tre libretti sono ornati di un bellissimo intaglio nel frontespizio di Agostino Caracci.</div><div id="catalogo-note-text-1831" class="catalogo-note-search-results truncate-line-clamp">con otto emblemi.
    — Aggiuntovi Psaffone trattato d’Amore, Bol. 1590.
    Questi tre libretti sono ornati di un bellissimo intaglio nel frontespizio di Agostino Caracci.</div><a id="catalogo-note-text-toggle-1831" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>