<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="543">
                  <span class="catalogo-item-label">543.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">LAVALLÉE Poussin</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/543">Nouvelle collection d’arabesques propres à la decoration des appartemens
	dessinées à Rome par L. P., et autres celebres artistes modernes et gravées par Guyot,</a></span> 
                     <span class="catalogo-pubPlace">Paris,</span>
	                    chez Treuttel et Wurtz etc., 
                     <span class="catalogo-extent">in 4, gr. fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Sono in quaderni di quattro stampe per ciascuno, componenti la collezione di 40 tavole con pochi cenni
	illustrativi e una notizia istorica sugli arabeschi del Sig. Alessandro Lenoir.</div>
	
	              </section>