<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2952">
                     <span class="catalogo-item-label">2952.</span> <span class="catalogo-bibl"><span class="catalogo-author">OLIVIERI degli Abati Annibale</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2952"> Illustrazione di un sigillo della zecca di Orvieto</a></span>, 
                        <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1782</span>, 
                        in 4, M. 26. 
                        È questo stampato nel frontespizio.
</span></section>