<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3181">
                     <span class="catalogo-item-label">3181.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOETTIGERI Carl August</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3181">Les furies d’après les poetes et les artistes anciens</a></span>, traduit de l’allemand par Winckler,
<span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1802</span>, in 8.
<div id="catalogo-note-text-3181" class="catalogo-note truncate-line-clamp">Dottissimo opuscolo, con quattro tavole, due delle quali colorite.</div><a id="catalogo-note-text-toggle-3181" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>