<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3496">
                     <span class="catalogo-item-label">3496.</span> <span class="catalogo-bibl"><span class="catalogo-author">COSTADONI Anselmo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3496">Dissertazione sopra un’antica statuetta d’avorio rappresentante un re assiso in trono
circondato dalle guardie con un falcone in mano</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1751</span>, in 12, fig., M. 73.
</span></section>