<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1178">
                  <span class="catalogo-item-label">1178.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1178">LETTRE d’un antiquaire sur l’explication d’un camée ci-dessus gravé. Un foglio fig. senza
    luogo ed anno</a></span>, M. 77.
    <div id="catalogo-note-text-1178" class="catalogo-note truncate-line-clamp">In due diverse dimensioni è il cammeo intagliato e la lettera è in francese e in italiano.</div><a id="catalogo-note-text-toggle-1178" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>