<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="485">
                  <span class="catalogo-item-label">485.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CUENOT F.</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/485"> Livre d’architectnre ou il enseigne la facilité de l’architecture et la reduction de
	chaque corp au petit pied.,</a></span> 
                     <span class="catalogo-pubPlace">Annissy</span> 
                     <span class="catalogo-date">1659,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Opera al di sotto della mediocrità, con 30 tavole compreso il frontispizio. II testo è intagliato in rame, con cattiva
	ortografia, d’incontro alle tavole.</div>
	
	              </section>