<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1110">
                  <span class="catalogo-item-label">1110.</span> <span class="catalogo-bibl"><span class="catalogo-author">RABELAIS</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1110">Oeuvres avec rémarques historiques et critiques de M le Duchat</a></span>. Nouvelle édition
      orrnée de figures de Bernard Picard, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1741</span>, 3 vol., in 4.
      <div class="catalogo-note">L’edizione è bella e arrichita delle illustrazioni e dei commenti di tutti i precedenti editori, con memorie intorno
      alla vita dell’autore, e colla stampa delle sue lettere. Nel primo tomo è il ritratto del poeta. Nei due volumi del
      poema sono 12 tavole tratte da luoghi del romanzo disegnate da M. da Bourg e intagliate da vari incisori, nessuna
      da Picard, di cui sono unicamente le vignette qua e là sparse e cose di poco momento: gli esemplari in carta
      grande hanno un gran pregio.</div><div id="catalogo-note-text-1110" class="catalogo-note-search-results truncate-line-clamp">L’edizione è bella e arrichita delle illustrazioni e dei commenti di tutti i precedenti editori, con memorie intorno
      alla vita dell’autore, e colla stampa delle sue lettere. Nel primo tomo è il ritratto del poeta. Nei due volumi del
      poema sono 12 tavole tratte da luoghi del romanzo disegnate da M. da Bourg e intagliate da vari incisori, nessuna
      da Picard, di cui sono unicamente le vignette qua e là sparse e cose di poco momento: gli esemplari in carta
      grande hanno un gran pregio.</div><a id="catalogo-note-text-toggle-1110" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>