<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4126">
                    <span class="catalogo-item-label">4126.</span> <span class="catalogo-bibl"><span class="catalogo-author">WRIGHT
                    Thomas</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4126">Louthiana or an introduction to
                    the antiquities of Ireland in upwards of ninety
                    views and plans representing with proper
                    explanations, the principal ruins, curiosities
                    etc. in the county of Louth</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1758</span>.</span>

		    <div id="catalogo-note-text-4126" class="catalogo-note truncate-line-clamp">Opera divisa in 3 parti con brevi
		    illustrazioni, e con 66 tavole intagliate in rame,
		    non compresa una tavola avanti il frontespizio:
		    accuratissima edizione, come lo sono tutte le
		    intraprese per cura del signor Tommaso Payne
		    ec.</div><a id="catalogo-note-text-toggle-4126" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
		  </section>