<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3141">
                     <span class="catalogo-item-label">3141.</span> <span class="catalogo-bibl"><span class="catalogo-author">PAULOVICH Lucich. Joan Josephi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3141">Marmora Macarensia oblivioni et injuriae temporum subtracta</a></span>, <span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1789</span>,
in 4, fig., M. 30.
</span></section>