<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1380">
                  <span class="catalogo-item-label">1380.</span> <span class="catalogo-bibl"><span class="catalogo-author">BERG Adamo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1380">Nozze, feste e tornei in occasione del matrimonio del Principe Palatino colla
    Principessa Renata di Lottaringa nel <span class="catalogo-date">1568</span></a></span>: in <span class="catalogo-pubPlace">Monaco</span>, per Adamo Berg, in Tedesco.
    <div class="catalogo-note collapse">Sonovi 15 grandi tavole in doppio foglio intagliate con qualche gusto segnate con cifra N. S. e colorate a mano, il
    che serve mirabilmente al costume ed al carattere di quei tem <span class="catalogo-pb" id="page_235">235</span> pi. Questo è il più raro e più prezioso libro
    che conosciamo, specialmente in quel secolo, in materia di feste.</div>
    MDLXVIII
    
    </span></section>