<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4161">
                        <span class="catalogo-item-label">4161.</span> <span class="catalogo-bibl"><span class="catalogo-author">RONDINELLI Giovanni</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4161">Relazione sopra lo stato antico, e moderno della città di Arezzo</a></span>, <span class="catalogo-pubPlace">Arezzo</span> <span class="catalogo-date">1755</span>, in 8.
ASCOLI
</span></section>