<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1339">
                  <span class="catalogo-item-label">1339.</span> <span class="catalogo-bibl"><span class="catalogo-author">P. Z.</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/1339">Orazione recitata nella pubblica Veneta Accademia di Belle Arti nel 1787, in occasione
    della distribuzione dei premi</a></span>, <span class="catalogo-pubPlace">Venezia</span> in 8. - <span class="catalogo-author">A. M.</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/1339">Riflessioni sopra alcuni equivoci segni
    espressi nell’orazione suddetta in difesa del fu F. Carlo Lodoli</a></span>, <span class="catalogo-pubPlace">Padova</span> <span class="catalogo-date">1788</span>, in 8, M. 51.
    <div class="catalogo-note">Le iniziali P. Z. Vogliono significare il senatore Pietro Zaguri a’ quali sensi equivoci il Lodoli stesso rispose
    sotto le iniziali del suo mecenate Andrea Memo.</div>
    
    </span></section>