<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1981">
                  <span class="catalogo-item-label">1981.</span> <span class="catalogo-bibl"><span class="catalogo-author">ARIAS Montanus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1981">De divinis nuptiis</a></span>, <span class="catalogo-pubPlace">Antuerpias</span>, cura et aere Phil. Gallaei, <span class="catalogo-date">1574</span>, in 4.
    <div class="catalogo-note">Le nozze spirituali stampate da Benedetto Arias Montanus in versi latini, furono qui recate in una parafrasi
    francese da Pietro Heyns e venne riconosciuta e approvata dall’autore originario nel 1573 come si legge in
    principio. I disegni por <span class="catalogo-pb" id="page_336">336</span>tano nella prima stampa la marca I. H. W. Geranius Grossiugus delineabat e son
    18 bellissime e freschissime stampe contro le quali sta la parafrasi in francese stampata in eleganti caratteri.
    Unito a questo trovasi il Viter admirabilium actionum a Phil. Galilaeo apparatum Ben. Ariae Montani
    singularibus distichis instructum, colla parafrasi come sopra, dissegnato dallo stesso Groningue e con 50
    bellissime tavole e un bel frontespizio, ove è una testa del Redentore di mirabile intaglio. Queste due opere erano
    state prodotte nel 1571 in latino col titolo Humanae salutis monumenta.
    </div><div id="catalogo-note-text-1981" class="catalogo-note-search-results truncate-line-clamp">Le nozze spirituali stampate da Benedetto Arias Montanus in versi latini, furono qui recate in una parafrasi
    francese da Pietro Heyns e venne riconosciuta e approvata dall’autore originario nel 1573 come si legge in
    principio. I disegni por <span class="catalogo-pb" id="page_336">336</span>tano nella prima stampa la marca I. H. W. Geranius Grossiugus delineabat e son
    18 bellissime e freschissime stampe contro le quali sta la parafrasi in francese stampata in eleganti caratteri.
    Unito a questo trovasi il Viter admirabilium actionum a Phil. Galilaeo apparatum Ben. Ariae Montani
    singularibus distichis instructum, colla parafrasi come sopra, dissegnato dallo stesso Groningue e con 50
    bellissime tavole e un bel frontespizio, ove è una testa del Redentore di mirabile intaglio. Queste due opere erano
    state prodotte nel 1571 in latino col titolo Humanae salutis monumenta.
    </div><a id="catalogo-note-text-toggle-1981" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>