<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4394">
                        <span class="catalogo-item-label">4394.</span> <span class="catalogo-bibl"><span class="catalogo-author">BORMASTIN Antoine</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4394">Déscription historique de la <span class="catalogo-pb" id="page_292">292</span> ville de Vienne, et de ses fauxbourgs</a></span>, <span class="catalogo-pubPlace">Vienne</span> <span class="catalogo-date">1719</span>, in
8.
<div class="catalogo-note">Questo libro francese e tedesco è fatto a modo di dialogo e interessante per le comparazioni con le guide più
moderne.
</div><div id="catalogo-note-text-4394" class="catalogo-note-search-results truncate-line-clamp">Questo libro francese e tedesco è fatto a modo di dialogo e interessante per le comparazioni con le guide più
moderne.
</div><a id="catalogo-note-text-toggle-4394" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a></span></section>