<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1660">
                  <span class="catalogo-item-label">1660.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIANI Giuseppe domenicano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1660">Delle chiome delle vestali romane</a></span>, <span class="catalogo-pubPlace">Pavia</span> <span class="catalogo-date">1788</span>, in 4.
<div id="catalogo-note-text-1660" class="catalogo-note truncate-line-clamp">    Povero di erudizione e di critica è questa opuscolo che termina con un idilio, pel quale l’autore potrebbe meritare
    il supplicio delle vestali se si castigassero i cattivi poeti.
</div><a id="catalogo-note-text-toggle-1660" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>    
    <span class="catalogo-pb" id="page_287">287</span>
               </span></section>