<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="931">
                  <span class="catalogo-item-label">931.</span> <span class="catalogo-bibl"><span class="catalogo-author">HERRONE Alessandrino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/931">Gli automati, ovvero macchine semoventi</a></span>, libri due tradotti da
      Bernardino Baldi, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1601</span>, presso Giovan Battista Bertoni, in 4, pic. fig.
      <div class="catalogo-note">Elegante edizione con belle tavole in rame intagliate e riportate fra il testo. Il Baldi dottissimo in ogni cosa che
      avesse relazione all’architettura e alle meccaniche aggiunse pregio all’operarci originale. Bello esemplare in mar.
      dor.</div>
      
      </span></section>