<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2575">
                     <span class="catalogo-item-label">2575.</span> <span class="catalogo-bibl"><span class="catalogo-author">FINI ab. Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2575">Antiche memorie appartenenti alla città di Cora, ricavate e tradotte dall’opera del Volpi</a></span>, <span class="catalogo-pubPlace">Roma</span>
<span class="catalogo-date">1731</span>, in 8, M. 58.
</span></section>