<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2119">
                  <span class="catalogo-item-label">2119.</span> <span class="catalogo-bibl"><span class="catalogo-author">ULRICH Kraussen</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2119">Bibliorum Sacrorum veteris et novi Testamenti figurae cum interpretatione
  versibus germanicis</a></span>, <span class="catalogo-pubPlace">Augustae Vind.</span> <span class="catalogo-date">1706</span>, in foglio. Tedesco.
  <div id="catalogo-note-text-2119" class="catalogo-note truncate-line-clamp">Suole andare di seguito a quest’opera un’altra dello stesso intagliatore che riguarda le Epistole e i Vangeli colle
  apparizioni degli angeli. Noi non abbiamo che la Biblia completa e ben conservata divisa in cinque parti
  formanti 135 tavole in foglio non contando i cinque frontespizi, le quali comprendono la storia dei due
  Testamenti. La parte superiore del foglio contiene un soggetto storico, e la parte inferiore in uno, o due, o quattro
  e talvolta fino otto compartimenti, contiene altrettanti fatti storici che hanno analogia col principale; l’esecuzione
  meccanica è invero pregievolissima e di una estrema finezza di bulino: se vi fosse altrettanto gusto, sarebbe
  un’opera imprezzabile.</div><a id="catalogo-note-text-toggle-2119" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>