<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1239">
                  <span class="catalogo-item-label">1239.</span> <span class="catalogo-bibl"><span class="catalogo-author">CICOGNARA Leopoldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1239">Memoria intorno al quesito se Simone Memmi fosse anche scultore</a></span>.
    Estratta dalle note del I volume della storia della scultura, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1813</span>, in 8, M. 36.
    </span></section>