<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="875">
                  <span class="catalogo-item-label">875.</span> <span class="catalogo-bibl"><span class="catalogo-author">AGRICOLAE Georgii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/875">De re metallica libri XII</a></span>, quibus officina, instrumenta, machinae etc. etc.
      per effigies stuis locis insertas ita ob oculos ponuntur ut clarius tradi non possint, <span class="catalogo-pubPlace">Basileae</span>,
      apud Hieron. Frobenium, <span class="catalogo-date">1556</span>, in fol. fig.
      <div class="catalogo-note">Le tavole numerose di quest’opera sono inserte fra il testo e intagliate in legno; il testo è di 538 pagine, impresso
      in bellissimi caratteri rotondi; in fine sono copiosissime tavole delle materie.</div>
      
      </span></section>