<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4107">
                     <span class="catalogo-item-label">4107.</span> <span class="catalogo-bibl"><span class="catalogo-author">De la VEGA Garcilasso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4107">Histoire des Ybcas Rois du Perou, traduite de l’espagnol (par Jean Baudoin), on y a joint
à cette edition l’histoire de la conquête de la Floride par le même auteur (traduite par Richelet) etc. avec figures
par B. Picart</a></span>, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1737</span>, 2 vol., in 4, fig.
<div id="catalogo-note-text-4107" class="catalogo-note truncate-line-clamp">Compreso il frontespizio e due carte geografiche, le tavole sono 22. Opera ove si veggono indicati i costumi di
quelle nazioni.</div><a id="catalogo-note-text-toggle-4107" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>