<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1957">
                  <span class="catalogo-item-label">1957.</span> <span class="catalogo-bibl"><span class="catalogo-author">Simone Gabriele</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1957">Dialogo pio et speculativo con diverse sentenze latine e volgari</a></span>, <span class="catalogo-pubPlace">Lione</span>,
    presso Guglielmo Rovillio, <span class="catalogo-date">1560</span>, in 4, fig.
    <div class="catalogo-note">Con diverse medaglie, imprese e monumenti intagliati in legno collocati fra il testo.</div>
    
    </span></section>