<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3249">
                     <span class="catalogo-item-label">3249.</span> <span class="catalogo-bibl"><span class="catalogo-author">LAMI Giovanni</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3249">Lezioni di antichità toscane e <span class="catalogo-pb" id="page_117">117</span> specialmente della città di Firenze</a></span>, <span class="catalogo-pubPlace">Firenze</span><span class="catalogo-date"> 1766</span>, vol. 2, in
4, fig.
<div class="catalogo-note">Quest’opera dottissima è preceduta da una lunga prefazione di quasi 200 pagine, in cui si rende ragione delle
tavole sparse fra il testo delle dissertazioni e si schiariscono molti passi di controversa erudizione e si
giustificano molti modi del dire</div><div id="catalogo-note-text-3249" class="catalogo-note-search-results truncate-line-clamp">Quest’opera dottissima è preceduta da una lunga prefazione di quasi 200 pagine, in cui si rende ragione delle
tavole sparse fra il testo delle dissertazioni e si schiariscono molti passi di controversa erudizione e si
giustificano molti modi del dire</div><a id="catalogo-note-text-toggle-3249" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>