<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3286">
                     <span class="catalogo-item-label">3286.</span> <span class="catalogo-bibl"><span class="catalogo-author">OLIVIERI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3286">Di alcune altre antichità cristiane</a></span>, ivi <span class="catalogo-date">1784</span>, M. 2.
<div class="catalogo-note collapse">Questa è un’epistola di due foglietti con tre tavole stampate fra il testo e diretta al cardinal Giovannetti.</div>
</span></section>