<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4614">
                     <span class="catalogo-item-label">4614.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARINELLI Giuseppe Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4614">La scuola moderna del maneggio de’ cavalli</a></span>, 
                        <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1737</span>, in 4 pic.
<div class="catalogo-note collapse">Opera con buone avvertenze senza figure, meno un cattivo intaglio in legno nel frontespizio.</div>
</span></section>