<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="619">
                  <span class="catalogo-item-label">619.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">POLIPHILE</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/619">Le songe, traduction libre de l’italien par G. le Grand,</a></span> 
                     <span class="catalogo-pubPlace">Parme</span> 
                     <span class="catalogo-date">1811,</span> 
                     par Bodoni, 
                     <span class="catalogo-extent">2
	vol. en 4.</span>
                  </span>
	                 <div class="catalogo-note">La versione rende quest’opera d’un gusto nuovo e singolare: con osservazioni del traduttore. Si può difficilmente
	trovare un’eleganza tipografica che eguagli questa edizione.</div><div id="catalogo-note-text-619" class="catalogo-note-search-results truncate-line-clamp">La versione rende quest’opera d’un gusto nuovo e singolare: con osservazioni del traduttore. Si può difficilmente
	trovare un’eleganza tipografica che eguagli questa edizione.</div><a id="catalogo-note-text-toggle-619" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>