<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4097">
                     <span class="catalogo-item-label">4097.</span> <span class="catalogo-bibl"><span class="catalogo-author">SGRIRLI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4097">Descrizione della regia villa, fontane, e fabbriche di Pratolino</a></span>, 
                        <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1742</span>, in fol., fig.
<div class="catalogo-note collapse">Dodici sono le tavole, ma le ultime che rappresentano le vedute pittoresche del giardino, e le fontane furono
intagliate da Stefano della Bella.</div>
</span></section>