<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="57">
                  <span class="catalogo-item-label">57.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/57">TRATTATO intorno alla storia naturale, al quale si è aggiunto un altro sopra le arti, tradotti dal
	  francese,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1739,</span>
                     <span class="catalogo-extent"> 8, M. 55.</span>
                  </span>
	                 <div class="catalogo-note">Singolare e disordinata è la disposizione delle materie raccolte in questo opuscolo piuttosto conforme a una
	  raccolta d’aneddoti che ad un trattato.</div><div id="catalogo-note-text-57" class="catalogo-note-search-results truncate-line-clamp">Singolare e disordinata è la disposizione delle materie raccolte in questo opuscolo piuttosto conforme a una
	  raccolta d’aneddoti che ad un trattato.</div><a id="catalogo-note-text-toggle-57" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
               </section>