<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1764">
                  <span class="catalogo-item-label">1764.</span> <span class="catalogo-bibl"><span class="catalogo-author">POLIDORI Virgilii Urbinatis</span>. <span class="catalogo-title"><a class="catalog-link" href="/catalog/1764">De rerum inventoribus libri octo: eiusdem in dominicani precem
  <span class="catalogo-pb" id="page_303">303</span> commeritaribus</a></span>, <span class="catalogo-pubPlace">Lugduni</span>, apud Tornesium, <span class="catalogo-date">1558</span>, in 8.
  <div id="catalogo-note-text-1764" class="catalogo-note truncate-line-clamp">Quest’opera fu dedicata a Lodovico Odassio padovano dall’autore con data d’Urbino li 5 Agosto 1499, anno in
  cui si eseguì la prima edizione.</div><a id="catalogo-note-text-toggle-1764" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>