<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2251">
                  <span class="catalogo-item-label">2251.</span> <span class="catalogo-bibl"><span class="catalogo-author">DATI Carlo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2251">Vite de’ pittori antichi illustrate</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1667</span>, in 4, carta grande.
    <span class="catalogo-pb" id="page_385">385</span>
               </span></section>