<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3816">
                     <span class="catalogo-item-label">3816.</span> <span class="catalogo-bibl"><span class="catalogo-author">PANVINII Onophrii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3816">De praecipuis urbis Romae Basilicis quas septem ecclesias, vulgo vocant, liber</a></span>, <span class="catalogo-pubPlace">Romae</span>, apud
haeredes Antonii Bladii, <span class="catalogo-date">1570</span>, in 8.
</span></section>