<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="587">
                  <span class="catalogo-item-label">587.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">ORTIZ (Jos. Fran.)</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/587">Abaton reseratum, sive gemina declaratio duorum iocorum obscurorum, M.
	Vitruvii,</a></span> 
                     <span class="catalogo-pubPlace">Romae</span> 
                     <span class="catalogo-date">1781,</span> 
                     <span class="catalogo-extent">in 8, fig., M. 62.</span>
                  </span>
	                 <div id="catalogo-note-text-587" class="catalogo-note truncate-line-clamp">Nel frontespizio è un sole nascente e quattro tavole in fine.</div><a id="catalogo-note-text-toggle-587" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 
	                 
	                 
	
	              </section>