<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2663">
                     <span class="catalogo-item-label">2663.</span> <span class="catalogo-bibl"><span class="catalogo-author">COCHIN le fils, et Bellicard</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2663">Observations sur les antiquités de la ville d’Herculanum</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1754</span>, in 12, fig.
<div class="catalogo-note">L’operetta è divisa in tre sezioni. La prima dell’architetto Bellicard ove sono descritte le principali antichità
ercolanensi, la seconda di M. Cochin il figlio che si estende sulle <span class="catalogo-pb" id="page_29">29</span> opere di pittura e di scultura, la terza del
primo autore si estende su altre antichità di Napoli, Pozzuolo, Baja, Cuma e Capua. Queste tre lezioni sono
precedute da una memoria storica sulla città di Ercolano redatta da un uomo di lettere. Il volumetto è ornato di 40
tavole intagliate con molta grazia dallo stesso Bellicard.
È preceduto questo libro da un Essai sur la peinture, la sculpture, et l’architecture 1751, senza luogo.</div><div id="catalogo-note-text-2663" class="catalogo-note-search-results truncate-line-clamp">L’operetta è divisa in tre sezioni. La prima dell’architetto Bellicard ove sono descritte le principali antichità
ercolanensi, la seconda di M. Cochin il figlio che si estende sulle <span class="catalogo-pb" id="page_29">29</span> opere di pittura e di scultura, la terza del
primo autore si estende su altre antichità di Napoli, Pozzuolo, Baja, Cuma e Capua. Queste tre lezioni sono
precedute da una memoria storica sulla città di Ercolano redatta da un uomo di lettere. Il volumetto è ornato di 40
tavole intagliate con molta grazia dallo stesso Bellicard.
È preceduto questo libro da un Essai sur la peinture, la sculpture, et l’architecture 1751, senza luogo.</div><a id="catalogo-note-text-toggle-2663" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>