<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="290">
                  <span class="catalogo-item-label">290.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/290"> L’ARTE di scrivere tratta dal dizionario d’arti e mestieri dell’Enciclopedia metodica,</a></span>
                     <span class="catalogo-pubPlace"> Padova</span>
	                    <span class="catalogo-date">1796</span>, <span class="catalogo-extent">in 4, grande.</span>
                     <div class="catalogo-note">	Il testo è di pag. 56, oltre 15 tavole di calligrafia.</div><div id="catalogo-note-text-290" class="catalogo-note-search-results truncate-line-clamp">	Il testo è di pag. 56, oltre 15 tavole di calligrafia.</div><a id="catalogo-note-text-toggle-290" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 </span>
	              </section>