<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1026">
                  <span class="catalogo-item-label">1026.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAGNATISI Giovan Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1026">Fiori d’ingegno, composizioni in lode d’una bellissima effigie di
      Primavera</a></span>, opera del Sig. Carlo Maratti famoso pittore romano, esistente presso il Sig. Nicolò
      Michiel Senatore, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1685</span>, in 8.
      <span class="catalogo-pb" id="page_184">184</span>
               </span></section>