<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="816">
                  <span class="catalogo-item-label">816.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOSSE Abram</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/816">Traité des pratiques géometrales et perspectives enseignées dans l’Accademie
	Royale de la peinture et sculpture</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1665</span>, fig. in 8.
	<div class="catalogo-note collapse">Opera ricca di 67 tavole di bello intaglio, come lo sono tutti i volumi di questo valente artista. Avanti il
	frontespizio sia il bellissimo titolo figurato, e in un panno leggasi intagliato Leçons données dans l’Accademie R.
	de peinture et sculpt. par A. Bosse.</div>
	
	</span></section>