<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1902">
                  <span class="catalogo-item-label">1902.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIOVIO Paolo M. e Gabriello Simeoni Fior</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1902">Dialogo delle imprese militari ed amorose con un
    ragionamento di Mes. Lodovico Domenichi</a></span>, <span class="catalogo-pubPlace">Lione</span> per Gugl. Rovilio, <span class="catalogo-date">1574</span>, in 8, fig.
    <div class="catalogo-note">Elegantissimo libro col ritratto del Giovio e 135 stampe in legno del più elegante disegno ed esecuzione. Per le
    imprese del Giovio servirono le tavole dell’edizione precedente.</div>
    
    <span class="catalogo-pb" id="page_324">324</span>
               </span></section>