<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2585">
                     <span class="catalogo-item-label">2585.</span> <span class="catalogo-bibl"><span class="catalogo-author">GORI Anton Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2585">Risposta al marchese Maffei, autore delle osservazioni letterarie pubblicate nel quarto
tomo</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1739</span>, in 12.
</span></section>