<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="623">
                  <span class="catalogo-item-label">623.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">PREISLER (Justin)</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/623">Ornamenti d’architettura,</a></span> 
                     <span class="catalogo-pubPlace">Norimberga</span> 
                     <span class="catalogo-date">1734,</span>
                     <span class="catalogo-extent"> in 4, fig.</span> in tedesco.</span>
	                 <div class="catalogo-note">Sono 14 tavole con 26 porte intagliate in rame dalle quali Dio salvi ogni cristiano dal divenir eretico passandovi
	sotto.</div><div id="catalogo-note-text-623" class="catalogo-note-search-results truncate-line-clamp">Sono 14 tavole con 26 porte intagliate in rame dalle quali Dio salvi ogni cristiano dal divenir eretico passandovi
	sotto.</div><a id="catalogo-note-text-toggle-623" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>