<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4210">
                        <span class="catalogo-item-label">4210.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4210">DESCRIZIONE di tutte le pietre, ed ornamenti che si ammirano nella Cappella dei Depositi de’ Gran Duchi di
                           Toscana in S. Lorenzo</a></span>, <span class="catalogo-pubPlace">Firenze</span><span class="catalogo-date"> 1761</span>, in 8.
</span></section>