<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="540">
                  <span class="catalogo-item-label">540.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">LABACCO</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/540">L’istessa opera</a></span> 
                     <span class="catalogo-pubPlace">stampata in Roma</span> negli anni del Signore <span class="catalogo-date">1557.</span>
                  </span>
	                 <div class="catalogo-note collapse">A questo più fresco esemplare sono aggiunte altre 17 cattive tavole di monumenti romani senza luogo né anno né
	nome d’intagliatore, ma appariscono essere tolte dall’opera di Vredman. Anche questo ha la data contrafatta.</div>
	
	              </section>