<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="853">
                  <span class="catalogo-item-label">853.</span> <span class="catalogo-bibl"><span class="catalogo-author">PÉTITOT</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/853">Ragionamento sopra la prospettiva, per agevolarne l’uso ai professori dedicato ai
	medesimi</a></span>, <span class="catalogo-pubPlace">Parma</span> <span class="catalogo-date">1768</span>, in fol. fig. Italiano e francese.
	<div id="catalogo-note-text-853" class="catalogo-note truncate-line-clamp">Pietro Iacopo Gaultier intagliatore con grande apparato diede al pubblico quest’opera di poche pagine con 9
	tavole in rame, nelle quali sono trattati alcuni punti che riguardano la pratica del basso rilievo.</div><a id="catalogo-note-text-toggle-853" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>