<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="479">
                  <span class="catalogo-item-label">479.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CLERMONT</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/479"> L’arithmétique militaire, ou l’arithmétique pratique, divisée en trois parties,</a></span>
                     <span class="catalogo-pubPlace"> Paris</span>
	                    <span class="catalogo-date">1733,</span>
                     <span class="catalogo-extent"> in 4.</span>
                  </span>
	                 
	                 
	                 
	
	                 <span class="catalogo-bibl">— Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/479">la Geometrie pratique de l’ingenieur, ou l’art de mésurer: dediée a M. de
	Vauban,</a></span>
                     <span class="catalogo-pubPlace"> Paris</span>
                     <span class="catalogo-date"> 1733,</span> 
                     <span class="catalogo-extent">in 4.</span>
	Con 27 Tavole intagliate in rame.</span>
	
	              </section>