<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="264">
                  <span class="catalogo-item-label">264.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MASINI LORENZO</span> veneto incisore, <span class="catalogo-title"><a class="catalog-link" href="/catalog/264">Considerazioni sopra alcuni supplementi e note d’un autore
	fiorentino traduttore del secondo trattato della storia di Mariette, che segue le Memorie
	degl’intagliatori moderni in gemme, con la dissertazione d’un nuove castelletto per incider le
	pietre orientali,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1756</span>, <span class="catalogo-extent">in 4,</span> con una tavola in rame che esprime il castelletto e varie
	vignette allusive alla maniera.</span>
	                 <div class="catalogo-note">Curioso e caustico libro.</div>	
	              </section>