<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1270">
                  <span class="catalogo-item-label">1270.</span> <span class="catalogo-bibl"><span class="catalogo-author">LAMBERTI Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1270">Descrizione dei dipinti a buon fresco eseguiti dallo stesso nella sala dei
    Principi in detto Palazzo</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1810</span>, in 8. Estratta dal Giornale Ufficiale, Ital. Fr., M. 37.
    </span></section>