<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="834">
                  <span class="catalogo-item-label">834.</span> <span class="catalogo-bibl"><span class="catalogo-author">DUPAIS de Montesson</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/834">L’art d’ éléver les plans</a></span>. Nouvelle édition corrigée par J. J. Verkaven P.
	de Matématique, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1804</span>, in 8, fig.
	<div id="catalogo-note-text-834" class="catalogo-note truncate-line-clamp">Con 9 grandi tavole in rame. Opera utile per le pratiche non tanto dei piani militari, che dell’agrimensura.</div><a id="catalogo-note-text-toggle-834" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>