<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4284">
                        <span class="catalogo-item-label">4284.</span> <span class="catalogo-bibl"><span class="catalogo-author">DUBOIS Fr. de S. Gelais</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4284">Déscription des tableaux du Palais Royal, avec la vie des peintres à la tête de leurs
ouvrages</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1727</span>, in 12.
<div class="catalogo-note">Il libro apparisce di autore anonimo, ma il nome che qui si espone è verificato in diversi autori, e fra gli altri nella
tavola degli scrittori del T. V. del P. Le Long al nome Dubois.</div>
</span></section>