<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2151">
                  <span class="catalogo-item-label">2151.</span> <span class="catalogo-bibl"><span class="catalogo-author">CHOMPRÉ</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2151">Dictionnaire abrégé de la fable pour l’intelligence des poétes etc.</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1798</span>, in
    12.

                  
                  
    
               </span></section>