<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="862">
                  <span class="catalogo-item-label">862.</span> <span class="catalogo-bibl"><span class="catalogo-author">TAYLOR et Mourdoc</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/862">Traduction de deux ouvrages, l’une angloise, l’autre latine sur les
	nouveaux principes de perspective linéeaire, avec un’essai sur le melange des couleurs par
	Newton</a></span>: avec fig., <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1757</span>, en 8.
	<div id="catalogo-note-text-862" class="catalogo-note truncate-line-clamp">Con 6 tavole-in rame. Opera escita dopo la traduzione italiana del P. Jaquier.</div><a id="catalogo-note-text-toggle-862" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>