<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1551">
                  <span class="catalogo-item-label">1551.</span> <span class="catalogo-bibl"><span class="catalogo-author">AGRIPPA Cammillo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1551">Trattato di scienze d’arme con un dialogo di filosofia</a></span>, <span class="catalogo-pubPlace">Roma</span>, per
    Antonio Blado, <span class="catalogo-date">1553</span>, in 4, fig.
    <div class="catalogo-note">Questo è un bellissimo libro, le cui tavole sono assai ben intagliate e disegnate nello stile della scuola di M.
    Antonio: sonovi due gran tavole istoriate l’una al principio del trattato, l’altra aranti il dialogo: e 55 tavole di
    schermitori. In fronte al libro su un ritratto dell’autore assai bello.</div><div id="catalogo-note-text-1551" class="catalogo-note-search-results truncate-line-clamp">Questo è un bellissimo libro, le cui tavole sono assai ben intagliate e disegnate nello stile della scuola di M.
    Antonio: sonovi due gran tavole istoriate l’una al principio del trattato, l’altra aranti il dialogo: e 55 tavole di
    schermitori. In fronte al libro su un ritratto dell’autore assai bello.</div><a id="catalogo-note-text-toggle-1551" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>