<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3556">
                     <span class="catalogo-item-label">3556.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3556">SCULTURE del palazzo della Villa Borghese detta Pinciana brevemente descritte</a></span>, 
                        <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1796</span>, in 8, vol. 3.
<div class="catalogo-note">Il primo volume contiene in due parti riunite le succinte illustrazioni estratte dalle più copiose già preparate dal
celebre Ennio Quirino Visconti, che dovevano escire in un colle statue già incise per un’edizione in foglio,
tuttora inedita, il cui ricco materiale sta presso il principe Borghese. Gli altri due volumi contengono in due parti
separate le sculture incise a contorni, in numero di circa 250 tavole.</div>
</span></section>