<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1676">
                  <span class="catalogo-item-label">1676.</span> <span class="catalogo-bibl"><span class="catalogo-author">HYDE Thom.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1676">De ludis orientalibus libri duo quorum prior est duarum part. sive historia
    Schachiludii latine et historia Schachiludii Hebr. Lat. per tres Judaeos: liber posterior continet
    historiam reliquorum Orientis</a></span>, <span class="catalogo-pubPlace">Oxonii</span> <span class="catalogo-date">1694</span>, in 8.
    <div class="catalogo-note">Libro raro e prezioso per l’immensa erudizione e cognizione delle lingue orientali e per le accuratissime tavole
    sparse fra il testo ai respettivi luoghi.
    </div><div id="catalogo-note-text-1676" class="catalogo-note-search-results truncate-line-clamp">Libro raro e prezioso per l’immensa erudizione e cognizione delle lingue orientali e per le accuratissime tavole
    sparse fra il testo ai respettivi luoghi.
    </div><a id="catalogo-note-text-toggle-1676" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>