<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3142">
                     <span class="catalogo-item-label">3142.</span> <span class="catalogo-bibl"><span class="catalogo-author">RAPONI Ignatii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3142">De quodam epigrammate graeco, Romae in Coelimontanis Matthaejorum hortis extante</a></span>, <span class="catalogo-pubPlace">Velitris</span>
<span class="catalogo-date">1788</span>, in 4, M. 23.
<span class="catalogo-pb" id="page_104">104</span>
                  </span></section>