<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2698">
                     <span class="catalogo-item-label">2698.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2698">PAUSANIAS ou voyage historique de la Grece</a></span> traduit en francois avec des remarques par l’ab. Gedoyn, vol. 2, in 4,
<span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1731</span>.
<div class="catalogo-note collapse">Con diverse carte topografiche e alcune tavole figurate, colle vedute della barriera d’Olimpia, della battaglia di
Mantinea, di quella dei Messenj contro gli Spartani e di quella del Monte Itome, intagliate magistralmente in
quattro gran tavole da Gio. Rigaud.</div>
</span></section>