<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3936">
                     <span class="catalogo-item-label">3936.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3936">ANTIQUITIES of Great Britain</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1786</span>, vol. I, plat 51, in inglese, e francese.
<span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3936">ANTIQUITIES of Great Britain illustrated in views of monasteries, castles, and churches non existing</a></span>, engraved by
W. Byrne from drawings madeby Thomas Hearne, with descriptions in english and in french, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1807</span>, vol.
II, plat 32, in fol. oblong.</span>
<div class="catalogo-note collapse">Questi due volumi contengono le più graziose e ben eseguite stampe che dir si possa, e sono del genere appunto
in cui gl’inglesi primeggiano sulle altre nazioni.</div>
</span></section>