<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1719">
                  <span class="catalogo-item-label">1719.</span> <span class="catalogo-bibl"><span class="catalogo-author">MITELLI pittor bolognese</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1719">Proverbi figurati consecrati al Sereniss. Principe Franc. M. di
  Toscana da Gius. M. Mitelli inventati, disegnati e intagliati</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1678</span>, in f. tav. 49
  compreso il frontespizio figurato: con 6 tavole di più nel fine relative esse pure a proverbi,
  intorno gli scherzi della fortuna. Vedi anche Caracci An.
  <div class="catalogo-note">Somma fu la facilità di questo intagliatore, che malgrado una certa scorrezione di contorni mise un gusto munito
  
                  
                  
  m le sue opere divenute rare.</div><div id="catalogo-note-text-1719" class="catalogo-note-search-results truncate-line-clamp">Somma fu la facilità di questo intagliatore, che malgrado una certa scorrezione di contorni mise un gusto munito
  
                  
                  
  m le sue opere divenute rare.</div><a id="catalogo-note-text-toggle-1719" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>