<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1141">
                  <span class="catalogo-item-label">1141.</span> <span class="catalogo-bibl"><span class="catalogo-author">BONI Onofrio</span>, Cavaliere Onofrio. <span class="catalogo-title"><a class="catalog-link" href="/catalog/1141">Lettera al chiarissimo sig. Abate Gaetano Marini</a></span>, prefetto
    degli archivi segreti della S. Sede e primo custode della Biblioteca Vaticana sui tempi
    monopteri degli antichi e su qualche altro oggetto di Belle Arti, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1804</span>, in 8. M. 31.
    <div class="catalogo-note">Con una tavola in principio.</div><div id="catalogo-note-text-1141" class="catalogo-note-search-results truncate-line-clamp">Con una tavola in principio.</div><a id="catalogo-note-text-toggle-1141" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>