<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="245">
                  <span class="catalogo-item-label">245.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ZUCCARI</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/245">L’idea degli scultori, pittori e architetti divisa in due libri a Carlo Emanuele di
	  Savoia,</a></span> 
                     <span class="catalogo-pubPlace">Torino</span>, Per Agostino di Serolio, 
                     <span class="catalogo-date">1607</span>,<span class="catalogo-extent"> in 4.</span>
                  </span>
	              </section>