<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3991">
                     <span class="catalogo-item-label">3991.</span> <span class="catalogo-bibl"><span class="catalogo-author">CLUVERII Philippi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3991">Germaniae antiquae libri tres: adjectae sunt Vindelicia, et Noricum</a></span>, <span class="catalogo-pubPlace">Lugduni Batavorum</span>, apud
Elzevirium, <span class="catalogo-date">1616</span>, in 4 gr., fig.
<div class="catalogo-note">Con undici carte topografiche, e 25 tavole figurate in rame.</div>
<span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3991">COLLEZIONE di stampe, pareri, lettere, e disegni per la facciata del Duomo di Milano</a></span>, pubblicate nella fine del
secolo XVII. Opera rarissima e interessantissima. <span class="catalogo-bibl">Vedasi <span class="catalogo-title"><a class="catalog-link" href="/catalog/3991">all’articolo Raccolta</a></span></span>.</span>
<span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3991">COMMENTARIO delle più notabili, e mostruose cose d’Italia</a></span>. <span class="catalogo-bibl">Vedi <span class="catalogo-author">Lando Ortensio</span> fra le Guide: al quale è
aggiunto un catalogo degli inventori delle cose, che si mangiano, e si bevono, composto da messer Anonimo di
Eutopia, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1548</span>, in 8.</span>
<div class="catalogo-note">Libro dei più strani, e curiosi che siensi stampati in quel tempo, ma pienissimo di notizie relative ai fasti di molte
famiglie italiane.</div></span>
</span></section>