<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="622">
                  <span class="catalogo-item-label">622.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">POTAIN</span> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/622">Traité des ordres d’architecture. Premiere partie: de la proportion des cinq ordres,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span>
	                    <span class="catalogo-date">1767,</span>
                     <span class="catalogo-extent"> en 4, fig.</span>
                  </span>
	                 <div id="catalogo-note-text-622" class="catalogo-note truncate-line-clamp">Dalla prefazione sembra che l’autore avesse immaginata di pubblicare quattro volumi su quattro diverse parti in
	cui aveva diviso ci mio studio. Non conosciamo che ne fosse altra parte pubblicata fuori di questa, ove seguendo
	le traccie dei buoni sciatori in tal materia presentatisi 58 tavole illustrative del testo ben intagliate in rame da
	Choffard.</div><a id="catalogo-note-text-toggle-622" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>