<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1006">
                  <span class="catalogo-item-label">1006.</span> <span class="catalogo-bibl"><span class="catalogo-author">ANGELUCCI Anastasio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1006">Stanze con documenti e note a illustrazione della città e degli uomini
      celebri d’Arezzo</a></span>, <span class="catalogo-pubPlace">Pisa</span> <span class="catalogo-date">1816</span>, in 8.
      <span class="catalogo-pb" id="page_181">181</span>
               </span></section>