<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4231">
                        <span class="catalogo-item-label">4231.</span> <span class="catalogo-bibl"><span class="catalogo-author">GAUDENTI D. Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4231">Storia delle Santa Casa di Loreto</a></span>, <span class="catalogo-pubPlace">Loreto</span> <span class="catalogo-date">1786</span>, in 8, fig.
<div class="catalogo-note">Sono in quest’opera cinque tavole in rame rappresentanti la pianta, e i lati della S. Cappella. I libri che illustrano
questo Santuario dovendo servire all’oggetto più della devozione che dell’erudizione, non possono essere estesi
con sana critica.</div>
</span></section>