<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2238">
                  <span class="catalogo-item-label">2238.</span> <span class="catalogo-bibl"><span class="catalogo-author">CICOGNARA Leopoldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2238">Dell’origine dell’accademie</a></span>. Orazione ed elogi di Tiziano, di
    Giorgione, di Palladio.
    <div class="catalogo-note collapse">Queste quattro operette vedile nelle orazioni recitate nelle distribuzioni de’ premi veneti.</div>
    
    </span></section>