<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3590">
                     <span class="catalogo-item-label">3590.</span> <span class="catalogo-bibl"><span class="catalogo-author">BANCK L.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3590">Taxa cancelleriae romanae in lucem emissa, et notis illustrata. Accedit index latino-barbarus cum
indice titulorum rerum, et verborum</a></span>, <span class="catalogo-pubPlace">Franekerae</span> <span class="catalogo-date">1651</span>, in 12.
<div class="catalogo-note">Libro molto singolare per l’argomento, e per una serie di antiche osservazioni intorno ai costumi di Roma, che si è
reso raro.</div>
</span></section>