<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1408">
                  <span class="catalogo-item-label">1408.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOCCHIUS Jo.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1408">Pompae triumphalis et spectaculorum in adventu et inauguratone
    Serenissimorum Prin. Alberti et Isabellae Austrae Archiducum etc.</a></span>, <span class="catalogo-pubPlace">Ant.</span> ex off. Plantin, <span class="catalogo-date">1602</span>,
    in fol. fig.
    <div class="catalogo-note">Con 31 grandi e belle tavole in rame.</div>
    MDCIII
    
    </span></section>