<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4419">
                        <span class="catalogo-item-label">4419.</span> <span class="catalogo-bibl"><span class="catalogo-author">HELLE et REMY</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4419">Catalogue d’une colléction de desseins, tableaux et estampes du Cabinet de M. Manglard
peintre</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1762</span>, in 8.
</span></section>