<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="988">
                  <span class="catalogo-item-label">988.</span> <span class="catalogo-bibl"><span class="catalogo-author">GOZZI Gasparo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/988">L’arte della pittura poema tradotto dal francese</a></span>, canti 4, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1771</span>, in 4,
      M. 7.
      <div class="catalogo-note">Questa è una traduzione in versi sciolti del poema di <span class="catalogo-pb" id="page_179">179</span> Watelet pubblicata in occasione del matrimonio del
      sig. Cav. Alvise Mocenigo colla sig. Polissena Contarini: con frontespizio figurato. Esemplare in carta grande.</div>
      
      </span></section>