<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2414">
                  <span class="catalogo-item-label">2414.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZANOTTI Gio. Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2414">Nuovo fregio di Gloria a Felsina sempre pittrice nella vita di Lorenzo
    Pasinelli pittor bolognese</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1706</span>, in 8.
    </span></section>