<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="871">
                  <span class="catalogo-item-label">871.</span> <span class="catalogo-bibl"><span class="catalogo-author">VISENTINI Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/871">L’introduzione della soda e reale architettura e prospettiva</a></span>; manoscritto.
      <div class="catalogo-note">Questo Visentini fu maestro nel secolo scorso della pubblica Accademia Veneta e scrisse questo trattato
      prospettico per erudire la gioventù. Lo ornò di 81 figure, che sono quadri di composizione sua, acquarellati in
      chiaroscuro per essere poi intagliati, e pubblicati nell’opera. Il dispendio che avrebbe costato quest’edizione
      ritenne forse l’autore dal darla alla luce. Sebbene se fosse stata eseguita, come la sua seconda parte degli Errori
      del Gallacini, non vi si sarebbe troppo lodata l’accuratezza e il buon gusto. Vedi GALLACINI ec.</div><div id="catalogo-note-text-871" class="catalogo-note-search-results truncate-line-clamp">Questo Visentini fu maestro nel secolo scorso della pubblica Accademia Veneta e scrisse questo trattato
      prospettico per erudire la gioventù. Lo ornò di 81 figure, che sono quadri di composizione sua, acquarellati in
      chiaroscuro per essere poi intagliati, e pubblicati nell’opera. Il dispendio che avrebbe costato quest’edizione
      ritenne forse l’autore dal darla alla luce. Sebbene se fosse stata eseguita, come la sua seconda parte degli Errori
      del Gallacini, non vi si sarebbe troppo lodata l’accuratezza e il buon gusto. Vedi GALLACINI ec.</div><a id="catalogo-note-text-toggle-871" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>