<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1861">
                  <span class="catalogo-item-label">1861.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRUCK Jac.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1861">Emblemata politica</a></span>, <span class="catalogo-pubPlace">Argentina</span> <span class="catalogo-date">1618</span>, in 4.
    <div class="catalogo-note collapse">Sonovi 54 tavole non compresovi il frontespizio di elegante incisione. Unito al De Bry Proscenium vitae
    humanae.</div>
    
    </span></section>