<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1771">
                  <span class="catalogo-item-label">1771.</span> <span class="catalogo-bibl"><span class="catalogo-author">QUEN-STEDT Jo. Andreae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1771">Sepultura veterum, sive tractatus de antiquis ritibus sepulcralibus</a></span>,
  <span class="catalogo-pubPlace">Witembergae</span> <span class="catalogo-date">1660</span>, in 12.
  </span></section>