<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2793">
                     <span class="catalogo-item-label">2793.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAPPONI Joannis Baptistae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2793">De Othone aereo etc.</a></span> commentarius, <span class="catalogo-pubPlace">Bononiae</span> <span class="catalogo-date">1669</span>, in 8, fig., M. 20 e 49.
<div class="catalogo-note collapse">La singolarissima medaglia è intagliata in rame e riportata nella pagina 24. Aggiutovi un foglietto in 8 di stampa
della vera medaglia d’Ottone, 24 Imperatore. Bologna 1667 con la medaglia intagliata in legno assai bene e forse
amendue sono contraffazioni.</div>
</span></section>