<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1325">
                  <span class="catalogo-item-label">1325.</span> <span class="catalogo-bibl"><span class="catalogo-author">LAZZARINI Giovanni Andrea</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1325">Dissertazione sopra l’arte della pittura</a></span>. Letta nell’Accademia
    Pesarese l’anno 1753, <span class="catalogo-pubPlace">Vicenza</span> <span class="catalogo-date">1782</span>, in 8.
    </span></section>