<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2153">
                  <span class="catalogo-item-label">2153.</span> <span class="catalogo-bibl"><span class="catalogo-author">CORSARO Gius. Antonio Proposto</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2153">Dizionario storico de’ culti religiosi</a></span>. Traduzione dal
    francese, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1786</span>, vol. 7, in 8.
    </span></section>