<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2221">
                  <span class="catalogo-item-label">2221.</span> <span class="catalogo-bibl"><span class="catalogo-author">BUMALDO Jo. Antonius</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2221">Minervalia Bonon. civium anademata seu Biblìotheca Bononiensis.</a></span>
    Cui accessit brevis catalogus antiquorum pictorum et sculptorum Bonon., <span class="catalogo-pubPlace">Bononiae</span> <span class="catalogo-date">1641</span>, in
    12.
    </span></section>