<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4609">
                     <span class="catalogo-item-label">4609.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUERINIERE (de la) ecuyer du Roi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4609">École de la cavalérie contenant la connoissance, l’instruction et la
                        conservation du chéval avec figures en taille douce</a></span>, <span class="catalogo-pubPlace">Paris</span><span class="catalogo-date"> 1751</span>, in fol.
<div id="catalogo-note-text-4609" class="catalogo-note truncate-line-clamp">Bella edizione con 38 tavole compreso il frontespizio, la maggior parte intagliate da I. Audran, da Le Bas, e da
   altri incisori, con gusto, e grandiosa esecuzione</div><a id="catalogo-note-text-toggle-4609" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>