<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3815">
                     <span class="catalogo-item-label">3815.</span> <span class="catalogo-bibl"><span class="catalogo-author">PANCIROLI Ottavio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3815">Tesori nascosti dell’alma città di Roma con nuovo ordine ristampati, ed arricchiti</a></span>, <span class="catalogo-pubPlace">Roma</span>

<span class="catalogo-date">1625</span>, in 8, fig.
<div id="catalogo-note-text-3815" class="catalogo-note truncate-line-clamp">La prima edizione di quest’opera apparve nel 1600, ma con diverso ordine, e non è così pregievole come la
seconda: vastissima è l’erudizione, specialmente sacra, di cui è pienissima quest’opera.</div><a id="catalogo-note-text-toggle-3815" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>