<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2156">
                  <span class="catalogo-item-label">2156.</span> <span class="catalogo-bibl"><span class="catalogo-author">DANETIUS Petrus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2156">Dictionarium antiquitatum romanarum et graecarum ad usum Delphini</a></span>,
    <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1701</span>, in 4.<div id="catalogo-note-text-2156" class="catalogo-note truncate-line-clamp">
    Opera che ha perduto molto del suo pregio dopo le più recenti produzioni di questo genere e non le rimane che
    quello di appartenere alla collana delle opere pubblicate ad usum Delphini.
    </div><a id="catalogo-note-text-toggle-2156" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>