<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3713">
                     <span class="catalogo-item-label">3713.</span> <span class="catalogo-bibl"><span class="catalogo-author">FAUNO Lucio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3713">Le stesse antichità riviste ora, e corrette dal medesimo autore, con un compendio di Roma antica nel
fine, dove con somma brevità si vede quanto in tutti questi libri si dice</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per Michele Tramezzino, <span class="catalogo-date">1552</span>,
in 8.
<div class="catalogo-note collapse">Aurea operetta, ed amendue bellissimi esemplari.</div>
</span></section>