<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="577">
                  <span class="catalogo-item-label">577.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">NATIVELLE Pierre</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/577">Nouveau traité d’architecture contenant les cinq ordres suivant les quatres
	auteurs les plus approuvés,</a></span> 
                     <span class="catalogo-extent">enrichi de 125 planches, 2 vol. in fol. atlant,</span> 
                     <span class="catalogo-pubPlace">Paris,</span> 
                     chez Dupuis, 
                     <span class="catalogo-date">1729.</span>
                  </span>
	                 <div class="catalogo-note">Nel primo volume sono dati gli ordini secondo il Vignola col suo proprio testo e le interpretazioni; un secondo
	sono dati i medesimi ordini secondo il testo di Palladio. Le tavole in grandissima dimensione sono intagliate con
	gran lusso, m <span class="catalogo-pb" id="page_104">104</span>le parti ornamentali in ciascuna dimostrazione degli ordini, eseguite poi secondo il gusto e
	l’idea dell’autore, in tempi di corruzione nelle arti, deturpano un’opera che è concepita assai grandiosamente.</div>
	
	              </section>