<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="878">
                  <span class="catalogo-item-label">878.</span> <span class="catalogo-bibl"><span class="catalogo-author">AULISII Dominici</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/878">Opuscula de Gymnasii costructione, mausolei architectura, harmonia
      timaica et numeris medicis</a></span>: hic accessit de colo Mayerano, <span class="catalogo-pubPlace">Neapoli</span> <span class="catalogo-date">1694</span>, in 4.
      <div class="catalogo-note collapse">Stanno ai luoghi de’ rispettivi opuscoli le tavole illustrative.</div>
      
      </span></section>