<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="355">
                  <span class="catalogo-item-label">355.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SABATELLI Luigi</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/355"> Principi del disegno inventati, e disegnati; intagliati all’acqua forte da
	Giuseppe Pera,</a></span> 
                     <span class="catalogo-pubPlace">Firenze</span> 
                     <span class="catalogo-date">1802,</span>
                     <span class="catalogo-extent"> tav. 24 in fol. obl.</span>
                  </span>
	                 <div class="catalogo-note collapse">Il vigore magistrale, con cui sono segnati questi elementi servirebbe a renderli infinitamente più preziosi, se in
	luogo d’esser tracciati secondo la fantasia dell’artista, fossero tratti dalle più pure e meditate sorgenti dell’antico
	e del vero ben scelto.</div>
	
	              </section>