<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1486">
                  <span class="catalogo-item-label">1486.</span> <span class="catalogo-bibl"><span class="catalogo-author">AQUINO Car.</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/1486">Sacra exequialia in funere Jacobi II, Magnae Britanniae Regis descriptae Carolo
    de Aquino</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1702</span>, in fol. fig.
    <div id="catalogo-note-text-1486" class="catalogo-note truncate-line-clamp">Sebastiano Cipriani inventò gli apparati e Alessandro Specchi intagliò le 19 tavole di nitida esecuzione: in fine è
    la orazione funebre dello stesso Carlo d’Aquino.</div><a id="catalogo-note-text-toggle-1486" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCCIII
    
    </span></section>