<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="234">
                  <span class="catalogo-item-label">234.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">Da VINCI Lionardo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/234">Trattato della pittura ridotto alla sua vera lezione sopra una sua copia a
	  penna di mano di Stefanino della Bella con le figure disegnate dal medesimo,</a></span> 
                     <span class="catalogo-pubPlace">Firenze</span> 
                     <span class="catalogo-date">1792</span>, <span class="catalogo-extent">in
	  4.</span>
                  </span>
	                 <div id="catalogo-note-text-234" class="catalogo-note truncate-line-clamp">
	  Il chiaro sig. ab. Francesco Fontani trovò nella Riccardiana il manoscritto di Leonardo e lo credette di mano di
	  Stefano della Bella con figure marginali illustrate e segnate da questo valente intagliatore e conoscendo che
	  l’edizione italiana di Parigi era tradotta da un manoscritto scorretto, e le figure erano alterate per voler
	  ombreggiarle, verificando che Freart portò troppe alterazioni al trattato nella sua versione francese, senza be
	  intendere in tutti i luoghi del testo di <span class="catalogo-pb" id="page_39">39</span> Leonardo; verificando che l’edizione italiana di Napoli del 1733 e
	  l’altra di Bologna del 1786 non erano che materiali ristampe di quella di Parigi, diverse soltanto nell’infelicità
	  delle tavole, senza correggere alcuno degli errori nell’antica trascorsi, pubblicò il codice di Stefano della Bella. A
	  questo aggiunse le memorie intorno a Leonardo e intorno lo stesso Stefano coi rispettivi ritratti e molte note e
	  una bella lezione accademica del Lami intorno agli artisti che fiorirono dal 1000 al 1300.
	  </div><a id="catalogo-note-text-toggle-234" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	              </section>