<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3185">
                     <span class="catalogo-item-label">3185.</span> <span class="catalogo-bibl"><span class="catalogo-author">BONI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3185">Sulla pittura di un gonfalone della Confraternita di S. Maria di Castello e su di altre opere fatte nel Friuli da
Giovanni da Udine, lettera</a></span>, <span class="catalogo-pubPlace">Udine</span> <span class="catalogo-date">1707</span>, in 8, M. 53.
</span></section>