<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1874">
                  <span class="catalogo-item-label">1874.</span> <span class="catalogo-bibl"><span class="catalogo-author">CONTILE Luca</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1874">Ragionamento sopra la proprietà delle imprese con le particolari degli
    accademici <span class="catalogo-pb" id="page_320">320</span> affidati e cotte interpretazioni e cronache</a></span>, <span class="catalogo-pubPlace">Pavia</span>, presso Girolamo Bartoli,
    <span class="catalogo-date">1574</span>, in fol. fig.
    <div class="catalogo-note">Bellissima edizione con 109 tavole di buon intaglio.</div>
    
    </span></section>