<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2893">
                     <span class="catalogo-item-label">2893.</span> <span class="catalogo-bibl"><span class="catalogo-author">KEDERI Nicolai</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2893">Runae in nummis vetustis inventae</a></span>, <span class="catalogo-pubPlace">Lipsiae</span><span class="catalogo-date"> 1704</span>, in 4, M. 12.
<span class="catalogo-pb" id="page_66">66</span>
                  </span></section>