<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="504">
                  <span class="catalogo-item-label">504.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FICHER</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/504">Livre d’architecture contenant les bâtimens antiques moins connus, ceux des arabes et
	des turques; l’architecture persanne et quelques bâtimens aussi de l’invention et dessin de
	l’auteur avec diverses vases antiques et quelques uns d’invention de l’auteur,</a></span> 
                     <span class="catalogo-date">1623</span> 
                     <span class="catalogo-pubPlace">Leipzig,</span> 
                     <span class="catalogo-extent">in
	fol. oblong, fig. col testo francese e tedesco, libri V.</span>
                  </span>
	                 <div class="catalogo-note">Quest’opera presenta un’indigesta riunione di opere infedelmente tratte da altri e in parte sognate da questo
	architetto.</div>
	                 <div class="catalogo-note">II trarre dai racconti della storia edifici di cui non restano traccie è opera che esige infinita critica e
	l’imaginazione non basta, specialmente quando non è punto guidata dal gusto. Contiene il volume 84 tavole, di
	
	                    
	                    
	cui le ultime tredici rappresentano una collezione di vasi.</div>
	
	              </section>