<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3841">
                     <span class="catalogo-item-label">3841.</span> <span class="catalogo-bibl"><span class="catalogo-author">POCH Bernardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3841">De’ marmi estratti dal Tevere, e delle iscrizioni scolpite in essi a S. E. il principe Altieri, lettera</a></span>,
<span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1773</span>, in 4, M. 1, e 27.
<div id="catalogo-note-text-3841" class="catalogo-note truncate-line-clamp">Non è che un foglietto in stampa.</div><a id="catalogo-note-text-toggle-3841" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>