<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1461">
                  <span class="catalogo-item-label">1461.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARELA Giovanni B.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1461">Honrras a la Catholica magestad del rey D. Philippe quarto celebradas
    en Milan a’ 17 deciembre <span class="catalogo-date">1665</span></a></span>, traducidas de italiano en Espannol, in fol.
    <div class="catalogo-note collapse">La relazione fu stesa in italiano dal P. Giovan Battista Barela, tradotta in spagnuolo da D. Cabrici de Ucedo.</div>
    MDCLXVI
    
    </span></section>