<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3220">
                     <span class="catalogo-item-label">3220.</span> <span class="catalogo-bibl"><span class="catalogo-author">FEA Carlo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3220">Miscellanea filologica, critica e antiquaria</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1790</span>, in 8.
<div class="catalogo-note">Vertono queste principalmente intorno Plinio; sulle antichità di Roma di Flaminio Vacca, sovra un codice
Chigiano, su alcuni estratti dal Ficoroni, dal Winkelmann, da Ulisse Aldrovando, sulle escavazioni fatte in Roma
ed altri simili argomenti.</div>
</span></section>