<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4763">
                     <span class="catalogo-item-label">4763.</span> <span class="catalogo-bibl"><span class="catalogo-author">BUSCHING Giovan Gustavo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4763">Dissertazione intorno una statuetta antica rappresentante l’idolo Tyr</a></span>, <span class="catalogo-pubPlace">Breslavia</span> <span class="catalogo-date">1819</span>,
in 8, con una tavola in rame in lingua tedesca.
</span></section>