<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1314">
                  <span class="catalogo-item-label">1314.</span> <span class="catalogo-bibl"><span class="catalogo-author">FELIBIEN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1314">Conferences de l’Académie Royale de Peinture et Sculpture pendant l’année 1667</a></span>,
    <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1669</span>, in 4.
    <div class="catalogo-note">L’autore ebbe ordine di pubblicare le conferenze private che teneva il rispettabile consesso degli artisti, i quali
    nel primo sabato d’ogni mese venivano uniti e presieduti dal magnanimo Colbert.</div>
    
    </span></section>