<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3094">
                     <span class="catalogo-item-label">3094.</span> <span class="catalogo-bibl"><span class="catalogo-author">AMADUTII</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3094">Lettera sopra un antico marmo contenente il catalogo delle tragedie di Euripide</a></span>, <span class="catalogo-pubPlace">Lucca</span> <span class="catalogo-date">1767</span>, in 12,
M. 67.
</span></section>