<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2209">
                  <span class="catalogo-item-label">2209.</span> <span class="catalogo-bibl"><span class="catalogo-author">BERNINO Domenico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2209">Vita del Cav. Gio. Lorenzo Bernino suo padre</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1713</span>, in 4.
    <div class="catalogo-note collapse">Col ritratto in fronte.</div>
    
    </span></section>