<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2440">
                  <span class="catalogo-item-label">2440.</span> <span class="catalogo-bibl"><span class="catalogo-author">GHIRARDELLI Cornelio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2440">La cefalogia fisonomica divisa in dieci deche, nella quale si veggono
    100 teste umane intagliate</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1630</span>, in 4, fig.
    <div id="catalogo-note-text-2440" class="catalogo-note truncate-line-clamp">Le tavole sono in legno impresse fra il testo e il frontespizio; e il ritratto di Monsig. Campeggi cui è dedicata
    l’opera sono in rame.</div><a id="catalogo-note-text-toggle-2440" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>