<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="788">
                  <span class="catalogo-item-label">788.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARLI Rubbi Giovanni Rinaldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/788">Relazione delle scoperte fatte nell’anfiteatro di Pola nel
	Giugno</a></span> <span class="catalogo-date">1760</span>, <span class="catalogo-pubPlace">Venezia</span>, in 8. fig., M. 104.
	<div class="catalogo-note">Con due gran tavole in rame.</div><div id="catalogo-note-text-788" class="catalogo-note-search-results truncate-line-clamp">Con due gran tavole in rame.</div><a id="catalogo-note-text-toggle-788" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>