<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3194">
                     <span class="catalogo-item-label">3194.</span> <span class="catalogo-bibl"><span class="catalogo-author">De la CHAU</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3194">Dissértation sur les attributs de Vénus</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1676</span>, in 4, fig.
<div class="catalogo-note">È d’uopo aver cura che l’esemplare di quest’opera non sia privo della stampa di Venere Anadiomene intagliata
da Saint Aubin. In questo esemplare non solo è la stampa, ma <span class="catalogo-pb" id="page_110">110</span> questa è senza il contorno e priva della
conchiglia, aggiuntavi posteriormente, le quali cose ne costituiscono un maggior pregio presso gli amatori: anche
alcune medaglie, che trovansi intagliate in varj luoghi fra il testo e le sei Veneri che stanno nel frontespizio, alla
testa della prefazione e alle p. 47, 71, 88 e 91, sono di fina e graziosa esecuzione.</div><div id="catalogo-note-text-3194" class="catalogo-note-search-results truncate-line-clamp">È d’uopo aver cura che l’esemplare di quest’opera non sia privo della stampa di Venere Anadiomene intagliata
da Saint Aubin. In questo esemplare non solo è la stampa, ma <span class="catalogo-pb" id="page_110">110</span> questa è senza il contorno e priva della
conchiglia, aggiuntavi posteriormente, le quali cose ne costituiscono un maggior pregio presso gli amatori: anche
alcune medaglie, che trovansi intagliate in varj luoghi fra il testo e le sei Veneri che stanno nel frontespizio, alla
testa della prefazione e alle p. 47, 71, 88 e 91, sono di fina e graziosa esecuzione.</div><a id="catalogo-note-text-toggle-3194" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>