<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3595">
                     <span class="catalogo-item-label">3595.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARBAULT</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3595"> Vues des plus beaux restes des antiquités romaines, telles qui subsistent encore à Rome, et en diverses
endroits de l’Italie</a></span>, <span class="catalogo-pubPlace">Rome</span> <span class="catalogo-date">1787</span>.
<div class="catalogo-note collapse">In questi due ultimi volumi sono ripetute alcune delle incisioni già pubblicate negli altri due del 1761 e 1770 senza
che possa dirsi che siano due edizioni della stessa opera. Le stampe sono pittoresche, senza esattezza alcuna di
disegno, e con poco gusto eseguite.</div>
</span></section>