<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2708">
                     <span class="catalogo-item-label">2708.</span> <span class="catalogo-bibl"><span class="catalogo-author">SAINT NON</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2708">Voyage pittoresque ou description des royaumes de Naples et de Sicile</a></span>, vol. 4, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1781</span>, rel. en 3
in fol., fig.
<div class="catalogo-note">Quest’opera tiensi giustamente in gran pregio per la sua bella esecuzione e per la copia delle tavole intagliate con
gusto e con diligenza. Il nostro esemplare riesce un po’ troppo pesante essendo tutte le tavole legate in un solo
volume e in altri due la materia. Il testo è collazionato sulle minute indicazioni di Brunet e non manca che la
tavola del Fallo, la quale vedesi strappata da qualche possessore scrupoloso. In alcuni esemplari sono ripetute a
parte per maggior comodo le 14 tavole di medaglie che veggonsi al fine dei 14 capitoli del tomo quarto.</div>
</span></section>