<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="339">
                  <span class="catalogo-item-label">339.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MORO Jacopo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/339">Anatomia ridotta ad uso de’ pittori e scultori,</a></span> 
                     <span class="catalogo-pubPlace">Vinegia</span> 
                     <span class="catalogo-date">1679,</span> 
                     <span class="catalogo-extent">in fol. figur.</span>
	Aggiuntavi una breve istruzione per dipingere a fresco.</span>
	                 <div class="catalogo-note collapse">Giuseppe Montani pubblicò questo lavoro del cavaliere G. Moro dilettante di simili studi: nel quale però sono
	copiate in contorno tutte le tavole anatomiche che Tiziano disegnò per la prima edizione di Vesalio,
	concentrando le figure in 19 tavole con molte chiare e buone illustrazioni. L’istruzione per per dipingere a fresco
	è quella prodotta dal P. Pozzi nel suo secondo volume della prospettiva e nell’Antologia dell’arte pittorica.
	</div>
	              </section>