<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2809">
                     <span class="catalogo-item-label">2809.</span> <span class="catalogo-bibl"><span class="catalogo-author">COLTELLINI Lodovico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2809">Lettera al signor abate Sestini su d’un antico avorio etrusco</a></span>, <span class="catalogo-pubPlace">Cortona</span> <span class="catalogo-date">1787</span>.
— <span class="catalogo-title"><a class="catalog-link" href="/catalog/2809">Altra lettera allo stesso su d’un’etrusca medaglia d’argento insigne</a></span>, <span class="catalogo-pubPlace">Cortona</span> <span class="catalogo-date">1788</span>. Aggiuntovi una promemoria sulla stessa, in 4, M. 23.

                     
                     
— Aggiuntovi un disegno singolarissimo d’etrusca medaglia, presentata con un’iscrizione al Cardinale Borgia,
anno 1790.
</span></section>