<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1661">
                  <span class="catalogo-item-label">1661.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIRALDI Gregorii Lilii Ferrariensis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1661">De sepulchris et vario sepeliendi ritu libellus</a></span>, <span class="catalogo-pubPlace">Basileae</span>
    <span class="catalogo-date">1539</span>, in 8.
    <div id="catalogo-note-text-1661" class="catalogo-note truncate-line-clamp">Raro e prezioso libretto dedicato a Pico della Mirandola. Dopo la dedica è una lettera in guisa di prefazione a
    Carlo Milthzien tedesco, segue l’indice delle materie e dopo questi 8 primi foglietti il testo dell’opera comincia
    colla pagina 1 e finisce alla 79.
    </div><a id="catalogo-note-text-toggle-1661" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>