<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4669">
                     <span class="catalogo-item-label">4669.</span> <span class="catalogo-bibl"><span class="catalogo-author">ANCARANO Gasparo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4669">Novo rosario della gloriosissima Vergine Maria</a></span>. Aggiuntivi in fine i miracoli, 
                        <span class="catalogo-pubPlace">Venezia</span>, per
Bernardo Giunti, <span class="catalogo-date">1588 e 1587</span>, in 4, fig.
<div class="catalogo-note">Sonovi 20 tavole intagliate in rame, compresi i frontespizj intagliate da Giacomo Franco e 15 sonetti in
esposizione de’ 15 Paternoster, 150 ottave per le 150 Ave Marie, e un orticello spirituale. Libretto graziosamente
intagliato e nitidamente stampato.</div>
</span></section>