<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1063">
                  <span class="catalogo-item-label">1063.</span> <span class="catalogo-bibl"><span class="catalogo-author">LONGINI Federico da Udine</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1063">Il libro della bella donna</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per Plinio Pietra Santa, <span class="catalogo-date">1554</span>,
      in 8.
      <div class="catalogo-note">Elegante libretto, dedicato da Girolamo Ruscelli alla Sig. Lucrezia Gonzaga Manfrona donna bellissima di quel
      secolo.</div>
      
      </span></section>