<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4642">
                     <span class="catalogo-item-label">4642.</span> <span class="catalogo-bibl"><span class="catalogo-author">BURE (de) Guillaume</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4642">Supplément à la Bibliotheque instructive, ou Catalogues des livres du Cabinet de M.
Gaignat</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1769</span>, in 8, vol. 2, in tutto vol. 10.
</span></section>