<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2015">
                  <span class="catalogo-item-label">2015.</span> <span class="catalogo-bibl"><span class="catalogo-author">COLLAERT Adriano</span>, <span class="catalogo-bibl">Vedi <span class="catalogo-title"><a class="catalog-link" href="/catalog/2015">Martirologium</a></span>.</span>
  — <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2015">Vita Jesu Salvatoris variis iconibus expressa</a></span>. Constat tab. 34 (compreso il frontespizio).</span>
  — <span class="catalogo-bibl">Si aggiunge Henrici Goltii Passio Jesu Christi dicata Federico Borromeo Cardinali, <span class="catalogo-date">1598</span>,
  constat tab. 12.
  
                  
                  
  <div class="catalogo-note">Questa è una delle più belle opere del Golzio eseguita sul gusto di Luca di Leida.</div><div id="catalogo-note-text-2015" class="catalogo-note-search-results truncate-line-clamp">Questa è una delle più belle opere del Golzio eseguita sul gusto di Luca di Leida.</div><a id="catalogo-note-text-toggle-2015" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a></span>
  
  — <span class="catalogo-bibl">Aggiuntevi le 7 tavole della <span class="catalogo-title"><a class="catalog-link" href="/catalog/2015">Salve Regina</a></span> di <span class="catalogo-author">Giusto Sadeler</span>.</span>
  — <span class="catalogo-bibl">Dodici tavole tratte dalla Genesi di bellissimo intaglio e ignoto autore.</span>
  <span class="catalogo-pb" id="page_345">345</span> <span class="catalogo-bibl"><span class="catalogo-author">COLLAERT</span>. <span class="catalogo-title"><a class="catalog-link" href="/catalog/2015">La Vita dì S. Caterina di Adriano Collaert</a></span> in 16 tavole.</span>
  — <span class="catalogo-bibl">Con altre tavole di <span class="catalogo-author">Enrico Hondio</span> e sono quattro paesi istoriati fra le più belle opere di
  questo intagliatore.</span>
  </span></section>