<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1187">
                  <span class="catalogo-item-label">1187.</span> <span class="catalogo-bibl"><span class="catalogo-author">MENESTRIER Claude François</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1187">Lettre à M. Mayer sur une piece antique qu’il a apporté de
    Rome</a></span>. Senza luogo ed anno, in 4, M. 18.
    <div id="catalogo-note-text-1187" class="catalogo-note truncate-line-clamp">S’aggirano le ricerche sovra un colatoio forato.</div><a id="catalogo-note-text-toggle-1187" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>