<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="743">
                  <span class="catalogo-item-label">743.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARCI Vitruvii Pollionis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/743">De architectura libri decem cura notis Jo. Gol. Schneider</a></span>, <span class="catalogo-pubPlace">Lipsia</span>
	<span class="catalogo-date">1807 a 1808</span>, vol. 3, in 4 carta grande.
	<div class="catalogo-note">Questa laboriosissima e preziosa opera di un dottissimo commentatore può molto servire all’erudizione degli
	studiosi, ma non è altrettanto utile e chiara per gli architetti, che bramano giugnere diritto allo scopo, su di che
	sono ritardati molto per la privazione delle figure.</div><div id="catalogo-note-text-743" class="catalogo-note-search-results truncate-line-clamp">Questa laboriosissima e preziosa opera di un dottissimo commentatore può molto servire all’erudizione degli
	studiosi, ma non è altrettanto utile e chiara per gli architetti, che bramano giugnere diritto allo scopo, su di che
	sono ritardati molto per la privazione delle figure.</div><a id="catalogo-note-text-toggle-743" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>