<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2100">
                  <span class="catalogo-item-label">2100.</span> <span class="catalogo-bibl"><span class="catalogo-author">RUBENS P. P.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2100">I dodici ritratti di filosofi presi dall’antico da lui disegnati e intagliati da P.
  Ponzio, da H. Withouc, da Bolsvert e da Vostermans, fra’ quali due sono duplicati, in fol.</a></span>
  <span class="catalogo-date">1638</span>.
  </span></section>