<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1490">
                  <span class="catalogo-item-label">1490.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1490">RELATION du service solennel fait à Rome dans l’Eglise Royale et Nationale de S. Louis pour
    Monseigneur Louis Dauphin de France le vendredi 18 septembre 1711</a></span>, <span class="catalogo-pubPlace">Rome</span> <span class="catalogo-date">1713</span>, in fol.
    fig.
    <div id="catalogo-note-text-1490" class="catalogo-note truncate-line-clamp">Le nove tavole, compreso il ritratto e lo stemma del frontespizio, furono intagliate da Girolamo Trezza.</div><a id="catalogo-note-text-toggle-1490" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCCXVII
    
    </span></section>