<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2432">
                  <span class="catalogo-item-label">2432.</span> <span class="catalogo-bibl"><span class="catalogo-author">De la CHAMBRE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2432">L’arte del conoscer gli uomini trasportata dal Francese all’Italiano</a></span>. <span class="catalogo-pubPlace">Venezia</span>
    <span class="catalogo-date">1700</span> in 13,
    <div class="catalogo-note">Senza tavole, meno il frontespizio figurato.</div><div id="catalogo-note-text-2432" class="catalogo-note-search-results truncate-line-clamp">Senza tavole, meno il frontespizio figurato.</div><a id="catalogo-note-text-toggle-2432" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>