<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3896">
                     <span class="catalogo-item-label">3896.</span> <span class="catalogo-bibl"><span class="catalogo-author">VACCA Flaminio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3896">Memorie di varie antichità trovate in diversi luoghi dell’alma città di Roma nell’anno 1594</a></span>,
<span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1704</span>, in 4, M. 40.
<div id="catalogo-note-text-3896" class="catalogo-note truncate-line-clamp">Questo è uno de’ più preziosi opuscoli sulle antichità di Roma.</div><a id="catalogo-note-text-toggle-3896" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>