<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="633">
                  <span class="catalogo-item-label">633.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">RIVII Gualtherii</span> medici et math., <span class="catalogo-title"><a class="catalog-link" href="/catalog/633">Insigniorum utiliorumque rerum ad totam architecturam
	pertinentium, nec non mathematicarum et mechanicarum artium apta atque perspicua
	institutio ad veram Vitruvii doctrinam accomodata, in tres praecipuos libros divisa etc.,</a></span>
	                    <span class="catalogo-pubPlace">Norimbergae,</span> typ. Jo. Petreii, 
                     <span class="catalogo-date">1547,</span> 
                     <span class="catalogo-extent">in fol.</span> 
	In lingua tedesca.</span>
	                 <div class="catalogo-note">Quest’opera promette di estendersi in un numero infinito di cognizioni, non tutte con egual pienezza esaurite; ma
	                    l’autore però si mostra informati degli studi che facevansi allora <span class="catalogo-pb" id="page_115">115</span> in Italia, lodando le opere del Paciolo,
	del Cesariano, del Serlio, di Filandro, del Tartaglia e di molti altri. Fra le sue tavole produce quelle del Duomo di
	Milano tratte dal Cesariano, e una gran quantità di figure assai ben intagliate in legno. Questo bivio fu il primo
	traduttore di Vitruvio in lingua tedesca e lo pubblicò nell’anno seguente coi medesimi tipi. Libro raro e di
	bellissima conservazione; in vitello.</div><div id="catalogo-note-text-633" class="catalogo-note-search-results truncate-line-clamp">Quest’opera promette di estendersi in un numero infinito di cognizioni, non tutte con egual pienezza esaurite; ma
	                    l’autore però si mostra informati degli studi che facevansi allora <span class="catalogo-pb" id="page_115">115</span> in Italia, lodando le opere del Paciolo,
	del Cesariano, del Serlio, di Filandro, del Tartaglia e di molti altri. Fra le sue tavole produce quelle del Duomo di
	Milano tratte dal Cesariano, e una gran quantità di figure assai ben intagliate in legno. Questo bivio fu il primo
	traduttore di Vitruvio in lingua tedesca e lo pubblicò nell’anno seguente coi medesimi tipi. Libro raro e di
	bellissima conservazione; in vitello.</div><a id="catalogo-note-text-toggle-633" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>