<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1155">
                  <span class="catalogo-item-label">1155.</span> <span class="catalogo-bibl"><span class="catalogo-author">DUPATY</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1155">Lettres sur l’Italie en 1785</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1797</span>, 12 vol. 3.
    <div id="catalogo-note-text-1155" class="catalogo-note truncate-line-clamp">La voglia di far epigrammi si vede doppo apertamente con discapito della verità e frizzando senza motivo e
    fondamento negli oggetti più gravi.</div><a id="catalogo-note-text-toggle-1155" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>