<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1211">
                  <span class="catalogo-item-label">1211.</span> <span class="catalogo-bibl"><span class="catalogo-author">TAEGIO Bartolommeo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1211">Il liceo dei virtuosi</a></span>, <span class="catalogo-pubPlace">Novara</span> <span class="catalogo-date">1554</span>, in 8.
    <div class="catalogo-note">Questa è una collezione di moltissime lettere sopra diversi argomenti eruditi ai primi letterati del secolo: fra le
    quali si tratta dell’Edificare, delle Muse, delle Grazie, de’ Balli, della Musica, della Pittura, dell’Amicizia che ha
    la Poesia colla Pittura ec. Libretto curioso e poco conosciuto.</div><div id="catalogo-note-text-1211" class="catalogo-note-search-results truncate-line-clamp">Questa è una collezione di moltissime lettere sopra diversi argomenti eruditi ai primi letterati del secolo: fra le
    quali si tratta dell’Edificare, delle Muse, delle Grazie, de’ Balli, della Musica, della Pittura, dell’Amicizia che ha
    la Poesia colla Pittura ec. Libretto curioso e poco conosciuto.</div><a id="catalogo-note-text-toggle-1211" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>