<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2143">
                  <span class="catalogo-item-label">2143.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2143">RITRATTI d’illustri Italiani viventi</a></span>, <span class="catalogo-pubPlace">Padova</span>, tipografia Bettoni, <span class="catalogo-date">1815</span>, in 4.
  <div class="catalogo-note collapse">La prima di queste due opere in ispecie, che progredisce al suo termine, comprende una serie di 60 preziosi
  ritratti intagliati e disegnati da’ primi artisti viventi, essendo le memorie storione estese da’ più chiari letterati
  del secolo.
  </div>
  </span></section>