<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2252">
                  <span class="catalogo-item-label">2252.</span> <span class="catalogo-bibl"><span class="catalogo-author">DATI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2252">Altro esemplare in carta comune</a></span>.
    <div id="catalogo-note-text-2252" class="catalogo-note truncate-line-clamp">Libro che è posto fra i testi di Crusca e prezioso pei modi del dire più che per le nozioni, le quali trovansi
    amplissime in Junius de Pictura veterum. Non sono in quest’opera pubblicate che le vite di Zeusi, Parrasio,
    Apelle, Protogene, con alcune postille ed aggiunte.</div><a id="catalogo-note-text-toggle-2252" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>