<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1590">
                  <span class="catalogo-item-label">1590.</span> <span class="catalogo-bibl"><span class="catalogo-author">BEVERINI Bartholomei</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1590">Syntagma de ponderibus et mensuris</a></span>, in quo veterum nummorum
    pretium ac mensurarum quantitam demonstratur, <span class="catalogo-pubPlace">Lucae</span> <span class="catalogo-date">1711</span>, in 12.
    </span></section>