<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2085">
                  <span class="catalogo-item-label">2085.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2085">PORTRAITS (les) des Hommes illustres françois qui sont joints dans la Galérie du Cardinal de
  Richelieu</a></span>, avec les abregés historiques de leurs vies, par M. de Wulson Sieur de la
  Colombière, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1655</span>, in fol. fig.
  <div class="catalogo-note collapse">Sono 20 ritratti in piedi, non compreso il frontespizio figurato, i quali sono contornati da tutte le divise e
  emblemi relativi, intagliati da Bignon.</div>
  
  </span></section>