<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2083">
                  <span class="catalogo-item-label">2083.</span> <span class="catalogo-bibl"><span class="catalogo-author">PICKART Bernard</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2083">Impostures innocentes ou recueil d’estampes d’après divers peintres
  illustres, tels que Rafael, Guide, Charles Maratti, Poussin, Reimbrant ete. avec l’eloge
  historique de Pickart et le catalogue de ses ouvrages</a></span>, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1734</span>, in fol.
  <div class="catalogo-note">Questo volume fa conoscere l’abilità somma di questo incisore, che veramente fu grandissima e seppe imitare
  ogni stile con grazia e facilità. Le 78 tavole che compongono questo bell’esemplare sono precedute dal ritratto
  dell’autore.</div><div id="catalogo-note-text-2083" class="catalogo-note-search-results truncate-line-clamp">Questo volume fa conoscere l’abilità somma di questo incisore, che veramente fu grandissima e seppe imitare
  ogni stile con grazia e facilità. Le 78 tavole che compongono questo bell’esemplare sono precedute dal ritratto
  dell’autore.</div><a id="catalogo-note-text-toggle-2083" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
                  
                  
  
               </span></section>