<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="802">
                  <span class="catalogo-item-label">802.</span> <span class="catalogo-bibl"><span class="catalogo-author">ACCOLTI Pietro, gentiluomo fiorentino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/802">Lo inganno degli occhi, prospettiva pratica, trattato in
	acconcio della pittura</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1625</span>, in fol. fig.
	<div class="catalogo-note">Opera divisa in tre parti, colle tavole intagliate in legno fra il testo e celebrata per l’ampiezza delle nozioni non
	tanto lineari del disegno prospettico, quanto del trattato dell’ombre e dei lumi. Il tutto esposto con bei modi del
	dire.</div>
	
	</span></section>