<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4275">
                        <span class="catalogo-item-label">4275.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4275">Le due CHIESE di S. Antonio, e di S. Giustina, l’Orto dei Semplici, l’Accademie ec.</a></span>, <span class="catalogo-pubPlace">Padova</span> <span class="catalogo-date">1767</span>, in 12.
<div class="catalogo-note collapse">Operetta in iscorcio, e troppo superficiale.</div>
</span></section>