<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="859">
                  <span class="catalogo-item-label">859.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/859">SINTAGMA in quo varia eximiaque corporum diagrammata ex praescripto opticae exhibentur</a></span>,
	<span class="catalogo-pubPlace">Amstelodami</span>, apud Joan. Jansonium, <span class="catalogo-date">1618</span>, in 4, fig.
	<div class="catalogo-note collapse">Dopo il frontespizio figurato sono due foglietti di avviso ai lettori scritti in antico francese nei quali si riconosce
	queste figure prospettiche esser tratte dall’opera di Samuele Marolois e Giovanni Uredeman e qui riunite in 51
	tavole in rame, le quali presentano un’infinita serie di corpi d’ogni forma messi in prospettiva colle ombre
	rispettive.</div>
	
	</span></section>