<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2328">
                  <span class="catalogo-item-label">2328.</span> <span class="catalogo-bibl"><span class="catalogo-author">MONVILLE M. L’ Abbé</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2328">La vie de Pierre Mignard avec le poéme de Moliere sur les peintures
    du Val-de-Graces et deux dialogues de M. Fénélon Archévêque de Cambray sur la peinture</a></span>,
    <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1730</span>, in 12.
    <div class="catalogo-note">Col ritratto di Mignard in principio.</div>
    
    </span></section>