<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2760">
                     <span class="catalogo-item-label">2760.</span> <span class="catalogo-bibl"><span class="catalogo-author">BEGERII</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2760">Hercules Ethnicorum ex variis antiquitatum reliquiis delineatus. Additis in fine moderni quibusdam
ejusdem argumenti picturis</a></span>, <span class="catalogo-date">1705</span>, in f.
<div class="catalogo-note collapse">Sono 38 tavole compreso il frontespizio intagliate da tutte le opere d’antiquaria ove si riunisce quanto è relativo
ad Ercole e sta sparso in marmi, bronzi, monete e pitture.</div>
</span></section>