<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="125">
                  <span class="catalogo-item-label">125.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FICHNERI J. Geor., </span>
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/125">De eo quod justum est circa picturan, disputatio juridica,</a></span> 
                     <span class="catalogo-pubPlace">Aldtorf.</span> 
                     <span class="catalogo-date">1716,</span> 
                     <span class="catalogo-extent">in
	  4, M. 45.</span>
                  </span>
	              </section>