<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2649">
  <span class="catalogo-item-label">2649.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAYARDI Ottavio Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2649">Prodromo delle antichità d’Ercolano</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1752</span>, in 4, fig., vol. 5.</span>
  <div class="catalogo-note">Questa è la prima grande opera che precedesse la famosa edizione in foglio delle antichità ercolanesi. Ma questo
autore nei cinque volumi, ricchi di molte tavole, con un gran fasto d’erudizione, mette più in evidenza sè stesso
che la materia la quale intende illustrare.</div>
</section>