<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2033">
                  <span class="catalogo-item-label">2033.</span> <span class="catalogo-bibl"><span class="catalogo-author">FUGGERORUM</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2033">Fuggerarum quae in familia natas, quaeve in familiam transierunt quotquot
  extant expressae imagines</a></span>, <span class="catalogo-pubPlace">Augusta</span> <span class="catalogo-date">1620</span>, in 4.
  <div id="catalogo-note-text-2033" class="catalogo-note truncate-line-clamp">Sono 126 ritratti la più parte intagliati da Luca e da Volfango Kilian con molta nitidezza di bulino: oltre i quali è
  il frontespizio e lo stemma intagliato, senza testo.</div><a id="catalogo-note-text-toggle-2033" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>