<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="175">
                  <span class="catalogo-item-label">175.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/175">OSSERVAZIONI intorno al discorso della cera punica de sig. cavalier Lorgna umiliate a S. E. il
	  Capitano di Verona. Estese da un anonimo.</a></span> 
                     <span class="catalogo-pubPlace">Verona</span> 
                     <span class="catalogo-date">1785,</span>
                     <span class="catalogo-extent"> in 4.</span>
                  </span>
	                 <div id="catalogo-note-text-175" class="catalogo-note truncate-line-clamp">
	                    <span class="catalogo-bibl">– Aggiuntevi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/175">Riflessioni sull’olio combinato da dipingere suggerite ai docili pittori, nella
	  dissertazione stampata nel tomo 6 della Società italiana,</a></span> 
                        <span class="catalogo-date">1793.</span>
                     </span>
	                    <span class="catalogo-bibl">– Aggiuntovi: <span class="catalogo-author">Fabroni</span>, 
                        <span class="catalogo-title"><a class="catalog-link" href="/catalog/175">Antichità, vantaggi e metodo della pittura encausta,</a></span> 
                        <span class="catalogo-pubPlace">Venezia</span> 
                        <span class="catalogo-date">1800</span>.</span>
	                    <span class="catalogo-bibl">– Aggiuntovi: <span class="catalogo-author">Astorri Giammaria</span>, 
                        <span class="catalogo-title"><a class="catalog-link" href="/catalog/175">Della pittura colla cera all’encausto,</a></span> Memoria, <span class="catalogo-pubPlace">Venezia</span> 
                        <span class="catalogo-date">1786</span>,
	  <span class="catalogo-extent">in 8.</span>
                     </span>
	                 </div><a id="catalogo-note-text-toggle-175" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	              </section>