<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3298">
                     <span class="catalogo-item-label">3298.</span> <span class="catalogo-bibl"><span class="catalogo-author">PACIAUDI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3298">Puteus sacer agri Bononiensis</a></span>, in 4.
<div id="catalogo-note-text-3298" class="catalogo-note truncate-line-clamp">Estratto da una collezione d’opuscoli.</div><a id="catalogo-note-text-toggle-3298" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>