<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1715">
                  <span class="catalogo-item-label">1715.</span> <span class="catalogo-bibl"><span class="catalogo-author">MEURSII Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1715">Grecia ludibunda</a></span>, sive de ludis Graecorum, Accedit Souterii Danielis
  Palamedes, siva de tabula lusoria, alea et variis ludis, libri tres, <span class="catalogo-pubPlace">Lugd. Bat.</span>, Elzevir <span class="catalogo-date">1625</span> in 8.
  <div class="catalogo-note collapse">Elegantissima edizione e libretto prezioso non tanto per le nozioni che pei tipi.</div>
  
  </span></section>