<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3515">
                     <span class="catalogo-item-label">3515.</span> <span class="catalogo-bibl"><span class="catalogo-author">GHIBERTI Lorenzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3515">Aggiuntovi l’incisione della stessa porta in 34 tavole pubblicate nel 1774 da Ferdinando de
Gregori e Tommaso Patch</a></span>, <span class="catalogo-date">1774</span>, in fol. atlant.
<div id="catalogo-note-text-3515" class="catalogo-note truncate-line-clamp">Per frontespizio a questo libro fu posta l’ara di bronzo erroneamente attribuita a Ghiberti, che trovasi nella
Galleria di Firenze.</div><a id="catalogo-note-text-toggle-3515" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                     
                     
                  </span></section>