<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3010">
                     <span class="catalogo-item-label">3010.</span> <span class="catalogo-bibl"><span class="catalogo-author">SPERGESII Josephi, et VERCI Jo. Bapt. </span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3010">Epistolae de monetis veronensibus praesertim sub Ezzelino conflatis</a></span>,
<span class="catalogo-pubPlace">Veronae</span> <span class="catalogo-date">1779</span>, in 8, fig., M. 63.
<div id="catalogo-note-text-3010" class="catalogo-note truncate-line-clamp">Nel principio e nel fine sono due sole medaglie intagliate in rame.</div><a id="catalogo-note-text-toggle-3010" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>