<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1459">
                  <span class="catalogo-item-label">1459.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1459">L’ENTRÉE trionphante de leurs majestez Luois XIV roy de France et de Navarre et Marie
    Thérese d’Autriche son espouse dans la ville de Paris</a></span>, imprimée l’an <span class="catalogo-date">1662</span> à <span class="catalogo-pubPlace">Paris</span>, fol. 4 fig.
    <div class="catalogo-note">Rimase anonimo l’autore della relazione ma vi posero mano col loro bulino Chauveau, Poilly, Marot, le Pautre,
    Fla <span class="catalogo-pb" id="page_250">250</span> meu, Cochin ec. L’edizione è magnifica, e sono 22 le tavole.</div>
    MDLXIII

                  
                  
    
               </span></section>