<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1855">
                  <span class="catalogo-item-label">1855.</span> <span class="catalogo-bibl"><span class="catalogo-author">De BOOT Anselmi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1855">Symbola varia diversorum Principum, Archiducum, Ducum, Comitum et
    Marchionum totius Italiae</a></span>, <span class="catalogo-pubPlace">Arnhemiae</span> <span class="catalogo-date">1686</span>, in 12.
    <div id="catalogo-note-text-1855" class="catalogo-note truncate-line-clamp">Con più di 200 tavole intagliate diligentemente.</div><a id="catalogo-note-text-toggle-1855" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>