<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4761">
                     <span class="catalogo-item-label">4761.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALDINI Giovanni</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4761">Memoria sulla illuminazione a gas dei teatri, e progetto di applicarla all’I. R. Teatro della Scala
in Milano</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1820</span>, in 8, con due tavole.
</span></section>