<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="544">
                  <span class="catalogo-item-label">544.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">LAUDROMO Sitonio</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/544">Saggio dell’architettura civile, ovvero regole pratiche di capimastri e
	padroni di fabbriche. Edizione seconda,</a></span> 
                     <span class="catalogo-pubPlace">Milano</span> 
                     <span class="catalogo-date">1770,</span> 
                     <span class="catalogo-extent">in 8.</span>
                  </span>
	                 <div class="catalogo-note collapse">Libro pieno di pratiche e avvertenze per le comodità interne negli edifici.</div>
	
	              </section>