<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3770">
                     <span class="catalogo-item-label">3770.</span> <span class="catalogo-bibl"><span class="catalogo-author">MANAZZALE Andrea</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3770"> Viaggio da Roma a Tivoli, colla villa Adriana, e quella di Orazio</a></span>, 
                        <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1790</span>, in 8.
</span></section>