<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4074">
                     <span class="catalogo-item-label">4074.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4074">RACCOLTA di opinioni, e disegni emessi in diversi tempi per la facciata del Duomo di Milano</a></span>.
<div id="catalogo-note-text-4074" class="catalogo-note truncate-line-clamp">Opera che non escì mai così riuscita, ma fu collezionata da qualche diligente amatore di cose patrie, rarissima, e
la sola che noi conosciamo così copiosa. Appartenne al signor Giusep <span class="catalogo-pb" id="page_251">251</span> pe Bossi. Gli autori di cui sono le
opinioni, sono, il Richini, il Castelli, il Barattieri, il Bernini, il Giattini, il Caravaggio, il Longhena, Sebastiano
Rocca Tagliata, l’Orlandi, il Paoli, Guid’Antonio Costa, il de Capitanei, D. Camillo Govio. I disegni incisi in
rame sono del Pellegrini, del Richini, di Carlo Buzio, e di Francesco Castelli l’alzato colla pianta; con altri pareri
anche anonimi. Principalmente tutte queste opinioni s’aggirarono nel 1652 per risolvere se si dovesse attenersi al
progetto del Buzio, o del Castelli.</div><a id="catalogo-note-text-toggle-4074" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>