<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3951">
                     <span class="catalogo-item-label">3951.</span> <span class="catalogo-bibl"><span class="catalogo-author">BEDIK Petrus, Cehil Sutun</span>. <span class="catalogo-title"><a class="catalog-link" href="/catalog/3951">Seu explicatio utriusque celeberrimi ac pretiosissimi theatri quadraginta columnarum
in perside orientis</a></span>, <span class="catalogo-pubPlace">Viennae Austriae</span>, senz’anno e nome di stampatore.
<div class="catalogo-note">Dalle armi del Pontefice Innocenzo XI poste sopra la legatura si suppone possa essere stampato circa l’anno
1668, in 4 picc., fig.
Sonovi molte notizie di cose orientali, e una gran tavola intagliata in rame.</div>
</span></section>