<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3321">
                     <span class="catalogo-item-label">3321.</span> <span class="catalogo-bibl"><span class="catalogo-author">REISCH Gregor</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3321">Margarita filosofica nella quale si trattano tutte le dottrine comprese nella ciclopedia accresciuta
di molte belle dottrine da Orazio Fines, di nuovo tradotta in italiano da Paolo Gallucci Salodiano</a></span>, <span class="catalogo-pubPlace">Venezia</span>, <span class="catalogo-date">1599</span>,
fig., in 4, presso Barezzo Barezzi.
<div id="catalogo-note-text-3321" class="catalogo-note truncate-line-clamp">Le figure in quest’edizione sono d’un cattivo intaglio in legno. Vedi Margarita.</div><a id="catalogo-note-text-toggle-3321" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>