<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1586">
                  <span class="catalogo-item-label">1586.</span> <span class="catalogo-bibl"><span class="catalogo-author">De BEKGER Christoph. Henr.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1586">Commentatio de personis, vulgo iarvis seu mascheris von der
    Carnavals Lust</a></span>. Critico historico, morali atque iuridico modo diligenter conscripta,
    <span class="catalogo-pubPlace">Francofurti et Lipsiae</span> <span class="catalogo-date">1723</span>, in 4, fig.
    <div class="catalogo-note">Trovansi 83 carte in questo volume destinate alle tavole nelle quali sono rappresentati 153 sogg. tratti dalle sei
    commedie di Terenzio, oltre il ritratto di Terenzio stesso d’incontro al frontespizio. Opera dottissima e non
    comune in Italia.</div>
    
    </span></section>