<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2515">
                     <span class="catalogo-item-label">2515.</span> <span class="catalogo-bibl"><span class="catalogo-author">ASSEMANI Simonis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2515">Globus coelestis Cufice-Arabicus Veliterni Musaei Borgiani illustratus; praemissa ejusdem
de arabum astronomia dissertazione, et adjectis duabus epistolis Josephi Toaldi astronomiae professoris</a></span>, <span class="catalogo-pubPlace">Patavii</span>
<span class="catalogo-date">1790</span>, in fol.
<div class="catalogo-note collapse">Con grandissime tavole.</div>
</span></section>