<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="761">
                  <span class="catalogo-item-label">761.</span> <span class="catalogo-bibl"><span class="catalogo-author">LAURISSO Tragiense (nome arcadico)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/761">De’ vizi e dei difetti del moderno teatro e del modo di
	correggerli ed emendarli</a></span>. Ragionamenti sei, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1753</span>, in 4, fig.
	<div class="catalogo-note collapse">L’opera è divisa in due parti trattata più da teologo, che da architetto, con tre tavole intagliate in rame al fine.</div>
	
	</span></section>