<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3368">
                     <span class="catalogo-item-label">3368.</span> <span class="catalogo-bibl"><span class="catalogo-author">BASAN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3368">Recueil de cent vingt sujets et paysages divers, gravés à l’eau forte par plusieurs artistes d’après
différents maitres italiens, flamands, et françois, dont les desseins originaux font partie de la colléction du S.
Basan pere à Paris</a></span>, <span class="catalogo-date">1795</span>, in fol.
<div class="catalogo-note collapse">Questa collezione è un miscuglio di cose buone e cattive, fatto dagli eredi e dagli stampatori, appoggiata al
credito del defunto grande conoscitore in queste materie.</div>
</span></section>