<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="794">
                  <span class="catalogo-item-label">794.</span> <span class="catalogo-bibl"><span class="catalogo-author">MANNI Domenico Maria</span>. <span class="catalogo-title"><a class="catalog-link" href="/catalog/794">Notizie storiche intorno <span class="catalogo-pb" id="page_148">148</span> al Parlagio ovvero anfiteatro di
	Firenze</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1746</span>, in 4, M. 36.
	<div id="catalogo-note-text-794" class="catalogo-note truncate-line-clamp">Con una tavola in rame</div><a id="catalogo-note-text-toggle-794" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
	
	</span></section>