<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3520">
                     <span class="catalogo-item-label">3520.</span> <span class="catalogo-bibl"><span class="catalogo-author">KENNEDY James</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3520">Altra edizione del 1774 egualmente di Salisbury</a></span>, in 8, senza figure.
<div id="catalogo-note-text-3520" class="catalogo-note truncate-line-clamp">È singolare come questo estensore francamente attribuisca alcune sculture a Cleomene senza alcuna autorità od
iscrizione che avvalori almeno le sue congetture.</div><a id="catalogo-note-text-toggle-3520" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>