<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2003">
                  <span class="catalogo-item-label">2003.</span> <span class="catalogo-bibl"><span class="catalogo-author">SALVATORIS</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2003">Beatae V. M. et Apostolorum icones inventae et sculptae et a Israele amico suo
  in lucem edite tab. 15, li 23 Martii 1 il Benedicite I.</a></span>
  — <span class="catalogo-bibl">Aggiuntavi la collezione delle bambocciate in N. di 25 figure isolate, che comincia col
  Capitano de’ baroni, li sei nobili e le sei dame chiamate la noblesse in 12 tavole.</span>
  — <span class="catalogo-bibl">Unitovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/2003">Combat à la barriere faite en cour de Lorene l’année <span class="catalogo-date">1627</span> répresentée par les
  discours et poésies du sieur Henry Humbert</a></span> enrichie de figures par Jacques Callot, 10 tav.
  avanti il nome d’Israele, prime prove.</span>
  — <span class="catalogo-bibl">Aggiunte nel libro diverse altre stampe di paesaggi di questo autore, di prima freschezza,
  in tutto tav. 11. Vedi <span class="catalogo-author">Lottini</span>, <span class="catalogo-author">Bocchini</span>, <span class="catalogo-author">Bonarelli</span>, <span class="catalogo-author">Solimnano</span>.</span>
  </span></section>