<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2532">
                     <span class="catalogo-item-label">2532.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2532">MEMORIA sopra due statue egizie mandate in dono alla sua patria da Giovan Battista Bolzoni Padovano</a></span>. L’autore
è il sig. Paer gen. inglese, <span class="catalogo-pubPlace">Padova</span> <span class="catalogo-date">1819</span>, in 8, fig., M. 102.
</span></section>