<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1430">
                  <span class="catalogo-item-label">1430.</span> <span class="catalogo-bibl"><span class="catalogo-author">ARIENTI Ridolfo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1430">Relazione del Torneo a piedi fatto in Ferrara questo carnevale dell’anno
    1624</a></span>, data in luce dal Sig. Ridolfo Arienti, <span class="catalogo-pubPlace">Ferrara</span>, per Francesco Suzzi, <span class="catalogo-date">1624</span>, in 4.
    MDCXXIV
    
    </span></section>