<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="406">
                  <span class="catalogo-item-label">406.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">d’AVILER Augustin Charles</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/406">Cours d’architecture qui comprende des ordres de Vignole avec
	des commentaires, les figures et les descriptions des ses plus beaux bâtimens: et de ceux de
	Michel Ange. <span class="catalogo-pb" id="page_73">73</span>Nouvelle edition avec les remarques de Mariette,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1766,</span>
                     <span class="catalogo-extent"> en 4, fig.</span>
                  </span>
	              </section>