<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4786">
                     <span class="catalogo-item-label">4786.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4786">IDEE d’un monumento a Dante Alighieri, lettere <span class="catalogo-pb" id="page_332">332</span> due, e in appendice l’Edituo della Chiesa di S. Croce in
Firenze</a></span>, opuscolo non mai pubblicato, <span class="catalogo-pubPlace">Italia</span> <span class="catalogo-date">1819</span>, in 8.
<div class="catalogo-note">Vedesi in questo libretto che il monumento a Dante verrà forse inalzato per singolar protezione d’un Mecenato,
che non ha voluto aprire un concorso, non solo, escludendo gli artisti e le Accademie d’Itailia, ma neppure
risvegliando l’emulazione degli scultori toscani.</div>
</span></section>