<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1605">
                  <span class="catalogo-item-label">1605.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRUNO di Melfi Vincenzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1605">Teatro degli inventori di tutte le cose</a></span>, <span class="catalogo-pubPlace">Napoli</span>, per Tarquinio
    Longo, <span class="catalogo-date">1603</span>, in fol.
    <div class="catalogo-note">Opera in questo genere rara, e curiosa, ove per ordine alfabetico passando in rivista sei mille vocaboli all’incirca
    riferibili ad ogni umano genere di cose, attribuisce a ciascuna origini ed invenzioni, con un indice in fine dei
    vocaboli. L’opera e dedicata al Vice Re di Napoli. Dopo il frontespizio sono tre foglietti di poesie varie in lode
    dell’autore: indi segue un indice degli autori citati in altri due foglietti e a tergo dell’ultimo si trova un avviso ai
    lettori: comincia il testo e prosegue fino alla pagina 391. L’indice in fine dei vocaboli contiene 20 foglietti.</div>
    
    </span></section>