<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="854">
                  <span class="catalogo-item-label">854.</span> <span class="catalogo-bibl"><span class="catalogo-author">PUTEI Andreae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/854">Perspectiva pictorum et architectorum</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1793</span>, in fol. fig. vol. 2. Latino e
	italiano.
	<div class="catalogo-note collapse">Questa è la migliore delle varie edizioni di quest’opera, stampata in bellissimi caratteri e in carta distinta, con
	218 tavole della più nitida incisione: se il gusto veramente depravato dell’autore non rendesse ingratissima ogni
	sua produzione, sarebbe da tenersi in pregio la scienza prospettica di cui era doviziosamente fornito.</div>
	
	</span></section>