<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2230">
                  <span class="catalogo-item-label">2230.</span> <span class="catalogo-bibl"><span class="catalogo-author">CASTIGLIONE Joseph</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2230">Fulvii Orsini vita</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1657</span>, in 8, M. 55.
    <div class="catalogo-note collapse">Le notizie intorno a questo antiquario sono preziose: e il suo testamento, che occupa presso che due terzi
    dall’opuscolo, è singolare.</div>
    
    </span></section>