<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2062">
                  <span class="catalogo-item-label">2062.</span> <span class="catalogo-bibl"><span class="catalogo-author">LUYKEN Jean</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2062">Histoires les plus remarquables de l’ancien et du nouveau Téstament</a></span>, gravées
  en cuivre, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1782</span>, en fol. fig. Magnifico esemplare legato in mar.
  <div class="catalogo-note collapse">Sonovi 67 stampe e 19 vignette, ma la spesa di questa splendida edizione non fu eguagliata dal buon successo,
  essendo cattive le incisioni e confuse le composizioni, sebbe <span class="catalogo-pb" id="page_355">355</span> ne i bibliografi e il de Bure specialmente
  pongono questo libro fra i pregiati ed i rari.</div>
  
  </span></section>