<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4048">
                     <span class="catalogo-item-label">4048.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4048">MONUMENTA Paderbonensia ex historia romana, francica, saxonica eruta, novis inscriptionibus, figuris, tabulis,
ac notis posthumis Ferdinandi Principis Epis</a></span>. Paderbonensis illustrata etc., <span class="catalogo-pubPlace">Lemgoviae</span> <span class="catalogo-date">1714</span>, in 4, fig.
<div id="catalogo-note-text-4048" class="catalogo-note truncate-line-clamp">Le molte tavole sono sparse a’ luoghi del testo relativo, e sonovi i due ritratti dei vescovi di questa famiglia di
Furstemberg.</div><a id="catalogo-note-text-toggle-4048" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>