<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3869">
                     <span class="catalogo-item-label">3869.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROSSINI Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3869">Il Mercurio errante delle grandezze di Roma tanto antiche che moderne</a></span>, diviso in due parti, o
volumi, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1789</span>, vol. 2, in 12.
<div class="catalogo-note">Questo per molto tempo è stato giustamente riguardato come uno de’ libri meglio fatti per il forestiere, e
succinto, e chiaro, e utile. Vi sono alcune passabili tavole all’acqua <span class="catalogo-pb" id="page_218">218</span> forte intagliate da quel bravo Nicole,
e da Piranesi medesimo.</div><div id="catalogo-note-text-3869" class="catalogo-note-search-results truncate-line-clamp">Questo per molto tempo è stato giustamente riguardato come uno de’ libri meglio fatti per il forestiere, e
succinto, e chiaro, e utile. Vi sono alcune passabili tavole all’acqua <span class="catalogo-pb" id="page_218">218</span> forte intagliate da quel bravo Nicole,
e da Piranesi medesimo.</div><a id="catalogo-note-text-toggle-3869" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>