<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="968">
                  <span class="catalogo-item-label">968.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZABAGLIA. Niccola</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/968">Castelli e ponti, con alcune ingegnose pratiche e con la descrizione del
      trasporto dell’obelisco Vaticano e di altri del Cavalier Domenico Fontana</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1743</span>, in fol.
      fig.
      <div id="catalogo-note-text-968" class="catalogo-note truncate-line-clamp">Questo libro è composto di 54 tavole colle illustrazioni rispettive italiane e latine. Le invenzioni del Zabaglia
      semplici e facili partivano da una somma pratica. Egli non sapeva leggere né scrivere ed era a un incirca in
      Roma, quello che in Bassano era il Ferracina.</div><a id="catalogo-note-text-toggle-968" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>