<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2865">
                     <span class="catalogo-item-label">2865.</span> <span class="catalogo-bibl"><span class="catalogo-author">GOLTZII</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2865">Caj Julii Caesaris Augusti, et Tiberii numismata</a></span>, Ludovici Nonii commentario illustrata. Accesserunt
                        singulorum vitae ex Svetonio, <span class="catalogo-pubPlace">Antuerpiae</span><span class="catalogo-date"> 1644</span>, in fol., fig.
                        <div class="catalogo-note">Con tavole 137 intagliate in rame</div>.
</span></section>