<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2126">
                  <span class="catalogo-item-label">2126.</span> <span class="catalogo-bibl"><span class="catalogo-author">VANDYCK Antoine</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2126">Iconographie ou vie des Horames Illustres du XVIII siecle écrites par M.
  V. avec les portraits</a></span>, vol. 2 rel. in 1 tom. etc., <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1759</span>.
  <div id="catalogo-note-text-2126" class="catalogo-note truncate-line-clamp">Non vi sono che le sole vite in questo esemplare ed alcuni ritratti de’ più grandi. In generale si fa poco conto
  dagli amatori di questa edizione, poiché i rami trovansi logori necessariamente come esser deve per l’epoca in
  cui fu eseguita. I ritratti debbono essere 125, la maggior parte de’ quali si possono vedere intagliati nell’Icones
  Principum. Vi sono però i seguenti, Francesco di Savoia, Filippo IV di Spagna ed Elisabetta sua moglie,
  Federico Enrico d’Orange, Francesco di Gand-Villain.
  </div><a id="catalogo-note-text-toggle-2126" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  </span></section>