<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1936">
                  <span class="catalogo-item-label">1936.</span> <span class="catalogo-bibl"><span class="catalogo-author">PIROLI Tommaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1936">Raccolta di dodici Virtù personificate</a></span>, dipinte coi disegni di Raffaello
    d’Urbino nella sala detta di Giulio Romano al Vaticano, incise all’acqua forte da Tommaso
    Piroli, <span class="catalogo-pubPlace">Roma</span>, presso il suddetto a strada Gregoriana, tav. XII etc., in fol.
    </span></section>