<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3285">
                     <span class="catalogo-item-label">3285.</span> <span class="catalogo-bibl"><span class="catalogo-author">OLIVIERI Annibale degli Abbati</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3285">Di alcune antichità cristiane conservate in Pesaro</a></span>, <span class="catalogo-pubPlace">Pesaro</span> <span class="catalogo-date">1781</span>, in 4, fig., M. 2.
<div class="catalogo-note collapse">Con 10 tav. in rame.</div>
<span class="catalogo-pb" id="page_121">121</span>
                  </span></section>