<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4032">
                    <span class="catalogo-item-label">4032.</span>
		    <span class="catalogo-bibl"><span class="catalogo-author">LYSONS Samuel</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4032">Reliquiae britannico-romanae containing figures of roman antiquities discovered in various parts
of England</a></span>, <span class="catalogo-pubPlace">London</span>, 2 vol., in fol. max., fig., <span class="catalogo-date">1813 1817</span>.</span>

<div class="catalogo-note collapse">Nel primo volume sono 37 tavole, e 42 nel secondo. Opera eseguita con immenso lusso per la carta, i tipi, e le
tavole colorite con molta accuratezza. Non altrettanto può dirsi per la parte critica del testo, che darebbe luogo a
più profondità di discussioni.</div>
		  </section>