<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="324">
                  <span class="catalogo-item-label">324.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FIDANZA Paolo</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/324"> Teste scelte di personaggi illustri in lettere e in armi, cavate già dall’antico o
	dall’originale e dipinte nel Vaticano da Rafaello, </a></span>
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">dal 1756 al 1766,</span> 
                     <span class="catalogo-extent">6 vol. rilegati in 2.</span>
                  </span>
	                 <div class="catalogo-note collapse">Contengono in tutto 144 tavole di un’incisione grossolana e cattiva, prive di gusto affatto ed eseguite per
	speculazione libraria, ma però non senza una qualche reminescenza del carattere dell’autore.</div>
	
	              </section>