<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3968">
                     <span class="catalogo-item-label">3968.</span> <span class="catalogo-bibl"><span class="catalogo-author">BROEBES M. I.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3968">Vues des palais et maisons de plaisance de S. M. le Roy de Prusse dessinées et gravées</a></span>,
<span class="catalogo-pubPlace">Ausbourg</span>, chez I. Geor. Merz, <span class="catalogo-date">1733</span>, in fol., figurato.
<div class="catalogo-note">Sono 45 tavole grandi, passabilmente intagliate all’acqua forte.</div>

                     
                     
                  </span></section>