<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1567">
                  <span class="catalogo-item-label">1567.</span> <span class="catalogo-bibl"><span class="catalogo-author">BALDUINUS D.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1567">De Calceo antiquo et Nigronius de Caliga veterum</a></span>, 
                     <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1667</span>, in 12, fig.
    <div class="catalogo-note">Libretto assai ben fatto e con molte tavole nitide a’ luoghi indicati nel testo.</div><div id="catalogo-note-text-1567" class="catalogo-note-search-results truncate-line-clamp">Libretto assai ben fatto e con molte tavole nitide a’ luoghi indicati nel testo.</div><a id="catalogo-note-text-toggle-1567" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>