<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2992">
                     <span class="catalogo-item-label">2992.</span> <span class="catalogo-bibl"><span class="catalogo-author">De SACY Al. Silvestre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2992">Mémoires sur diverses antiquités de la Perse et sur les médailles des rois de la dinastie des

                     
                     
Sassanides, suivi de l’histoire de cette dynastie traduite du persan de Mirkhoud</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1793</span>, in 4, fig.
<div class="catalogo-note">Sonovi 9 tavole collocate fra il testo. Quest’opera è dottissima ed utilissima per l’interpretazione delle leggende
persiane nelle medaglie e nei monumenti.</div>
</span></section>