<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1184">
                  <span class="catalogo-item-label">1184.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARINI Gaetano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1184">Lettera al Sig. Giuseppe Antonio Guattani sopra un’ara antica</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1786</span>,
    4, fig., M. 21.
    <div class="catalogo-note">Con 6 tavole in rame diligentemente intagliate.</div><div id="catalogo-note-text-1184" class="catalogo-note-search-results truncate-line-clamp">Con 6 tavole in rame diligentemente intagliate.</div><a id="catalogo-note-text-toggle-1184" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>