<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3074">
                     <span class="catalogo-item-label">3074.</span> <span class="catalogo-bibl"><span class="catalogo-author">WURDERLICH Johann</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3074">Gens Aurelia illustrata</a></span>, <span class="catalogo-pubPlace">Jenae</span> <span class="catalogo-date">1753</span>, in 4, M. 41.
<div class="catalogo-note collapse">Con una medaglia e un edifizio sul frontespizio.</div>
</span></section>