<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4782">
                     <span class="catalogo-item-label">4782.</span> <span class="catalogo-bibl"><span class="catalogo-author">HAYDON B. R. pittore inglese</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4782">Giudizio dei conoscitori delle Belle Arti comparato con quello dei professori di
esse relativamente ai marmi di Lord Elgin</a></span>, <span class="catalogo-pubPlace">Londra</span> <span class="catalogo-date">1818</span>, in 8.
</span></section>