<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2192">
                  <span class="catalogo-item-label">2192.</span> <span class="catalogo-bibl"><span class="catalogo-author">BALDI Lazzaro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2192">Breve compendio della vita e morte di S. Lazzaro monaco ed insigne pittore,
    che sotto Teofilo Imperatore Iconomaco molti tormenti patì per la pittura e culto delle sacre
    imagini</a></span>, <span class="catalogo-pubPlace">Roma</span>, per Jacomo Fei, <span class="catalogo-date">1681</span>, in 16.
    <div class="catalogo-note collapse">Prima ediz. rarissima di questo libercolo ridicolo e da nulla. Quest’esemplare fu tratto dalla Biblioteca della
    Sapienza in Roma e trasmesso a noi con benigno Decreto Pontificio; dando un cambio di qualche valore siccome
    era ben giusto a quel pubblico stabilimento. Nel principio è una stampina col ritratto del Santo. Non edizione
    pregiata, non incisioni peregrine, non antichità, non dicitura, non erudizione. 64 pagine in 16 d’un libercolo da
    nulla, pieno di miserabili notizie, senza critica e senza buon senso ci dettarono ragionevolmente una memoria
    sulla bibliomania, che vedesi impressa. Vedi Cicognara. Esemplare in mar. dor</div>
    
    </span></section>