<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1845">
                  <span class="catalogo-item-label">1845.</span> <span class="catalogo-bibl"><span class="catalogo-author">BENEDETTI Felice</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1845">Le imprese di D. Filippo d’Austria II, Re di Spagna, rappresentate dopo la
    sua morte nel tumulo eretto nella città dell’Aquila</a></span>, <span class="catalogo-date">1589</span>, ivi in 4.
    <div class="catalogo-note">Edizione d’un’opera mediocre e pubblicata per adulare bassamente un uomo, che la storia vorrebbe dimenticare,
    come saranno dimenticate le tavole mal intagliale di questo libro.</div><div id="catalogo-note-text-1845" class="catalogo-note-search-results truncate-line-clamp">Edizione d’un’opera mediocre e pubblicata per adulare bassamente un uomo, che la storia vorrebbe dimenticare,
    come saranno dimenticate le tavole mal intagliale di questo libro.</div><a id="catalogo-note-text-toggle-1845" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>