<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2574">
                     <span class="catalogo-item-label">2574.</span> <span class="catalogo-bibl"><span class="catalogo-author">FICORONI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2574">Le memorie ritrovate nel territorio della prima e seconda città di Labico</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1745</span>, in 4,
fig.
<div class="catalogo-note collapse">Opera illustrata con 18 tavole incise in rame con chiarezza e diligenza come si osserva in tutte le opere di questo
dottissimo antiquario.</div>
</span></section>