<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3630">
                     <span class="catalogo-item-label">3630.</span> <span class="catalogo-bibl"><span class="catalogo-author">BORGII Hieronimi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3630">Urbis Romae renovatio</a></span>, apud Ant. Bladum, <span class="catalogo-date">1542</span>, in 8. Sul frontespizio è una Roma sedente, a
tergo alcuni versi a Pier Luigi Farnese. Segue ad III ac R. Alexandrum Farnesium card. Ananeosis. Hospes.
Jovius.
<div class="catalogo-note collapse">L’opera è scritta a modo di dialogo in versi. Opuscolo di 22 carte raro a vedersi.</div>
</span></section>