<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="518">
                  <span class="catalogo-item-label">518.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">GRAPALDI Francisci Maria</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/518">De partibus aedium, editio princeps, sine loco et anno.</a></span>
                  </span> 
	                 <div class="catalogo-note">Nella prima carta sono due epigrammi l’uno del Beroaldo, l’altro del Grapaldi a Orlando Pallavicino: segue un
	secondo foglietto colla dedica allo stesso Pallavicino; e incomincia subito il testo diviso in due libri. In fine
	termina con un indirizzo dello stampatore Angelo Ugoletto parmense al lettore. Senza che siavi espressamente
	segno di luogo, ed anno e di contro nell’ultimo foglietto sono 8 versi di Bernardino Sassoguidano modenese e la
	marca dell’Ugoletto. Sono in tutto 194 foglietti di stampa in bei caratteri rotondi, esemplare bellissimo in mar.
	dor. di un’opera da tenersi in pregio.</div>
	
	              </section>