<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3062">
                     <span class="catalogo-item-label">3062.</span> <span class="catalogo-bibl"><span class="catalogo-author">VICTORII Fran.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3062">De Musei Victorii emblemate et <span class="catalogo-pb" id="page_94">94</span> de nonnullis numismatibus Alexandri Severi</a></span>, <span class="catalogo-pubPlace">Romae</span>
<span class="catalogo-date">1747</span>, in 4, fig., M. 20.
</span></section>