<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="362">
                  <span class="catalogo-item-label">362.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">TORY Geofroi de Bourges</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/362">Champ fleuri, auquel est contenu l’art et science de la deve et vraye
	proportion des lettres attiques, qu’on dit autrement lettres antiques et vulgairement lettres
	romaines selon les corps et visage humain,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1529,</span>
                     <span class="catalogo-extent"> in 4.</span>
                  </span>
	                 <div class="catalogo-note collapse">Libro raro e singolare e ricchissimo di erudizione varia, al quale vennero accordati estesi privilegi, come ad un
	
	                    
	                    
	opera di grande utilità ed originalità. L’autore copia di pianta il Paciolo che lo aveva preceduto, e poi lo nota di
	aironi piccoli errori ingratissimamente per screditarlo, e mercar favore all’opera propria. L’opera è divisa in tre
	libri stampata in 80 foglietti numerati e le copiose tavole e vignette sono intagliate in legno benissimo.
	Esemplare in cuoio russo dor.</div>
	
	              </section>