<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2351">
                  <span class="catalogo-item-label">2351.</span> <span class="catalogo-bibl"><span class="catalogo-author">DEL POZZO Conte Bartolommeo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2351">Le vite de’ pittori, scultori e architetti veronesi</a></span>, <span class="catalogo-pubPlace">Verona</span>
    <span class="catalogo-date">1718</span>, in 4.
    <div id="catalogo-note-text-2351" class="catalogo-note truncate-line-clamp">Libro accreditato e scritto da un coltissimo amatore di cose patrie.</div><a id="catalogo-note-text-toggle-2351" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>