<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="699">
                  <span class="catalogo-item-label">699.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVII</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/699">De architectura libri decemi</a></span>, <span class="catalogo-pubPlace">Florentiae</span>, per heredes Philippi Iuntae, <span class="catalogo-date">1522</span>, in 12, fig.
	<div class="catalogo-note">Questa edizione non è dissimile da quella del 1513 dello stesso Giunta, se non in quanto che gli errori nella
	prima descritti nell’indice, sono in questa corretti. Le figure sono esattamente le stesse.</div>
	
	</span></section>