<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3443">
                     <span class="catalogo-item-label">3443.</span> <span class="catalogo-bibl"><span class="catalogo-author">PRENNER Giorgio Gasparo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3443">Illustri fatti Farnesiani coloriti nel R. Palazzo di Caprarola dai fratelli <span class="catalogo-pb" id="page_146">146</span>
Taddeo, Federico e Ottaviano Zuccari</a></span>, disegnati ed incisi all’acqua forte, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1748</span>, in fol., figurato.
<div class="catalogo-note">Le tavole delle pitture sono 36 non comprese altre 5 tav. delle piante ed elevazioni del palazzo e il ritratto del
cardinal Acquaviva. Magnifico esemplare mar. dor.</div>
</span></section>