<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1309">
                  <span class="catalogo-item-label">1309.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1309">DISCOURS sur l’architecture pour l’ouverture de la séance publique de l’Académie avec deux
    lettres</a></span>, la premiere sur un projet d’hotel de ville pour Paris, la deuxieme sur differents moyens
    propres à encourager les artistes, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1771</span>, en 8.
    </span></section>