<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="24">
                  <span class="catalogo-item-label">24.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/24">DIALOGHI sopra le tre arti del disegno,</a></span> 
                     <span class="catalogo-pubPlace">Lucca</span> 
                     <span class="catalogo-date">1754,</span>
                     <span class="catalogo-extent"> in 8.</span> Con una tavola in rame nel frontispizio
	  rappresentante Tiziano in atto di dipingere una Venere.</span>
               </section>