<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2586">
                     <span class="catalogo-item-label">2586.</span> <span class="catalogo-bibl"><span class="catalogo-author">GORI Anton Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2586">Difesa dell’alfabeto degli antichi toscani pubblicato nel 1737 dall’autore del Museo
Etrusco, disapprovato dal marchese Maffei nel tomo quinto delle sue osservazioni letterarie, date in luce in
Verona, con tavole e figure</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1742</span>, in 12.
<div id="catalogo-note-text-2586" class="catalogo-note truncate-line-clamp">La prefazione occupa 250 pagine e altrettanto circa il libro: 12 tavole sono nella prima e sei nel secondo.</div><a id="catalogo-note-text-toggle-2586" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>