<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3495">
                     <span class="catalogo-item-label">3495.</span> <span class="catalogo-bibl"><span class="catalogo-author">COCKERELL Charles Robert architetto inglese</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3495">Progetto di collocazione delle statue della famiglia di Niobe sopra
il frontone d’un edificio</a></span>, in fol. max., <span class="catalogo-date">1816</span>, M. 85.
<div class="catalogo-note">Questo unico foglio dall’autore inciso contiene intagliata in caratteri corsivi l’interpretazione da lui molto
ragionevolmente imaginata.</div>
</span></section>