<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3413">
                     <span class="catalogo-item-label">3413.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3413">MUSÉE français. Recueil complet des tableaux, statues, et bas-réliefs, qui composent la collection nationale, avec
l’explication des sujets et des discours historiques sur la peinture, la sculpture, et la gravûre</a></span> publié par Robillard,
Peronville et Laurent , <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1803, 1809</span>, in 4, vol. gr., fol., fig.
<div class="catalogo-note collapse">Edizione del massimo splendore, la quale, se per la parte calcografica avesse intieramente corrisposto alla
tipografica <span class="catalogo-pb" id="page_140">140</span> magnificenza, non avrebbe l’eguale; poiché sebbene vi sia buon numero di tavole incise da
valenti maestri, è troppo grande il numero delle inferiori ed in ispecie l’intero numero delle statue.
Il primo volume è preceduto da un discorso istorico sulla pittura antica di 140 pagine del sig. Croze Magnan e
seguito da 88 quadri istorici illustrati.
Il secondo è preceduto da un discorso sulla scultura antica dello stesso in 98 p. e seguito da 98 ritratti e quadri
dai francesi chiamati de Genre.
Nel terzo volume si rese l’opera più interessante col trovarsi annunciato il chiarissimo nome del Visconti e
quello del sig. Em. David in luogo del sig. Croze Magnan e il volume è preceduto da un discorso sull’intaglio in
rame e in legno che occupa 60 pagine. Succedono 82 statue intagliate con fatica e senza gusto.

                     
                     
Nel quarto volume si trova il discorso sulla pittura moderna che occupa le prime 100 pagine e seguono 83 paesi:
sono poi numerose le vignette e gli ornamenti sparsi in questa opera colossale e magnifica. In questo modo è
legato il nostro esemplare, che potrebbe, quanto ai discorsi, essere diversamente distribuito.</div>
</span></section>