<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2022">
                  <span class="catalogo-item-label">2022.</span> <span class="catalogo-bibl"><span class="catalogo-author">DURERI Alberti</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2022">Epitome in Divae Parthenices Mariae historiam per figuras digestam cum
  versibus annexis Ghelidonii</a></span>, Impressum <span class="catalogo-pubPlace">Norimbergae</span>, per Albertum Durerum pictorem,
  <span class="catalogo-date">1511</span>, in fol. Constat chartarum 21.
  — <span class="catalogo-bibl">Accedit: <span class="catalogo-title"><a class="catalog-link" href="/catalog/2022">Passio Domini nostri Jesu Christi ex Hyeronimo Paduano, Domenico Mancino,
  Sedulio et Baptista Mantuano, per Fratrem Chelidonium collecta, cum figuris Alberti Dureri
  pictoris</a></span>, <span class="catalogo-pubPlace">Norimbergae</span> <span class="catalogo-date">1511</span>, chart. 12.</span>
  — <span class="catalogo-bibl">Accedit: <span class="catalogo-title"><a class="catalog-link" href="/catalog/2022">Apocalypsis cum figuris</a></span>, <span class="catalogo-pubPlace">Norimbergae</span> <span class="catalogo-date">1511</span>, chart. 16.</span>
  </span></section>