<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="879">
                  <span class="catalogo-item-label">879.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAILEY Guglielmo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/879">Avanzamento dell’arti, delle manifatture e del commercio, ovvero
      descrizione delle macchine utili e dei modelli che si conservano nel gabinetto della Società di
      Londra</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1773</span>, in fol. fig.
      <div class="catalogo-note">Sono 55 te tavole assai ben intagliate ed impresse colle relative illustrazioni.</div>
      <span class="catalogo-pb" id="page_165">165</span>
               </span></section>