<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2066">
                  <span class="catalogo-item-label">2066.</span> <span class="catalogo-bibl"><span class="catalogo-author">MONCORMET Balt.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2066">Serie di 217 ritratti dei più illustri personaggi delle famiglie regnanti e
  altri soggetti ragguardevoli</a></span>: in un volume in 4.
  <div class="catalogo-note collapse">Le opere di questo intagliature non sono sempre condotte con grazia ed ha fatto lavorare i suoi allievi per la
  speculazione libraria piuttosto che farsi un nome nell’arte.</div>
  
  </span></section>