<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1865">
                  <span class="catalogo-item-label">1865.</span> <span class="catalogo-bibl"><span class="catalogo-author">CABURACI M. Francesco da Imola</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1865">Trattato dove si dimostra il vero e nuovo modo di fare le
    imprese</a></span>: Con un breve discorso in difesa dell’Orlando furioso di M. Lodovico Ariosto,
    <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1580</span>, in 4.
    </span></section>