<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1023">
                  <span class="catalogo-item-label">1023.</span> <span class="catalogo-bibl"><span class="catalogo-author">LOMAZZO Giovan Paolo milanese pittore</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1023">Rime divise in sette libri, delle quali a imitazione
      dei grotteschi usati da’ pittori ha cantato le lodi di Dio ec. e quelle dei pittori, scultori e
      architetti</a></span>: con la vita dell’autore in fine descritta da lui stesso in rime sciolte, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1887</span>, in
      4.
      <div class="catalogo-note collapse">Questo grosso volume di circa 600 pagine dedicato a Carlo Emanuele di Savoia ha il
      frontespizio col ritratto dell’autore ripetuto al cominciar d’ogni libro, non meno che in fronte
      alla vita dello stesso. Opera piena di notizie preziose.
      Era già stampato il foglio dei Trattati della pittura, ove trovatisi le opere principali del Lomazzo, allorché ti
      siamo avveduti di alcuni strattagemmi impiegati per accrescere rarità alle cose che più tengonsi in pregio. Una
      fra le altre è questa: abbiamo incontrato staccato dai sette libri del Trattato della Pittura del Lomazzo, edizione
      prima di Milano, il primo libro della proporzione naturale e artificiale con un suo particolar frontespizio, e il
      ritratto dell’autore. Giova qui avvertire (contro l’impostura) non essere mai questo primo libro stato stampato a
      parte, se non nella versione francese a Tolosa; e il frontespizio trovasi in tutti i volumi del trattato alla pagina 17,
      il cui numero talora venne cancellato per inganno, ma veggonsi poi consecutivamente gli altri numeri
      progressivi. Questo frontespizio è il primo foglietto del quaderno B. e gli altri libri del trattato non hanno
      frontespizio separato, né ritratto dell’autore.</div>
      
      </span></section>