<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="719">
                  <span class="catalogo-item-label">719.</span> <span class="catalogo-bibl"><span class="catalogo-author">M. VITRUVII Pollion</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/719">Architecture ou art de bien bâtir</a></span>, mis de latin en françois par Jean Martin
	secretaire du Cardinal de Lenoncourt, <span class="catalogo-pubPlace">Paris</span>, chez Jeròme de Marnef et Guillaume Gaveilat, in
	fol. fig., <span class="catalogo-date">1572</span>.
	<div class="catalogo-note collapse">Non è dissimile esenzialmente questa seconda edizione della edizione del Martino da quella pubblicata nel 1547,
	sebbene da lui stesso diretta e procurata</div>.
	
	</span></section>