<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2078">
                  <span class="catalogo-item-label">2078.</span> <span class="catalogo-bibl"><span class="catalogo-author">PASSEO Crispino</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2078"> Liber Genesis aeris formis expressus et explicatus a Guillelmo Salsmanno</a></span>,
  <span class="catalogo-pubPlace">Arnhemii</span>, ap. Jo. Jansonium, <span class="catalogo-date">1616</span>, in 8.
  <div id="catalogo-note-text-2078" class="catalogo-note truncate-line-clamp">Le tavole sono 60 compresa quella del frontespizio e sono intagliate colla maggiore accuratezza.</div><a id="catalogo-note-text-toggle-2078" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>