<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1607">
                  <span class="catalogo-item-label">1607.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRUYNI Abrahami</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1607">Diversarum gentium armatura equestris</a></span>, <span class="catalogo-pubPlace">Amstelodami</span> in redibus Nicolai
    Joan, Visscherii. Vedi Diversarim gentium.
    <span class="catalogo-pb" id="page_279">279</span>
               </span></section>