<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1372">
                  <span class="catalogo-item-label">1372.</span> <span class="catalogo-bibl"><span class="catalogo-author">CORNELII C.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1372">Spectaculorum in susceptione Philippi Hisp. Prin. Divi Caroli V. Caes. f. an.
    1549</a></span>, <span class="catalogo-pubPlace">Antuerpiae</span>, editorum apparatus: per Cornelium scrib. Grapheum eius urbis secretarium.
    Excuss. Ant. pro Petro Alosten typis Aegidii Disthemii, An. <span class="catalogo-date">1550</span>, Men. Jan. in fol.
    <div class="catalogo-note collapse">Questo è uno de’ più singolari libri di feste e spettacoli, con 29 tavole intagliate in legno elegantemente. Ma è
    tale la ricchezza di quelle rappresentazioni, archi e trionfi, che enumerati in fine del volume gli artefici di tutte le
    nazioni che vi contribuirono, si trovano 895 falegnami, 233 Pittori, 598 altri artefici, in tutto 1726 operai.</div>
    MDLI
    
    </span></section>