<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="351">
                  <span class="catalogo-item-label">351.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">RAFAELLE DE SANCTIS</span> urbinate, <span class="catalogo-title"><a class="catalog-link" href="/catalog/351">Prima elementa picturae, idest moud facilis delineandi omnes
	humani corporis partes ex tipographio remondiniano veneto, tav. 25, in 8 obl.,</a></span> 
                     <span class="catalogo-date">1747.</span>
                  </span>
	Aggiuntovi: <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/351">Il vero modo ed ordine di disegnare tutte le parti del corpo umano, di Odoardo
	Fialetti pittore,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1608,</span>
                      presso I. Sadeler, 
                     <span class="catalogo-extent">tav. 42. </span>In fine: Principes de dessein par
	Sebastien le Clerc chévalier romain, tav. 25.</span>
	                 <div class="catalogo-note">Tutti elementi ai quali sarebbe improvido l’affidare la gioventù, poiché il primo non è che una mal eseguita
	riunione di fragmenti tolti da diverse parti, con un nome illustre dato al pubblico. Il secondo è eseguito d’una
	maniera inesatta e troppo incerta per la gioventù. L’ultimo è piccolo e manierato da non potersi presentare nelle
	scuole elementari.</div>
	
	              </section>