<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="570">
                  <span class="catalogo-item-label">570.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">MONTANO Giovan Battista</span> milanese, <span class="catalogo-title"><a class="catalog-link" href="/catalog/570">Libro d’architettura con diversi ornamenti cavati
	dall’antico,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1624,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Quest’opera è di 40 tav. edizione originale; segue poi la scelta di vari tempietti antichi, Roma, presso il Soria,
	1624: sono tavole 6 vengono in seguito diversi ornamenti capricciosi per depositi e altari, Roma 1625; sono
	tavole 40. Finisce il volume coi tabernacoli diversi nuovamente inventati da Giovan Battista Montano: Roma
	1618: sono tavole 24 in fol. fig., il tutto dato in luce da Giovan Battista Soria romano. Il Montano si intitola
	intagliatore di legname eccellentissimo, di questo volume quantunque s’incominci ad inclinare al gusto falso,
	vedesi però quanto l’autore fosse valente.</div>
	
	              </section>