<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="832">
                  <span class="catalogo-item-label">832.</span> <span class="catalogo-bibl"><span class="catalogo-author">COUSIN Jehan Senonois, Maistre painctre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/832">Livre de perspective</a></span>, <span class="catalogo-pubPlace">Paris</span>, chez Jean le Royer
	imprimere du Roy es Mathematiques. Senz’anno.
	<div class="catalogo-note">Tutte le opere di questo maestro deggiono ritenersi come le migliori produzioni della Francia. Egli visse
	nell’aureo secolo de’ buoni artisti, e il suo gusto e cosi lunge dall’esser corrotto, che direbbesi autore di Scuola
	Toscana più che Francese. Le tavole in legno sono bellissime in quest’opera, ove l’autore le disegnò ed interpose
	al testo in gran copia. Il libro è composto di settanta fogli e nitidissima è l’impressione.</div>
	
	</span></section>