<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1792">
                  <span class="catalogo-item-label">1792.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCHEFFERII Joannes</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1792">De militia navali veterum libri quatuor</a></span>,<span class="catalogo-pubPlace"> Upsaliae</span><span class="catalogo-date"> 1654</span>, in 4. fig., excudit
  Jo. Jansonius.
  <div class="catalogo-note collapse">Le tavole sono a’ luoghi richiesti dal testo, tanto incise in rame, che in legno qualora si interpongono ai caratteri.
     Opera di vasta erudizione</div>.
  
  </span></section>