<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3217">
                     <span class="catalogo-item-label">3217.</span> <span class="catalogo-bibl"><span class="catalogo-author">ERASME</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3217">Eloge de la folie, traduit du latin par mr. Guenneville avec des notes de Gérard Listre, et les figures
d’Holbein</a></span>, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1728</span>, in 8, figurato.
</span></section>