<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="944">
                  <span class="catalogo-item-label">944.</span> <span class="catalogo-bibl"><span class="catalogo-author">MOROZZI Ferdinando</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/944">Delle case de’ contadini: trattato architettonico</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1770</span>, in 8, fig.
      M. 63.
      <div class="catalogo-note">Con tre tavole intagliate in rame.</div>
      
      </span></section>