<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1906">
                  <span class="catalogo-item-label">1906.</span> <span class="catalogo-bibl"><span class="catalogo-author">HOLLANDER P. I.</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/1906"> Le spectacle de la vie humaine ou leçons de sagesse</a></span>, exprimées en 103
    tableau en taille douce, dont les sujets son tirés d’Horace par l’ingenieux Othon Vaenius.
    Expliqués par Jo. le Clerc, à <span class="catalogo-pubPlace">la Haye</span> <span class="catalogo-date">1735</span>, in 4, fig.
    <div class="catalogo-note collapse">In quattro lingue, latino, tedesco, francese e olandese.</div>
    
    </span></section>