<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="920">
                  <span class="catalogo-item-label">920.</span> <span class="catalogo-bibl"><span class="catalogo-author">GAUTIER Architecte</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/920">Traité des ponts ou il est parlé de ceux des Romains et de ceux des
      Modernes ec. avec une dissertation à la fin sur les culées, piles, voussoirs et poussées des
      ponts etc</a></span>, Quatrieme e <span class="catalogo-pb" id="page_170">170</span> dition augmentée etc. Tome premier, le traité de chemins
      faisant le t. second, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1765</span>.
      <div id="catalogo-note-text-920" class="catalogo-note truncate-line-clamp">Sonovi 36 tavole oltre il frontespizio e 4 tav. addizionali per la dissertazione sui piloni: opera eseguita da un
      valente architetto.</div><a id="catalogo-note-text-toggle-920" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>