<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1079">
                  <span class="catalogo-item-label">1079.</span> <span class="catalogo-bibl"><span class="catalogo-author">ARIOSTO Lodovico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1079">Orlando Furioso</a></span>, nuovamente adornato di figure in rame da Girolamo
      Porro, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1584</span>, presso il Franceschi.
      <div id="catalogo-note-text-1079" class="catalogo-note truncate-line-clamp">Questo esemplare al canto 93 e 94 ha la medesima stampa <span class="catalogo-pb" id="page_191">191</span> ripetuta: in tutto il resto è completo non
      mancando né al principio, né al fine di tutti i foglietti addizionali citati dai Bibliografi. Li ultimi 43 foglietti
      preceduti da un frontespizio intagliato da Giacomo Franco a parte partano la medesima data. La stampa 34, che
      non trovasi in questo esemplare, deve rappresentare Astolfo che sorte dalla caverna delle Arpie col cavallo
      volante. Le pagine del primo testo del poema colle illustrazioni e note arrivano alla 654 e la tavola de’ principi di
      tutte le stanze occupa 16 foglietti: e 19 fogli, compreso il frontespizio sono i prolegomeni che precedono il
      Poema.</div><a id="catalogo-note-text-toggle-1079" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>