<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3460">
                     <span class="catalogo-item-label">3460.</span> <span class="catalogo-bibl"><span class="catalogo-author">TENIERS Davidis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3460">Theatrum pictorium in quo exhibentur ipsius manu delineatae ejusque cura in aes incisae,
picturae archetypae Italicae</a></span>, <span class="catalogo-pubPlace">Antuerpiae</span>, <span class="catalogo-date">1658</span>, apud Henricum et Comelium Verdussen, in fol.
<div class="catalogo-note">Sono in questo libro 246 tavole in rame. La mediocrità degli intagli di questo ampio volume, non dà luogo a
quelle critiche osservazioni che meriterebbe l’opera, ove con estrema facilità si sono attribuite molte pitture a
diversi maestri cui forse non appartengono.</div><div id="catalogo-note-text-3460" class="catalogo-note-search-results truncate-line-clamp">Sono in questo libro 246 tavole in rame. La mediocrità degli intagli di questo ampio volume, non dà luogo a
quelle critiche osservazioni che meriterebbe l’opera, ove con estrema facilità si sono attribuite molte pitture a
diversi maestri cui forse non appartengono.</div><a id="catalogo-note-text-toggle-3460" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>