<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4133">
                     <span class="catalogo-item-label">4133.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARTOLI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4133">Notizie delle pitture, sculture, e architetture, che ornano le principali città d’Italia</a></span>, <span class="catalogo-pubPlace">Venezia</span>
<span class="catalogo-date">1776</span>, in 8, vol. 2.
<div class="catalogo-note">Opera estesa da un diligente amatore in ristrettissima forma.</div>
</span></section>