<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1935">
                  <span class="catalogo-item-label">1935.</span> <span class="catalogo-bibl"><span class="catalogo-author">PICINELLI D. Filippo.</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/1935">Mondo simbolico formato d’imprese scelte sp. ed illustrate etc.</a></span>, <span class="catalogo-pubPlace">Milano</span>
    <span class="catalogo-date">1680</span>, in fol. fig.
    <div class="catalogo-note collapse">Grosso volume di oltre mille pagine con indici copiosissimi. Le tavole qua e là sparse furono intagliate da certo
    Durelli con mediocrità ed inserte negli intervalli del testo in mezzo alle pagine.</div>
    
    </span></section>