<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="891">
                  <span class="catalogo-item-label">891.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAMPANA</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/891">Idraulica per andare a lavorare sottacqua senza alcun pericolo</a></span>, corretta nel 1716 da
      Edmondo Alleo e nel presente anno 1774 dall’abate Alberto Bruzzi, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">30 agosto 1774</span>, in
      4, fig.
      <div class="catalogo-note">Un foglietto colla sua tavola in rame M. 5.</div>
      
      </span></section>