<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="902">
                  <span class="catalogo-item-label">902.</span> <span class="catalogo-bibl"><span class="catalogo-author">COSSETTI Domenico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/902">Egualità, nuovo meccanismo idrostatico, applicabile a far agire
      qualunque sorta di mulini, e per macinìo e per fabbriche</a></span>, <span class="catalogo-pubPlace">Parma</span> <span class="catalogo-date">1798</span>, in 4, gr. fig. Italiano
      Francese.
      <div class="catalogo-note">Opuscolo elegantemente stampato con una tavola ec.</div><div id="catalogo-note-text-902" class="catalogo-note-search-results truncate-line-clamp">Opuscolo elegantemente stampato con una tavola ec.</div><a id="catalogo-note-text-toggle-902" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      <span class="catalogo-pb" id="page_168">168</span>
               </span></section>