<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1242">
                  <span class="catalogo-item-label">1242.</span> <span class="catalogo-bibl"><span class="catalogo-author">CICOGNARA Leopoldo</span>, (Quantunque stampata anonima) <span class="catalogo-title"><a class="catalog-link" href="/catalog/1242">Relazione di due quadri di Tiziano
    Vecellio</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1816</span>, in 4, fig. M. 77.
    <div id="catalogo-note-text-1242" class="catalogo-note truncate-line-clamp">Sonovi tre tavole intagliate a contorni. Di questi quadri si trova ragione nel Vasari, nelle opere del sig. Ticozzi e
    del sig. Majer, che intesero ad illustrare queste sommo pittore <span class="catalogo-pb" id="page_218">218</span> coi loro scritti. Non furono stampati che
    pochissimi esemplari di questo opuscolo singolare.</div><a id="catalogo-note-text-toggle-1242" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>