<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2120">
                  <span class="catalogo-item-label">2120.</span> <span class="catalogo-bibl"><span class="catalogo-author">URSINI Fulvii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2120">Effigies viginti quatuor Romanorum Imperatorum, qui a C. Jul. Caes.
  Extiterunt.</a></span>
  <div class="catalogo-note">Non possiamo con certezza attribuire queste 25 tavole, compresovi il frontespizio, né a Fulvio Ursino, né ad
  Agostino Veneziano per quello che sia dell’intaglio, sebbene la cartella del frontespizio sia di quel tempo e di
  quel carattere non meno che le incisioni. A questo va unito.
  Illustrium virornm ut extant in Urbe expressi vultus, Roma 1569 cum privil. sum. Pont. formis Ant. Laffreri.
  Questa è la vera e bellissima prima edizione delle 52 teste intagliate da Agostino Veneziano, precedute da un
  
                  
                  
  frontespizio figurato, e dalla lettera di Achille Stazio al Card. Perenotto, e da un avviso dello stesso al lettore.
  Comincia la collezione da un busto incognito e termina con quello di Giano, numerata progressivamente.
  Nitidissimo e magnifico esemplare di prima freschezza. Trovasi a questo unito.
  Imagines et elogia virorum illustrium et eruditorum ex antiq. lapidib. et numismatib. espressa cum annotatione
  ex Bibliotheca Fulvii Ursini 1750, Romae Ant. Laffreri formis. Se <span class="catalogo-pb" id="page_366">366</span> gue un carme di Lorenzo Gambara al
  Vescoro di Pola, poi la prefazione, indi l’elenco delle divisioni. Le tavole sono 74 parte di erme in legno, parte di
  busti, erme, medaglie e iscrizioni in rame: sono precedute dalla pag. I che comprende il frontespizio, sino alla III,
  in cui incominciano le imagini essendo le due ultime bianche, intorno alla seconda delle quali si legge: Venetiis
  1570 in aedibus Pietri Dehuchino Galli.</div>
  
  </span></section>