<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2943">
                     <span class="catalogo-item-label">2943</span> <span class="catalogo-bibl"><span class="catalogo-author">NORIS Enrico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2943">Duplex dissertatio de duobus nummis Diocletiani, et Licinii</a></span>, 
                        <span class="catalogo-pubPlace">Florentiae</span> <span class="catalogo-date">1775</span>.
<span class="catalogo-bibl">— Addita alia opuscula auctoris in 4.</span>
<span class="catalogo-bibl">— In notas Jo. Garnerii ad inscriptiones Epistolarum Synodalium.</span>
<span class="catalogo-bibl">— Adventoria in qua disseritur de inscriptione lib. S. Augustini ALBINE, PINIANAE ET MELANIA.<span class="catalogo-pb" id="page_74">74</span> NORIS Fr.
Archangeli a Parma epistola super quaestione grammatica.</span>
</span></section>