<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1405">
                  <span class="catalogo-item-label">1405.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1405">LABYRINTHE royal de l’Hercule Gaulois triomphant</a></span>, <span class="catalogo-pubPlace">Avignon</span>, chez Jacques Bramereau,
    <span class="catalogo-date">1600</span>, in fol. fig.
    <div class="catalogo-note">Questo libro contiene le pompe e trionfi relativi al re Enrico IV. di Francia per l’ingresso
    trionfante della regina in Avignone nel 19 Novembre del 1600 con 12 tavole incise
    accuratamente.</div>
    <span class="catalogo-pb" id="page_240">240</span>
               </span></section>