<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="655">
                  <span class="catalogo-item-label">655.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SCAMOZZI Vincent</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/655">Oeuvres d’architecture contenues dans son Idée de l’architectiire
	universelle, dont le sixieme livre, qui contient le cinq ordres a été traduit en français par
	Augustin Charles d’Aviler, et le reste traduit nouvellement par Samuel du Ry,</a></span> 
                     <span class="catalogo-pubPlace">à Leide,</span> 
                     chez
	Pierre Vander, 
                     <span class="catalogo-date">1713,</span> 
                     <span class="catalogo-extent">en fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Esaurita l’edizione del sesto libro stampata a Parigi venne eseguita questa in Olanda, aggiungendovi il transunto
	degli altri libri. Fu poi arricchita d’una quantità di monumenti che avevano servito in altre opere d’antichità
	fendendosi <span class="catalogo-pb" id="page_119">119</span> così il libro più interessante in apparenza e con oggetti che l’autore avrebbe altramente
	delineati.</div>
	
	              </section>