<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="564">
                  <span class="catalogo-item-label">564.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/564">MÉMOIRES critiques d’architecture contenantes l’idée de la vraye et de la fausse architecture;
	une instruction sur les trompéries des ouvriers, une dissertatition sur la formation des
	mineraux et leur emploi, sur la qualità de la fumée et de la manière d’y remédier et sur
	d’autres matières non encore éclaircies,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1702,</span> 
                     <span class="catalogo-extent">en 12.</span>
                  </span>
	                 <div class="catalogo-note">Libretto piccantissimo e pieno di sali e di critica singolare.</div><div id="catalogo-note-text-564" class="catalogo-note-search-results truncate-line-clamp">Libretto piccantissimo e pieno di sali e di critica singolare.</div><a id="catalogo-note-text-toggle-564" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>