<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4092">
                     <span class="catalogo-item-label">4092.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCHEUCHZERO Jacobi</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/4092"> Helveticus, sive itinera per Helvetiae alpinae regiones, pluribus tabulis aeneis illustrata</a></span>,
vol. 4 leg. in 2, <span class="catalogo-pubPlace">Lugduni Batavorum</span> <span class="catalogo-date">1723</span>, in 4, fig.
<div class="catalogo-note">Libro accreditato, e ripieno di notizie estese in ogni ramo di cognizioni, con numerosissime tavole inserite fra il
testo, e intagliate in rame.</div><div id="catalogo-note-text-4092" class="catalogo-note-search-results truncate-line-clamp">Libro accreditato, e ripieno di notizie estese in ogni ramo di cognizioni, con numerosissime tavole inserite fra il
testo, e intagliate in rame.</div><a id="catalogo-note-text-toggle-4092" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>