<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="784">
                  <span class="catalogo-item-label">784.</span> <span class="catalogo-bibl"><span class="catalogo-author">DEL BENE Benedetto</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/784">Osservazioni sopra l’origine ultimamente attribuita all’anfiteatro di
	Verona</a></span>, <span class="catalogo-pubPlace">Verona</span> <span class="catalogo-date">1786</span>, in 8.
	— Aggiunta: <span class="catalogo-title"><a class="catalog-link" href="/catalog/784">Lettera ad un amico, ossia scritto polemico in risposta alle dette osservazioni</a></span>: del
	Conte Alessandro Carli: detto anno; Colla difesa di queste osservazioni del Sig. Benedetto del
	Bene. Infine, Ragionamento critico del Co. Alessandro Carli sull’anfiteatro di Verona 1786: E
	un’ultima lettera dell’Ab. Fortis al C. Carli sopra le di lui congetture della fondazione e
	dell’anfiteatro, 1785, in 8.
	</span></section>