<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2319">
                  <span class="catalogo-item-label">2319.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2319">MEMORIE istoriche di più uomini illustri pisani</a></span>, vol. 4, <span class="catalogo-pubPlace">Pisa</span> <span class="catalogo-date">1790 a 1792</span>, in 4.
    <div class="catalogo-note collapse">Trovatisi in questi volumi alcune notizie de’ primi ristauratori delle arti in Italia, ma non estese con quella
    profondità abbondante di critica, che speransi: sonovi alcune tavole collocate fra il testo.</div>
    
    </span></section>