<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3068">
                     <span class="catalogo-item-label">3068.</span> <span class="catalogo-bibl"><span class="catalogo-author">VISCONTI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3068">Esposizione delle leggende e dei tipi che osservansi nella medaglia coniata nel 1794 per premio nel
collegio di Siena</a></span>, <span class="catalogo-pubPlace">Siena</span> <span class="catalogo-date">1794</span>, in 8, fig., M. 43.
<div class="catalogo-note">Col medaglione intagliato in rame.</div>
</span></section>