<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3001">
                     <span class="catalogo-item-label">3001.</span> <span class="catalogo-bibl"><span class="catalogo-author">SESTINI Domenico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3001">Degli stateri antichi illustrati colle medaglie</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1817</span>, in 4, fig., M. 106.
<div class="catalogo-note collapse">Copiosissima è la serie di questi stateri antichi nel Gabinetto di Monaco ove se ne trovano 113 in oro e appunto
questa è la serie che l’autore ha illustrato ed esposta in 9 tavole in rame.</div>
</span></section>