<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="666">
                  <span class="catalogo-item-label">666.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SERLIO</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/666">Le premier livre d’architecture mise en langue françoise par Jean Martin,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1545,</span>
	chez Jean Barbe.</span> 
                  
	— Le second livre de perspective par le même (stesso anno, italiano e francese).
	— Il terzo libro delle antichità, Venezia, presso Francesco Rampazzetto, 1062.
	— Le quatrieme livre des regles génerales d’architecture, sur les cinq manières d’édifices traduit
	par Pierre Van Aelst. Imprimé à Anvers 1545.
	Questi quattro libri sono legati assieme.
	
	</section>