<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3563">
                     <span class="catalogo-item-label">3563.</span> <span class="catalogo-bibl"><span class="catalogo-author">Van de VIVERE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3563">Le mausolée de S. A. R. Marie Christine d’Autriche exécuté par Canova, et expliqué</a></span>, <span class="catalogo-pubPlace">Rome</span>
<span class="catalogo-date">1805</span>, in 8, M. 101.
<div class="catalogo-note collapse">Questo libretto contiene la dedica dell’ottimo e splendidissimo duca Alberto, vero modello de’ principi: una
prefazione, la descrizione del monumento in italiano tal come escì a Roma, una versione letterale in francese;
una descrizione analitica dell’allegoria del monumento e molte note illustrative.</div>
</span></section>