<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="818">
                  <span class="catalogo-item-label">818.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOSSE Abram, Et M. du Boccage</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/818">Lettres</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1668</span>, in 8.
	<div id="catalogo-note-text-818" class="catalogo-note truncate-line-clamp">Questo è un opuscoletto di sole 23 pagine in caratteri minutissimi, ove sono discussi tra questi due personaggi
	alcuni argomenti interessanti di belle arti.</div><a id="catalogo-note-text-toggle-818" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	                 
	                 
	
	                 <span class="catalogo-pb" id="page_152">152</span>
	              </span></section>