<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="425">
                  <span class="catalogo-item-label">425.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BEAUVALET</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/425"> Fragments d’architecture, sculture et peinture, dans le style antique, composés, ou
	recuellis et gravés au trait. Tab. 90 incise in foglio con 8 pagine di lesto,</a></span>
                     <span class="catalogo-pubPlace"> à Paris</span> 
                     <span class="catalogo-date">1804.</span>
	                    <div id="catalogo-note-text-425" class="catalogo-note truncate-line-clamp">La scelta degli oggetti pubblicati è piuttosto lodevole, ma potevano essere più intelligenti i giovani impiegati
	nell’eseguirli, tanto più che l’opera è fregiata del nome di David Pittore cui fu dedicata.</div><a id="catalogo-note-text-toggle-425" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>