<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1491">
                  <span class="catalogo-item-label">1491.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1491">RAGGUAGLIO delle nozze di Filippo V e di Elisabetta Farnese celebrate in Parma l’anno 1714
    benedette dal Cardinal Gozzadini Legato di Clemente XI</a></span>, <span class="catalogo-pubPlace">Parma</span> <span class="catalogo-date">1717</span>, in fog. fig.
    <div class="catalogo-note">Ilario Spolverini pittore e inventore fece i disegni del frontespizio figurato e di cinque grandissime tavole

                  
                  
    atlantiche, delle quali l’intaglio fu eseguito da diversi artisti mediocri. È interessante più d’ogni altra l’ultima,
    che rappresenta la pianta in grande di quell’antica cattedrale.</div>
    
    <span class="catalogo-pb" id="page_256">256</span>
    MDCXCIII
    
    </span></section>