<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1786">
                  <span class="catalogo-item-label">1786.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROULLIARD Sebastian</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1786">Les Gymnopodes ou de la nudité des pieds disputée de part et d’autre</a></span>,
  <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1624</span>, in 4.
  <div class="catalogo-note">Trattasi della nudità dei piedi dei Zoccolanti. Questo è un libro singolare per le ricerche sulle quali l’autore
  s’aggira. Bello esemplare in carta grande col ritratta dell’autore. L’opera è divisa in due parti; l’affermativa, sia
  negativa. Ma il discapito di questo grosso volume è d’essere privo di alcune suddivisioni, necessarie o almeno
  comode e non esservi alcuna tavola delle materie.</div><div id="catalogo-note-text-1786" class="catalogo-note-search-results truncate-line-clamp">Trattasi della nudità dei piedi dei Zoccolanti. Questo è un libro singolare per le ricerche sulle quali l’autore
  s’aggira. Bello esemplare in carta grande col ritratta dell’autore. L’opera è divisa in due parti; l’affermativa, sia
  negativa. Ma il discapito di questo grosso volume è d’essere privo di alcune suddivisioni, necessarie o almeno
  comode e non esservi alcuna tavola delle materie.</div><a id="catalogo-note-text-toggle-1786" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>