<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="492">
                  <span class="catalogo-item-label">492.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DUBUT</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/492">Architecture civile, maisons de ville et de campagne de toutes formes et de tous genres
	projectées pour être construites sur des terreins de differentes grandeurs,</a></span> 
                     <span class="catalogo-pubPlace">Paris,</span> 
                     chez Eberhart,
	                    <span class="catalogo-date">1805,</span>
                     <span class="catalogo-extent"> in fol. mass. fig.</span>
	                    <div class="catalogo-note">Volume senza testo, meno un foglio d’introduzione con 87 tavole e due tabelle figurate; ove in 49 piccole piante
	sono messe in paralello tra loro le proporzioni delle fabbriche contenute nell’opera. Avvi un merito in alcune
	distribuzioni interne per la comodità dell’abitare, molto più che per il gusto dell’esterna decorazione.</div><div id="catalogo-note-text-492" class="catalogo-note-search-results truncate-line-clamp">Volume senza testo, meno un foglio d’introduzione con 87 tavole e due tabelle figurate; ove in 49 piccole piante
	sono messe in paralello tra loro le proporzioni delle fabbriche contenute nell’opera. Avvi un merito in alcune
	distribuzioni interne per la comodità dell’abitare, molto più che per il gusto dell’esterna decorazione.</div><a id="catalogo-note-text-toggle-492" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 </span>
	              </section>