<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2042">
                  <span class="catalogo-item-label">2042.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2042">HISTORIARUM veteris Testamenti Icones ad vivum expressse una cura brevi</a></span>, sed quoad fieri
  potuit, dilucida earumdem expositione, <span class="catalogo-pubPlace">Antuerpiae</span>, apud Joannem Steelsium, <span class="catalogo-date">1540</span>, in 4, parv.
  fig.
  <div class="catalogo-note">Sono questi quarantotto foglietti, dei quali 46 contengono 92 tavole in legno di non spregievole maestro. Nel
  primo foglietto sta il frontespizio figurato e a tergo un avviso al lettore, nell’ultimo l’insegna dello stampatore:
  superiormente ad ogni tavola è il passo del Genesi a cui allude.</div><div id="catalogo-note-text-2042" class="catalogo-note-search-results truncate-line-clamp">Sono questi quarantotto foglietti, dei quali 46 contengono 92 tavole in legno di non spregievole maestro. Nel
  primo foglietto sta il frontespizio figurato e a tergo un avviso al lettore, nell’ultimo l’insegna dello stampatore:
  superiormente ad ogni tavola è il passo del Genesi a cui allude.</div><a id="catalogo-note-text-toggle-2042" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>