<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2959">
                     <span class="catalogo-item-label">2959.</span> <span class="catalogo-bibl"><span class="catalogo-author">PARUTAE Philippi</span>, et <span class="catalogo-author">Augustini Leonardi</span>,
                        <span class="catalogo-title"><a class="catalog-link" href="/catalog/2959">Sicilia numismatica</a></span>, <span class="catalogo-pubPlace">Lugduni Batavorum</span> <span class="catalogo-date">1723</span>, in fol., fig., vol. 3.
<div id="catalogo-note-text-2959" class="catalogo-note truncate-line-clamp">Questa è l’opera più copiosa di numismatica per la Sicilia e si trovano non solo le medaglie, ma ancora le gemme
intagliate che hanno relazione con questa. Le descrizioni e i lavori d’Huberto Golzio, dell’Havercampo e del
Gualterio la rendono utile e preziosa. Le tavole sono 233, delle quali 33 nel secondo volume e 200 nel terzo.
Bello e distinto esemplare.</div><a id="catalogo-note-text-toggle-2959" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>