<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="132">
                  <span class="catalogo-item-label">132.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GAUTIER</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/132"> L’arte di acquarellare, con annotazioni e supplementi, traduzione dal francese,</a></span> 
                     <span class="catalogo-pubPlace">Lucca</span>
	                    <span class="catalogo-date">1760,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note collapse">Operetta scritta con molto giudizio eccellente per le pratiche che insegna.</div>	  
	              </section>