<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="737">
                  <span class="catalogo-item-label">737.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/737">L’ARCHITETTURA Generale di Vitruvio</a></span>. Ridotta in compendio dal Sig. Perrault, tradotta dal
	francese, <span class="catalogo-pubPlace">Venezia</span>, Zatta, <span class="catalogo-date">1794</span>, in 8, fig.
	<div class="catalogo-note">Questa è una ristampa dell’altra edizione pubblicata dall’Albrizzi nel 1747.</div><div id="catalogo-note-text-737" class="catalogo-note-search-results truncate-line-clamp">Questa è una ristampa dell’altra edizione pubblicata dall’Albrizzi nel 1747.</div><a id="catalogo-note-text-toggle-737" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>