<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2969">
                     <span class="catalogo-item-label">2969.</span> <span class="catalogo-bibl"><span class="catalogo-author">PATINAE Gabrielidis Carolae Parisinae Academicae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2969">De phoenice in numismate imp. Antonini Caracallae
expressa: epistola</a></span>, <span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1683</span>, in 4, fig., M. 10.
<div class="catalogo-note">Le medaglie che illustrano questa memoria sono intagliate in legno fra il testo.</div>
</span></section>