<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3574">
                     <span class="catalogo-item-label">3574.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALVERI Gasparo</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3574"> Roma in ogni stato, alla santità di Alessandro VII</a></span>, 
                        vol. 2, in fol., <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1664</span>.
<div class="catalogo-note">Trattasi in questi volumi de’ costumi, guerre, inondazioni del Tevere, e avvenimenti relativi alla grandezza e
vicende di Roma in ogni tempo, opera compilata da varj autori con mediocre critica.</div>
</span></section>