<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3962">
                     <span class="catalogo-item-label">3962.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOREL</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3962">Les antiquités, rarétés, plantes, mineraux etc. de la ville, et comté de Castres etc. Avec le Roolle des
principaux cabinets, et autres rarétez de l’Europe etc. etc.</a></span> Comme aussi le catalogue des choses rares de maistre
Pierre Borel docteur en médécine auteur de ce livre, <span class="catalogo-pubPlace">Castres</span> <span class="catalogo-date">1649</span>, in 4 pet.
<div id="catalogo-note-text-3962" class="catalogo-note truncate-line-clamp">Le cognizioni di molte singolarità della raccolta dell’autore rendono questo libretto prezioso, e si annovera tra i
rari di questa specie.</div><a id="catalogo-note-text-toggle-3962" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>