<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="257">
                  <span class="catalogo-item-label">257.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BYLAERT Jean Jacques</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/257">Nouvelle manière de graver en cuivre des estampes coloriées de façon
	  que quoique imprimées dans une presse ordinaire, elles conservent l’air et le caractère du
	  dessein,</a></span> 
                     <span class="catalogo-pubPlace">Leyde</span> 
                     <span class="catalogo-date">1772</span>, <span class="catalogo-extent">8 fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Traduzione dall’olandese di L. G. F. Kerroux, maestro di lingua, con due tavole.</div>
	  
	              </section>