<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3151">
                     <span class="catalogo-item-label">3151.</span> <span class="catalogo-bibl"><span class="catalogo-author">VERMIGLIOLI Giovan Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3151">Le antiche iscrizioni perugine raccolte e illustrate</a></span>, <span class="catalogo-pubPlace">Perugia</span>, vol. 2, <span class="catalogo-date">1804</span>, in 4,
figurato.
<div class="catalogo-note">Contiene il primo volume le iscrizioni etrusche, il secondo le greche e le romane: con alcune tavole a’ luoghi
voluti del testo. Opera dottissima e laboriosissima.</div>
<span class="catalogo-pb" id="page_105">105</span>
                  </span></section>