<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="917">
                  <span class="catalogo-item-label">917.</span> <span class="catalogo-bibl"><span class="catalogo-author">GALLON</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/917">Machines et inventions approuvées par l’Academie Royale de France</a></span>, dessinées et
      copiées du consentement de l’Académie, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">du 1735 au 1777</span>, in 4, fig., tomi 7.
      <div id="catalogo-note-text-917" class="catalogo-note truncate-line-clamp">Può questa chiamarsi un’enciclopedia meccanica, ove con gran numero di tavole e di illustrazioni si producono
      le più insigni e ingegnose macchine e scoperte utili ad ogni ramo d’arti e di scienze.</div><a id="catalogo-note-text-toggle-917" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
                  
                  
      
               </span></section>