<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4206">
                        <span class="catalogo-item-label">4206.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARLIERI Carlo Maria</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4206">Lo stesso ristretto</a></span>, <span class="catalogo-date">1733</span>, in 12.
Tutti co<div id="catalogo-note-text-4206" class="catalogo-note truncate-line-clamp">loro che vollero restringere e metter le mani nel Bocchi e nel Cinelli per modificarli, non fecero che
   guastarli</div><a id="catalogo-note-text-toggle-4206" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>