<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2485">
                     <span class="catalogo-item-label">2485.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAYLUS</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2485">Recueil d’antiquités egyptiennes, etrusques, grecques, et romaines</a></span>, <span class="catalogo-pubPlace">Paris</span><span class="catalogo-date">1752</span> au 1767, in 4., fig., vol.
7.
<div class="catalogo-note collapse">Opera classica e preziosa per l’immensa quantità dei monumenti in essa prodotti da questo celebre antiquario. Il
settimo volume comparve in qualità di supplemento, essendo già morto l’autore e fu estratto da’ suoi manoscritti
da M. de Bombarde, in fronte al quale fu messo il ritratto dell’autore e l’elogio storico del medesimo. Questa
grand’opera contiene 800 tavole incise, senza contare l’immenso numero delle vignette. Leggesi sul magnifico
nostro esemplare questa notizia singolare, la quale convince di una verità assai trita, cioè che l’invidia morde col
suo veleno sempre gli uomini i più grandi. M. B. C. de Caylus avoit fait placer a st. Germain le Auxerrois pour

                     
                     
lui servir de mausolie une belle urne antique de porphire, sur la quelle est une lampe. Une plaque de bronze, qui
est au dessus, porte un epitaphe fort modeste. M. Diderot qui n’ aimait pas cet autheur a fait contre lui cette
satire:
Cy git sous cette cruche etrusque
Un antiquaire rude et brusque</div>.
</span></section>