<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2548">
                     <span class="catalogo-item-label">2548.</span> <span class="catalogo-bibl"><span class="catalogo-author">SWINBURNE Henry</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2548">Travels through Spain in the years 1775 and 1776 in which several monuments of roman, and
moorish architecture</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1779</span>, in fol., fig.
<div class="catalogo-note">Opera che rende conto delle antichità arabe tanto celebrate e intorno le quali si è ultimamente scritto e si sono
pubblicate opere grandiose, come se non fossero state precedentemente illustrate. Le tavole sono collocate a’
rispettivi luoghi voluti dal testo. Vedi anche Antiguidades e Murphy.</div>
<span class="catalogo-pb" id="page_14">14</span>
                  </span></section>