<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1175">
                  <span class="catalogo-item-label">1175.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1175">LETTERE sopra l’apparato per l’esequie di S. M. Lodovico I, Re d’ Etruria celebrate in Firenze
    il 30 luglio <span class="catalogo-date">1803</span></a></span>, in Augusta con permesso, in 8, M. 46.
    <div class="catalogo-note collapse">Diatribe contro l’autore architetto degli apparati e macchine.</div>
    
    </span></section>