<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3430">
                     <span class="catalogo-item-label">3430.</span> <span class="catalogo-bibl"><span class="catalogo-author">PARDO Benito de Figuerca</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3430">Examen analitico del quadro de la Transfiguracion de Rafael d’Urbino</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1804</span>, in
8, M. 102.
</span></section>