<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1736">
                  <span class="catalogo-item-label">1736.</span> <span class="catalogo-bibl"><span class="catalogo-author">OESTERLIHGIUS Jo.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1736">Dissertatio historica de urnis sepulcralibus et armis lapideis veterum
  Cattorum</a></span>, <span class="catalogo-pubPlace">Lipsiae</span> <span class="catalogo-date">1741</span>, in 4, fig. M. 96.
  <div class="catalogo-note">Con una tavola intagliata in rame.</div><div id="catalogo-note-text-1736" class="catalogo-note-search-results truncate-line-clamp">Con una tavola intagliata in rame.</div><a id="catalogo-note-text-toggle-1736" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>