<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1859">
                  <span class="catalogo-item-label">1859.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRUCK</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1859">Emblemata moralia et bellica</a></span>. <span class="catalogo-pubPlace">Arg.</span> <span class="catalogo-date">1615</span>.
   <span class="catalogo-bibl"> Addita: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1859">Les Emblemes moraux et militaires de Bruck</a></span>, <span class="catalogo-pubPlace">Strasb.</span> <span class="catalogo-date">1616</span>, in 4, fig.</span>
    <div class="catalogo-note collapse">L’intaglio è di Marian. 37 sono le carte degli emblemi <span class="catalogo-pb" id="page_318">318</span> morali, 23 quelle degli emblemi militari. Questa
    seconda edizione del 1616 non è che una versione francese del testo latino senza figure.</div>
    
    </span></section>