<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1802">
                  <span class="catalogo-item-label">1802.</span> <span class="catalogo-bibl"><span class="catalogo-author">STOCHASSEN</span>. <span class="catalogo-title"><a class="catalog-link" href="/catalog/1802">De cultu, ac usu luuiinutn antiquo: <span class="catalogo-pb" id="page_309">309</span> Accedit de misterio Cereris
                     Eleusina etc.,</a></span><span class="catalogo-pubPlace"> Trajecti ad Rhenum</span><span class="catalogo-date">1627</span>, in 12.
                     <div class="catalogo-note collapse">Libro pieno di singolare e profonda erudizione.</div>
  
  </span></section>