<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2350">
                  <span class="catalogo-item-label">2350.</span> <span class="catalogo-bibl"><span class="catalogo-author">POZZETTI Pompilio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2350">Leo Baptista Alberti laudatus in solemni studiorum instauratone: accedit
    commentarius italicus, quo vita eiusdem et scripta compluribus adhuc ineditis monumentis
    illustrantur</a></span>, <span class="catalogo-pubPlace">Florentiae</span> <span class="catalogo-date">1789</span>, in 4, gr.
    <div class="catalogo-note collapse">Col ritratto di L. Batt. Alberti sul frontespizio.</div>
    
    </span></section>