<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2477">

  <span class="catalogo-item-label">2477.</span> <span class="catalogo-bibl"><span class="catalogo-author">AGINCOURT (d’) Seroux</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2477">Recueil de fragmens de sculpture antique en terre cuite</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1814</span>, in 4, figurato.</span>
  <div class="catalogo-note">Quest’opera non fu postuma, sebbene apparve negli ultimi giorni dell’autore: essa è piena di dottrina. Il ritratto
del medesimo è in principio e le tavole illustrate sono 37.</div><div id="catalogo-note-text-2477" class="catalogo-note-search-results truncate-line-clamp">Quest’opera non fu postuma, sebbene apparve negli ultimi giorni dell’autore: essa è piena di dottrina. Il ritratto
del medesimo è in principio e le tavole illustrate sono 37.</div><a id="catalogo-note-text-toggle-2477" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</section>