<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="539">
                  <span class="catalogo-item-label">539.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">LABACCO</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/539">Libro appartenente all’architettura,</a></span> 
                     <span class="catalogo-pubPlace">impresso in Roma</span> in casa nostra negli anni del
	Signore <span class="catalogo-date">1559,</span> con 36 carte delle quali una forma le dedicatorie e altre tre esprimono i
	privilegi in <span class="catalogo-extent">fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">È da notarsi che la data è contraffatta.</div><div id="catalogo-note-text-539" class="catalogo-note-search-results truncate-line-clamp">È da notarsi che la data è contraffatta.</div><a id="catalogo-note-text-toggle-539" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>