<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1970">
                  <span class="catalogo-item-label">1970.</span> <span class="catalogo-bibl"><span class="catalogo-author">VAENII Othonis Batavo Lugdunensis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1970">Q. Horatii Flacci emblemata imaginibus in aes incisis,
    notisque illustrata, Antuerpiae, ex offic. Hieronymi Verdussen aurctoris aere et cura</a></span>, <span class="catalogo-date">1607</span>.
    <div class="catalogo-note collapse">Con 103 tavole di bell’intaglio. Magnifico esemplare cui va aggiunta una versione delle illustrazioni in lingua
    italiana manoscritta con somma eleganza.
    </div>
    </span></section>