<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4800">
                     <span class="catalogo-item-label">4800.</span> <span class="catalogo-bibl"><span class="catalogo-author">VISCONTI Ennio Quirino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4800">Mémoire sur les ouvrages de sculpture du Parténon, et de quelques édifices de
l’Acropole à Athenes</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1818</span>, in 12.
</span></section>