<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="228">
                  <span class="catalogo-item-label">228.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VENTURI Giambatista</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/228">Indagine fisica sui colori coronata dal Premio della Società italiana di
	  scienze. </a></span>Edizione seconda, in Modena anno X Rep., <span class="catalogo-date">1801</span>, presso la Società Tipografica, 
                     <span class="catalogo-extent">in 8.</span>
                  </span>
	                 <div class="catalogo-note">La chiarezza e la precisione di tutte le profonde ricerche di questo autore renderanno sempre pregevolissimo
	  ogni suo scritto. Oltre una tavola di figure dimostrative, trovasi in fine intagliata anche la medaglia d’oro, che il
	  marchese Gherardo Rangone, uno de’ più distinti e più colti mecenati italiani, soleva dare in premio di quelle
	  memorie che venivano coronate dal voto dei letterati riuniti nel suo palazzo in privata adunanza.</div><div id="catalogo-note-text-228" class="catalogo-note-search-results truncate-line-clamp">La chiarezza e la precisione di tutte le profonde ricerche di questo autore renderanno sempre pregevolissimo
	  ogni suo scritto. Oltre una tavola di figure dimostrative, trovasi in fine intagliata anche la medaglia d’oro, che il
	  marchese Gherardo Rangone, uno de’ più distinti e più colti mecenati italiani, soleva dare in premio di quelle
	  memorie che venivano coronate dal voto dei letterati riuniti nel suo palazzo in privata adunanza.</div><a id="catalogo-note-text-toggle-228" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>