<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2910">
                     <span class="catalogo-item-label">2910.</span> <span class="catalogo-bibl"><span class="catalogo-author">LUCKII Joannis Jacobi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2910">Sylloge numismatum elegantiorum quae diversi Imp. Reg. Prin. Comit. Respubblicae
diversas ob causas ab anno 1500 ad annum usque 1600 cudi fecerunt, historica narratione illustrata</a></span>, <span class="catalogo-pubPlace">Argentinae</span>
typis Reppianis <span class="catalogo-date">1610</span>, in fol., figurato.
<div class="catalogo-note">Questa è una delle opere ove siano con più fedeltà, sebbene con troppo lavoro e poco gusto, in gran copia
raffigurate medaglie di bella esecuzione prodotte nell’aureo secolo, dopo il risorgimento delle arti: sono queste
stampate fra il testo, intagliate in rame. Il frontespizio è figurato.</div>
</span></section>