<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="204">
                  <span class="catalogo-item-label">204.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SCANELLI Francesco da Forlì</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/204">Il microcosco della<span class="catalogo-pb" id="page_33">33</span> pittura. Trattato diviso in due
	  libri, Cesena, per il Neri,</a></span> 
                     <span class="catalogo-date">1657,</span>
                     <span class="catalogo-extent"> in 4.</span> Dedicato a Francesco d’Este duca di Modena. Esemplare
	  intonso.</span>
	                 <div class="catalogo-note collapse">Libro ripieno di buone notizie. Nel principio deve trovarsi una stampa, ove in alto è lo stemma di casa d’Este
	  sostenuto da vari geni. La pittura assisa sull’arco dell’iride e tre figure ignude coi loro attributi nel basso,
	  rappresentanti le tre scuole: romana, veneta e lombarda. Ivi leggesi Io Franc. Centen. Inv. Mucius Centen Sculp.</div>	  
	              </section>