<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4791">
                     <span class="catalogo-item-label">4791.</span> <span class="catalogo-bibl"><span class="catalogo-author">PETRARCA</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4791">Le Rime</a></span>, <span class="catalogo-pubPlace">Padova</span>, nella tipografia del Seminario, <span class="catalogo-date">1819 e 1820</span>, vol. 2, in 4 gr., fig.
<div class="catalogo-note collapse">L’edizione splendida di questo Canzoniere fu fatta per cura del signor abate Antonio Marsan professore
nell’Università di Padova. L’opera è ornata di molti accuratissimi intagli, fra’ quali si distinguono due ritratti,
l’uno del Petrarca, l’altro di Laura, preso da un creduto originale di Simone Memmi, oltre i quali sono sette
vedute di luoghi relativi al Poeta intagliate da’ buoni maestri. La vita del Poeta estesa con finezza di
accorgimento, come se egli stesso parlasse, le nozioni amplissime sparse nel volume, le cognizioni bibliografiche
delle edizioni di Petrarca, e il lusso elegante di quest’opera, assicurano all’egregio illustratore ed editore la
riconoscenza della posterità.</div>
</span></section>