<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3296">
                     <span class="catalogo-item-label">3296.</span> <span class="catalogo-bibl"><span class="catalogo-author">Paciaudi Paolo Maria</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3296">Dissertazione sopra una statuetta di Mercurio del gabinetto del sig. dell’Ospital</a></span>, <span class="catalogo-pubPlace">Napoli</span>
<span class="catalogo-date">1747</span>, in 4, fig., M. 26.
<div class="catalogo-note collapse">Con una tavola di medaglie intagliate in rame.</div>
</span></section>