<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="627">
                  <span class="catalogo-item-label">627.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">RADI Bernardino</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/627">Vari disegni d’architettura, ornati di porte inventati</a></span> in <span class="catalogo-pubPlace">Roma</span> l’anno <span class="catalogo-date">1619</span>:</span>
	                 <span class="catalogo-bibl">aggiuntivi i <span class="catalogo-title"><a class="catalog-link" href="/catalog/627">disegni vari di depositi o sepolcri;</a></span> stesso anno, <span class="catalogo-extent">in fol.</span>
                  </span> 
                  
	                 <div class="catalogo-note">La prima opera è dedicata con lettera incisa in rame al Cardinal Borghese, composta di 50 porte oltre il
	frontespizio, lo «stemma e la dedica. La seconda è dedicata a monsignor Pignatelli con 50 depositi oltre il
	frontespizio, lo stemma e la dedica, il gusto inclina già alla falsa direzione, benché non sia che il principio del
	seicento.</div><div id="catalogo-note-text-627" class="catalogo-note-search-results truncate-line-clamp">La prima opera è dedicata con lettera incisa in rame al Cardinal Borghese, composta di 50 porte oltre il
	frontespizio, lo «stemma e la dedica. La seconda è dedicata a monsignor Pignatelli con 50 depositi oltre il
	frontespizio, lo stemma e la dedica, il gusto inclina già alla falsa direzione, benché non sia che il principio del
	seicento.</div><a id="catalogo-note-text-toggle-627" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>