<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="808">
                  <span class="catalogo-item-label">808.</span> <span class="catalogo-bibl"><span class="catalogo-author">BACONS Rogerii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/808">Prospettiva nunc primum edita opera et studio Joann. Conibachii</a></span>: addita
	Specula Mathematica, <span class="catalogo-pubPlace">Francofurtt</span> <span class="catalogo-date">1614</span>, in 4.
	Opera che è unicamente relativa alle scienze e non applica ed alleaArti. A questo è aggiunto: Opus
	Astronomicum Elia Molerii 1607 fig. et alia opuscula Molerii de Sidere, et de Luna et Sole.
	
	</span></section>