<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4152">
                     <span class="catalogo-item-label">4152.</span> <span class="catalogo-bibl"><span class="catalogo-author">VENNI Giuseppe</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/4152"> Elogio storico delle gesta del R. oderico dell’ordine de’ MM. CC. colla storia dei <span class="catalogo-pb" id="page_264">264</span> suoi
viaggi asiatici, illustrata</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1761</span>, in 4, fig.
</span></section>