<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3733">
                     <span class="catalogo-item-label">3733.</span> <span class="catalogo-bibl"><span class="catalogo-author">FONTANA</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3733">Descrizione della nobilissima cappella del Fonte Battesimale nella basilica Vaticana colla gran tazza di
porfido coperta di bronzi dorati, e da lui delineata</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1697</span>, in 4, M. 5.
</span></section>