<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3301">
                     <span class="catalogo-item-label">3301.</span> <span class="catalogo-bibl"><span class="catalogo-author">PASSERII Joannis Baptistae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3301">Spiegazione delle sculture d’un antico marmoreo sarcofago nel monastero degli
Olivetani in Pesaro giusta il sentimento dell’ab. Giovan Battista Passeri</a></span>, <span class="catalogo-pubPlace">Perugia</span> <span class="catalogo-date">1773</span>, in 4, fig., M. 28.
<div class="catalogo-note collapse">Con una tavola grande intagliata in rame.</div>
</span></section>