<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3041">
                     <span class="catalogo-item-label">3041.</span> <span class="catalogo-bibl"><span class="catalogo-author">VALLEMONT</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3041">Dissértation sur une médaille singuliére d’Alexandre le Grand, par la quelle on justifie l’histoire de
Quint-Curce</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1603</span>, in 12.
<div class="catalogo-note">Questo non è che un elenco a guisa di repertorio.</div>
</span></section>