<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="122">
                  <span class="catalogo-item-label">122.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/122">ÉSCOLE de la mignature, dans la quelle ou peut aisement apprendre a peindre sans maître, avec
	  le secret de faire le plus beau couleur d’or et l’or en coquille,</a></span>
                     <span class="catalogo-pubPlace"> Lion</span> 
                     <span class="catalogo-date">1679,</span> 
                     <span class="catalogo-extent">in 12,</span> seconda
	  edizione.</span>
	              </section>