<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="182">
                  <span class="catalogo-item-label">182.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">PILES (de)</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/182"> Diverses coversatios sur la peinture,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1677.</span> In fine a questo libro sono unite
	  Figures d’accademie pour apprendre a dessiner, gravées par Sebastien le Clerc, 1673. Sono 31
	  tavole.</span>
	                 <div class="catalogo-note">Le quali tengonsi in pregio dagli amatori.</div><div id="catalogo-note-text-182" class="catalogo-note-search-results truncate-line-clamp">Le quali tengonsi in pregio dagli amatori.</div><a id="catalogo-note-text-toggle-182" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>