<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1306">
                  <span class="catalogo-item-label">1306.</span> <span class="catalogo-bibl"><span class="catalogo-author">CIAMPI Sebastiano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1306">Statuti dell’opera di S. Jacopo di Pistoia volgarizzati l’anno 1313 da
    Masseo di ser Giovanni Bellebuoni</a></span>, <span class="catalogo-pubPlace">Pisa</span> <span class="catalogo-date">1815</span>, M. 26.
    </span></section>