<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1060">
                  <span class="catalogo-item-label">1060.</span> <span class="catalogo-bibl"><span class="catalogo-author">JAGEMANN Fra Gaudenzio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1060">Saggio sul buon gusto nelle belle arti, dove si spiegano gli
      elementi dell’estetica</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1771</span>.
      — Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1060">le idee sulla maniera di formarsi eccellente in letteratura e nelle belle arti</a></span>,
      <span class="catalogo-date">1795</span>.
      <div class="catalogo-note collapse">Sono queste operette elementari e superficiali.</div>
      
      </span></section>