<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1439">
                  <span class="catalogo-item-label">1439.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1439">DESCRIZIONE delle feste e apparato fatto in Firenze per la canonizzazione di S. Andrea
    Corsini</a></span>, <span class="catalogo-pubPlace">Firenze</span>, presso Zanobi Pignoni, <span class="catalogo-date">1632</span>, in 4, fig.
    <div class="catalogo-note collapse">Con venti tavole della vita del santo e venti imprese incise in rame a un taglio solo, con bello stile.</div>
    MDCXZXIV
    
    </span></section>