<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3337">
                     <span class="catalogo-item-label">3337.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCHWARTIO Christ. Gottl.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3337">De sacrorum detestatione ex antiquo romanorumque jure liber singularis</a></span>, <span class="catalogo-pubPlace">Lipsiae</span>,
editio 2, <span class="catalogo-date">1753</span>, in 4, M. 41.
<div class="catalogo-note collapse">Col frontespizio figurato.</div>
</span></section>