<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="396">
                  <span class="catalogo-item-label">396.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">ALDRICH Henry</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/396">The elements of civil architecture according to Vitruvius and other ancients
	teè most approved practice of modern authores especially Palladio, Translated by the Rev.
	Philip. Smyth. Second edition, </a></span>
                     <span class="catalogo-pubPlace">Oxford</span> 
                     <span class="catalogo-date">1818,</span>
                     <span class="catalogo-extent"> in 8, fig.</span>
                  </span>
	                 <div class="catalogo-note">Le tavole sono le stesse della prima edizione, e avanti il frontespizio è il ritratto dell’autore.</div><div id="catalogo-note-text-396" class="catalogo-note-search-results truncate-line-clamp">Le tavole sono le stesse della prima edizione, e avanti il frontespizio è il ritratto dell’autore.</div><a id="catalogo-note-text-toggle-396" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 
	                 
	                 
	
	              </section>