<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="326">
                  <span class="catalogo-item-label">326.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GROSE François</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/326">Principes de caricature suivis d’un essai sur la peinture comique, traduit en
	français avec des augmentation, </a></span>
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1802,</span>
                     <span class="catalogo-extent"> in 8, fig.</span>
	                    <div class="catalogo-note">Edizione elegantemente pubblicata da Renouard e arricchita con 28 tavole curiosissime, oltre il ritratto
	dell’autore inglese in principio.</div>
	                 </span>
	              </section>