<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2641">
                     <span class="catalogo-item-label">2641.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITALI Pier Antonio</span> (sebbene anonimo), <span class="catalogo-title"><a class="catalog-link" href="/catalog/2641">De Oppido Labici dissertatio qua origo etiam atque compendiosa
historia oppidi Montis Compiti in Latio describitur</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1778</span>, in 4, M. 1.
<div class="catalogo-note">Quest’opuscolo fu scritto dal sig. avvocato Vitali contro l’altre del Ficoroni stampato del 1745 intitolato
Memorie della Città di Labico.</div>
</span></section>