<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="684">
                  <span class="catalogo-item-label">684.</span> <span class="catalogo-bibl"><span class="catalogo-author">VEGETU Renati</span>, De<span class="catalogo-title"><a class="catalog-link" href="/catalog/684"> re militari quatuor. Accedunt Frontini de Stratagematis. Eliani, de
	instruendis aciebus. Modesti de vocabulis rei militaris. Item picturae bellicae centum viginti
	passim Vegetio adiectae</a></span>, <span class="catalogo-pubPlace">Parisis</span> <span class="catalogo-date">1553</span>, <span class="catalogo-extent">in fol. fig</span>.</span>
	<div class="catalogo-note">Le tavole intagliate in legno sono inserite fra il testo.</div>
	
	</section>