<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2269">
                  <span class="catalogo-item-label">2269.</span> <span class="catalogo-bibl"><span class="catalogo-author">GAMBA Bart.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2269">Catalogo degli artisti bassanesi viventi in cui si <span class="catalogo-pb" id="page_387">387</span> descrivono alcune
    delle migliori loro opere esposte in patria il dì 16 agosto 1807 per festeggiare il nome
    dell’augusto nostro sovrano Napoleone il Grande</a></span>, <span class="catalogo-pubPlace">Bassano</span> <span class="catalogo-date">1807</span>, in 8. M. 88.
    </span></section>