<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3609">
                     <span class="catalogo-item-label">3609.</span> <span class="catalogo-bibl"><span class="catalogo-author">BELLORI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3609">Le antiche lucerne sepolcrali figurate, raccolte dalle cave sotterranee, e dalle grotte di Roma. Parti tre in
un volume. Disegnate, intagliate nelle loro forme da Pietro Santi Bartoli con osser <span class="catalogo-pb" id="page_174">174</span> vazioni del Bellori</a></span>,
<span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1691</span>, prima edizione di mirabile freschezza e conservazione.
<div class="catalogo-note collapse">Quest’opera è divisa in tre parti. La prima contiene 37 tavole, la seconda 46, la terza 33, e in fine vi sono altre sei
tavole addizionali non numerate le quali trovansi in pochi esemplari di questa prima, e in nessuno delle
susseguenti edizioni.</div>
</span></section>