<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="856">
                  <span class="catalogo-item-label">856.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROSSI Malocchi Cosimo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/856">Saggio teorico pratico intorno la terminazione dell’ombre ne’ diversi
	soggetti d’architettura geometrica</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1805</span>, in 4, fig.
	<div class="catalogo-note">Con 17 tavole in rame. Opera adottata dall’Accademia di Firenze.</div><div id="catalogo-note-text-856" class="catalogo-note-search-results truncate-line-clamp">Con 17 tavole in rame. Opera adottata dall’Accademia di Firenze.</div><a id="catalogo-note-text-toggle-856" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	                 
	                 
	
	              </span></section>