<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="393">
                  <span class="catalogo-item-label">393.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">ALBERTOLI Giocondo</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/393"> Alcune decorazioni di nobili sale ed altri ornamenti incisi da Giacomo
	Mercoli e da Andrea de Bernardis,</a></span> 
                     <span class="catalogo-pubPlace">Milano</span> 
                     <span class="catalogo-date">1787,</span> 
                     <span class="catalogo-extent">in fol. mass.</span>
                  </span>
	                 <div class="catalogo-note">Unitovi il Corso Elementare, il quale contiene le 23 tavole della seconda parte dell’opera. Trovasi legata anche la
	prima parte contenente altre 24 tavole di diversi ornamenti, pubblicati nel 1781. Ma è da notarsi l’immensa
	diversità delle stampe di questa prima parte, quando trovansi riunite alla seconda, o alla terza, essendo
	logoratissime pel gran successo e smercio che ebbero, cosicché per chiarirsi dell’antichità della prima parte, è
	d’uopo osservare la carta in cui sono tirate; <span class="catalogo-pb" id="page_71">71</span>mentre per la prima impressione si adoperò carta meno
	candida e più piccola.</div><div id="catalogo-note-text-393" class="catalogo-note-search-results truncate-line-clamp">Unitovi il Corso Elementare, il quale contiene le 23 tavole della seconda parte dell’opera. Trovasi legata anche la
	prima parte contenente altre 24 tavole di diversi ornamenti, pubblicati nel 1781. Ma è da notarsi l’immensa
	diversità delle stampe di questa prima parte, quando trovansi riunite alla seconda, o alla terza, essendo
	logoratissime pel gran successo e smercio che ebbero, cosicché per chiarirsi dell’antichità della prima parte, è
	d’uopo osservare la carta in cui sono tirate; <span class="catalogo-pb" id="page_71">71</span>mentre per la prima impressione si adoperò carta meno
	candida e più piccola.</div><a id="catalogo-note-text-toggle-393" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>