<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1109">
                  <span class="catalogo-item-label">1109.</span> <span class="catalogo-bibl"><span class="catalogo-author">PETRARCA</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1109">Rimedio contro la fortuna</a></span> tradotto in tedesco con molte tavole intagliate in legno
      stampato ad <span class="catalogo-pubPlace">Ausburg</span> da Enrico Steiner, <span class="catalogo-date">1539</span>, in fol. piccolo.
      <div class="catalogo-note">Esemplare della biblioteca di Mariette con annotazioni di sua mano très rare. Nel 1572 a Francfort ne apparve
      una seconda edizione pubblicata da Christ. Egelnolf. Sonovi 258 tavole in legno di bella esecuzione e bizzarro
      disegno, in alcuna delle quali non ci fu possibile di trovare marche d’intagliatore, soltanto nell’ultima in mezzo a
      un cartellino sulla fronte d’un sarcofago sta scritto l’anno 1520.</div>
      
      </span></section>