<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2271">
                  <span class="catalogo-item-label">2271.</span> <span class="catalogo-bibl"><span class="catalogo-author">GARATONII Gasp.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2271">De vita Eustachii Zanotti commentarius</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1780</span>, in 8, M. 48, con una
    tavola in principio.
    <div class="catalogo-note">Le vite degli uomini come i Zanotti, i Maffei e altri cultori delle arti e delle antichità fanno di diritto parte nella
    biografia degli artisti.</div><div id="catalogo-note-text-2271" class="catalogo-note-search-results truncate-line-clamp">Le vite degli uomini come i Zanotti, i Maffei e altri cultori delle arti e delle antichità fanno di diritto parte nella
    biografia degli artisti.</div><a id="catalogo-note-text-toggle-2271" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>