<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1428">
                  <span class="catalogo-item-label">1428.</span> <span class="catalogo-bibl"><span class="catalogo-author">LAVANA Jo. B.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1428">Viage de la Catholica Real Magestad del rei D. Filipe III al reino del
    Portugal, I relacion del selene recebimiento etc. par. Jo. Bat. Lavata su Coronista Mayor</a></span>,
    <span class="catalogo-pubPlace">Madrid</span> <span class="catalogo-date">1622</span> in <span class="catalogo-pb" id="page_244">244</span> fol. fig. in fine par Tornas Junti impressor del Rey, en <span class="catalogo-pubPlace">Madrid</span> <span class="catalogo-date">1621</span>.
    <div id="catalogo-note-text-1428" class="catalogo-note truncate-line-clamp">Sono in questo volume 15 tavole intagliate con accoratezza da Giovanni Schorquens.</div><a id="catalogo-note-text-toggle-1428" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCXXIII
    
    </span></section>