<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4357">
                        <span class="catalogo-item-label">4357.</span> <span class="catalogo-bibl"><span class="catalogo-author">CORONELLI P.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4357">Procuratori di S. Marco ragguardevoli per lo <span class="catalogo-pb" id="page_287">287</span>ro dignità e meriti, colla loro origine, e
cronologia descritti</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1705</span>, in 12.
<div class="catalogo-note collapse">Quaranta edizioni almeno si fecero della guida del Coronelli in prova della povertà di critica in cui si trovava il
mondo allora, e della prevenzione che in favore di questo laboriosissimo frate esisteva, sebbene non avesse
ombra di gusto.</div>
</span></section>