<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1160">
                  <span class="catalogo-item-label">1160.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUATTANI (Antonio)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1160">Lettera all’esimio architetto Dufourny sopra un’antica figurina</a></span>, in 4,
    figurato M. 27. Con una tavola intagliata in rame accuratamente.
    <div class="catalogo-note">Il Sig. Dufourny stava allora in Palermo fabbricando l’edifizio che vedesi ora in mezzo al Giardino Botanico ed
    era possessore di questo bel vaso che permise al dotto archeologo d’illustrare.</div><div id="catalogo-note-text-1160" class="catalogo-note-search-results truncate-line-clamp">Il Sig. Dufourny stava allora in Palermo fabbricando l’edifizio che vedesi ora in mezzo al Giardino Botanico ed
    era possessore di questo bel vaso che permise al dotto archeologo d’illustrare.</div><a id="catalogo-note-text-toggle-1160" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                  
                  
    
               </span></section>