<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2273">
                  <span class="catalogo-item-label">2273.</span> <span class="catalogo-bibl"><span class="catalogo-author">GAULT de S. Germain</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2273">Les trois siecles de la peinture en France ou Galérie des peintres
    françois, depuis François I jusqu’à Napoleon</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1808</span>, in 8.
    <div class="catalogo-note collapse">Sono raccolte in questo libro molte preziose notizie intorno l’antica Accademia di Francia.</div>
    
    </span></section>