<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3092">
                     <span class="catalogo-item-label">3092.</span> <span class="catalogo-bibl"><span class="catalogo-author">AMADUTII</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3092">Ad virum clarissimum Janum Plancum epistola, qua inscriptiones nonullae Ariminenses a falsitatis
nota, qua eas Scipio Maffejus inusserat, vindicantur</a></span>, <span class="catalogo-pubPlace">Lucae</span> <span class="catalogo-date">1767</span>, in 12, M. 67.
<div class="catalogo-note">Con quattro foglietti di aggiunte autografe manoscritte.</div>
</span></section>