<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2275">
                  <span class="catalogo-item-label">2275.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIORDANI Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2275">Esequie di Giovan Battista Galliadi pittore di Sant’Arcangelo</a></span>, <span class="catalogo-pubPlace">Cesena</span> <span class="catalogo-date">1811</span>,
    in ottavo, M. 88.
    </span></section>