<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4501">
                        <span class="catalogo-item-label">4501.</span> <span class="catalogo-bibl"><span class="catalogo-author">JOULLAIN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4501">Catalogue des tableaux, sculptures, desseins, estampes provenans de la succession de M. le
basgrâveur</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1783</span>, in 8.
— Précedu de l’éloge historique de cet grâveur. <span class="catalogo-pb" id="page_301">301</span>
<div class="catalogo-note collapse">On y trouve à la fin la liste des catalogues faite par F. C. Joullain seul, et en société.</div>
</span></section>