<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3355">
                     <span class="catalogo-item-label">3355.</span> <span class="catalogo-bibl"><span class="catalogo-author">VAUCANSON M.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3355">Le mécanisme du fluteur automate, avec la description d’un canard artificiel, mangeant,
beuvant, digerant, et se vuidant etc. inventé par le même</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1738</span>, in 4, M. 64.
<div class="catalogo-note">Opuscolo singolare con una tavola intagliata in rame. Questa macchina fu presentata all’Accademia delle
Scienze in Parigi.</div>
</span></section>