<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2339">
                  <span class="catalogo-item-label">2339.</span> <span class="catalogo-bibl"><span class="catalogo-author">POLOMINO Velasco D. Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2339">Las vidas de les pintores y estatuarios eminentes espanoles
    que con sus heroycas obras han illustrado la nacion</a></span>, <span class="catalogo-pubPlace">Londres</span> <span class="catalogo-date">1743</span>, in 4, p.
    <div class="catalogo-note collapse">Questo non è che un piccolo ristretto dell’opera più grande in due volumi dello stesso autore.</div>
    
    </span></section>