<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3056">
                     <span class="catalogo-item-label">3056.</span> <span class="catalogo-bibl"><span class="catalogo-author">VICO</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3056">Le immagini con tutti i riversi trovati e le vite degl’imperatori tratte dalle medaglie e dalle historie degli
antichi</a></span>, libro primo, Eneas Vicus Parm. fec., an. <span class="catalogo-date">1548</span>.
<div class="catalogo-note">Altro esemplare di prima freschezza e di mirabi1e intaglio, su cui di mano autografa è riportata la versione in
latino e molte correzioni della stessa opera che non fu poi riprodotta; e dal millesimo egualmente emendato,
vedesi che doveva pubblicarsi nel 1552 sostituendosi nel frontespizio all’arme del Zantani quella di S. Marco.
Essendo levate le carte di dedica, rimangono per conseguenza nel volume 55 foglietti. Il frontespizio e la prima
medaglia di ciascuno dei 12 Cesari sono egregiamente figurate; le altre medaglie puramente intagliate senza
ornamenti ed è illustrata la vita di ciascuno dei Cesari con brevi dichiarazioni. Doveva aver per titolo questa
versione, come leggesi in cartellino: Divorum Caesarum verissimae imagines ex antiquis numismatibus
desumptae etc.</div><div id="catalogo-note-text-3056" class="catalogo-note-search-results truncate-line-clamp">Altro esemplare di prima freschezza e di mirabi1e intaglio, su cui di mano autografa è riportata la versione in
latino e molte correzioni della stessa opera che non fu poi riprodotta; e dal millesimo egualmente emendato,
vedesi che doveva pubblicarsi nel 1552 sostituendosi nel frontespizio all’arme del Zantani quella di S. Marco.
Essendo levate le carte di dedica, rimangono per conseguenza nel volume 55 foglietti. Il frontespizio e la prima
medaglia di ciascuno dei 12 Cesari sono egregiamente figurate; le altre medaglie puramente intagliate senza
ornamenti ed è illustrata la vita di ciascuno dei Cesari con brevi dichiarazioni. Doveva aver per titolo questa
versione, come leggesi in cartellino: Divorum Caesarum verissimae imagines ex antiquis numismatibus
desumptae etc.</div><a id="catalogo-note-text-toggle-3056" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>