<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1470">
                  <span class="catalogo-item-label">1470.</span> <span class="catalogo-bibl"><span class="catalogo-author">MACIGNI Manfr.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1470">Esequie del Sereniss. Ferdinando II, Gran Duca di Toscana celebrate in
    Firenze dal Gran Duca Cosimo III</a></span>, descritte da Manfredi Macigni, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1671</span>, in 4, fig.
    <div class="catalogo-note collapse">Le composizioni, allusioni ec. furono di Andrea Cavalcanti, Carlo Dati, Francesco Redi, Francesco Doni,
    Lorenzo Magalotti e Vincenzo da Filicaja; Ferdinando Tacca architetto ornò a tal uopo il tempio di S. Lorenzo.
    Giovan Battista Falda fece le due belle tavole in foglio dei prospetti che veggonsi: <span class="catalogo-pb" id="page_252">252</span> e l’orazione funebre
    che leggei in fine fu scritta da Luigi Rucellai.</div>
    MDCLXXV
    
    </span></section>