<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1927">
                  <span class="catalogo-item-label">1927.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1927">PARACELSI prognosticatio figuris illustrata absque ulla nota in 4</a></span>. Ad Ferdinandum Rom.
    Regem semper Augustum, conscripta anno XXXVI.
    <div class="catalogo-note">Con 32 tavole in legno, ediz. prima.</div><div id="catalogo-note-text-1927" class="catalogo-note-search-results truncate-line-clamp">Con 32 tavole in legno, ediz. prima.</div><a id="catalogo-note-text-toggle-1927" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>