<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4628">
                     <span class="catalogo-item-label">4628.</span> <span class="catalogo-bibl"><span class="catalogo-author">WINTERII Georgii Simonis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4628">De re equaria complectens partes tres. In tedesco, latino, francese</a></span>, 
                        <span class="catalogo-pubPlace">Norimberg</span>a <span class="catalogo-date">1687</span>,
in fol., fig.
<div class="catalogo-note">Con 48 tavole assai ben intagliate: edizione di gran lunga ampliata e pel testo e per le tavole dalla prima del 1672
e da tenersi in molto maggior pregio.</div><div id="catalogo-note-text-4628" class="catalogo-note-search-results truncate-line-clamp">Con 48 tavole assai ben intagliate: edizione di gran lunga ampliata e pel testo e per le tavole dalla prima del 1672
e da tenersi in molto maggior pregio.</div><a id="catalogo-note-text-toggle-4628" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>