<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="154">
                  <span class="catalogo-item-label">154.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">LAMO Alessandro</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/154"> Discorso ec.,</a></span> 
                     <span class="catalogo-pubPlace">Cremona</span> 
                     <span class="catalogo-date">1584,</span>
                     <span class="catalogo-extent"> in 4.</span>
                  </span>
	                 <div class="catalogo-note collapse">Edizione simile alla precedente, ma più completa e più rara. In fronte sta il ritratto di Bernardino Campo e in fine
	  dopo l’ultima pagina col registro dei fogli, seguono altre sei carte, che di raro trovansi unita all’opera indicata,
	  come dovrebbero essere, acciò sarà completa. In queste è stampato il parer sopra la pittura di M. Bernardino
	  Campi pittore cremonese, che occupa le prime quattro carte segnate al basso della pagina. La quinta carta
	  contiene due figure, l’una di fronte, l’altra di profilo con dimostrazioni lineari di proporzioni; nella retropagina
	  sono due sonetti: e l’ultima carta è quella degli errori e correzioni che si riferiscono però ai numeri delle pagine
	  del discorso, ragione per cui debbono essenzialmente far parte di quello, sebbene aderenti a quest’ultimo
	  opuscolo.</div>
	              </section>