<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1203">
                  <span class="catalogo-item-label">1203.</span> <span class="catalogo-bibl"><span class="catalogo-author">DE ROSA</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1203">Aurea epistola</a></span>, <span class="catalogo-pubPlace">Patavii</span> <span class="catalogo-date">1759</span>, in 8.
    <div class="catalogo-note collapse">Questa riguarda la Rosa d’oro, che i Papi solevano in certe circostante mandare in dono alla Repubblica Veneta,
    delle quali le ultime a’ giorni nostri si videro nel Tesoro di S. Marco.</div>
    
    </span></section>