<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="598">
                  <span class="catalogo-item-label">598.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">PALLADIO</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/598">Les bâtimens et les desseins recuellis et illustrés par Octave Bertotti Scamozzi.
	Ouvrage divisée en 4 volumes avec des planches etc. etc.,</a></span> 
                     <span class="catalogo-pubPlace">à Vicence</span> 
                     <span class="catalogo-date">1776-83,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Quantunque un italiano abbia imaginato di far comperare agli stranieri l’opera ma più facilmente, stampandola in
	francese, il che a noi sembra basso pensiere; nondimeno Ottavio Bertotti Scamozzi fece cosa nobile e grandiosa
	nel produrre queste grandi opere palladiane e nell’illustrarle. Poteva esservi un po’ più di gusto, a dir vero, per
	parte dei disegnatori, che pesanti riescono gli ornamenti e non tanto gentili le modanature, quanto si veggono
	nelle opere originali; ma l’insieme di queste dimensioni in gran foglio ombreggiate produce un buon effetto, e
	l’opera avvi luogo sempre tra le più classiche: 72 tavole contiene il primo volume, in cui si illustrano 17 edifici;
	51 ne contiene il secondo, ove si tratta di altrettante fabbriche; 52 ne stanno nel terzo per illustrare un simil
	numero di edifici; e 72 nel quarto, relative a 22 opere palladiane.</div>
	
	              </section>