<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2368">
                  <span class="catalogo-item-label">2368.</span> <span class="catalogo-bibl"><span class="catalogo-author">DE’ ROSSI Giovanni Gherardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2368">Vita di Angelica Kauffmann pittrice</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1810</span>, in 8.
    <div class="catalogo-note">Operette ripiene di nuove e sicure notizie, fatte con critica, impresse con eleganza di tipi. Avvi un bel ritratto
    della pittrice in principio.
    </div><div id="catalogo-note-text-2368" class="catalogo-note-search-results truncate-line-clamp">Operette ripiene di nuove e sicure notizie, fatte con critica, impresse con eleganza di tipi. Avvi un bel ritratto
    della pittrice in principio.
    </div><a id="catalogo-note-text-toggle-2368" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>