<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3165">
                     <span class="catalogo-item-label">3165.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALMELOVEEN Theodorus I.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3165">Syllabus plagiariorum</a></span>. Accedit Henrici Sypesteinii de Plagiariis epistola,
<span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1694</span>, in 8, M. 72.
</span></section>