<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3474">
                     <span class="catalogo-item-label">3474.</span> <span class="catalogo-bibl"><span class="catalogo-author">ADAM Lambert Sigisbert</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3474">Colléction de sculptures antiques grecques et romaines trouvées à Rome dans les ruines
des palais de Neron, et de Marius</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1755</span>, in 4, fig.
<div class="catalogo-note collapse">Questo scultore comprò dagli eredi del cardinale di Polignac questa collezione di marmi, che poi è passata a
Berlino: ma per esitarla imaginò di far intagliare da buoni artefici tutti i disegni, che di sua mano aveva eseguiti
con molta intelligenza in numero di 59 pezzi d’antichità cui aggiunse anche cinque busti di sua invenzione.
Disegnò poi e di propria mano anche incise un secondo frontespizio, ove il Tempo sostiene un cartello con
scrittovi Recueil de sculpture antiques grecques et romaines 1754 e al basso della tav. istoriata: le Temps
decouvre les ruines du palais de Marius en 1729 L. S. Adam l’ainè de Nancy inv. et fecit 1754. Libro alquanto
raro.</div>
</span></section>