<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2430">
                  <span class="catalogo-item-label">2430.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAMPER Pierre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2430">On y a joint une dissertation physique sur les differences réelles que
    presentent les traits du visage chez les hommes de differents àges; sur le beau qui caractérise
    les statues autiques, et les pierres gravées</a></span>. Suivie de la proposition d’une nouvelle méthode
    pour dessiner toutes sortes des têtes humaines avec la plus grand sûreté, <span class="catalogo-pubPlace">Utrecht</span> <span class="catalogo-date">1791</span>, in 4,
    fig., con 10 tavole.
    Opere dottissime e interessantissime.
    
    </span></section>