<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3248">
                     <span class="catalogo-item-label">3248.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3248">ISCRIZIONE per celebrare i quinquennali di Clemente XIII sul metodo delle tavole famose di Narbona</a></span>, <div class="catalogo-note">nelle quali
                        si compendia tutta la vita di Augusto e de’ monumenti del Collegio de’ Fratelli Arvali: un foglietto, M. 23</div>.
</span></section>