<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1083">
                  <span class="catalogo-item-label">1083.</span> <span class="catalogo-bibl"><span class="catalogo-author">BERTOLDO, Bertoldino e Cacasenno</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1083">Poema in ottava rima con argomenti, allegorie,
      annotazioni e figure in rame</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1736</span>, per Lelio dalla Volpe, in 4, gr.
      <div class="catalogo-note">Le 20 tavole dei canti, e le altrettante vignette, il rame del frontispizio, e il ritratto di Cesare Croce sono intagliate
      da Lodovico Mattioli sui disegni di Giuseppe Maria Crespi detto lo Spagnuolo. La invenzione dei racconti
      giocosi fu di Giulio Cesare Croce uomo faceto e ferraio di professione e vennero messi in versi da una società di
      amici uomini di lettere fra i più rinomati del secolo. Quest’edizione si è fatta rarissima pel gusto pittoresco delle
      tavole e perché il poema giocon <span class="catalogo-pb" id="page_192">192</span> do e piecevole andando per le mani di tutti sì è logorato e disperso.</div><div id="catalogo-note-text-1083" class="catalogo-note-search-results truncate-line-clamp">Le 20 tavole dei canti, e le altrettante vignette, il rame del frontispizio, e il ritratto di Cesare Croce sono intagliate
      da Lodovico Mattioli sui disegni di Giuseppe Maria Crespi detto lo Spagnuolo. La invenzione dei racconti
      giocosi fu di Giulio Cesare Croce uomo faceto e ferraio di professione e vennero messi in versi da una società di
      amici uomini di lettere fra i più rinomati del secolo. Quest’edizione si è fatta rarissima pel gusto pittoresco delle
      tavole e perché il poema giocon <span class="catalogo-pb" id="page_192">192</span> do e piecevole andando per le mani di tutti sì è logorato e disperso.</div><a id="catalogo-note-text-toggle-1083" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>