<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4621">
                     <span class="catalogo-item-label">4621.</span> <span class="catalogo-bibl"><span class="catalogo-author">SIMONCELLI de Monte Baldovino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4621">Il Cesarino, ovvero dell’arte di cavalcare, dialogo</a></span>, 
                        <span class="catalogo-pubPlace">Mantova, Osanna</span>, <span class="catalogo-date">1625</span>, in
4 pic.
<div class="catalogo-note">Col frontespizio figurato. Questo autore avea pubblicato nel 1616 in Firenze un’altra opera intitolata l’Idea del
prelato. Questo trattato del cavalcare è piuttosto esteso da un erudito, che da un pratico cavallerizzo.</div>
</span></section>