<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1524">
                  <span class="catalogo-item-label">1524.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1524">DESCRITION du Jubilé de sept cens ans de S.Macaire celebre dans la ville de Gand</a></span>, enrichie de
    figures, <span class="catalogo-pubPlace">Gand</span> <span class="catalogo-date">1767</span>, in 4.
    <div class="catalogo-note collapse">Questo libro è stravagante, poiché in onore di questo santo protettore contro la pestilenza si dà conto degli
    spettacoli di questo Giubileo consistenti in processioni, cavalcate, trion <span class="catalogo-pb" id="page_262">262</span> fi, mascherate, opere, commedie,
    balli, fuochi ed altri esercizi; contiene quindici grandi tavole intagliate in rame.</div>
    MDCCLXIX
    
    </span></section>