<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1484">
                  <span class="catalogo-item-label">1484.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1484">DISEGNI del convito fatto dall’Illustriss. Sig. Francesco Ratta al pubblico ed anziani;

                  
                  
    
    terminando il suo gonfalonierato li 28 febb. <span class="catalogo-date">1693</span></a></span>, <span class="catalogo-pubPlace">Bologna</span>, in fol. fig. con 6 tavole.
    MDCXCIV
    
    </span></section>