<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="578">
                  <span class="catalogo-item-label">578.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">NAVONE Giovan Domenico</span> e <span class="catalogo-author">Cipriani Giovan Battista</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/578">Nuovo metodo per apprendere le teorie
	e le pratiche dell’architettura civile sopivi una nuova raccolto dei più cospicui esemplari di
	Roma, misurati, ed incisi collo annotazioni dell’Abb. Niccola Mari,</a></span> 
                     <span class="catalogo-pubPlace">Roma,</span> dai torchi di Luigi
	Perego Salvioni, Parte I, <span class="catalogo-date">1794,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 
	                 
	                 
	                 <div class="catalogo-note">La bella esecuzione dei prospetti e delle piante lascia bramare una maggiore precisione nelle tavole dei dettagli,
	che sono prodotti con qualche negligenza e in piccola forma sono in tutto 55 tavole.</div>
	
	              </section>