<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2470">
                  <span class="catalogo-item-label">2470.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2470">SCRIPTORES physiognomiae veteres ex recensione Camilli Perusci et Friderici Sylburgii
    (greco e latino)</a></span>, <span class="catalogo-pubPlace">Altemburgi</span> <span class="catalogo-date">1680</span>, in 8.
    <div class="catalogo-note collapse">Questo è corredato delle note di vari commentatori e fa parte della collezione de’ classici cum notis variorum.</div>
    
    </span></section>