<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2439">
                  <span class="catalogo-item-label">2439.</span> <span class="catalogo-bibl"><span class="catalogo-author">FUSCHII Samuelis Cuslino Pomerani</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2439">Metopo <span class="catalogo-pb" id="page_410">410</span> scopia et ophthalmoscopia</a></span>, <span class="catalogo-pubPlace">Argentina</span>
    <span class="catalogo-date">1615</span>, in 12, fig. <span class="catalogo-bibl">Vedi in Sagitari Casparis.</span>

                  
                  
    <div class="catalogo-note">Questo è uno dei più rari e ad un tempo più giudiziosi libri di fisonomia con ventisei tavole stampate fra il testo e
    incise con molta accuratezza.</div>
    
    </span></section>