<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4636">
                     <span class="catalogo-item-label">4636.</span> <span class="catalogo-bibl"><span class="catalogo-author">BONICELLI Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4636">Bibliotheca Pisanorum Veneta, adnotationibus nonnullis illustrata</a></span>, tomi 3, 
                        <span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1807</span>, in
5.
</span></section>