<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1346">
                  <span class="catalogo-item-label">1346.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROSSI G.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1346">Orazione inaugurale per l’apertura dell’Accademia Nazionale di Belle Arti in
    Bologna l’ anno <span class="catalogo-date">1804</span></a></span>, in 8.

                  
                  
    
               </span></section>