<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1998">
                  <span class="catalogo-item-label">1998.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOISSARDI Jani Jacobi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1998">Bibliotheca calcographica. Hoc est: virtute clarorum virorum
  imagines sculpt. a Theod. de Bry et ab ipsorum obitu hactenus continuatae</a></span>. <span class="catalogo-pubPlace">Heidel <span class="catalogo-pb" id="page_341">341</span>
  bergae</span>, impensis Clem. Ammoni, an. <span class="catalogo-date">1669</span>, 2 vol. in 4.<div id="catalogo-note-text-1998" class="catalogo-note truncate-line-clamp">
  Il primo volume contiene i 236 ritratti senza le vite che servirono alla Bibliotheca sive thesaurus etc. Il secondo è
  composto di quattro parti di continuazione, tav. 119, sculptore Sebastiano Furkio. In tutto sono ritratti 435, il che
  indica esuberantemente il numero delle tavole citato da’ bibliografi, i quali giudicano completo l’esemplare con
  tav. 430.</div><a id="catalogo-note-text-toggle-1998" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>