<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4102">
                    <span class="catalogo-item-label">4102.</span>
		    <span class="catalogo-bibl"><span class="catalogo-author">VALCARCEL Pio de Saboja (D. Antonio)</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/4102"> Barros Saguntinos, disertacion sobre estos monumentos antiguos</a></span>,
<span class="catalogo-pubPlace">Valencia</span> <span class="catalogo-date">1779</span>, in 8, fig., M. 71.</span></section>