<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="87">
                  <span class="catalogo-item-label">87.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BONNANI</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/87"> Traité des vernis, ou l’on donne la manière d’en composer un qui resemble
	  parfaitement à celui de la chine; et plusieurs autres,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1723,</span>
                     <span class="catalogo-extent"> in 12.</span>
                  </span>
	              </section>