<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3806">
                     <span class="catalogo-item-label">3806.</span> <span class="catalogo-bibl"><span class="catalogo-author">OVERBEKE Bonaventura</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3806">Degli avanzi dell’antica Roma. Opera postuma tradotta, ed accresciuta da Paolo Rolli</a></span>,
<span class="catalogo-pubPlace">Londra</span> <span class="catalogo-date">1739</span>, in 8.
<div class="catalogo-note">Questa è quella parte di testo, che doveva accompagnar le figure, la quale comparve alla luce avanti che Michele
d’Overbeke pubblicasse il tutto nei tre grandi volumi in foglio l’anno 1763. Col ritratto dell’autore in fronte.</div>
</span></section>