<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3480">
                     <span class="catalogo-item-label">3480.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARZONI Vittorio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3480">L’Ebe di Antonio Canova ordinata e posseduta dal c. Giuseppe Albrizzi</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1803</span>, in 8,
con varj sonetti intorno la stessa, M. 100.
</span></section>