<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2689">
                     <span class="catalogo-item-label">2689.</span> <span class="catalogo-bibl"><span class="catalogo-author">D’ORVILLE Jacobi Philippi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2689">Sicula, quibus Siciliae veteris rudera, additis antiquitatum tabu1is, illustrantur cum
Burmanno etc.</a></span>, <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1764</span>, in fol., fig.
<div id="catalogo-note-text-2689" class="catalogo-note truncate-line-clamp">Bella e accurata edizione di un’opera preziosa non tanto per le antichità che per la numismatica in 20 e
diligentissime tavole distribuita. Le altre tavole de’ monumenti copiose stanno tra le pagine del testo ai rispettivi
luoghi: esemplare in carta distinta.</div><a id="catalogo-note-text-toggle-2689" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>