<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3545">
                     <span class="catalogo-item-label">3545.</span> <span class="catalogo-bibl"><span class="catalogo-author">PREISLER Jo. Justinus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3545">Statuae antiquae ab Edmundo Bouchardon Gallo sculptore egregio Romae delineatae a se
in aes incisae</a></span>, <span class="catalogo-pubPlace">Norimbergae</span> <span class="catalogo-date">1753</span>, in fol. p.
<div id="catalogo-note-text-3545" class="catalogo-note truncate-line-clamp">Queste sono 50 statue disegnate in più piccola forma e in piccolissimi foglietti, o in quarto con un frontespizio
figurato e un medaglione al barone di Stosch, cui sono dedicate dall’incisore. Opera fatta con gusto.</div><a id="catalogo-note-text-toggle-3545" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>