<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2489">
                     <span class="catalogo-item-label">2489.</span> <span class="catalogo-bibl"><span class="catalogo-author">HANCARVILLE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2489">Recherches sur l’origine, l’esprit, et les progrès des arts de la Grece; sur leur connexion avec les
arts et la religion des plus anciens peuples connus; sur les monumens de l’Inde, de la Perse, du reste de l’Asie, de
l’Europe et de l’Egypte</a></span>, 2 vol., <span class="catalogo-pubPlace">Londres</span><span class="catalogo-date"> 1785</span>, in 4 grand. fig. avec un troisième volume intitulé: Supplément aux
recherches etc.
<div id="catalogo-note-text-2489" class="catalogo-note truncate-line-clamp">Quest’opera divenuta rarissima, la quale contiene 85 tavole di rozzo intaglio, dettata da un bizzarro e
profondissimo ingegno, rimase imperfetta, poiché sdegnatosi l’autore per le censure di alcuni giornalisti fatte ai
due primi volumi, intese di rispondere a queste col terzo del supplemento: ma divagato, od irritato non diede mai
fine a quest’opera, nella quale rimane indeciso se abbia maggior peso la profondità delle cognizioni, o prevalga
talvolta la piacevolezza dei sogni</div><a id="catalogo-note-text-toggle-2489" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>