<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1322">
                  <span class="catalogo-item-label">1322.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIORDANI Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1322">Elogio del pittor paesista Martinelli</a></span>. Discorso letto nell’Accademia di Belle
    Arti in <span class="catalogo-pubPlace">Bologna</span> l’anno <span class="catalogo-date">1809</span>, in 8.
    </span></section>