<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3888">
                     <span class="catalogo-item-label">3888.</span> <span class="catalogo-bibl"><span class="catalogo-author">SUARESII Josephi Mariae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3888">Arcus Septminii Severi <span class="catalogo-pb" id="page_221">221</span> cum explicatione anaglyphica</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1676</span>, in fol.,
figurato.
<div id="catalogo-note-text-3888" class="catalogo-note truncate-line-clamp">Le sei tavole che illustrano questo arco sono le medesime che trovansi nei veteres arcus del Bellori intagliate da
P. S. Bartoli. Il volume è composto dal frontespizio, dedica, cinque fogli di testo, e le tavole indicate.</div><a id="catalogo-note-text-toggle-3888" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>