<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2237">
                  <span class="catalogo-item-label">2237.</span> <span class="catalogo-bibl"><span class="catalogo-author">CICOGNARA Leopoldo e BARUFFALDI Girolamo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2237">Continuazione delle memorie istoriche dei
    letterati ed artisti ferraresi preceduta da un ragionamento per confutazione al quadro storico
    dell’alta Italia pubblicato dal Denina</a></span>, <span class="catalogo-pubPlace">Ferrara</span> <span class="catalogo-date">1811</span>.
    <div class="catalogo-note collapse">Le memorie sono del Baruffaldi, il ragionamento è del Cicognara.</div>
    
    </span></section>