<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="56">
                  <span class="catalogo-item-label">56.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/56">THEORIES des sentiments agreables, où après avoir indiqué les regles que la nature suit dans la
	  distribution du plaisir, on établit les principes de la theologie naturelle et ceux de la
	  philosophie morale,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1749,</span>
                     <span class="catalogo-extent"> in 12.</span>
                  </span>
	                 <div class="catalogo-note">Questo trattatello il scritto con molto gusto e criterio dal <span class="catalogo-pb" id="page_9">9</span> vescovo di Pouilly, preceduto da una prefazione di
	  M. Vernet.</div>
               </section>