<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3212">
                     <span class="catalogo-item-label">3212.</span> <span class="catalogo-bibl"><span class="catalogo-author">CUPERI Gisberti</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3212">Harpocrates sive explicatio imagunculae argenteae etc. etc. ejusdem monumenta antiqua inedita
etc. Accedit Stephani le Moine epistola de Melanophoris</a></span>, Traj. ad Rhenum <span class="catalogo-date">1687</span>, in 4, figurato.
<div class="catalogo-note collapse">Le figure stanno distribuite fra il testo.</div>
</span></section>