<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="296">
                  <span class="catalogo-item-label">296.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BOSSE A.</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/296">Recueil de figures pour apprendre a dessiner sans maître le portrait, la figure,
	l’histoire et le paysage,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span>, chez Jombert, 
                     <span class="catalogo-date">1737</span>, <span class="catalogo-extent">in 4.</span>
	                    <div class="catalogo-note collapse">Sono queste 122 stampe raccolte dall’editore da tutte le opere di Bosse e da’ suoi stessi frontispizi con studi
	elementari d’altri maestri e intagliatori, fra’ quali trovansi anche i putti e li mascheroni di Paolo Farinati
	pubblicati nell’anno precedente a Parigi: e non è se non che una miscellanea mediocre e di pochissimo uso, cui
	gli editori posero un titolo specioso per oggetto di speculazione.</div>
	                 </span>
	              </section>