<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1938">
                  <span class="catalogo-item-label">1938.</span> <span class="catalogo-bibl"><span class="catalogo-author">PITTONI Giovan Battista pittore vicentino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1938">Altro esemplare con titolo imprese nobili ed
    ingegnose etc. etc.</a></span>, in <span class="catalogo-pubPlace">Venezia</span>, presso Girolamo Porro, <span class="catalogo-date">1578</span>.
    <div class="catalogo-note collapse">Nel frontespizio non è ricordato il nome del Pittoni, ma <span class="catalogo-pb" id="page_329">329</span> nell’avviso ai lettori sta espresso dall’editore,
    che unì queste tavole ad altre di molti ingegni pellegrini, ec. Le tav. sono 72 compreso il frontespizio.</div>
    
    </span></section>