<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3433">
                     <span class="catalogo-item-label">3433.</span> <span class="catalogo-bibl"><span class="catalogo-author">PERRAULT</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3433">Le Cabinet des beaux arts ou recueil d’estampes gravées d’après les tableaux d’un plafond où les
Beaux Arts sont representés avec l’explication de ces memes tableaux</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1690</span>, in 4, obl.
<div class="catalogo-note collapse">Le 14 tavole sono intagliate dai migliori artefici di quel tempo, come Audran, Edelink, le Pautre ed altri ec. e il
testo egualmente è intagliato in rame in 42 pagine.</div>
</span></section>