<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3501">
                     <span class="catalogo-item-label">3501.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3501">ELEGANTIORES statuae antiquae in variis romanorum palatiis asservatae</a></span>, <span class="catalogo-pubPlace">Romae</span>, <span class="catalogo-date">1776</span>, ex typis Barbiellini,

                     
                     
constat tab. 42, in 4, fig.
<div class="catalogo-note">Opera di speculazione libraria inutile a chi conosce il disegno e le arti.</div><div id="catalogo-note-text-3501" class="catalogo-note-search-results truncate-line-clamp">Opera di speculazione libraria inutile a chi conosce il disegno e le arti.</div><a id="catalogo-note-text-toggle-3501" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>