<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2985">
                     <span class="catalogo-item-label">2985.</span> <span class="catalogo-bibl"><span class="catalogo-author">De’ ROSSI Giovan Gherardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2985">Lettera al sig. conte Franchi di Pont intorno a una serie di gemme intagliate antiche
e moderne</a></span>, <span class="catalogo-pubPlace">Turino</span> <span class="catalogo-date">1793</span>, in 8, M. 87.
</span></section>