<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2412">
                  <span class="catalogo-item-label">2412.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZANETTI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2412">Della pittura venezian e delle opere pubblicate dai veneziani maestri. Libri cinque,
    </a></span><span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1771</span>, in 8.<div class="catalogo-note">
    Questa è la migliore fra le opere che parlano delle pitture veneziane, e se ogni città principale possedesse un
    libro talmente disposto ed eseguito, sarebbero riuniti cosi i materiali per la miglior storia generale dell’arte.
    </div><div id="catalogo-note-text-2412" class="catalogo-note-search-results truncate-line-clamp">
    Questa è la migliore fra le opere che parlano delle pitture veneziane, e se ogni città principale possedesse un
    libro talmente disposto ed eseguito, sarebbero riuniti cosi i materiali per la miglior storia generale dell’arte.
    </div><a id="catalogo-note-text-toggle-2412" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>