<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="616">
                  <span class="catalogo-item-label">616.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">POLIPHILE</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/616">La stessa versione senza alcuna differenza dalla precedente edizione,</a></span> al fine
	imprimé pour Jacques Kerwer par Jean le Blanc 
                     <span class="catalogo-date">le 11 Julliet 1561.</span>
                  </span>
	                 <div class="catalogo-note collapse">Magnifico esemplare colle pagine lineate in rosso.</div>
	
	              </section>