<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2108">
                  <span class="catalogo-item-label">2108.</span> <span class="catalogo-bibl"><span class="catalogo-author">STEPHANI de Laune</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2108">Figura mensium cum privilegio regis</a></span>, in fol. obl.
  <div class="catalogo-note">Sono 11 tavole di questo accuratissimo intagliatore, ove espresse i dodici mesi dell’anno con i rispettivi soggetti
  allegorici. Ciascun soggetto è contornato dai simboli graziosamente intrecciati ed in una cartellina sta un distico
  relativo. La marca S. si trova nel primo. L’esemplare è di bellissima conservazione.</div>
  
  </span></section>