<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="325">
                  <span class="catalogo-item-label">325.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GENGA Bernardino</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/325">Anatomia per uso e intelligenza del disegno colle spiegazioni ed indice del
	Lancisi.</a></span> Pubblicata per uso dell’Accademia di Francia in <span class="catalogo-pubPlace">Roma,</span> 
                     per Dom. De’ Rossi, 
                     <span class="catalogo-date">1691,</span>
	opera splendidamente eseguita: aggiuntovi 8 tavole di antiche statue intagliate da S.</span>
	Thomassin ed altre quattro da Carlo Gregori. In fine: Livre de diverses figures accademiques
	dessinées d’après naturel par Edme Bouchardon sculpteur du roi, Paris 1738.
	<div class="catalogo-note collapse">Sono questi 12 disegni del nudo intagliati in grande all’acqua forte da diversi incisori con molto bel garbo</div>
	
	                 <span class="catalogo-pb" id="page_57">57</span>
	              </section>