<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="837">
                  <span class="catalogo-item-label">837.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUIDI Ubaldi e Marchionibus Montis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/837">Perspectivae libri sex</a></span>, <span class="catalogo-pubPlace">Pisauri</span>, apud Hieronymum
	Concordiam, <span class="catalogo-date">1600</span> in fol. fig.
	<div class="catalogo-note collapse">La materia è divisa in sei libri con molto inviluppo di proposizioni matematiche e poca facilità per chi voglia
	imparare la prospettiva. Molti di questi autori misero in evidenza assai più le loro cognizioni di quel che ne
	rendessero la comunicazione comoda e semplice agli artisti.</div>
	
	</span></section>