<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1819">
                  <span class="catalogo-item-label">1819.</span> <span class="catalogo-bibl"><span class="catalogo-author">VECELLIO Cesare</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1819">Habiti antichi et moderni di tutto il mondo, di nuovo accresciuti di molte
  figure. Poi nello stesso frontespizio segue il latino: Vestitus antiquorum recentiorumque totius
  orbis per Sulstatium Gratilianum Senapolensem latine declarati. In Venezia, appresso i Sessa.</a></span>
                     In fine: in <span class="catalogo-pubPlace">Venezia</span><span class="catalogo-date"> 1598</span>, in 8.
  <div class="catalogo-note">Con la dedica al Sig. Pietro Montalbano italiana e latina e i cataloghi e il testo esplicativo delle tavole latino e
  italiano, libri 12 con tavole in legno 522. Opera delle migliori che si conoscano fra le antiche di questo genere.
  La prima edizione comparve nel 1590.</div>
  
  </span></section>