<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2951">
                     <span class="catalogo-item-label">2951.</span> <span class="catalogo-bibl"><span class="catalogo-author">OGLE Georgii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2951">Gemmae antiquae celatae</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1741</span>, in 4, mag. fig. 
                        ovvero col titolo inglese or a collection of
gems whrein are explained many particulars relating to the fable and history, the coustoms and habits of the
ancients, engraved by Cl. du Bose.
<div class="catalogo-note">Questo autore ebbe il disegno di dare una nuova edizione dell’intera raccolta di Gravelle, in modo che di due
volumi venissero almeno quattro per la maggiore ampiezza delle illustrazioni che vi aggiunse, estraendo da molti
autori antichi una quantità di passi, che omise nell’originale il più sobrio commentatore. Non sono queste per
conseguenza che 50 delle 205 gemme date da Gravelle e dall’incisore inglese copiate materialmente e con tanta
esattezza da confonderle colle originali. Vedi de Gravelle.</div><div id="catalogo-note-text-2951" class="catalogo-note-search-results truncate-line-clamp">Questo autore ebbe il disegno di dare una nuova edizione dell’intera raccolta di Gravelle, in modo che di due
volumi venissero almeno quattro per la maggiore ampiezza delle illustrazioni che vi aggiunse, estraendo da molti
autori antichi una quantità di passi, che omise nell’originale il più sobrio commentatore. Non sono queste per
conseguenza che 50 delle 205 gemme date da Gravelle e dall’incisore inglese copiate materialmente e con tanta
esattezza da confonderle colle originali. Vedi de Gravelle.</div><a id="catalogo-note-text-toggle-2951" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>