<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="792">
                  <span class="catalogo-item-label">792.</span> <span class="catalogo-bibl"><span class="catalogo-author">LUCCHESE Matteo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/792">Riflessioni sulla pretesa scoperta del sopra ornato toscano esposta
	dall’autore dell’opera degli anfiteatri, e singolarmente del Veronese</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1730</span>, in 12, fig.
	<div id="catalogo-note-text-792" class="catalogo-note truncate-line-clamp">Con quattro tavole intagliate in rame, libretto pieno di dottissima critica e ottime osservazioni.</div><a id="catalogo-note-text-toggle-792" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>