<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="850">
                  <span class="catalogo-item-label">850.</span> <span class="catalogo-bibl"><span class="catalogo-author">NICERONIS Joan. Francisci</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/850">Taumaturgia opticus, seu admiranda optices, etc.</a></span>, <span class="catalogo-pubPlace">Lutetiae
	Parisiorum</span> <span class="catalogo-date">1646</span>, in fol. fig.
	<div class="catalogo-note">La versione latina dedicata al Cord. Mazarino è dell’autore medesimo. Ma può piuttosto chiamarsi opera rifusa
	che tradotta, essendo cangiata la distribuzione delle materie ed il piano con molte appendici ec. Le figure sono 87
	intagliate in rame in 42 tavole, non compreso un nuovo frontespizio figurato.</div>
	
	</span></section>