<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1427">
                  <span class="catalogo-item-label">1427.</span> <span class="catalogo-bibl"><span class="catalogo-author">STROZZI Giulio</span>. <span class="catalogo-title"><a class="catalog-link" href="/catalog/1427">Esequie fatte in Venezia dalla nazione Fiorentina al Sereniss. Cosimo II.
    quarto Gran Duca di Toscana, il dì 25 Maggio <span class="catalogo-date">1621</span></a></span>, in fol. fig.
    <div id="catalogo-note-text-1427" class="catalogo-note truncate-line-clamp">Questa descrizione fu stesa da Giulio Strozzi, e le 18 tavole vennero eseguite sui quadri e disegni di Filippo
    Esegrenio Veneziano, Agostino Verona e Matteo Ingoli da Ravenna. Aggiuntevi <span class="catalogo-title"><a class="catalog-link" href="/catalog/1427">le pompe funebri (poesie e
    ritratto) per la morte di Elena Lucrezia Cornera Piscopia</a></span>, Padova 1686, fol. figurato.</div><a id="catalogo-note-text-toggle-1427" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCXXI
    

                  
                  
    
               </span></section>