<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2032">
                  <span class="catalogo-item-label">2032.</span> <span class="catalogo-bibl"><span class="catalogo-author">FRANSONE Agostino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2032">Nobiltà di Genova all’illustre Sig. Principe Doria</a></span>, <span class="catalogo-pubPlace">Genova</span> <span class="catalogo-date">1636</span>, in fol.
  
                  
                  
  
  fig.
  <div class="catalogo-note collapse">Girolamo David intagliò il bel ritratto dell’autore, i tre frontespizi, nell’ultimo de’ quali è la veduta di Genova
  con un cartello ove si parla del quando vennero ammesse al governo le armi delle casate nobili della città di
  Genova; seguono le armi della città, indi il registro delle famiglie e 30 tavole con grandi anni in gran foglio
  intagliate dal medesimo.</div>
  
  </span></section>