<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="187">
                  <span class="catalogo-item-label">187.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">PORZIO Simone</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/187"> Trattato dei colori degli occhi, tradotto in volgare da Giovan Battista Gelli,</a></span>
	                    <span class="catalogo-pubPlace">Firenze,</span> presso il Torrentino, <span class="catalogo-date">1557,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note">Al pregio del traduttore e dell’autore s’aggiunge quello dell’editore di questo prezioso libretto; intitolato dal
	  Gelli al cardinal Gonzaga.</div><div id="catalogo-note-text-187" class="catalogo-note-search-results truncate-line-clamp">Al pregio del traduttore e dell’autore s’aggiunge quello dell’editore di questo prezioso libretto; intitolato dal
	  Gelli al cardinal Gonzaga.</div><a id="catalogo-note-text-toggle-187" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>