<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="716">
                  <span class="catalogo-item-label">716.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVII M. Pollionis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/716">De architectura libri decerti cum commentariis Danielis Barbari multis
	aedificiorum, horologiorum et machinarum descriptionibus auctis et illustratis</a></span>; apud
	Franciscum Senensem et Jo. Crugher Germanum, <span class="catalogo-date">1567</span>, in fol.
	<div class="catalogo-note">In questa edizione latina il Barbaro seguì particolarmente il testo dell’edizione del Filandro, 1552; meno alcune
	varianti nelle quali preferì l’edizione di Fra Giocondo. Le tavole sempre fra il testo sono intagliate in legno.</div><div id="catalogo-note-text-716" class="catalogo-note-search-results truncate-line-clamp">In questa edizione latina il Barbaro seguì particolarmente il testo dell’edizione del Filandro, 1552; meno alcune
	varianti nelle quali preferì l’edizione di Fra Giocondo. Le tavole sempre fra il testo sono intagliate in legno.</div><a id="catalogo-note-text-toggle-716" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>