<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3146">
                     <span class="catalogo-item-label">3146.</span> <span class="catalogo-bibl"><span class="catalogo-author">SELDENII Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3146">Marmora Arundeliana, sive saxa graece incisa etc.</a></span> <span class="catalogo-pubPlace">Londini</span> <span class="catalogo-date">1629</span>, in 4.
<div class="catalogo-note">Questa è la vera prima edizione, che dà ragione di questi marmi prima che passassero all’Università di Oxford,
appena il c. Tommaso d’Arundel li fece porre ne’ suoi giardini sulle rive del Tamigi. Vedi Mittaire e

                     
                     
Arundeliana marmora.</div>
</span></section>