<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1389">
                  <span class="catalogo-item-label">1389.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1389">La JOYEUSE et magnifique entrée de Monsigneur François fils de France et frère unique du roi
    ec. en la très renommée Ville d’Auvers</a></span>, par Chris. Plantin, F. <span class="catalogo-date">1582</span>.
    <div class="catalogo-note">Vi sono ai belle tavole intagliate, compreso il frontespizio.</div><div id="catalogo-note-text-1389" class="catalogo-note-search-results truncate-line-clamp">Vi sono ai belle tavole intagliate, compreso il frontespizio.</div><a id="catalogo-note-text-toggle-1389" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDLXXXIV
    
    </span></section>