<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3983">
                    <span class="catalogo-item-label">3983.</span>
		    <span class="catalogo-bibl"><span class="catalogo-author">De CAUS Salamone</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3983">Hortus
		    Palatinus a Friderico Rege Boemiae Electore
		    Palatino Heidelbergae extractus</a></span>, <span class="catalogo-pubPlace">Francofurti</span>, apud
		    Theod. de Brie, <span class="catalogo-date">1620</span>, in fol.</span>
		    
		    <div class="catalogo-note">Sono le 30 tavole che descrivono questo
		    luogo di delizie era ridotto un mucchio di sassi
		    per forza di guerra, e di vicende umane.</div><div id="catalogo-note-text-3983" class="catalogo-note-search-results truncate-line-clamp">Sono le 30 tavole che descrivono questo
		    luogo di delizie era ridotto un mucchio di sassi
		    per forza di guerra, e di vicende umane.</div><a id="catalogo-note-text-toggle-3983" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
		  </section>