<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2297">
                  <span class="catalogo-item-label">2297.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2297">LE giustissime lagrime della pittura e della poesia pubblicate negli apparati funebri di Pavia
    per i funerali di Luigi Scaramuccia perugino</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1681</span>, in 8.
    <div class="catalogo-note">Libretto raro a trovarsi.</div><div id="catalogo-note-text-2297" class="catalogo-note-search-results truncate-line-clamp">Libretto raro a trovarsi.</div><a id="catalogo-note-text-toggle-2297" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>