<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3396">
                     <span class="catalogo-item-label">3396.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3396">Galleria Reale di Firenze illustrata dai sigg. Zannoni, Montalvi, Bargigli e Ciampi</a></span>, incisa a contorni sotto la
direzione del sig. Pietro Benvenuti, <span class="catalogo-pubPlace">Firenze</span>, in 8.
<div id="catalogo-note-text-3396" class="catalogo-note truncate-line-clamp">Opera che si sta pubblicando. Finora sono 66 fascicoli e si continua.</div><a id="catalogo-note-text-toggle-3396" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>