<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="698">
                  <span class="catalogo-item-label">698.</span> <span class="catalogo-bibl"><span class="catalogo-author">Di L. VITRUVIO Pollione</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/698">De architectura libri dece traducti de latino in vulgare affigurati</a></span>;
	commentati et con mirando ordine insigniti: per il quale facilmente potrai trovare la
	moltitudine degli abstrusi et reconditi vocaboli a li soi loci, et in epsa tabula cum summo
	studio expositi et enucleati ad immensa utilitate de ciascuno studioso et benivolo di epsa
	opera. Cum gratia et privilegio: Gotardus de Ponte.
	<div class="catalogo-note collapse">A tergo di questo frontespizio seguono i privilegi di Leon X <span class="catalogo-pb" id="page_129">129</span> e Francesco I. Indi in sei susseguenti
	foglietti le tavole dei vocaboli e dei capitoli. Nell’ottavo foglio è l’orazione di Luigi Pirovano ai patrizi e al
	popolo di Milano, da cui si riconosce che avanti di stampare questa traduzione, fu data a rivedere ed emendare a
	Mauro Bono bergamasco, uomo in quest’arte esperto: a tergo di quest’indirizzo è la prefazione o dedica a
	Francesco re di Francia e duca di Milano, stesa da Agostino Gallo novocomense, regio Referendario in Milano.
	Dopo questi otto fogli comincia l’opera cosi Di Lucio Vitruvio Pollione, a Cesare Angusto, de Architectura
	incomenza il primo libro. Translato in vulgare. sermone commentato ed figurato do Cesare Cesariano cittadino
	mediolanense professore di architettura; con moltissime note ripiene di cognizioni in materia di arte e gran
	numero di tavole intagliate in legno, fra le quali gli antichi disegni dell’alzato e pianta del duomo di Milano.
	Continua il testo per cento ottanta tre fogli, nell’ultimo de’ quali finis. Qui finisce l’opera, preclara de L. Vitr.
	Pol. de Architectura, traducta de latino in vulgare, historiata e commentata a spese e istanzia del magnifico D.
	Augustino Gallo cittadino comense, e r. referendario ec. e del nobile D. Alvisio Pirovano patricio milanese. ec.
	ec. Impressa nell’amena et delectevole citade de Como per magistro Goiardo da Ponte citadino milanese
	nell’anno di N. S. G. Cristo 1521. 25 mensis Julii regnante il Christianissimo re di Francia Francisco Duca de
	Milano etc. tic. A tergo è il registro de’ fogli: l’ultimo foglio poi contiene la tavola degli errori e una protesta
	singolare del Gallo e del Pirovano contro il Cesariano che partì da Como, lasciando i suoi mecenati
	nell’imbroglio della stampa e della revisione, dopo consegnatoli manoscritto: ragione per cui ebbero bisogno
	dell’aiuto di Benedetto Giovio e Mauro Bono per condurre una sì laboriosa edizione.
	Gli esemplari di bella conservazione sono rari; difficilmente si conosce il più insigne di questo nostro, che
	apparteneva al Tuano.</div>
	
	</span></section>