<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2605">
                     <span class="catalogo-item-label">2605.</span> <span class="catalogo-bibl"><span class="catalogo-author">MICALI Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2605">Osservazioni sopra i monumenti antichi uniti <span class="catalogo-pb" id="page_21">21</span> all’opera intitolata: L’Italia avanti il
dominio de’ romani</a></span>. Lette in Aprile <span class="catalogo-date">1811</span> in <span class="catalogo-pubPlace">Firenze</span>.
<div id="catalogo-note-text-2605" class="catalogo-note truncate-line-clamp">Queste furono estese dal cavalier Francesco Inghirami in opposizione alle opinioni del Micali; e per ciò le diamo
qui unite.</div><a id="catalogo-note-text-toggle-2605" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>