<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="507">
                  <span class="catalogo-item-label">507.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FREART Laurent</span> seigneur de Chambrai, <span class="catalogo-title"><a class="catalog-link" href="/catalog/507">Paralelle de l’architecture antique et de la moderne,
	avec un recueil des dix principaux auteurs qui ont écrit des cinq ordres,</a></span> 
                     <span class="catalogo-pubPlace">Paris,</span> 
                     de l’imprimerie
	de Edine Martin, 
                     <span class="catalogo-date">1650,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span> 
	                 <div id="catalogo-note-text-507" class="catalogo-note truncate-line-clamp">Sonovi nel volume 40 magnifiche tavole intagliate in rame non comprese le vignette e il ritratto dell’autore in
	principio. Prima ed accuratissima edizione di un’opera insigne e preziosa per la sua esecuzione tipografica e
	calcografica, oltre le cognizioni riunite nel testo.</div><a id="catalogo-note-text-toggle-507" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>