<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3426">
                     <span class="catalogo-item-label">3426.</span> <span class="catalogo-bibl"><span class="catalogo-author">OESTERREICHER Mathias</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3426">Déscription des tableaux de la Galérie Royale, et du cabinet de Sans-Souci</a></span>, a <span class="catalogo-pubPlace">Poztdam</span>
<span class="catalogo-date">1771</span>, en 8, prima edizione.
</span></section>