<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1878">
                  <span class="catalogo-item-label">1878.</span> <span class="catalogo-bibl"><span class="catalogo-author">DAVID Virtuosus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1878">A Theod. de Bry</a></span>, <span class="catalogo-date">1644</span>, cum tab. 40, in 8, oblong.
    <div class="catalogo-note">Questa è la storia di Davide tratta dal genesi, colle spiegazioni di contro alle tavole in latino e in tedesco.</div>
    
    </span></section>