<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3095">
                     <span class="catalogo-item-label">3095.</span> <span class="catalogo-bibl"><span class="catalogo-author">APPIANI, et Amantii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3095">Inscriptiones sacrosanctae vetustatis, non illae quidem romanae sed totius fere orbis, summo
studio conquisitae</a></span>, <span class="catalogo-pubPlace">Ingolstadii</span> an. <span class="catalogo-date">1534</span>, in fol. pic., fig.
<div class="catalogo-note">Collezione accreditata e composta da un numero assai ragguardevole di monumenti intagliati in legno, con
frontespizio figurato. Fu dedicato il libro a Carlo V e molta cura posero gli editori anche nei tipi, acciò l’edizione
riescisse più splendida.</div>
</span></section>