<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2519">
                     <span class="catalogo-item-label">2519.</span> <span class="catalogo-bibl"><span class="catalogo-author">De CHAULNES M. Le Duc</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2519">Mémoire sur la veritable entrée du monument egyptien qui se trouve à quatre lieues du
Caire etc.</a></span>, <span class="catalogo-pubPlace">Rome</span> <span class="catalogo-date">1783</span>, in 4, fi., M. I.
<div class="catalogo-note">Con una tavola dimostrativa: memoria interessante per compararsi alle ulteriori verificazioni e scoperte.</div>

                     
                     
                  </span></section>