<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="223">
                  <span class="catalogo-item-label">223.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VARCHI Benedetto</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/223"> Due lezioni, nella prima di cui si dichiara un sonetto di Michel Angelo
	  Buonarroti, nell’altra si disputa sulla nobiltà della scultura e della pittura,</a></span> 
                     <span class="catalogo-pubPlace">Firenze</span>, Torrentino,
	  <span class="catalogo-date">1549</span>, <span class="catalogo-extent">in 4.</span>
                  </span>
	                 <div id="catalogo-note-text-223" class="catalogo-note truncate-line-clamp">Il Varchi indirizzò questa seconda lezione a Luca Martini, acciò trasmettendola al Buonarroti attestasse la brevità
	  del tempo che ha avuta di dettarla e gli mandasse poi copia della risposta di esso Buonarroti.</div><a id="catalogo-note-text-toggle-223" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	  
	                 
	                 
	                 
	  
	              </section>