<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4722">
                     <span class="catalogo-item-label">4722.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAROLLES M. l’abbé de Villeloin</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4722">Tableaux du temple des Muses tirez du Cabinet de Feu M. Faverean</a></span>, <span class="catalogo-pubPlace">Amst.</span>
<span class="catalogo-date">1676</span>, in 4, fig., 2 edizione.
<div class="catalogo-note collapse">Questa piccola edizione in quarto ornata di 58 tavole intagliate con molta finezza d’esecuzione è stampata con
grande eleganza, ed è la seconda edizione pubblicata dall’autore dopo la prima originale delle figure. Il testo è
prezioso per la quantità delle dottrine, esteso in 476 pagine.
È singolare che sebbene quest’edizione sia la sola in cui lo autore fa pompa delle sue dottrine, non venga citata
da de Bure, e da Brunet. Nell’edizione di Pickart accompagnata dal testo, e dalle note, non trovasi che un estratto
di questo libro, ma molto succinto.</div>
</span></section>