<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="692">
                  <span class="catalogo-item-label">692.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVII M.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/692">De architectura libri tres</a></span>. Codex membranaceus in fol.
	<div class="catalogo-note">Questo codice che non giunge se non a tutto il terzo libro è stato cominciato col massimo lusso ed eleganza,
	essendo la prima pagina interamente scritta a lettere d’oro e le due seguenti alternate in oro in lapis lazzuli e in
	porpora: tutto il resto del codice in minio e in nero, è della massima bellezza: non è però anteriore al XV secolo.
	Era nella biblioteca del Duca di Cassano.</div><div id="catalogo-note-text-692" class="catalogo-note-search-results truncate-line-clamp">Questo codice che non giunge se non a tutto il terzo libro è stato cominciato col massimo lusso ed eleganza,
	essendo la prima pagina interamente scritta a lettere d’oro e le due seguenti alternate in oro in lapis lazzuli e in
	porpora: tutto il resto del codice in minio e in nero, è della massima bellezza: non è però anteriore al XV secolo.
	Era nella biblioteca del Duca di Cassano.</div><a id="catalogo-note-text-toggle-692" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>