<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1217">
                  <span class="catalogo-item-label">1217.</span> <span class="catalogo-bibl"><span class="catalogo-author">VALLE Fra Guglielmo (della)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1217">Lettere Senesi so <span class="catalogo-pb" id="page_215">215</span> pra le Belle Arti</a></span>, <span class="catalogo-pubPlace">Venezia</span> dal <span class="catalogo-date">1782 al
    1786</span>, volumi 3.
    <div class="catalogo-note collapse">Questo frate aveva studio, dottrina, pregiudizi e pedanteria e ci vuoi gran criterio a scegliere il grano dalla
    zizzania.</div>
    
    </span></section>