<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="466">
                  <span class="catalogo-item-label">466.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CATANEO Pietro</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/466"> Aggiuntovi: Verantii Fausti siceni machinae novae rum declaratione latina,
	italica, hispanica, gallica et germanica,</a></span>
                     <span class="catalogo-pubPlace"> Venetiis,</span> cum privilegiis, sine anno et impressoris
	nomine.
	<div class="catalogo-note">Sono 49 tavole; aggiuntovi altre macchine e disegni vari.</div>
                  </span>
	
	              </section>