<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3928">
                     <span class="catalogo-item-label">3928.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALLEGRANZA P. Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3928">Spiegazione, e riflessioni sopra alcuni sacri monumenti antichi di Milano</a></span>, <span class="catalogo-pubPlace">Milano</span>
<span class="catalogo-date">1757</span>, in 4, fig.
Con 8 tavole in rame.
</span></section>