<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="218">
                  <span class="catalogo-item-label">218.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">TINGRY</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/218">Traité théorique et pratique sur l’art de faire et d’appliquer les vernis,</a></span> 
                     <span class="catalogo-pubPlace">Géneve</span> 
                     <span class="catalogo-date">1803</span>, <span class="catalogo-extent">2
	  vol., in 8, fig.</span>
                  </span>
	                 <div class="catalogo-note">Questa è un’ottima opera in questo genere.</div><div id="catalogo-note-text-218" class="catalogo-note-search-results truncate-line-clamp">Questa è un’ottima opera in questo genere.</div><a id="catalogo-note-text-toggle-218" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>