<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1781">
                  <span class="catalogo-item-label">1781.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROCCHEGGIANI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1781">Raccolta di centotav. rappresentanti i costumi religiosi, civili e militari degli
  antichi Egiziani, Etruschi, Greci e Romani tratti dai monumenti</a></span>, <span class="catalogo-pubPlace">Roma</span>, in fol. obl.
  <div class="catalogo-note">Opera sufficentemente intagliata ed utilissima più d’ogni altra per gli artisti, stante la fedeltà dei disegni.</div>
  
  </span></section>