<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3557">
                     <span class="catalogo-item-label">3557.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3557">SPECIMEN of the ancient sculpture selected from different collections in Great Britain, by the society of dilettanti</a></span>,
<span class="catalogo-pubPlace">London</span>, trés gr. in fol., fig., vol. 1.
<div class="catalogo-note collapse">Questa è la più bella e sontuosa opera finora pubblicata dagli inglesi in materia di antichità da loro ben
conservate, ove si illustrano dottamente opere di scultura in marmo e in bronzo inedite. Il lusso tipografico è
all’estremo e le tavole in numero di 75 sono anche troppo finamente intagliate.</div>
</span></section>