<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2666">
                     <span class="catalogo-item-label">2666.</span> <span class="catalogo-bibl"><span class="catalogo-author">CORSINUS Eduardus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2666">Herculis quies, et expiatio in eximio Farnesiano marmore expressa</a></span>, in fol., fig., M. 82.
<div id="catalogo-note-text-2666" class="catalogo-note truncate-line-clamp">In principio è la tavola in rame del monumento. La grand’opera di quest’autore è la prima qui sopra citata notae
Graecorum che deve essergli costata una fatica straordinaria ed ha grandemente per questa ben meritato della
Repubblica Letteraria.</div><a id="catalogo-note-text-toggle-2666" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>