<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3378">
                     <span class="catalogo-item-label">3378.</span> <span class="catalogo-bibl"><span class="catalogo-author">DAULLE Jean</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3378">Oeuvre. Recueil de 84 estampes gravées d’aprés les tableaux des plus grands peintres italiens,
flamands, et français tirés des plus célebres cabinets de Paris</a></span>: sans date, chez la Veuve Daullé a <span class="catalogo-pubPlace">Paris</span>, in fol., atl.
<div class="catalogo-note">Questo nostro esemplare ricco di quattro tavole, oltre il numero annunciato nel frontespizio, contiene le più
scelte prove e rende un’idea del merito dell’autore, che forse non è pregiato al grado che merita d’esserlo per la
bellezza e la varietà del suo taglio.</div><div id="catalogo-note-text-3378" class="catalogo-note-search-results truncate-line-clamp">Questo nostro esemplare ricco di quattro tavole, oltre il numero annunciato nel frontespizio, contiene le più
scelte prove e rende un’idea del merito dell’autore, che forse non è pregiato al grado che merita d’esserlo per la
bellezza e la varietà del suo taglio.</div><a id="catalogo-note-text-toggle-3378" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>