<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="16">
                  <span class="catalogo-item-label">16.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BUCHNERO (Andr. Eliæ)</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/16">De praeservandis artificum et opificum morbis.
	  Dissertatio inauguralis medica,</a></span> 
                     <span class="catalogo-pubPlace">Halæ Magdeb.</span> 
                     <span class="catalogo-date">1745,</span> 
                     <span class="catalogo-extent">M. 45.</span>
                  </span>
               </section>