<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4453">
                        <span class="catalogo-item-label">4453.</span> <span class="catalogo-bibl"><span class="catalogo-author">JOULAIN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4453">Catalogue des tableaux à l’huile, guache, et pastelle du Cabinet de M. Huquier grâveur</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1772</span>, in
12, coi prezzi.
</span></section>