<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="914">
                  <span class="catalogo-item-label">914.</span> <span class="catalogo-bibl"><span class="catalogo-author">De la FAYE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/914">Mémoire pour servir de suite aux recherches sur la préparation que les Romains
      donnoient à la chaux</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1778</span>, en 8.
      </span></section>