<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1219">
                  <span class="catalogo-item-label">1219.</span> <span class="catalogo-bibl"><span class="catalogo-author">De’ VEGNI D. Leonardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1219">Lettere al Signor Avvoc. Carlo Fea, tratte dall’Antologia Romana
    nel <span class="catalogo-date">1794</span></a></span> (Si estendono queste sulla metereologia e sui lavori di figulina).
    — <span class="catalogo-title"><a class="catalog-link" href="/catalog/1219">Note al parere della pittura delle volte del Sig. Giuseppe Manetti: dalla stessa Antologia</a></span>,
    <span class="catalogo-date">1796</span>, in 4, M. 62.
    </span></section>