<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3162">
                     <span class="catalogo-item-label">3162.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALIGERI Francisci Dantis III filii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3162">Dialogus alter de antiquitatibus Valentinis ex eod. memb. sec. XVI </a></span> nunc
primum in lucem editus a Jo. Cristoph. Amadutio, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1773</span>, in 8, M. 61.
</span></section>