<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3964">
                     <span class="catalogo-item-label">3964.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOSSI Louis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3964">Liste des principaux objets de sciences, et d’arts, recueillis en Italie par les commissaires du
gouvernement français</a></span>, <span class="catalogo-pubPlace">Vénise</span> <span class="catalogo-date">1797</span>, M. 81.
<div class="catalogo-note">Questo esemplare in foglio è in tutta la sua autenticità; poiché contrassegnato dalla mano dell’autore come
aggiunto ai commissari francesi in quello spoglio: sono unite in fine alcune patere del Museo Borgiano di
Velletri.</div>
</span></section>