<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2285">
                  <span class="catalogo-item-label">2285.</span> <span class="catalogo-bibl"><span class="catalogo-author">HARMES Antoine Fédéric</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2285">Tables historiques, et <span class="catalogo-pb" id="page_389">389</span> chronologiques des plus fameux
    peintres anciens et modernes</a></span>, <span class="catalogo-pubPlace">Bronswich</span> <span class="catalogo-date">1742</span>, in fol. M. 91.
    <div id="catalogo-note-text-2285" class="catalogo-note truncate-line-clamp">Libro giudiziosamente invaginato, sul cui modello potrebbe farsi qualche opera di maggior esattezza e più estesa.</div><a id="catalogo-note-text-toggle-2285" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>