<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1467">
                  <span class="catalogo-item-label">1467.</span> <span class="catalogo-bibl"><span class="catalogo-author">FONTANA Carlo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1467">Lettera in risposta al Sig. Ottavio Castiglioni</a></span>, in cui racconta il nobilissimo
    rinfresco dato dai Cardinal Chigi alla Sig. D. Caterina Rospigliosi e altri principi e
    principesse, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1668</span>, in 4, fig.
    <div class="catalogo-note collapse">Con 6 tavole in tutto foglio intagliate da P. S. Bartoli.</div>
    MDCLXX
    
    </span></section>