<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1652">
                  <span class="catalogo-item-label">1652.</span> <span class="catalogo-bibl"><span class="catalogo-author">FICORONI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1652">Le maschere sceniche e le figure comiche, di’ antichi Romani
    brevemente descritte</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1736</span>, in 4, fig.
    <div class="catalogo-note">Con 84 tavole in rame. Opera che in questa materia può ritenersi per la più classica e copiosa di quante l’hanno
    preceduta e seguitata. Ma fatalmente il povero autore cadde in mano di cattivi disegnatori e peggiori intagliatori
    per le tavole che deturpano un’opera cosi distinta.
    </div>
    </span></section>