<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3855">
                     <span class="catalogo-item-label">3855.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3855">ROMA antica, e moderna; ossia nuova descrizione di tutti gli antichi edifici moderni, sacri, e profani con 200 e più
figure in rame; il tutto cavato dal Baronio, Bosso, Nardini, Grevio, ed altri classici autori</a></span>, presso Roisecco,
<span class="catalogo-pubPlace">Roma</span>, <span class="catalogo-date">1765</span>, vol. 3, fig.
<div id="catalogo-note-text-3855" class="catalogo-note truncate-line-clamp">Quest’opera serve notabilmente a chi non sia fornito degli autori da cui furono tratte le notizie, ed è bastevole per
dare un’idea generale delle cose romane. Questa è la terza e più ampia edizione, le precedenti essendo apparse
nel 1745 e 1750.</div><a id="catalogo-note-text-toggle-3855" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>