<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1271">
                  <span class="catalogo-item-label">1271.</span> <span class="catalogo-bibl"><span class="catalogo-author">MELLINI Domenico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1271">Ricordi intorno ai costumi azioni e governo del Serenissimo Gran Duca
    Cosimo Primo, scritti di commissione della Sereniss. Maria Cristina di Lorena, ora per la
    prima volta pubblicati con illustrazioni</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1820</span>, in 8, M. 80.
    <div class="catalogo-note">Il Canonico Moreni pubblicò questi scritti e ne intitolò al Vermiglioli l’edizione. Si parla in questi di molti artisti
    di quell’età e delle loro opere ed altri aneddoti relativi alle arti.</div>

                  
                  
    
               </span></section>