<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1263">
                  <span class="catalogo-item-label">1263.</span> <span class="catalogo-bibl"><span class="catalogo-author">FRANCESCONI Daniele</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1263">Illustrazione di un’urnetta, lavorata d’oro e dì vari altri metalli
    all’agemina</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1800</span>, in 8, fig.
    <div class="catalogo-note collapse">Con tre tavole diligentissime.</div>
    
    </span></section>