<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4378">
                        <span class="catalogo-item-label">4378.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4378">Il RITRATTO, ovvero le cose più notabili di Venezia diviso in due parti, ampliato colla relazione delle fabbriche
pubbliche, e private dal 1682 al 1704</a></span>, da D. L. G. S. U., <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1705</span>, in 12.

                        
                        

                     </span></section>