<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2724">
                     <span class="catalogo-item-label">2724.</span> <span class="catalogo-bibl"><span class="catalogo-author">ACAMI Giacomo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2724">Dell’origine ed antichità della Zecca Pontificia</a></span>. Dissertazione, fig., <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1752</span>, in 4, M. 4.
                        <div class="catalogo-note">Con tre tavole di monete intagliate in legno</div>.
</span></section>