<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1881">
                  <span class="catalogo-item-label">1881.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1881">DÉVISES et emblémes curieux, anciens et modernes tirées des plus celebres auteurs,
    nouvellement inventées</a></span>. En italien, en français, en latin et en allemand, <span class="catalogo-pubPlace">Augspurg</span> <span class="catalogo-date">1702</span>, in 4.
    <div class="catalogo-note">Sonovi 51 tavole, nella maggior parte delle quali stanno 15 imprese per ciascheduna di mediocre intaglio.</div>
    
    </span></section>