<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1962">
                  <span class="catalogo-item-label">1962.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1962">SYMBOLA divina et humana pontificalis</a></span>, imperatorum, regum, tomo I, <span class="catalogo-date">1601</span>.
    — <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1962">Symbola varia diversorum principum</a></span>, t. secondo, <span class="catalogo-date">1602</span>, e il terzo tomo <span class="catalogo-date">1603</span>, in fol.</span>
    <div class="catalogo-note collapse">Anselmo di Bordt compose le illustrazioni del 3 volume; ed Egidio Sadeler intagliò le numerosissime tavole di
    quest’opera legata in un solo volume.</div>
    
    </span></section>