<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3541">
                     <span class="catalogo-item-label">3541.</span> <span class="catalogo-bibl"><span class="catalogo-author">PIMBIOLO Francesco</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3541"> Pel monumento inalzato ad Alfieri in Firenze da Antonio Canova</a></span>. Ode con annotazioni,
<span class="catalogo-pubPlace">Firenze</span>, in 8, M. 101.

                     
                     

                  </span></section>