<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="778">
                  <span class="catalogo-item-label">778.</span> <span class="catalogo-bibl"><span class="catalogo-author">RIGHINI Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/778">Opere Teatrali: italiano e tedesco</a></span>: fig. in fol. oblon., <span class="catalogo-pubPlace">Ausburg</span> senz’anno.
	<div class="catalogo-note collapse">Questo volume sullo stile delle opere di Bibiena intagliato da Martino Eugelbrecth contiene, oltre le vedute
	teatrali, anche alcuni paesi e marine ed altre stampe fino al numero di 34 fogli compreso il frontespizio.</div>
	
	</span></section>