<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="994">
                  <span class="catalogo-item-label">994.</span> <span class="catalogo-bibl"><span class="catalogo-author">MICHEL M.</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/994">La peinture, Poéme couronné aux Jeux Floraux le 3 Mai 1767</a></span>. Par M. Michel
      d’Avignon, ecolier de rhétorique et de l’Academie du College de l’Oratoire, à <span class="catalogo-pubPlace">Lyon</span>, de
      
                  
                  
      
      l’imprimerier d’Aimé de la Roche, <span class="catalogo-date">1767</span>, in 4.
      <div class="catalogo-note collapse">Breve componimento di poche pagine.</div>
      
      <span class="catalogo-pb" id="page_180">180</span>
               </span></section>