<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2991">
                     <span class="catalogo-item-label">2991.</span> <span class="catalogo-bibl"><span class="catalogo-author">RUDIL de Berriae Huberti</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2991">Monumentorum galaticorum synopsis, sive ad inscriptiones et numismata quae ad res
galaticas spectant breves conjecturae</a></span>, <span class="catalogo-pubPlace">Liburni</span> <span class="catalogo-date">1772</span>, in 4, M. 8.
<div id="catalogo-note-text-2991" class="catalogo-note truncate-line-clamp">È singolare il modo con cui quest’autore rimanda i suoi <span class="catalogo-pb" id="page_82">82</span> lettori ad una quantità di opere numismatiche
citando il numero e la pagina, per non far intagliare a sue spese quelle poche medaglie che servivano ad illustrare
i1 suo libro.</div><a id="catalogo-note-text-toggle-2991" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>