<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2948">
                     <span class="catalogo-item-label">2948.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2948">De NUMISMATIS veteris potentia, et qualitate, lucubratio sive cognitio totius rei nummariae</a></span></span>.
—<span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/2948">Accedit dissertatio juridica de nummo unico cum multis aliis cognitioni nummorum conducentibus</a></span>, <span class="catalogo-pubPlace">Lipsiae</span>

                     
                     
<span class="catalogo-date">1701</span>, in 4.
<div class="catalogo-note">Nel principio è una gran tavola ove fra altre medaglie è quella di Danimarca del 1677 che ritiensi per la più
grande d’Europa. La materia è indicata al lungo del margine del testo con brevi cenni e l’opera abbraccia ogni
genere di erudizione relativa a questo studio.</div></span>
</section>