<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3377">
                     <span class="catalogo-item-label">3377.</span> <span class="catalogo-bibl"><span class="catalogo-author">CIGNANI Caroli </span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3377">bononiensis, Monochromata aere expressa ab Jo. Mich. Liotard genevensi</a></span>, <span class="catalogo-pubPlace">Venetiis</span>, ap. Jo. B.
Pasquali, <span class="catalogo-date">1743</span>, in fol. max.
<div class="catalogo-note">Sono sette grandi tavole, alle quali va aggiunto il ritratto dell’autore.</div>
CROZAT, Gabinetto. Vedi Recueil.
</span></section>