<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4656">
                     <span class="catalogo-item-label">4656.</span> <span class="catalogo-bibl"><span class="catalogo-author">LUCA (de) D. Tommaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4656">Catalogo d’una pregievole collezione di manoscritti, e di libri a stampa delle più
ricercate edizioni</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1816</span>, in 4.
</span></section>