<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4084">
                     <span class="catalogo-item-label">4084.</span> <span class="catalogo-bibl"><span class="catalogo-author">RUBENS Pietro Paolo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4084">Palazzi di Genova</a></span>, colla data di <span class="catalogo-pubPlace">Anversa</span> <span class="catalogo-date">1622</span>, in fol., fig.
<div id="catalogo-note-text-4084" class="catalogo-note truncate-line-clamp">Questa prima edizione non contiene che 72 tavole formanti la prima parte di quest’opera di fresca e nitidissima
impressione.</div><a id="catalogo-note-text-toggle-4084" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>