<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="774">
                  <span class="catalogo-item-label">774.</span> <span class="catalogo-bibl"><span class="catalogo-author">QUARENGHI Jacques</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/774">Théatre de l’Hermitage de S. M. l’Imperatrice de toutes les Russies</a></span>,
	<span class="catalogo-pubPlace">Petersbourg</span> <span class="catalogo-date">1787</span>, in fol. max.
	<div class="catalogo-note collapse">Il volume è composto da 7 tavole, un foglio di illustrazione, la dedica all’imperatrice e il frontespizio.
	L’invenzione di questo sommo architetto è tratta dall’antico e dal moderno componendo una terza specie
	aggradevole e conveniente.</div>
	
	                 
	                 
	
	              </span></section>