<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1011">
                  <span class="catalogo-item-label">1011.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOSSI Michelangelo Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1011">A Giuseppe Zanoja architetto e poeta epistola</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1810</span>,
      in 8, M. 46. 69. 71.
      </span></section>