<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="602">
                  <span class="catalogo-item-label">602.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">Le PAUTRE Jean</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/602">Oeuvres d’Architecture</a></span> 
                     <span class="catalogo-pubPlace">à Paris,</span> 
                     chez Jean Mariette, 
                     <span class="catalogo-extent">in fol., 3 vol. fig.</span>
                  </span>
	              </section>