<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="509">
                  <span class="catalogo-item-label">509.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FREART Laurent</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/509">Le même parallele,</a></span> 
                     <span class="catalogo-pubPlace">Paris,</span> 
                     chez Jombert, seconde édition, <span class="catalogo-date">sans date, </span>
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Quantunque questa ristampa porti il titolo di seconda edizione, come la precedente, questa è in realtà una terza
	edizione ristampata molto dopo quella in cui il nome dell’editore Jombert va unito a quello di Barbou.
	Rimarcatisi in essa gli stessi difetti della precedente. Le due edizioni che hanno un raro pregio sono la prima,
	divenuta rarissima, e l’altra del 1702 che segue.</div><div id="catalogo-note-text-509" class="catalogo-note-search-results truncate-line-clamp">Quantunque questa ristampa porti il titolo di seconda edizione, come la precedente, questa è in realtà una terza
	edizione ristampata molto dopo quella in cui il nome dell’editore Jombert va unito a quello di Barbou.
	Rimarcatisi in essa gli stessi difetti della precedente. Le due edizioni che hanno un raro pregio sono la prima,
	divenuta rarissima, e l’altra del 1702 che segue.</div><a id="catalogo-note-text-toggle-509" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>