<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4671">
                     <span class="catalogo-item-label">4671.</span> <span class="catalogo-bibl"><span class="catalogo-author">ARDITO Michele</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4671">La Epifania degli Dei degli antichi, lettere a D. Xaverio Mattei</a></span>, colle risposte dello stesso,
<span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1788</span>, in 8, M. 44.
<div class="catalogo-note">Sono presso che tutti punti di questioni bibliche.</div>
</span></section>