<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1980">
                  <span class="catalogo-item-label">1980.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALBIZII Ant. principum christianorum</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1980">Stemmata collectacum brevibus eiusdem adnotat.
    opera et impensis Dominici Custodis seri incisa</a></span>, <span class="catalogo-pubPlace">Aug. Vind.</span> <span class="catalogo-date">1612</span>, editio 2 nunc auctior et
    emendatiors.<div class="catalogo-note">
    Sonovi 46 tavole oltre il frontespizio figurato e molte vignette. Col ritratto dell’autore in principio.</div>
    
    </span></section>