<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2190">
                  <span class="catalogo-item-label">2190.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAGLIONE Giovanni Romano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2190">Le vite de’ pittori, scultori, architetti del Pontificato di
    Gregorio XIII, 1572 fino al 1642</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1642</span>, in 4.
    <div class="catalogo-note collapse">Con frontespizio allegorico disegnato dall’autore e il suo ritratto in abito di Cavaliere di Cristo.</div>
    
    </span></section>