<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4491">
                        <span class="catalogo-item-label">4491.</span> <span class="catalogo-bibl"><span class="catalogo-author">Le BRUN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4491">Catalogue d’une belle colléction de tableaux des écoles d’Italie, Flandre etc. provenant de differentes
cabinets</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1782</span>, in 8.
</span></section>