<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4127">
                    <span class="catalogo-item-label">4127.</span>
		    <span class="catalogo-bibl"><span class="catalogo-author">XIMENES Andres</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4127">Descripcion del Real Monastero de S. Lorenzo de l’Escorial</a></span>, <span class="catalogo-pubPlace">Madrid</span> <span class="catalogo-date">1764</span>, in fol. pic., fig.</span>
		    <div id="catalogo-note-text-4127" class="catalogo-note truncate-line-clamp">Con 18 grandi tavole intagliate in rame: l’edificio è ampollosamente e minutamente illustrato.</div><a id="catalogo-note-text-toggle-4127" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
		  </section>