<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2597">
                     <span class="catalogo-item-label">2597.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2597">LETTERA di un socio etrusco ad un altro della stessa Accademia e cooperatore al Giornale dei Letterati sopra
alcuni scarabei trovati in Valdichiana</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1805</span>, in 8, fig., M. 54.
</span></section>