<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2336">
                  <span class="catalogo-item-label">2336.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2336">NOTIZIE patrie spettanti alle arti del disegno</a></span>, <span class="catalogo-pubPlace">Torino</span> <span class="catalogo-date">1792</span>, libretto di 11 pagine in 8.
    <span class="catalogo-pb" id="page_396">396</span>— <span class="catalogo-bibl">Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/2336">Elogio del Molinari</a></span>. <span class="catalogo-pubPlace">Torino</span> <span class="catalogo-date">1793</span>, altro opuscolo di 14 pagine.
    <div class="catalogo-note collapse">Crediamo che il dotto Baron Vernazza ne sia l’autore.</div></span>
    
    </span></section>