<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3953">
                     <span class="catalogo-item-label">3953.</span> <span class="catalogo-bibl"><span class="catalogo-author">BERGIER Nicolas</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3953">Le dessein de l’histoire de Reims avec diverses curieuses remarques touchant l’establissement
des peuples et la fondation des villes de France</a></span>, a <span class="catalogo-pubPlace">Reims</span> <span class="catalogo-date">1635</span>.
<div class="catalogo-note collapse">Sonovi 5 tavole intagliate in rame, e l’opera è estesa con infinita critica, e buon tatto.</div>
</span></section>