<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2374">
                  <span class="catalogo-item-label">2374.</span> <span class="catalogo-bibl"><span class="catalogo-author">TARSIA Giovanni Maria</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2374">Orazione o vero discorso fatto nell’esequie del divino Michelangelo
    Buonarroti con alcuni sonetti e prose latine e volgari di diversi, circa il disparere occorso tra
    gli scultori e pittori</a></span>, in <span class="catalogo-pubPlace">Fiorenza</span>, appresso Bartolomeo Sermartelli, <span class="catalogo-date">1564</span>, in 4, p.
    <div id="catalogo-note-text-2374" class="catalogo-note truncate-line-clamp">I dispareri furono intorno la preminenza tra la scultura e la pittura. Libretto assai raro come lo divennero tutti
    questi di esequie, in onore d’uomini sommi, che non si ristamparono.
    </div><a id="catalogo-note-text-toggle-2374" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>