<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1579">
                  <span class="catalogo-item-label">1579.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAYFII Lazari</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1579">De re navali, de re vestiaria et de vasculis antiquorum</a></span>: Addito Antonii Thylesii
    libellus de coloribus, <span class="catalogo-pubPlace">Parisiis</span> <span class="catalogo-date">1563</span>, in 4, fig., ex officina Rob. Stephani.
    <div class="catalogo-note collapse">Le molte tavole in legno di bella esecuzione fraposte al testo rendono chiara l’intelligenza di queste ottime opere.</div>
    
    </span></section>