<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="92">
                  <span class="catalogo-item-label">92.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BOWYER</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/92"> Origin of printing in two essays,</a></span>
                     <span class="catalogo-date"> 1786,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note">Non era qui il luogo di inserire quellre due belle dissertazioni eruditissime pubblicate da questo editore, l’una di
	  Middleton, l’altra di Meennan. Ma non le abbiamo traslocate per cagione del seguito dei numeri.</div><div id="catalogo-note-text-92" class="catalogo-note-search-results truncate-line-clamp">Non era qui il luogo di inserire quellre due belle dissertazioni eruditissime pubblicate da questo editore, l’una di
	  Middleton, l’altra di Meennan. Ma non le abbiamo traslocate per cagione del seguito dei numeri.</div><a id="catalogo-note-text-toggle-92" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>