<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2863">
                     <span class="catalogo-item-label">2863.</span> <span class="catalogo-bibl"><span class="catalogo-author">GOLTZII Huberti Herbipolitae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2863">Thesaurus rei antiquariae uberrimus, ex antiquis tam numismatum, quam
                        marmorum inscriptionibus conquisitus, et in locos communes distributus, Antuerpiae Plant</a></span>.<span class="catalogo-date"> 1579</span>, in 4.
</span></section>