<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="926">
                  <span class="catalogo-item-label">926.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUIDI Ubaldi e Marchionibus Montis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/926">Mecanicorum liber</a></span>, <span class="catalogo-pubPlace">Venetiis</span>, apud Evangelista
      Deuchinum, <span class="catalogo-date">1615</span>, in fol. fig.
      <div id="catalogo-note-text-926" class="catalogo-note truncate-line-clamp">Le tavole sono in legno frapposte al testo.</div><a id="catalogo-note-text-toggle-926" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>