<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1397">
                  <span class="catalogo-item-label">1397.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUALTEROTTI Raffaelle</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1397">Descrizione del regale apparato fatto in Firenze per le nozze del
    Gran Duca di Toscana e di Madama Cristina di Lorena sua moglie</a></span>, nella quale si descrivono

                  
                  
    
    istorie antiche e moderne, molto curiose da intendere, <span class="catalogo-pubPlace">Mantova</span>, per Francesco Osanna, <span class="catalogo-date">1589</span>,
    in 8. Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1397">La Descrizione dell’apparato e degli intermedi tatti per la commedia
    rappresentata in Firenze in tale occasione, estesa da Bastiano dei Rossi</a></span>, <span class="catalogo-pubPlace">Mantova</span> <span class="catalogo-date">1589</span>.
    MDXCI
    
    </span></section>