<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3957">
                     <span class="catalogo-item-label">3957.</span> <span class="catalogo-bibl"><span class="catalogo-author">BETUSSI M. Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3957">Ragionamento sopra il Catajo, luogo dello illust. signor Pio Enea degli Obizzi</a></span>, <span class="catalogo-pubPlace">Padova</span>, per
Lor. Pasquati, <span class="catalogo-date">1573</span>, in 4, l’edizione è bella in gran caratteri corsivi.
</span></section>