<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="116">
                  <span class="catalogo-item-label">116.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DONI Anton-Francesco</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/116"> Le pitture. Trattato I consecrato agl’illustrissimi sigg. Accademici
	  Eterei,</a></span> 
                     <span class="catalogo-pubPlace">Padova </span>
                     <span class="catalogo-date">1564,</span>
                      presso Grazioso Perchacino,
                     <span class="catalogo-extent"> in 4 p.</span>
                  </span>
	                 <div class="catalogo-note collapse">Questa è la stessa edizione che trovasi unita ai Marmi stampati nel 1552 in Venezia dal
	  Marcolini: e non avvi altra diversità che il frontespizio mutato e che questo esemplare finisce
	  col primo trattato.</div>
	              </section>