<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3734">
                     <span class="catalogo-item-label">3734.</span> <span class="catalogo-bibl"><span class="catalogo-author">FONTANA</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3734">Discorso sopra le cause delle inondazioni del Tevere antiche e moderne a danno di Rom</a></span>a, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1694</span>,
in 4, fig., M. 5, con 3 grandi tavole in rame.
</span></section>