<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2093">
                  <span class="catalogo-item-label">2093.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2093">REPÉRTOIRE des artistes, ou recueil de diverses pieces modernes d’architecture et nouvelles
  inventions de portes, cheminées, ornemens et autres</a></span>, <span class="catalogo-pubPlace">Paris</span>, chez <span class="catalogo-pubPlace">Jombert</span>, <span class="catalogo-date">1764</span>, in fol. fig., 2
  vol.</span>
  <div class="catalogo-note collapse">Opera copiosissima di buone e di mediocri produzioni riunite dalle tavole, che avevano servito ad una quantità di
  libri d’arte in ogni maniera. Dovunque i librai fecero queste speculazioni e in Francia vi riuscirono con profitto
  Jombert, e Manette, che ebbero più buon gusto degli altri. Si trovano in questi volumi le invenzioni di Le Pautre,
  
                  
                  
  di Cottard, Courtonne, Mansard, Marot, Bullet, le Roux, Cottel, Ducerceau, Zuccaro, Raffaele, Primaticcio,
  Testelin, Abr. Bosse, Callot, Le Blond, e molti altri, de’ quali tutti nel primo volume è parlato diffusamente: in
  tutto 688 tavole.</div>
	       </section>