<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="395">
                  <span class="catalogo-item-label">395.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALDRICH Henry</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/395">The elements of civil architecture according to Vitruvuis and other ancients
	and the most approved practice of modern authores especially Palladio,</a></span> 
                     <span class="catalogo-pubPlace">Oxford</span> 
                     <span class="catalogo-date">1789,</span>
                     <span class="catalogo-extent"> in 4.</span>
	Translated by Phil. Smyth., etc.</span>
	                 <div id="catalogo-note-text-395" class="catalogo-note truncate-line-clamp">Settantasei pagine sono occupate da un’introduzione del traduttore. L’opera è divisa in due parti, arricchite di 55
	tavole, piene di monumenti antichi, e moderni. In fine è prodotto il testo originale latino dell’amore, il quale
	occupa sole 54 pagine.</div><a id="catalogo-note-text-toggle-395" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>