<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1379">
                  <span class="catalogo-item-label">1379.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1379">RAGIONAMENTO sopra le pompe della città di Bologna</a></span>, nel quale si discorre sopra le feste, i
    banchetti, i corsi pubblici di detta città, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1568</span>, in 4.
    <div id="catalogo-note-text-1379" class="catalogo-note truncate-line-clamp">Questo riguarda alcune disposizioni suntuarie ed è ripieno di una quantità di curiose nozioni.</div><a id="catalogo-note-text-toggle-1379" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDLXVIII
    
    </span></section>