<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4264">
                        <span class="catalogo-item-label">4264.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4264">DESCRIZIONE (breve) di Napoli, e de’ suoi contorni da servire di appendice alla descrizione geografica, e politica
delle Sicilie</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1803</span>, in 8.
<div class="catalogo-note">Questo è forse il più comodo, sicuro, e utile libro pel forestiere.</div>
</span></section>