<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1278">
                  <span class="catalogo-item-label">1278.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1278">RECUEIL des descriptions des peintures et d’autres ouvrages faites pour le roy avec les
    portraits du roy et de la reine: Les tapisseries du roy, la relation de la feste de Versailles du 18
    Juillet 1668</a></span>. Les descriptions du chateaux et de la grotte de Versaiiles et le songe de
    Philomethe, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1689</span>, chez Cramoisy, in 12.
    </span></section>