<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2569">
                     <span class="catalogo-item-label">2569.</span> <span class="catalogo-bibl"><span class="catalogo-author">DEMPSTERI Thomae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2569">De Etruria regali libri VII nunc primum editi</a></span>. Curante Thoma Coke Magnae Brit. armigero,
<span class="catalogo-pubPlace">Florentiae</span> <span class="catalogo-date">1724</span>, vol. 2, in fol., fig.
<div class="catalogo-note collapse">Con 92 tavole e col ritratto di Cosimo III in principio.</div>
</span></section>