<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3731">
                     <span class="catalogo-item-label">3731.</span> <span class="catalogo-bibl"><span class="catalogo-author">FONTANA Carlo </span> cav. architetto, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3731">Il tempio Vaticano, e sua origine, descritto</a></span>. Opera divisa in sette libri, colla
versione latina a fronte del testo, di Giovan Giuseppe Bonnerüe de S. Romain, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1694</span>, in fol., fig.
<div class="catalogo-note">Questa grande, e magnifica opera divisa con bella ordinanza, e ricca di numerose, e grandi tavole di bel disegno, e
nitido intaglio, per opera di Alessandro Specchi che incideva assai bene le cose di questo genere, è la più completa
che abbiasi intorno la storia, e la costruzione di questo sommo <span class="catalogo-pb" id="page_193">193</span> edificio. L’edizione non poteva essere più
nobile, ed accurata.</div>
</span></section>