<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3234">
                     <span class="catalogo-item-label">3234.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUARNIERI Ottoni Aurelio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3234">Dissertazione intorno al corso dell’antica via Claudia dalla città d’Altino sino al
                        Danubio</a></span>,<span class="catalogo-pubPlace"> Bassano</span><span class="catalogo-date"> 1789</span>, in 4, fig., M. 9.
                        <div class="catalogo-note collapse">Opera postuma con due grandi tavole e piena di laboriosa erudizione</div>.
</span></section>