<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2978">
                     <span class="catalogo-item-label">2978.</span> <span class="catalogo-bibl"><span class="catalogo-author">RAINSSANT</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2978">Dissértation sur douze médailles des <span class="catalogo-pb" id="page_80">80</span> 
                        jeux séculaires de l’empereur Domitien</a></span>, <span class="catalogo-pubPlace">Versailles</span> <span class="catalogo-date">1684</span>,
in 4, fig.
<div class="catalogo-note">Quest’opera è stampata con tutta l’eleganza dei tipi e le medaglie nitidamente intagliate sono prodotte fra il testo.
Oltre le opinioni dell’autore trovasi anche il fragmento del secondo libro delle storie di Zosimo autore del IV
secolo, ch’è il solo classico che ci abbia parlato di questo oggetto.</div><div id="catalogo-note-text-2978" class="catalogo-note-search-results truncate-line-clamp">Quest’opera è stampata con tutta l’eleganza dei tipi e le medaglie nitidamente intagliate sono prodotte fra il testo.
Oltre le opinioni dell’autore trovasi anche il fragmento del secondo libro delle storie di Zosimo autore del IV
secolo, ch’è il solo classico che ci abbia parlato di questo oggetto.</div><a id="catalogo-note-text-toggle-2978" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>