<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2318">
                  <span class="catalogo-item-label">2318.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2318">MEMORIE della vita di Domenico Martinelli Sacerdote lucchese e insigne architetto</a></span>, <span class="catalogo-pubPlace">Lucca</span>
    <span class="catalogo-date">1772</span>, in 8.
    <div class="catalogo-note">Col ritratto in principio.</div>
    
    </span></section>