<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4090">
                     <span class="catalogo-item-label">4090.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCALETTA Carlo Cesare</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4090">Il fonte pubblico di Faenza con un’appendice d’istruzione agli architetti per comporre
simili fabbriche</a></span>, <span class="catalogo-pubPlace">Faenza</span> <span class="catalogo-date">1719</span>, in 8, figurato.
<div class="catalogo-note collapse">Con tre cattive tavole intagliate in rame.</div>
</span></section>