<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3487">
                     <span class="catalogo-item-label">3487.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRASCHIO Jo. Baptista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3487">De tribus statuis in romano capitolo erectis anno 1720 ecphrasis iconographica</a></span>, <span class="catalogo-pubPlace">Roma</span>
<span class="catalogo-date">1724</span>, in 4, fig.
<div id="catalogo-note-text-3487" class="catalogo-note truncate-line-clamp">Le critiche discussioni sulla inconvenienza di collocare quelle statue riunite sono savissime. La tavola che le
rappresenta non serve a darne un’idea.</div><a id="catalogo-note-text-toggle-3487" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>