<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2955">
                     <span class="catalogo-item-label">2955.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/2955">OSSERVAZIONI sopra un libro intitolato Dell’origine e del commercio della moneta e delle institu <span class="catalogo-pb" id="page_76">76</span> zioni
delle Zecche d’Italia</a></span>, stampato all’Haja <span class="catalogo-date">1751</span> in quanto appartiene alla Zecca Pontificia e a<span class="catalogo-pubPlace"> Roma</span>, libri III, R.
1751, in 4, M. 4.
<div id="catalogo-note-text-2955" class="catalogo-note truncate-line-clamp">Esemplare in carta grande. Opera laboriosa e piena di dottrina per ribattere lo scritto che prende di mira,
divagando moltissimo però in alcuni punti d’istoria, che non hanno relazione alle monete e alla zecca.</div><a id="catalogo-note-text-toggle-2955" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>