<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3328">
                     <span class="catalogo-item-label">3328.</span> <span class="catalogo-bibl"><span class="catalogo-author">SARTORIUS George</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3328">Essai sur l’état civil, et politique des peuples d’Italie sous le governement des Goths</a></span>, <span class="catalogo-pubPlace">Paris</span>
<span class="catalogo-date">1811</span>, in 8.
<div id="catalogo-note-text-3328" class="catalogo-note truncate-line-clamp">Ottime ricerche anche per la cognizione dei monumenti nei bassi tempi.</div><a id="catalogo-note-text-toggle-3328" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>