<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3911">
                     <span class="catalogo-item-label">3911.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3911">VILLA Pamphilia, ejusque palatium cum suis prospectibus, statuae, fontes, vivaria, theatra, areolae, plantarum
viarumque ordines, cum ejusdem villae absoluta delineatione</a></span>, <span class="catalogo-pubPlace">Romae</span>, formis Jacobi de Rubeis, sine anno, in fol.,
fig.
<div class="catalogo-note">Dopo il frontespizio è la dedica dell’editore, indi il ritratto di Camillo Panfilio intagliato da L. Visscher, e 87
tavole, delle quali 76 rappresentano le statue e i busti di mediocre esecuzione, non così le altre che rappresentano
la villa intagliata da Giovan Battista Falda con qualche gusto ed accuratezza.</div>
</span></section>