<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4242">
                        <span class="catalogo-item-label">4242.</span> <span class="catalogo-bibl"><span class="catalogo-author">LATTUADA Serviliano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4242">Descrizione di Milano ornata con molti disegni in rame delle fabbriche più cospicue, che
si trovano in quella metropoli</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1737 a 1738</span>, in 8, fig., vol. 5.
<div class="catalogo-note">Quest’opera è troppo voluminosa, e piena di inutilità, e scritta con poca critica. Le tavole sono a’ luoghi voluti
dal testo.</div><div id="catalogo-note-text-4242" class="catalogo-note-search-results truncate-line-clamp">Quest’opera è troppo voluminosa, e piena di inutilità, e scritta con poca critica. Le tavole sono a’ luoghi voluti
dal testo.</div><a id="catalogo-note-text-toggle-4242" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>