<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1454">
                  <span class="catalogo-item-label">1454.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1454">DESCRIZIONE dei reali ed elettorali ingressi ed atti d’incoronazione fatti a Francfort nel <span class="catalogo-date">1658</span>
    per l’Arciduca e Imperator Leopoldo</a></span>. Colla gran veduta della città e i ritratti della famiglia
    imperiale intagliati da Gasparo Merian, in fol.
    <div class="catalogo-note">Sono 24 grandissime tavole in rame singolar <span class="catalogo-pb" id="page_249">249</span> mente piegate a fine di ridurle al foglio piccolo a’ piè di
    ognuna delle quali sta riportato il testo relativo.</div><div id="catalogo-note-text-1454" class="catalogo-note-search-results truncate-line-clamp">Sono 24 grandissime tavole in rame singolar <span class="catalogo-pb" id="page_249">249</span> mente piegate a fine di ridurle al foglio piccolo a’ piè di
    ognuna delle quali sta riportato il testo relativo.</div><a id="catalogo-note-text-toggle-1454" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCLX
    
    </span></section>