<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="650">
                  <span class="catalogo-item-label">650.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SAVOT Louis</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/650"> L’architecture française des bâtiments particuliers. Augmentée dans cette
	seconde édition des notes de Blondel,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1685,</span> 
                     <span class="catalogo-extent">en 8, fig.</span>
                  </span>
	                 <div id="catalogo-note-text-650" class="catalogo-note truncate-line-clamp">Poche figure dimostrative intagliate in legno sono fra il testo. L’edizione è bella e nitida e l’opera riguarda alcune
	pratiche dell’arte per la meccanica della sua esecuzione e molte leggi per gli edifici. Avvi anche un elenco di
	scrittori in questa materia con diverse annotazioni.</div><a id="catalogo-note-text-toggle-650" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>