<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1611">
                  <span class="catalogo-item-label">1611.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAMPI Michele</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1611">Spicilegio bottanico: Dialogo ove si manifesta lo sconosciuto Cinamomo
    degli antichi</a></span>, <span class="catalogo-pubPlace">Lucca</span> <span class="catalogo-date">1654</span>, in 4, M. 64.
   <div class="catalogo-note collapse"> Memoria piena d’interessante erudizione.</div>
    
    </span></section>