<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1741">
                  <span class="catalogo-item-label">1741.</span> <span class="catalogo-bibl"><span class="catalogo-author">PACICHELII Jo. Baptista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1741">De larvis, de capillamentis, de chirothecis, vulgo mascheris
  perrucchis, guantis,</a></span> <span class="catalogo-pubPlace">Neapoli</span> <span class="catalogo-date">1693</span>, in 12, fig.
  <div class="catalogo-note">Non vi sono che due tavole una di maschere, l’altra di guanti antichi.</div><div id="catalogo-note-text-1741" class="catalogo-note-search-results truncate-line-clamp">Non vi sono che due tavole una di maschere, l’altra di guanti antichi.</div><a id="catalogo-note-text-toggle-1741" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>