<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="305">
                  <span class="catalogo-item-label">305.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/305">ELEMENTI del disegno di Annibale Carracci,intagliati da Poilly in 30 tavole in fol. obl.</a></span>
	                    <div class="catalogo-note">La lindura del bulino pare aver tolto all’originalità delle stampe antiche tutto il sapore e il gusto, che le
	rendevano tanto pregiate. </div>
	                    
	                    
	                    
	                 </span>
	              </section>