<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2583">
                     <span class="catalogo-item-label">2583.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIOVENAZZI Vito Maria</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2583"> Della città di Aveja nei Vestini ed altri luoghi d’antica memoria</a></span>. Dissertazione, <span class="catalogo-pubPlace">Roma</span>
<span class="catalogo-date">1773</span>, in 4.
<div class="catalogo-note">Con indici utilissime e copiosissime.</div>
</span></section>