<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4640">
                     <span class="catalogo-item-label">4640.</span> <span class="catalogo-bibl"><span class="catalogo-author">BURE (de) Guillaume</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4640">Bibliotheque instructive, ou traité de la connoissance des livres rares, et singuliers</a></span>, 
                        <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1768</span>, vol. 7, in 8.
</span></section>