<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4031">
                     <span class="catalogo-item-label">4031.</span> <span class="catalogo-bibl"><span class="catalogo-author">LITTA
                     Pompeo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4031">Famiglie celebri d’Italia</a></span>,
                     <span class="catalogo-pubPlace">Milano</span>, <span class="catalogo-date">1819</span>, presso Paolo Emilio Giusti, in
                     fol., fig.</span>

		     <div class="catalogo-note">Opera grandiosa, e una delle più insigni
		     che si pubblichi <span class="catalogo-pb" id="page_244">244</span> no in
		     Italia. Esce a fascicoli separati, ogni fascicolo
		     contiene una o più famiglie. Le medaglie che
		     servono d’illustrazione sono tratte da musei, i
		     monumenti dal vero. I fascicoli si danno uniti, e
		     separati, a piacere; non vi è associazione: un
		     autore nobile e indipendente non deve avere
		     vincoli comuni agli editori mercenarj (così
		     l’autore protesta). In questo primo fascicolo è
		     illustrata la famiglia Attendolo Sforza: sono 31
		     carte fra le quali trovansi sedici stampe di
		     medaglie e monumenti copiosissime eseguite con la
		     massima diligenza e fedeltà, non potendosi mai
		     lodare abbastanza la solerzia dell’autore
		     nell’esame de’ materiali per tutte le storiche
		     erudizioni di cui l’opera laboriosissima è
		     ripiena. M. 105.</div>
		  </section>