<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2250">
                  <span class="catalogo-item-label">2250.</span> <span class="catalogo-bibl"><span class="catalogo-author">CRESPI canonico Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2250">Dissertazione Anti-Critica contro le lezioni del Manni intorno alla
    credenza che S. Luca Evangelista fosse Pittore</a></span>, <span class="catalogo-pubPlace">Faenza</span> <span class="catalogo-date">1776</span>, in 4.
    </span></section>