<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1994">
                  <span class="catalogo-item-label">1994.</span> <span class="catalogo-bibl"><span class="catalogo-author">BINET Etienne</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1994">Abrégé de la vie des principaux fondateurs des religione de l’Eglise</a></span>, <span class="catalogo-pubPlace">Anverse</span>
  <span class="catalogo-date">1634</span>, in 4, fig.
  <div class="catalogo-note">Le stampe sono di prima freschezza intagliate da Cornelio Gallè; sono 38 ritratti, oltre il frontespizio e l’ultima
  carta istoriata con tutti i fondatori riuniti, che è di una bellezza singolare.
  </div><div id="catalogo-note-text-1994" class="catalogo-note-search-results truncate-line-clamp">Le stampe sono di prima freschezza intagliate da Cornelio Gallè; sono 38 ritratti, oltre il frontespizio e l’ultima
  carta istoriata con tutti i fondatori riuniti, che è di una bellezza singolare.
  </div><a id="catalogo-note-text-toggle-1994" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  </span></section>