<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3250">
                     <span class="catalogo-item-label">3250.</span> <span class="catalogo-bibl"><span class="catalogo-author">LAMY l’abbé</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3250">Description de deux monumens antiques qui subsistent près la ville de Saint Remy</a></span>, à Provence,
                        <span class="catalogo-pubPlace">Paris</span><span class="catalogo-date"> 1787</span>, in 8, M. 50.
</span></section>