<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1261">
                  <span class="catalogo-item-label">1261.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1261">EXPLICATION des peintures sculp. et grav. de MSS. de l’Academie Royale dan le Salon du
    Louvre</a></span>, l’an. <span class="catalogo-date">1739</span>, <span class="catalogo-pubPlace">Paris</span> in 12.
    — Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1261">Lettre critique à un ami sur les ouvrages de MSS. de l’Academie exposées au
    Salon du Louvre</a></span>, l’an <span class="catalogo-date">1759</span>.

                  
                  
    
    — La même, l’an <span class="catalogo-date">1763</span>.
    — La même, l’an <span class="catalogo-date">1767</span>.
    — <span class="catalogo-title"><a class="catalog-link" href="/catalog/1261">Lettre d’un particulier à un de ses parents peintre en province sur le Salon du <span class="catalogo-date">1755</span></a></span>.
    — <span class="catalogo-title"><a class="catalog-link" href="/catalog/1261">Seconde lettre à un partisan du bon goût sur la même exposition</a></span>.
    — <span class="catalogo-title"><a class="catalog-link" href="/catalog/1261">Reponse alla lettre precedente: nella quale il grido degli artisti feriti dalla critica, forse
    giusta e imparziale, si fa sentire altamente</a></span>.
    <div class="catalogo-note">Tutto legato in un sol volume. Vedasi Art, Observations.</div>
    
    </span></section>