<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3292">
                     <span class="catalogo-item-label">3292.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3292">OSSERVAZIONI di un frammento di tavoletta antica d’avorio stimata consolare</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1775</span>, fig., M. 39 e 51.
<div class="catalogo-note collapse">Con una tavola intagliata in rame.</div>
</span></section>