<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2052">
                  <span class="catalogo-item-label">2052.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2052">INSIGNIUM aliquot virorum icones</a></span>, <span class="catalogo-pubPlace">Lugduni</span>, apud Tornesium, <span class="catalogo-date">1559</span>, in 12, fig.
  <div class="catalogo-note">Questa è una collezione di ritratti incisi in legno a guisa di medaglioni a capriccio, ma con molto spirito. Vi sono
  aggiunti brevi cenni storici relativi a ciascheduno. Il libretto elegante è intitolato a G. Tuffano dallo stesso
  Giovanni Tornesio e gli uomini illustri di cui si parla e si presentano le medaglie, sono 145.</div>
  
  </span></section>