<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2717">
                     <span class="catalogo-item-label">2717.</span> <span class="catalogo-bibl"><span class="catalogo-author">VISCONTI Ennio Quirino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2717">Iconographie Grecque et Romaine ou recueil des portraits authentiques des empereurs,
                        et hommes illustres de l’antiquité</a></span>, <span class="catalogo-pubPlace">Paris</span>, chez Didot, <span class="catalogo-date">1811</span>, vol. 3, in 4.
                        <div class="catalogo-note collapse">Avec le quatrieme volume contenant les planches: grand fogl. imper. Vedi quest’opera fra le Antichità Romane</div>.
</span></section>