<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1843">
                  <span class="catalogo-item-label">1843.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARGIGLI Scipione</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1843">Delle imprese; alla p. parte, la 2 e la 3 nuovamente aggiunte</a></span>, <span class="catalogo-pubPlace">Venezia</span>,
                     presso il Franceschi, <span class="catalogo-date">1504</span>, in 4, fig.
    <div class="catalogo-note">Col ritratto di Ridolfo II e la sua impresa, oltre le numerose tavole delle imprese dei principali signori d’Italia,
       intagliate in rame</div>.
    
    </span></section>