<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2274">
                  <span class="catalogo-item-label">2274.</span> <span class="catalogo-bibl"><span class="catalogo-author">GENNARI Lorenzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2274">Diverse composizioni in lode della Didone di Gio. Francesco Barbieri
    Centese</a></span>, da lui dedicate a Monsig. Furietti, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1632</span>, in 4, pic.
    <div class="catalogo-note">Con frontespizio graziosamente figurato.</div><div id="catalogo-note-text-2274" class="catalogo-note-search-results truncate-line-clamp">Con frontespizio graziosamente figurato.</div><a id="catalogo-note-text-toggle-2274" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>