<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3994">
                     <span class="catalogo-item-label">3994.</span> <span class="catalogo-bibl"><span class="catalogo-author">CORNIDE Joseph</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3994">Investigaciones sobre la fundacion y fabbrica de la torre ilamada de Hercules situada a la
entrada del puerto de la Coruna</a></span>, <span class="catalogo-pubPlace">Madrid</span> <span class="catalogo-date">1792</span>, in 4, fig., M. 98.
<div class="catalogo-note collapse">Con una vignetta del porto in principio, e nel fine la tavola della torre.</div>
</span></section>