<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1653">
                  <span class="catalogo-item-label">1653.</span> <span class="catalogo-bibl"><span class="catalogo-author">FICORONI Francisci</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1653">Dissertatio de larvis scenicis et figuris comicis antiquorum Romanorum
    ex italica in linguam latinam versa. Editio secunda auctior et emendatior</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1754</span>, in 4,
    fig.
    <div class="catalogo-note collapse">Le tavole sono le stesse colla differenza d’un capitolo e una tavola di più in fine dell’opera.
    </div>
    <span class="catalogo-pb" id="page_286">286</span>
               </span></section>