<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2675">
                     <span class="catalogo-item-label">2675.</span> <span class="catalogo-bibl"><span class="catalogo-author">HADRAVA</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2675">Ragguagli di varj scavi e scoverte di antichità fatte nell’isola di Capri</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1793</span>, in 8, fig., M. 61.
<div class="catalogo-note collapse">Con 9 tavole intagliate in rame e miniate in colori.</div>
</span></section>