<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2841">
                     <span class="catalogo-item-label">2841.</span> <span class="catalogo-bibl"><span class="catalogo-author">FLOREZ Enrique</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2841">Medallas da las colonias de Espana hasta hoi no pubblicadas, con las de los Reyes Godos; parte terciera</a></span>, <span class="catalogo-pubPlace">Madrid</span> <span class="catalogo-date">1773</span>.
<div class="catalogo-note collapse">Opera pregiatissima e rara specialmente in Italia. In principio è il ritratto dell’autore intagliato da Carmona nel
1773. L’opera è ricca di 67 tav. in rame fra i tre volumi. Le medaglie dei Goti poi sono intagliate in legno e
inserite fra il testo, ma ripetute e riunite in altre 8 tavole addizionali al fine. <span class="catalogo-pb" id="page_58">58</span>
p. 58</div>
</span></section>