<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1046">
                  <span class="catalogo-item-label">1046.</span> <span class="catalogo-bibl"><span class="catalogo-author">BUONI Tommaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1046">I problemi della bellezza di tutti gli umani affetti</a></span>, con un discorso della
      bellezza del medesimo autore, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1601</span>, in 12.
      
                  
                  
      
               </span></section>