<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3490">
                     <span class="catalogo-item-label">3490.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARBURI C. Maria de Cefalonie</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3490">Monument élevé à la gloire de Pierre le Grand, ou rélation des travaux, et des
moyens mechaniques employés pour <span class="catalogo-pb" id="page_155">155</span> la base et la statue équestre de cet Empereur</a></span>, a <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1777</span>, in fol.,
fig.
<div class="catalogo-note collapse">Opera celebrata meritamente, ove in 12 tavole è descritta questa famosa operazione.</div>

                     
                     

                  </span></section>