<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4691">
                     <span class="catalogo-item-label">4691.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4691">CERIMONIE chinesi, conformità coll’idolatria greca, e romana in conferma dell’apologia de’ missionarj
domenicani della China</a></span>, opera di un dottore e professore di Teologia, <span class="catalogo-pubPlace">Colonia</span> <span class="catalogo-date">1701</span>, in 8.
</span></section>