<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="5">
               <span class="catalogo-item-label">5.</span> 
               <span class="catalogo-bibl">
                 <span class="catalogo-author">BANNISTER Jacques</span>, 
                 <span class="catalogo-title"><a class="catalog-link" href="/catalog/5">Tableau des arts et des sciences depuis le tems le plus reculé, jusque au
		 siecle d’Alexandre le Grand,</a></span> 
                 <span class="catalogo-pubPlace">Paris</span> 
                 <span class="catalogo-date">1789,</span> 
                 <span class="catalogo-extent">in 12.</span>
               </span>
	       <div class="catalogo-note">Quest’operetta è tradotta dall’inglese. Comincia dall’architettura e procede all’astronomia, alla favola, alla
	       mitologia e filosofia morale e termina colla filosofia naturale.</div>
             </section>