<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4181">
                        <span class="catalogo-item-label">4181.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4181">SQUARCI d’annotazioni e varie pagine del libricciuolo intitolato: Pitture, sculture, e architetture di Bologna, pel
                           Longhi, an. 1776. Dedicati agli amatori di verità da pochi principianti d’architettura</a></span>, <span class="catalogo-pubPlace">Faenza</span><span class="catalogo-date"> 1777</span>.
<div class="catalogo-note collapse">— Aggiuntovi: Verità di fatto esposte da Raimondo Compagnini a rischiaramento d’un libercolo dato alle stampe
da pochi principianti d’architettura, Bologna 1777.
— In fine: Sentimenti di pochi principianti d’architettura in ordine alle verità di fatto pubblicate dal signor
Raimondo Compagnini, in 8</div>.
</span></section>