<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4320">
                        <span class="catalogo-item-label">4320.</span> <span class="catalogo-bibl"><span class="catalogo-author">PARRINO Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4320">Nuova guida de’ forestieri per la città di Napoli</a></span>, <span class="catalogo-date">1751</span>, fig., in 12.
<div class="catalogo-note collapse">Con alcune cattive tavole in rame: opera mediocre assai, dettata senza critica, e con poco criterio.</div>
</span></section>