<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="642">
                  <span class="catalogo-item-label">642.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/642">SAGGIO sopra l’architettura gotica,</a></span> 
                     <span class="catalogo-pubPlace">Livorno</span> 
                     <span class="catalogo-date">1766,</span> 
                     <span class="catalogo-extent">in 8.</span>
                  </span>
	                 <div class="catalogo-note">Opuscoletto di 32 pagine scritto con critica e profondità di cognizioni.</div>
	
	              </section>