<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4683">
                     <span class="catalogo-item-label">4683.</span> <span class="catalogo-bibl"><span class="catalogo-author">BROVERII Matthei de Niedek</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4683">De populorum veterum ac recentiorum adorationibus, dissertatio cum figuris
aeneis</a></span>, <span class="catalogo-pubPlace">Amst.</span> <span class="catalogo-date">1713</span>, in 8.
<div id="catalogo-note-text-4683" class="catalogo-note truncate-line-clamp">Libretto elegantissimo ed erudito, ornato di tredici tavole, in cui sono molte rappresentazioni figurate, e medaglie
di bell’intaglio.</div><a id="catalogo-note-text-toggle-4683" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>