<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1017">
                  <span class="catalogo-item-label">1017.</span> <span class="catalogo-bibl"><span class="catalogo-author">CROCE Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1017">Descrizione del nob. palazzo posto nel Contà di Bologna detto Tusculano</a></span>,
      <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1582</span>, in 4, M. 51.
      <div id="catalogo-note-text-1017" class="catalogo-note truncate-line-clamp">Sono questi tre canti in ottava rima scritti con uno stile singolare per la sua facilità, ove di molte cose e antichità
      si ragiona.</div><a id="catalogo-note-text-toggle-1017" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>