<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3395">
                     <span class="catalogo-item-label">3395.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3395">GALERIE du palais Royal gravée d’après les tableaux des differentes écoles avec une description de l’abbé
Fontenai par J. Couché graveur</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1786</span>, in fol.
<div class="catalogo-note collapse">Le illustrazioni di tutte le opere di pennello che componevano questa preziosa collezione sono intagliate in rame
sotto i soggetti medesimi: fu rilegato magnificamente un volume con due terzi delle tavole: e il resto si otterrà
facilmente, giacché non avvi alcuna parte di testo da imprimere e le tavole esistono in Francia sotto sequestro per
azioni forensi.</div>
</span></section>