<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1751">
                  <span class="catalogo-item-label">1751.</span> <span class="catalogo-bibl"><span class="catalogo-author">PERSIO Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1751">Del bever caldo costumato dagli antichi Romani</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1693</span>, in 8.
  <div class="catalogo-note collapse">Operetta dedicata al Papa Clemente VIII.</div>
  
  </span></section>