<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="126">
                  <span class="catalogo-item-label">126.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FRANCHI Antonio</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/126"> La teorica della pittura, ovvero trattato delle materie più necessarie per
	  apprendere con fondamento quest’arte,</a></span> 
                     <span class="catalogo-pubPlace">Lucca,</span> 
                     <span class="catalogo-date">1739,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div id="catalogo-note-text-126" class="catalogo-note truncate-line-clamp">Opera superficiale.</div><a id="catalogo-note-text-toggle-126" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>