<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3051">
                     <span class="catalogo-item-label">3051.</span> <span class="catalogo-bibl"><span class="catalogo-author">VERNAZZA Josepho de Fréney</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3051">Recensio nummorum qui Secusii anno <span class="catalogo-date">1812</span> mense septembri sunt reperti</a></span>,
<span class="catalogo-pubPlace">Augustae Taurinorum</span>, in 4.
<div id="catalogo-note-text-3051" class="catalogo-note truncate-line-clamp">La sobrietà, l’eleganza tipografica, l’ordine e la chiarezza non lasciano nulla a bramare di più in questo prezioso
opuscolo col ritratto del dottissimo autore in principio.</div><a id="catalogo-note-text-toggle-3051" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>