<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2308">
                  <span class="catalogo-item-label">2308.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAGGI Aimo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2308">Memorie sulla vita di Agostino Bertelli paesista bresciano, operetta postuma</a></span>,
    <span class="catalogo-pubPlace">Brescia</span> <span class="catalogo-date">1794</span>, in 8.
    </span></section>