<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3845">
                     <span class="catalogo-item-label">3845.</span> <span class="catalogo-bibl"><span class="catalogo-author">POUYARD Giacomo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3845">Lettera dello stesso, unita ad altra del cardinal Brancadoro sul medesimo argomento all’abate
Cancellieri</a></span>, stesso luogo ed anno.
<div id="catalogo-note-text-3845" class="catalogo-note truncate-line-clamp">Con 11 tavole di varia dimensione in fine e fra il testo intagliate in rame.</div><a id="catalogo-note-text-toggle-3845" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>