<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3822">
                     <span class="catalogo-item-label">3822.</span> <span class="catalogo-bibl"><span class="catalogo-author">PERCIER, et P.F.L. Fontaine</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3822"> Palais, maisons, et autres édifices modernes dessinés à Rome</a></span>, pubbliés a <span class="catalogo-pubPlace">PAris</span> en
<span class="catalogo-date">1798</span> Didot, in fol., fig.
<div class="catalogo-note">Opera che contiene 100 tavole accuratamente disegnate e intagliate, con dotte e brevi spiegazioni, oltre molte

                     
                     
belle vignette e prospettive.</div>
</span></section>