<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2420">
                  <span class="catalogo-item-label">2420.</span> <span class="catalogo-bibl"><span class="catalogo-author">ABANO Petri</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2420">De phisionomia</a></span>, <span class="catalogo-pubPlace">Paduas</span> <span class="catalogo-date">1474</span>, in 4.Il libro comincia:
    Incipit liber compilationis phisonomie a Petro Padubanensi in civitate Parisiensi, cuius sunt
    tres particulae etc. E finisce:
    — <span class="catalogo-bibl">Gratias altissimo Deo <span class="catalogo-date">anno Domini millesimo quadrigentesimo quarto</span> hoc de phisonomia
    opus Petri Padubanensis per me Petrum Manfer normannum <span class="catalogo-pubPlace">Paduae</span> impressura est.
    <div class="catalogo-note">Questa prima edizione è indicata come rarissima dal Santander ed è composta di cinquanta foglietti di stampa in
    caratteri rotondi e di bellissima forma senza segnature. Può quindi riputarsi come il più singolare e pregevole
    libro di questa materia; magnifico esemplare.</div></span>
    
    </span></section>