<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1081">
                  <span class="catalogo-item-label">1081.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAUR Jean Willelm</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1081">Le Metamorfosi d’Ovidio</a></span>, intagliate in 150 tavole in rame di prima
      freschezza e bellezza, <span class="catalogo-date">1641</span> in 4.
      <div class="catalogo-note collapse">Questa prima edizione delle Metamorfosi è riportata sovra gran fogli atlantici.</div>
      
      </span></section>