<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2276">
                  <span class="catalogo-item-label">2276.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIOVIO Monsig. Paolo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2276">Le vite di Leon X, d’Adriano VI e del Cardinal Colonna</a></span>, tradotte da
    Ludovico Domenichi, <span class="catalogo-pubPlace">Vinegia</span>, presso Giovanni de’ Rossi, <span class="catalogo-date">1557</span>, in 8.
    <div class="catalogo-note collapse">Elegantissima edizione in minuti caratteri rotondi di un prezioso libretto in vit. dor.</div>
    
    </span></section>