<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1478">
                  <span class="catalogo-item-label">1478.</span> <span class="catalogo-bibl"><span class="catalogo-author">SARTORIO Can.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1478">I numi a diporto sull’Adriatico</a></span>. Descrizione della regata solenne disposta in
    Venezia a godimento di S. A. S. Ferdinando III Principe di Toscana, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1688</span>, in fol. fig.
    <div id="catalogo-note-text-1478" class="catalogo-note truncate-line-clamp">Le descrizioni sono del Canonico Sartorio: i disegni di Lodovico Lamberti e Giovanni Carbonari, intagliati da
    Alessandro della Via in 14 tav.</div><a id="catalogo-note-text-toggle-1478" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    MDCLXXXLIX
    
    </span></section>