<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2199">
                  <span class="catalogo-item-label">2199.</span> <span class="catalogo-bibl"><span class="catalogo-author">BALDINUCCI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2199">Notizie de’ professori del disegno da Cimabue in qua</a></span>. Opera nuovamente data
    alle stampe con varie dissertazioni, note ed aggiunte da Giuseppe Piacenza architetto
    Turinese, vol. 5 in 4, <span class="catalogo-pubPlace">Turino</span> dal <span class="catalogo-date">1768 al 1817</span>.
    <div class="catalogo-note">Copiosissime sono le note e le addizioni fatte dal benemerito autor piemontese, delle quali resta anche a
    pubblicarsi qualche inedita parte.</div>
    
    </span></section>