<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="489">
                  <span class="catalogo-item-label">489.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DELAGARDETTE</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/489"> Regles de cinq ordres d’architecture de Vignole; nouvelle édition intiérement
	refondue et enrichie de nouvelles planches, telles que le Pantheon de Rome. Cet ouvrage a
	pour suite les leçons élémentaires des ombres dans l’architecture par le même auteur,</a></span>
                     <span class="catalogo-pubPlace"> Paris</span>
	                    <span class="catalogo-date">1797,</span>
                     <span class="catalogo-extent"> in 4, fig.</span>
                  </span>
	                 <div id="catalogo-note-text-489" class="catalogo-note truncate-line-clamp">50 tavole diligentissime sono nella prima e 25 nella seconda opera Questo buon artista ha transfuso in tutte le sue
	opere il gusto che si era formato sullo studio dei monumenti antichi e dei migliori classici italiani.</div><a id="catalogo-note-text-toggle-489" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>