<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1055">
                  <span class="catalogo-item-label">1055.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1055">ESSAI sur le beau</a></span>, nouvelle édition augmentée de six discours, sur le modus, le decorum, les
      graces, l’amour du beau, l’amour desinteressé, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1763</span>, 2 vol., in 12.
      <div class="catalogo-note">L’opera fu composta dal P. André sebben apparisca libro anonimo. Questo libro (imperfetto e insciente l’autore)
      fu stampato la prima volta in Amsterdam nel 1780 e successivamente nel 1772. La nostra edizione è la seconda,
      aumentata dall’autore medesimo, dopo esaurita la prima e più succinta, che apparve 22 anni avanti nel 1741 ed è
      per conseguenza la più completa, e la migliore di questo buon trattato del Bello.</div>
      
      </span></section>