<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="709">
                  <span class="catalogo-item-label">709.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVII</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/709">De architectura adnotationes Guglielmi Philandri</a></span>, <span class="catalogo-pubPlace">Parisiis</span> <span class="catalogo-date">1545</span>, in 8, fig.
	<div class="catalogo-note">Non avvi altra differenza dall’edizione presente all’altra dell’anno che la precede, se non che
	in quella avvi un errata che indica e corregge i falli trascorsi e in questa vi sono tutti gli
	spropositi dell’edizione romana non emendati, con molti altri di più.</div><div id="catalogo-note-text-709" class="catalogo-note-search-results truncate-line-clamp">Non avvi altra differenza dall’edizione presente all’altra dell’anno che la precede, se non che
	in quella avvi un errata che indica e corregge i falli trascorsi e in questa vi sono tutti gli
	spropositi dell’edizione romana non emendati, con molti altri di più.</div><a id="catalogo-note-text-toggle-709" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	<span class="catalogo-pb" id="page_132">132</span>
	                 
	                 
	                 
	
	              </span></section>