<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="34">
                  <span class="catalogo-item-label">34.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GHERARDI Giovan Battista</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/34"> Della Patria primitiva dell’Arti del Disegno,</a></span> 
                     <span class="catalogo-pubPlace">Cremona</span>
                     <span class="catalogo-date"> 1785,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div id="catalogo-note-text-34" class="catalogo-note truncate-line-clamp">Tendono le dissertazioni, di cui questo volume è composto, ad assicurare all’Italia un primato che da molti dotti
	  le vorrebbe esser conteso.</div><a id="catalogo-note-text-toggle-34" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
               </section>