<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2732">
                     <span class="catalogo-item-label">2732.</span> <span class="catalogo-bibl"><span class="catalogo-author">ANGELONI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2732">Dell’utilità della numismatica</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1811</span>, in 8, prodotta dal Meneghelli ora ma scritta
nel <span class="catalogo-date">1620</span>, M. 63.
</span></section>