<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4313">
                        <span class="catalogo-item-label">4313.</span> <span class="catalogo-bibl"><span class="catalogo-author">TITI Pandolfo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4313">Guida pel passeggiere dilettante di pittura, scultura, e architettura nella città di Pisa</a></span>, <span class="catalogo-pubPlace">Lucca</span> <span class="catalogo-date">1751</span>, in
8.
I molti cambiamenti seguiti non rendono questa guida di molta utilità.</span></section>