<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1762">
                  <span class="catalogo-item-label">1762.</span> <span class="catalogo-bibl"><span class="catalogo-author">PINELLI Bartolommeo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1762">Nuova raccolta di 50 costumi pittoreschi incisi all’acqua forte</a></span>, <span class="catalogo-pubPlace">Roma</span>
  <span class="catalogo-date">1816</span>, in fol.
  <div class="catalogo-note">Questi cono tolti la più parte dalle abitudini del popolo romano e sono espressi con una verità e fedeltà
  insuperabile.</div>
  
  </span></section>