<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1982">
                  <span class="catalogo-item-label">1982.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1982">(ARMAMENTARIUM) sive Augustissimorum imperatorum, regum atque archiducum etc.
    aliorumque clariss. virormn etc. quorum arma aut integra, aut horum partes etc. a Sereniss.
    Principe Ferdinando Arch. Austriae ex omnibus orbis terrarum provinciis conquisita, in
    celebri Ambrosianae arcis armamentario conspiciuntur. Opus a Jacobo Schrenckhio
    absolutum, Oeniponti excud. Jo. Agricola</a></span>, <span class="catalogo-date">1601</span>, in fol. Jo. Bapt. Fontana delin. Dominicus
    Custos excudit.<div class="catalogo-note">
    L’opera grandiosa e magnifica è composta da 118 ritratti non compreso il frontespizio, ove in un gran fondo
    d’istorie e d’allegorie è il ritratto di Ferdinando; non comprende in tutto che 125 fogli, o siano carte, e dietro a
    ciascun ritratto è la storica illustrazione relativa.</div><div id="catalogo-note-text-1982" class="catalogo-note-search-results truncate-line-clamp">
    L’opera grandiosa e magnifica è composta da 118 ritratti non compreso il frontespizio, ove in un gran fondo
    d’istorie e d’allegorie è il ritratto di Ferdinando; non comprende in tutto che 125 fogli, o siano carte, e dietro a
    ciascun ritratto è la storica illustrazione relativa.</div><a id="catalogo-note-text-toggle-1982" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                  
                  
    
               </span></section>