<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="60">
                  <span class="catalogo-item-label">60.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/60">HISTOIRE de l’art chez les anciens. Traduit de l’allemand avec des notes historiques et critiques
	  de differents auteurs,</a></span> 
                     <span class="catalogo-extent">2 gr. vol.,</span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1802,</span> 
                     <span class="catalogo-extent">in 4, fig.</span>
                  </span>
	                 <div class="catalogo-note">Questa edizione contiene ciò che intorno a questo insigne scrittore hanno pubblicato la più parte de’ critici, e
	  degli antiquari, come Huber, Heyne, Fea, Lessing ed altri. Con tutte le critiche che possa aver meritato un tanto
	  lavoro, non gli verrà mai tolto il merito intrinseco, e sommo d’esser stato il primo scrittore di archeologia, né gli
	  verra scemata mai l’imparziale riconoscenza della posterità. Settantacinque tavole, senta contare le quantità di
	  medaglie e monumenti riportati fra il testo, fregiano questa copiosa edizione.</div>
               </section>