<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1867">
                  <span class="catalogo-item-label">1867.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAMERARII Georgii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1867">Emblemata amatoria</a></span>, <span class="catalogo-pubPlace">Venetiis</span>, sumpt. P. P. Tozzii ex Typographia
    Sarcinea, <span class="catalogo-date">1627</span>, fig.
    <div class="catalogo-note">Piccolissimo libretto in 16 per traverso, che contiene 80 tavole in rame compreso il frontespizio e lo stemma
    Molin, cui è dedicato il libretto.</div>

                  
                  
    
               </span></section>