<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3694">
                     <span class="catalogo-item-label">3694.</span> <span class="catalogo-bibl"><span class="catalogo-author">DAVIDE Lodovico pittore</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3694"> Dichiarazione della pittura della cappella del Collegio Clementino in Roma</a></span>, <span class="catalogo-pubPlace">Roma</span>
<span class="catalogo-date">1695</span>, in 4, M. 37.
</span></section>