<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3193">
                     <span class="catalogo-item-label">3193.</span> <span class="catalogo-bibl"><span class="catalogo-author">CASSEL Johann Philipp</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3193">Observatio philologica inquirens Atlas Mons unde Dyris dictus?</a></span>, <span class="catalogo-pubPlace">Magdeburgi</span> <span class="catalogo-date">1743</span>, in 4,
M. 41.
</span></section>