<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="617">
                  <span class="catalogo-item-label">617.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">POLIPHILE</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/617">Le tableau des riches inventions convertes du voile des feintes amoureuses qui son
	representées dans le songe de Poliphile desvoilées des ombres du songe et subtilement
	exposées par Beroalde,</a></span> 
                     <span class="catalogo-pubPlace">Paris,</span> 
                     chez Mat. Guillemont, 
                     <span class="catalogo-date">1600,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Dopo il frontispizio elegantemente figurato e intagliato in <span class="catalogo-pb" id="page_112">112</span> rame, segue un discorso per l’intelligenza del
	medesimo elio occupa 10 foglietti e tre foglietti in versi in onore dell’autore; e segue la tavola dei capitoli. In
	tutto i prolegomeni seno f. 18. Comincia il testo dal fol. 1 al 154 e finisce con 6 fogli di tavole delle materie. Le
	tavole in legno sono tratte dall’edizione del 1554 e la versione stessa in più luoghi va di pari passo con quella.
	
	                    
	                    
	Crediamo inutile l’indicare come in tutte queste edizioni di Polifilo figurate, le tavole dei Priapi siano intatte: il
	che qualche volta non succede anche in bellissimi esemplari.</div><div id="catalogo-note-text-617" class="catalogo-note-search-results truncate-line-clamp">Dopo il frontispizio elegantemente figurato e intagliato in <span class="catalogo-pb" id="page_112">112</span> rame, segue un discorso per l’intelligenza del
	medesimo elio occupa 10 foglietti e tre foglietti in versi in onore dell’autore; e segue la tavola dei capitoli. In
	tutto i prolegomeni seno f. 18. Comincia il testo dal fol. 1 al 154 e finisce con 6 fogli di tavole delle materie. Le
	tavole in legno sono tratte dall’edizione del 1554 e la versione stessa in più luoghi va di pari passo con quella.
	
	                    
	                    
	Crediamo inutile l’indicare come in tutte queste edizioni di Polifilo figurate, le tavole dei Priapi siano intatte: il
	che qualche volta non succede anche in bellissimi esemplari.</div><a id="catalogo-note-text-toggle-617" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>