<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1996">
                  <span class="catalogo-item-label">1996.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOISSARDI Jani Jacobi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1996">Vite et icones sultanorum turcicorum, principum persarum,
  aliorumque illustrium etc ab ab Osmane usque ad Mahometum secundum</a></span>, incisa: a Theod. de
  Bry, tab. 47, <span class="catalogo-pubPlace">Francfurti</span> <span class="catalogo-date">1586</span>, in 4, fig.
  </span></section>