<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1909">
                  <span class="catalogo-item-label">1909.</span> <span class="catalogo-bibl"><span class="catalogo-author">KLEPISII Georgii poeta L. Cesarii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1909">Theatrum emblematicum</a></span>, <span class="catalogo-date">1623</span>, in 4, obl.
    <div id="catalogo-note-text-1909" class="catalogo-note truncate-line-clamp">Libro dei più rari in materia d’emblemi intagliato in rame con molta finezza: sono 91 tavole fra le quali
    comprendonsi le prime otto, oltre il frontespizio, che sono piuttosto saggi di calligrafia che altra cosa: il
    frontespizio è figurato. Il primo emblema comincia al foglio segnato 8 colla cicogna e il motto non dormii qui
    custodii. Le interpretazioni cono intagliate in tedesco e in latino.</div><a id="catalogo-note-text-toggle-1909" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>