<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="713">
                  <span class="catalogo-item-label">713.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVII M.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/713">I dieci libri dell’architettura tradotti et commentati da Monsig. Barbaro eletto
	Patriarca di Aquileia, Vinegia</a></span>, per Francesco Marcolini con privilegi, <span class="catalogo-date">1556</span>, in fol. fig.
	<div class="catalogo-note">Con due tavole, l’una di lutto quello si contiene per i capi dell’opera, l’altra per dichiarazione di tutte le cose
	d’importanza. Magnifica edizione intitolata al Cardinale Ippolito d’Este; con frontespizio doppio e figurato
	intagliato in legno come lo sono tutte le bellissime tavole dell’opera collocate fra il testo. Questa versione non
	solo, al parere anche del Poleni, è da anteporsi ad ogni altra italiana che conservasi, ma viene giustamente
	riputata per la prima veramente italiana, esemplare di prima bellezza.</div>
	
	</span></section>