<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1456">
                  <span class="catalogo-item-label">1456.</span> <span class="catalogo-bibl"><span class="catalogo-author">BENEDETTI Elpidio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1456">Pompa funebre nelle esequie celebrate in Roma al Cardinal Mazarini
    cogli elogi al medesimo</a></span>, <span class="catalogo-date">1661</span> <span class="catalogo-pubPlace">Roma</span>, in fol. fig.
    <div id="catalogo-note-text-1456" class="catalogo-note truncate-line-clamp">La tavola che precede il frontespizio venne elegantemente intagliata da Giovan Battista Gallestruzzi e la bella
    invenzione della stessa si deve all’Abate Elpidio Benedetti che inventò parimente le decorazioni espresse inaltre
    4 tav. L’orazione funebre del P. Leone Carmelitano francese è in fine stampata in 4 lingue.</div><a id="catalogo-note-text-toggle-1456" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCLXI
    
    </span></section>