<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2860">
                     <span class="catalogo-item-label">2860.</span> <span class="catalogo-bibl"><span class="catalogo-author">GLANDORPIO Joan</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2860">Notitia familiae Caii Julii Cesaris dictatoris, et Caii Caesaris Octaviani Augusti, intelligendae
                        Romanae Historiae perutilis</a></span>,<span class="catalogo-pubPlace"> Parisiis</span><span class="catalogo-date"> 1634</span>, in 4, M. 33.
                        <div class="catalogo-note collapse">Opuscoletto prezioso per la sua erudizione</div>.
</span></section>