<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2633">
                     <span class="catalogo-item-label">2633.</span> <span class="catalogo-bibl"><span class="catalogo-author">VERMIGLIOLI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2633">Patera etrusca inedita esposta in un ragionamento accademico</a></span>, <span class="catalogo-pubPlace">Perugia</span> <span class="catalogo-date">1811</span>, in 4, fig., M. 7.
<div class="catalogo-note">Con una tavola in rame.</div>
</span></section>