<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1348">
                  <span class="catalogo-item-label">1348.</span> <span class="catalogo-bibl"><span class="catalogo-author">REGOLAMENTI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1348">Statuti dell’insigne Accademia del Disegno di Roma, detta di S. Luca
    Evangelista</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1796</span>, in 4.
    </span></section>