<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2081">
                  <span class="catalogo-item-label">2081.</span> <span class="catalogo-bibl"><span class="catalogo-author">PERRIERS Bonaventurae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2081">Cymbalum mundi ou dialogues satiriques sur differents suject par
  Bon. Perriers valet de Chambre de Marguerite de Valois, avec une lettere critique par Prosper
  Marchand libraire</a></span>, <span class="catalogo-pubPlace">Amst.</span> <span class="catalogo-date">1711</span>, petit en 12, fig.
  <div class="catalogo-note">La prima edizione del 1537 di questo libercolo si è resa introvabile e forse non se ne conoscono dai bibliografi
  due esemplari. L’edizione da noi posseduta rende un’idea dell’opera e del motivo della soppressione dei primi
  esemplari, che probabilmente avvenne soltanto per alcune allusioni a personaggi alti e potenti. Le cinque
  bellissime stampe di B. Pickard danno anche a quest’edizione un qualche pregio.</div>
  
  <span class="catalogo-pb" id="page_359">359</span>
               </span></section>