<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2167">
                  <span class="catalogo-item-label">2167.</span> <span class="catalogo-bibl"><span class="catalogo-author">MILLIN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2167">Dictionnaire des Beaux Arts</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1806</span>, 3 vol. in 8.
    <div id="catalogo-note-text-2167" class="catalogo-note truncate-line-clamp">Questo dizionario è il più ampio dì tutti in questa materia e con qualche cura espurgandolo di alcuni errori, e
    aggiungendovi non molte, ma essenziali cose, diverrebbe un’opera ottima e una vera enciclopedia per gli artisti.</div><a id="catalogo-note-text-toggle-2167" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>