<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="935">
                  <span class="catalogo-item-label">935.</span> <span class="catalogo-bibl"><span class="catalogo-author">LAMBERT Vincenzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/935">Statica degli edifici</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1781</span>, in 4.
      <div class="catalogo-note">Opera per la pratica degli architetti utile, benché esposta senza quella semplicità che si esige per gli operatori
      materiali, ai quali convien poi diffondere tutte le pratiche architettoniche.</div>
      
      </span></section>