<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3644">
                     <span class="catalogo-item-label">3644.</span> <span class="catalogo-bibl"><span class="catalogo-author">CANCELLIERI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3644">Memorie storiche delle sacre teste de’ SS. Apostoli Pietro, e Paolo, e della loro solenne ricognizione
nella basilica Lateranense, con un’appendice di documenti</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1806</span>, in 4.
</span></section>