<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2149">
                  <span class="catalogo-item-label">2149.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOBEL P.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2149">Trésor de recherches et antiquités gauloises et françoises, réduites en ordre
    alphabetique</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1655</span>, in 4.<div class="catalogo-note">
    — Accedit: De verborum vitruvianorum significatione et vita Vitruvii eodem auctore et de
    macueulis solaribus. Senza luogo ed anno.</div><div id="catalogo-note-text-2149" class="catalogo-note-search-results truncate-line-clamp">
    — Accedit: De verborum vitruvianorum significatione et vita Vitruvii eodem auctore et de
    macueulis solaribus. Senza luogo ed anno.</div><a id="catalogo-note-text-toggle-2149" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    <span class="catalogo-pb" id="page_372">372</span>
               </span></section>