<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3421">
                     <span class="catalogo-item-label">3421.</span> <span class="catalogo-bibl"><span class="catalogo-author">Le NOIR Aléxandre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3421">Musée des monumens francois ou description historique et chronologique des statues en
marbre, et en bronze, bas reliefs et tombeaux pour servir à l’histoire de France, et à celle de l’art, augmentée

                     
                     
                        d’une dissertation sur les costumes de chaque siécle</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1800 a 1803</span>, vol. 6, in 8, fig.
<div id="catalogo-note-text-3421" class="catalogo-note truncate-line-clamp">Le numerose tavole di quest’opera molto estesa disegnate dall’autore e da M. Percier sono intagliate da Guyot.
Al quinto tomo in fine trovasi un indice di materie amplissimo e il sesto volume riguarda la pittura sul vetro e
specialmente le pitture della favola di Psiche e Cupido tolta dai disegni di Raffaello: ma è duopo notare non
essere presa in realtà da quei disegni, che gli scolari di Marcantonio ci conservarono secondo la favola
d’Apulejo, trovandosi appena in qualche luogo rimembranza, o plagio dei medesimi. La raccolta dei monumenti
illustrati in quest’opera era grandissima, ora però nuovamente dispersa con poco successo.</div><a id="catalogo-note-text-toggle-3421" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>