<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2832">
                     <span class="catalogo-item-label">2832.</span> <span class="catalogo-bibl"><span class="catalogo-author">ERIZZO Sebastiano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2832">Discorso sopra le medaglie antiche con la particolar dichiarazione di molti riversi</a></span>, Venezia,
Valgrisio, <span class="catalogo-date">1559</span>, in 8, fig.
<div class="catalogo-note">Edizione elegante pei tipi e per le medaglie di bella e fresca impressione in legno, ma più imperfetta che le
posteriori.</div>
</span></section>