<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="371">
                  <span class="catalogo-item-label">371.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALBERTI Leonis Baptistae</span>
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/371"> florentini viri clarissimi, Lib. de re aedificatoria, Lib. X, opus
	integrum et absolutum etc., Parisiis. Opera Magistri Bertholdi Rembolt et Ludovici Hornken,</a></span>
	                    <span class="catalogo-date">1512,</span> die vero 23 Augusti, <span class="catalogo-extent">in 4.</span>
                  </span>
	                 <div class="catalogo-note">L’edizione è elegante: il frontespizio ornato degli stemmi dell’editore ben intagliati in legno. A tergo 32 versi di
	Battista Siculo in lode dell’autore: nel secondo foglietto una dedica dell’edizione a due letterati alemanni, dietro
	cui le lodi dell’autore dal Poliziano dirette a Lorenzo de Medici. Seguono 5 foglietti colla tavola dei capitoli e
	sette con la tavola delle dizioni e materie, in tutto 14 foglietti avanti il testo, che dal foglietto i procede sino al 147 bello esemplare in mar. dor.</div>
               </section>