<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3897">
                     <span class="catalogo-item-label">3897.</span> <span class="catalogo-bibl"><span class="catalogo-author">VASI Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3897">Delle magnificenze di Roma antica, e moderna, disegnate ed incise secondo lo stato presente, con
una spiegazione istorica del padre Giuseppe Bianchini veronese</a></span>, libri dieci in fol. obl., <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">dal 1747 al 1761</span>,
legata in due grossi volumi.

                     
                     
<div class="catalogo-note collapse">Opera di 200 tavole intagliate in rame bene abbastanza, ed eseguita con molta cura. Gli esemplari freschi di
questi volumi sono divenuti rari al presente.</div>
</span></section>