<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="478">
                  <span class="catalogo-item-label">478.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">Le CLERC</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/478"> Traité de geometrie théorique, et pratique à l’usage des artistes,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1774,</span>
                     <span class="catalogo-extent"> in 8.
	Con 53 tavole in rame,</span> il numero delle quali ricomincia ad ogni capitolo.</span>
	
	              </section>