<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="78">
                  <span class="catalogo-item-label">78.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BARDON Dandré</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/78">Histoire universelle traitée rélativement aux arts de peindre et de sculpter; ou
	  tableau de l’ histoi <span class="catalogo-pb" id="page_13">13</span> re enrichi de connaissances etc.,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1769,</span>
                     <span class="catalogo-extent"> 3, vol. 12.</span>
                  </span>
	                 <div class="catalogo-note">Le opere di questo autore hanno per iscopo il comodo insegnamento agli artisti e passano fra le migliori.</div>	  
	              </section>