<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4003">
                     <span class="catalogo-item-label">4003.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4003">ECCLESIARUM Angliae et Galliae prospectus. Vues de toutes les cathédrales d’Angleterre et du Pais de Galles, des
eglises de Westminster et de Sonthevell, et de la Chapelle Royale de S. George à Windsor, avec une relation
historique etc.</a></span>, <span class="catalogo-pubPlace">London</span>, chez Jos. Smith, <span class="catalogo-date">1719</span>, in fol. gr., fig.
<div class="catalogo-note collapse">Con 35 gran tavole intagliate in rame accuratamente, e le spiegazioni storiche in francese, e in inglese. Edizione
rara a trovarsi.</div>
</span></section>