<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1549">
                  <span class="catalogo-item-label">1549.</span> <span class="catalogo-bibl"><span class="catalogo-author">A. D.</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/1549">Les divers portraicts et figures faictes sur les moeurs des habitans du nouveau monde
    dedié à Jean le Roy Escuyer Sieur de la Boissiere gentilhomme Poictevin cherisseur des
    Muses</a></span>, M. 105.
    <div class="catalogo-note collapse">Sono 13 piccola stampe oblonghe, delle quali ciascuna ha quattro compartimenti ove sono intagliate ed ai numeri
    2 e 9 sta la marca dell’intagliatore A. D. in corsivo iniziali. Oltre 12 tavole è anche nella stessa forma intagliato e
    figurato il frontespizio.</div>
    
    </span></section>