<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="42">
                  <span class="catalogo-item-label">42.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MILIZIA Francesco</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/42"> Dell’arte di vedere nelle belle arti del disegno secondo i principi di Sultzer e
	  di Mengs,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span>
                     <span class="catalogo-date"> 1781,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note collapse">Terribile opuscolo che rovesciò il sistema di scrivere, e di pensare in materia d’arti e che secondo alcuni è pieno
	  d’eresie. Ma siamo debitori a questo scrittore pieno di dottrina e d’ingegno d’aver tolto il velo a una folla di
	  pregiudizi, e di veder introdotta una libera maniera di giudicare in materia d’arti.</div>
               </section>