<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2768">
                     <span class="catalogo-item-label">2768.</span> <span class="catalogo-bibl"><span class="catalogo-author">BELLORII</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2768">Adnotationes nunc primum evulgatae in duodecim priorum Caesarum numismata ab Enea Vico olim
edita</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1730</span>, in fol., fig. Vedi anche all’articolo Monterchi.
<div class="catalogo-note collapse">Con 84 tavole intagliate in rame con diligenza.</div>
</span></section>