<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2009">
                  <span class="catalogo-item-label">2009.</span> <span class="catalogo-bibl"><span class="catalogo-author">De CAVALLERUS Jo. Bap.</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2009"> Romanorum Imperatorum effigies elogiis ex diversis scriptoribus
  per Thomam Treterum collectis</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1583</span>, in 8.
  <div class="catalogo-note collapse">Contiene questo volume 156 ritratti da Cesare a Massimiliano II intagliati in rame.</div>
  
  </span></section>