<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4778">
                     <span class="catalogo-item-label">4778.</span> <span class="catalogo-bibl"><span class="catalogo-author">FRANCESCHI Giacomo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4778">Igéa de’ Bagni, e più particolarmente di quelli di Lucca, edizione seconda</a></span>, <span class="catalogo-pubPlace">Lucca</span> <span class="catalogo-date">1820</span>, in
8.
</span></section>