<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1343">
                  <span class="catalogo-item-label">1343.</span> <span class="catalogo-bibl"><span class="catalogo-author">REZZONICO della Torre Castone</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1343">Discorsi Accademici relativi alle Belle Arti e rime varie</a></span>,
    <span class="catalogo-pubPlace">Parma</span> <span class="catalogo-date">1772</span>, in 8, fig. Parti 2.
    <div id="catalogo-note-text-1343" class="catalogo-note truncate-line-clamp">Cinque eleganti rami, oltre gran numero di vignette dell’ incisore Benigno Bossi ornano questa edizione
    elegante, la cui prima parte è destinata alle prose, la seconda ai versi.</div><a id="catalogo-note-text-toggle-1343" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>