<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2448">
                  <span class="catalogo-item-label">2448.</span> <span class="catalogo-bibl"><span class="catalogo-author">LAVATER Jean Gaspar</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2448">Essai sur la physiognomie destiné à faire connoître l’homme et a le
    faire aimer</a></span>, à <span class="catalogo-pubPlace">la Haye</span>, chez Jacques Van Karnebeek, <span class="catalogo-date">1783 al 1800</span>, vol. 4, in 4, mas. fig.
    <div class="catalogo-note">Questa grand’opera ricchissima di tavole intagliate in rame, qual più, qual meno accuratamente, racchiude tutte
    le possibili nozioni in questa materia e in gran parte è fondata sull’esperienza e le migliori osservazioni, la quale
    poi finisce, come tutte le opere ove si fonda un tenace sistema, coll’essere portata all’assurdità: magnifico
    esemplare in vit. dor.</div>
    
    </span></section>