<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4146">
                     <span class="catalogo-item-label">4146.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4146">OBSERVATIONS sur l’Italie, et sue les italiens don <span class="catalogo-pb" id="page_263">263</span> née en 1764 sous les noms de deux gentilhommes
svédois</a></span>. Par l’auteur du livre intitule Londres, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1774</span>, vol. 4, in 12.
</span></section>