<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1036">
                  <span class="catalogo-item-label">1036.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1036">RIME in morte di Giampietro Zanotti</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1766</span>, in 8.
      <div class="catalogo-note">Scrissero in quest’occasione uomini sommi Frugoni, Paradisi, Bonafede, Fusconi, Savioli, Cassiani, Pagnini,
      Scarselli, Soave, Cesarotti e molti altri. Col ritratto del Zanotti in fronte.</div>
      
      </span></section>