<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2771">
                     <span class="catalogo-item-label">2771.</span> <span class="catalogo-bibl"><span class="catalogo-author">BERTOLDI Leopoldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2771">Parere sopra un basso rilievo di ferro fuso esistente nel Museo Numismatico di Ferrara</a></span>,
<span class="catalogo-pubPlace">Ferrara</span> <span class="catalogo-date">1715</span>, fig., in 8, M. 35.
</span></section>