<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4387">
                        <span class="catalogo-item-label">4387.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4387">RICREAZIONE pittorica, ossia notizia universale di tutte le pitture di Verona esposta da un incognito. Divertimento
pittorico al dilettante passeggiere, che contiene le pitture della diocesi</a></span>, parte seconda, <span class="catalogo-pubPlace">Verona</span> <span class="catalogo-date">1720</span>, in 16.
<div class="catalogo-note">Quest’operetta è fatta da un anonimo, e non manca di essere utile, e interessante.</div>
</span></section>