<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2632">
                     <span class="catalogo-item-label">2632.</span> <span class="catalogo-bibl"><span class="catalogo-author">VERMIGLIOLI Giovan Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2632">Sepolcro etrusco chiusino dichiarato nelle sue epigrafi</a></span>, <span class="catalogo-pubPlace">Perugia</span> <span class="catalogo-date">1818</span>, in 8, M. 97.
<div class="catalogo-note collapse">Il monumento vedesi sul frontespizio.</div>
<span class="catalogo-pb" id="page_24">24</span>
                  </span></section>