<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="882">
                  <span class="catalogo-item-label">882.</span> <span class="catalogo-bibl"><span class="catalogo-author">BERGIER Nicolas</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/882">Histoire des grands chemins de l’Empire Romain</a></span>: 2 vol., <span class="catalogo-pubPlace">Bruxelles</span> <span class="catalogo-date">1736</span>, en
      4, fig.
      <div id="catalogo-note-text-882" class="catalogo-note truncate-line-clamp">Quest’opera è la più dotta che noi conosciamo in questa materia e meritevole d’esser tenuta in gran pregio:
      sonovi alcune tavole collocate ai luoghi voluti dal testo, ma osservisi bene che mai non mancasse al fine la
      magnifica e immensa tavola cosi intitolata Tabula itineraria ex illustri Pentingerorum Bibliotheca, quae Aug.
      Vind. beneficio Marci Velseri septemviri Angustani in lucem edita.</div><a id="catalogo-note-text-toggle-882" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>