<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2124">
                  <span class="catalogo-item-label">2124.</span> <span class="catalogo-bibl"><span class="catalogo-author">VALLI Antonio da Todi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2124">Il canto degli augelli, dove si dichiara la natura di sessanta sorte
  d’uccelli che cantano etc. con le loro figure e venti sorte di caccia cavate dal naturale da
  Antonio Tempesti</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1601</span>, in 4, fig.
  <div class="catalogo-note">Il frontespizio è figurato e sonovi 50 tavole in rame colle illustrazioni. Alcune di queste tavole furono riprodotte
  nella uccelliera dell’Olina. I libri, che servirono a’ piaceri della caccia, finirono spesso a fanciullesco trastullo
  per l’amenità dei soggetti e vennero logorati senz’essere riprodotti, motivo spe <span class="catalogo-pb" id="page_367">367</span> cialmente della loro
  rarità, oltre che alcuni, siccome i due enunciati, tono eseguiti da buoni disegnatori.</div>
  
  </span></section>