<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3057">
                     <span class="catalogo-item-label">3057.</span> <span class="catalogo-bibl"><span class="catalogo-author">VICO</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3057">Le immagini delle donne Auguste intagliate in istampa di rame con le vite, et isposizioni sopra i <span class="catalogo-pb" id="page_93">93</span>
riversi delle loro medaglie antiche</a></span>, in <span class="catalogo-pubPlace">Vinegia</span>, presso Enea Vico Parmigiano e Vincenzo Valgrisio all’insegna
d’Erasmo, <span class="catalogo-date">1557</span>, in 4.
<div class="catalogo-note">Con bellissimo frontespizio figurato. Dedicato al cardinale Ippolito d’Este e 61 tavole coi ritratti delle donne
Auguste ornati e figurati.</div>
</span></section>