<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4525">
                        <span class="catalogo-item-label">4525.</span> <span class="catalogo-bibl"><span class="catalogo-author">PAILLET</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4525">Catalogue des tableaux des trois écoles, desseins, bronzes, marbres etc. du Cabinet de M. le Roy de la
Faudiguere</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1786</span>, in 8.
</span></section>