<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1012">
                  <span class="catalogo-item-label">1012.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRIGHENTIO Andrea Patavino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1012">Villa Burghesia, vulgo Pinciana, poetice descripta</a></span>, <span class="catalogo-pubPlace">Romae</span>,
      apud Franciscum Gonzagam, <span class="catalogo-date">1716</span>, in 8, fig.
      <div class="catalogo-note collapse">Le tavole sono di cattivo disegno e peggiore intaglio, ma nullameno furono avanti prodotte nella descrizione
      della villa del Montelatici.</div>
      
      </span></section>