<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2820">
                     <span class="catalogo-item-label">2820.</span> <span class="catalogo-bibl"><span class="catalogo-author">DE DIONISIIS Jacobus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2820">De monetis veronensibus praesertim sub Ezelino conflatis, epistolae</a></span>, <span class="catalogo-pubPlace">Veronae</span> <span class="catalogo-date">1779</span>, in
fol., M. 17.
</span></section>