<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1507">
                  <span class="catalogo-item-label">1507.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1507">DÉSCRIPTION des fêtes données par la ville de Paris à l’occasion du mariage de Mad. Louise
    Elisabeth de France et de D. Philippe Enfant d’Espagne le 49 aôut 1739</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1740</span>, in fol.
    atlant. figur.
    <div class="catalogo-note collapse">In tutto le tavole sono 15 intagliate e disegnate da I. F. Blondel, Jac. Rigaud e altri primari artefici.</div>
    

                  
                  
    MDCCXL
    
    </span></section>