<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1171">
                  <span class="catalogo-item-label">1171.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1171">LETTERA di un amico a un Accademico di S. Luca sopra alcuni decreti di quell’Accademia
    pubblicati contro il pittore Marco Benefial</a></span>, <span class="catalogo-pubPlace">Livorno</span> <span class="catalogo-date">1757</span>, in 4, M. 15 e 25.
    <div class="catalogo-note collapse">Non sono che diatribe e pedanterie accademiche curiose e nauseose a vedersi.</div>
    
    </span></section>