<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="323">
                  <span class="catalogo-item-label">323.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/323">FACILLIMA methodus delineandi omnes humani corporis partes,</a></span> 
                     <span class="catalogo-extent">in fol.,</span>
                  </span> ex Tipographoeio
	Remondiniano veneto.
	<div class="catalogo-note collapse">Questa è un’edizione delle stesse tavole che trovansi nell’Esegrenio; ma logore assai.</div>
	
	              </section>