<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4788">
                     <span class="catalogo-item-label">4788.</span> <span class="catalogo-bibl"><span class="catalogo-author">INGHIRAMI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4788">Alcune figuline di Arezzo esposte</a></span>, <span class="catalogo-pubPlace">Badia Fiesolana</span> <span class="catalogo-date">1820</span>, in 4, fig.
<div class="catalogo-note">Con 4 tavole in rame colorate. Undici copie soltanto vennero stampate di questo opuscolo estratto dalla
grand’opera di questo autore come leggesi nella pagina a retro del frontespizio, ove è indicato il nome dei
personaggi cui furono destinate.</div>
</span></section>