<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="353">
                  <span class="catalogo-item-label">353.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">RUBENS Pierre Paul</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/353"> Théorie de la figure humaine, considérée dans ses principes soit en répos
	ou en mouvement,</a></span> 
                     <span class="catalogo-pubPlace">Paris,</span> 
                     chez Tombert, 
                     <span class="catalogo-date">1773,</span> 
                     <span class="catalogo-extent">in 4 gr.</span>
                  </span>
	                 <div class="catalogo-note collapse">Col ritratto dell’autore e con tav. 44.</div>
	
	                 <span class="catalogo-pb" id="page_62">62</span>
	                 
	                 
	                 
	
	              </section>