<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4689">
                     <span class="catalogo-item-label">4689.</span> <span class="catalogo-bibl"><span class="catalogo-author">CASALII Jo. Baptistae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4689">De profanis et sacris veteri <span class="catalogo-pb" id="page_321">321</span> bus ritibus opus tripartitum</a></span>, <span class="catalogo-pubPlace">Francofurti et Hannoverae</span>
<span class="catalogo-date">1681</span>, in 4.
</span></section>