<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="733">
                  <span class="catalogo-item-label">733.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVIO Pollione</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/733">L’architettura colla traduzione italiana e commento del Mar. Bernardo
	Galliani</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1768</span>, in fol. fig.
	<div class="catalogo-note">Edizione col testo latino a fronte e un corredo di 25 tavole disegnate e non incise corrispondentemente, la quale
	si tiene in pregio e si preferisce alla maggior parte dell’edizioni con commenti.</div>
	
	</span></section>