<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2079">
                  <span class="catalogo-item-label">2079.</span> <span class="catalogo-bibl"><span class="catalogo-author">PASSEO Crispino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2079">Metamorphoseon Ovidianarum Typi aliquot artificiosissime delineati cum
  gratiam studiosae juventutis editi per Crispianum Passeum Zoelandum Calcographum anno
  sal. Hum.</a></span>, <span class="catalogo-date">1602</span>, in 4, obl.
  <div class="catalogo-note">Segue in un altro foglietto un avviso al lettore ed ambedue i fogli sono istoriati ed incisi e seguiti da 109 tavole
  in rame di singolar bellezza, nelle quali direbbesi che l’autore superasse sé stesso.</div><div id="catalogo-note-text-2079" class="catalogo-note-search-results truncate-line-clamp">Segue in un altro foglietto un avviso al lettore ed ambedue i fogli sono istoriati ed incisi e seguiti da 109 tavole
  in rame di singolar bellezza, nelle quali direbbesi che l’autore superasse sé stesso.</div><a id="catalogo-note-text-toggle-2079" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>