<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3230">
                     <span class="catalogo-item-label">3230.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIAMBULLARI Pier Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3230">Del sito forma e misura dell’Inferno di Dante</a></span>, <span class="catalogo-pubPlace">Firenze</span>, per Neri Dortellata, <span class="catalogo-date">1544</span>,
in 8.
<div class="catalogo-note">In principio e in fine è l’arca di Noè col motto di Dante e <span class="catalogo-pb" id="page_115">115</span> l’ortografia per la pronuncia è esposta in
questo curioso libretto egualmente a quella del Convito di Platone. Ved. Ficino Marsilio.</div>
</span></section>