<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3356">
                     <span class="catalogo-item-label">3356.</span> <span class="catalogo-bibl"><span class="catalogo-author">VENNI Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3356">Elogio storico delle gesta del B. Odorico dell’ordine de’ min. conventuali colla storia da lui
dettata de’suoi Viaggi Asiatici presentata agli amatori delle antichità e illustrata</a></span>, <span class="catalogo-pubPlace">Venezia</span>, Zatta, <span class="catalogo-date">1761</span>, in fol.,
fig.
<div class="catalogo-note">In principio è una gran tavola intagliata da un quadro di Domenico Scaramuccia, che rappresenta questo
viaggiatore battezzando alcune persone e alla p. 36 altra gran tavola con sarcofago e antichità.</div>
</span></section>