<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3439">
                     <span class="catalogo-item-label">3439.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3439">PITTURE di Antonio Allegri detto il Correggio. Descrizione d’una pittura di Antonio Allegri detto il Correggio</a></span>, in
16.
<div class="catalogo-note">Lo stampatore Bodoni pubblicò questo libretto in quel momento che distendevasi la grand’opera.</div>
</span></section>