<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1039">
                  <span class="catalogo-item-label">1039.</span> <span class="catalogo-bibl"><span class="catalogo-author">De’ ROSSI Giovanni Gherardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1039">Scherzi poetici e pittorici</a></span>, <span class="catalogo-pubPlace">Parma</span>, coi tipi Bodoniani, <span class="catalogo-date">1795</span>, in
      fol. pic.
      <div class="catalogo-note">I quaranta brevi componimenti poetici dal poeta sono espressi in altrettante tavole disegnate ed incise dal sig.
      Giuseppe Tekeira portoghese. Elegante e splendida edizione: dedicata al C. Alessandro di Souza ministro di
      Portogallo in Roma.</div><div id="catalogo-note-text-1039" class="catalogo-note-search-results truncate-line-clamp">I quaranta brevi componimenti poetici dal poeta sono espressi in altrettante tavole disegnate ed incise dal sig.
      Giuseppe Tekeira portoghese. Elegante e splendida edizione: dedicata al C. Alessandro di Souza ministro di
      Portogallo in Roma.</div><a id="catalogo-note-text-toggle-1039" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>