<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1513">
                  <span class="catalogo-item-label">1513.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1513">ESEQUIE reali per la morie dell’Augusto re cattolico delle Spagne Filippo V, Borbone
    solennemente celebrate nella metropolitana chiesa di Palermo</a></span>, <span class="catalogo-pubPlace">Palermo</span> <span class="catalogo-date">1747</span>, in fol. fig.
    <div id="catalogo-note-text-1513" class="catalogo-note truncate-line-clamp">Con due gran tavole in rame e l’orazione funerale in fine scritta da Vincenzo Pupella.</div><a id="catalogo-note-text-toggle-1513" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    <span class="catalogo-pb" id="page_260">260</span>
    MDCCXLIX
    
    </span></section>