<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2520">
                     <span class="catalogo-item-label">2520.</span> <span class="catalogo-bibl"><span class="catalogo-author">DENON</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2520">Viaggio del basso ed alto Egitto illustrato</a></span>, <span class="catalogo-pubPlace">Firenze</span>, presso Giuseppe Tofani, <span class="catalogo-date">1708</span>, vol. 2, in fol., fig.
<div id="catalogo-note-text-2520" class="catalogo-note truncate-line-clamp">Gli editori di Firenze intesero di illustrare quest’opera con alcune note ed aggiunte e col premettere alcune tavole
per una più chiara intelligenza. Fu adoperato in ciò il chiarissimo ab. Fontani bibliotecario della Riccardiana; ma
il segreto del <span class="catalogo-pb" id="page_9">9</span> le note ed illustrazioni si fu per poter ristampare a Firenze (suddita allora della Francia)
un’opera pubblicata a Parigi, senza aver l’apparenza di ledere la proprietà e gli interessi dell’autore. Nondimeno
questa seconda edizione e prima italiana, non cede all’edizione originale ed è eseguita con molta diligenza. Le
tavole sono in numero di 544.</div><a id="catalogo-note-text-toggle-2520" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>