<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="905">
                  <span class="catalogo-item-label">905.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/905">DESCRIZIONE della stufa di Pensilvania inventata dal Sig. Fraudili</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1788</span>, in 8, fig. M.
      
                  
                  
      51.
      <div class="catalogo-note collapse">Con una tavola intagliata in rame.</div>
      
      </span></section>