<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="591">
                  <span class="catalogo-item-label">591.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/591">PACIOLO frate Luca di Borgo S. Sepolcro, Summa de arithmetica, geometria, proporzioni e
	pro-portionalità,</a></span> 
                     <span class="catalogo-pubPlace">Venezia,</span> 
                     per Paganino, 
                     <span class="catalogo-date">1494,</span> 
                     <span class="catalogo-extent">in f. fig.</span>
                  </span>
	                 <div class="catalogo-note">Sul frontespizio sia il sommario dell’opera, e dietro un indirizzo a Marco Sanudo inviandogli il libro dedicato già
	al Duca d’Urbino, come in seguito vedesi per la lettera italiana e latina ove sono infinite cognizioni d’artisti
	allora viventi.</div><div id="catalogo-note-text-591" class="catalogo-note-search-results truncate-line-clamp">Sul frontespizio sia il sommario dell’opera, e dietro un indirizzo a Marco Sanudo inviandogli il libro dedicato già
	al Duca d’Urbino, come in seguito vedesi per la lettera italiana e latina ove sono infinite cognizioni d’artisti
	allora viventi.</div><a id="catalogo-note-text-toggle-591" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 <div class="catalogo-note">Seguono poi altri sommari delle cinque parti dell’opera e la tavola delle materie e il testo procede poi per 224
	fogli oltre i prolegomeni. Il trattato di geometria colle figure impresse sui margini ricomincia con nuovo numero
	di tavole dall’1 sino al foglio 76, ove è il privilegio e il registro.</div><div id="catalogo-note-text-591" class="catalogo-note-search-results truncate-line-clamp">Seguono poi altri sommari delle cinque parti dell’opera e la tavola delle materie e il testo procede poi per 224
	fogli oltre i prolegomeni. Il trattato di geometria colle figure impresse sui margini ricomincia con nuovo numero
	di tavole dall’1 sino al foglio 76, ove è il privilegio e il registro.</div><a id="catalogo-note-text-toggle-591" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>