<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3640">
                     <span class="catalogo-item-label">3640.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAMERON Charles</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3640">The baths of the romans explaines, and illustrates with the restotration of Palladio corrected,
and improved</a></span>, <span class="catalogo-pubPlace">London</span>, George Scott, <span class="catalogo-date">1772</span>, in fol., fig.

                     
                     
<div class="catalogo-note collapse">Grande e magnifica opera con 75 tavole, non compreso il frontespizio di Palladio in principio, e gran numero del
vignette; il testo è in inglese e in francese, il primo in 65, e il secondo in 68 pagine ec. Esemplare in mar. dor.</div>
</span></section>