<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="575">
                  <span class="catalogo-item-label">575.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">Le MUET</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/575">Maniere de bâtir pour toute sortes de personnes,</a></span> 
                     <span class="catalogo-pubPlace">Paris,</span> 
                     chez Jombert et Barbou,
	                    <span class="catalogo-date">senza data,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Falsamente questa si intitola egualmente seconda edizione, quantunque quattro almeno deggiono averla
	preceduta. Dopo il frontespizio è il ritratto dell’autore e seguono poi le tavole d’altro intaglio unite al testo,
	parimente inciso in rame. Le tavole sono 106 e forse gli editori intesero di dirla seconda edizione, in riguardo
	agiuntagli, mentre in tutte le precedenti avevano servito le tavole originali.</div><div id="catalogo-note-text-575" class="catalogo-note-search-results truncate-line-clamp">Falsamente questa si intitola egualmente seconda edizione, quantunque quattro almeno deggiono averla
	preceduta. Dopo il frontespizio è il ritratto dell’autore e seguono poi le tavole d’altro intaglio unite al testo,
	parimente inciso in rame. Le tavole sono 106 e forse gli editori intesero di dirla seconda edizione, in riguardo
	agiuntagli, mentre in tutte le precedenti avevano servito le tavole originali.</div><a id="catalogo-note-text-toggle-575" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>