<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3659">
                     <span class="catalogo-item-label">3659.</span> <span class="catalogo-bibl"><span class="catalogo-author">CASSIO Alberto</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3659">Corso delle acqua antiche portate da lontane contrade sopra quattordici acquedotti nelle
quattordici regioni di Roma, e delle moderne in essa nascenti, vol. 2</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1756 e 1757</span>, in 4, fig.
<div class="catalogo-note">Opera grande e preziosa fatta con molto studio e dottrina <span class="catalogo-pb" id="page_181">181</span> con tavole stampate in legno fra il testo, e il
ritratto dell’autore in principio.</div>
</span></section>