<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3760">
                     <span class="catalogo-item-label">3760.</span> <span class="catalogo-bibl"><span class="catalogo-author">LAURI</span>. <span class="catalogo-title"><a class="catalog-link" href="/catalog/3760">Antiquae urbis aplendor etc.</a></span>
<div id="catalogo-note-text-3760" class="catalogo-note truncate-line-clamp">Questa edizione divisa in tre parti soltanto, sebbene abbia un numero di tavole minore delle posteriori, è di
maggior pregio per la freschezza delle stampe: e poiché non vi sono alcune dichiarazioni ed indici, il libro non è
che di carte 132, e le parti indicate portano le date come nel primo.</div><a id="catalogo-note-text-toggle-3760" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>