<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3401">
                     <span class="catalogo-item-label">3401.</span> <span class="catalogo-bibl"><span class="catalogo-author">LANDON</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3401">Annales du Musée et de l’école moderne des beaux arts</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1801, 1810</span>, 17 vol., in 8, gravés au trait:
ou a ajouté a cette suite paysages et tableaux de genre. Paris 1805, in 4, vol. in 8, et le Salon du 1808. In tutto
vol. 22.
</span></section>