<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4627">
                     <span class="catalogo-item-label">4627.</span> <span class="catalogo-bibl"><span class="catalogo-author">VERNET Carlo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4627">e Orazio figlio</a></span>.
<div class="catalogo-note">Raccolta fatta da noi di 72 tavole di cavalli diversi, parte intagliati in rame, e parte in litografia. Incominciando
dalle parti elementari della testa del cavallo in grande, offrono la più bella serie che sia mai stata disegnata de’
studj per l’intelligenza delle parti, e del movimento di questo nobilissimo animale. Prove scelte, delle quali 32
tavole sono in gran quarto, e 40 in foglio atlantico.</div><div id="catalogo-note-text-4627" class="catalogo-note-search-results truncate-line-clamp">Raccolta fatta da noi di 72 tavole di cavalli diversi, parte intagliati in rame, e parte in litografia. Incominciando
dalle parti elementari della testa del cavallo in grande, offrono la più bella serie che sia mai stata disegnata de’
studj per l’intelligenza delle parti, e del movimento di questo nobilissimo animale. Prove scelte, delle quali 32
tavole sono in gran quarto, e 40 in foglio atlantico.</div><a id="catalogo-note-text-toggle-4627" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
<span class="catalogo-pb" id="page_314">314</span>
                  </span></section>