<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3878">
                     <span class="catalogo-item-label">3878.</span> <span class="catalogo-bibl"><span class="catalogo-author">SAVII Zamosci Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3878">De Senatu romano, libri duo, Venetiis, apud Jordanum Zilettum</a></span>, <span class="catalogo-date">1563</span>, in <span class="catalogo-pb" id="page_219">219</span> 4.
Questo libro sta anche nelle antichità del Grevio, t. I.
— Aggiuntovi: <span class="catalogo-author">Guerini Pisonis Soacii T. C. Patavini</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3878">De romanorum et venetorum magistratum inter se
comparatione, libellus</a></span>, <span class="catalogo-pubPlace">Patavii</span>, <span class="catalogo-date">1653</span>, ap. M. Ant. de Galassis, in 4.
</span></section>