<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3775">
                     <span class="catalogo-item-label">3775.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARIANUS Andreas bononiensis</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3775"> Ruinarum Romae epigrammata quibus miranda urbis agnoscuntur, sacra
visitantur, nova et vetera elogiis recensentur</a></span>, <span class="catalogo-pubPlace">Bononiae</span>, typis Jo. Montii, <span class="catalogo-date">1641</span>, in 8, prima edizione.
<div class="catalogo-note">Libretto elegantemente scritto, e stampato. Fu riprodotto due anni dopo con correzioni, ed aggiunte, che
consistono in alcune prose ed elogi. Questo autore fu medico, e professore in Mantova, in Pisa, e in patria.</div>
</span></section>