<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="727">
                  <span class="catalogo-item-label">727.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/727">Les dix livres d’architecture corrigés et traduits nouvellement en français avec des
	notes et des figures par Claude Perrault</a></span>, <span class="catalogo-pubPlace">Paris</span> chez Coignard, <span class="catalogo-date">1663</span>, in fol. fig. premiere
	edition.
	<div class="catalogo-note collapse">Questa prima edizione della versione di Perrault non è preferibile alla seconda, se non in quanto alla maggior
	freschezza delle bellissime tavole di cui va ornata. Di due generi sono queste, poiché le grandi in numero di 64
	sono intagliate in rame e le piccole in legno sono collocate fra il testo.</div>
	
	</span></section>