<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="745">
                  <span class="catalogo-item-label">745.</span> <span class="catalogo-bibl"><span class="catalogo-author">VEDREMAN Joannes</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/745">Architectura</a></span>, <span class="catalogo-pubPlace">Antuerpia</span> <span class="catalogo-date">1577</span> in fol. fig. M. 91, in lingua olandese.
	<div class="catalogo-note">Apparisce però ristampata nel 1581; poiché amendue i numeri sono intagliati sul frontespizio figurato in luoghi
	diversi. È singolare l’applicazione degli ordini fatta da questo autore agli edifici moderni e barbaro lo stile e le
	proporzioni con cui sono figurati.</div><div id="catalogo-note-text-745" class="catalogo-note-search-results truncate-line-clamp">Apparisce però ristampata nel 1581; poiché amendue i numeri sono intagliati sul frontespizio figurato in luoghi
	diversi. È singolare l’applicazione degli ordini fatta da questo autore agli edifici moderni e barbaro lo stile e le
	proporzioni con cui sono figurati.</div><a id="catalogo-note-text-toggle-745" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>