<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1986">
                  <span class="catalogo-item-label">1986.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAUR Jo. Wilhelmi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1986">Le Metamorfosi d’Ovidio col frontesp. in tedesco</a></span>, <span class="catalogo-pubPlace">Vienne d’Austrie</span>
    <span class="catalogo-date">1641</span>, in 4.
<div class="catalogo-note collapse">    Edizione originale in 150 tavole di freschissimo e bellissimo intaglio all’acqua forte M. 107.
</div>    
    </span></section>