<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="586">
                  <span class="catalogo-item-label">586.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">ORSINI Latino</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/586">Trattato del radio latino, con i Commentari del P. Ignazio Danti,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1586,</span> 
                     <span class="catalogo-extent">in
	8, fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Ottimo opuscoletto di 112 pagine ben impresso con buone tavole in legno riportate fra il testo.
	</div>
	              </section>