<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3005">
                     <span class="catalogo-item-label">3005.</span> <span class="catalogo-bibl"><span class="catalogo-author">SMIDS Ludolphi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3005">Romanorum Imp. Pinacotheca sive XII Imp. simulacra exornata elogiis et historia</a></span>, <span class="catalogo-pubPlace">Amstelodami</span>
<span class="catalogo-date">1699</span>, in 4, fig.
— Accedit <span class="catalogo-title"><a class="catalog-link" href="/catalog/3005">Jo. Georgii Eccardi Epistola de nummis quibusdam sub regimine Theodorici etc.</a></span>, <span class="catalogo-pubPlace">Hanoverae</span> <span class="catalogo-date">1720</span>, in
4, fig.
<div id="catalogo-note-text-3005" class="catalogo-note truncate-line-clamp">Il frontespizio figurato fu intagliato da Adriano Schoonebeek. Le tavole dei dodici Cesari a cavallo sono quelle
inventate da Giovanni Stradano e intagliate da Crispino dal Passo, ma logore, alle quali è stato raschiato il nome
dell’incisore: an <span class="catalogo-pb" id="page_84">84</span> nesse a queste sono altre 12 tavole delle medaglie imperiali e al fine una singolare tavola
della Roma resurgens dello stesso.</div><a id="catalogo-note-text-toggle-3005" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>