<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2046">
                  <span class="catalogo-item-label">2046.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2046">HORAE intemerata Dei Genitricis firginis Maria; secundum usum Romanae Ecclesiae ossia
  officia quotidiana sive Horae B. M. brevi pulcherrimoque stilo atque ordine compositae,
  secundum usum Romanae Ecclesiae: cum pluribus memoriis et devotissimis orationibus illis
  annexis. Finem sumpsisse cernens o lector devotissime, Deo et sui scorregnantibus gratias
  age, Impressoremque Thielmannum Kerver (Almae universitatis Parisiensis librarium
  juratum in Magno Vico o Jacobi ad Signum Cratis commorantem) lauda: qui hoc opus
  Parisiis impressit. Anno ab incarnatone Dei millesimo quingentesimo septimo, die prima
  mensis Februarii.</a></span>
  <div id="catalogo-note-text-2046" class="catalogo-note truncate-line-clamp">Questi due scritti l’uno a tergo dell’altro stanno nell’ultimo fogli di stampa. I fogli sono 152 impressi da ciascun
  lato con un contorno istoriato e figurato indipendentemente dalle tavole principali che sono meno belle dei
  contorni. È incredibile la varietà delle storie che sono espresse in questi lavori in legno: gli esemplari più
  accreditati sono in pergamena e miniati. Kerver ristampò questo ufficio più volte e siccome questa è una delle
  prime impressioni, o forse la prima, cosi le stampe hanno il pregio della freschezza originale senza aiuto del
  pennello. Esemplare di prima legatura e conservazione.</div><a id="catalogo-note-text-toggle-2046" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>