<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="233">
                  <span class="catalogo-item-label">233.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">Da VINCI Lionardo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/233">Trattato della pittura di nuovo ristampato e corretto,</a></span> 
                     <span class="catalogo-pubPlace">Napoli</span>, presso
	  Francesco Ricciardo, <span class="catalogo-date">1733</span>, a spese di Niccola e Vincenzo Rispoli.</span>
	                 <div id="catalogo-note-text-233" class="catalogo-note truncate-line-clamp">Questa è una ristampa dell’edizione precedente; ma uno de’ pochissimi esemplari in carta grande.</div><a id="catalogo-note-text-toggle-233" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>