<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="608">
                  <span class="catalogo-item-label">608.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">PERUCCI Orazio</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/608">Porte d’architettura rustica date <span class="catalogo-pb" id="page_110">110</span> in luce da Francesco suo figlio,</a></span>
	                    <span class="catalogo-pubPlace">Reggio</span> 
                     <span class="catalogo-date">1634,</span> 
                     <span class="catalogo-extent">in foglio.</span>
                  </span>
	                 <div class="catalogo-note">Sono porte 18 in altrettante tavole che sono sullo stile di quelle del Vignola. Quest’opera non è a molti nota
	quantunque di bello stile e sebbene le stampe siano state pulitamente intagliate dal Coriolano.</div><div id="catalogo-note-text-608" class="catalogo-note-search-results truncate-line-clamp">Sono porte 18 in altrettante tavole che sono sullo stile di quelle del Vignola. Quest’opera non è a molti nota
	quantunque di bello stile e sebbene le stampe siano state pulitamente intagliate dal Coriolano.</div><a id="catalogo-note-text-toggle-608" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>