<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4736">
                     <span class="catalogo-item-label">4736.</span> <span class="catalogo-bibl"><span class="catalogo-author">POLI Paolo Anton</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4736">Della religione dei Gentili, per riguardo ad alcuni animali e specialmente topi. Dissertazione
per illustrare un’antica statua, e per intelligenza d’alcuni passi della Storia Sacra</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1771</span>, in 4, fig.
<div class="catalogo-note collapse">La statua è rappresentata in tre vedute, oltre alcune altre incisioni relative alla materia, collocate come vignette
nel corso dell’opera, la quale è divisa in tre parti. L’Apollo Saurotono è figurato nel frontespizio: e l’opuscolo è
prezioso per le dottrine. Mar. dor.</div>
</span></section>