<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2788">
                     <span class="catalogo-item-label">2788.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRUNACCI Giovanni</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/2788">Monete tre Estensi illustrate</a></span>, <span class="catalogo-pubPlace">Padova</span> <span class="catalogo-date">1763</span>, in 4, fig., M. 17.
<div class="catalogo-note">Stampate sulle pagine del testo.</div>
</span></section>