<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3120">
                     <span class="catalogo-item-label">3120.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3120">INSCRIPTIONES antiquae basilicae Sancti Pauli ad viam Ostiensem</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1654</span>, in fol., Christianorum
inscriptiones 487, Ethnicorum 174, Graecae 56, con indici ec. M. 82.
</span></section>