<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="835">
                  <span class="catalogo-item-label">835.</span> <span class="catalogo-bibl"><span class="catalogo-author">EUCLIDE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/835">La prospettiva, tradotta dal P. Egnazio Danti</a></span>. Aggiuntavi <span class="catalogo-title"><a class="catalog-link" href="/catalog/835">la prospettiva di Eliodoro
	Larisseo Greco e Latino</a></span>, <span class="catalogo-pubPlace">Firenze</span>, pei Giunti, <span class="catalogo-date">1573</span>, in 4, picc. fig.; in fine: Aggiunte <span class="catalogo-title"><a class="catalog-link" href="/catalog/835">le
	annotazioni al trattato dell’astrolabio e del planisfero universale del P. Danti fatte da Gherardo
	Spini</a></span>, <span class="catalogo-pubPlace">Firenze</span>, pel Sermartelli, <span class="catalogo-date">1570</span>, in 4.
	<div class="catalogo-note collapse">Aureo libro per ciò che riguarda gli uomini sommi che vi concorsero; ma la prospettiva vi è trattata come
	obiettiva e secondo le leggi fisiche dell’ottica non troppo sviluppate per la loro applicazione alle pratiche
	dell’arte.</div>
	
	</span></section>