<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1514">
                  <span class="catalogo-item-label">1514.</span> <span class="catalogo-bibl"><span class="catalogo-author">DALLE LASTE Natale</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1514">Lettera inedita e MS. che descrive le feste date in Casa Foscarini alli
    Carmini in Venezia alla Corte di Modena</a></span>, nell’Agosto <span class="catalogo-date">1749</span>.
    <div id="catalogo-note-text-1514" class="catalogo-note truncate-line-clamp">Questo letterato insieme al Forcellini furono spettatori di quelle feste e la descrizione si estende con infinita
    grazia anche sulle cose le più minute.</div><a id="catalogo-note-text-toggle-1514" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCCXLIX
    

                  
                  
    
               </span></section>