<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3696">
                     <span class="catalogo-item-label">3696.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3696">DESCRIZIONE di Roma antica, e moderna</a></span>, <span class="catalogo-pubPlace">Roma</span>, ad istanza di Giovan Domenico Franzini per Andrea Fei, <span class="catalogo-date">1643</span>, in
8, fig.
<div class="catalogo-note collapse">Libro di circa 800 pagine con numero grande di intagli in legno assai cattivi. Le nozioni sono copiosissime in ogni
genere d’antichità sacra, e profana. Questa è sempre la Roma di Federico Franzini.</div>
<span class="catalogo-pb" id="page_187">187</span>
                  </span></section>