<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1150">
                  <span class="catalogo-item-label">1150.</span> <span class="catalogo-bibl"><span class="catalogo-author">COCCHI (Antonio)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1150">Lettera critica sopra un manoscritto in cera</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1746</span>, in 4, M. 26.
    <div class="catalogo-note collapse">Il manoscritto sembra giudicarsi del XIV secolo: ma con tutto ciò non cessa d’essere singolare.</div>
    
    </span></section>