<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1048">
                  <span class="catalogo-item-label">1048.</span> <span class="catalogo-bibl"><span class="catalogo-author">CICOGNARA Leopoldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1048">Del Bello: Ragionamenti sette</a></span>, <span class="catalogo-pubPlace">Firenze</span>, presso Molini e Landi, <span class="catalogo-date">1808</span>,
      in 4 (ma stampati in <span class="catalogo-pubPlace">Pisa</span>).
      <div class="catalogo-note">Non intese l’autore di aver con questi esaurita la materia e si propose di produrre in seguito un secondo volume
      sullo stesso argomento.</div>
      
      </span></section>