<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1710">
                  <span class="catalogo-item-label">1710.</span> <span class="catalogo-bibl"><span class="catalogo-author">MEOLA Gio. Vin.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1710">Dissertazione intorno le gabbiuole degli uccelli avute in uso dagli antichi</a></span>,
  
                  
                  
  
  <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1767</span>, in 8, fig. M. 35.
  <div class="catalogo-note">Con alcuni monumenti nel frontespizio e fra il testo intagliati in rame.</div>
  
  <span class="catalogo-pb" id="page_296">296</span>
               </span></section>