<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2049">
                  <span class="catalogo-item-label">2049.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2049">ILLUSTRIUM philosophorum et sapientium effigies ab eor. numismatibus extractae</a></span>, edizione
  in 4.
  <div class="catalogo-note collapse">Contiene settantacinque carte delle quali una serve al frontespizio, un’altra a un singolare avviso ai lettori: e
  settantatré ritratti che sembrano disegnati in caricatura con pochi cenni intagliati sotto i medesimi, relativi
  all’indole dei personaggi: senza anno, luogo e fiore di stampatore. Presumesi nel 1680, Venezia.</div>
  
  </span></section>