<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3597">
                     <span class="catalogo-item-label">3597.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARTOLI Santi Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3597">Gli antichi sepolcri, ovve <span class="catalogo-pb" id="page_171">171</span> ro mausolei romani, ed etruschi trovati in Roma, ed altri
luoghi celebri ne’ quali si contengono molte erudite memorie, raccolti, disegnati, e intagliati da Pietro Santi
Bartoli</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1704</span>, in fol., esemplare di dedica.
<div class="catalogo-note collapse">Opera è questa magnifica, nella quale l’incisore superò se stesso per la finezza dell’esecuzione, e per compensare
colla squisitezza dell’intaglio la mancanza d’illustrazione, essendo allora morto il Bellori. Sono però bastanti
indicazioni a spiegazione delle 110 tavole, che accompagnano il prezioso volume.</div>
</span></section>