<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="69">
                  <span class="catalogo-item-label">69.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALBERTI</span> Romano della Città di Borgo S. Sepolcro, <span class="catalogo-title"><a class="catalog-link" href="/catalog/69">Trattato della nobiltà della pittura composto
	  ad instanza dell’Accademia di S. Luca, </a></span>
                     <span class="catalogo-pubPlace">Roma</span>
                     <span class="catalogo-date"> 1585,</span> 
                     per Francesco Zanetti, 
                     <span class="catalogo-extent">in 4.</span>
                  </span>
	                 <div class="catalogo-note collapse">Edizione elegante di un eruditissimo opuscolo.</div>
	              </section>