<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1504">
                  <span class="catalogo-item-label">1504.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1504">La SONTUOSA illuminazione della città di Torino per lo sposalizio di Carlo Emmanuele ed
    Elisabetta di Lorena con l’aggiunta della sposizione della Santa Sindone</a></span>, in italiano e in
    francese, <span class="catalogo-pubPlace">Torino</span> <span class="catalogo-date">1787</span>, in fog. fig.
    <div id="catalogo-note-text-1504" class="catalogo-note truncate-line-clamp">14 ricche e grandi tavole ornano l’edizione. Vi furono impiegati diversi architetti per l’invenzione e
    principalmente Ignazio Massoni e il Vittone, siccome gl’intagli di vairi autori sono fatti con diligenza e con
    lusso.</div><a id="catalogo-note-text-toggle-1504" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCCXXXVII
    
    </span></section>