<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3523">
                     <span class="catalogo-item-label">3523.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAFFEI Paolo Alessandro</span>, <div class="catalogo-note collapse">Raccolta di statue antiche e moderne colla sposizione a ciascuna imagine di Paolo
Alessandro Maffei</div>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1704</span>, in foglio.
<div class="catalogo-note collapse">Sono tavole 163 intagliate da Dorigny, Francesco Aquila, Pailly ed altri buoni intagliatori. Date in luce da
Domenico de’ Rossi.</div>
</span></section>