<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1238">
                  <span class="catalogo-item-label">1238.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARLI Rubbi Agostino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1238">Dissertazione sopra il corpo di S. Marco Evangelista, riposto nella
    Basilica di S. Marco in Venezia</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1811</span>, in 8.
    </span></section>