<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1245">
                  <span class="catalogo-item-label">1245.</span> <span class="catalogo-bibl"><span class="catalogo-author">COMPAGNINI Raimondo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1245">Verità di fatto a schiarimento di un Libercolo dato alle stampe da
    pochi principianti d’architettura e dedicato agli amatori della verità</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1775</span>, in 8.
    — Aggiuntavi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1245">Dilucidazione di fatto contro ai sentimenti di pochi principianti d’architettura
    presentata al pubblico da Raimondo Compagnini</a></span>, <span class="catalogo-pubPlace">Cremona</span>, in 8, M. 31.
    </span></section>