<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1740">
                  <span class="catalogo-item-label">1740.</span> <span class="catalogo-bibl"><span class="catalogo-author">PACIAUDI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1740">De Beneventano Cereris Augustae mensore</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1753</span>, in 4, fig M. 21.
  <div class="catalogo-note">Col frontespizio figurato e qualche tavola fra il testo.</div>
  
  </span></section>