<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3317">
                     <span class="catalogo-item-label">3317.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3317">RAGIONAMENTO apologetico di Aceste Italico a Filalete in risposta alle riflessioni fatte sopra un disegno del
cavaliere Giovan Francesco Buonamicj</a></span>. Senza luogo, né anno; relativa a una cappella moderna eretta nella
cattedrale di Cagli, in 8, M. 87.
</span></section>