<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3492">
                     <span class="catalogo-item-label">3492.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAVALLERIIS Johan. Baptista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3492">Antiquarum statuarum urbis Romae: primus, et secundus liber</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1585</span>,
constat tab. 100.
— <span class="catalogo-title"><a class="catalog-link" href="/catalog/3492">Accedit tertius, et quartus liber</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1594</span>, tabulae 100.
— Nel fine: accedit Urbis Romae de Cavalleriis aeneis tabulis repraesentatae 1569, constat cartarum 50, in 4.
Non è facile trovare esemplari completi, freschi e ben conservati delle 200 statue del Cavalieri.
</span></section>