<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4368">
                        <span class="catalogo-item-label">4368.</span> <span class="catalogo-bibl"><span class="catalogo-author">LOREDANO Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4368">Vita di Alessandro III Pontefice Massimo</a></span>, <span class="catalogo-pubPlace">Venezia</span>, <span class="catalogo-date">1637</span>, per il Sarzina, in 8.
— Aggiuntavi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/4368">La vittoria navale ottenuta dalla Repubblica Veneziana contro Ottone figliuolo di Federico I
Imperatore; e la restituzione di Alessandro III venuto a Venezia, descritta da Girolamo Bardi fiorentino</a></span>, <span class="catalogo-pubPlace">Venezia</span>,
presso Francesco Ziletti, <span class="catalogo-date">1585</span>.
<div id="catalogo-note-text-4368" class="catalogo-note truncate-line-clamp">Libri utilissimi per la spiegazione delle pitture riguardanti i fasti patrj, che si vedono nel Palazzo Ducale di
Venezia.</div><a id="catalogo-note-text-toggle-4368" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>