<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3887">
                     <span class="catalogo-item-label">3887.</span> <span class="catalogo-bibl"><span class="catalogo-author">STERNE Giovanni </span> architetto romano, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3887">Piante, elevazioni, profili, e spaccati degli edifici della villa suburbana di
Giulio III fuori di Porta Flaminia</a></span>, <span class="catalogo-pubPlace">Roma</span>, per Antonio Fulgoni, <span class="catalogo-date">1784</span>, in fol. atlantico.
<div class="catalogo-note">Questo lavoro è fatto colla massima intelligenza da un artista assai distinto, e non lascia di far conoscere
l’incomodo della sua forma eccessivamente grande per collocarlo, e per osservarlo.</div>
</span></section>