<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1929">
                  <span class="catalogo-item-label">1929.</span> <span class="catalogo-bibl"><span class="catalogo-author">PARADIN M. Claude Chanoine de Beaujen</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1929">Dévises héroiques</a></span>, à <span class="catalogo-pubPlace">Lyon</span>, par Jean de Tournes et
    Guil. Gazeau, <span class="catalogo-date">1557</span>, in 12.
    <div class="catalogo-note">Edizione elegantissima per le belle 174 incisioni in legno. <span class="catalogo-bibl">Vedi anche <span class="catalogo-author">d’Amboise</span></span>.</div>
    
    </span></section>