<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4124">
                    <span class="catalogo-item-label">4124.</span>
		    <span class="catalogo-bibl"><span class="catalogo-author">WORM Olai D.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4124">Danicorum
		    monumentorum lib. VI e spissis antiquitatum
		    tenebris et in Dania ac Norvegia extantibus
		    ruderibus eruti</a></span>, <span class="catalogo-pubPlace">Hafniae</span> <span class="catalogo-date">1643</span>, in fol.,
		    fig.</span>

		     <div class="catalogo-note collapse">Il frontespizio è intagliato da Simon dal
		     Passo regio scultore in Danimarca. Le numerose
		     tavole in legno sono collocate fra il testo. Si
		     osservi però sempre che alla p. 345 non manchi la
		     tavola due piedi lunga ove è rappresentato il
		     famoso corno d’oro trovato da una fanciulla per
		     caso presso un albero nel 1639. In fine al
		     volume, che ritiensi per raro specialmente in
		     Italia, trovasi anche l’opera seguente dello
		     stesso autore.</div>
		  </section>