<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1762">
                  <span class="catalogo-item-label">1762.</span> <span class="catalogo-bibl"><span class="catalogo-author">PINELLI Bartolommeo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1762">Nuova raccolta di 50 costumi pittoreschi incisi all’acqua forte</a></span>, <span class="catalogo-pubPlace">Roma</span>
  <span class="catalogo-date">1816</span>, in fol.
  <div id="catalogo-note-text-1762" class="catalogo-note truncate-line-clamp">Questi cono tolti la più parte dalle abitudini del popolo romano e sono espressi con una verità e fedeltà
  insuperabile.</div><a id="catalogo-note-text-toggle-1762" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>