<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1535">
                  <span class="catalogo-item-label">1535.</span> <span class="catalogo-bibl"><span class="catalogo-author">MORELLI Ab. Jacopo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1535">Descrizione delle feste ce <span class="catalogo-pb" id="page_264">264</span> lebrate in Venezia per la venuta di
    Napoleone il Massimo</a></span>, data al pubblico dal Cavaliere abate Morelli R. Bibliotecario, <span class="catalogo-pubPlace">Venezia</span>,
    Picotti, <span class="catalogo-date">1808</span>, in fol. figurato.
    <div class="catalogo-note collapse">Sonovi cinque tavole disegnate dal Borsaio e dal Selva e intagliate da G. Maina e da Perdurando Albertolli assai
    pulitamente.</div>
    MDCCCX
    
    </span></section>