<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1734">
                  <span class="catalogo-item-label">1734.</span> <span class="catalogo-bibl"><span class="catalogo-author">NIEUPOORT</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1734">Explication abrégé des coutumes et cérémonies des Romains</a></span>, à <span class="catalogo-pubPlace">Toulouse</span> <span class="catalogo-date">1783</span>,
  in 12.
  <div id="catalogo-note-text-1734" class="catalogo-note truncate-line-clamp">Quest’opera scritta in latino originariamente qui venne tradotta in francese dall’Ab. ***.</div><a id="catalogo-note-text-toggle-1734" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>