<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3441">
                     <span class="catalogo-item-label">3441.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3441">PITTURE del Salone Imperiale del palazzo di Firenze. Si aggiungono le pitture del Salone e Cortile delle Imperiali
Ville della Petraja e del Poggio a Cajano, opere di varj celebri pittori fiorentini</a></span>, in tav. 26, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1766</span>, in fol.
atl.
<div class="catalogo-note">L’immensa grandezza delle tavole tolse la possibilità di una preziosa esecuzione, che avrebbe costato somme
immense. Gli incisori che lavorarono a grandi e voluminose opere in Firenze, in Roma, in Venezia dovettero
conformare i modi di stile al tempo, al luogo, alle circostanze e alla borsa degli imprenditori non ricchi e che
trovarono migliore speculazione nei modi facili e nei prezzi minori.</div>
</span></section>