<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="661">
                  <span class="catalogo-item-label">661.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SELVA Giovanni Antonio</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/661">Delle differenti maniere di descrivere la voluta ionica e
	particolarmente della regola trovata dal Salvimi con alcune riflessioni sul capitello ionico:
	Dissertazione,</a></span> 
                     <span class="catalogo-pubPlace">Padova</span> 
                     <span class="catalogo-date">1814,</span> 
                     <span class="catalogo-extent">fol. fig., M. 83.</span>
                  </span>
	                 <div class="catalogo-note">Quest’opera è con molto giudizio studiata ed esposta ed <span class="catalogo-pb" id="page_120">120</span> onora l’autore più d’ogni altra sua produzione.
	Riproduce anche il raro opuscolo del Salviati col fac simile delle tavole in legno: e aggiunge quanto la sana
	critica dell’arte poteva suggerirgli; con sei tavole in rame al fine.</div>
	
	              </section>