<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1566">
                  <span class="catalogo-item-label">1566.</span> <span class="catalogo-bibl"><span class="catalogo-author">BACII Andreae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1566">De naturali vinorum historia, de vinis Italiae et de conviviis antiquarii in libri
septem etc.</a></span> apud Nicolaum Mutium, <span class="catalogo-date">1596</span>, <span class="catalogo-pubPlace">Roma</span>; al fine 1597.
                     <div id="catalogo-note-text-1566" class="catalogo-note truncate-line-clamp">    Prima e rara edizione. Esemplare bellissimo secondo la <span class="catalogo-pb" id="page_271">271</span> descrizione di de Bure. Il frontespizio è
    intagliato col ritratto dell’autore e si noti che le due diverse date nello stesso volume hanno condotto in errore
    alcuni bibliografi credendole due edizioni dal vederle enunziate diversamente, ma e una sola.
    </div><a id="catalogo-note-text-toggle-1566" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>