<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1293">
                  <span class="catalogo-item-label">1293.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1293">ANTOLOGIA romana</a></span>, Giornale che include tutto ciò che ha relazione colle produzioni delle

                  
                  
    
    arti; stampato in <span class="catalogo-pubPlace">Roma</span>, vol. 24, in 4. Questa collezione ha il suo principio dal <span class="catalogo-date">1774</span> e termina
    al <span class="catalogo-date">1797</span>.
    <div id="catalogo-note-text-1293" class="catalogo-note truncate-line-clamp">Tutte quest’opere periodiche sulle arti stampate in Roma sono difficili a riunirsi. Le principali sono l’antologia,
    le Effemeridi Letterarie, il Giornale di Manlio, le Memorie per le Belle Arti, i monumenti inediti antichi di
    Guattani e le Memorie Enciclopediche dello stesso: vi si possono aggiungere le Orazioni Accademiche di
    Campidoglio. Questa numerosa raccolta di volumi forma il complesso più ampio e più interessante.</div><a id="catalogo-note-text-toggle-1293" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>