<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3791">
                     <span class="catalogo-item-label">3791.</span> <span class="catalogo-bibl"><span class="catalogo-author">MEYER Cornelio ingegnere olandese</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3791">L’arte di restituire a Roma la tralasciata navigazione del suo Tevere</a></span>, divisa
in tre parti, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1683</span>, coi nuovi ritrovamenti 1689, in fol., fig., prima edizione.
<div id="catalogo-note-text-3791" class="catalogo-note truncate-line-clamp">Quest’opera è da tenersi in gran pregio per la ricchezza delle notizie, e per la molta bellezza delle tavole intagliate
da ottimi artisti. Non pare che questa prima edizione sia conosciuta dai biografi, che citano soltanto quella del
1685, ma avvi moltissima diversità dall’una all’altra, essendo la prima bellissima e pregievolissima per le stampe,
ma essendo poi nella seconda quantità di aggiunte e specialmente nel libro dei ritrovamenti aumentato d’una
seconda parte, il qual libro è singolare per le belle indicazioni, e disegni di meccaniche invenzioni.
Trovansi tra l’una e l’altra delle due opere riunite 8 fogli di decreti della R. Camera Apostolica numerati a parte, e
stampati in minuti caratteri colla data del 1685 e nel libro dei ritrovamenti in un avviso fa conoscere come da un
francese si pubblicasse il Traité de rendre les rivieres navigables plagiando, e rubbandogli l’opera sua mutilata, e
sfigurandola, e lasciando il meglio.</div><a id="catalogo-note-text-toggle-3791" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>