<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3016">
                     <span class="catalogo-item-label">3016.</span> <span class="catalogo-bibl"><span class="catalogo-author">STOSCH Philippe (Bar de)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3016">Pierres antiques gravées, sur lesquelles les grâveurs ont mis leur nom, expliquées et
traduites en français par de Limiers</a></span>, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1724</span>, in fol., fig.
<div class="catalogo-note collapse">Il testo è latino e francese; ma l’originale latino è da leggersi di preferenza, poiché la versione lo sfigura
totalmente. Le 70 tav. in rame sono intagliate da Ber. Pickard; che non era atto a questo genere d’intaglio e a
concepire il carattere delle pietre antiche, facile, spiritoso, ardito. Le sue incisioni in rame per quanto siano di
bella esecuzione sfigurano lo stile degli antichi intagliatori e riesce gonfio e pesante.</div>
</span></section>