<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1252">
                 <span class="catalogo-item-label">1252.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1252">DESCRIZIONE del dipinto a buon fresco eseguito nella reale Villa di Milano dal Sig. Cav.
		 Andrea Appiani primo Pittore di S.M.I.e R.</a></span>, <span class="catalogo-pubPlace">Parma</span> <span class="catalogo-date">1811</span>, in fol.</span>
		 <div class="catalogo-note collapse">In questi brevi cenni il tipografo Bodoni sfoggiò con eleganza singolare di tipi. Vedi anche Lamberti.</div>
	       </section>