<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="861">
                  <span class="catalogo-item-label">861.</span> <span class="catalogo-bibl"><span class="catalogo-author">SIRIGATTI Lorenzo Cavaliere</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/861">La pratica prospettiva al Serenissimo Ferdinan <span class="catalogo-pb" id="page_159">159</span> do
	Medici Gran Duca di Toscana</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1625</span>, in fol. fig., presso Bernardo Giunti.
	<div id="catalogo-note-text-861" class="catalogo-note truncate-line-clamp">Ristampa della precedente. È singolare che questa medesima ristampa si trova colla data dello stesso anno anche
	intitolata a Ladislao Sigismondo Principe di Polonia e di Svezia.</div><a id="catalogo-note-text-toggle-861" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>