<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="652">
                  <span class="catalogo-item-label">652.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SCAMOZZI</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/652">Idea dell’architettura universale ec.,</a></span> 
                     <span class="catalogo-pubPlace">in Piazzola</span> 
                     <span class="catalogo-date">1687,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Le tavole sono le stesse in numero che nella prima edizione, ma ricopiate e d’inferiore esecuzione. È da notarsi
	che davanti il frontespizio intagliato fu collocata la prima carta figurata col ritratto dell’autore sulla cui lamina
	leggesi scritto dedicata al Cardinal Panfili, la qual carta è un’ addizionale fatta posteriormente all’epoca di
	questa prima ristampa, mentre nel testo e nel frontespizio impresso coi tipi trovasi la prima dedica all’arciduca
	Massimiliano e la dedica al Cardinal Panfili non fu fatta che sulla terza edizione. Probabilmente questo foglio fu
	aggiunto assai dopo, per ornare con ciò anche questi esemplari del ritratto dell’autore.</div>
	
	              </section>