<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="948">
                  <span class="catalogo-item-label">948.</span> <span class="catalogo-bibl"><span class="catalogo-author">PERRAULT</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/948">Recueil de plusieurs machines de nouvelle invention</a></span>, <span class="catalogo-pubPlace">Paris</span>, chez Coignard, <span class="catalogo-date">1700</span>,
      en 4, f.
      <div id="catalogo-note-text-948" class="catalogo-note truncate-line-clamp">Con undici tavole intagliate in rame. Edizione accurata non tanto pei tipi, che per le incisioni.</div><a id="catalogo-note-text-toggle-948" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>