<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3924">
                     <span class="catalogo-item-label">3924.</span> <span class="catalogo-bibl"><span class="catalogo-author">ABELA Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3924">Descrizione di Malta, colle sue antichità, ed altre notizie, libri quattro</a></span>, in <span class="catalogo-pubPlace">Malta</span>, per Paolo
Bonacotta, <span class="catalogo-date">1647</span>, in fol., fig.
<div id="catalogo-note-text-3924" class="catalogo-note truncate-line-clamp">Questa è la prima edizione con alcune cattive tavole fra il testo: si reputa migliore la seconda edizione del 1772,
che venne aumentata e corretta dal cavalier Giovan Antonio Ciantar.</div><a id="catalogo-note-text-toggle-3924" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>