<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2970">
                     <span class="catalogo-item-label">2970.</span> <span class="catalogo-bibl"><span class="catalogo-author">PAULI Sebastiani Lucensis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2970">De nummo aureo Valentis imp. dissertatio</a></span>, 
                        <span class="catalogo-pubPlace">Lucae</span> <span class="catalogo-date">1722</span>, in 8.
<div class="catalogo-note collapse">La medaglia che esisteva presso Apostolo Zeno trovasi intagliata alfine.</div>
</span></section>