<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2148">
                  <span class="catalogo-item-label">2148.</span> <span class="catalogo-bibl"><span class="catalogo-author">BASAN F.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2148">Dictionnaire des graveurs anciens et modernes deux vol. en un vol.</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1789</span>, in
    ottavo fig.
   <div id="catalogo-note-text-2148" class="catalogo-note truncate-line-clamp"> Sonovi molte imitazioni e stampe di vario stile situate fra il testo.
   </div><a id="catalogo-note-text-toggle-2148" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a> </span></section>