<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="976">
                  <span class="catalogo-item-label">976.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOSCHIVI Marco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/976">La carta del navegar pittoresco</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per il Baba, <span class="catalogo-date">1660</span>, in 4, fig.
      <div class="catalogo-note">Operetta interessantissima fatta da un insigne conoscitore delle arti e piena di accorgimento, scritta in dialetto
      veneto, col ritratto dell’autore e una galleria di pitture al fine, in 16 tavole illustrate e inventate dall’autore
      medesimo.</div>
      
      </span></section>