<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="583">
                  <span class="catalogo-item-label">583.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">OPERNORD</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/583">Livre contenant 12 cartouches propres aux édifìces et aux ouvrages de tous les
	beaux arts,</a></span> 
                     <span class="catalogo-extent">in fol. obl.</span>
                  </span>
	                 <div class="catalogo-note">Trovansi queste unite in un volume con altre tavole di decorazioni d’interne parti negli edifici di un gusto
	detestabile.</div>
	
	                 <span class="catalogo-pb" id="page_105">105</span>
	              </section>