<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3428">
                     <span class="catalogo-item-label">3428.</span> <span class="catalogo-bibl"><span class="catalogo-author">OESTERREICHER Mathias</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3428">Déscription et expliquation des groupes, sta <span class="catalogo-pb" id="page_143">143</span>tues etc. qui forment la colléction
de S. M. le Roi de Prusse</a></span>, <span class="catalogo-pubPlace">Berlin</span> <span class="catalogo-date">1774</span>, en 8.
<div class="catalogo-note">Questo autore aveva buona critica, era artista e i suoi libretti sono interessanti e divenuti rari.</div>
</span></section>