<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2741">
                     <span class="catalogo-item-label">2741.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAJERI Jo. Jacobi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2741">Gemmarum affabre sculptarum thesaurus, quem suis sumptibus collegit Jo. Mar. ab Ebermayer
norimbergensis, digessit et recensuit I. I. Bajerus</a></span>, <span class="catalogo-pubPlace">Norimb</span>. <span class="catalogo-date">1720</span>, in fol. g.
<div class="catalogo-note">Il disegno del Gazofilacio intagliato in rame precede il frontespizio e seguono 30 tavole diligentemente disegnate
ed incise, con gran numero di gemme. Opera delle migliori escite dai tipi di Norimberga in quell’epoca.</div>
</span></section>