<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3843">
                     <span class="catalogo-item-label">3843.</span> <span class="catalogo-bibl"><span class="catalogo-author">POSTERLA Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3843">Istorico racconto, ossia perfetta relazione del quanto si è operato nel trasporto dell’antica
colonna Antonina, e sua elevazione</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1705</span>, in 4, M. 40.
</span></section>