<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="181">
                  <span class="catalogo-item-label">181.</span> 
                  PILES (de),
	  	
	  	                 
                        <span class="catalogo-item-label">1.</span> 
                        <span class="catalogo-bibl">
                         
                           <span class="catalogo-title"><a class="catalog-link" href="/catalog/181 181.1"> Recueil de divers ouvrages sur la peinture et le coloris,</a></span> 
                           <span class="catalogo-pubPlace">Paris</span> 
                           <span class="catalogo-date">1775,</span> 
                           <span class="catalogo-extent">in 12.</span>
                        </span>
                     

	                    
                        <span class="catalogo-item-label">2.</span> 
                        <span class="catalogo-bibl">
                           <span class="catalogo-author"/>
                           <span class="catalogo-title"><a class="catalog-link" href="/catalog/181 181.2">Cours de peinture par principe,</a></span> 
                           <span class="catalogo-pubPlace">Paris</span> 
                           <span class="catalogo-date">1791</span>.</span>
                     
	                    
                        <span class="catalogo-item-label">3.</span> 
                        <span class="catalogo-bibl">
                           <span class="catalogo-author"/>
                           <span class="catalogo-title"><a class="catalog-link" href="/catalog/181 181.3">Abregé de la vie des peintres avec des réflexions sur leurs ouvrages,</a></span> 
                           <span class="catalogo-pubPlace">Paris</span> 
                           <span class="catalogo-date">1767.</span>
                        </span>
                     
	                    
                        <span class="catalogo-item-label">4.</span> 
                        <span class="catalogo-bibl">
                           <span class="catalogo-author"/>
                           <span class="catalogo-title"><a class="catalog-link" href="/catalog/181 181.4">L’art de la peinture de C. A. du Fresnoy, traduit par de Piles,</a></span> 
                           <span class="catalogo-date">1783.</span>
                        </span>
                     
	                    
                        <span class="catalogo-item-label">5.</span> 
                        <span class="catalogo-bibl">
                           <span class="catalogo-author"/>
                           <span class="catalogo-title"><a class="catalog-link" href="/catalog/181 181.5">Elémens de peinture pratique,</a></span> 
                           <span class="catalogo-pubPlace">Paris</span> 
                           <span class="catalogo-date">1776.</span>
                        </span>
                     
	                 
	  	              <div class="catalogo-note">Questi cinque volumi contengono le opere principali di questo autore.</div><div id="catalogo-note-text-181" class="catalogo-note-search-results truncate-line-clamp">Questi cinque volumi contengono le opere principali di questo autore.</div><a id="catalogo-note-text-toggle-181" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	              </section>