<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2346">
                  <span class="catalogo-item-label">2346.</span> <span class="catalogo-bibl"><span class="catalogo-author">PINDEMONTE Marc’Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2346">Orazione funebre in morte del March. Scipione Maffei</a></span>, <span class="catalogo-pubPlace">Verona</span>
    <span class="catalogo-date">1755</span>, in 4.

                  
                  
    
               </span></section>