<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="99">
                  <span class="catalogo-item-label">99.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CASANOVA G.</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/99"> Discorso sopra gli antichi e varii monumenti loro per uso degli alunni
	  dell’Elettoral <span class="catalogo-pb" id="page_16">16</span> Accademia delle belle arti di Dresda,</a></span> 
                     <span class="catalogo-pubPlace">Lipsia</span>
                     <span class="catalogo-date"> 1770,</span>
                     <span class="catalogo-extent"> in 4.</span>
                  </span>
	                 <div class="catalogo-note">Le nozioni di questo artista sono dettate con poca critica.</div>	  
	              </section>