<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3638">
                     <span class="catalogo-item-label">3638.</span> <span class="catalogo-bibl"><span class="catalogo-author">CALVI Fabii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3638">Antiquae urbis Romae cum regionibus simulachrum</a></span>, 
                        <span class="catalogo-pubPlace">Romae</span>, mense aprili, Valerius Doricus
Brixiensis impressit, <span class="catalogo-date">1532</span>, in fol., fig.
<div class="catalogo-note">Prima edizione di questo raro libro, le cui tavole sono intagliate in legno</div>.
</span></section>