<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2601">
                     <span class="catalogo-item-label">2601.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAGALOTTI Pietro Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2601">Terni, ossia l’antica Interamna Nahartium, non già colonia, ma municipio dei
romani</a></span>, <span class="catalogo-pubPlace">Foligno</span> <span class="catalogo-date">1795</span>, in 4.
<div id="catalogo-note-text-2601" class="catalogo-note truncate-line-clamp">Vedesi al fine una patera etrusca, che abbiamo anche interpretata dal Vermiglioli.</div><a id="catalogo-note-text-toggle-2601" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>