<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="105">
                  <span class="catalogo-item-label">105.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">COYPEL Charles</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/105"> Discours sur la peinture prononcé dans les conferences de l’Accadémie
	  Royale, sur la necessité de recevoir des avis,</a></span>
                     <span class="catalogo-pubPlace"> Paris</span>
                     <span class="catalogo-date"> 1732,</span>
                     <span class="catalogo-extent"> in 4. </span>Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/105">costituzioni della
	  R.Accademia di Pittura, scultura, architettura, istituita in Parma</a></span>
                     <span class="catalogo-date"> 1760.</span>
                  </span>
	              </section>