<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2637">
                     <span class="catalogo-item-label">2637.</span> <span class="catalogo-bibl"><span class="catalogo-author">VERMIGLIOLI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2637">Del municipio Arnate nell’Umbria nuovamente scoperto in marmo inedito nel Museo Lapidario di
Perugia</a></span>, <span class="catalogo-pubPlace">Perugia</span> <span class="catalogo-date">1819</span>, in 8, M. 8.
</span></section>