<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2027">
                  <span class="catalogo-item-label">2027.</span> <span class="catalogo-bibl"><span class="catalogo-author">EUSTACHE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2027">Les amours d’Ismene et d’Ismenias</a></span>, traduit par Beauchamps, <span class="catalogo-pubPlace">Amst.</span> <span class="catalogo-date">1708</span>, in 8.
  Le tavole sono intagliale da B. Picard.
  <div id="catalogo-note-text-2027" class="catalogo-note truncate-line-clamp">È strana la teoria del bello espressa nel libro 3 ove si dice in proposito della bellezza d’Ismenia: Tutto il di Lei
  viso era un perfetto circolo, ed il naso vi stava, al centro.</div><a id="catalogo-note-text-toggle-2027" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>