<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2658">
                     <span class="catalogo-item-label">2658.</span> <span class="catalogo-bibl"><span class="catalogo-author">CHANDLER Richard, Revett Nicolas, Pars Willian</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2658">Jonian Antiquities</a></span> published with permission of the Society of
Dilettanti, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1769</span>, in fol., fig.
<div id="catalogo-note-text-2658" class="catalogo-note truncate-line-clamp">Quest’opera divisa in due parti, della più gran magnificenza crebbe nello splendore allor quando nel 1797 fu
pubblicata la seconda parte, i cui disegni, gli intagli, i caratteri e la carta presentano il più elegante e magnifico
modello della calcografia e della tipografia.
Ambedue queste parti sono riunite in un solo volume e le stampe intagliate dai primi incisori dell’Inghilterra
sono separatamente numerate al fine di ciascun capitolo.</div><a id="catalogo-note-text-toggle-2658" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>