<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1300">
                  <span class="catalogo-item-label">1300.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOSSI Canonico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1300">Orazione sopra l’utilità delle Belle Arti</a></span>; ossia il trionfo delle Belle Arti
    renduto gloriosissimo sotto gli auspici di Pietro Leopoldo Gran Duca di Toscana in occasione
    di una solenne mostra di opere di disegno antiche, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1767</span>, in 8.
    </span></section>