<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="726">
                  <span class="catalogo-item-label">726.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVII Marci Pollionis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/726">De architectura libri decemn cum notis variorum et alia
	commentaria a Jo <span class="catalogo-pb" id="page_136">136</span> anne de Laet collecta et illustrata</a></span>: <span class="catalogo-pubPlace">Amstelodami</span>, Elzevir, <span class="catalogo-date">1649</span> in
	fot. parv. fig.
	<div class="catalogo-note">Questa è fra le edizioni di questo classico la più ricca di opuscoli vitruviani riprodotti con nitidezza
	d’impressione, e correzione nei testi. Gli elementi d’architettura di Enrico Woton precedono i X libri di Vitruvio,
	poi vengono il vocabolario e gli scamilli del Baldo, il libro della pittura di L. B. Alberti, la Voluta Ionica di
	Nicolo Goldmano, gli opuscoli sulla scultura del Gaurico, del Demonziosio, con molte note del Philandro, del
	Meibomio, del Salmasio e copiosi indici ec. Esemplare in marrocchino dorato.</div><div id="catalogo-note-text-726" class="catalogo-note-search-results truncate-line-clamp">Questa è fra le edizioni di questo classico la più ricca di opuscoli vitruviani riprodotti con nitidezza
	d’impressione, e correzione nei testi. Gli elementi d’architettura di Enrico Woton precedono i X libri di Vitruvio,
	poi vengono il vocabolario e gli scamilli del Baldo, il libro della pittura di L. B. Alberti, la Voluta Ionica di
	Nicolo Goldmano, gli opuscoli sulla scultura del Gaurico, del Demonziosio, con molte note del Philandro, del
	Meibomio, del Salmasio e copiosi indici ec. Esemplare in marrocchino dorato.</div><a id="catalogo-note-text-toggle-726" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>