<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3012">
                     <span class="catalogo-item-label">3012.</span> <span class="catalogo-bibl"><span class="catalogo-author">SPON Jacobi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3012">Recherches curieuses d’antiquité contenues en plusieurs dissertations sur les médailles, bas-reliefs,
statues, mosaiques, inscriptions</a></span>, <span class="catalogo-pubPlace">Lion</span> <span class="catalogo-date">1683</span>, in 4, fig.
<div class="catalogo-note">Sono queste 31 dissertazioni intorno a varj soggetti d’antichità e numismatica, corredate di gran numero di tavole
collocate ai rispettivi luoghi voluti dal testo e nelle esposizioni vi si incontra molta critica e dottrina.</div>
</span></section>