<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="173">
                  <span class="catalogo-item-label">173.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/173">OBSÉRVATIONS historiques et critiques sur les erreurs des peintres, sculpteurs et dessinateurs
	  dans la répresentation des sujets tirés de l’histoire sainte</a></span>, <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1771,</span>
                     <span class="catalogo-extent"> 2 vol. in 12.</span>
                  </span>
	                 <div id="catalogo-note-text-173" class="catalogo-note truncate-line-clamp">L’opera è stesa con molta avvedutezza e profondità di dottrina. In fine al primo volume sta un supplemento al
	  primo capitolo; ed in fine al secondo un avviso che rende conto al pubblico di quest’opera, pubblicato da Bure.</div><a id="catalogo-note-text-toggle-173" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>