<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="214">
                  <span class="catalogo-item-label">214.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SPRETI Camillo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/214">Compendio storico dell’arte di comporre i mosaici, colla descrizione dei
                        mosaici<span class="catalogo-pb" id="page_35">35</span> antichi che trovansi nelle basiliche di Ravenna,</a></span> 
                     <span class="catalogo-pubPlace">Ravenna</span> 
                     <span class="catalogo-date">1804,</span>
                     <span class="catalogo-extent"> in 4.</span>
                  </span>
	                 <div class="catalogo-note">Sono in questo volume due altri ragionamenti sulla pigneta di Ravenna e sulla Repubblica delle Api ec. in car.
	  gra. Vedi per il mosaico anche Fougeroux, Recherches sur les mines d’Herculanum. Vedi Essai sur la peinture
	  en mosaique.</div><div id="catalogo-note-text-214" class="catalogo-note-search-results truncate-line-clamp">Sono in questo volume due altri ragionamenti sulla pigneta di Ravenna e sulla Repubblica delle Api ec. in car.
	  gra. Vedi per il mosaico anche Fougeroux, Recherches sur les mines d’Herculanum. Vedi Essai sur la peinture
	  en mosaique.</div><a id="catalogo-note-text-toggle-214" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	  
	                 
	                 
	                 
	  
	              </section>