<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1707">
                  <span class="catalogo-item-label">1707.</span> <span class="catalogo-bibl"><span class="catalogo-author">MEDICI Paolo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1707">Riti e costumi degli ebrei confutati coll’aggiunta d’una lettera di Nicolò Stratta
  già rabbino ebreo</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1788</span>, in 12.
  </span></section>