<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="449">
                  <span class="catalogo-item-label">449.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">BRANCA Giovanni</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/449">Manuale di architettura con figure delineate da Filippo Vasconi,</a></span> 
                     <span class="catalogo-pubPlace">Roma</span>
	                    <span class="catalogo-date">1718,</span>
                     <span class="catalogo-extent"> in 12.</span>
                  </span>
	              </section>