<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2387">
                  <span class="catalogo-item-label">2387.</span> <span class="catalogo-bibl"><span class="catalogo-author">VASETTI Clementino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2387">Notizie intorno al pittore Gasparantonio Baroni Cavalcabò di Sacco</a></span>,
    <span class="catalogo-pubPlace">Verona</span> <span class="catalogo-date">1781</span>, in 8, g.
    </span></section>