<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="134">
                  <span class="catalogo-item-label">134.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GILIO Giovanni Andrea</span> da Fabriano, <span class="catalogo-title"><a class="catalog-link" href="/catalog/134">Due Dialoghi, nel primo de’ quali si ragiona delle parti
	  morali e civili de’ letterati e cortigiani e dell’utile che i principi cavano da’ letterati; nel
	  secondo si tratta degli errori de’ pittori circa le storie,</a></span> 
                     <span class="catalogo-pubPlace">in Camerino,</span> 
                     presso Antonio Gioioso,
	                    <span class="catalogo-date">1564,</span>
                     <span class="catalogo-extent"> in 4.</span>
                  </span>
	                 <div class="catalogo-note collapse">In questo libro è riunito un magazzino d’erudizioni con poco ordine per mettere in evidenza l’autore, senza che le
	  arti ne abbiano tratto profitto. L’edizione è accurata.</div>	  
	              </section>