<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="647">
                  <span class="catalogo-item-label">647.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SAMMICHELI Michele</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/647">I cinque ordini dell’architettura civile, rilevati dalle sue fabbriche,
	descritti e pubblicati con quelli di Vitruvio, Alberti, Palladio, Scamozzi, Serlio, Vignola, dal
	Co. Alessandro Pompei,</a></span> 
                     <span class="catalogo-pubPlace">Verona</span> 
                     <span class="catalogo-date">1735,</span> in fot. fig.</span> 
	                 <div class="catalogo-note collapse">Opera assai giudiziosa ed utile agli artisti che trovano riunite le più interessanti comparazioni. Sonovi le notizie
	storiche de’ suddetti autori coi loro ritratti, e 37 tavole in rame colle rispettive illustrazioni.</div>
	
	              </section>