<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="762">
                  <span class="catalogo-item-label">762.</span> <span class="catalogo-bibl"><span class="catalogo-author">LEVVIS Giacomo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/762">Disegni originali d’architettura per case di città e di campagna con un
	progetto di un teatro</a></span> pubblicati dall’autore in italiano e in inglese, in <span class="catalogo-pubPlace">Londra</span> nel <span class="catalogo-date">1780</span>, in fol.
	<div class="catalogo-note collapse">Opera di bella esecuzione con moltissime preziose invenzioni: sono la grandi tavole in foglio, tra le quali quattro
	sono consecrate al progetto d’un gran teatro per l’opera in Londra.</div>
	
	</span></section>