<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2347">
                  <span class="catalogo-item-label">2347.</span> <span class="catalogo-bibl"><span class="catalogo-author">PINDEMONTE Ippolito</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2347">Elogio del March. Scipione Maffei</a></span>, <span class="catalogo-pubPlace">Verona</span> <span class="catalogo-date">1784</span>, in 8.
    <div class="catalogo-note collapse">Questo letterato amico, cultore, illustratore e benemerito alle arti e alle antichità fu lodato da un’aurea penna, che
    rese più pregievoli gli encomi giustissimi tributati a sì onorevole memoria.</div>
    
    </span></section>