<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1712">
                  <span class="catalogo-item-label">1712.</span> <span class="catalogo-bibl"><span class="catalogo-author">MERCURIALIS Hieron. Foroliv.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1712">De Arte Gymnastica libri sex, editio tertia</a></span>, <span class="catalogo-pubPlace">Venetiis</span>, apud
  Junctas, <span class="catalogo-date">1587</span>, in 4, fig.
  <div class="catalogo-note">Le tavole in questa edizione sono tutte in legno ai luoghi indicati nel testo.</div><div id="catalogo-note-text-1712" class="catalogo-note-search-results truncate-line-clamp">Le tavole in questa edizione sono tutte in legno ai luoghi indicati nel testo.</div><a id="catalogo-note-text-toggle-1712" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>