<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2778">
                     <span class="catalogo-item-label">2778.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOHMERI Justi Christoph.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2778">Programmata III Auspicalia docendi in Academia Julia, de providentia Augustorum,
de Principe Oratore, de Divinitate Scripturae Sacrae</a></span>, <span class="catalogo-pubPlace">Helmstadii</span> <span class="catalogo-date">1717</span>, in 4, M. 57.
<div class="catalogo-note collapse">Con una tavola di medaglioni illustranti il primo programma.</div>
<span class="catalogo-pb" id="page_48">48</span>
                  </span></section>