<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="86">
                  <span class="catalogo-item-label">86.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BONI cavalier Onofrio</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/86"> Riflessioni sopra Michelangelo Buonarroti in risposta a quanto ne scrisse
	  Rolando Freart sig. de Chambray nell’opera Idée de la perfection de la peinture,</a></span>
                     <span class="catalogo-pubPlace"> Firenze,</span>
	                    <span class="catalogo-date"> 1809,</span> 
                     <span class="catalogo-extent">in 8, M. 88.</span>
                  </span>
	                 <div class="catalogo-note">In quest’operetta il Buonarroti fu vendicato con trionfo.</div><div id="catalogo-note-text-86" class="catalogo-note-search-results truncate-line-clamp">In quest’operetta il Buonarroti fu vendicato con trionfo.</div><a id="catalogo-note-text-toggle-86" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>