<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1892">
                  <span class="catalogo-item-label">1892.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1892">EMBLEMS divine and moral, ancient and modern</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1782</span>, in 8, fig.
    <div id="catalogo-note-text-1892" class="catalogo-note truncate-line-clamp">Sono 50 tavole di mediocre intaglio con le illustrazioni in versi inglesi: sesta edizione. Esemplare della Bibl. di
    Malborough.</div><a id="catalogo-note-text-toggle-1892" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>