<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1668">
                  <span class="catalogo-item-label">1668.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUASCO Francesco Eugenio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1668">I riti funebri di Roma pagana descritti</a></span>, <span class="catalogo-pubPlace">Lucca</span> <span class="catalogo-date">1758</span>, in 4, fig.
    <div class="catalogo-note">Le poche tavole intagliate in rame sono inserte fra il testo dell’opera eruditissima.
    </div><div id="catalogo-note-text-1668" class="catalogo-note-search-results truncate-line-clamp">Le poche tavole intagliate in rame sono inserte fra il testo dell’opera eruditissima.
    </div><a id="catalogo-note-text-toggle-1668" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>