<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4060">
                     <span class="catalogo-item-label">4060.</span> <span class="catalogo-bibl"><span class="catalogo-author">PAOLINO da S. Bartolommeo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4060">Viaggio alle Indie Orientali umiliato alla Santità di Pio VI</a></span>, 
                        Roma <span class="catalogo-date">1796</span>, in 4, fig.
<div class="catalogo-note">Sono alcune tavole collocate fra il testo. Opera non dettata da buona critica.</div>
</span></section>