<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4185">
                        <span class="catalogo-item-label">4185.</span> <span class="catalogo-bibl"><span class="catalogo-author">CHIZZOLA Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4185">Le pitture, e sculture di Brescia, che sono esposte al pubblico con un’appendice di alcune
                           private gallerie</a></span>, <span class="catalogo-pubPlace">Brescia</span> <span class="catalogo-date">1760</span>, in 8.
</span></section>