<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1040">
                  <span class="catalogo-item-label">1040.</span> <span class="catalogo-bibl"><span class="catalogo-author">SILOS JO. Michael</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1040">Pinacotheca, sive romana pittura et sculptura lib. duo</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1673</span>, in 8,
      col frontespizio intagliato da Alb. Clouvet, disegnato da Salvator Rosa.
      <div class="catalogo-note collapse">Il primo libro contiene trecento e uno epigrammi sulle pitture principali di Roma, il secondo trecento e due sulle
      sculture: segue un’appendice di 18 odi su vari argomenti e il catalogo alfabetico di tutti gli oggetti descritti.</div>
      
      </span></section>