<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="431">
                  <span class="catalogo-item-label">431.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">BIBIENA Ferdinando Galli</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/431">Architetture e prospettive dedicate a S. M. Carlo VI imperatore de’
	Romani,</a></span> 
                     <span class="catalogo-pubPlace">Augusta</span> 
                     <span class="catalogo-date">1740,</span> 
                     <span class="catalogo-extent">in fol.</span>
	                    <div id="catalogo-note-text-431" class="catalogo-note truncate-line-clamp">Lo sforzo della scienza di questo sommo prospettico non basta a rendere tollerabile il pessimo gusto delle sue
	macchine e decorazioni. In questo volume oltre a 41 tavole delle quali è formato, trovansi alla fine alcuni suoi
	disegni originali.</div><a id="catalogo-note-text-toggle-431" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>