<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1767">
                  <span class="catalogo-item-label">1767.</span> <span class="catalogo-bibl"><span class="catalogo-author">POULLET</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1767">Traicté des tombes et sepultures des defuncts</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1612</span>, in 12.
  — <span class="catalogo-bibl"><span class="catalogo-author">Brisson M. le Presid.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1767">Trois discours extraits de ses mémoires: 1. De l’ordre qui se gardoit
  entre les Romains en deliberation; 2. Des compilations de droits faictes depuis les Lois des
  XII tables jusque a huy.; 3. Du commencement de l’an entre les anciens peuples mieux
  policés</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1609</span>, Chez Jean Millot.</span>
  — <span class="catalogo-bibl"><span class="catalogo-author">Savaron M. Jean</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1767">Traicté que les lettres sont l’ornement des rois et de l’État</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1611</span>,
  chez Jeremie Perier.</span>
  — <span class="catalogo-bibl"><span class="catalogo-author">Gournay</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1767">Egalité des hommes et des femmes à la Reine</a></span>, <span class="catalogo-date">1622</span>, senza luogo.</span>
  <div id="catalogo-note-text-1767" class="catalogo-note truncate-line-clamp">Tutti questi opuscoletti rari e interessanti sono riuniti in un solo volume elegante e per riempire l’ultimo foglio
  dell’ultimo opuscolo trasse l’autore da Orazio e dall’antologia alcuni versi che stampò, unendoli alla traduzione
  francese.</div><a id="catalogo-note-text-toggle-1767" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>