<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3124">
                     <span class="catalogo-item-label">3124.</span> <span class="catalogo-bibl"><span class="catalogo-author">MALVASIAE cav. Caes.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3124">Aelia Laelia Crispis non nata resurgens: expositio legalis</a></span>. Jo. Bap. Colbert dicata,
<span class="catalogo-pubPlace">Bononiae</span> <span class="catalogo-date">1683</span>, in 4.
<div class="catalogo-note">Colla tavola dell’enigmatica iscrizione in principio.</div>
</span></section>