<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1265">
                  <span class="catalogo-item-label">1265.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1265">Le FRONDEUR ou dialogues sur le salon par l’auteur du coup-de-patte et du triumvirat</a></span>, <span class="catalogo-pubPlace">Paris</span>
    <span class="catalogo-date">1785</span>, in 8, M. 86.
    <div class="catalogo-note">Questa è una critica sanguinosa delle opere d’arte esposte in quell’anno agli occhi del pubblico in Parigi.</div>
    
    </span></section>