<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1281">
                  <span class="catalogo-item-label">1281.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1281">RISPOSTA di Tottero improvvisatore plateale pisano al quinto articolo del Tomo V del
    sedicente Giornale Enciclopedico di Firenze</a></span>, <span class="catalogo-pubPlace">Lucca</span> <span class="catalogo-date">1814</span>, in 8, M. 36.
    <div class="catalogo-note">Questa è una diatriba contro il Ciampi or Professore a Varsavia, che aveva nel giornale di Firenze flagellato di
    critiche l’opera dei monumenti di scultura del Campo Santo di Pisa, protestando di avervi parte e prendendo,

                  
                  
    particolarmente di mira un monumento in onore del pittore Tempesti.</div><div id="catalogo-note-text-1281" class="catalogo-note-search-results truncate-line-clamp">Questa è una diatriba contro il Ciampi or Professore a Varsavia, che aveva nel giornale di Firenze flagellato di
    critiche l’opera dei monumenti di scultura del Campo Santo di Pisa, protestando di avervi parte e prendendo,

                  
                  
    particolarmente di mira un monumento in onore del pittore Tempesti.</div><a id="catalogo-note-text-toggle-1281" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>