<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4488">
                        <span class="catalogo-item-label">4488.</span> <span class="catalogo-bibl"><span class="catalogo-author">Le BRUN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4488">Catalogue raisonné de tableaux, marbres, bronzes, etc. du Cabinet de M. de Saint-Foy</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1782</span>, coi
prezzi.
</span></section>