<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1593">
                  <span class="catalogo-item-label">1593.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOETTIGER</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1593">Sabine, ou matinée d’une Dame romaine à la toilette à la fin du premier siecle de
    l’Ere Chrétienne</a></span>; pour servir à l’histoire de la vie privéedes Romains et à l’intelligence des
    auteurs anciens. Traduit de l’allemand de C. St. Boettiger, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1813</span>, in 8, fig.
    <div class="catalogo-note">Opera dottissima ed estesa con piacevole erudizione, ornata di 13 tavole.</div>
    
    <span class="catalogo-pb" id="page_276">276</span>
               </span></section>