<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1516">
                  <span class="catalogo-item-label">1516.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARTOLI Gius.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1516">La vittoria d’Imeneo, festa rappresentata in Torino per le nozze di Vittorio
    Amedeo Duca di Savoia e Maria Antonia Ferdinanda di Spagna</a></span>, <span class="catalogo-pubPlace">Torino</span> <span class="catalogo-date">1750</span>, in 4, fig.
    <div id="catalogo-note-text-1516" class="catalogo-note truncate-line-clamp">I tre disegni furono dei fratelli Gagliarri intagliati con gusto da Le-Bas: e la descrizione di Giuseppe Bartoli.</div><a id="catalogo-note-text-toggle-1516" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCCLI
    
    </span></section>