<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2700">
                     <span class="catalogo-item-label">2700.</span> <span class="catalogo-bibl"><span class="catalogo-author">PEREZ BAYER Francisco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2700">De la lengua de los Fenices para illustracion de un lugar de Sallustio</a></span>, <span class="catalogo-pubPlace">Madrid</span> <span class="catalogo-date">1772</span>, in
fol., fig., M. 82.
<div class="catalogo-note">Questo forma anche parte della celebre edizione di Sallustio dalla pagina 337 al 338 della quale ne furono tirati a
parte pochi esemplari.</div>
</span></section>