<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3187">
                     <span class="catalogo-item-label">3187.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRACCI Domenico Augusto</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3187">Dissertazione sopra un clipeo votivo spettante alla famiglia Ardaburia</a></span>, trovato nel
1769 presso Orbetello, <span class="catalogo-pubPlace">Lucca</span> <span class="catalogo-date">1771</span>, in 4, fig., M. 13.
<div id="catalogo-note-text-3187" class="catalogo-note truncate-line-clamp">In una gran tavola in rame è intagliato lo scudo.</div><a id="catalogo-note-text-toggle-3187" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>