<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2746">
                     <span class="catalogo-item-label">2746.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARTOLI Pietro Santi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2746">Raccolta di gemme antiche figurate, incise ed illustrate da Michelangelo Causeo de la
Chausse</a></span>, edizione 2, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1805</span>.
<div id="catalogo-note-text-2746" class="catalogo-note truncate-line-clamp">Ristampata malamente per speculazione libraria. Vedi De la Chausse, 2 vol., in 8, fig.</div><a id="catalogo-note-text-toggle-2746" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>