<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="215">
                  <span class="catalogo-item-label">215.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">TAUBENHEIM Charles</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/215"> La cire alliée avec l’huile experimentée, décrite et dediée à l’elécteur
	  par Joseph Fratrel peintre,</a></span> 
                     <span class="catalogo-pubPlace">Manheim</span> 
                     <span class="catalogo-date">1770,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note">Pretende l’autore di aggiungere molta esperienza e chiarezza ai metodi già pubblicati da C. di Caylus nel 1754.
	  In fine sta un’ode di C. di Caux in onore di M. Fratrel.</div>	  
	              </section>