<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="367">
                  <span class="catalogo-item-label">367.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VESALII Brucellensis</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/367">De humani corporis fabrica, libri VII,</a></span> 
                     <span class="catalogo-pubPlace">Venetiis,</span> 
                     ap. Fr. Senensem, 
                     <span class="catalogo-date">1568,</span>
	                    <span class="catalogo-extent">in f. fig.</span>
                  </span>
                  <div class="catalogo-note">	Per quanto esser possa mediocre il pregio di questa edizione, elegantissima però pei tipi, avrà sempre il pregio
	delle tavole in legno intagliate da Giovanni Criegher Pomerano sui preziosi disegni di cui si è parlato nella 1
	edizione.</div><div id="catalogo-note-text-367" class="catalogo-note-search-results truncate-line-clamp">	Per quanto esser possa mediocre il pregio di questa edizione, elegantissima però pei tipi, avrà sempre il pregio
	delle tavole in legno intagliate da Giovanni Criegher Pomerano sui preziosi disegni di cui si è parlato nella 1
	edizione.</div><a id="catalogo-note-text-toggle-367" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>