<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1722">
                  <span class="catalogo-item-label">1722.</span> <span class="catalogo-bibl"><span class="catalogo-author">MOSCHENI Dom. Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1722">De Bagni di Lucca trattato</a></span>, <span class="catalogo-pubPlace">Lucca</span> <span class="catalogo-date">1792</span>, in 8. fig.
  <div id="catalogo-note-text-1722" class="catalogo-note truncate-line-clamp">Con una gran tavola del progetto.</div><a id="catalogo-note-text-toggle-1722" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>