<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2754">
                     <span class="catalogo-item-label">2754.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAYERI Peretii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2754">De l’alfabeto y lengua de los Fenices y de suas Colonias</a></span>, in fol., M. 82.
<div id="catalogo-note-text-2754" class="catalogo-note truncate-line-clamp">Questo scritto è estratto dall’edizione di Sallustio coi medesimi caratteri e le stesse preziose tavole di bellissimo
intaglio, come può vedersi e come lo esprime un’advertentia dell’autore.</div><a id="catalogo-note-text-toggle-2754" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>