<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1720">
                  <span class="catalogo-item-label">1720.</span> <span class="catalogo-bibl"><span class="catalogo-author">MOREAU</span>. <span class="catalogo-title"><a class="catalog-link" href="/catalog/1720">Monument du costume phisique et moral de la fin du XVIII siecle, ou tableau de la
  vie</a></span>: a <span class="catalogo-pubPlace">Neuwied sur le Rhin</span> <span class="catalogo-date">1789</span>, in fol. max. con 25 grandi tavole.
  <div id="catalogo-note-text-1720" class="catalogo-note truncate-line-clamp">Questo libro curiosissimo presenta negli avvenimenti del vita i costumi della metà del secolo decorso con tutta la
  grazia o la caricatura, il che torna allo stesso: e le descrizioni estese sullo stile dei romanzi, rendono più
  caratteristici animate le espressioni del disegno.</div><a id="catalogo-note-text-toggle-1720" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>