<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4754">
                     <span class="catalogo-item-label">4754.</span> <span class="catalogo-bibl"><span class="catalogo-author">VARO fra Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4754">Estratto del trattato circa il <span class="catalogo-pb" id="page_328">328</span> culto, offerte, riti, e ceremonie che praticano i chinesi
ec.</a></span>, in <span class="catalogo-pubPlace">Colonia</span> <span class="catalogo-date">1700</span>, in 12.
</span></section>