<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4532">
                        <span class="catalogo-item-label">4532.</span> <span class="catalogo-bibl"><span class="catalogo-author">Le BRUN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4532">Catalogue des tableaux capiteaux, et objets rares et curieux du Cabinet de M. le Chev. Lambert, et de

                        
                        
M. de Porel</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1787</span>, in 8.
</span></section>