<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1966">
                  <span class="catalogo-item-label">1966.</span> <span class="catalogo-bibl"><span class="catalogo-author">VALERIANI Joannis Pierii beliunensis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1966">Hierogliphica</a></span>, <span class="catalogo-pubPlace">Lugduni</span>, sumptibus Pauli Frelon, <span class="catalogo-date">1602</span>,
    in fol. fig. <div class="catalogo-note">Sono cinquantaotto libri, cui ne vennero aggiunti altri due in fine e dopo l’indice
    copiosissimo trovasi anche il libro pro sacerdotum barbis declamatio e le Opere Poetiche.
    Edizione impressa con buoni tipi, ove incontrasi numero infinito di stampe in legno. Opera vastissima in questa
    materia.</div><div id="catalogo-note-text-1966" class="catalogo-note-search-results truncate-line-clamp">Sono cinquantaotto libri, cui ne vennero aggiunti altri due in fine e dopo l’indice
    copiosissimo trovasi anche il libro pro sacerdotum barbis declamatio e le Opere Poetiche.
    Edizione impressa con buoni tipi, ove incontrasi numero infinito di stampe in legno. Opera vastissima in questa
    materia.</div><a id="catalogo-note-text-toggle-1966" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>