<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2785">
                     <span class="catalogo-item-label">2785.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRACCI Domenico Augusto</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2785">Memorie degli antiche Incisori che scolpirono i loro nomi in gemme <span class="catalogo-pb" id="page_49">49</span> e
cammei</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1784</span>, vol. 2, in fol., italiano e latino.
<div class="catalogo-note">Questo benemerito e infaticabile autore imprese un’opera che avrebbe abbisognato di maggior assistenza per
eseguirla con più gusto. Non cessa però d’esser utile e ben fatta; e quando le incisioni fossero trattate con più
grazia e vi fosse qualche poco di più critica e minor prolissità nel testo, potrebbe tenersi in massimo pregio. Le
tavole delle gemme sono 114 e 46 quelle degli altri monumenti.</div>
</span></section>