<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="554">
                  <span class="catalogo-item-label">554.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/554">MARGARITA Philosophica Ubi de architectura et alia.</a></span> 
                     <span class="catalogo-pubPlace">Argentinae</span> 
                     <span class="catalogo-date">1512,</span> 
                     <span class="catalogo-extent">in 4, fig.</span>
                  </span>
	– <span class="catalogo-bibl">Accedit <span class="catalogo-author">Boetii</span> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/554">libri duo de arithmetica,</a></span> 
                     <span class="catalogo-pubPlace">Venetiis</span> 
                     <span class="catalogo-date">1488.</span> Editio Princeps.</span> 
                  
	              </section>