<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1763">
                  <span class="catalogo-item-label">1763.</span> <span class="catalogo-bibl"><span class="catalogo-author">POLIDORO Virgilio di Urbino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1763">De la origine e degli inventori de le leggi, costumi, scienze,
  arti, ec. di latino in volgare tradotto da Pietro Lauro Modonese</a></span>. <span class="catalogo-pubPlace">Venezia</span>, Giolito, <span class="catalogo-date">1543</span>, in 8.
  <div class="catalogo-note collapse">Opera divisa in otto libri ove si ragiona sa oggetti d’arti e sovra mille altri stravagantissimi argomenti e termina
  con una breve sposizione del Paternoster.</div>
  
  </span></section>