<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1457">
                  <span class="catalogo-item-label">1457.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1457">ERCOLE in Tebe</a></span>, Festa teatrale per le nozze di Cosimo III e Margherita Aloisia, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1661</span>,
    in 8, figurato.
    <div id="catalogo-note-text-1457" class="catalogo-note truncate-line-clamp">Con undici tavole in rame.</div><a id="catalogo-note-text-toggle-1457" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCLXVI
    
    </span></section>