<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2320">
                  <span class="catalogo-item-label">2320.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2320">MEMORIE de’ pittori messinesi</a></span>, <span class="catalogo-pubPlace">Napoli</span>, nella stamperia Reale, <span class="catalogo-date">1792</span>, in 4.
    <div class="catalogo-note">Questo libretto fu fatto stampare dal sig. Filippo Hachert dopo il suo ritorno di Sicilia.</div>
    </span></section>