<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3576">
                     <span class="catalogo-item-label">3576.</span> <span class="catalogo-bibl"><span class="catalogo-author">AMATI Pasquale</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3576">Dissertazione prima sopra alcune lettere del dott. Bianchi di Rimini, e sopra la moderna
inscrizione Savignanese, e il Rubicone degli antichi</a></span>, <span class="catalogo-pubPlace">Faenza</span> <span class="catalogo-date">1761</span>, in 4, M. 58.
</span></section>