<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="404">
                  <span class="catalogo-item-label">404.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/404">ARCHITETTURA (Volume di) civile, militare, idraulica, meccanica, balistica ec. Con numerose
	tavola MS. della fine del sec. XVI,</a></span>
                     <span class="catalogo-extent"> in fol.</span>
                  </span>
	              </section>