<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4139">
                     <span class="catalogo-item-label">4139.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4139"> ITALIAE totius brevis et accurata descriptio</a></span>, <span class="catalogo-pubPlace">Ultrajecti</span> <span class="catalogo-date">1650</span>, in 12.

                     
                     
<div class="catalogo-note">Questa succinta descrizione fa parte della serie de’ piccoli autori delle Repubbliche.</div>
</span></section>