<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4723">
                     <span class="catalogo-item-label">4723.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAROLLES M. l’abbé de Villeloin</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4723">Le temple des Muses orné de LX tableaux ou sont reunis les événemens les
plus rémarquables de l’antiquité fabuleuse dessinés et gravés par Bernard Pickart et autres habils maîtres, et
accompagnés d’explications et de rémarques</a></span>, <span class="catalogo-pubPlace">Amst.</span> <span class="catalogo-date">1733</span>, in fol.
<div class="catalogo-note">Bella edizione con testo ed illustrazioni tolte da quella in 4 del 1676, 3 edizione. Le posteriori del 1742, e 1749
non hanno pregio, poiché le tavole erano sensibilmente logorate ecc.</div>
</span></section>