<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2855">
                     <span class="catalogo-item-label">2855.</span> <span class="catalogo-bibl"><span class="catalogo-author">GARRAULT Francois</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2855"> Les recherches des Monnoyes, poix, et maniere de nombrer des prémieres et plus
                        renommées nations du monde etc. Livres trois au très-chrét. Roy de France et de Pologne Henry III</a></span>,<span class="catalogo-pubPlace"> Paris</span> <span class="catalogo-date">1576</span>,
in 12.
                        <div class="catalogo-note">Sono intagliate in legno le 36 attitudini della mano relative ai diversi numeri, con cui gli antichi solevano
                           esprimere col gesto le quantità</div><div id="catalogo-note-text-2855" class="catalogo-note-search-results truncate-line-clamp">Sono intagliate in legno le 36 attitudini della mano relative ai diversi numeri, con cui gli antichi solevano
                           esprimere col gesto le quantità</div><a id="catalogo-note-text-toggle-2855" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>