<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1511">
                  <span class="catalogo-item-label">1511.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1511">RÉPRESENTATION des fêtes données par la ville da Strasbourg, pour la convalescence du roi à
    l’arrivée et pendant le sejour de sa Maiesté en cette ville</a></span>: avec le portrait gravé par Will,
    imprimé a <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1744</span>, in fol. atlant. fig.
    <div id="catalogo-note-text-1511" class="catalogo-note truncate-line-clamp">Questo è uno dei più magnifici libri di spettacoli eseguito col lusso maggiore che sia possibile. È duopo
    osservare gli esemplari, poiché talvolta mancano del ritratto, staccatovi per le collezioni di stampe, oltre il quale
    sono undici grandi tavole intagliale da le Bas e da altri sulle invenzioni di Weiss senza contare le piccole altre
    incisioni. Tutto il testo parimenti è intagliato con bellissimi caratteri da le Parmentier.</div><a id="catalogo-note-text-toggle-1511" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCCXLVII
    
    </span></section>