<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3043">
                     <span class="catalogo-item-label">3043.</span> <span class="catalogo-bibl"><span class="catalogo-author">VENUTO Rudolphino cortonensi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3043">Antiqua numismata maximi moduli ex Museo Cardinalis Alexandri Albani in
Vaticanam Bibliothecam a Clemente XII translata</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1739 et 1744</span>, in f.
<div class="catalogo-note collapse">Edizione splendida con 120 tavole e ornata di numerose vignette di Stefano della Bella, di Duilos e d’altri
intagliatori di romane antichità.</div>
</span></section>