<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3269">
                     <span class="catalogo-item-label">3269.</span> <span class="catalogo-bibl"><span class="catalogo-author">MATTHAEI Xaverii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3269">Per saturam exercitationes</a></span>, <span class="catalogo-pubPlace">Neapoli</span> <span class="catalogo-date">1759</span>, in 4. Sive de voce Tityrus, de ficu ruminali, de
duplici alba, de Ara maxima, M. 44.
</span></section>