<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2994">
                     <span class="catalogo-item-label">2994.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCALIGERI Josephi, et Freheri Masquardi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2994">Commentatio et diatriba in Constantini Imp. Byzantini numismatis
argentei expositio duplex</a></span>, in 4, fig., <span class="catalogo-date">1504</span>, M. 16.
<div class="catalogo-note">Il gran medaglione di Costantino è intagliato in legno con molta maestria e fedeltà nella stessa grandezza
massima dell’originale. Opuscolo raro.</div>
</span></section>