<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="677">
                  <span class="catalogo-item-label">677.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">TAISNIER Giovanni Hannonio</span>, Opera nuova molto utile necessaria a tutti li architettori,
	geometri, ec. nella quale s’insegna la perfezione della misura di un’altezza, larghezza,
	lunghezza e profondità con grandissima facilità, Ferrara, nella stamperia di Giovanni de
	Buglhat, e Antonio Hucher, compagni nel mese d’aprile 1348, in 8, fig.</span> 
                  
	                 <div id="catalogo-note-text-677" class="catalogo-note truncate-line-clamp">Libretto di trentadue foglietti con varie tavole intagliate in legno: operetta singolare e non facile a trovarsi.</div><a id="catalogo-note-text-toggle-677" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>