<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3304">
                     <span class="catalogo-item-label">3304.</span> <span class="catalogo-bibl"><span class="catalogo-author">PAULINO P. a S. Bartholomeo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3304">Mumiographia musei Obiciani exarata</a></span>, <span class="catalogo-pubPlace">Patavii</span> <span class="catalogo-date">1799</span>, in 4, fig., M. 12 e 78.
<div class="catalogo-note collapse">Con due tavole intagliate in rame.</div>

                     
                     

                  </span></section>