<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="383">
                  <span class="catalogo-item-label">383.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALBERTI Leonis Baptistae</span> florentini, <span class="catalogo-title"><a class="catalog-link" href="/catalog/383">Momus,</a></span> 
                     <span class="catalogo-pubPlace">Romae,</span> 
                     ex aedibus Jacobi Mazocchii, 
                     <span class="catalogo-date">1520,</span>
	                    <span class="catalogo-extent">editio princeps, in 4 parv.</span>
                  </span>
	                 <div class="catalogo-note collapse">Sul frontispizio è l’arme del Cardinale Pietro Accolti anconetano, cui il Mazocchi dedica l’edizione. A tergo del
	frontespizio è il motu proprio di Leone X. Il secondo foglietto contiene la dedicatoria in bellissimi caratteri
	rotondi più piccoli di quelli del testo. Immediatamente segue il testo, diviso in quattro libri e compreso in 96
	foglietti di stampa, sull’ultimo de’ quali è la data. Altri due foglietti seguono; dei quali uno contiene l’errata e
	l’altro è bianco: sono quindi in tutto 100 foglietti. Esemplare bellis. in mar. dor.</div>
	
	              </section>