<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="249">
                  <span class="catalogo-item-label">249.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BENINCASA Bartolommeo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/249">Descrizione della raccolta di stampe del cavalier Durazzo, esposta
	  in una dissertazione sull’arte dell’intaglio e stampa, </a></span>
                     <span class="catalogo-pubPlace">Parma</span> 
                     <span class="catalogo-date">1784</span>, <span class="catalogo-extent">in 4.</span> Col ritratto in principio
	  del collettore.</span>
	                 <div class="catalogo-note">Bellissima edizione resa oggi rara.</div><div id="catalogo-note-text-249" class="catalogo-note-search-results truncate-line-clamp">Bellissima edizione resa oggi rara.</div><a id="catalogo-note-text-toggle-249" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>