<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="790">
                  <span class="catalogo-item-label">790.</span> <span class="catalogo-bibl"><span class="catalogo-author">FEA Carlo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/790">Osservazioni sull’arena e sul podio dell’anfiteatro Flavio, discusse contro quelle del
	Sig. Pietro Bianchi e del Sig. Lorenzo de Romano</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1713</span>, parti due.
	— Aggiuntevi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/790">Le iscrizioni di monumenti pubblici trovate nelle attuali escavazioni dei
	medesimi</a></span>, stesso anno.
	— <span class="catalogo-title"><a class="catalog-link" href="/catalog/790">Le notizie degli scavi nell’anfiteatro Flavio e nel Foro Traiano</a></span>: Le ammonizioni
	criticoantiquarie a vari scrittori del giorno, <span class="catalogo-date">1813</span>.
	— Infine: <span class="catalogo-title"><a class="catalog-link" href="/catalog/790">Nuove osservazioni intorno l’arena nell’anfiteatro Flavio</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1814</span>, in 8.
	<div class="catalogo-note">Alla testa di questi opuscoli trovasi il ritratto dell’autore disegnato da Wicar, intagliato da Fontana e molto
	somigliante.</div><div id="catalogo-note-text-790" class="catalogo-note-search-results truncate-line-clamp">Alla testa di questi opuscoli trovasi il ritratto dell’autore disegnato da Wicar, intagliato da Fontana e molto
	somigliante.</div><a id="catalogo-note-text-toggle-790" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>