<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3226">
                     <span class="catalogo-item-label">3226.</span> <span class="catalogo-bibl"><span class="catalogo-author">GALLEI Servatii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3226">Dissertationes de Sybillis, earum oraculis cum figuris aeneis</a></span>, <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1688</span>, in 4 gr., fig.
<div class="catalogo-note collapse">Opera estesa assai che esaurisce l’argomento, con le tavole delle 12 Sibille, quella col Tempio Tiburtino e il
frontespizio istoriato di Romain de Hooghe.</div>

                     
                     

                  </span></section>