<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2887">
                     <span class="catalogo-item-label">2887.</span> <span class="catalogo-bibl"><span class="catalogo-author">HUTTICHIUS Joannes</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2887">Imperatorum et Caesarum vi <span class="catalogo-pb" id="page_65">65</span>tae cum imaginibus ad vivam effigiem expressis.
                        Libellus auctus cum Elenco et iconibus Consulum ab authore 1534 cum privilegio Caesareo</a></span>. (In fine)
Argentorati Wolfangus Coephaloeus excudit anno 1534, in 8.
<div id="catalogo-note-text-2887" class="catalogo-note truncate-line-clamp">Dietro al frontespizio con contorno figurato è la dedica, indi l’elenco dei nomi degli Imperatori, che in tutto sono
8 foglietti: seguono le medaglie in mezzo ad ornamenti, il tutto in legno con brevi cenni intorno le vite dei
soggetti raffigurati: e questi sono 90 foglietti. Ricomincia con nuovo titolo Consulum Romanorum Elenchus e fra
l’elenco e le tavole, non sono che 16 foglietti: leggesi in fine De Consulibus libellum alium a nobis expectes
propediem et vale. Argent. an. sal. 153</div><a id="catalogo-note-text-toggle-2887" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
</span></section>