<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2070">
                  <span class="catalogo-item-label">2070.</span> <span class="catalogo-bibl"><span class="catalogo-author">De NOBILIBUS Petrus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2070">Vita et miracula S. Francisci de Paula aeneis typis accurate expressa,
  opera, studio, et expensis D. Petri etc.</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1584</span>, in 4, constat tab. 38.
  <div class="catalogo-note">Queste tavole in rame somigliano affatto alle più rozze incisioni in legno. Nel frontespizio al basso leggesi
  Ambrogius Brambilla ec.</div>
  
  — <span class="catalogo-bibl">Addita vita et miracula eiusdem de novo typis excusa et novis tabulis et miracolis aucta a
  Joa. le Clerc <span class="catalogo-date">1615</span>, constat tab. 27, in 4.</span>
  <div class="catalogo-note">Questo Gio. Le Clerc era ben lunge dalle qualità e dal me <span class="catalogo-pb" id="page_357">357</span>rito di Sebastiano: anzi possono dirsi tavole di
  pessimo intaglio.</div>
  
  </span></section>