<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3037">
                     <span class="catalogo-item-label">3037.</span> <span class="catalogo-bibl"><span class="catalogo-author">VAILLANT Joannis Foj</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3037">Seleucidarum imperium sive historia regum Syriae ad fidem numismatum accomodata
cum iconibus</a></span>,<span class="catalogo-pubPlace"> Lutetìae Parisiorum</span> <span class="catalogo-date">1681</span>, in 4, fig.
<div id="catalogo-note-text-3037" class="catalogo-note truncate-line-clamp">Prima edizione, colle tavole stampate fra il testo.</div><a id="catalogo-note-text-toggle-3037" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
<span class="catalogo-pb" id="page_90">90</span>
                  </span></section>