<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3712">
                     <span class="catalogo-item-label">3712.</span> <span class="catalogo-bibl"><span class="catalogo-author">FAUNO Lucio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3712">Delle antichità della città di Roma, raccolte, e scritte con somma brevità, ed ordine con quanto gli
antichi, e moderni scritto ne hanno</a></span>, libri cinque, <span class="catalogo-pubPlace">Venezia</span>, per Michele Tramezzino, <span class="catalogo-date">1548</span>, in 8.
</span></section>