<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="155">
                  <span class="catalogo-item-label">155.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">LAMOTTE Charles</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/155"> An essay upon poetry and painting with relation to the sacred and profane
	  hi <span class="catalogo-pb" id="page_25">25</span> story with an appendix concerning obscenity in writing and painting,</a></span> 
                     <span class="catalogo-pubPlace">Londra</span> 
                     <span class="catalogo-date">1731,</span>
	                    <span class="catalogo-extent"> in 12.</span>
                  </span>
	                 <div class="catalogo-note collapse">Opera superficiale e non degna dell’accorgimento e della critica degli autori inglesi.</div>	  
	              </section>