<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="506">
                  <span class="catalogo-item-label">506.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FRANCART Jacques</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/506"> Premier livre d’architecture, contenant diverses inventions de portes: en
	trois langues: allem., fran., lat.,</a></span> 
                     <span class="catalogo-pubPlace">Bruxelles</span> 
                     <span class="catalogo-date">1616,</span> 
                     <span class="catalogo-extent">in fol.</span>
                  </span>
	                 <div class="catalogo-note">Opera al di sotto della mediocrità, che anticipa sul gusto infelice del secolo; con 21 tavole diligentemente
	intagliate.</div><div id="catalogo-note-text-506" class="catalogo-note-search-results truncate-line-clamp">Opera al di sotto della mediocrità, che anticipa sul gusto infelice del secolo; con 21 tavole diligentemente
	intagliate.</div><a id="catalogo-note-text-toggle-506" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>