<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1918">
                  <span class="catalogo-item-label">1918.</span> <span class="catalogo-bibl"><span class="catalogo-author">S. MARTIN de Boulogne</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1918">Plusieures figures re <span class="catalogo-pb" id="page_326">326</span> presentant les vertus tirées de l’hotel
    de Montmorency</a></span>, <span class="catalogo-pubPlace">Paris</span>, M. 92.
    <div class="catalogo-note collapse">Sono 12 tavole intagliate all’acqua forte con grazia e vivacità, in 4, grande.</div>
    
    </span></section>