<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2446">
                  <span class="catalogo-item-label">2446.</span> <span class="catalogo-bibl"><span class="catalogo-author">Ab INDAGINE Joannis</span>, Lo stesso, <span class="catalogo-pubPlace">Augustae Trebacorum</span> <span class="catalogo-date">1672</span>, in 8, figurato.
    <div class="catalogo-note">È strano il trovare riunito in una stessa edizione un trattato di scultura coi libri di fisonomia. Le copiose figure in
    legno sono fra il testo.</div><div id="catalogo-note-text-2446" class="catalogo-note-search-results truncate-line-clamp">È strano il trovare riunito in una stessa edizione un trattato di scultura coi libri di fisonomia. Le copiose figure in
    legno sono fra il testo.</div><a id="catalogo-note-text-toggle-2446" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    <span class="catalogo-pb" id="page_411">411</span>
               </span></section>