<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2068">
                  <span class="catalogo-item-label">2068.</span> <span class="catalogo-bibl"><span class="catalogo-author">MOYNE Pierre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2068">La Galérie des femmes fortes</a></span>, <span class="catalogo-pubPlace">Paris</span>, chez Antoine de Somaville, <span class="catalogo-date">1647</span>, in fol.
  fig.
  <div class="catalogo-note">Vi sono venti grandi tavole intagliate in rame con io figure in piedi di donne coraggiose disegnate da Vignon e
  incise da Abr. Bosse, da Roussellet e altri nella Calcografia di Mariette. Nel fondo di ciascun quadro è intagliato
  in lontano il fatto principale caratteristico di ciascuna.</div><div id="catalogo-note-text-2068" class="catalogo-note-search-results truncate-line-clamp">Vi sono venti grandi tavole intagliate in rame con io figure in piedi di donne coraggiose disegnate da Vignon e
  incise da Abr. Bosse, da Roussellet e altri nella Calcografia di Mariette. Nel fondo di ciascun quadro è intagliato
  in lontano il fatto principale caratteristico di ciascuna.</div><a id="catalogo-note-text-toggle-2068" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>