<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1978">
                  <span class="catalogo-item-label">1978.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1978">ABREGÉ de l’histoire romaine orné de 49 estampes en taille douce avec le plus grand soin</a></span>,
    <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1789</span>, in 4 gr.<div class="catalogo-note collapse">
    Il ristretto dell’istoria è lo stesso che quello di Millot che trovasi nel corso di studi per uso della scuola R.
    Militare e le tavole furono acquistate dall’editore di questo libro dagli eredi di M. Pretot che le avea fatte
    intagliare per lo Spectacle de l’histoire romaine. Ricomparvero poi alla luce una terza, cena quarta volta nel
    1786 e nel 1801 coll’abregé di Millot stampato isolatamente dopo la sua morte ed estratto dal citato corso di
    studi.</div>
    
    </span></section>