<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="286">
                  <span class="catalogo-item-label">286.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SANDRART Joachim</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/286">Sculpturae veteris admiranda, sive delineatio vera perfectissimarum
	eminentissimarumque statuarum una cum artis huius nobilissimae theoria,</a></span> 
                     <span class="catalogo-pubPlace">Norimbergae</span> 
                     <span class="catalogo-date">1680</span>,
	<span class="catalogo-extent">in fol. fig.</span>
	                    <div class="catalogo-note">Splendida edizione d’una delle più insigni opere di Sandrart in settanta e una tavola ricca e infedelissima
	esecuzione, le quali non hanno il menomo carattere de’ monumenti in esse prodotti, intagliate da vari autori e più
	di tutti da Ricard Collin, C. G. Amling e dall’autore dell’opera.</div><div id="catalogo-note-text-286" class="catalogo-note-search-results truncate-line-clamp">Splendida edizione d’una delle più insigni opere di Sandrart in settanta e una tavola ricca e infedelissima
	esecuzione, le quali non hanno il menomo carattere de’ monumenti in esse prodotti, intagliate da vari autori e più
	di tutti da Ricard Collin, C. G. Amling e dall’autore dell’opera.</div><a id="catalogo-note-text-toggle-286" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 </span>
	              </section>