<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="626">
                  <span class="catalogo-item-label">626.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">QUENOT F.</span> sculpteur et architecte, <span class="catalogo-title"><a class="catalog-link" href="/catalog/626">Livre d’architecture, où il enseigne la facilité de
	
	                       
	                       
	
	l’architecture et la réduction de chaque corps au pétit pied,</a></span> 
                     <span class="catalogo-date">1659,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	              </section>