<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1905">
                  <span class="catalogo-item-label">1905.</span> <span class="catalogo-bibl"><span class="catalogo-author">HEINSII Dan.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1905">Poemata</a></span>, <span class="catalogo-pubPlace">Amst.</span> <span class="catalogo-date">1618</span>, in 4, fig.
    <div id="catalogo-note-text-1905" class="catalogo-note truncate-line-clamp">Questo libro e ricchissimo di piccole e diligenti incisioni. Il testo e Olandese. Cominciano alcune poesie varie cogli allusivi rami: indi due seguiti di Emblemi
       amatorj; lo specchio delle Donne illustri; gl'Inni a Bacco; il Cantico a Gesucristo ec. Seguono gli Emblemi Cristiani e morali de Zaccaria Heins. Roterdam 1625. E in 
       fine la Scuola delle Giovani donne Tedesche. Tutte le numerose tavole di quest'opera sono di accurata esecuzione e mediocre merito.</div><a id="catalogo-note-text-toggle-1905" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>