<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2314">
                  <span class="catalogo-item-label">2314.</span> <span class="catalogo-bibl"><span class="catalogo-author">MANZINI Giovann Battista e Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2314">Il Trionfo del pennello: raccolta di alcune composizioni
    nate a gloria d’un Ratto d’Helena di Guido</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1633</span>, in 4, pic.
    <div class="catalogo-note">Queste sono tutte prose dei Manzini e dell’Achillini le più pazze e ridicole che si lessero mai in quel secolo.</div>
    
    </span></section>