<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="358">
                  <span class="catalogo-item-label">358.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">STELLA J.</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/358"> Mesure et proportion du corps humaine par J. Stella,</a></span> 
                     <span class="catalogo-pubPlace">Paris,</span> 
                     chez Daudet,
                     <span class="catalogo-extent"> 17 Tavole
	in contorno,</span> le quali esprimono con maggior particolarità le proporzioni del corpo, che quelle
	della figura umana.</span>
	                 <div class="catalogo-note">Avvi anche un frontispizio figurato di bell’intaglio. Questo Stella ha più dipinto fuori d’Italia che in patria ed ha
	lavorato sullo stile di Niccolò Pussino.</div><div id="catalogo-note-text-358" class="catalogo-note-search-results truncate-line-clamp">Avvi anche un frontispizio figurato di bell’intaglio. Questo Stella ha più dipinto fuori d’Italia che in patria ed ha
	lavorato sullo stile di Niccolò Pussino.</div><a id="catalogo-note-text-toggle-358" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>