<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="515">
                  <span class="catalogo-item-label">515.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">GERLI Agostino</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/515">Opuscoli in materia d’architettura e relativi all’encausto degli antichi, ai
	pavimenti e alle macchine idrostatiche, alle prigioni, all’ultimare la chiesa di Seregno,</a></span> 
                     <span class="catalogo-pubPlace">Parma</span>
	                    <span class="catalogo-date">1785,</span> 
                     <span class="catalogo-extent">in fol.</span>
                  </span>
	                 <div class="catalogo-note">Le tavole di questi opuscoli intagliate in rame stanno ai ispettivi luoghi e l’autore era dotto di molto
	accorgimento.</div>
	
	              </section>