<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1250">
                 <span class="catalogo-item-label">1250.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1250">DESCRIZIONE d’una pittura di Antonio Allegri detto il Correggio</a></span>.
		 
                 
                 
		 <div class="catalogo-note collapse">Questa piccolissima operetta stampata in elegante sedicesimo coi tipi Bodoniani rende minuto conto della
		 camera del Correggio scoperta in un monastero in Parma e illustrata poi in grande con lusso di caratteri e di
		 incisioni.</div>
		 
	       </span></section>