<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3808">
                     <span class="catalogo-item-label">3808.</span> <span class="catalogo-bibl"><span class="catalogo-author">PADREDIO Carlo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3808">Scopatore della Basilica Vaticana, Misura delle sette e nove chiese del circuito e parti principali
di Roma</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1677</span>, in 16, M. 73.

                     
                     

                  </span></section>