<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2103">
                  <span class="catalogo-item-label">2103.</span> <span class="catalogo-bibl"><span class="catalogo-author">SALY Iacobus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2103">Vasa a se inventa atque studii causa delineata et incisa</a></span>, <span class="catalogo-date">1746</span>.
  <div class="catalogo-note">Questa collezione di acque forti piena di bizzarria, di grazia e di spirito, compreso il frontespizio contiene 31
  tavole.</div><div id="catalogo-note-text-2103" class="catalogo-note-search-results truncate-line-clamp">Questa collezione di acque forti piena di bizzarria, di grazia e di spirito, compreso il frontespizio contiene 31
  tavole.</div><a id="catalogo-note-text-toggle-2103" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
                  
                  
  
  — <span class="catalogo-bibl">Aggiugnesi nello stesso libro: <span class="catalogo-title"><a class="catalog-link" href="/catalog/2103">La Caravanne du Sultan à la Mecque, Mascarade turque
  donnée à Rome par les pensionnaires de l’Academie de France au Carnoval de l’année <span class="catalogo-date">1748</span></a></span>,
  gravée en 32 planches par Joseph Vien peintre de l’Academie.</span>
  </span></section>