<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="487">
                  <span class="catalogo-item-label">487.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DECKER P.</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/487">Libro d’architettura civile, ove molte invenzioni di palazzi reali, giardini, fontane e
	altri edifici sono dimostrati: diviso in tre parti.</a></span> 
                     <span class="catalogo-pubPlace">Stampato in Augusta</span> dal <span class="catalogo-date">1711</span> al <span class="catalogo-date">1716,</span>
                     <span class="catalogo-extent"> in gr.
	fol. fig.</span>
	                    <div class="catalogo-note">Compreso il frontespizio figurato, sono 132 tavole, delle quali alcune doppie e triple in grandezza. Opera di
	molto lavoro pel rame e di gusto infelice. La sola prima parte è preceduta da 4 fogli di testo in lingua tedesca.</div>
                  </span>
	                 
	                 
	                 
	
	              </section>