<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2005">
                  <span class="catalogo-item-label">2005.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARACCI ec.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2005">Pensieri diversi delineati ed intagliati da lui in 38 tavole riprodotte da Venanzio
  Monaldini</a></span>, in 4 grande.
  <div class="catalogo-note">Il frontespizio è di Bloemart e le stampe sono tirate con una tinta rossiccia e troppo cruda.</div>
  
  <span class="catalogo-bibl"><span class="catalogo-author">CARIOLA. Antonio</span>. <span class="catalogo-bibl">Vedi <span class="catalogo-author">Daino Canarino</span></span>.</span>
  </span></section>