<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="978">
                  <span class="catalogo-item-label">978.</span> <span class="catalogo-bibl"><span class="catalogo-author">CHIUSOLE Conte Adamo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/978">Dell’arte pittorica lib. VIII</a></span>, con aggiunta di componimenti diversi,
      <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1768</span>, in 8.
      <div class="catalogo-note collapse">Con piccole incisioni ai capi canti.</div>
      
      </span></section>