<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1077">
                  <span class="catalogo-item-label">1077.</span> <span class="catalogo-bibl"><span class="catalogo-author">ANGUILLARA Giovanni Andrea</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1077">Le Metamorfosi d’Ovidio ridotte in ottava rima</a></span>: colle
      annotazioni di M. Giul. Horologi, e gli argomenti di M. Francesco Turchi. Edizione ornata di
      figure da Giacomo Franco, <span class="catalogo-pubPlace">Venezia</span>, presso Bernardo Giunti, <span class="catalogo-date">1584</span>, in 4.
      <div id="catalogo-note-text-1077" class="catalogo-note truncate-line-clamp">Ognuno dei quindici canti ha una tavola in rame, oltre il frontespizio figurato con allegorie e il ritratto del
      traduttore.</div><a id="catalogo-note-text-toggle-1077" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>