<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1336">
                  <span class="catalogo-item-label">1336.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1336">NOTIZIE dell’origine e progressi dell’Istituto delle Scienze in Bologna, e sue Accademie</a></span>:
    <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1780</span>, in 8.

                  
                  
    
               </span></section>