<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="285">
                  <span class="catalogo-item-label">285.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">QUATREMÈRE DE QUINCI</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/285">Le Jupiter Olimpien, ou l’art de la sculpture antique, considérée sous
	un nouveau point de vue,</a></span> 
                     Paris, 
                     chez Didot, 
                     <span class="catalogo-date">1815, </span>
                     <span class="catalogo-extent">in f. figur. Con 31 tavole miniate.</span>
	Esemplare in carta velina ove sono in gran copia preziose notizie raccolte con molta critica.</span>
	
	              </section>