<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3684">
                     <span class="catalogo-item-label">3684.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3684">Le COSE meravigliose dell’alma città di Roma, colla guida romana che insegna a tutti i forastieri a ritrovare le più
notabili cose di Roma</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per Giovanni Varisco, <span class="catalogo-date">1565</span>, in 8.
</span></section>