<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="327">
                  <span class="catalogo-item-label">327.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">HOET Gerard</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/327">Les principaux fondamens du dessein dans les quels sont répresentés plus d’une
	centaine d’exemples naturels d’attitudes e des gestes de têtes et des visages,</a></span> gravées par Piere
	Bodart, à Leyde 1723, <span class="catalogo-extent">in 4 grande.</span>
                  </span>
	                 <div id="catalogo-note-text-327" class="catalogo-note truncate-line-clamp">Quattro sole pagine di testo e un frontispizio figurato oltre all’altro qui sopra descritto precedono le cento tavole
	di quest’opera, notandosi che le prime 36 sono tirate doppie cioè due lamine per pagina. Opera mediocre.
	</div><a id="catalogo-note-text-toggle-327" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	              </section>