<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2784">
                     <span class="catalogo-item-label">2784.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOZE (De)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2784">Lettere sur une médaille antique de Smyrne du Cabinet de M. le Comte de Thomas, qui y joint la
réponse</a></span>, <span class="catalogo-pubPlace">A la Haye</span> <span class="catalogo-date">1744</span>, in 4, fig.
<div class="catalogo-note collapse">Sono in questa memoria stampate in rame anche diverse altre medaglie. Edizione elegante pei tipi.</div>
</span></section>