<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="138">
                  <span class="catalogo-item-label">138.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GUEVARA D. Filippe</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/138"> Commentarios de la pintura, con un discurso preliminar y algunas notas
	  de D. Antonio Ponz,</a></span> 
                     <span class="catalogo-pubPlace">Madrid</span> 
                     <span class="catalogo-date">1788,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note collapse">Questo libro tratta la materia in un modo suo proprio ed originale e non può dirsi imitazione di trattati
	  preesistenti.</div>	  
	              </section>