<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4639">
                     <span class="catalogo-item-label">4639.</span> <span class="catalogo-bibl"><span class="catalogo-author">BURE (de) Guillaume</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4639">Catalogue des livres de la Bibliotheque de Feu M. le Duc de la Valliere etc.</a></span>, 
                        <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1783</span>,
vol. 3, in 8.
</span></section>