<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3077">
                     <span class="catalogo-item-label">3077.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZANETTI Girolamo</span>. <span class="catalogo-title"><a class="catalog-link" href="/catalog/3077">Lettera al mar. Ant. Savorgnan sovra una moneta di Michele e di Basilio imp. di
Costantinopoli</a></span>, in 8, M. 102.
<div class="catalogo-note collapse">La medaglia è intagliata in rame sul testo.</div>
</span></section>