<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1753">
                  <span class="catalogo-item-label">1753.</span> <span class="catalogo-bibl"><span class="catalogo-author">PERUCCI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1753">Pompe funebri di tutte le nazioni del mondo,</a></span> <span class="catalogo-pubPlace">Verona</span> <span class="catalogo-date">1646</span>, in 4, obl. fig.
  <div id="catalogo-note-text-1753" class="catalogo-note truncate-line-clamp">Questa è una seconda edizione di minor pregio della prima, quantunque riveduta e corretta, poiché le tavole sono
  logore.</div><a id="catalogo-note-text-toggle-1753" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>