<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="444">
                  <span class="catalogo-item-label">444.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BOSSE Abraham</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/444">Traité des manières de dessiner les ordres de l’architecture antique en toutes
	leurs parties,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">sans date,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
	                    <div class="catalogo-note">Tavole 44 di bellissima, esecuzione, sulle quali il testo è intagliato. Vi si trova aggiunto</div><div id="catalogo-note-text-444" class="catalogo-note-search-results truncate-line-clamp">Tavole 44 di bellissima, esecuzione, sulle quali il testo è intagliato. Vi si trova aggiunto</div><a id="catalogo-note-text-toggle-444" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>:</span>
	              </section>