<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2038">
                  <span class="catalogo-item-label">2038.</span> <span class="catalogo-bibl"><span class="catalogo-author">GROTESQUES</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2038">Statues, cartouche d’après differenti maîtres</a></span> in fol. p.
  <div id="catalogo-note-text-2038" class="catalogo-note truncate-line-clamp">Questa è una miscellanea di 179 tavole coi più begli ornamenti de’ principali gabinetti di Francia e anche d’Italia
  inventati da Simon Vovet, da Ducerceau, dai Mitelli, dal Rosso Fiorentino, da Champagne, da Raffaello,
  intagliate da buoni artefici come Dorigny, Poilly, B. David, Ciartres ec.</div><a id="catalogo-note-text-toggle-2038" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>