<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2479">
                     <span class="catalogo-item-label">2479.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2479">L’ART de verifier les dates des faits historiques dépuis la naissance de J. C. par un religieux de la congregation de
                        St-Maure</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1783 al 1787</span>, 3 vol. in fol. legati in 6.
<div class="catalogo-note">Edizione ricercata cominciata da D. Mauro e da altri e continuata e pubblicata da fra Clemente, dottissimi
   religiosi benedettini</div>.
</span></section>