<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2606">
                     <span class="catalogo-item-label">2606.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2606">NUOVA trasfigurazione delle lettere etrusche</a></span>, <span class="catalogo-date">1751</span>, in 4, fig., M. 27 e 78.
<div class="catalogo-note">Interessantissimo opuscoletto ove trovansi le discrepanze tra i varj alfabeti etruschi e le somiglianze tra molti
caratteri ritenuti etruschi e i runnici.</div><div id="catalogo-note-text-2606" class="catalogo-note-search-results truncate-line-clamp">Interessantissimo opuscoletto ove trovansi le discrepanze tra i varj alfabeti etruschi e le somiglianze tra molti
caratteri ritenuti etruschi e i runnici.</div><a id="catalogo-note-text-toggle-2606" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                     
                     

                  </span></section>