<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="475">
                  <span class="catalogo-item-label">475.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CHAMBERS William, </span>
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/475">A treatise on the decorative part of civil architecture illustrated by fifty
	original and three additional plates ec. the third edition considerably augmented,</a></span> 
                     <span class="catalogo-pubPlace">London</span>
	                    <span class="catalogo-date">1791,</span>
                     <span class="catalogo-extent"> in fol.</span>
                  </span>
	                 <div class="catalogo-note collapse">Opera di grande, ricca e bella esecuzione e invenzione: sono 53 grandi tavole intagliate in rame con molta
	accuratezza.</div>
	              </section>