<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="288">
                  <span class="catalogo-item-label">288.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">ALBERTOLLI Giocondo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/288">Corso elementare d’ornamenti architettonici, ideato e disegnato ad uso
	de’ principianti,</a></span> 
                     <span class="catalogo-pubPlace">Milano</span> 
                     <span class="catalogo-date">1805</span>, <span class="catalogo-extent">in fol. gr.</span>
	                    <div class="catalogo-note">Queste sono 28 tavole progressive per i giovani che incominciano a disegnare, cominciando dalla foglia più
	semplice all’ornamento più complicato, intagliate con diligenza dal Mercoli e da altri ec.</div><div id="catalogo-note-text-288" class="catalogo-note-search-results truncate-line-clamp">Queste sono 28 tavole progressive per i giovani che incominciano a disegnare, cominciando dalla foglia più
	semplice all’ornamento più complicato, intagliate con diligenza dal Mercoli e da altri ec.</div><a id="catalogo-note-text-toggle-288" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 </span>
	              </section>