<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1803">
                  <span class="catalogo-item-label">1803.</span> <span class="catalogo-bibl"><span class="catalogo-author">STRUTT Joseph</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1803">The chronicle of England vol. 1 from the arrival of Julius Caesar to the end
                     of the Saxon heptarchy,</a></span><span class="catalogo-pubPlace"> London</span><span class="catalogo-date"> 1777</span>, in 4, fig.
                     <div id="catalogo-note-text-1803" class="catalogo-note truncate-line-clamp">Sono queste le cinque parti di questa Cronaca con 22 tavole illustrative intagliate in rame</div><a id="catalogo-note-text-toggle-1803" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.
  
  </span></section>