<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="556">
                  <span class="catalogo-item-label">556.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">MAROT Jean</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/556">Petit oeuvre d’architecture,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1764,</span> 
                     <span class="catalogo-extent">in fol fig.</span>
                  </span>
	                 <div class="catalogo-note">Qui furono riunite molte opere diverse di questo autore, intagliate con molto gusto e pubblicate da Mariette, le
	quali non hanno la freschezza della prima edizione senza data, non citata da’ bibliografi. Questo esemplare è
	composto nelle prima parte di 122 tavole; nella seconda che contiene i mausolei e sepolcri 19; altari e cappelle
	18; porte 21; tempietti 36.</div>
	
	              </section>