<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2461">
                  <span class="catalogo-item-label">2461.</span> <span class="catalogo-bibl"><span class="catalogo-author">PORTA</span>,<span class="catalogo-pubPlace"> Della chirofisonomia, ovvero di quella parte dell’umana fìsonomia, che appartiene

                  
                  
    
    alla mano</span>: libri due tradotti dal latino da Pompeo Sarnelli, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1677</span>, in 12, fig.
    <div id="catalogo-note-text-2461" class="catalogo-note truncate-line-clamp">Con una tavola della mano assai diligentemente eseguita.</div><a id="catalogo-note-text-toggle-2461" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>