<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="582">
                  <span class="catalogo-item-label">582.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/582">ODDI Orazio da Urbino, Dello squadro, trattato,</a></span> 
                     <span class="catalogo-pubPlace">Milano</span> 
                     <span class="catalogo-date">1625,</span> 
                     <span class="catalogo-extent">in 4, picc. fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Le numerose figure collocate fra il testo sono chiaramente disegnate e la materia è trattata con ordine e
	precisione.</div>
	
	              </section>