<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="571">
                  <span class="catalogo-item-label">571.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MONTANO Giovan Battista</span> milanese, <span class="catalogo-title"><a class="catalog-link" href="/catalog/571">Architettura con diversi ornamenti cavati dall’antico,</a></span>
	                    <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1684,</span> 
                     <span class="catalogo-extent">in fol. fig.,</span> 
                     presso Giovan Giacomo de’ Rossi.
                  </span>
	                 <div class="catalogo-note">Questa è una ristampa dell’edizione originale precedente cui il de’ Rossi aggiunse due figure nel fine: esemplare
	in carta distinta. Quest’opera con frontespizio figurato e col ritratto dell’autore è composta da 42 tavole con una
	quantità di preziosi e scelti fragmenti della buona architettura.</div>
	                 
	                 
	                 
	
	              </section>