<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="289">
                  <span class="catalogo-item-label">289.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">DE ARPHE</span> y Villafanne, <span class="catalogo-title"><a class="catalog-link" href="/catalog/289">Varia consummeracion para la escultura y arquitectura,</a></span> 
                     <span class="catalogo-pubPlace">Madrid</span> 
                     <span class="catalogo-date">1736</span>,
	<span class="catalogo-extent">f. fig.</span>
	                    <div class="catalogo-note">In fronte è il ritratto dell’autore. L’opera è divisa in quattro libri: il primo tratta della geometria, il secondo delle
	proporzioni e dell’anatomia, il terzo de’ quadrupedi e dei volatili, il quarto dell’architettura. Le tavole sono
	numerosissime, alcune frammiste al testo a tutta pagina e altre marginali intagliate in legno con grandissimo
	magistero e rendono per conseguenza l’opera assai preziosa, giustificandone la rarità.</div>
	                 </span>
	              </section>