<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="696">
                  <span class="catalogo-item-label">696.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVIUS Marcus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/696">Per iucundum solito castigatior factus cum figuris et tabula, ut iam legi et
	intelligi possit</a></span>, <span class="catalogo-pubPlace">Venetiis</span>, <span class="catalogo-date">511</span> diligentia Joan. de Tridino alias tacuino, in fol. fig.
	<div id="catalogo-note-text-696" class="catalogo-note truncate-line-clamp">È da notarsi, per ben conoscere gli esemplari completi di questa edizione, che dopo l’errata corrige debbono
	esservi nove carte di indici di vocaboli, le quali non sono in tutti gli esemplari, come ne fa fede altro esemplare,
	di altre mancante, essendosi posta la data immediatamente sotto l’errata, con altri caratteri, come se il libro fosse
	completo. Non è comune trovare esemplari in gran margine e intatti come questo nostro: le figure intagliate in
	legno sono inserite nel testo. Fra Giocondo insigne architetto fu primo a commentare il testo di Vitruvio
	mediante l’esposizione delle figure, e lo dedicò a Giulio II. Ma si permise molte conghietture, molte alterazioni
	del testo e viene dai critici tacciato di soverchio e temerario arbitrio vulnerando un classico prezioso.</div><a id="catalogo-note-text-toggle-696" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>