<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="188">
                  <span class="catalogo-item-label">188.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">POSSEVINI Antonii</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/188"> Tractatio de poesi et pictura ethica, humana et fabulosa collocata cum vera,
	  
	                       
	                       
	  
	  honesta et sacra,</a></span> 
                     <span class="catalogo-pubPlace">Lugduni</span> 
                     <span class="catalogo-date">1595,</span> 
                     <span class="catalogo-extent">in 12.</span>
                  </span>
	                 <div class="catalogo-note">Fino al 23 capitolo non parlasi della pittura e molto superficialmente, tutto il restante del volume essendo
	  consecrato alla poesia. Nel capitolo 24 enumeransi gli autori che presso gli antichi e i moderni hanno trattato di
	  materie pittoriche.</div>	  
	              </section>