<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1117">
                  <span class="catalogo-item-label">1117.</span> <span class="catalogo-bibl"><span class="catalogo-author">TISCHBEIN Guill.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1117">Figures d’Homere dessinées d’après l’antique avec les explications de Chr.
    Gottl. Heyne, tom. 1 e 2, Iliade et Odissée</a></span>. <span class="catalogo-pubPlace">Met.</span> chez Collignon, <span class="catalogo-date">1801, 1802</span>, in fol. M.
    <div class="catalogo-note">Quest’opera splendidissima non vide il suo termine; e non presenta il nostro esemplare che il primo volume
    dell’Iliade fino alle pag. 70 del testo e nel secondo dell’Odissea non giunge che alla pagina 40, essendo in tutto
    otto vignette e trenta una tavola di bellissimo intaglio, in ispecie quella dei sette eroi, che è di un effetto mirabile.</div>
    
    </span></section>