<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3736">
                     <span class="catalogo-item-label">3736.</span> <span class="catalogo-bibl"><span class="catalogo-author">FONTANA Domenico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3736">Della trasportazione dell’obelisco vaticano, e delle fabbriche di nostro signore Papa Sisto V</a></span>,
<span class="catalogo-pubPlace">Roma</span>, presso Domenico Basa, <span class="catalogo-date">1590</span>.
<div class="catalogo-note">Con 38 tavole ove si esprimono in quantità altre parti architettoniche principali de’ palazzi pontificj. Opera prege
<span class="catalogo-pb" id="page_194">194</span> vole per la dottrina di questo valente meccanico, e dotto architetto.</div>
</span></section>