<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="877">
                  <span class="catalogo-item-label">877.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/877">L’ART de former le Jardins modernes on l’art des jardins anglois</a></span>: traduit de l’anglois, <span class="catalogo-pubPlace">Paris</span>
      <span class="catalogo-date">1771</span>, in 8, fig.
      <div class="catalogo-note">Libro ben fatto, che rende conto chiara mente di questo genere di giardini, e produce il piano di quello del
      Marchese di Buckingam a Stowe in Inghilterra, che è uno dei più belli del mondo.</div>
      
      </span></section>