<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="596">
                  <span class="catalogo-item-label">596.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">PALLADIO</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/596">Architecture divisée en quatre livres avec des notes d’Inigo Jones qui n’avoient
	point encore été imprimées, le tout revu, dessiné et nouvellement mis à jour par Jaques Leoni
	venitien, vol. 2,</a></span> 
                     <span class="catalogo-pubPlace">à la Haye,</span> 
                     chez Pierre Gosse, 
                     <span class="catalogo-date">1726,</span>
                     <span class="catalogo-extent"> in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">I due volumi sono legati in un sol tomo. Avvi un frontespizio figurato intagliato da B. Picart, che incise
	egualmente il ritratto dell’autore. Le tavole sono egualmente in gran dimensione con altrettanta precisione e
	lusso, che furono fatte quelle dell’Alberti, pubblicate in Londra dallo stesso Leoni. Il primo libro contiene 43
	tavole, il secondo ne contiene 60; il terzo ne contiene; il quarto libro è diviso in due parti, la prima delle quali
	contiene 22 tavole e la seconda 58. Opera di un enorme dispendio per la sua ricca e laboriosa esecuzione.</div>
	
	              </section>