<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1377">
                  <span class="catalogo-item-label">1377.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1377">Il TEMPIO D’AMORE</a></span>, nel quale si contengono le cose d’armi fatte in Ferrara, nelle Nozze del
    Duca Alfonso e della Regina Barbara d’Austria, <span class="catalogo-date">1566</span> <span class="catalogo-pubPlace">Ferrara</span>, in 4.
    <div class="catalogo-note collapse">Opuscolo esteso con bei modi di dire e con bei tipi dall’autore dei precedenti.</div>
    MDLXVI
    
    </span></section>