<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="308">
                  <span class="catalogo-item-label">308.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CELLIO (Antonio)</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/308"> Descrizione di un nuovo modo di trasportare qualsisia figura disegnata in
	carta, mediante i raggi solari,</a></span>
                     <span class="catalogo-pubPlace"> Roma</span>
                     <span class="catalogo-date"> 1686,</span> 
                     <span class="catalogo-extent">in 4 figurato, M. 15. Un foglietto.</span>
                  </span>
	              </section>