<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3450">
                     <span class="catalogo-item-label">3450.</span> <span class="catalogo-bibl"><span class="catalogo-author">SANZIO Raffaello</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3450">La favola di Psiche secondo la descrizione d’Apulejo.</a></span>
<div class="catalogo-note">Sono queste 32 tavole in foglio oblongo intagliate da scolari o contemporanei di Marc’Antonio Raimondi: non è
dubbio il segno di Agostino Veneziano alle tavole 4, 7, 13, ma nelle 3, 5, 6; quando le prove siano di prima
freschezza, deve vedersi anche la marca di Beatricius: questa ultima però non può osservarsi più, allorché
ricomparvero le stampe col nome di Antonio Salamanca. Sebbene il nostro esemplare abbia il nome del
Salamanca, è freschissimo e meglio si riconosce comparandolo con altri e specialmente con quelli pubblicati da
Carlo Losi recentemente, ove cassato il nome di Salamanca nella prima tavola, fu incisa la Licenza dei Superiori.
Sotto ciascuna tavola è incisa una stanza divisa in due cartelle.</div>
</span></section>