<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2116">
                  <span class="catalogo-item-label">2116.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2116">THEATRUM crudelitatum hereticorum nostri temporis</a></span>, <span class="catalogo-pubPlace">Antuerpiae</span> <span class="catalogo-date">1587</span>, in 4, fig.
  <div class="catalogo-note collapse">Riccardo Verstegan è l’autore di quest’opera della quale la edizione qui citata è la prima e preferibile per le
  trenta tavole in rame di nitida e accurata incisione. È inesplicabile come disegnatori e incisori potessero
  occuparsi di orrori che sorpassano la più strana immaginazione. Infatti né gli uni, né gli altri vi posero il nome,
  quantunque vi si conoscano i modi di Teod. e di Fil. Gallé.</div>
  
  </span></section>