<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1853">
                  <span class="catalogo-item-label">1853.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOISSARDI Jani Jacobi Vesuntini</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1853">Emblematum liber a Theod. de Bry sculptor</a></span>, <span class="catalogo-pubPlace">Francofurti</span>
    <span class="catalogo-date">1593</span>, in 4, fig.
    <div class="catalogo-note">Fu Boissardo stesso che delineo originalmente gli emblemi, superiormente intagliati in 51 tavole oltre il
    frontespizio e il ritratto dell’autore.</div><div id="catalogo-note-text-1853" class="catalogo-note-search-results truncate-line-clamp">Fu Boissardo stesso che delineo originalmente gli emblemi, superiormente intagliati in 51 tavole oltre il
    frontespizio e il ritratto dell’autore.</div><a id="catalogo-note-text-toggle-1853" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>