<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1585">
                  <span class="catalogo-item-label">1585.</span> <span class="catalogo-bibl"><span class="catalogo-author">BENETTI Josephi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1585">Dissertano de cursu pubblico</a></span>, <span class="catalogo-pubPlace">Romae</span><span class="catalogo-date">1778</span>, in 4, M. 21.
    <div class="catalogo-note collapse">S’aggira quest’opera intorno ai modi del viaggiare degli antichi e all’instituzione delle poste pubbliche.</div>
    
    </span></section>