<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="427">
                  <span class="catalogo-item-label">427.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BELLI Silvio.</span>
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/427"> Quattro libri geometrici. Il primo del misurar colla vista; gli altri tre sono della
	proporzione e proporzionalità,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1595</span> 
                     <span class="catalogo-extent">in 4, pic. fig.</span>
	                    <div id="catalogo-note-text-427" class="catalogo-note truncate-line-clamp">Le opere di Silvio Belli sono pregiatissime per la scienza e chiarezza delle esposizioni. Le tavole sono intagliate
	in legno e benissimo disegnate. Da una famiglia d’artisti di tanto sapere, dalla quale esci anche l’insigne Valerio
	fratello del matematico, non potevano ottenersi che ottime produzioni.</div><a id="catalogo-note-text-toggle-427" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>