<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2303">
                  <span class="catalogo-item-label">2303.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2303">LETTERA ad un amico nella quale si da contezza del Caval. Carlo Giuseppe Ratti genovese
    pittore</a></span>, senza luogo ed anno.
    <div class="catalogo-note">Il Ratti viene in questa giustificato per i fierissimi attacchi scagliati contro di lui dal Milizia in una nota
    ingiuriosa che vedesi nell’edizione delle opere e vita di Mengs ristampata a Bassano.</div><div id="catalogo-note-text-2303" class="catalogo-note-search-results truncate-line-clamp">Il Ratti viene in questa giustificato per i fierissimi attacchi scagliati contro di lui dal Milizia in una nota
    ingiuriosa che vedesi nell’edizione delle opere e vita di Mengs ristampata a Bassano.</div><a id="catalogo-note-text-toggle-2303" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>