<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3085">
                     <span class="catalogo-item-label">3085.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZOEGA Georgius</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3085">Nummi Aegyptii imperatorii prostantes in Museo Borgiano Velitris. Adjectis quotquot reliqua
hujus classis numismata ex variis museis etc.</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1787</span>, in 4.
<div class="catalogo-note collapse">Opera di molta dottrina illustrata con 22 tavole.</div>
</span></section>