<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3564">
                     <span class="catalogo-item-label">3564.</span> <span class="catalogo-bibl"><span class="catalogo-author">De WILDE Jacobi</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3564"> Signa antiqua ex Museo Jacobi de Wilde, veterum poetarum carminibus illustrata, et per
Mariam filiam aeri inscripta</a></span>. Sumptibus auctoris, <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1700</span>, in 4.
<div id="catalogo-note-text-3564" class="catalogo-note truncate-line-clamp">Esemplare di dedica a Cosimo III contrasegnato di pugno dell’autore. Pessime sono le incisioni di questa
signorina che le eseguì nell’età di 17 anni, né si poteva far peggio. Sotto ciascun monumento è un passo di
qualche classico trascritto e inciso in rame: le tav. sono 60. Oltre il ritratto dell’intagliatore è una tavola al fine
aggiunta di mano d’altro intagliatore, che rappresenta un sacrifizio a Priapo, oggetto che non conveniva al bulino
della signorina, che non fu però affidato ad artefice migliore di lei.</div><a id="catalogo-note-text-toggle-3564" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a></span></section>