<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4214">
                        <span class="catalogo-item-label">4214.</span> <span class="catalogo-bibl"><span class="catalogo-author">MIGLIORE Ferdinando Leopoldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4214">Firenze, città nobilissima illustrata</a></span>. Prima, seconda, e terza parte del primo
libro, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1684</span>, in 4.
<div class="catalogo-note collapse">Quest’opera non venne mai proseguita più oltre, e sarebbe stata della più grande utilità, poiché ben incominciata,
e derivata dalle migliori sorgenti.</div>
</span></section>