<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2944">
                     <span class="catalogo-item-label">2944.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2944">NOTICE des médailles antiques en or, en argent, en bronze etc. du cabinet de M. Pellerin</a></span>, 
                        <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1783</span>, in 4, M. 20.
<div class="catalogo-note">Questa fu pubblicata in occasione della vendita del gabinetto.</div>
</span></section>