<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="405">
                  <span class="catalogo-item-label">405.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/405">L’ART de dessiner proprement les plans, profils, élévations, soit d’architecture militaire ou
	civile avec tous les secrets pour faire les couleurs et la manière de s’en servir,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1697,</span>
	                    <span class="catalogo-extent">piccolo in 12.</span>
	                    <div class="catalogo-note">Con una tavola al principio d’architettura civile ed una al fine d’architettura militare. Il libro è a guisa di
	dizionario colle materie disposte alfabeticamente.</div><div id="catalogo-note-text-405" class="catalogo-note-search-results truncate-line-clamp">Con una tavola al principio d’architettura civile ed una al fine d’architettura militare. Il libro è a guisa di
	dizionario colle materie disposte alfabeticamente.</div><a id="catalogo-note-text-toggle-405" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>