<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="886">
                  <span class="catalogo-item-label">886.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOECLERI Georgi Andreae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/886">Amaenitates Hydragogicae</a></span>, sive architectura curiosa nova a
      Cristophoro Sturuvio in latinam linguam translata, omnia 200 aere incisis delineationibus,
      <span class="catalogo-pubPlace">Norimbergae</span> <span class="catalogo-date">1664</span>.
      <div class="catalogo-note">Questo lavoro è diviso in cinque parti con ordine e chiarezza e gran copia d’invenzioni per i giuochi d’acqua.
      Non è comune il trovarne esemplari ben conservati in Italia due anni prima di quest’edizione sappiamo che
      apparve col mez <span class="catalogo-pb" id="page_166">166</span> zo dello stesso stampatore il Theatrum Machinarum novum del Boeclero che va forse
      congiunto con quest’opera, quando non sia in questa medesima rifuso, il che è da noi ignorato.</div><div id="catalogo-note-text-886" class="catalogo-note-search-results truncate-line-clamp">Questo lavoro è diviso in cinque parti con ordine e chiarezza e gran copia d’invenzioni per i giuochi d’acqua.
      Non è comune il trovarne esemplari ben conservati in Italia due anni prima di quest’edizione sappiamo che
      apparve col mez <span class="catalogo-pb" id="page_166">166</span> zo dello stesso stampatore il Theatrum Machinarum novum del Boeclero che va forse
      congiunto con quest’opera, quando non sia in questa medesima rifuso, il che è da noi ignorato.</div><a id="catalogo-note-text-toggle-886" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>