<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2158">
                  <span class="catalogo-item-label">2158.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2158">Le DICTIONAIRE des arts et des sciences de M. D. C. de l’Académie Francaise. Nouvelle
    édition revue, corrigée et augmentée par M. *** de l’ Académie Royale des sciences </a></span>, <span class="catalogo-pubPlace">Paris</span>
    <span class="catalogo-date">1745</span>, in fol., 2 vol.
    </span></section>