<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4324">
                        <span class="catalogo-item-label">4324.</span> <span class="catalogo-bibl"><span class="catalogo-author">SPRETI Desiderii ravennatis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4324">De amplitudine, de vastatione, et de instauratione urbis Ravennae</a></span>, <span class="catalogo-pubPlace">Venetiis</span>, per

                        
                        
Matheum Capcasam, <span class="catalogo-date">1489</span>, in 8.
<div id="catalogo-note-text-4324" class="catalogo-note truncate-line-clamp">D’incontro al titolo è una lettera di Giacomo Franco ravennate diretta a Niccolò Foscari patrizio veneto. Lo
Spreti <span class="catalogo-pb" id="page_284">284</span> poi con altra dedica intitola il suo libro a Giovan Antonio Marcello patrizio veneto.</div><a id="catalogo-note-text-toggle-4324" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>