<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="349">
                  <span class="catalogo-item-label">349.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/349">CALLIGRAFIA tedesca, </a></span>
                     <span class="catalogo-pubPlace">Ven.</span>
                     <span class="catalogo-date"> 1819,</span>
                     <span class="catalogo-extent"> in 4 obl. In 12 tavole colle illustrazioni.</span> Ital. e tedesco.</span>
	              </section>