<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2089">
                  <span class="catalogo-item-label">2089.</span> <span class="catalogo-bibl"><span class="catalogo-author">PUSSINO Niccolò</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2089">Vita della gran Madre di Dio incisa in 22 rami da Felice Polanzani</a></span>, <span class="catalogo-pubPlace">Roma</span>
  <span class="catalogo-date">1683</span>, in fol.
  <div id="catalogo-note-text-2089" class="catalogo-note truncate-line-clamp">Opera che rende un’idea della sola composizione, ma che per quanto riguarda allo stile e al gusto del sommo
  autore, la mediocrità del bulino non rende la menoma idea.</div><a id="catalogo-note-text-toggle-2089" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>