<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2919">
                     <span class="catalogo-item-label">2919.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARIETTE V. I.</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2919"> Traité des pierres gravées</a></span>, 
                        <span class="catalogo-pubPlace">Paris</span>, chez l’auteur, <span class="catalogo-date">1750</span>, in fol., fig., vol. 2.
<div class="catalogo-note">Non dobbiam dubitare in assegnare a quest’opera un primato sulle altre di questo genere non tanto per
l’esecuzione, quanto per la dottrina, poiché concorse a determinarlo il consenso universale. Le tavole sono
intagliate con gusto infinito, quantunque alcuno riconosca troppo evidente lo stile di Bouchardon che le disegnò,
piuttosto che lo stile dell’an <span class="catalogo-pb" id="page_70">70</span>tichità. Ma rendere le piccole gemme in disegni, senza privarle di quella
originalità che le rende sì pregievoli, è tanto difficile, che a convincersene basta il percorrere una biblioteca
d’autori di litografia e si arriva quasi a giudicarlo impossibile. Comincia l’opera col trattato delle pietre incise,
indi viensi alla parte più importante e più nuova, cioè alla storia degli incisori in pietre dure di cui eravamo
digiuni e che pur anche ci lascia molto desiderio di veder ampliata. Proseguesi con un trattato sulle meccaniche
di quest’arte e sulla natura dei materiali, delle contraffazioni, degl’impronti etc. Passa l’autore a darci una
preziosa Biblioteca Dattiliografica ove sono esaminate le opere che fino a quel giorno avevano veduta la luce e
finisce il volume primo con la tavola degli autori.
Il secondo volume comincia con una prefazione storica sulle pietre incise del Gabinetto Reale, poi vengono 132
gemme istoriate colla rispettiva illustrazione ad ogni pagina e in fine 125 teste, le quali non hanno il corredo
d’alcuna illustrazione, fuorché un semplice elenco. Esemplare intonso di prima freschezza.</div>
</span></section>