<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4112">
                     <span class="catalogo-item-label">4112.</span> <span class="catalogo-bibl"><span class="catalogo-author">VINET Elie</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4112">L’antiquité de Bordeaux, et de Bourg.</a></span>, <span class="catalogo-pubPlace">Bordeaux</span>, <span class="catalogo-date">1574</span>, par Simon Milanges, in 4 p.
<div class="catalogo-note collapse">Prezioso libretto e raro a trovarsi, con quattro tavole in legno, oltre qualche altro monumento stampato fra il
testo, e gli stemmi sul frontespizio.</div>
</span></section>