<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="925">
                  <span class="catalogo-item-label">925.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUIDO Ubaldo dei Marchesi del Monte</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/925">Le meccaniche tradotte in volgare dal sig. Filippo
      Pigafetta</a></span>, <span class="catalogo-pubPlace">Venezia</span>, presso il Franceschi, <span class="catalogo-date">1581</span>, in 4, picc.
      <div class="catalogo-note collapse">Opera tratta dagli antichi e migliori autori, divisa in sei trattati, colle tavole in legno riportate fra il testo.</div>
      
      </span></section>