<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1517">
                  <span class="catalogo-item-label">1517.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1517">ELISAE. Christinas Augusta Maria Theresae Augustse Matri justa funebria</a></span>, <span class="catalogo-pubPlace">Mediolani</span> <span class="catalogo-date">1751</span>,
    in fol. fig.
    <div class="catalogo-note">Otto intagli ornano l’edizione scolpiti da Giacomo Mercori e lo scrittore dell’orazion funebre in fine è il Conte
    Paolo Caroello.</div><div id="catalogo-note-text-1517" class="catalogo-note-search-results truncate-line-clamp">Otto intagli ornano l’edizione scolpiti da Giacomo Mercori e lo scrittore dell’orazion funebre in fine è il Conte
    Paolo Caroello.</div><a id="catalogo-note-text-toggle-1517" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCCXLI
    
    </span></section>