<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="514">
                  <span class="catalogo-item-label">514.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">GALLACINI Teofilo</span>, Aggiuntevi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/514">le Osservazioni di Antonio Visentini architetto veneto, che
	
	                       
	                       
	
	servono di continuazione al trattato del Gallacini,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1772,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Scrisse il Gallacini la sua opera nella metà del 1600 e sebbene vi si trenino cose argute, non sono dettate da un
	discernimento troppo fino. Le tavole in rame sono inserite fra il testo. Non può negarsi che non siano però in
	questo libro utilissime riflessioni, ma oro misto a molta scoria. Il Visentini poi architetto di gusto depravato,
	sebbene pienissimo di cognizioni pratiche, aggiunse un libro inferiore di molto ali opera del Gallacini: poiché
	cercò gli errori in opere eseguite da architetti assai di lui peggiori, come dalle tavole di questo libro può vedersi,
	censurando con molta ragione i diffetti più palesi, che non meritavano certamente l’onore della critica.</div>
	
	              </section>