<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1538">
                  <span class="catalogo-item-label">1538.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1538">DESCRIZIONE della festa celebrata in Venezia il giorno 15 Agosto <span class="catalogo-date">1811</span> per l’inaugurazione
    della statua colossale di Napoleone</a></span>, <span class="catalogo-pubPlace">Venezia</span>, in 8.
    MDCCCXIII
    
    </span></section>