<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2615">
                     <span class="catalogo-item-label">2615.</span> <span class="catalogo-bibl"><span class="catalogo-author">PASSERII Joannis Baptistae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2615">Picturae etruscorum in vasculis nunc primum in unum collectae explicationibus, et
dissertatio <span class="catalogo-pb" id="page_22">22</span> nibus illustratae</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1767 a 1775</span>, vol. 3, in fol.
<div class="catalogo-note">Opera grandiosamente eseguita per le ampie dottrine e pel numero delle 300 tavole colle quali è insignita</div>.
</span></section>