<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="273">
                  <span class="catalogo-item-label">273.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CELLINI Benvenuto</span> scultore fiorentino,<span class="catalogo-title"><a class="catalog-link" href="/catalog/273"> Due trattati, uno intorno alle otto principali arti
	dell’orificieria; l’altro in materia dell’arte della scultura, dove si veggono infiniti segreti nel
	lavorare le figure di marmo et nel gettarle di bronzo,</a></span>
                     <span class="catalogo-pubPlace"> in Fiorenza,</span> 
                     per Valente Panizii e Marco
	Peri, 
                     <span class="catalogo-date">1568</span>,<span class="catalogo-extent"> 4, prima edizione.</span>
                  </span>
	              </section>