<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3347">
                     <span class="catalogo-item-label">3347.</span> <span class="catalogo-bibl"><span class="catalogo-author">STIGLIZII Jo. Conradi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3347">De Menide sacro antiquorum codicum ornamento commentarius criticus, cui accessit de
lunulatis veterum gentilium insignibus etc.</a></span>, <span class="catalogo-pubPlace">Erfordiae</span> <span class="catalogo-date">1747</span>, in 4, M. 2.
<div class="catalogo-note collapse">Questo opuscolo stampato in grande e magnifica carta è dedicato al Gori ed avvi aggiunto il suo ritratto che non
trovasi negli altri esemplari, per esser questo di dedica.</div>
</span></section>