<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2035">
                  <span class="catalogo-item-label">2035.</span> <span class="catalogo-bibl"><span class="catalogo-author">GALLONII Antonii</span>, La stessa versione latina. Cum figuris Romae in aere incisis ab Antonio
  Tempesta, <span class="catalogo-pubPlace">Parigi</span> <span class="catalogo-date">1660</span>, in 4, fig. ex Museo Raph. Tricheti du Fresne.
  <div id="catalogo-note-text-2035" class="catalogo-note truncate-line-clamp">Questo esemplare ha due frontespizi nei quali è la varietà del nome dello stampatore: nel primo è Federico
  Zonard, nel 2 Claudio Cramoisy. Le tav. di Tempesta in N. di 40 sono in quest’edizione un po’ logore e non
  rimane che il pregio d’essere splendidamente stampata e dei due opuscoli aggiunti de Equuleo e de Cruce di Gir.
  Magi e di Gius. Lipsio. Esempl. in vit. dor.</div><a id="catalogo-note-text-toggle-2035" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>