<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3792">
                     <span class="catalogo-item-label">3792.</span> <span class="catalogo-bibl"><span class="catalogo-author">MEYER Cornelio ingegnere olandese</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3792">L’arte di restituire a Roma la tralasciata navigazione del Tevere</a></span>, divisa in tre
parti, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1685</span>.
<div id="catalogo-note-text-3792" class="catalogo-note truncate-line-clamp">Con nuovi ritrovamenti di varie meccaniche divise in due parti. Roma 1696, in fol., fig., seconda edizione.</div><a id="catalogo-note-text-toggle-3792" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
<span class="catalogo-pb" id="page_202">202</span>
                     
                     
                     

                  </span></section>