<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3083">
                     <span class="catalogo-item-label">3083.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3083">La ZECCA in consulta di stato, sopra il saggio, conio e monete di tutte le città d’Italia</a></span>. Opera divisa in due tomi
data in luce da varj eruditi, T. 2, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1772</span>, in 4.
                        <div class="catalogo-note collapse">Quest’opera preziosa è il prodotto delle memorie di varj <span class="catalogo-pb" id="page_97">97</span> eruditi allora viventi, fra quali il Bellini,
Domenico M. Manni, il C. Bogino, Gio. Donato Turbolo, ove si trovano tutte le discussioni monetarie tra i
ministri e i fiscali de’ principali stati d’Italia, con tavole a’ luoghi indicati fra il testo. Opera di grande utilità e
profondità.</div>
</span></section>