<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1894">
                  <span class="catalogo-item-label">1894.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1894">EMBLEMES ou dévises chretiennes</a></span>, <span class="catalogo-pubPlace">Utrect</span> <span class="catalogo-date">1697</span>, in 8, fig.
    <div class="catalogo-note">Con cento tavole intagliate in rame di mediocre esecuzione.</div>
    
    </span></section>