<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3682">
                     <span class="catalogo-item-label">3682.</span> <span class="catalogo-bibl"><span class="catalogo-author">CORRADINO Petrus Marcellinus, et Josepho Roccus Vulpius</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3682">Vetus Latium sacrum, et profanum</a></span>, <span class="catalogo-pubPlace">Romae et Patavii</span>
<span class="catalogo-date">dal 1704 al 1745</span>, in 4, fig., tomi 10 legati in 11 vol.
<div class="catalogo-note">Il Corradini stampò i primi due volumi a Roma coi tipi di Francesco Gonzaga negli anni 1704 e 1705. Venne in
seguito proseguita quest’opera dal padre Volpi, e i cinque volumi susseguenti furono impressi a Padova dal
Comino. Il volume ottavo, il nono, e il decimo diviso in due tomi, furono pubblicati da Barnabò, e Lazzari. Opera
preziosa pel modo con cui venne scritta, e per le preziose notizie, e per la critica, e monumenti in essa raccolti. Le
molte tavole stanno fra il testo intagliate in rame. Questo corso, che tale può dirsi, di antichità romane mai non
venne ristampato, e si è reso sempre più prezioso; e i tipi che lo produssero sono della maggior nitidezza.
Il primo volume, di cui mancarono presto gli esemplari, venne ristampato con la data del 1748: ma non fu allora
impressa la dedica a Clemente XI. Il nostro esemplare non manca di alcuna prerogativa per renderlo prezioso.
COSATTI Lelio. Vedi Raccolta di scrittori sulla cupola di S. Pietro.</div>
</span></section>