<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2220">
                  <span class="catalogo-item-label">2220.</span> <span class="catalogo-bibl"><span class="catalogo-author">BULLARD Isaac</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2220">Académie des sciences et des arts contenant les vies et les éloges historiques
    des hommes illustres qui ont excellé en cette profession depuis environ 4 siecles parmi
    diverses nations de l’Europe avec leurs portraits</a></span>, <span class="catalogo-pubPlace">Bruxelles</span> <span class="catalogo-date">1695</span>, in fol., vol. 2, fig.
    </span></section>