<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2425">
                  <span class="catalogo-item-label">2425.</span> <span class="catalogo-bibl"><span class="catalogo-author">BALDO Camillo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2425">In Physiognomica Aristotelis commentarii, Hieronymi Tamburini diligentia
    et sumptibus nunc primum in lucem editi ad Serenis. <span class="catalogo-pb" id="page_408">408</span> Princip. Ferdin.Gonxagam,
    Mantuae et Montisferrati Ducem</a></span>, <span class="catalogo-pubPlace">Bononiae</span> <span class="catalogo-date">1621</span>, in fol. parv.
    <div class="catalogo-note">Non sonovi figure eccetto il frontespizio istoriato intagliato da Coriolano</div>.
    
    </span></section>