<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1384">
                  <span class="catalogo-item-label">1384.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1384">DESCRIZIONE della pompa funerale fatta nelle esequie del Sereniss. Sig. Cosimo de’ Medici
    Gran Duca di Toscana nell’alma città di Fiorenza il giorno 18 Maggio dell’anno <span class="catalogo-date">1574</span></a></span>, in 4,
    fig., presso i Giunti.
    <div class="catalogo-note">Non v’ è altra stampa fuori che il legno del frontespizio, a tergo di cui è un bel ritrattino di Cosimo: ma
    l’opuscolo è disteso con grande eleganza di tipi e di stile.</div>
    MDLXXIV
    
    </span></section>