<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1386">
                  <span class="catalogo-item-label">1386.</span> <span class="catalogo-bibl"><span class="catalogo-author">PORCACCHI Tommaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1386">Le azzioni d’Arrigo terzo re di Francia et quarto in Polonia descritte in
    dialogo</a></span>, <span class="catalogo-pubPlace">Vinetia</span>, presso Giorgio Angelica, <span class="catalogo-date">1514</span>, in 4.
    <div class="catalogo-note collapse">L’autore fu Tommaso Porcacchi e gli interlocutori Ottaviano Mannini e Giovanni Gherardo da Udine. Questo
    libretto si accompagna colle feste e spettacoli pubblicati in quest’anno pel medesimo re in Venezia.</div>
    MDLXXVIII
    
    </span></section>