<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4507">
                        <span class="catalogo-item-label">4507.</span> <span class="catalogo-bibl"><span class="catalogo-author">PAILLET et Julliot</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4507">Catalogue des tableaux, vases, figures de marbre, bronzes, etc. Avec un supplement à la fin, du
Cabinet du Comte de Merle</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1784</span>, in 8.
</span></section>