<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2381">
                  <span class="catalogo-item-label">2381.</span> <span class="catalogo-bibl"><span class="catalogo-author">TICOZZI Stefano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2381">Vite de’ pittori Vecelli di Cadore</a></span>. Libri quattro, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1817</span>, in 8.
 <div class="catalogo-note">   Questo scrittore raccolse il primo e pubblicò interessanti notizie intorno Tiziano. Sarebbe stata a desiderarsi più
    lentezza del suo operare prima di pubblicarla.
 </div><div id="catalogo-note-text-2381" class="catalogo-note-search-results truncate-line-clamp">   Questo scrittore raccolse il primo e pubblicò interessanti notizie intorno Tiziano. Sarebbe stata a desiderarsi più
    lentezza del suo operare prima di pubblicarla.
 </div><a id="catalogo-note-text-toggle-2381" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>   
    </span></section>