<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2790">
                     <span class="catalogo-item-label">2790.</span> <span class="catalogo-bibl"><span class="catalogo-author">BYTEMEISTERI Henrici Johannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2790">Delineatio rei numismaticae antiquae et recentioris ad usum praelectionum
Academicarum edita</a></span>. Cum indicibus necessariis: editio III correctior, <span class="catalogo-pubPlace">Argentorati</span> <span class="catalogo-date">1744</span>, in 12.
</span></section>