<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="791">
                  <span class="catalogo-item-label">791.</span> <span class="catalogo-bibl"><span class="catalogo-author">LIPSII Justi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/791">De amphitheatro liber in quo forma ipsa loci expressa et ratio spectandi</a></span>. Cum
	aeneis figuris, Ant. Plant. <span class="catalogo-date">1699</span>, in 4, fig.
	— Aggiuntovi de <span class="catalogo-title"><a class="catalog-link" href="/catalog/791">amphitheatris quae extra Romam</a></span>. Libellus in quo formae eorum aliquot et typi
	ec.
	<div class="catalogo-note">L’anfiteatro di Tito, tal come trovasi e come supponevasi esser dovesse, è dato in due tavole; indi quelli di Pola,
	
	                 
	                 
	di Nimes, di Verona e li due che stanno nel Poitou formano in tutti le 7 tavole di questo libretto.</div><div id="catalogo-note-text-791" class="catalogo-note-search-results truncate-line-clamp">L’anfiteatro di Tito, tal come trovasi e come supponevasi esser dovesse, è dato in due tavole; indi quelli di Pola,
	
	                 
	                 
	di Nimes, di Verona e li due che stanno nel Poitou formano in tutti le 7 tavole di questo libretto.</div><a id="catalogo-note-text-toggle-791" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>