<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2625">
                     <span class="catalogo-item-label">2625.</span> <span class="catalogo-bibl"><span class="catalogo-author">RICOLVI Giovan Paolo e Rivaultella Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2625">Il sito dell’antica città d’Industria scoperto ed illustrato</a></span>, <span class="catalogo-pubPlace">Torino</span>
<span class="catalogo-date">1745</span>, in 4.
</span></section>