<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2265">
                  <span class="catalogo-item-label">2265.</span> <span class="catalogo-bibl"><span class="catalogo-author">FERTÉ (M. de la)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2265">Extrait de différens ouvrages publiés sur la vie des peintres</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1776</span>, 2
    vol. in 8.
    <span class="catalogo-title"><a class="catalog-link" href="/catalog/2265">Sonovi due frontespizi figurati e allegorici dì bell’intaglio.
    Quest’opera è estratta dalle migliori fonti.</a></span>
    
    </span></section>