<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1495">
                  <span class="catalogo-item-label">1495.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOMER Ant.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1495">Triumphus novem seculorum Imperii Rom. Germ. Carolo Magno a R. P. Ant.
    Bomer etc.</a></span> Anno seculari <span class="catalogo-date">1770</span> decantatus, nunc autem anno Jubilaeo <span class="catalogo-date">1725</span> quadrante saeculi
    auctus et recusus a Jo. And. Pfeffel calcografo aulico, Aug. Vind. ec., in fol. È anche M. 91.
    <div class="catalogo-note collapse">Sonvi undici tavole con grande magnificenza intagliate già da Gio. Ulrich Kraus e dallo stesso Pfeffel aumentate
    e riprodotte.</div>
    MDCCXXIX
    
    </span></section>