<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4685">
                     <span class="catalogo-item-label">4685.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARTARI Vincenzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4685">Le immagini con la sposizione degli Dei degli antichi</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per Francesco Rampazzetto,
<span class="catalogo-date">1566</span>, in 8.
Edizione nitida ed elegante.
</span></section>