<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="503">
                  <span class="catalogo-item-label">503.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">FERROGIO Benedetto</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/503">Dell’utilità ed applicazione delle mattematiche all’architettura civile,</a></span>
	                    <span class="catalogo-pubPlace">Torino</span> 
                     <span class="catalogo-date">1788,</span> 
                     <span class="catalogo-extent">in 8.</span>
                  </span>
	              </section>