<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3739">
                     <span class="catalogo-item-label">3739.</span> <span class="catalogo-bibl"><span class="catalogo-author">FULVII Andreae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3739">Antiquaria urbis Romae</a></span>, per magistrum Jacobum Mazzocchium, a. 1513 triumphante P. Leone X
Pontifice maximo, in 4.
Questo libro scritto in versi, e dedicato a Leone X è ritenuto fra i più rari, e preziosi delle antichità, e non ne venne
fatta altra edizione.
</span></section>