<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1453">
                  <span class="catalogo-item-label">1453.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1453">La POMPA della solenne entrata fatta nella città di Milano dalla Serenissima Maria Anna
    austriaca</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1651</span>, in fol. fig.
    <div class="catalogo-note collapse">Le invenzioni e le macchine furono dell’ingegnere architetto Carlo Buzzio e le pitture dei quadri di Giovanni
    Angelo Storel, di Stefano Montalto e Antonio Busca, in tutto tavole 21 di mediocre intaglio.</div>
    MDCLVIII
    
    </span></section>