<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1759">
                  <span class="catalogo-item-label">1759.</span> <span class="catalogo-bibl"><span class="catalogo-author">PIGNORII Laurentii patavini</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1759">De Servis, et eorum apud veteres ministeriis commentarius</a></span>,
  <span class="catalogo-pubPlace">Augusta Vindelicorum</span> <span class="catalogo-date">1613</span>, in 4, fig.
  <div class="catalogo-note">Con varie figure di utensili antichi e medaglie intagliate in legno e posta a luoghi indicati dal testo.</div>
  
  </span></section>