<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3089">
                     <span class="catalogo-item-label">3089.</span> <span class="catalogo-bibl"><span class="catalogo-author">AKERBALD G. D.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3089">Iscrizione greca sopra una lamina di piombo trovata in un sepolcro nelle vicinanze di Atene</a></span>,
<span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1813</span>, in 4, fig., M. 77.
<div class="catalogo-note collapse">Con due tavole al fine ed una sul frontespizio.</div>

                     
                     

                  </span></section>