<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3559">
                     <span class="catalogo-item-label">3559.</span> <span class="catalogo-bibl"><span class="catalogo-author">TOMASSIN Simon graveur du roi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3559">Recueil des figures, groupes, thermes, fontains, vases, statues, et autres
ornaments, qui se voient au présent gravées d’aprés les originaux</a></span>, vol. 4, en 4 p., <span class="catalogo-date">1695</span> <span class="catalogo-pubPlace">Amsterdam</span>, tab. 218.
<div class="catalogo-note collapse">Legati in un solo tomo. Libro che ha un’apparenza di accuratezza; ma che è di cattiva ed infedele esecuzione.</div>
</span></section>