<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="495">
                  <span class="catalogo-item-label">495.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DURERI</span> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/495">Alberti nurembergen pictoris prestantissimi ec., Institutionum geometrioariun libri
	quatuor cum figuris, 1532 Parisis, ex officina Wechelii in fol. fig. Accedit eiusdem de Urbibus
	
	                       
	                       
	
	et arcis condendis,</a></span> 
                     <span class="catalogo-pubPlace">Parisiis</span> 
                     <span class="catalogo-date">1535.</span>
	                    <div class="catalogo-note">La dottrina di Alberto Durero estesa in questo libro di geometria, fa conoscere come egli sapeva applicarla ad
	ogni modo dell’arte. Le tavole sono in legno, e vi si trovano gli elementi della prospettiva, dell’obiettiva, le
	proporzioni delle lettere ec. ec.</div><div id="catalogo-note-text-495" class="catalogo-note-search-results truncate-line-clamp">La dottrina di Alberto Durero estesa in questo libro di geometria, fa conoscere come egli sapeva applicarla ad
	ogni modo dell’arte. Le tavole sono in legno, e vi si trovano gli elementi della prospettiva, dell’obiettiva, le
	proporzioni delle lettere ec. ec.</div><a id="catalogo-note-text-toggle-495" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>