<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1943">
                  <span class="catalogo-item-label">1943.</span> <span class="catalogo-bibl"><span class="catalogo-author">REIFENBERGII</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1943">Justi emblemata politica</a></span>, <span class="catalogo-pubPlace">Amst.</span>, ap. Jo. Janson, <span class="catalogo-date">1632</span>, in 12, ag.
    <div class="catalogo-note">Questo è uno dei più eleganti libri di emblemi, per le preziose incisioni e per la finezza dell’esecuzione. Sono 35
    compreso il frontespizio.</div><div id="catalogo-note-text-1943" class="catalogo-note-search-results truncate-line-clamp">Questo è uno dei più eleganti libri di emblemi, per le preziose incisioni e per la finezza dell’esecuzione. Sono 35
    compreso il frontespizio.</div><a id="catalogo-note-text-toggle-1943" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>