<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2997">
                     <span class="catalogo-item-label">2997.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCHOW Nicolai</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2997">Epistola in qua nummus Ulpiae Pautaliae ineditus ex Museo Borgiano illustratur</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1789</span>,
in 4, M. 16.
</span></section>