<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3685">
                     <span class="catalogo-item-label">3685.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3685"> Le COSE meravigliose dell’alma città di Roma, Aggiuntevi le antichità di Roma di M. Andrea Palladio raccolte
brevemente dagli autori antichi, e moderni. Aggiuntovi un discorso sopra li fuochi degli antichi</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per
Gieronimo Francino, <span class="catalogo-date">1588</span>, in 8, fig.
<div class="catalogo-note">In questa edizione le fabbriche intagliate in legno sono elegantemente eseguite, e le meglio disegnate d’ogni altra
guida.</div><div id="catalogo-note-text-3685" class="catalogo-note-search-results truncate-line-clamp">In questa edizione le fabbriche intagliate in legno sono elegantemente eseguite, e le meglio disegnate d’ogni altra
guida.</div><a id="catalogo-note-text-toggle-3685" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>