<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2545">
                     <span class="catalogo-item-label">2545.</span> <span class="catalogo-bibl"><span class="catalogo-author">QUATREMERE de Quincy</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2545">De l’architecture egyptienne considérée dans son origine, et comparée à l’architecture
grecque</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1803</span>, en 4, figurato.
<div class="catalogo-note collapse">Con 18 tavole intagliate in rame. Dissertazione premiata dall’Accademia di Francia nel 1785, piena di buona
critica e profonda erudizione.</div>
</span></section>