<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2960">
                     <span class="catalogo-item-label">2960.</span> <span class="catalogo-bibl"><span class="catalogo-author">PASSERII Joannis Baptistae</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2960"> Novus thesaurus gemmarum veterum ex insignioribus dactyliothecis 
                        selectarum <span class="catalogo-pb" id="page_77">77</span> cum explicatione</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1780 a 1797</span>, vol. 4, in fol., fig.
<div id="catalogo-note-text-2960" class="catalogo-note truncate-line-clamp">Vincenzo Brenna disegnò in dieci gran tavole di arabeschi figurati (le quali sono in tutta l’opera ripetute)
l’ornamento delle pagine entro cui stanno intagliate le gemme incise da Giovan Maria Cassini. Ogni volume ha
cento tavole. Il Passeri estese le illustrazioni nei tre primi volumi, il Cassini nell’ultimo. Nel secondo volume è
aggiunta una dissertazione dell’Amaduzzi sopra una gemma con un’appendice alle Memorie Glittografiche del
Gori: nel terzo parimente una dissertazione dello stesso in guisa d’epistola sopra d’un’altra gemma. Opera
grandiosa per speculazione, ma con poco merito intrinseco. Vedi anche Gori.</div><a id="catalogo-note-text-toggle-2960" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>