<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1920">
                  <span class="catalogo-item-label">1920.</span> <span class="catalogo-bibl"><span class="catalogo-author">MEISNER</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1920">Thesaurus Philopoliticus hoc est emblemata moralia politica figuris aeneis incisa</a></span>,
    <span class="catalogo-pubPlace">Francf.</span> <span class="catalogo-date">1624</span>, 25.
    <div class="catalogo-note collapse">Opera copiosissima divisa in 5 parti che contiene presso a 300 tavole illustrate in latino e in tedesco. Esemp.
    della Bibl. Malborough.</div>
    
    </span></section>