<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3842">
                     <span class="catalogo-item-label">3842.</span> <span class="catalogo-bibl"><span class="catalogo-author">POLENI Giovanni</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3842">Memorie storiche della gran cupola del tempio Vaticano, e de’ danni, e ristoramenti di essa</a></span>, libri
cinque, <span class="catalogo-pubPlace">Padova</span>, nella stamperia del seminario, <span class="catalogo-date">1748</span>, in fol., fig.
<div class="catalogo-note collapse">Quest’opera fu nobilmente stampata ed ornata di 27 figure dimostrative. La dottrina dell’autore in queste materie
ci risparmia dal far cenno sulla preziosità del lavoro.</div>
</span></section>