<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2307">
                  <span class="catalogo-item-label">2307.</span> <span class="catalogo-bibl"><span class="catalogo-author">MACH Pauli</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2307">Nerei Vaticinium de raptu Helenae <span class="catalogo-pb" id="page_392">392</span> Apellea Guidonis Rheni arte
    depicto</a></span>, <span class="catalogo-pubPlace">Bononiae</span> <span class="catalogo-date">1633</span>, in 4 p.
    </span></section>