<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3863">
                     <span class="catalogo-item-label">3863.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROSSI (De) Giovan Giacomo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3863">Le fontane di Roma delineate, ed incise da Giovan Battista Falda e da Francesco
Venturin</a></span>i, in fol. obl., senz’anno.
— La prima parte di questo libro contiene le fontane nei luoghi pubblici di Roma.

                     
                     
— La seconda quelle di Frascati, e di Tusculano.
— La terza dei palazzi e giardini di Roma.
<div class="catalogo-note">Sono 77 tavole compresi i frontespizj di bellissimo inta <span class="catalogo-pb" id="page_217">217</span> glio, le quali sono di prima freschezza, e rendono
una precisa idea dei luoghi e delle cose rappresentate.</div>
</span></section>