<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1842">
                  <span class="catalogo-item-label">1842.</span> <span class="catalogo-bibl"><span class="catalogo-author">APELLES Symbolicus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1842">Auctore R. P. Joanne Michaele von der Ketten</a></span>, <span class="catalogo-pubPlace">Amstelodami</span>, ap. Jans.,
                     <span class="catalogo-date">1699</span>, vol. 1, in 8.
                     <div class="catalogo-note collapse">Opera vasta e ripiena di citazioni e allusioni sacre, con non copiose e non buone tavole frapposte al testo</div>.
    
    </span></section>