<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="906">
                  <span class="catalogo-item-label">906.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/906">DESCRIZIONE della strada del Sempione fatta costruire dal Governo italiano</a></span>, in esecuzione del
      decreto 20 Fruttidoro an VIII, in fol. pic.
      <div id="catalogo-note-text-906" class="catalogo-note truncate-line-clamp">Questa fu una delle più insigni opere fatte in Italia in questa nostra età che meriterebbe d’essere illustrata con
      tutta la diffusione e la diligenza, non essendo questa memoria che un breve cenno.
      N. B. per errore trascorso è mancante il num. 907.</div><a id="catalogo-note-text-toggle-906" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      </span></section>