<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1837">
                  <span class="catalogo-item-label">1837.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALCIATI Andreae V. Cl.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1837">Emblemata cum commentariis amplissimis Claudii Minois Francisci
                     Sanctii Brocensis et notis Laurentii Pignorii etc. etc.</a></span>, <span class="catalogo-pubPlace">Patavii</span><span class="catalogo-date"> 1621</span>, ap. Petr. P. Tozzium, in 4.
    <div class="catalogo-note collapse">Ad ognuno dei 212 emblemi una lunga spiegazione e tutti i commenti: opera che oltrepassa le 1000 pagine di
       testo e la più ampia che abbiamo intorno questa materia trattata dall’Alciato</div>.
    
    </span></section>