<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3550">
                     <span class="catalogo-item-label">3550.</span> <span class="catalogo-bibl"><span class="catalogo-author">De ROSSI Giovan Gherardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3550">Lettera sul deposito di Clemente XIII nella basilica Vaticana</a></span>, 
                        <span class="catalogo-pubPlace">Bassano</span> <span class="catalogo-date">1792</span>.
</span></section>