<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="654">
                  <span class="catalogo-item-label">654.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SCAMOZZI Vincent</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/654">Les cinq ordres d’architecture tirés du sixieme livre de son idée generale
	
	                       
	                       
	
	d’architecture avec les planches originales par Augustin Charles d’Aviler architecte,</a></span> 
                     <span class="catalogo-pubPlace">Paris,</span>
	                    chez Coignard, 
                     <span class="catalogo-date">1685,</span> 
                     <span class="catalogo-extent">in fol.</span>
                  </span>
	                 <div id="catalogo-note-text-654" class="catalogo-note truncate-line-clamp">Questa versione fatta giudiziosamente da un nomo profondo nella materia si è resa rara oltre modo per le scarso
	numero degli esemplari, o pel consumo che ne fu fatto.</div><a id="catalogo-note-text-toggle-654" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>