<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4725">
                     <span class="catalogo-item-label">4725.</span> <span class="catalogo-bibl">(<span class="catalogo-author">MARTIN D. Jacques religieux benedictin</span>), <span class="catalogo-title"><a class="catalog-link" href="/catalog/4725">Explication de divers monuments singuliers, qui ont rapport à la
		     réligion des plus anciens peuples</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1739</span>, in 4, fig.</span>
		     <div id="catalogo-note-text-4725" class="catalogo-note truncate-line-clamp">Questo libro egualmente apparisce anonimo dal frontespizio ove il nome è taciuto. Innanzi è una tavola
allegorica colla dedica dell’opera all’Accademia delle Iscrizioni e Belle Lettere, e il volume è ornato di
monumenti diversi intagliati in rame.</div><a id="catalogo-note-text-toggle-4725" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
		  </section>