<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1688">
                  <span class="catalogo-item-label">1688.</span> <span class="catalogo-bibl"><span class="catalogo-author">LICETI Fortunii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1688">De annulis antiquis liber singularis</a></span>, <span class="catalogo-pubPlace">Utini</span> <div id="catalogo-note-text-1688" class="catalogo-note truncate-line-clamp">1645</div><a id="catalogo-note-text-toggle-1688" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>, in 8, fig.
    <div id="catalogo-note-text-1688" class="catalogo-note truncate-line-clamp">Con due belle tavole di anelli intagliate da Giovanni Giorgi in numero di 40, compresavi una medaglia con
    ritratto bellissi <span class="catalogo-pb" id="page_291">291</span> mo, forse dell’autore. L’opera è però prolissa e tratta troppi argomenti estranei per
    intemperanza di erudizione.</div><a id="catalogo-note-text-toggle-1688" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>