<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1698">
                  <span class="catalogo-item-label">1698.</span> <span class="catalogo-bibl"><span class="catalogo-author">MANELPHI Ioan. Eretani</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1698">Mensa Romana sive urbana victus ratio</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1650</span>, in 4.
  <div id="catalogo-note-text-1698" class="catalogo-note truncate-line-clamp">Bellissimo ed eruditissimo libro nel singolare suo genere.
  </div><a id="catalogo-note-text-toggle-1698" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  </span></section>