<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="550">
                  <span class="catalogo-item-label">550.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">De LUBERSAC L’abbé</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/550">Discours sur les monuments pubblics de tous les âges et de tous les
	peuples connus, suivi d’une description du monument projeté à la gloire de Lovis XVI et de la
	France,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1755,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Le due tavole in gran foglio, che annunziano il pensiero dell’autore, par troppo fanno conoscere l’infelicità del
	suo gusto: quantunque nell’opera siano alcune nozioni che fanno conoscere il suo criterio nelle teorie.</div>
	
	              </section>