<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="461">
                  <span class="catalogo-item-label">461.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">CAPRA Alessandro</span> architetto e cittadino cremonese, <span class="catalogo-title"><a class="catalog-link" href="/catalog/461">La nuova architettura famigliare,</a></span> 
                     <span class="catalogo-pubPlace">Bologna</span>
	                    <span class="catalogo-date">1678,</span>
                     <span class="catalogo-extent"> in 4, fig.</span>
	                    <div id="catalogo-note-text-461" class="catalogo-note truncate-line-clamp"> Prima edizione con molte tavole intagliate in legno fra il testo.</div><a id="catalogo-note-text-toggle-461" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	                 
	                 
	                 
	
	              </section>