<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2551">
                     <span class="catalogo-item-label">2551.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZOEGA Georgii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2551">De origine et usu obeliscorum</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1797</span>, in fol., fig.
<div class="catalogo-note collapse">Con otto tavole in rame grandissime, opera insigne e profonda.</div>
</span></section>