<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2394">
                  <span class="catalogo-item-label">2394.</span> <span class="catalogo-bibl"><span class="catalogo-author">VASARI Giorgio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2394">Vita di M. Jacopo Sansovino</a></span>, in 4, M. 37.
    <div class="catalogo-note">Questa vita è tratta dal secondo volume della terza parte dei libri stampati in Fiorenza l’anno 1568 e scritto da M.
    Giorgio Vasari aretino, a c. 823, e ora da lui medesimo in più luoghi ampliata, riformata e corretta. Trovansi
    rarissimi esemplari di questa edizione.
    </div><div id="catalogo-note-text-2394" class="catalogo-note-search-results truncate-line-clamp">Questa vita è tratta dal secondo volume della terza parte dei libri stampati in Fiorenza l’anno 1568 e scritto da M.
    Giorgio Vasari aretino, a c. 823, e ora da lui medesimo in più luoghi ampliata, riformata e corretta. Trovansi
    rarissimi esemplari di questa edizione.
    </div><a id="catalogo-note-text-toggle-2394" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>