<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1228">
                  <span class="catalogo-item-label">1228.</span> <span class="catalogo-bibl"><span class="catalogo-author">WINCKELMANN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1228">Lettres familieres avec les oeuvres du Chev. Mengs</a></span>, <span class="catalogo-pubPlace">Yverdon</span> <span class="catalogo-date">1784</span>, vol. 3,
    in 12.
    <div class="catalogo-note collapse">Contengonsi nei due primi volumi le lettare di Winckelmann e un estratto di lettera di Fuessli al traduttor tedesco
    delle ricerche sul bello della pittura di Webb. Il terzo volume contiene il trattato di Mengs e la lettera a D.
    Antonio Pons.</div>
    
    </span></section>