<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2673">
                     <span class="catalogo-item-label">2673.</span> <span class="catalogo-bibl"><span class="catalogo-author">GORI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2673">Notizie del memorabile scoprimento dell’antica città d’Ercolano, del suo teatro, templi etc. avute
per lettere da varj celebri letterati</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1748</span>, in 8, fig.
— Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/2673">Venuti Marcello, Descrizione delle prime scoperte d’Ercolano</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1749</span>, in 8.
<div class="catalogo-note">Sono questi i primi e più preziosi opuscoli che andavano uscendo dalla penna dei letterati al momento delle più
importanti scoperte. Nel primo è la tavola coi cavalli dei Balbi: si rileva in questo libro la progressiva
escavazione e scoperta, che dopo i primi tentativi del 1689 ha il suo vero principio nel 1711 allorquando il
principe Emanuel Maurizio duca d’Elboeuf Pari di Francia trovò presso Resina un tempio d’Ercole ornato di
statue ec. ec.</div><div id="catalogo-note-text-2673" class="catalogo-note-search-results truncate-line-clamp">Sono questi i primi e più preziosi opuscoli che andavano uscendo dalla penna dei letterati al momento delle più
importanti scoperte. Nel primo è la tavola coi cavalli dei Balbi: si rileva in questo libro la progressiva
escavazione e scoperta, che dopo i primi tentativi del 1689 ha il suo vero principio nel 1711 allorquando il
principe Emanuel Maurizio duca d’Elboeuf Pari di Francia trovò presso Resina un tempio d’Ercole ornato di
statue ec. ec.</div><a id="catalogo-note-text-toggle-2673" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>