<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4774">
                     <span class="catalogo-item-label">4774.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4774">DESCRIZIONE delle pitture a fresco di Luca Giordano esistenti nelle II. RR. Galleria, e Biblioteca Riccardiana</a></span>,
<span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1819</span>, in 8, italiano e francese, esemplare in carta distinta.
</span></section>