<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3759">
                     <span class="catalogo-item-label">3759.</span> <span class="catalogo-bibl"><span class="catalogo-author">LAURI Jacobi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3759">Roma vetus, et nova, sive antiquae <span class="catalogo-pb" id="page_197">197</span> urbis splendor, et ejus admiranda aedificia</a></span>, <span class="catalogo-pubPlace">Romae</span>,
<span class="catalogo-date">1614</span>, presso Giovanni Mascardi.
<div class="catalogo-note">Esemplare di rara nitidezza, ed eleganza, quantunque le pagine siano state piegate con molta desterità per ridurlo
alla forma di quarto piccolo. Noi ritenghiamo che questa sia la prima edizione di quest’opera, che venne
successivamente stampata in varie forme, e mutate le dediche, e con varietà di numero nelle tavole. Questa è
dedicata al duca di Savoja, la seguente al re di Polonia, e trovansi in tutte i ritratti dei mecenati. Fors’anche gli
editori nello stesso anno producevano i medesimi esemplari mutando le dediche a seconda delle circostanze per
ottener protezioni. In questo esemplare le tavole dei monumenti sono 109 precedute da un primo frontespizio
figurato, dal ritratto di Carlo Emanuele, dalla dedica istoriata e figurata, da due fogli di privilegj dell’Imperatore, e
del Papa Clemente VIII, e da un avviso al lettore di Giacomo Lauro, italiano, e latino. Esemplare in vitello dor.</div>
</span></section>