<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3203">
                     <span class="catalogo-item-label">3203.</span> <span class="catalogo-bibl"><span class="catalogo-author">CIAMPINI Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3203">Sacro-historica disquisitio de duobus emblematibus, ubi disceptatur an duo Philippi
imperatores fuerint christiani</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1691</span>, in 4, M. 11.
</span></section>