<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="97">
                  <span class="catalogo-item-label">97.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CANEPARII Petri Marire</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/97"> De atramentis cuiuscumque generis,</a></span>
                     <span class="catalogo-pubPlace"> Roterdami</span>
                     <span class="catalogo-date"> 1718,</span> 
                     <span class="catalogo-extent">in 4.</span>
                  </span>
	                 <div class="catalogo-note collapse">In quest’opera di 500 pagine la materia è pienamente e dottamente esaurita.</div>	  
	              </section>