<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4612">
                     <span class="catalogo-item-label">4612.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4612">LIBRO de’ marchj de’ cavalli con li nomi de’ tutti li principi e privati signori che hanno razza di cavalli</a></span>, <span class="catalogo-pubPlace">Venezia</span>,
                        presso Niccolò Nelli, <span class="catalogo-date">1569</span>, in 8.
<div class="catalogo-note collapse">Otto foglietti col frontespizio figurato elegantemente. Contengono un ricettario pei cavalli, e seguono i marchj in
76 foglietti intagliati in rame con diligenza, sotto ciascuno de’ quali stanno le dichiarazioni incise nelle tavole.
Libretto raro, poiché queste operette di consumazione frequente nelle fiere e mercati perirono, e per le variazioni
nelle razze non vennero mai ristampate le antiche indicazioni. Vedi Zen.</div>
</span></section>