<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3225">
                     <span class="catalogo-item-label">3225.</span> <span class="catalogo-bibl"><span class="catalogo-author">FOSSOMBRONI Vittorio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3225">Saggio sopra il moto degli animali e sopra i trasporti</a></span>, <span class="catalogo-pubPlace">Modena</span> <span class="catalogo-date">1805</span>, in 4, M. 65.
<div id="catalogo-note-text-3225" class="catalogo-note truncate-line-clamp">Dissertazione dottissima, che svolge molte intricate questioni in questa materia e atterra molte opinioni mal
fondate.</div><a id="catalogo-note-text-toggle-3225" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>