<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="752">
                  <span class="catalogo-item-label">752.</span> <span class="catalogo-bibl"><span class="catalogo-author">BIBIENA Galli Antonio cavaliere</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/752">Pianta e spaccato del nuovo teatro di Bologna</a></span> offerto al C.
	Legnaci da Lorenzo Capponi, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1771</span>, in fol. fig. Con 5 grandi tavole in rame e la
	facciata nei frontespizio.
	<span class="catalogo-pb" id="page_141">141</span>
	— Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/752">I disegni del nuovo teatro de quattro cavalieri eretto in Pavia l’anno 1773</a></span>, in fol.
	figurato.
	<div class="catalogo-note">Con tre tavole in rame e il frontespizio intagliato.</div><div id="catalogo-note-text-752" class="catalogo-note-search-results truncate-line-clamp">Con tre tavole in rame e il frontespizio intagliato.</div><a id="catalogo-note-text-toggle-752" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>