<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="414">
                  <span class="catalogo-item-label">414.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BARCA Alessandro</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/414"> Della geometria di Polifilo.</a></span> Memoria, <span class="catalogo-pubPlace">Brescia</span> 
                     <span class="catalogo-date">1808,</span>
                     <span class="catalogo-extent"> in fol. fig.</span> 
	                    <div id="catalogo-note-text-414" class="catalogo-note truncate-line-clamp">Si confutano ivi queste alcune esagerazioni di Temanza, e si fa conoscere fino a qual segno Francesco Colonna
	sapesse di Geometria.</div><a id="catalogo-note-text-toggle-414" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>