<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3478">
                     <span class="catalogo-item-label">3478.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3478"> ANTIQUITÉS dans la collection de S. M. le Roi de Prusse à S. Souci divisée en 2 parties, contenant 12 planches
chaque partie</a></span>, <span class="catalogo-pubPlace">Berlin</span> <span class="catalogo-date">1769, et 1772</span>, in fol.
<div class="catalogo-note">Queste 24 tavole mediocremente disegnate ed incise a Potsdam da L. Kruger all’acqua forte indicano la
provenienza di alcuno di quei busti, ma rendono una debole idea delle opere.</div><div id="catalogo-note-text-3478" class="catalogo-note-search-results truncate-line-clamp">Queste 24 tavole mediocremente disegnate ed incise a Potsdam da L. Kruger all’acqua forte indicano la
provenienza di alcuno di quei busti, ma rendono una debole idea delle opere.</div><a id="catalogo-note-text-toggle-3478" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                     
                     

                  </span></section>