<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1940">
                  <span class="catalogo-item-label">1940.</span> <span class="catalogo-bibl"><span class="catalogo-author">PONAE Francisci</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1940">Gardiomorphoseos sive ex corde desumpta emblemata sacra</a></span>, <span class="catalogo-pubPlace">Veronae</span> <span class="catalogo-date">1646</span>,
    in 4.
    <div class="catalogo-note collapse">Sono 101 tavole mal intagliate con le relative interpretazioni.</div>
    
    </span></section>