<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="178">
                  <span class="catalogo-item-label">178.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">PELLEGRINO Fulvio mantovano</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/178">Significato dei colori e dei mazzoli, Venezia 1618, appresso
	  Comia Gallina, in 8; aggiuntovi il Trattato dei colori nelle arme e nelle livree e nelle divise, di
	  Sicillo araldo del re Alfonso di Aragona,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1606</span>, presso lucio Spineda,
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note">Questi opuscoletti non sono comuni, ma hanno relazione alle allegorie e agli emblemi più che alla pittura.</div>	  
	              </section>