<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1799">
                  <span class="catalogo-item-label">1799.</span> <span class="catalogo-bibl"><span class="catalogo-author">SPONII Jacobi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1799">Ignotorum atque obscurorum quorundam Deorum arae nunc primum in lucem
                     datae notisque illustrata</a></span>, <span class="catalogo-pubPlace">Lugduni</span><span class="catalogo-date"> 1676</span>, in 12.
  <div class="catalogo-note">Con un’annotazione manoscritta del Sig. Villoison intorno le opere che trattano degli dei ignoti. Aggiunto a
     questo si trova legato il seguente</div>.
  
  </span></section>