<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="202">
                  <span class="catalogo-item-label">202.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ROSSIGNOLI Carlo</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/202"> La pittura in giudizio, ovvero il bene delle oneste pitture; e il male delle
	  oscene,</a></span> 
                     <span class="catalogo-pubPlace">Bologna</span> 
                     <span class="catalogo-date">1697,</span> 
                     <span class="catalogo-extent">in 12.</span>
                  </span>
	                 <div class="catalogo-note">La gravità dell’argomento per sé stessa prestava all’autore un soggetto sì facile a sostenersi colla ragione e con la
	  solidità della filosofia e della morale, che poteva mescolarvi meno idee teologiche senza diminuire la forza dei
	  ragionamenti.</div><div id="catalogo-note-text-202" class="catalogo-note-search-results truncate-line-clamp">La gravità dell’argomento per sé stessa prestava all’autore un soggetto sì facile a sostenersi colla ragione e con la
	  solidità della filosofia e della morale, che poteva mescolarvi meno idee teologiche senza diminuire la forza dei
	  ragionamenti.</div><a id="catalogo-note-text-toggle-202" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>