<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3261">
                     <span class="catalogo-item-label">3261.</span> <span class="catalogo-bibl"><span class="catalogo-author">MANIN Leonardo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3261">Memorie storico-critiche intorno la vita traslazione e invenzione di S. Marco Evangelista</a></span>,
                        <span class="catalogo-pubPlace">Venezia</span><span class="catalogo-date"> 1815</span>, in 4, fig., M. 76.
                        <div class="catalogo-note">Memoria eruditissima con 5 grandi tavole nitidamente disegnate e intagliate</div>.
</span></section>