<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1485">
                  <span class="catalogo-item-label">1485.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1485">BREVE descrizione e disegni delle carrozze dell’Eccellentissimo Signor Antonio Floriano del
    S. R. I. Principe di Liechtenstein ambasciatore alla Sede Apostolica dedicata al Card. di Goes</a></span>,
    <span class="catalogo-pubPlace">Roma</span>, per Giacomo Komarck, <span class="catalogo-date">1694</span>, in fol.
    <div class="catalogo-note">Sonovi dodici curiose e interessantissime tavole che rappresentano le carrozze di gala di quei tempi disegnate da
    Antonio Cresolini e incise accuratamente da Huberto Vincenti.</div>
    MDCCII
    
    </span></section>