<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1726">
                  <span class="catalogo-item-label">1726.</span> <span class="catalogo-bibl"><span class="catalogo-author">NERI Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1726">L’arte vetraria distinta in sette libri, ne’ quali si scoprono effetti maravigliosi e
  insegnano segreti bellissimi</a></span>, <span class="catalogo-pubPlace">Firenze</span>, presso i Giunti, <span class="catalogo-date">1612</span>. Intonso, in 8.
  </span></section>