<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1596">
                  <span class="catalogo-item-label">1596.</span> <span class="catalogo-bibl"><span class="catalogo-author">BONANNI Filippo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1596">Gabinetto armonico pieno d’istrumenti sonori imitati</a></span>, spiegati ed intagliati,
    <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1728</span>, in 4, fig.
    <div class="catalogo-note collapse">Con 148 tavole in rame, non compreso il frontespizio di mediocre intaglio.</div>
    
    </span></section>