<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1362">
                  <span class="catalogo-item-label">1362.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCELTA d’orazioni italiane</span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1766</span>, in 8.
    <div class="catalogo-note collapse">Fra le quali trovatisi le tre di Francesco Maria Zanotti, una di Alessandro Fabri ed una di Giambattista Roberti in
    materia di pittura, scultura e architettura.</div>
    
    </span></section>