<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3331">
                     <span class="catalogo-item-label">3331.</span> <span class="catalogo-bibl"><span class="catalogo-author">SAULNIER Petrus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3331">De capite sacri ordinis Sancti Spiritus; dissertatio</a></span>, <span class="catalogo-pubPlace">Lugduni</span> <span class="catalogo-date">1649</span>, in 4.
<div id="catalogo-note-text-3331" class="catalogo-note truncate-line-clamp">Questo è un volume di 250 p. con undici tavole intagliate in rame, ove sono espresse tutte le parti ed illustrato lo

                     
                     
spedale di S. Spirito di Roma.</div><a id="catalogo-note-text-toggle-3331" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>