<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4727">
                     <span class="catalogo-item-label">4727.</span> <span class="catalogo-bibl"><span class="catalogo-author">MESNY</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4727">Degli altari, e delle are degli antichi, presentata alla celebre Accademia Etrusca di Cortona</a></span>, dissertazione,
<span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1763</span>, in 8.
</span></section>