<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4263">
                        <span class="catalogo-item-label">4263.</span> <span class="catalogo-bibl"><span class="catalogo-author">CELANO Carlo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4263">Notizie del bello, dell’antico, e del curioso della città di Napoli, per li signori forestieri</a></span>: diviso in
tre giornate, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1758</span>, in 12, fig., vol. 3.
<div id="catalogo-note-text-4263" class="catalogo-note truncate-line-clamp">Il libro è diviso in 10 giornate ciascuna con frontespizio separato come se fossero altrettanti volumi, e con molte
tavole intagliate in rame. Opera delle migliori, non sgombra però di molti pregiudizj che s’incontrano nelle
antiche tradizioni.</div><a id="catalogo-note-text-toggle-4263" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>