<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="246">
                  <span class="catalogo-item-label">246.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ZUCCARI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/246">Il passaggio per l’Italia con la dimora in Parma del cavalier Federico Zuccaro, dove
	  si narrano le feste fatte in Mantova e le nozze del principe Francesco Gonzaga coll’infanta
	  Margherita di Savoia,</a></span> 
                     <span class="catalogo-pubPlace">Bologna</span> 
                     <span class="catalogo-date">1608</span>, <span class="catalogo-extent">in 4 pic.</span>
                  </span>
	              </section>