<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="174">
                  <span class="catalogo-item-label">174.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">OCCOLTI Coronato</span> da Canedolo,<span class="catalogo-title"><a class="catalog-link" href="/catalog/174"> Trattato de’ colori, nuovamente stampato con l’aggiunta del
	  significato d’alcuni doni, dal medesimo data in luce,</a></span> 
                     <span class="catalogo-pubPlace">Parma,</span> 
                     presso Seth Viotto, 
                     <span class="catalogo-date">1568,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div id="catalogo-note-text-174" class="catalogo-note truncate-line-clamp">È raro il trovare esemplari conservatissimi, come sono tutti quelli della nostra collezione, in simili materie, che
	  per le mani di tutti passarono e non vennero mai ristampati o tutt’al più ne fu fatta alcuna volta una seconda
	  edizione.</div><a id="catalogo-note-text-toggle-174" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>