<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3700">
                     <span class="catalogo-item-label">3700.</span> <span class="catalogo-bibl"><span class="catalogo-author">DESGODETZ Antoine</span> architecte, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3700">Les edifices antiques de Rome, dessinés et mesurés trés exactement</a></span>, <span class="catalogo-pubPlace">Paris</span>, chez
Coignard, <span class="catalogo-date">1682</span>, in fol., fig.
<div class="catalogo-note">Questa è la prima grand’opera eseguita con accuratezza, e con magnificenza di tavole veramente distinta, la quale
ha preceduto tutte le altre di simil genere dando l’esempio al ben fare: nondimeno scrupoleggiando, come oggi sul
fare la critica, vi si sono notate non poche inesattezze notate da più moderni archeologi, e architetti.
Le tavole di questa grand’opera sono 137 senza il frontespizio, e non furono vinte in merito una magnifica
ristampa fattane in Inghilterra, e da una seconda edizione in Francia. Esempl. in mar. dor.</div><div id="catalogo-note-text-3700" class="catalogo-note-search-results truncate-line-clamp">Questa è la prima grand’opera eseguita con accuratezza, e con magnificenza di tavole veramente distinta, la quale
ha preceduto tutte le altre di simil genere dando l’esempio al ben fare: nondimeno scrupoleggiando, come oggi sul
fare la critica, vi si sono notate non poche inesattezze notate da più moderni archeologi, e architetti.
Le tavole di questa grand’opera sono 137 senza il frontespizio, e non furono vinte in merito una magnifica
ristampa fattane in Inghilterra, e da una seconda edizione in Francia. Esempl. in mar. dor.</div><a id="catalogo-note-text-toggle-3700" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>