<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1429">
                  <span class="catalogo-item-label">1429.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUIDICCIONI Lelio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1429">Breve racconto della trasportazione del corpo di Paolo V dalla Basilica di
    S. Pietro a quella di S. Maria Maggiore coll’orazione recitata sulle sue esequie ed alcuni versi
    posti nell’apparato</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1623</span>, in fol. fig.
    <div class="catalogo-note">I bei disegni delle 16 figure allegoriche, che sì vedono vennero fatti da Giovanni Lanfranco e intagliati da
    Teodoro Crueger che intagliò anche le altre due tavole degli apparati. La relazione non meno che l’orazion
    funerale sono di Lelio Guidiccioni.</div><div id="catalogo-note-text-1429" class="catalogo-note-search-results truncate-line-clamp">I bei disegni delle 16 figure allegoriche, che sì vedono vennero fatti da Giovanni Lanfranco e intagliati da
    Teodoro Crueger che intagliò anche le altre due tavole degli apparati. La relazione non meno che l’orazion
    funerale sono di Lelio Guidiccioni.</div><a id="catalogo-note-text-toggle-1429" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCXXIV
    
    </span></section>