<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2397">
                  <span class="catalogo-item-label">2397.</span> <span class="catalogo-bibl"><span class="catalogo-author">VECELLIO Tiziano pittore</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2397">Breve compendio della vita del famoso Tiziano Vecellio di Cadore
    cavaliere e pittore con l’arbore della sua vera consanguineità</a></span>. All’Eccellenza Illustrissima di
    M. di Arundell Surrey, <span class="catalogo-pubPlace">Venezia</span>, presso Santo Grillo e fratelli, <span class="catalogo-date">1622</span>, in 4, p.
                     <div class="catalogo-note"> Col ritratto in fronte intagliato da Odoardo Fialetti. <span class="catalogo-pb" id="page_404">404</span>
   </div><div id="catalogo-note-text-2397" class="catalogo-note-search-results truncate-line-clamp"> Col ritratto in fronte intagliato da Odoardo Fialetti. <span class="catalogo-pb" id="page_404">404</span>
   </div><a id="catalogo-note-text-toggle-2397" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a> 
   <span class="catalogo-bibl"> — Aggiuntovi; <span class="catalogo-title"><a class="catalog-link" href="/catalog/2397">Titiani Pictoris celeberrimi</a></span>, Danae, <span class="catalogo-pubPlace">Parisiis</span>, apud Clodovoeum Cottard,<span class="catalogo-date">1633</span>.
    <div class="catalogo-note">Questo e un poemetto latino preceduto da altri componimenti di Eustazio, di Erasmo e di altri scrittori. Amendue
    questi opuscoli sono rarissimi. Vedasi anche questa vita medesima originale in Miscellanei 88.
    </div><div id="catalogo-note-text-2397" class="catalogo-note-search-results truncate-line-clamp">Questo e un poemetto latino preceduto da altri componimenti di Eustazio, di Erasmo e di altri scrittori. Amendue
    questi opuscoli sono rarissimi. Vedasi anche questa vita medesima originale in Miscellanei 88.
    </div><a id="catalogo-note-text-toggle-2397" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
   </span> </span></section>