<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2266">
                  <span class="catalogo-item-label">2266.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2266">FIORI d’ingegno.</a></span> Composizioni in lode dell’effigie della Primavera dipinta da Carlo Maratti,
    presso il Sig. Nicolò Michieli Senatore Veneto, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1685</span>, in 12.

                  
                  
    
               </span></section>