<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3907">
                     <span class="catalogo-item-label">3907.</span> <span class="catalogo-bibl"><span class="catalogo-author">VENUTI Ridolfino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3907">Accurata, e succinta descrizione topografica, ed istorica di Roma moderna</a></span>. Opera postuma
ridotta in miglior forma, accresciuta, ed ornata di molte figure, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1766</span>, in 4, fig.
</span></section>