<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2526">
                     <span class="catalogo-item-label">2526.</span> <span class="catalogo-bibl"><span class="catalogo-author">KIRCHERII Athanasii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2526">Obeliscus Pamphilius; hoc est interpretatio nova obelisci hierogliphici quem etc.</a></span>, <span class="catalogo-pubPlace">Romae</span>
<span class="catalogo-date">1650</span>, in f., fig.
</span></section>