<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="164">
                  <span class="catalogo-item-label">164.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">LOMAZZO Giovanni Paolo milanese pittore</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/164">Versione inglese. A tracte containing the artes of
	  curious painting etc.,</a></span> 
                     <span class="catalogo-pubPlace">Oxford,</span> by Joseph Barnes, 
                     <span class="catalogo-date">1598.</span>
                  </span>
	                 <div class="catalogo-note collapse">Nel libro delle proporzioni sono le tavole: il che assicura l’anteriorità a quest’edizione inglese, preferibile a
	  quella di Tolosa del 1649.</div>
	  
	                 <span class="catalogo-bibl">– Versione francese. Vedila negli Elementi e proporzioni.</span>
	              </section>