<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2852">
                     <span class="catalogo-item-label">2852.</span> <span class="catalogo-bibl"><span class="catalogo-author">GAETANI Cesare della Torre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2852">Piombi antichi mercantili. Dissertazione, che serve di appendice ai piombi antichi
                        del Ficoroni</a></span>,<span class="catalogo-date"> 1775</span>, in 8, fig., M. 60.
                        <div class="catalogo-note collapse">Con due grandi tavole intagliate in rame</div>.
</span></section>