<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1703">
                  <span class="catalogo-item-label">1703.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARINELLO</span>, La stessa opera, <span class="catalogo-pubPlace">Venezia</span>, presso Gio. Batt. Bonfadini, <span class="catalogo-date">1610</span>, in 8.
  <div class="catalogo-note">Questo è uno dei più curiosi e interessanti libri nel suo genere, in cui si raccontano tutti gli artifizi che erano in
  grand’uso nel cinquecento per gli abbellimenti non tanto con me per la conservazione della salute. La prima di
  queste edizioni è stampata con eleganza.</div><div id="catalogo-note-text-1703" class="catalogo-note-search-results truncate-line-clamp">Questo è uno dei più curiosi e interessanti libri nel suo genere, in cui si raccontano tutti gli artifizi che erano in
  grand’uso nel cinquecento per gli abbellimenti non tanto con me per la conservazione della salute. La prima di
  queste edizioni è stampata con eleganza.</div><a id="catalogo-note-text-toggle-1703" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>