<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3579">
                     <span class="catalogo-item-label">3579.</span> <span class="catalogo-bibl"><span class="catalogo-author">De ANGELIS Pauli</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3579">Basilicae Sanctae Mariae Majoris descriptio, et delineatio, libri XII</a></span>, 
                       <span class="catalogo-pubPlace">Romae</span>, ex tipographia
Bartholomaei Zanetti, <span class="catalogo-date">1621</span>, in fol., fig.
<div class="catalogo-note collapse">Il frontespizio è figurato, e 39 tavole grandi servono ad il <span class="catalogo-pb" id="page_168">168</span> lustrazioni della basilica accompagnate da
interpretazioni, iscrizioni, osservazioni storiche, e critiche. Opera di pregio. Edizione diligentemente, e nobilmente
eseguita.</div>
</span></section>