<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4651">
                     <span class="catalogo-item-label">4651.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4651">DICTIONAIRE bibliographique, historique, et critique des livres rares, qui n’ont aucun prix fixe tant que des autres
connus etc.</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1790</span>, vol. 4, in 8.
</span></section>