<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="224">
                  <span class="catalogo-item-label">224.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VARCHI Benedetto</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/224">Lezioni da lui pubblicate lette nell’accademia fiorentina sopra diverse
	  materia pratiche e filosofiche (nelle quali sono anche inserte le due sopraindicate),</a></span> 
                     <span class="catalogo-pubPlace">Firenze</span>,
	  per i Giunti, 
                     <span class="catalogo-date">1590</span>,<span class="catalogo-extent"> in 4.</span>
                  </span>
	              </section>