<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3020">
                     <span class="catalogo-item-label">3020.</span> <span class="catalogo-bibl"><span class="catalogo-author">STRATICO Simeoni</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3020">De duabus formis Archetypis aeneis ad antiquum numisma majoris moduli pertinentibus
disquisitio</a></span>, <span class="catalogo-pubPlace">Veronae</span> <span class="catalogo-date">1791</span>, in 8, fig., M. 97.
<div class="catalogo-note">Con una tavola intagliata in rame in principio. Elegantissimo e dottissimo opuscoletto.</div>
</span></section>