<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2417">
                  <span class="catalogo-item-label">2417.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZANOTTI Giampietro Gavazzoni</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2417">Vita di Eustachio Manfredi</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1745</span>, in 4.
    <div class="catalogo-note collapse">Col ritratto in principio. Troppi sono i titoli pei quali l’architettura e le meccaniche debbono ascrivere fra i loro
    cooperatori questo matematico insigne.
    </div>
    </span></section>