<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1334">
                  <span class="catalogo-item-label">1334.</span> <span class="catalogo-bibl"><span class="catalogo-author">NICCOLINI Giovan Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1334">Orazione per la distribuzione dei premi nel solenne concorso
    triennale dell’Accademia di Belle Arti in Firenze</a></span>, <span class="catalogo-date">1809</span>, in 4, M. 25.
    </span></section>