<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3311">
                     <span class="catalogo-item-label">3311.</span> <span class="catalogo-bibl"><span class="catalogo-author">PLACENTINI Gregorii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3311">De sepulcro Benedicti IX in templo monasterii Cryptae-Ferratae detecto, diatriba</a></span>, <span class="catalogo-pubPlace">Romae</span>
<span class="catalogo-date">1747</span>, in 4, fig., M. 27.
<div id="catalogo-note-text-3311" class="catalogo-note truncate-line-clamp">Col ritratto in principio e due tavole in rame e una tavola coll’iscrizione.</div><a id="catalogo-note-text-toggle-3311" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>