<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2901">
                     <span class="catalogo-item-label">2901.</span> <span class="catalogo-bibl"><span class="catalogo-author">KOBHLER Jéan David</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2901">Remarques sur les medailles et les monnoyes</a></span>, a <span class="catalogo-pubPlace">Berlin</span><span class="catalogo-date">1740</span> , in 4, fig.
<div class="catalogo-note collapse">Quest’opera, divisa in due parti, non riguarda che medaglioni moderni: contiene 8 tavole intagliate in rame e
   molte belle e singolari notizie istoriche anche relative agli artisti</div>.
<span class="catalogo-pb" id="page_67">67</span>
                  </span></section>