<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2614">
                     <span class="catalogo-item-label">2614.</span> <span class="catalogo-bibl"><span class="catalogo-author">PASSERII Joannis Baptistae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2614">In monumenta sacra eburnea a clariss. Antonio Franc. Gorio ad quartam hujus operis
partem reservata expositiones</a></span>, <span class="catalogo-pubPlace">Florentiae</span> <span class="catalogo-date">1759</span>, in fol., fig.
</span></section>