<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2742">
                     <span class="catalogo-item-label">2742.</span> <span class="catalogo-bibl"><span class="catalogo-author">BANDURI Anselmi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2742">Numismata Imperatorum romanorum a Trajano Decio ad Paleologos Augustos</a></span>. Accessit
Bibliotheca Nummaria, <span class="catalogo-pubPlace">Lutetiae Parisiorum</span> <span class="catalogo-date">1718</span>, in fol., fig., vol. 2.
— <span class="catalogo-author">Taninii Hieronymi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2742">Numismata Imperatorum romanorum a Trajano Decio ad Costantinum Draconem ab
Anselmo Bandurio editore supplementum</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1791</span>, in fol., fig.
<div class="catalogo-note collapse">Va unita cogli scrittori della Bizantina, ma può stare anche separatamente. Questi tre volumi formano il
complesso dell’opera che può ritenersi fra le più copiose e principali di numismatica: le numerosissime tavole
stanno collocate fra il testo a’ luoghi rispettivi.</div>
</span></section>