<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3530">
                     <span class="catalogo-item-label">3530.</span> <span class="catalogo-bibl"><span class="catalogo-author">MILLIN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3530">L’Oresteide ou dexcription de deux bas-reliefs du Palais Grimani à Venise, et de quelques monumens qui
ont raport à l’histoire d’Oreste</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1817</span>, in fol., fig.
<div class="catalogo-note">Con 4 tav. in rame. I due monumenti, che veggonsi in casa Grimani non sono altrettanto caricati come i disegni
che un artista, (forse veneto) esagerò nei contorni.</div>
</span></section>