<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2581">
                     <span class="catalogo-item-label">2581.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIACCHI Filippo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2581">Saggio di ricerche sopra lo stato antico e moderno di Volterra</a></span>. Diviso in tre parti, la prima
<span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1786</span>, la seconda <span class="catalogo-pubPlace">Siena</span>, <span class="catalogo-date">1796</span>, la terza, che contiene un’appendice ai due tomi precedenti, <span class="catalogo-pubPlace">Siena</span> <span class="catalogo-date">1798</span>, in
4, leg. in un volume.
</span></section>