<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1029">
                  <span class="catalogo-item-label">1029.</span> <span class="catalogo-bibl"><span class="catalogo-author">MISSIRINI M.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1029">Le antichità di Ravenna</a></span>, poemetto, <span class="catalogo-pubPlace">Forlì</span> <span class="catalogo-date">1804</span>, in 8.
      <div class="catalogo-note">Vedilo anche altrove fra le opere di scultura.</div>
      
      </span></section>