<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="241">
                  <span class="catalogo-item-label">241.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">WEBB Daniele</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/241">Ricerche sopra le bellezze della pittura e sul merito dei più celebri pittori
	  antichi e moderni. Opera tradotta in italiano da una dama veneta,</a></span> 
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1791</span>.</span>
	                 <div class="catalogo-note">La modestia, che non permise a questa dama assai colta e distinta se non di porre le iniziali del suo nome nella
	  dedica della versione alla sig. Elisabetta Foscarini, non toglierà che da noi si sveli il nome della nob. D. sig.
	  Maria Querint Stampalia, nata Lippamano, versatissima nelle arti del disegno e nelle amene lettere, oltre le solide
	  qualilità di cuore e di spirito che la costituiscono uno de’ principali ornamenti della sua patria.</div><div id="catalogo-note-text-241" class="catalogo-note-search-results truncate-line-clamp">La modestia, che non permise a questa dama assai colta e distinta se non di porre le iniziali del suo nome nella
	  dedica della versione alla sig. Elisabetta Foscarini, non toglierà che da noi si sveli il nome della nob. D. sig.
	  Maria Querint Stampalia, nata Lippamano, versatissima nelle arti del disegno e nelle amene lettere, oltre le solide
	  qualilità di cuore e di spirito che la costituiscono uno de’ principali ornamenti della sua patria.</div><a id="catalogo-note-text-toggle-241" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>