<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2365">
                  <span class="catalogo-item-label">2365.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROSCOE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2365">Vie et pontificat de Leon X traduit de l’anglais par P. F. Henry</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1808</span>, in 8, vol
    4.
<div class="catalogo-note collapse">    La copia delle memorie relative alle arti che trovasi in quest’opera la pone immediata nella collezione degli
    scrittori di arti e la munificenza di questo principe mecenate d’ogni studio e d’ogni chiaro ingegno, gli assicura la
    devozione della posterità riconoscente.
</div>    
    </span></section>