<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1950">
                  <span class="catalogo-item-label">1950.</span> <span class="catalogo-bibl"><span class="catalogo-author">SAAVEDRAE Didaci Faxardi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1950">Idea principis christiano politici</a></span>, <span class="catalogo-date">1749</span>, in 8, fig.
    <div class="catalogo-note">Edizione accurata ed elegante di oltre 600 pagine con 103 tavole intagliate in rame. Mancante del frontespizio,
    sebbene sia bello e ben conservato esemplare, colle medesime tavole della seguente, che non hanno altro merito
    che tuta certa accuratezza.</div><div id="catalogo-note-text-1950" class="catalogo-note-search-results truncate-line-clamp">Edizione accurata ed elegante di oltre 600 pagine con 103 tavole intagliate in rame. Mancante del frontespizio,
    sebbene sia bello e ben conservato esemplare, colle medesime tavole della seguente, che non hanno altro merito
    che tuta certa accuratezza.</div><a id="catalogo-note-text-toggle-1950" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>