<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="333">
                  <span class="catalogo-item-label">333.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MALASPINA Luigi</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/333"> Memoria sui vari giri di testa ad uso del disegno,</a></span> 
                     <span class="catalogo-pubPlace">Pavia</span> 
                     <span class="catalogo-date">1812,</span>
                     <span class="catalogo-extent"> in 4 con 2
	tavole, M. 92.</span>
                  </span>
	              </section>