<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="970">
                  <span class="catalogo-item-label">970.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZONCA Vittorio architetto della magnifica città di Padova</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/970">Nuovo teatro di macchine e di
      edificii per varie e sicure operazioni</a></span>, <span class="catalogo-pubPlace">Padova</span> <span class="catalogo-date">1607</span>, in 4, fig. presso Francesco Bertelli.
      <div class="catalogo-note collapse">Le tavole sono oltre 40 di chiara e nitida incisione e le illustrazioni ben estese ed atte a far conoscere l’uso
      pratico di ogni macchina.</div>
      
      </span></section>