<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3831">
                     <span class="catalogo-item-label">3831.</span> <span class="catalogo-bibl"><span class="catalogo-author">PIRANESI Giovan Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3831">Nuova raccolta di vedute di Roma antica, e moderna.</a></span>
<div class="catalogo-note">Questa collezione di piccole vedute in 4 oblong. porzione intagliata da Giovan Battista Piranesi, e porzione da
Laura Piranesi, è delle più belle, ed eleganti, che veggansi di questo genere.
Il nostro esemplare freschissimo è composto di 68 tavole.</div>
</span></section>