<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4733">
                     <span class="catalogo-item-label">4733.</span> <span class="catalogo-bibl"><span class="catalogo-author">MUSSARDUS P.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4733">Historia Deorum fatidicorum, vatum, sybillarum Phoebarum apud priscos illustrium, cum eorum
iconibus</a></span>, <span class="catalogo-pubPlace">Genevae</span> <span class="catalogo-date">1675</span>, in 8, figurato.
<div class="catalogo-note">Colle tavole degl’indovini e delle sibille intagliate in rame alla maniera dei de Bry. Opera non comune.</div>
</span></section>