<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="634">
                  <span class="catalogo-item-label">634.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">RONDELEX Jean</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/634">Traité théorique et pratique de l’art de bâtir,vol. 4,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1708,</span> 
                     <span class="catalogo-extent">in 4, grande
	figurato.</span>
                  </span>
	                 <div class="catalogo-note collapse">Opera assai ben concepita ed eseguita, con vastità di cognizioni in ognuno dei rami relativi all’architettura con
	180 grandi tavole. Estendesi nella parte dei legnami mobiglie, ferramenti, tagli di pietre, scelte de’ materiali ed è
	forse la più ampia che abbracci tutte le utili pratiche per l’arte edificatoria.</div>
	                 
	                 
	                 
	
	              </section>