<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3349">
                     <span class="catalogo-item-label">3349.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3349">SYMBOLAE literariae opuscula varia philologica scientifica antiquaria, signa, lapides, numismata, gemmas, et
monumenta medii aevi nunc primum edita complectentes, vol. 2</a></span>, in fol., <span class="catalogo-date">1748</span>.
<div class="catalogo-note">In questi primi due volumi stanno le dissertazioni del Gori, del Passeri relative alle antichità ercolanensi. Il terzo
volume trovasi legalo colle miscellanee nel tomo 95.</div><div id="catalogo-note-text-3349" class="catalogo-note-search-results truncate-line-clamp">In questi primi due volumi stanno le dissertazioni del Gori, del Passeri relative alle antichità ercolanensi. Il terzo
volume trovasi legalo colle miscellanee nel tomo 95.</div><a id="catalogo-note-text-toggle-3349" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>