<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="847">
                  <span class="catalogo-item-label">847.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAROLOIS Samuelis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/847">Mathematicorum sui saeculi facile principis opticae, sive perspectivae
	
	                 
	                 
	
	partes quatuor</a></span>, <span class="catalogo-pubPlace">Amstelodami</span>, Janson, <span class="catalogo-date">1633</span>, in fol. fig. Prima edizione.
	— Addita <span class="catalogo-author">Joan. Uredernanni</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/847">Perspectivae pars secunda</a></span>, <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1633</span>.
	<div class="catalogo-note collapse">Quest’opera contiene la seconda parte, cioè la scenografia eguale a quella pubblicata nel 1638 con 80 tavole e 24
	ne sono nel trattato di Uredeman.</div>
	
	</span></section>