<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3135">
                     <span class="catalogo-item-label">3135.</span> <span class="catalogo-bibl"><span class="catalogo-author">MONGITORE D. Francesco Serio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3135">Discorso sopra un’antica tavola di marmo, ove descrivonsi i giuochi fatti
nell’antico teatro di Palermo dal proconsole Aureliano</a></span>, <span class="catalogo-pubPlace">Palermo</span> <span class="catalogo-date">1748</span>, in 8, M. 53.
</span></section>