<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1904">
                  <span class="catalogo-item-label">1904.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1904">HADRIANI Junii Med. Embl.</a></span>, <span class="catalogo-pubPlace">Ant.</span> <span class="catalogo-date">1565</span>, in 8.
    <div id="catalogo-note-text-1904" class="catalogo-note truncate-line-clamp">La prima parte di questi emblemi in 58 tavole contiene bellissime incisioni in legno, la quale è seguita da una
    seconda contenente gli enigmi. Le spiegazioni sono legate separatamente dalle tavole.</div><a id="catalogo-note-text-toggle-1904" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>