<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3114">
                     <span class="catalogo-item-label">3114.</span> <span class="catalogo-bibl"><span class="catalogo-author">GARUFFIO Josepho</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3114">Lucerna lapidaria quae monumenta, epitaphia, inscriptiones, et sepulchra tum gentilium tum
christianorum via Flaminia et Arimini scrutatur accensa</a></span>, <span class="catalogo-pubPlace">Arimini</span> <span class="catalogo-date">1691</span>, in 8, M. 49 e 35.
</span></section>