<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="680">
                  <span class="catalogo-item-label">680.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">TOMMASIO (Christ)</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/680">Non Ens actionis forensis contra aedificatitem ex emulatione, Halae
	Magdeb.</a></span> 
                     <span class="catalogo-date">1735,</span> 
                     <span class="catalogo-extent">in 4, M. 45.</span>
                  </span>
	              </section>