<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1071">
                  <span class="catalogo-item-label">1071.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1071">TRAITÉ du Beau</a></span>, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1872</span>, in 12, senza nome di autore. Questa è una ristampa anzi
      una mutilazione dell’opera del P. André. Vedasi <span class="catalogo-title"><a class="catalog-link" href="/catalog/1071">Essai sur le beau.</a></span>
      <div id="catalogo-note-text-1071" class="catalogo-note truncate-line-clamp">È unito a questo libretto anche l’altro che ha per titolo de la philosophie des Chinois.</div><a id="catalogo-note-text-toggle-1071" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>