<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2376">
                  <span class="catalogo-item-label">2376.</span> <span class="catalogo-bibl"><span class="catalogo-author">TEMANZA Tommaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2376">Vita di Andrea Palladio vicentino egregio architetto</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1768</span>, in
    4, M. 5.<div class="catalogo-note">
    Sono al fine stampate due scritture di Palladio inedite.
    </div>
    </span></section>