<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2864">
                     <span class="catalogo-item-label">2864.</span> <span class="catalogo-bibl"><span class="catalogo-author">GOLTZII Huberti Herbipolitae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2864">Fasti Magistratuum, et triumphorum Romano <span class="catalogo-pb" id="page_61">61</span>rum ab urbe condita ad
                        Augusti obitum ex antiquis monumentis</a></span>,<span class="catalogo-pubPlace"> Antuerpiae</span><span class="catalogo-date"> 1644</span>, in f., fig.
<div class="catalogo-note collapse">— Accedit: ejusdem thesaurus rei antiquariae uberrrimus eodem loco, et anno.
   Opera stampata con grandi cure tipografiche per la varietà dei caratteri e delle iscrizioni con 192 tavole in rame</div>.
</span></section>