<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3821">
                     <span class="catalogo-item-label">3821.</span> <span class="catalogo-bibl"><span class="catalogo-author">DU PERAC Stefano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3821">Vestigii delle antichità di Roma raccolti, e ritratti in perspettiva</a></span>, <span class="catalogo-pubPlace">Roma</span>, presso Lorenzo della
Vaccheria, <span class="catalogo-date">1575</span>, in fol. obl.
<div id="catalogo-note-text-3821" class="catalogo-note truncate-line-clamp">Sono 40 tavole compreso il frontespizio d’intaglio abbastanza cattivo, e privo di gusto, ma hanno qualche
carattere della verità nell’imitazione superficiale, e materiale degli oggetti.</div><a id="catalogo-note-text-toggle-3821" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>