<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2188">
                  <span class="catalogo-item-label">2188.</span> <span class="catalogo-bibl"><span class="catalogo-author">D’ARGENVILLE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2188">Vie des fameux architectes et sculpteurs depuis la rénaissance des arts avec
    la déscription de leurs ouvrages</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1787</span>, in 8, 2 vol.
    <div class="catalogo-note">Questa fu pubblicata dal figlio dell’autore delle vite de’ pitt <span class="catalogo-pb" id="page_377">377</span>tori; opera piuttosto arida; aggiunge egli
    nella prefazione che disponevasi a pubblicare una nuova edizione delle Vite stampate da suo padre, con molte
    aggiunte e senza ritratti.</div><div id="catalogo-note-text-2188" class="catalogo-note-search-results truncate-line-clamp">Questa fu pubblicata dal figlio dell’autore delle vite de’ pitt <span class="catalogo-pb" id="page_377">377</span>tori; opera piuttosto arida; aggiunge egli
    nella prefazione che disponevasi a pubblicare una nuova edizione delle Vite stampate da suo padre, con molte
    aggiunte e senza ritratti.</div><a id="catalogo-note-text-toggle-2188" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>