<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="88">
                  <span class="catalogo-item-label">88.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BORROMEI Federici</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/88"> De pictura sacra libri duo: fig. in 8. Accedit eiusdem museum: sine loco et
	  anno.</a></span>
                  </span>
	                 <div class="catalogo-note">Questo è un aureo libretto scritto secondo i principi di un ecclesiastico, come lo fu questo porporato protettore,
	  delle arti, studiosissimo delle buone discipline, fondatore d’accademie, raccoglitore di preziosità, come qui
	  vedesi, ove raguaglia intorno gli statuti della sua accademia, e intorno le opere raccolte nel suo prezioso museo.</div>
	              </section>