<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1103">
                  <span class="catalogo-item-label">1103.</span> <span class="catalogo-bibl"><span class="catalogo-author">LANZI Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1103">Di Esiodo Ascreo: I Lavori e le Giornate</a></span>, opera con 50 codici riscontrata,
      
                  
                  
      
      emendata la versione latina e aggiuntavi l’italiana in terza rima, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1807</span>, in 4, grand.
      </span></section>