<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3180">
                     <span class="catalogo-item-label">3180.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOETTIGERI Carl August</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3180"> Explicatio antiquaria anaglyphi in Museo Napoleonico</a></span>, <span class="catalogo-pubPlace">Lipsiae</span> <span class="catalogo-date">1809</span>, in 8, fig., M. 102.
<div class="catalogo-note">Nel frontespizio vedesi il monumento intagliato.</div>
</span></section>