<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1162">
                  <span class="catalogo-item-label">1162.</span> <span class="catalogo-bibl"><span class="catalogo-author">HAGEDORN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1162">Lettre à un amateur de peinture avec des éclaircissemens historiques sur un
    cabinet, et <span class="catalogo-pb" id="page_208">208</span> les auteurs des tableaux, qui le composent</a></span>, <span class="catalogo-pubPlace">Dresde</span> <span class="catalogo-date">1755</span>, in 12.
    <div class="catalogo-note collapse">Nell’opera di questo autore Reflexions sur la peinture si parla dì questo libro di 368 pagine, ove sono sparse
    infinite belle notizie di artisti, sebbene fosse stampato anonimo senza alcuna indicazione, ma lo cita poi come
    opera sua propria.</div>
    
    </span></section>