<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="857">
                  <span class="catalogo-item-label">857.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROY Cl., graveur en taille douce sur tous métaux</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/857">Essai sur la perspective pratique par le
	moyen du calcul</a></span>, <span class="catalogo-pubPlace">Paris</span>, chez Jombert, <span class="catalogo-date">1756</span>, en 8, fig.
	<div class="catalogo-note">Con una tavola in fine. Questo saggio presenta alcuni pareri dell’autore, ma non insegna la prospettiva a chi non
	fosse in essa fondato.</div>
	
	</span></section>