<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4790">
                     <span class="catalogo-item-label">4790.</span> <span class="catalogo-bibl"><span class="catalogo-author">Da PERSICO Giovan Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4790">Anfiteatro di Verona e suoi nuovi scavi descritti</a></span>, <span class="catalogo-pubPlace">Verona</span> <span class="catalogo-date">1820</span>, in 8, fig.
<div class="catalogo-note collapse">Con tre tavole e il frontespizio figurato. In questo insigne anfiteatro continuano le operazioni dirette a restituirlo
al suo pristino splendore per cura dell’autore, attuale podestà di Verona, il qual sta pubblicnado in due volumi
una guida ragionata pel forestiere onde possa ammirare le curiosità della sua patria.</div>
</span></section>