<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2907">
                     <span class="catalogo-item-label">2907.</span> <span class="catalogo-bibl"><span class="catalogo-author">DE LEVIS Eugenio</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2907"> Raccolta di diverse antiche inscrizioni e medaglie epitalamiche trovate negli stati del Re di
Sardegna e due dissertazioni sopra un antico turibolo e campanello</a></span>, <span class="catalogo-pubPlace">Torino</span> <span class="catalogo-date">1781</span>, in 4, fig., M. 27.
<div class="catalogo-note">Con 14 tavole intagliate in rame diligentemente.</div>
</span></section>