<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2758">
                     <span class="catalogo-item-label">2758.</span> <span class="catalogo-bibl"><span class="catalogo-author">BEGERII Laurentii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2758">Contemplatio gemmarum quarumdam Dactyliothecae Gorlaei ante biennium et auctae et
illustratae</a></span>, <span class="catalogo-pubPlace">Coloniae Brandeburgicae</span> <span class="catalogo-date">1697</span>, in 4, fig.
— <span class="catalogo-title"><a class="catalog-link" href="/catalog/2758">Unito e legato: Meleagrides, et Etolia, ex numismate Kypieon apud Goltium, inter spersis marmoribus
quibusdam de Meleagri interitu, et apri Calydonii venatione, in lucem vindicatae</a></span>, <span class="catalogo-pubPlace">Coloniae Brandeburgicae</span>
<span class="catalogo-date">1696</span>, in 4, fig.
— <span class="catalogo-title"><a class="catalog-link" href="/catalog/2758">In fine. Cranae Insula Laconia eadem Helena dicta et Minyarum posteris habitata ex Numismat. Goltzianis a

                     
                     
Laur. Begero demonstrata, eodem loco et anno</a></span>.
<div class="catalogo-note collapse">Questi preziosi e non comuni opuscoli sono ornati di copiose tavole intagliate in rame e inserite fra il testo a’
suoi luoghi.</div>
</span></section>