<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2441">
                  <span class="catalogo-item-label">2441.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIULIO P. da Turino Capuccino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2441">Trattato sopra la fisonomia dell’uomo</a></span>, <span class="catalogo-pubPlace">Turino</span> <span class="catalogo-date">1793</span>, in 12.
    <div class="catalogo-note collapse">Opera alla quale le precedenti non hanno servito di alcuna sussidio per scegliere il grano dalla zizania.</div>
    
    </span></section>