<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1898">
                  <span class="catalogo-item-label">1898.</span> <span class="catalogo-bibl"><span class="catalogo-author">FLAMEN Albert peintre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1898">Dévises et emblemes d’amour moralisés etc.</a></span>, gravés à <span class="catalogo-pubPlace">Paris</span> et
    imprimés chez Estienne Loyson, <span class="catalogo-date">1672</span>, in 8.
    <div class="catalogo-note collapse">Sono queste cinquanta incisioni all’acqua forte eseguite con molto spirito, a cui vanno unite le rispettive
    dichiarazioni.</div>
    
    </span></section>