<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4022">
                     <span class="catalogo-item-label">4022.</span> <span class="catalogo-bibl"><span class="catalogo-author">Le GOUZ de Gerland</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4022">Dissertations sur l’origine de la ville de Dijon et sur les antiquitez découvertes sous les

                     
                     
murs bâtis par Aurelian</a></span>, a <span class="catalogo-pubPlace">Dijon</span> <span class="catalogo-date">1771</span>, in fol., fig., con frontespizio figurato, la carta topografica e 32 tavole ben
intagliate all’acqua forte.
<div class="catalogo-note collapse">Opera annunciata anonima, e riprodotta poi in Parigi nel 1772 per servire di continuazione alle opere di Caylus.</div>
</span></section>