<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="490">
                  <span class="catalogo-item-label">490.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DERAND Francois</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/490"> L’architecture des voutes, ou l’art des traits et coupé des voutes,</a></span> 
                     <span class="catalogo-pubPlace">Paris,</span>
                      chez
	Sebastien Cramoisy, 
                     <span class="catalogo-date">1643,</span>
                     <span class="catalogo-extent"> in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Opera estesa con molta prolissità e complicazione e con infinito numero di dimostrazioni e figure in tavole 121,
	alla quale bisogna accordate un merito distinto per le grandi cognizioni pratiche e matematiche in essa raccolte.</div><div id="catalogo-note-text-490" class="catalogo-note-search-results truncate-line-clamp">Opera estesa con molta prolissità e complicazione e con infinito numero di dimostrazioni e figure in tavole 121,
	alla quale bisogna accordate un merito distinto per le grandi cognizioni pratiche e matematiche in essa raccolte.</div><a id="catalogo-note-text-toggle-490" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>