<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="723">
                  <span class="catalogo-item-label">723.</span> <span class="catalogo-bibl"><span class="catalogo-author">M. VITRUVIO</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/723">I dieci libri dell’architettura tradotti in tedesco dal Rivio</a></span>, <span class="catalogo-pubPlace">Basilea</span> <span class="catalogo-date">1614</span>, in foglio
	figurato.
	<div id="catalogo-note-text-723" class="catalogo-note truncate-line-clamp">Questo medico studiosissimo d’ogni modo di belle cognizioni, sebbene non profondissimo, fu il primo a tradurre
	Vitruvio in tedesco. La prima edizione la pubblicò a Norimberga nel 1548, e poscia nel 1755 a Basilea.
	Quest’ultima edizione dicesi ricorretta ed ampliata, ma con pochissime variazioni dalle precedenti. Le tavole in
	legno numerosissime e singolari, di che è fornita quest’edizione, sono le stesse delle altre edizioni ec. Molte di
	queste aveva prima prodotte nel 1547 nella sua opera di architettura e prospettiva. Vedi Rivio.</div><a id="catalogo-note-text-toggle-723" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>