<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2556">
                     <span class="catalogo-item-label">2556.</span> <span class="catalogo-bibl"><span class="catalogo-author">BACCI Andrea</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2556">Notizie dell’antica Cluana, oggi S. Elpidio e di molte altre città e luoghi dell’antico Piceno
nuovamente data in Luce</a></span>, <span class="catalogo-pubPlace">Macerata</span> <span class="catalogo-date">1716</span>, in 4.
</span></section>