<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="593">
                  <span class="catalogo-item-label">593.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">PALLADIO Andrea</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/593">I due libri dell’architettura,</a></span> 
                     <span class="catalogo-date">1570,</span>
                     <span class="catalogo-extent"> in fol. fig.,</span> 
                     presso Domenico de’
	Franceschi.
                  </span>
	                 <div class="catalogo-note">Queste due opere qui separate, le quali veggiamo con frontespizi a loro addetti
	particolarmente, servirono poi nello stesso anno, a formare l’edizione completa dei quattro
	libri.</div><div id="catalogo-note-text-593" class="catalogo-note-search-results truncate-line-clamp">Queste due opere qui separate, le quali veggiamo con frontespizi a loro addetti
	particolarmente, servirono poi nello stesso anno, a formare l’edizione completa dei quattro
	libri.</div><a id="catalogo-note-text-toggle-593" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 <div class="catalogo-note">Dei due primi libri dell’antichità, la biblioteca Smithiana ne possedeva un esemplare e l’autore teneva forse in
	pensiero di unirvi poi altri libri, come si riconosce ai capi XIX e XXV, del suo primo libro, in cui fa sperare di
	dar presto alla luce i suoi disegni degli anfiteatri e degli archi di trionfo e come si può conghietturare da’
	materiali inediti in più luoghi esistenti; perla qual cosa pensò di pubblicare intanto i due primi libri.
	L’altro volume dei due libri d’architettura ancor più raro del precedente, non venne citato da alcun bibliografo,
	né mai ci venne fatto di conoscere altro esemplare.</div><div id="catalogo-note-text-593" class="catalogo-note-search-results truncate-line-clamp">Dei due primi libri dell’antichità, la biblioteca Smithiana ne possedeva un esemplare e l’autore teneva forse in
	pensiero di unirvi poi altri libri, come si riconosce ai capi XIX e XXV, del suo primo libro, in cui fa sperare di
	dar presto alla luce i suoi disegni degli anfiteatri e degli archi di trionfo e come si può conghietturare da’
	materiali inediti in più luoghi esistenti; perla qual cosa pensò di pubblicare intanto i due primi libri.
	L’altro volume dei due libri d’architettura ancor più raro del precedente, non venne citato da alcun bibliografo,
	né mai ci venne fatto di conoscere altro esemplare.</div><a id="catalogo-note-text-toggle-593" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 <div class="catalogo-note">Questa singolarità mette in chiaro i primi divisamenti dell’autore, e avendo noi conosciuti in buon numero
	bellissimi disegni palladiani inediti di romane antichità, oltre quelli già pubblicati da Lord Burlington, si
	riconosce ben chiara l’intenzione di Palladio di pubblicare almeno dopo i due primi libri, altri due, che
	componessero forse una grand’opera tutta di antichità, ommettendo di unirvi i libri dell’architettura.</div><div id="catalogo-note-text-593" class="catalogo-note-search-results truncate-line-clamp">Questa singolarità mette in chiaro i primi divisamenti dell’autore, e avendo noi conosciuti in buon numero
	bellissimi disegni palladiani inediti di romane antichità, oltre quelli già pubblicati da Lord Burlington, si
	riconosce ben chiara l’intenzione di Palladio di pubblicare almeno dopo i due primi libri, altri due, che
	componessero forse una grand’opera tutta di antichità, ommettendo di unirvi i libri dell’architettura.</div><a id="catalogo-note-text-toggle-593" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	                 <span class="catalogo-pb" id="page_107">107</span>
	              </section>