<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1659">
                  <span class="catalogo-item-label">1659.</span> <span class="catalogo-bibl"><span class="catalogo-author">GHEYN Jacques (de)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1659">Maniement d’armes, d’arquebuses, mousquetz et piques en conformité
    dell’ordre du Prince Maurice d’Orange, représenté par figures</a></span>, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1608</span>, in fol. fig.
    <div id="catalogo-note-text-1659" class="catalogo-note truncate-line-clamp">Questa è un’opera di bell’intaglio sulla maniera di Enrico Golzio, divisa in tre parti. La prima contiene 42 tavole
    oltre il frontenpizio figurato; 43 ne contiene la seconda e 32 la terza, ognuna di queste parti preceduta da un testo
    di quattro pagine.
    </div><a id="catalogo-note-text-toggle-1659" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>