<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2617">
                     <span class="catalogo-item-label">2617.</span> <span class="catalogo-bibl"><span class="catalogo-author">PASSERII</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2617">De pueri etrusci aheneo simulacro a Clemente XIV in Museum Vaticanum inlato</a></span>, dissertatio, <span class="catalogo-pubPlace">Romae</span>
<span class="catalogo-date">1773</span>, in 4, fig., M. 78.
<div id="catalogo-note-text-2617" class="catalogo-note truncate-line-clamp">Domenico Cunego ha intagliato la bella tav. principale e le altre che trovansi fra il testo.</div><a id="catalogo-note-text-toggle-2617" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>