<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4615">
                     <span class="catalogo-item-label">4615.</span> <span class="catalogo-bibl"><span class="catalogo-author">PALMIERI di Lorenzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4615">Perfette regole, e modi di cavalcare</a></span>, 
                        <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1625</span>, in 4, fig.
<div class="catalogo-note collapse">Il frontespizio figurato in rame porta la data dell’anno dopo. L’opera non è molto estesa, e contiene al fine un
ristretto delle infermità de’ cavalli con una tavola intagliata in rame.</div>
</span></section>