<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2830">
                     <span class="catalogo-item-label">2830.</span> <span class="catalogo-bibl"><span class="catalogo-author">EGIZIO Matteo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2830">Opuscoli volgari e latini</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1751</span>, in 4, fig.
<div id="catalogo-note-text-2830" class="catalogo-note truncate-line-clamp">Consistono in spiegazioni di medaglie, monumenti ed inscrizioni: ed altre diverse memorie e lettere in materie
erudite e di antichità.</div><a id="catalogo-note-text-toggle-2830" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>