<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1186">
                  <span class="catalogo-item-label">1186.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARIOTTI Annibale</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1186">Lettere pittoriche perugine: ossia Ragguaglio di memorie riguardanti le
    arti del disegno in Perugia al Sig. Baldassare Orsini pittore e architetto perugino</a></span>, <span class="catalogo-pubPlace">Perugia</span>
    <span class="catalogo-date">1788</span>, in 8.
    </span></section>