<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="193">
                  <span class="catalogo-item-label">193.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">REQUENO D. Vincenzo</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/193"> Saggi sul ristabilimento della antica arte dei Greci e romani pittori,</a></span>
	                    <span class="catalogo-pubPlace">Parma</span> 
                     <span class="catalogo-date">1787,</span>
                     <span class="catalogo-extent"> 2 vol., in 8, fig.</span>
                  </span>
	                 <div class="catalogo-note">Seconda edizione, ove è prodotto in intero il discorso del cavalier Lorgna.</div>	  
	              </section>