<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1290">
                  <span class="catalogo-item-label">1290.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1290">ALMANAC de Beaux arts pour l’an XII et l’an XIII. de la Repub. Français</a></span>, 2 vol. in 12, <span class="catalogo-pubPlace">Paris</span>.
    <div class="catalogo-note">In questi due anni 1803 e 1804 escì questo almanacco e forse alcuni anni dopo ebbe continuazione. Leggermente
    li passano in rivista infiniti oggetti d’arte e nomi d’artisti e opere esche ec. Simili opere sono buone come
    repertorio.</div>
    
    </span></section>