<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4045">
                     <span class="catalogo-item-label">4045.</span> <span class="catalogo-bibl"><span class="catalogo-author">MESCHINELLO</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4045">La chiesa ducale di S. Marco colle notizie del suo innalzamento, mosaici, iscrizioni etc.</a></span>, 
                        volumetti 4 legati in due tomi, dal <span class="catalogo-date"/>1753 al 1754, in 8.
<div class="catalogo-note">Non essendovi di meglio, bisogna esser paghi del poco che con mediocrità di mezzi riunì questo benemerito

                     
                     
   autore. Il tempio di San Marco poteva meritare il più dotto, e più profondo degl’illustratori.</div>
</span></section>