<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2225">
                  <span class="catalogo-item-label">2225.</span> <span class="catalogo-bibl"><span class="catalogo-author">CANALI Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2225">Elogio funebre del Sig. Baldassare Orsini, direttore dell Accademia di Belle
    Arti in Perugia</a></span>, <span class="catalogo-pubPlace">Perugia</span> <span class="catalogo-date">1811</span>, in 8, M. 88.
    <span class="catalogo-pb" id="page_382">382</span>
               </span></section>