<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="476">
                  <span class="catalogo-item-label">476.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CIPRIANI Giovan Battista</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/476"> Monumenti di fabbbriche antiche, estratti dai disegni dei più celebri
	autori,</a></span>
                     <span class="catalogo-pubPlace"> Roma </span>
                     <span class="catalogo-date">dal <span class="catalogo-date">1796</span> al <span class="catalogo-date">1803</span>,</span>
                     <span class="catalogo-extent"> in 4, grande, fig. vol. 3.</span>
                  </span>
	                 <div class="catalogo-note">Questi tre tomi sono ciascuno composti di altrettanti volumetti ognuno riguardante l’illustrazione di qualche
	insigne edificio, preceduti da una pagina di testo, e da un frontespizio separato, il tutto intagliato in rame. II
	primo tomo contiene 86 tavole che illustrano dieci edifici. Otto compongono il secondo tomo che contiene 79
	tav. Quattordici stanno nel terzo illustrati con tavole 136; opera di bella ed esatta erudizione.</div><div id="catalogo-note-text-476" class="catalogo-note-search-results truncate-line-clamp">Questi tre tomi sono ciascuno composti di altrettanti volumetti ognuno riguardante l’illustrazione di qualche
	insigne edificio, preceduti da una pagina di testo, e da un frontespizio separato, il tutto intagliato in rame. II
	primo tomo contiene 86 tavole che illustrano dieci edifici. Otto compongono il secondo tomo che contiene 79
	tav. Quattordici stanno nel terzo illustrati con tavole 136; opera di bella ed esatta erudizione.</div><a id="catalogo-note-text-toggle-476" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a> 
	
	              </section>