<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="468">
                  <span class="catalogo-item-label">468.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CATANEO</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/468"> I quattro primi libri d’architettura, Venezia, in casa dei figliuoli di Aldo,</a></span> 
                     <span class="catalogo-date">1554,</span>
                     <span class="catalogo-extent"> in
	fol. fig.</span>
                  </span>
	              </section>