<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="594">
                  <span class="catalogo-item-label">594.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">PALLADIO</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/594">I quattro libri dell’architettura, Venezia, per Domenico de’ Franceschi,</a></span> 
                     <span class="catalogo-date">1570,</span> 
                     <span class="catalogo-extent">in fol.
	fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Prima edizione di rara freschezza e conservazione, con foglietti in bianco per farvi a piacere osservazioni: legata
	in vit.. dor. con busta.</div>
	                 <div class="catalogo-note collapse">Quest’edizione fu contraffatta posteriormente, ma non in modo di abbisognar di segnali per distinguerla
	dall’originale, poiché ciò dalla freschezza delle tavole, dalla carta, dai caratteri si conosce a piena evidenza.</div>
	                 
	                 
	                 
	
	              </section>