<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1679">
                  <span class="catalogo-item-label">1679.</span> <span class="catalogo-bibl"><span class="catalogo-author">KIRCHERII Athanasii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1679">Musurgia universalis sire ars magna consoni et dissoni in X lib. digesta,</a></span>
    <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1650</span>, in fol. fig., 2 vol. Legati in un solo tomo.
    </span></section>