<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="759">
                  <span class="catalogo-item-label">759.</span> <span class="catalogo-bibl"><span class="catalogo-author">KNOBELSDORFF Le Baron</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/759">Plans de la sale de l’opera à Berlin</a></span>, <span class="catalogo-date">1743</span>, in fol. fig.
	<div class="catalogo-note">In 11 tavole si rende conto d’uno de’ più begli edifici di Berlino, nel quale l’autore a norma del buono stile che
	aveva in prima gioventù dedotto da monumenti pubblicati d’antichità, si condusse assai meglio che non fece
	posteriormente nelle altre opere ove venne impiegato, poiché cedette in seguito esso pure al gusto falso e corrotto
	del secolo.</div><div id="catalogo-note-text-759" class="catalogo-note-search-results truncate-line-clamp">In 11 tavole si rende conto d’uno de’ più begli edifici di Berlino, nel quale l’autore a norma del buono stile che
	aveva in prima gioventù dedotto da monumenti pubblicati d’antichità, si condusse assai meglio che non fece
	posteriormente nelle altre opere ove venne impiegato, poiché cedette in seguito esso pure al gusto falso e corrotto
	del secolo.</div><a id="catalogo-note-text-toggle-759" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>