<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3138">
                     <span class="catalogo-item-label">3138.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3138">NOTIZIE d’un codice contenente una raccolta d’iscrizioni antiche per lo più inedite ed osservabili</a></span>. Opuscoletto di
14 pagine a guisa d’epistola, stampato in <span class="catalogo-pubPlace">Roma</span>, in 8, M. 61.
<div class="catalogo-note">L’autore aveva di recente acquistato il codice alla vendita della biblioteca prima Crescenzi, poi Serlupi.</div>
</span></section>