<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3848">
                     <span class="catalogo-item-label">3848.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3848">RACCOLTA di varie antichità, e lucerne antiche intagliate la maggior parte da Pietro Santi Bartoli</a></span>, <span class="catalogo-pubPlace">Roma</span>, in 4,
senz’anno.
<div class="catalogo-note">Sono tavole 31, dodici delle quali presentano diversi monumenti, diciassette sono di lucerne antiche di vario, e
bizzarro genere: segue un medaglione di Flavia Elena Augusta, e termina con una tavola di doppia grandezza
rappresentante le nozze Aldobrandine. È da osservarsi però che le belle lucerne pubblicate in quest’opera, le cui
prove sono di prima freschezza, non sono punto comprese in quelle pubblicate dal Bellori.</div><div id="catalogo-note-text-3848" class="catalogo-note-search-results truncate-line-clamp">Sono tavole 31, dodici delle quali presentano diversi monumenti, diciassette sono di lucerne antiche di vario, e
bizzarro genere: segue un medaglione di Flavia Elena Augusta, e termina con una tavola di doppia grandezza
rappresentante le nozze Aldobrandine. È da osservarsi però che le belle lucerne pubblicate in quest’opera, le cui
prove sono di prima freschezza, non sono punto comprese in quelle pubblicate dal Bellori.</div><a id="catalogo-note-text-toggle-3848" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>