<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1562">
                  <span class="catalogo-item-label">1562.</span> <span class="catalogo-bibl"><span class="catalogo-author">S. AUBIN Aug.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1562">C’est ici les differens jeux de petits polissons de Paris</a></span>, 
                     <span class="catalogo-date">1770</span>, in fol., M. 105.
    <div id="catalogo-note-text-1562" class="catalogo-note truncate-line-clamp">Sono sei fogli intagliati con infinito buon gusto e graziosissimi per il disegno e per l’esecuzione.</div><a id="catalogo-note-text-toggle-1562" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>