<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2096">
               <span class="catalogo-item-label">2096.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2096">RITRATTI degl’Imperatori Turchi e Principi Persiani descritti da Giorgio Greblinger, alias Lo
  Seladon di Ratisbona</a></span>, <span class="catalogo-pubPlace">Francfort</span>. <span class="catalogo-date">1648</span>.
  <div id="catalogo-note-text-2096" class="catalogo-note truncate-line-clamp">Questi non sono altro che i ritratti di Boissardo pubblicati nelle sue vite Sultanornm.</div><a id="catalogo-note-text-toggle-2096" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  </span></section>