<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2829">
                     <span class="catalogo-item-label">2829.</span> <span class="catalogo-bibl"><span class="catalogo-author">ECKHEL</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2829">Choix des pierres gravées du cabinet imperial des antiques représentées en 40 planches</a></span>, <span class="catalogo-pubPlace">Vienne</span> en
Autriche <span class="catalogo-date">1788</span>, en fol.
<div class="catalogo-note">Quest’opera è stata intagliata da diligentissimi incisori, <span class="catalogo-pb" id="page_56">56</span> che posero ogni cura nel finire le tavole; ma la
preziosità dell’esecuzione non compensa il gusto e la grazia, che mancano affatto.</div>
</span></section>