<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="893">
                  <span class="catalogo-item-label">893.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAREGA Michele</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/893">Memoria sopra i parafulmini</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1808</span>, in 4.
      
                  
                  
      <div class="catalogo-note">Utilissima a leggersi da tutti i costruttori di edifici.</div><div id="catalogo-note-text-893" class="catalogo-note-search-results truncate-line-clamp">Utilissima a leggersi da tutti i costruttori di edifici.</div><a id="catalogo-note-text-toggle-893" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>