<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="965">
                  <span class="catalogo-item-label">965.</span> <span class="catalogo-bibl"><span class="catalogo-author">TORO J. B.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/965">Trophée nouvellement inventé, suivi d’un livre des chartouches, et supports
      d’ornements pour les armories grave par Guerard</a></span>: à la fin on y trouve l’elevation d’une
      buffets d’orgues dains les principales eglises de France, in fol. fig.
      <div class="catalogo-note collapse">Sono in tutto 16 tavole di non cattiva esecuzione, non comuni, ma danneggiate nelle prime del volume.</div>
      
      </span></section>