<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2558">
                     <span class="catalogo-item-label">2558.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAVA Anton Giacinto</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2558">Dei paghi dell’Agro Velejate nominati nella tavola trajana alimentaria, che si conserva nel
R. Museo di Parma</a></span>, <span class="catalogo-pubPlace">Vercelli</span> <span class="catalogo-date">1788</span> in 8 M. 61.
</span></section>