<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="6">
               <span class="catalogo-item-label">6.</span> 
               <span class="catalogo-bibl">
                 <span class="catalogo-author">BATTEUX Ch.</span>, 
                 <span class="catalogo-title"><a class="catalog-link" href="/catalog/6">Les beaux Arts reduites à un même principe,</a></span> 
                 <span class="catalogo-pubPlace">Paris</span>
                 <span class="catalogo-date"> 1747,</span> 
                 <span class="catalogo-extent">in 12.</span>
               </span>
	       <div class="catalogo-note">Questo è uno de’ scrittori francesi di più sana critica nelle teoriche.</div><div id="catalogo-note-text-6" class="catalogo-note-search-results truncate-line-clamp">Questo è uno de’ scrittori francesi di più sana critica nelle teoriche.</div><a id="catalogo-note-text-toggle-6" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
             </section>