<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4288">
                        <span class="catalogo-item-label">4288.</span> <span class="catalogo-bibl"><span class="catalogo-author">Le GRAND I. G. et Landon C. P.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4288">Description de Paris; et de ses édifices: seconde édition avec 18 planches
nouvelles</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1818</span>, vol. II, in 4, fig.
<div class="catalogo-note collapse">Operetta che contiene più di cento tavole ben disegnate ed incise, e istruttiva ad un tempo e aggradevole.</div>
</span></section>