<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="451">
                  <span class="catalogo-item-label">451.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BAISEUX</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/451"> Traité du Beau essentiel dans les arts: applié particulierement à l’architecture,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span>
	                    <span class="catalogo-date">1690,</span>
                     <span class="catalogo-extent"> in 2 vol. leg. in uno.</span>
	                    <div id="catalogo-note-text-451" class="catalogo-note truncate-line-clamp">In fronte al primo è il ritratto dell’autore fatto da Wille e tutta l’opera compresovi il testo è intagliata in rame. Le
	tavole dell’opera sono 98, ma nulla corrisponde al lusso enorme e al dispendio di sì fatta edizione poiché il bello,
	che prendesi per iscopo, si perde nei barbarismi d’un gusto falso, e nemico della semplicità, che doveva
	principalmente costituirlo.</div><a id="catalogo-note-text-toggle-451" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>