<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3901">
                     <span class="catalogo-item-label">3901.</span> <span class="catalogo-bibl"><span class="catalogo-author">VENUTI Ridolfino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3901">Virgilio vindicato, ossia il luogo della battaglia <span class="catalogo-pb" id="page_223">223</span> di Farsaglia</a></span>, ivi <span class="catalogo-date">1761</span>, fig., con due
carte topografiche.
</span></section>