<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3944">
                     <span class="catalogo-item-label">3944.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/3944">L’AUGUSTA ducale basilica dell’Evangelista San Marco nell’inclita Dominante di Venezia</a></span>, colle notizie ec.,
<span class="catalogo-pubPlace">Venezia</span>, <span class="catalogo-date">1761</span>, in fol. atlant., presso Antonio Zatta.
</span></section>