<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3216">
                     <span class="catalogo-item-label">3216.</span> <span class="catalogo-bibl"><span class="catalogo-author">EICHSTAEDT Henr. Carolus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3216">De imaginibus romanorum, dissertationes duae. Accessit oratio de benis Academiae
Jenensis, et Gabrielis Henry versio utriusquae scriptionis Gallica</a></span>, <span class="catalogo-pubPlace">Petropoli</span> <span class="catalogo-date">1806</span>, in 4.
<div id="catalogo-note-text-3216" class="catalogo-note truncate-line-clamp">Pubblicate in occasione della nascita del serenissimo Paolo Aless. Costantino figlio del Principe Ereditario di
Saxe Weimar nel 1805 li 7 Novembre.</div><a id="catalogo-note-text-toggle-3216" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>