<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3366">
                     <span class="catalogo-item-label">3366.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3366">ANTIQUITATIS reliquiae a march. Jacobo Musellio collectae tabulis incisae, et brevibus explicationibus illustratae</a></span>,
<span class="catalogo-pubPlace">Veronae</span> <span class="catalogo-date">1756</span>, in fol., fig.
<div class="catalogo-note">Sono 183 tavole la più parte intagliate da Domenico Cunnego di ogni sorta di antichità con poche e brevi
descrizioni che in latino ed in italiano sono esposte in principio, le quali occupano 60 pagine nel volume.</div>
</span></section>