<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="30">
                  <span class="catalogo-item-label">30.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FEA Carlo</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/30"> Risposta alle osservazioni del cavalier Onofrio Boni sul tomo III della Storia delle
	  Arti del Disegno di Giovanni Winkelmann, pubblicata in Roma nelle sue Memorie per le belle
	  Arti, </a></span>
                     <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1786,</span>
                     <span class="catalogo-extent"> 4, M. 1.</span>
                  </span>
               </section>