<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1694">
                  <span class="catalogo-item-label">1694.</span> <span class="catalogo-bibl"><span class="catalogo-author">LOYER Pierre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1694">Discours et histoires des spectres, visions et apparitions des esprits, anges,
  démons et âmes se montrans visibles aux hommes: divise en huit livres</a></span>, <span class="catalogo-pubPlace">Parigi</span> <span class="catalogo-date">1605</span>, in 4.
<div class="catalogo-note collapse">  Opera curiosa di oltre mille pagine di testo, con cui è percorsa amplissimamente questa materia.</div>
  
  </span></section>