<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1717">
                  <span class="catalogo-item-label">1717.</span> <span class="catalogo-bibl"><span class="catalogo-author">MITELLI Giuseppe M.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1717">Le Arti liberali guidate da Pallade e le Piazzaruole guidate dal Gigante
  di Bologna</a></span>, mascherata di Giuseppe. Maria Mitelli, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1664</span>, in fol., M. 6.
  <div class="catalogo-note collapse">Sono 40 ottave sui mestieri più abietti dei venditori</div>.
  
  <span class="catalogo-pb" id="page_297">297</span>
               </span></section>