<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2953">
                     <span class="catalogo-item-label">2953.</span> <span class="catalogo-bibl"><span class="catalogo-author">ORLANDI Orazio Romano</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2953"> Osservazioni di varia erudizione sopra un sacro cammeo antico rappresentante il
serpente di bronzo</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1773</span>, in 4, fig. M. 1.
<div class="catalogo-note">In fine è una bella tavola illustrativa con varj monumenti.</div>
</span></section>