<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3241">
                     <span class="catalogo-item-label">3241.</span> <span class="catalogo-bibl"><span class="catalogo-author">HEEREN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3241">Commentatio in opus caelatum antiquum Musei Pii Clementini</a></span>, <span class="catalogo-pubPlace">Romae</span><span class="catalogo-date"> 1786</span>, in 8.
<div class="catalogo-note">Dotta memoria stampata con eleganza e intitolata al dottissimo cardinale Garampi con la tavola del monumento

                     
                     
   al fine. Esemplare in carta distinta</div>.
</span></section>