<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2878">
                     <span class="catalogo-item-label">2878.</span> <span class="catalogo-bibl"><span class="catalogo-author">HAVERCAMPI Sigeberti</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2878">Nummophylacium R. Christinae quod comprehendit numismata aerea Imp. Rom. Latina,
Graeca, atque in Coloniis cusa quondam a P. S. Bartholo summo artificio summaque fide incisa tabulis aeneis
63</a></span>,<span class="catalogo-pubPlace"> Hagae Comitum</span><span class="catalogo-date"> 1742</span>, in fol., fig.
<div class="catalogo-note collapse">Francese e latino: opera eseguita nobilmente, ma con mediocrità per parte dell’intagliatore, che nella copia
   noiosa di molte centinaia di medaglie non pose alcuna diligenza</div>.
</span></section>