<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3054">
                     <span class="catalogo-item-label">3054.</span> <span class="catalogo-bibl"><span class="catalogo-author">VICO Enea parmigiano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3054">Discorsi sopra le medaglie degli antichi divisi in più libri ove si dimostrano <span class="catalogo-pb" id="page_92">92</span>
notabili errori di scrittori antichi e moderni intorno alle historie romane etc.</a></span>, <span class="catalogo-pubPlace">Venezia</span>, Giolito, <span class="catalogo-date">1555</span>, in 4.
<div class="catalogo-note">Prima edizione dedicata al duca Cosimo I col bellissimo ritratto del duca intagliato dall’autore con somma
diligenza e freschissima prova: opera preziosa divisa in due libri. Dopo il frontespizio sono due sonetti di
Lodovico Dolce al Gran Cosimo, dietro quelli il ritratto, nei tre foglietti seguenti la dedicatoria, in altro foglio il
proemio, in due fogli la tavola de’ capitoli, de’ scrittori accusati, delle autorità citate e degli antiquarj possessori
delle medaglie; e la tavola generale in fine in sette foglietti. L’operetta in totale è di 62 foglietti. La più parte de’
bibliografi non citano che l’edizione del 1558. Fontanini, Crevenna.</div><div id="catalogo-note-text-3054" class="catalogo-note-search-results truncate-line-clamp">Prima edizione dedicata al duca Cosimo I col bellissimo ritratto del duca intagliato dall’autore con somma
diligenza e freschissima prova: opera preziosa divisa in due libri. Dopo il frontespizio sono due sonetti di
Lodovico Dolce al Gran Cosimo, dietro quelli il ritratto, nei tre foglietti seguenti la dedicatoria, in altro foglio il
proemio, in due fogli la tavola de’ capitoli, de’ scrittori accusati, delle autorità citate e degli antiquarj possessori
delle medaglie; e la tavola generale in fine in sette foglietti. L’operetta in totale è di 62 foglietti. La più parte de’
bibliografi non citano che l’edizione del 1558. Fontanini, Crevenna.</div><a id="catalogo-note-text-toggle-3054" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>