<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2701">
                     <span class="catalogo-item-label">2701.</span> <span class="catalogo-bibl"><span class="catalogo-author">PIRANESI Francois</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2701">Differentes vues, et quelques <span class="catalogo-pb" id="page_35">35</span> restes de trois grands édifices, qui subsistent encore dans
le milieu de l’ancienne ville de Pestum, autrement Possidonia, qui est située dans la Lucanie</a></span> in fol. atlant.
<div class="catalogo-note collapse">Con 17 tavole grandissime di superbo intaglio pittoresco.</div>
</span></section>