<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4289">
                        <span class="catalogo-item-label">4289.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/4289">Les RARETÉS qui se vojent dans l’Église Royale de St. Dénys</a></span>. <span class="catalogo-pb" id="page_280">280</span>
— Inventaire du trésor de St. Dénys.
— Denombrément tant des corps des Saints, que des ceux Rois, etc. dont les tombeaux sont dans la même Église.
Les trois opuscoles réunis, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1715</span>, en 8.
<div class="catalogo-note collapse">Libretto che crebbe in pregio per le vicende subite da quel tempio.</div>
</span></section>