<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="74">
                  <span class="catalogo-item-label">74.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ARMENINI Giovan Battista da Faenza</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/74"> Dei veri precetti della pittura libri tre,</a></span> 
                     <span class="catalogo-pubPlace">Ravenna</span> 
                     <span class="catalogo-date">1587,</span> 
                     <span class="catalogo-extent">in 4</span>
	                    
	                    
	                    
	  
	  pic. Prima edizione, esemplare in mar. dorato.</span>
	              </section>