<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="166">
                  <span class="catalogo-item-label">166.</span> 
                  <span class="catalogo-bibl">MARINO il Cavalier,<span class="catalogo-title"><a class="catalog-link" href="/catalog/166"> Dicerie sacre sulla pittura, la musica e il cielo,</a></span> presso Giacomo Violati,
	                    <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1615,</span>
                     <span class="catalogo-extent"> in 12.</span>
                  </span>
	                 <span class="catalogo-pb" id="page_27">27</span>
	                 <div class="catalogo-note">La fantasia e la dottrina dell’autore gli aprirono un campo in questo soggetto, sul quale spaziava senza
	  freno, siccome suoleva in ogni altra cosa poetica.</div><div id="catalogo-note-text-166" class="catalogo-note-search-results truncate-line-clamp">La fantasia e la dottrina dell’autore gli aprirono un campo in questo soggetto, sul quale spaziava senza
	  freno, siccome suoleva in ogni altra cosa poetica.</div><a id="catalogo-note-text-toggle-166" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	              </section>