<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="379">
                  <span class="catalogo-item-label">379.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">De ALBERTIS Baptistae</span> poetae laureati, <span class="catalogo-title"><a class="catalog-link" href="/catalog/379">De Amore liber optimus feliciter incipit (e in fine) Baptistae de Albertis poeta laureati opus de Amore utilissimum feliciter finit 1471.</a></span>
                  </span>
	              </section>