<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3973">
                     <span class="catalogo-item-label">3973.</span> <span class="catalogo-bibl"><span class="catalogo-author">BUTTA-CALICE ab.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3973">La possibilità dell’esecuzione di due progetti di Fabbrica in Venezia in seguito alle
osservazioni di un anonimo sulla sostituzione alla chiesa di S. Geminiano</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1808</span>, in 8, M. 31.
</span></section>