<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1098">
                  <span class="catalogo-item-label">1098.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIULIO Cesare</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1098">I Commentari con le figure in rame fatte da Andrea Palladio per facilitare a
      chi legge la cognizion dell’historia</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per il Franceschi, <span class="catalogo-date">1573</span>, in 4, fig.
      <div id="catalogo-note-text-1098" class="catalogo-note truncate-line-clamp">La versione e all’incirca quella del Baldelli; avvi una dedicatoria e un proemio di Palladio stesso e 42 tavole in
      rame: prima e pregiata edizione.</div><a id="catalogo-note-text-toggle-1098" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>