<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1493">
                  <span class="catalogo-item-label">1493.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1493">DESCRIZIONE del cambio degli ambasciatori dell’Imperatore de’ Romani con quelli della
    Porta Ottomana accaduto in Belgrado li 20 Aprile <span class="catalogo-date">1720</span></a></span>, in lingua tedesca in fol. obl.
    <div id="catalogo-note-text-1493" class="catalogo-note truncate-line-clamp">Geremia Wolff d’Augusta intagliò tutte le tavole che sono di doppio foglio ed anche la prima tutta in caratteri, le
    quali sono in tutte 18.</div><a id="catalogo-note-text-toggle-1493" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCCXXIV
    
    </span></section>