<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3218">
                     <span class="catalogo-item-label">3218.</span> <span class="catalogo-bibl"><span class="catalogo-author">FABRICH Christofori Carli</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3218">Dissertatio inauguralis de rostris Fori romani</a></span>, <span class="catalogo-pubPlace">Altorfii</span> <span class="catalogo-date">1745</span>, in 4, fig.
<div class="catalogo-note collapse">Non sonovi altre tavole che le medaglie a ciò relative in un foglietto e fra il testo l’insegna d’un rostro di nave
intagliato in legno.</div>
</span></section>