<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2890">
                     <span class="catalogo-item-label">2890.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2890">ISTITUZIONE antiquario-numismatica ossia introduzione allo studio delle antiche medaglie, esposta in due libri
                        dall’autore dell’Istituzione antiquario lapidaria</a></span>,<span class="catalogo-pubPlace"> Roma</span><span class="catalogo-date"> 1772</span>, in 8, fig.
<div class="catalogo-note">Trattasi elementarmente dell’uso, storia, materia, forma, fabbrica, dritto, rovescio, ornati, simboli, lingua,
leggende, utilità, raccolte e intelligenza delle medaglie, col giudizio delle altre opere elementari di questa materia
che hanno preceduto la presente. L’autore è il padre Zaccaria</div><div id="catalogo-note-text-2890" class="catalogo-note-search-results truncate-line-clamp">Trattasi elementarmente dell’uso, storia, materia, forma, fabbrica, dritto, rovescio, ornati, simboli, lingua,
leggende, utilità, raccolte e intelligenza delle medaglie, col giudizio delle altre opere elementari di questa materia
che hanno preceduto la presente. L’autore è il padre Zaccaria</div><a id="catalogo-note-text-toggle-2890" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>.

                     
                     
                  </span></section>