<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1835">
                  <span class="catalogo-item-label">1835.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALCIATO</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1835">Diverse imprese accomodate a diverse moralità con versi che i loro significati
                     dichiarano, tratte dagli emblemi dell’Alciato</a></span>, in <span class="catalogo-pubPlace">Lione</span>, per Masseo Buonhomo, <span class="catalogo-date">1549</span>.
    <div class="catalogo-note">Dedicato al Doge Francesco Donà da Giovanni Marquale, in 12.
    Figurato in legno con molla eleganza. Sono queste 141 pagine impresse colle tavole, sotto le quali stanno le
    dichiarazioni in versi italiani.</div><div id="catalogo-note-text-1835" class="catalogo-note-search-results truncate-line-clamp">Dedicato al Doge Francesco Donà da Giovanni Marquale, in 12.
    Figurato in legno con molla eleganza. Sono queste 141 pagine impresse colle tavole, sotto le quali stanno le
    dichiarazioni in versi italiani.</div><a id="catalogo-note-text-toggle-1835" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>