<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1435">
                  <span class="catalogo-item-label">1435.</span> <span class="catalogo-bibl"><span class="catalogo-author">PUTEANI Fran.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1435">Pompa Funebris Optimi potentissimi Principis Alberti Pii Arch. Austriae
    Ducis Bar. Braban. veris imaginibus expressa a Sac. Fran. Francquart, Arch. Reg. eiusdem
    Principis morientis vita a Fran. Puteano</a></span>, <span class="catalogo-pubPlace">Bruxelles</span> <span class="catalogo-date">1628</span>, in fol., 66 tavole.
    MDCXXVIII
    
    </span></section>