<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="432">
                  <span class="catalogo-item-label">432.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BIBIENA Ferdinando Galli</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/432"> Direzioni ai giovani studenti del disegno dell’architettura civile e
	della prospettiva teorica,</a></span> 
                     <span class="catalogo-pubPlace">Bologna</span> 
                     <span class="catalogo-date">1731 e 1732,</span> 
                     <span class="catalogo-extent">vol. 2 in 8, fig.</span>
	                    <div id="catalogo-note-text-432" class="catalogo-note truncate-line-clamp">Lasciando a parte il gusto ornamentale di questo artista relativo all’epoca in cui viveva, li suoi trattati sono ben
	ordinati ed espressi, e le tavole di questa piccola edizione sono nitidamente intagliate in finissimi e precisi
	contorni. Nel primo volume il corso di architettura è illustrato con 69 tavole: nel secondo quello della prospettiva
	comprende 56 tav.</div><a id="catalogo-note-text-toggle-432" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>