<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1383">
                  <span class="catalogo-item-label">1383.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARGA Pietro Angelio (da)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1383">Orazione fatta nell’esequie del Serenissimo Cosimo de’ Medici
    Gran. Duca di Toscana</a></span>, recitata nel Duomo di Pisa, <span class="catalogo-date">1574</span>, <span class="catalogo-pubPlace">Fior.</span>, Giunti, anno stesso, in 4, <div class="catalogo-note">col
    ritratto di Cosimo in legno.</div>
    MDLXXIV.
    
    </span></section>