<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2041">
                  <span class="catalogo-item-label">2041.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2041">HISTOIRE des Yncas Rois du Perou traduite de l’espagnol de l’Ynca Garcilasso de la Vega: on
  a joint à cette edition l’histoire de la conquête de la Floride par le même auteur avec figures
  dessinées par B. Picart le Romain</a></span>, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1787</span>, vol. 2, in 4, gr.
  <div id="catalogo-note-text-2041" class="catalogo-note truncate-line-clamp">Sono 18 le belle stampe, che rendono preziosa e piacevole questa edizione, la quale è utilissima per la
  rappresentazione de’ costumi di quelle nazioni.</div><a id="catalogo-note-text-toggle-2041" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  <span class="catalogo-pb" id="page_350">350</span>
  
               </span></section>