<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3854">
                     <span class="catalogo-item-label">3854.</span> <span class="catalogo-bibl"> De ROMA prisca, et nova. Varii auctores prout in seguenti pagella cernere est, idest, Francisci Albertini, De urbe
Roma. P. Victoris, De regionibus urbis Romae. Vibius, de fluminibus etc. et de origine, situ, et qualitate Romae.
Pomponii Leti, De vetustate urbis. Fabricii Varani, De urbe Roma collectanea. Raphaelis Volaterrani, Descriptio
urbis Romae. Flavius. Rutilii Claudii Numantii, Poema cui titulus: Itinerarium. Laurentii Vallae, Carmen de
natali patriae suae. et Volaterra, inde origine urbis poema. Romae, ex aedibus Mazzocchi, 1514, in 4.
— Addito Antonini Ponti Consentini Rhomitypion, Romae, per Antonium Bladum, 1524.
Questa collezione d’antichi scrittori di antichità romane è rara a trovarsi, ed interessantissima. Vedi l’altra
collezione Antiquitatum variarum auctores, che dopo questa apparve in Venezia nel 1552.   
</span></section>