<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2433">
                  <span class="catalogo-item-label">2433.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2433">CHIROMANTIA, physiognomia ex aspecta membrorum hominis etc.</a></span>, <span class="catalogo-pubPlace">Coloniae</span> <span class="catalogo-date">1543</span>, in 8, fig.
    <div class="catalogo-note">Questa è un’edizione elegante e nitida dell’opera di Gio. Indagine in 6 libri.</div>
    
    </span></section>