<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="505">
                  <span class="catalogo-item-label">505.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FOSSATI Giorgio. </span>
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/505">Storia dell’architettura nella quale, oltre le vite degli architetti, si esaminano
                        l’o<span class="catalogo-pb" id="page_90">90</span>rigine e i progressi dell’arte, adorna di molte tavole, t. I., </a></span>
                     <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1747,</span> 
                     <span class="catalogo-extent">in 8, fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Non apparve alla luce che questo solo tomo, il quale, come confessa l’autore nella sua prefazione, non è che una
	traduzione dell’opera di Félibien sull’architettura, a cui aggiunse molti rami, promettendo altri temi in seguito di
	suo conio, che non videro mai la luce. Le tavole, rappresentano molti dei principali edifici del mondo, sono 32.
	</div>
	              </section>