<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1480">
                  <span class="catalogo-item-label">1480.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1480">RITRATTI veri e artificiosissimi delle S. C. e R. Maestà del S. Impero col ragguaglio della
    coronazione ed elezione dell’Imperatrice Eleonora e di Giuseppe I in Augusta l’anno <span class="catalogo-date">1690</span></a></span>, in
    fol. fig.
    <div class="catalogo-note">Dopo la prima tavola intagliata minutamente da Kraus, ove sono espresse le funzioni, seguono in fine del libro i
    10 ritratti degli individui della famiglia imperiale intagliati da Heckenaver.</div>
    
    MDCXC
    
    </span></section>