<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2362">
                  <span class="catalogo-item-label">2362.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2362">RITRATTI (Li) delli più celebri pittori della scuola veneziana antichi e moderni nuovamente
    raccolti e pubblicati</a></span>, dedicati al nobile Sig. Girolamo Manfrin, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1787</span>.
<div id="catalogo-note-text-2362" class="catalogo-note truncate-line-clamp">    Questi sono trentasei ritratti dì artisti dei quali 28 appartengono alle vite del Ridolfi e 8 sono nella raccolta del
    Lunghi: per conseguenza incisioni logore, ritoccate e di poca, importanza.
</div><a id="catalogo-note-text-toggle-2362" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>    
    </span></section>