<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1681">
                  <span class="catalogo-item-label">1681.</span> <span class="catalogo-bibl"><span class="catalogo-author">KIRCHMANNI Jo.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1681">De annulis liber singularis</a></span>. Accedunt Georgii <span class="catalogo-pb" id="page_290">290</span> Longi, Gorleii
    Abraham
    i et Henr. Kornmanni de anulorurn origine, <span class="catalogo-pubPlace">Lugd. Bat.</span> <span class="catalogo-date">1672</span>, in 12.
    <div class="catalogo-note">Libro prezioso per la sua vasta erudizione e pel frontespizio elegante di R. de Hooghe.</div><div id="catalogo-note-text-1681" class="catalogo-note-search-results truncate-line-clamp">Libro prezioso per la sua vasta erudizione e pel frontespizio elegante di R. de Hooghe.</div><a id="catalogo-note-text-toggle-1681" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>