<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3782">
                     <span class="catalogo-item-label">3782.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARTINELLO Fioravante</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3782">Roma ex ethnica sacra sanctorum Petri, et Pauli apostolica praedicatione profuso
sanguine pubblicae venerationi exposita</a></span>, editio repetita, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1668</span>, in 8.

                     
                     
                  </span></section>