<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="581">
                  <span class="catalogo-item-label">581.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">NOBILE (Pietro)</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/581">Progetti di monumenti architettonici immaginati pel trionfo degli alleati nel
	<span class="catalogo-date">1814,</span>
                     </a></span> Trieste detto anno, <span class="catalogo-extent">in 4, M. 25.</span>
                  </span>
	              </section>