<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="527">
                  <span class="catalogo-item-label">527.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">HALL James</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/527">Essay on the origin and principles of gothic architecture,</a></span> 
                     <span class="catalogo-pubPlace">London</span> 
                     <span class="catalogo-date">1813,</span> 
                     <span class="catalogo-extent">in 4, fig.</span>
                  </span>
	                 <div class="catalogo-note">L’opera è stampata magnificamente e comprende 60 tavole intagliate con brio, compresovi il frontespizio.</div><div id="catalogo-note-text-527" class="catalogo-note-search-results truncate-line-clamp">L’opera è stampata magnificamente e comprende 60 tavole intagliate con brio, compresovi il frontespizio.</div><a id="catalogo-note-text-toggle-527" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	              </section>