<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2359">
                  <span class="catalogo-item-label">2359.</span> <span class="catalogo-bibl"><span class="catalogo-author">RIDOLFI Carlo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2359">Le maraviglie dell’arte; ovvero le vite degli illustri pittori veneti e dello stato,
    vol. 2 legati in un solo</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1648</span>, presso Gio. B. Sgava, in 4, piccolo.
    <div id="catalogo-note-text-2359" class="catalogo-note truncate-line-clamp">Con frontespizio figurato e i ritratti dei pittori ben disegnati e ben intagliati in rame, esemplare bellissimo di
    un’opera tenuta in gran pregio potendosi chiamare questo autore il Vasari dei veneziani.
    </div><a id="catalogo-note-text-toggle-2359" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>