<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2972">
                     <span class="catalogo-item-label">2972.</span> <span class="catalogo-bibl"><span class="catalogo-author">PETITI Petri</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2972">De amazonibus, dissertatio</a></span>, 
                        <span class="catalogo-pubPlace">Amstelodami</span> <span class="catalogo-date">1686</span>, in 8, fig.
<div id="catalogo-note-text-2972" class="catalogo-note truncate-line-clamp">Questa non comune e preziosa operetta tende a provare coi monumenti e in ispecie colle medaglie. I tipi sono
eleganti non meno che le tavole frequenti sparse fra il testo con indici copiose e utilissime.</div><a id="catalogo-note-text-toggle-2972" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>