<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1365">
                  <span class="catalogo-item-label">1365.</span> <span class="catalogo-bibl"><span class="catalogo-author">TOMINI Foresti Marco</span>, patrizio bergamasco, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1365">Orazione in lode della pittura</a></span> recitata in
    <span class="catalogo-pubPlace">Bergamo</span> l’anno <span class="catalogo-date">1782</span>.
    <div class="catalogo-note collapse">In Bergamo esiste una ben provveduta e ricca Accademia di Belle Arti di fondazione del Cardinale Carrara.</div>
    
    </span></section>