<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4317">
                        <span class="catalogo-item-label">4317.</span> <span class="catalogo-bibl"><span class="catalogo-author">MAZELLA Scipione</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4317">Sito e antichità della città di Pozzuolo e del suo amenissimo distretto</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1591</span>, in 8, con
alcune tavole intagliate in legno.
— Aggiuntovi: Opusculum de balneis puteolorum etc.
<div class="catalogo-note collapse">Elegante libretto per le sue erudite notizie.</div>
</span></section>