<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="600">
                  <span class="catalogo-item-label">600.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">PANSUAHON</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/600">Recueil des profils d’architecture, ouvrage divisé en deux cahiers,</a></span> 
                     <span class="catalogo-pubPlace">Paris,</span> 
                     <span class="catalogo-extent">en 4, fig.</span>
                  </span>
	                 <div class="catalogo-note">Il primo contiene 23 tavole con profili esterni di trabeazioni di vari ordini. Il secondo altrettante tavole con
	profili, relativi ad interne decorazioni mobiliarie.</div><div id="catalogo-note-text-600" class="catalogo-note-search-results truncate-line-clamp">Il primo contiene 23 tavole con profili esterni di trabeazioni di vari ordini. Il secondo altrettante tavole con
	profili, relativi ad interne decorazioni mobiliarie.</div><a id="catalogo-note-text-toggle-600" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 
	                 
	                 
	
	              </section>