<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="715">
                  <span class="catalogo-item-label">715.</span> <span class="catalogo-bibl"><span class="catalogo-author">VITRUVE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/715">Epitome, ou extrait abregé de dix livres d’architecture de M. Vitruve Pollion par
	Jean Gardet Bourbonnois et Dominique Bertin Parisien</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1565</span>, en 4 pet. fig.
	<div class="catalogo-note">Edizione noti diversa da quella, del 1559 se non pel frontespizio. L’estratto si fonda sulla versione di Jean
	Martin, le figure sono infelici assai e il meglio consiste nelle annotazioni ai tre primi libri che vengono dopo
	l’epitome, estese da Gardet, nelle quali riempie il vuoto dell’altro collaboratore.</div>
	
	</span></section>