<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4023">
                     <span class="catalogo-item-label">4023.</span> <span class="catalogo-bibl"><span class="catalogo-author">GRANDIDIER</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4023">Èssai historique, et topographique sur l’eglise cathedrale de Strasbourg</a></span>, 
                        <span class="catalogo-pubPlace">Strasbourg</span> <span class="catalogo-date">1782</span>, in 8.
<div class="catalogo-note collapse">Opera fatta con diligenza, e con buone notizie storiche, la quale esaurisce l’argomento assai bene.</div>
<span class="catalogo-pb" id="page_243">243</span>
                  </span></section>