<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1745">
                  <span class="catalogo-item-label">1745.</span> <span class="catalogo-bibl"><span class="catalogo-author">PANCIROLI Guidonis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1745">Rerum memorabilium, sive deperditarum</a></span>, <span class="catalogo-pubPlace">Francofurti</span> <span class="catalogo-date">1629</span>, in 4.
  <div class="catalogo-note collapse">L’edizione latina è illustrata dai commentari di Enrico Salmuth ed ha il frontespizio figurato.
  L’opera di questo autore non levò un grido perché abbiasi a ritenere fra le produzioni più distinte in tal genere.</div>
  
  </span></section>