<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="382">
                  <span class="catalogo-item-label">382.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALBERTI Leonis Baptistae</span> 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/382">Viri Clarissimi Fiorentini</a></span>, <span class="catalogo-pb" id="page_68">68</span> 
                        Trivia senatoria in 8 sine loco et anno. Trivia
                        vuol dire Discorsi da Senatori che
	si estraggono a sorte con una specie di giuoco.
                  </span>
	                 <div id="catalogo-note-text-382" class="catalogo-note truncate-line-clamp"><p>Nel frontespizio una figura intagliata in legno sta scrivendo seduta dinanzi a una tavola di studio. A tergo di
	                    questo frontispizio stanno le denominazioni intitolate Trivia pel giuoco della sorte. Nel foglietto appresso stanno
	i due circoli concentrici, l’uno fisso, l’altro mobile, colle iscrizioni affine di poter eseguire il giuoco. A tergo è
	stampatala Madonna in trono cogli angeli laterali, come incontrasi in alcune delle edizioni del Vadagnino da noi
	citate all’articolo Biblia Pauperum. Poi seguono sei foglietti, l’ultimo de’ quali è bianco. In questi è espressa la
	descrizione e spiegazione del giunco, ed il carattere col quale sono impressi è gotico, come lo sono molte stampe
	nel principio del 1500. La forma però delle lettere è più bella assai che nella nostra Biblia Pauperum; ma
	nonostante crediamo quest’edizione di Zuane Vavassore dito Vadagnino nei primi dieci anni di quel secolo.</p>
	                 <p>Segue, legata nel medesimo libretto, un’antica copia dello stesso scritta a mano e in fine è un esemplare del
	
	                    
	                    
	Dialogo di messer Leon Battista Alberti fiorentino
	De Repubblica, de vita Civile, de vita Rusticana,
	De Fortuna, Vinegia, per Venturino Rufinello, 1543,
	intonso.</p>
	                 <p>Il primo però di questi due opuscoletti intitolato Trivia, è da uni ritenuto per raro, non avendone incontrato altri
	esemplari, e trovandone all’oscuro di quest’edizione i bibliografi. Trovasi però pubblicato in altro volume di
	anterior edizione del XV secolo con altri opuscoli, come abbiamo citato più sopra.</p>
	</div><a id="catalogo-note-text-toggle-382" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	              </section>