<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4016">
                     <span class="catalogo-item-label">4016.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIBELIN A. E. peintre</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4016">Lettre sue les tours antiques qu’on a démolies à Aix en Provence, et sur les antiquités
qu’elles renferment</a></span>, a <span class="catalogo-pubPlace">Aix</span> <span class="catalogo-date">1787</span>, in fol., fig.
</span></section>