<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2709">
                     <span class="catalogo-item-label">2709.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCOTTI Angelo Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2709">Illustrazione d’un vaso italo-greco del Museo di monsig. arcivescovo di Taranto</a></span>, <span class="catalogo-pubPlace">Napoli</span>
<span class="catalogo-date">1811</span>, in 4, fig., M. 92.
<div class="catalogo-note">Con due grandi tavole in fine.</div>
</span></section>