<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2467">
                  <span class="catalogo-item-label">2467.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2467">LA SCIENCE curieuse, ou traité de la chyromance, recueillie des plus graves auteurs qui ont
    traité de cette matière</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1665</span>, in 4, pet figurato.
    <div class="catalogo-note">Con 90 tavole intagliate in rame.</div>
    
    </span></section>