<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4079">
                     <span class="catalogo-item-label">4079.</span> <span class="catalogo-bibl"><span class="catalogo-author">RICHA Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4079">Notizie storiche delle chiese fiorentine, divise ne’ suoi quartieri</a></span>, 
                        <span class="catalogo-pubPlace">Firenze</span> dal <span class="catalogo-date">1754 al 1762</span>, tomi
10, in 4, fig.
<div class="catalogo-note">Opera copiosa di memorie e documenti estratti dagli archivj.</div>

                     
                     

                  </span></section>