<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="146">
                  <span class="catalogo-item-label">146.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">INTERIAN de Ayala Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/146">Pictor christianus eruditus, sive de erroribus, qui passim
	  admittuntur circa pingendas sacras imagines, libri octo,</a></span> 
                     <span class="catalogo-pubPlace">Matricti</span> 
                     <span class="catalogo-date">1730,</span> 
                     <span class="catalogo-extent">in 4, mag.</span>
                  </span>
	                 <div class="catalogo-note collapse">Stravagantissimo libro, dettato da un caldo fanatismo nella maniera di vedere di questo scrittore.
	  Estendesi a 400 pagine stampate in due colonne.</div>	  
	              </section>