<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1244">
                  <span class="catalogo-item-label">1244.</span> <span class="catalogo-bibl"><span class="catalogo-author">COLZI Carlo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1244">Descrizione dell’Imperiale e R. Accademia di Belle Arti di Firenze</a></span>, <span class="catalogo-date">1817</span>, in 8,
    M.80.
    <div class="catalogo-note collapse">Alla testa di questo opuscoletto e un bel ritratto del Buonarroti intagliato da Morghen alla punta secca.</div>
    
    </span></section>