<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="41">
                  <span class="catalogo-item-label">41.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MEHEGAN</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/41"> Considerations sue les revolutions des arts,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1755,</span>
                     <span class="catalogo-extent"> in 8,</span> aggiuntavi <span class="catalogo-title"><a class="catalog-link" href="/catalog/41">«Lettere sur
	  l’éducation des femmes» e al fine Alcippe et Oronte. Dialogues par le même.</a></span>
                  </span>
	                 <div class="catalogo-note">Le opere di questo autore sono piene di buona critica.</div>
               </section>