<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="830">
                  <span class="catalogo-item-label">830.</span> <span class="catalogo-bibl"><span class="catalogo-author">COSTA. Gio. Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/830">Elementi di prospettiva per uso degli architetti e pittori</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1747</span>,
	in 8, fig.
	<div class="catalogo-note collapse">Opera elementare per uso delle scuole con 22 tavole intagliate in rame.</div>
	
	<span class="catalogo-pb" id="page_154">154</span>
	              </span></section>