<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3965">
                     <span class="catalogo-item-label">3965.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRAUNII Georgii, et Francisci Hogenbergii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3965">Civitates orbis terrarum</a></span>, <span class="catalogo-pubPlace">Coloniae Agrippinae</span> <span class="catalogo-date">1611</span>, libri quinque, in
fol., fig., vol. 5.
<div class="catalogo-note">Opera di laboriosa esecuzione coi prospetti e le piante delle principali città del mondo. Esemplare miniato e
colorito leg. in mar. rosso dor. ec.</div>
</span></section>