<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3570">
                     <span class="catalogo-item-label">3570.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALBERTINIS Francisco clerico florentino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3570">Opusculum de mirabilibus novae et veteris urbis Romae editum,
dedicatumq. Julio II pontifici maximo per Jacobum Mazzocchium Romanae Academiae Bibliopolam, qui infra
paucos dies epitaphiorum opusculum in lucem ponet</a></span>, anno salutis <span class="catalogo-date">1510</span> die 4 Februarii, in 4 parv., prima edizione.
<div class="catalogo-note">Questi rari opuscoli dell’Albertino sono preziosi perché dimostrano le cose che erano allora scoperte in Roma, e
quelle che si andavano scuoprendo. Viene però citata di questo libro una prima edizione del 1508 che non
conosciamo. Parecchie ne vennero posteriori, e si ristampò anche fuori d’Italia come riferiscono i bibliografi
pontificj.</div>
<span class="catalogo-pb" id="page_167">167</span>
                  </span></section>