<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3237">
                     <span class="catalogo-item-label">3237.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUAZZESI Lorenzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3237">Dissertazioni V</a></span>,<span class="catalogo-pubPlace"> Pisa</span><span class="catalogo-date"> 1761</span>, in 4, <div class="catalogo-note collapse">sugli anfiteatri della Toscana, intorno alcuni fatti
d’Annibale, intorno la guerra Gallica Cisalpina l’anno di Roma 529, intorno la disfatta e morte di Totila, intorno
alla via Cassia da Chiusi a Firenze, M. 32</div>.
</span></section>