<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="89">
                  <span class="catalogo-item-label">89.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DU BOS</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/89"> Ref1exions critiques sur la poesie et sur la peinture,</a></span>
                     <span class="catalogo-pubPlace"> Paris </span>
                     <span class="catalogo-date">1770,</span>
                     <span class="catalogo-extent"> in 12, vol. 3.</span>
                  </span>
	                 <div class="catalogo-note">Questa è una delle migliori opere di questo genere estesa con buona critica ed utile per la gioventù.</div>	  
	              </section>