<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="993">
                  <span class="catalogo-item-label">993.</span> <span class="catalogo-bibl"><span class="catalogo-author">Le MIERRE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/993">La peinture, poéme en trois chants</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1769</span>, in 8.
      <div id="catalogo-note-text-993" class="catalogo-note truncate-line-clamp">Con figure intagliate sui disegni di Cochin e il ritratto dal gran Corneille nel frontespizio.</div><a id="catalogo-note-text-toggle-993" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>