<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2067">
                  <span class="catalogo-item-label">2067.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2067">MONTE (Libro del) di Dio e del Monte delle Orazioni et Scala del Paradiso devotissimo et
  Spirituale</a></span>. Composto dal divoto et docto Servo di Gesù Cristo Frate Antonio da Siena povero
  
                  
                  
  
  Gesuato Vescovo di Fuligno. Impresso nell’inclita Cipta di <span class="catalogo-pubPlace">Firenze</span> per Ser Lorenzo de’
  Morgiani et Gio. Thodesco de Maganza a 20 di Marzo <span class="catalogo-date">1491</span>.
  <div class="catalogo-note">Le tre tavole che qui si veggono intagliate in legno sono imitazioni delle tre in rame, che stanno nella molto più
  rara e pregiata edizione del 1477.</div><div id="catalogo-note-text-2067" class="catalogo-note-search-results truncate-line-clamp">Le tre tavole che qui si veggono intagliate in legno sono imitazioni delle tre in rame, che stanno nella molto più
  rara e pregiata edizione del 1477.</div><a id="catalogo-note-text-toggle-2067" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>