<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1506">
                  <span class="catalogo-item-label">1506.</span> <span class="catalogo-bibl"><span class="catalogo-author">CELIDONIO Carlo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1506">Relazione della venuta e dimora in Milano dell’Arciduchessa Maria Teresa
    d’Austria Gran Duchessa di Toscana e di Francesco III Duca di Lorena e Gran Duca di
    Toscana nel mese di Maggio dell’anno 1739 e loro viaggio</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1789</span>, in 8.
    <div class="catalogo-note collapse">La relazione è stesa dal maestro delle cerimonie della Corte D Carlo Celidonie. Non vi ha che una stampa ed e la
    pianta della corte come allora si trovava avanti la riedificazione attuale.</div>
    MDCCXXXIX
    
    </span></section>