<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="676">
                  <span class="catalogo-item-label">676.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">STEINGRUBER Jean David</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/676">Livre d’architecture civile. Stampato in tedesco e in francese, senza
	data di luogo e di anno: contenente disegni di fabbriche di barbaro gusto ed invenzione per
	insegnare gli elementi dell’architettura,</a></span> 
                     <span class="catalogo-extent">in fol. obl.</span>
                  </span>
	              </section>