<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="458">
                  <span class="catalogo-item-label">458.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CALDERARI Otone</span>, Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/458">Becega Tommaso Carlo, Saggio sull’architettura grecoromana, applicata alla costruzione del Teatro Moderno Italiano e sulle macchine teatrali,</a></span>
	                    <span class="catalogo-pubPlace">Venezia,</span> nella tipografia di Alvisopoli, <span class="catalogo-date">1817,</span>
                     <span class="catalogo-extent"> in fol. mass. figurato.</span>
	                    <div class="catalogo-note collapse">Le tavole del Calderari potevano essere eseguite con più diligenza e più gusto anche per corrispondere alla
	semplice ed elegante dettatura del testo e alla nobiltà dei tipi. Le opere di questo amore sono pregevolissime e
	fanno conoscere come fosse egli allevato nella patria di Palladio; 46 tavole comprende il primo volume e 45 ne
	comprende il secondo. Finisce quest’opera con un avviso degli editori intorno al trattato degli ordini
	d’architettura, che sarà pubblicato in 4, corredato di 60 tavole, opera elaboratissima e profonda di questo
	dottissimo architetto.</div>
	                    <div class="catalogo-note collapse">In cinque gran tavole, e in 40 pagine di testo il sig Becega presenta alcune nuove e sue particolari teorie, che ove
	reggessero alla pratica esecuzione senza incontrare inconvenienti, servirebbero alla costruzione di teatri d’una tal
	grandiosa magnificenza da venire a gara coi spettacoli dell’antica Roma. Ma le odierne abitudini, e la forza di
	mezzi privati non sembrano conciliarsi con quelle ipotesi.</div>
                  </span>
	
	              </section>