<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4516">
                        <span class="catalogo-item-label">4516.</span> <span class="catalogo-bibl"><span class="catalogo-author">PAILLET</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4516">Catalogue des tableaux de trois écoles, miniatures, bronzes, marbres etc. du Cabinet de Marquis de Veri</a></span>,
<span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1785</span>, in 8, coi prezzi.
</span></section>