<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3732">
                     <span class="catalogo-item-label">3732.</span> <span class="catalogo-bibl"><span class="catalogo-author">FONTANA</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3732">Discorso sopra l’antico monte Citatorio situato nel Campo Marzio, ed altre cose erudite ad esso
attinenti, estratto da più gravi autori, e di quanto è accaduto nel ritrovamento e alzamento della colonna Antonina</a></span>,
<span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1708</span>, f. p., seconda edizione con molta varietà, colle medesime 5 tavole però della prima. Unitovi:
— <span class="catalogo-title"><a class="catalog-link" href="/catalog/3732">Anzio, e sue antichità dalla porta di S. Giovanni ai Volsci in vicinanza del nuovo porto</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1710</span>.

                     
                     
— <span class="catalogo-title"><a class="catalog-link" href="/catalog/3732">Discorso sopra le cause dell’inondazione del Tevere antiche e moderne</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1694</span>, con 3 tav. in rame.
— <span class="catalogo-title"><a class="catalog-link" href="/catalog/3732">Discorso di monsignor Vespignani sopra la facile riescita di restaurare il ponte Senatorio, oggi detto Ponte
rotto, aggiuntivi i disegni in rame dati alla luce dal cavalier Carlo Fontana</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1692</span>, tav. 3.
— <span class="catalogo-title"><a class="catalog-link" href="/catalog/3732">Breve descrizione di tre particolari statue scoperte in Roma nel 1739. Opuscolo del Ficoroni, colle tre tavole
delle statue</a></span>.
</span></section>