<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2942">
                     <span class="catalogo-item-label">2942.</span> <span class="catalogo-bibl"><span class="catalogo-author">NICOLAS Ch.</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2942"> Histoire des medailles frappées dans les campagnes du 1708 1709</a></span>, 
                        a <span class="catalogo-pubPlace">Utrecht</span> <span class="catalogo-date">1711</span>, in 4, fig. 8, M.
51.
</span></section>