<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="663">
                  <span class="catalogo-item-label">663.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SERLIO Sebastiano</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/663">Regole generali per l’architettura sopra le cinque maniere degli edifici, cioè
	toscano, dorico, ionico, corinthio, composito con gli esempi dell’antiquità, che per la maggior
	parte concordano con la dottrina di Vitruvio,</a></span> 
                     <span class="catalogo-date">1540,</span> 
                     <span class="catalogo-pubPlace">Venezia,</span>
                      per Francesco Marcolini da Forlì,
	con nuove addizioni e con privilegi.</span>
	                 <div class="catalogo-note">A tergo di questo frontespizio si legge: libro quarto di architettura di M. Sebastiano Serlio Bolognese: segue la
	dedica ove il Serlio intitolando questa ristampa al Marchese del Vasto, indica i molti luoghi delle correzioni, ad
	aggiunte fatte, malgrado le quali comunemente da molti ritiensi esser questa la prima edizione del quarto libro,
	mentre è la seconda.</div><div id="catalogo-note-text-663" class="catalogo-note-search-results truncate-line-clamp">A tergo di questo frontespizio si legge: libro quarto di architettura di M. Sebastiano Serlio Bolognese: segue la
	dedica ove il Serlio intitolando questa ristampa al Marchese del Vasto, indica i molti luoghi delle correzioni, ad
	aggiunte fatte, malgrado le quali comunemente da molti ritiensi esser questa la prima edizione del quarto libro,
	mentre è la seconda.</div><a id="catalogo-note-text-toggle-663" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>