<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1018">
                  <span class="catalogo-item-label">1018.</span> <span class="catalogo-bibl"><span class="catalogo-author">EURIALO d’Ascoli</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1018">Stanze di varii soggetti</a></span>. Nel frontespizio è un’elegantissima incisione in
      legno con un’ape che sugge un fiore e il motto del presente mi godo, e il meglio aspetto, colla
      dedica al Cardinale Farnese e in fine: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1018">Roma in Campofiore</a></span> per <span class="catalogo-author">Valerio Dorico</span> a <span class="catalogo-date">6 Febbraio
      1539</span>.
      — Aggiunto a questo volamene trovasi l’altro del medesimo autore col titolo <span class="catalogo-title"><a class="catalog-link" href="/catalog/1018">Stanze di
      Eurialo d’Ascoli</a></span> sopra le statue di Lacoonte, di Venere, e d’ Apollo ai gran Marchese del
      Vasto: sono precedute dalla dedica e dal privilegio e sono accompagnate dalle relative stampe
      
                  
                  
      
      in legno. In fine: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1018">Roma</a></span> per <span class="catalogo-author">Valerio Dorico</span>, <span class="catalogo-date">20 Giugno 1539</span>.
      <div class="catalogo-note collapse">Questi due libretti sono di pregio e di rarità vera.</div>
      
      </span></section>