<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4749">
                     <span class="catalogo-item-label">4749.</span> <span class="catalogo-bibl"><span class="catalogo-author">TEMPESTA Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4749">Metamorphoseon sive transformationum ovidianarum libri quindecim, aeneis formis incisi,
et in pictorum antiquitatisque studiosorum gratiam nunc primum exquisitissimis sumptibus a Petro de Jode
Antuerpiano in lucem editi</a></span>, Villelmus Jansonius excudit, <span class="catalogo-pubPlace">Amsterodami</span>, in 4 parv. obl.
<div class="catalogo-note">Con una tavola grande intagliata in rame: dissertazione dottissima.</div>
</span></section>