<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2929">
                     <span class="catalogo-item-label">2929.</span> <span class="catalogo-bibl"><span class="catalogo-author">MERCATI Michaelis</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2929"> Metallotheca opus postumum e tenebris in lucem eductum opere, et studio Joannis Mariae
                        Lancisii</a></span>, <span class="catalogo-pubPlace">Romae</span>, ex officina Salvioni, <span class="catalogo-date">1817</span>, in fol., fig.
<div class="catalogo-note">Questo libro contiene un po’ di tutto, ma in specie molte tavole di metalli e minerali e anche molte statue e
monumenti di antichità. Sonovi i ritratti del Mercati e del Lancisi. Occorre esaminare se siavi l’appendice con 19
tavole pubblicata nel 1719, che deve esservi annessa. Le tavole numerosissime del volume stanno riportate fra il
testo e sono eseguite accuratamente.</div>
</span></section>