<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1645">
                  <span class="catalogo-item-label">1645.</span> <span class="catalogo-bibl"><span class="catalogo-author">FANTI Sigismondo ferrarese</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1645">Triompho di fortuna, Vinegia, per Agostin da Portese,1527, ad
    istanza di Jacomo Giunta mercatante fiorentino. </a></span>
<div class="catalogo-note">    Quest’opera è composta di tavole di giuochi e di figure in singolare e strano modo delineate, ed incise in legno.
    Rarissimo è trovarne esemplari conservati. Contiensi in questo libro la risposta a 71 domande, la cui tavola in 10
    foglietti precede le stampe e le cui risposte sono dettate dai principi dell’astrologia giudiziaria. I tre primi fogli di
    tavole contengono le 12 fortune col rinvio alle case primarie d’ Italia espresse in 12 palazzi. Cominciano poi le
    figure delle domande e risposte dal foglio 1 al 128. L’ultimo contiene la marca del Giunti e il registro. Il
    frontespizio è figurato, dietro a quello è il privilegio e cinque foglietti di proemio e di regole. Il volume in tutto
    deve essere di fogli 148. Nel frontespizio pieno di gusto e bizzarra fantasia è in una tavola la marca I. M. Forse
    Giovanni Bonconsigli, detto anche Marescalco, potrebbe aver segnato il suo nome cosi. Questo pittore e
    disegnatore valente pervenne circa a quell’età, benché le memorie biografiche non ci soccorrano; ma se per ciò
    che riguarda la spiegazioni delle marche anderebbe bene ci sembra però che lo stile delle incisioni di quest’opera
    sia più libero di quello che si riconosce nelle opere di pennello di questo maestro.
</div><div id="catalogo-note-text-1645" class="catalogo-note-search-results truncate-line-clamp">    Quest’opera è composta di tavole di giuochi e di figure in singolare e strano modo delineate, ed incise in legno.
    Rarissimo è trovarne esemplari conservati. Contiensi in questo libro la risposta a 71 domande, la cui tavola in 10
    foglietti precede le stampe e le cui risposte sono dettate dai principi dell’astrologia giudiziaria. I tre primi fogli di
    tavole contengono le 12 fortune col rinvio alle case primarie d’ Italia espresse in 12 palazzi. Cominciano poi le
    figure delle domande e risposte dal foglio 1 al 128. L’ultimo contiene la marca del Giunti e il registro. Il
    frontespizio è figurato, dietro a quello è il privilegio e cinque foglietti di proemio e di regole. Il volume in tutto
    deve essere di fogli 148. Nel frontespizio pieno di gusto e bizzarra fantasia è in una tavola la marca I. M. Forse
    Giovanni Bonconsigli, detto anche Marescalco, potrebbe aver segnato il suo nome cosi. Questo pittore e
    disegnatore valente pervenne circa a quell’età, benché le memorie biografiche non ci soccorrano; ma se per ciò
    che riguarda la spiegazioni delle marche anderebbe bene ci sembra però che lo stile delle incisioni di quest’opera
    sia più libero di quello che si riconosce nelle opere di pennello di questo maestro.
</div><a id="catalogo-note-text-toggle-1645" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>    
    </span></section>