<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1573">
                  <span class="catalogo-item-label">1573.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARTEL Jo. Gasp.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1573">De Pallio una cum insertis vindiciis Pallii Herbipolensis</a></span>. Dissertatio
    historica etc., <span class="catalogo-pubPlace">Herbipoli</span> <span class="catalogo-date">1753</span>, in 4.
    </span></section>