<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3799">
                     <span class="catalogo-item-label">3799.</span> <span class="catalogo-bibl"><span class="catalogo-author">MURATORI Lodovico Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3799">Dell’insigne tavola di bronzo spettante ai fanciulli e fanciulle alimentari di Trajano
Augusto nell’Italia, dissotterrata nel territorio di Piacenza l’anno 1747, intera edizione</a></span>, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1748</span>, in 8.
<div id="catalogo-note-text-3799" class="catalogo-note truncate-line-clamp">Coll’iscrizione riportata in dieci gran tavole.</div><a id="catalogo-note-text-toggle-3799" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
MUSEO. Tutti i Musei, Gallerie, e Collezioni di statue, stanno nella classe loro particolare.
</span></section>