<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1608">
                  <span class="catalogo-item-label">1608.</span> <span class="catalogo-bibl"><span class="catalogo-author">BYNARI Antonii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1608">De Calceis Hebraeorum libri duo</a></span>. Accedit eiusdem somnium tertio
    recusum, <span class="catalogo-pubPlace">Dordraci</span> <span class="catalogo-date">1715</span>, in 4, fig.
    <div class="catalogo-note collapse">Opera eruditissima colle figure incise in rame ai luoghi indicati fra il testo.</div>
    
    </span></section>