<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2290">
                  <span class="catalogo-item-label">2290.</span> <span class="catalogo-bibl"><span class="catalogo-author">HOCBRAKEN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2290">Vite e ritratti de’ pittori olandesi</a></span>, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1718</span>, fig., vol. 3 in 8.
    <div id="catalogo-note-text-2290" class="catalogo-note truncate-line-clamp">In lingua olandese, con copiosissimi e bellissimi ritratti intagliati in rame. Edizione da tenersi perciò in qualche
    pregio. Per compir questa serie è duopo aver anche i due volumi di Van Gool. vedi.</div><a id="catalogo-note-text-toggle-2290" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    

                  
                  
    
               </span></section>