<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2398">
                  <span class="catalogo-item-label">2398.</span> <span class="catalogo-bibl"><span class="catalogo-author">VECELLIO Tiziano pittore</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2398">Vita dell’insigne pittore Tizian Vecellio già scritta da anonimo
    autore riprodotta con lettere di Tiziano in occasione delle nozze da Mula Lavagnoli</a></span>, per cura
    dell’Ab. Francesco Accordini, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1809</span>, in 4, M. 87.<div class="catalogo-note">
    Fu ristampata questa vita per la rarità della prima edizione. Vedi anche Zandonella, Cicognara, Ticozzi, Majer.
    </div><div id="catalogo-note-text-2398" class="catalogo-note-search-results truncate-line-clamp">
    Fu ristampata questa vita per la rarità della prima edizione. Vedi anche Zandonella, Cicognara, Ticozzi, Majer.
    </div><a id="catalogo-note-text-toggle-2398" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>