<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4687">
                     <span class="catalogo-item-label">4687.</span> <span class="catalogo-bibl"><span class="catalogo-author">CHARTARIO Vincentio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4687">Imagines Deorum latino sermone expressae ab Antonio Verderio</a></span>, <span class="catalogo-pubPlace">Lugduni</span> <span class="catalogo-date">1581</span>, in 4, fig.
<div class="catalogo-note collapse">Con singolari e non spregievoli tavole in legno.</div>
</span></section>