<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="659">
                  <span class="catalogo-item-label">659.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SCHEINER Cristoforo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/659">Pratica del parallelogrammo da disegnare, di nuovo data in luce da
	Giulio Troili, </a></span>
                     <span class="catalogo-pubPlace">Bologna</span> 
                     <span class="catalogo-date">1653,</span> 
                     <span class="catalogo-extent">in 8, fig.</span>
                  </span>
	                 <div id="catalogo-note-text-659" class="catalogo-note truncate-line-clamp">Con due tavole che esprimono il pantografo e il modo di usarne. Noti può dirsi questa una versione, ma piuttosto
	un estratto dei precedente.</div><a id="catalogo-note-text-toggle-659" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>