<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1177">
                  <span class="catalogo-item-label">1177.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1177">LETTRE sur l’exposition des ouvrages de peinture, sculp. ec. et en général sur l’utilité de ces
    sortes d’exposition à M. R. D. R. pour l’année <span class="catalogo-date">1747</span></a></span>, in 8.
    <div class="catalogo-note collapse">Questo libretto è scritto dallo stesso che scrisse su questo soggetto l’anno precedente 1746 sotto il titolo
    Réfléxions sur quelque causes ec. Vedi un rametto intagliato con grazia e satirico sta nel principio. In fine una
    versione in francese dei poema sulla pittura del P. Marsy.</div>
    
    </span></section>