<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1419">
                  <span class="catalogo-item-label">1419.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1419">BREVE Descrizione della festa fatta nella gran Sala del Podestà di Bologna l’anno <span class="catalogo-date">1615</span></a></span>,
    dedicata al Sig. Giulio Strozzi da Vittorio Benacci stampatore in <span class="catalogo-pubPlace">Bologna</span>, in 8.
    MDCXV
    
    </span></section>