<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2208">
                  <span class="catalogo-item-label">2208.</span> <span class="catalogo-bibl"><span class="catalogo-author">BERCHET Giovanni</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2208">Allocuzione nei funerali del pittore Appiani celebrati nella Chiesa della
    Passione</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1817</span>, in 8, M. 96.
    </span></section>