<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3904">
                     <span class="catalogo-item-label">3904.</span> <span class="catalogo-bibl"><span class="catalogo-author">VENUTI Ridolfino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3904">Marmora Albana, sive in duas inscriptiones gladiatorias conjecturae</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1756</span>, in 4 pic.,
M. 22, con due gran tavole d’iscrizioni.
</span></section>