<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3374">
                     <span class="catalogo-item-label">3374.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRUN (Le)</span>, peintre, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3374">Galérie des peintres flamands, hollandais ed allemands. Ouvrage enrichi de 201 planch.
gravées d’après les meilleurs tableaux de ces maîtres, par les plus habiles artistes de France, d’Hollande, et
d’Allemagne avec un texte etc.</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1792</span>, vol. 3, in fol., fig.

                     
                     

                  </span></section>