<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="960">
                  <span class="catalogo-item-label">960.</span> <span class="catalogo-bibl"><span class="catalogo-author">SILVA</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/960">Dell’arte dei giardini inglesi</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">anno 9</span>, in 4, fig.
      <div class="catalogo-note">Libro tratto da molte opere precedenti, unendovi molte pratiche dell’autore, con 36 tavole in rame. La migliore
      opera in questo genere che abbia l’Italia.</div>
      
      </span></section>