<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3970">
                     <span class="catalogo-item-label">3970.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRY (Theodorus, Jo. Theodorus, Israel de) et Mattheus Merian</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3970">Collectiones peregrinationum in Indiam
Orientalem et Indiam Occidentalem XXV partibus comprehensae</a></span>, <span class="catalogo-pubPlace">Francf. ad Moenum</span> <span class="catalogo-date">1590 a 1634</span>, in fol., fig.,
rilegato in 4 vol., due in foglio maggiore, e due in minore.
<div class="catalogo-note collapse">Nel nostro esemplare di prima impressione confrontato colle lunghe descrizioni di de Bure, e avente tutti i
contrasegni della vera originalità, con qualche carta topografica di più delle indicate da questo bibliografo,
mancano le ultime 5 parti alla prima collezione (detta de’ gran viaggi) che debbe essere composta di 13 parti, e
quattro ne mancano egualmente alla seconda collezione (detta dei piccoli viaggi) che debbe esser composta di 12
parti. Esemplare però bellissimo, dorato, che apparteneva alla Biblioteca Brignole in Genova. Rare volte abbiamo
trovato questo corpo completo.</div>
</span></section>