<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1738">
                  <span class="catalogo-item-label">1738.</span> <span class="catalogo-bibl"><span class="catalogo-author">PACCHI Domenico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1738">Degli abbigliamenti e delle acconciature delle donne</a></span>. Opuscolo di
  Tertulliano recato in lingua Toscana, <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1781</span>, in 8, M. 55.
  <div class="catalogo-note">Opera non conveniente ai tempi in cui è riprodotta.</div>
  
  </span></section>