<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="811">
                  <span class="catalogo-item-label">811.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAROZZI Jacomo da Vignola</span>, La stessa, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1644</span>, fol. fig. ottima ristampa e bellissimo
	esemplare in mar. dor.
	<div class="catalogo-note">Questo è il miglior libro, che da noi si conosca per simili instituzioni e rende un conto giustissimo delle migliori
	opere precedenti. Grandissimi nelle teoriche e nelle pratiche furono l’autore e il commentatore. La prima di
	queste edizio <span class="catalogo-pb" id="page_151">151</span> ni bellissima per la tua nitidezza. Le tavole sono presso che tutte in legno fra il testo, meno
	alcune poche io rame. Il frontespizio è figurato col ritratto dell’autore in mezzo ad un bel colonnato in
	prospettiva.</div><div id="catalogo-note-text-811" class="catalogo-note-search-results truncate-line-clamp">Questo è il miglior libro, che da noi si conosca per simili instituzioni e rende un conto giustissimo delle migliori
	opere precedenti. Grandissimi nelle teoriche e nelle pratiche furono l’autore e il commentatore. La prima di
	queste edizio <span class="catalogo-pb" id="page_151">151</span> ni bellissima per la tua nitidezza. Le tavole sono presso che tutte in legno fra il testo, meno
	alcune poche io rame. Il frontespizio è figurato col ritratto dell’autore in mezzo ad un bel colonnato in
	prospettiva.</div><a id="catalogo-note-text-toggle-811" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>