<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1915">
                  <span class="catalogo-item-label">1915.</span> <span class="catalogo-bibl"><span class="catalogo-author">MANTELII Jo.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1915">Speculum peccatorum aspirantium ad solidam vitae emendationem</a></span>, <span class="catalogo-pubPlace">Ant.</span> <span class="catalogo-date">1637</span>,
    in 4, figurato.
    <div id="catalogo-note-text-1915" class="catalogo-note truncate-line-clamp">Bellissimo è il frontespizio di Pietro de Jode ed eleganti le 16 tavole allegoriche sparse nel volume.</div><a id="catalogo-note-text-toggle-1915" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>