<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3798">
                     <span class="catalogo-item-label">3798.</span> <span class="catalogo-bibl"><span class="catalogo-author">MONTELATICI Domenico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3798">Villa Borghese fuori di porta Pinciana cogli ornamenti che si osservano nel di lei
palazzo, e le figure delle statue più singolari</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1700</span>, in 8.
<div class="catalogo-note">Il libro è ben fatto, ma le molte tavole di cui è ripieno sono indegne degli occhi del pubblico.</div>
</span></section>