<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4373">
                        <span class="catalogo-item-label">4373.</span> <span class="catalogo-bibl"><span class="catalogo-author">MOSCHINI Giovan Antonio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4373">Guida per la città di Venezia</a></span>, vol. 2, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1815</span>, in 12.
<div class="catalogo-note collapse">Libro ben fatto, cercandosi dallo zelante autore d’illustrare tutte le cose che erano rimaste oscure per incuria de’
suoi predecessori con alcune passabili tavole in rame.</div>
</span></section>