<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1532">
                  <span class="catalogo-item-label">1532.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1532">SOLENNI esequie di Giuseppe II Imperatore e Re celebrate in Milano nel <span class="catalogo-date">1790</span> li 11 Marzo
    coll’orazione di Stefano Bonsignore</a></span>: colla descrizione del catafalco e la gran tavola disegnata
    dal Piermarini, in fol. fig.
    <div class="catalogo-note">Il frontespizio e il ritratto disegnò Andrea Appiani e incisero il Cagnoni ed il Mercoli.</div>
    MDCCCII
    
    </span></section>