<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1602">
                  <span class="catalogo-item-label">1602.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOVICELLI Giuliano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1602">Istoria delle perrucche in cui si fa vedere la loro usanza, forma, abuso,
    irregolarità</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1724</span>, in 12, 2 vol. in uno.
    <div class="catalogo-note collapse">Quest’opera è piuttosto diretta contro l’abuso delle perrucche degli ecclesiastici che ad
    oggetto di illustrare la materia colla buona critica.</div>
    </span></section>