<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1420">
                  <span class="catalogo-item-label">1420.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1420">DESCRIZIONE dell’arrivo d’Amore in Toscana in grazia delle bellissime dame fiorentine</a></span>,
    <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1615</span>, in 8.
    <div class="catalogo-note">Sono due foglietti di stampa.</div><div id="catalogo-note-text-1420" class="catalogo-note-search-results truncate-line-clamp">Sono due foglietti di stampa.</div><a id="catalogo-note-text-toggle-1420" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                  
                  
    
    MDCXVI
    
    </span></section>