<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1158">
                  <span class="catalogo-item-label">1158.</span> <span class="catalogo-bibl"><span class="catalogo-author">GAROFALO (Biagio)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1158">Lettera intorno al busto d’Asclepiade</a></span>. Articolo del Giornale de’ Letterati
    di Pisa: unitivi altri articoli su alcuni trattati dei Bagni di <span class="catalogo-pubPlace">Lucca</span> e di <span class="catalogo-pubPlace">Pisa</span>, in 12. M. 73.
    <div id="catalogo-note-text-1158" class="catalogo-note truncate-line-clamp">Con una tavola intagliata in rame del busto d’Asclepiade.</div><a id="catalogo-note-text-toggle-1158" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>