<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3184">
                     <span class="catalogo-item-label">3184.</span> <span class="catalogo-bibl"><span class="catalogo-author">BONI Mauro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3184">Notizia d’una cassettina geografica, opera di commesso d’oro e d’argento all’agemina</a></span>, <span class="catalogo-pubPlace">Venezia</span>
<span class="catalogo-date">1800</span>, in 4, M. 10 e 26.
<div id="catalogo-note-text-3184" class="catalogo-note truncate-line-clamp">Vedi in proposito di questo stesso monumento all’articolo Francesconi.</div><a id="catalogo-note-text-toggle-3184" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
<span class="catalogo-pb" id="page_109">109</span>
                  </span></section>