<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="392">
                  <span class="catalogo-item-label">392.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALBERTOLI Giocondo</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/392"> Miscellanea pei giovani studiosi del disegno,</a></span>
                     <span class="catalogo-pubPlace"> pubblicata, in Milano</span>
	                    <span class="catalogo-date">l’anno 1796</span> 
                     <span class="catalogo-extent">in gr.fol,</span> dedicata a D. Lodovico Galeazzo Busca Arconati Visconti.</span>
	                 <div class="catalogo-note">Questa è la terza parte dell’opera che contiene XX tavole, le quali possono riputarsi le più belle di tutta l’opera.
	Lavorò in questa oltre al Mercoli, per intagliare le tavole, anche Rafaello Albertolli nipote di Giocondo.</div><div id="catalogo-note-text-392" class="catalogo-note-search-results truncate-line-clamp">Questa è la terza parte dell’opera che contiene XX tavole, le quali possono riputarsi le più belle di tutta l’opera.
	Lavorò in questa oltre al Mercoli, per intagliare le tavole, anche Rafaello Albertolli nipote di Giocondo.</div><a id="catalogo-note-text-toggle-392" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>