<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="10">
               <span class="catalogo-item-label">10.</span> 
               <span class="catalogo-bibl">
                 <span class="catalogo-author">BIANCHI Isidoro</span>, 
                 <span class="catalogo-title"><a class="catalog-link" href="/catalog/10">Delle scienze e delle arti. Dissertazione apologetica,</a></span> 
                 <span class="catalogo-pubPlace">Palermo</span> 
                 <span class="catalogo-date">1771,</span>
                 <span class="catalogo-extent"> in 8.</span>
               </span>
             </section>