<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3246">
                     <span class="catalogo-item-label">3246.</span> <span class="catalogo-bibl"><span class="catalogo-author">JACUTII Matthaei</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3246">Syntagma quo apparentis Magno Costantino Crucis historia complexa est universa etc.</a></span>, <span class="catalogo-pubPlace">Romae</span>
                        <span class="catalogo-date">1755</span>, in 4.
                        <div class="catalogo-note collapse">Esemplare in carta grande</div>.
</span></section>