<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="113">
                  <span class="catalogo-item-label">113.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DOLCE Messer Lodovico</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/113"> Dialogo nel quale si ragiona delle qualità, diversità e proprietà dei
	  colori,</a></span>
                     <span class="catalogo-pubPlace"> Venetia,</span> 
                     presso Marco Sessa,
                     <span class="catalogo-date"> 1565,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 
	                 
	                 
	                 <div id="catalogo-note-text-113" class="catalogo-note truncate-line-clamp">Quest’opera, cui tratta dell’applicazione dei colori più nel senso dell’allegorie, che dell’arte della pittura, era più
	  propria degli studi e delle cognizioni di questo autore, il quale opportunamente intitolò il dialogo precedente,
	  l’Aretino perché appunto esteso dalla letteratura di quel letterato, che molto intendevasi di opere di pennello.</div><a id="catalogo-note-text-toggle-113" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>