<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1352">
                  <span class="catalogo-item-label">1352.</span> <span class="catalogo-bibl"><span class="catalogo-author">REGOLAMENTI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1352">Piano per una scuola di Belle Arti fatto dal cittadino Giovan Battista Vinci</a></span>,
    <span class="catalogo-pubPlace">Roma</span>, anno VII, <span class="catalogo-date">1798</span> (V. I.), in 4, gr.
    </span></section>