<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2162">
                  <span class="catalogo-item-label">2162.</span> <span class="catalogo-bibl"><span class="catalogo-author">FONTÉNÉT</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2162">Dictionnaire des artistes, ou notices historiques et raisonnées des peintres,
    graveurs</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1776</span>, 2 vol. en 8.
    <div class="catalogo-note">Questa è una piccola enciclopedia per gli artisti ove in ristretto sono infinite nozioni: si estende però a 1600
    pagine.</div>
    
    </span></section>