<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1851">
                  <span class="catalogo-item-label">1851.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOCCHI Achillis bonon.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1851">Symbolicarum quaestionum de universo genere quas serio ludebat
    lib. quinque</a></span>, <span class="catalogo-pubPlace">Bononiae</span> <span class="catalogo-date">1514</span>, 2 edizione in 8.
   <div class="catalogo-note collapse"> In questa edizione il teschio di bue che si vede impresso alla pagina 11 è inciso in rame da Agostino Caracci, il
    quale ritoccò alcuni dei rami del Bonasoni: confrontasi i rami delle due edizioni del simbolo medesimo in avanti,
    e si rico <span class="catalogo-pb" id="page_317">317</span> nosceranno i ritocchi di Agostino. Nella primi edizione il teschio citato è inciso in legno.
    Magnif. esempl. in mar. dor. ec.</div>
    
    </span></section>