<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="11">
               <span class="catalogo-item-label">11.</span> 
               <span class="catalogo-bibl">
                 <span class="catalogo-author">BODENUS Ben. Gottlib.</span>, 
                 <span class="catalogo-title"><a class="catalog-link" href="/catalog/11">Artificem ea quæ sibi non conveniunt fingentem poetæ monitorem
		 proponit etc. Dissertatio,</a></span> 
                 <span class="catalogo-pubPlace">Vitebergæ</span>
                 <span class="catalogo-date"> 1776,</span>
                 <span class="catalogo-extent"> in 4, M.45.</span>
               </span>
             </section>