<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="422">
                  <span class="catalogo-item-label">422.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BARTOLI Cosimo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/422">Del modo di misurare le distanze, le superfici, i corpi, le piante, secondo le
	regole di Euclide,</a></span> 
                     <span class="catalogo-pubPlace">Venezia,</span> 
                     per Francesco Franceschi, 
                     <span class="catalogo-date">1589,</span> 
                     <span class="catalogo-extent">in 4 pic. Fig.</span>
	                    <div class="catalogo-note collapse">Seconda edizione somigliante alla prima.</div>
                  </span>
	
	              </section>