<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1399">
                  <span class="catalogo-item-label">1399.</span> <span class="catalogo-bibl"><span class="catalogo-author">FONTANA Publio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1399">Il sontuoso apparato fatto dalla magnifica città di Brescia nel felice ritorno
    del Cardinale Morosini</a></span>, con la sposizione dei sensi simbolici ivi contenuti, <span class="catalogo-pubPlace">Brescia</span>, presso
    Vincenzo Sabio, <span class="catalogo-date">1591</span>, in fog. fig.
    <div class="catalogo-note">Monsig. Publio Fontana estese il testo: Giulio Todeschini architetto e Tommaso Buona pittore furono gli
    inventori degli apparati ed archi in 12 tavole rappresentati, non compresa quella del frontespizio.</div>
    MDXCIV
    
    </span></section>