<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1235">
                  <span class="catalogo-item-label">1235.</span> <span class="catalogo-bibl"><span class="catalogo-author">BUTTACALICE Ab. Grazioso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1235">Osservazioni relative a due proggetti sulla fabbrica del Palazzo
    Reale in Venezia</a></span>, Opuscolo II, <span class="catalogo-date">1808</span>, M. 31.
    — A questo va precedentemente annesso l’altro opuscolo. Vedi <span class="catalogo-author">Pinali</span>.
    </span></section>