<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3814">
                     <span class="catalogo-item-label">3814.</span> <span class="catalogo-bibl"><span class="catalogo-author">PALLADIO</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3814">Le antichità dell’alma città di Roma</a></span>, <span class="catalogo-date">1650</span>, figurato.
— Per le stesse antichità di Palladio. Vedi anche Martinelli Giovanni, Le cose meravigliose di Roma, 1588 e le
stesse 1589 e vedi Zino Pier Francesco.
</span></section>