<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3210">
                     <span class="catalogo-item-label">3210.</span> <span class="catalogo-bibl"><span class="catalogo-author">CRAMERII Jo. Christoph.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3210">Commentatio de Thespide, primo haud dubie cultioris tragoediae auctore</a></span>, <span class="catalogo-pubPlace">Jenae</span> <span class="catalogo-date">1754</span>,
in 4, M. 41.
</span></section>