<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3406">
                     <span class="catalogo-item-label">3406.</span> <span class="catalogo-bibl"><span class="catalogo-author">S. MARTIN de Boulogne</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3406">Plusieures figures representans les vertus tirées de l’hôtel de Montmoranci</a></span>, <span class="catalogo-pubPlace">Paris</span>, chez
Bonnart, in fol., M. 92.
<div class="catalogo-note collapse">Sono 12 tavole intagliate all’acqua forte passabilmente.</div>
</span></section>