<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1684">
                  <span class="catalogo-item-label">1684.</span> <span class="catalogo-bibl"><span class="catalogo-author">LENS André</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1684">Le costume des peuples de l’antiquité prouvé par les monumens. Nouvelle
    édition augmentée per G. N. Martini, avec 67 estampes</a></span>, <span class="catalogo-pubPlace">Dresde</span> <span class="catalogo-date">1785</span>, in 4.
    <div class="catalogo-note collapse">Questa è una delle opere più castigate e a cui può riportarti con più sicurezza fra quante ne esistono in questa
    materia.
</div>    
    </span></section>