<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2559">
                     <span class="catalogo-item-label">2559.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARLI conte Giovan Rinaldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2559">Delle antichità italiche: seconda edizione riveduta ed accresciuta dall’autore</a></span>,
<span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1793 al 1795</span>, 4 vol., in 4, fig.
<div id="catalogo-note-text-2559" class="catalogo-note truncate-line-clamp">Opera delle più dotte e più profonde che siano in questa materia, ricca di molte tavole ai luoghi voluti dal testo, o
inserte nelle stesse pagine intagliate in rame ed in legno.
Vedi anche all’articolo Antichità Romane.</div><a id="catalogo-note-text-toggle-2559" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>