<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3340">
                     <span class="catalogo-item-label">3340.</span> <span class="catalogo-bibl"><span class="catalogo-author">SESTINI Domenico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3340">Illustrazione d’un vase antico di vetro ritrovato in un sepolcro presso l’antica Populonia</a></span>,
<span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1812</span>, in 4, fig., M. 7.
<div class="catalogo-note collapse">Edizione assai nobile con tre tavole in rame. Esemplare in carta gr. Questo vase esisteva nel museo privato della
gran duchessa di Toscana principessa di Lucca.</div>
</span></section>