<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2257">
                  <span class="catalogo-item-label">2257.</span> <span class="catalogo-bibl"><span class="catalogo-author">DIODATI Luigi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2257">Vita dell’Ab. Ferdinando Galliani R. Consigliere</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1788</span>, in 8, M. 56.
    <div id="catalogo-note-text-2257" class="catalogo-note truncate-line-clamp">Le memorie di questo dottissimo letterato e antiquario celebratissimo appartengono con luminoso diritto a questa
    biografia.</div><a id="catalogo-note-text-toggle-2257" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>