<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1487">
                  <span class="catalogo-item-label">1487.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1487">Il TEMPIO di Giano, serrato da Augusto per l’annua festa popolare della porchetta nella Fiera
    di Bologna</a></span>, <span class="catalogo-date">1703</span>, figurata. Aggiuntovi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1487">Dialogismo simbolico per l’invenzione della contrada
    di Fontebranda, detta dell’Oca, rappresentata nel corso delle Bufale nella Piazza di Siena,
    presenti D. Co <span class="catalogo-pb" id="page_255">255</span> simo de’ Medici e Maria Maddalena d’Austria</a></span>, <span class="catalogo-pubPlace">Siena</span> <span class="catalogo-date">1612</span>, in 4.
    — <span class="catalogo-title"><a class="catalog-link" href="/catalog/1487">Descrizione della festa popolare della porchetta fatta in Bologna nel <span class="catalogo-date">1721</span></a></span>.
    — <span class="catalogo-title"><a class="catalog-link" href="/catalog/1487">Disegno, e relazione della fiera fatta in Bologna in occasione della solita festa popolare
    della porchetta</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1706</span>, in 4, fig.
    MDCCVII.
    </span></section>