<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4002">
                     <span class="catalogo-item-label">4002.</span> <span class="catalogo-bibl"><span class="catalogo-author">DUBOIS</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4002">Projet de reunion du Louvre eu Palais de Thuilleries</a></span>, in fol., fig., M. 81.
<div id="catalogo-note-text-4002" class="catalogo-note truncate-line-clamp">Progetto vastissimo, ove incontrarebbesi alcune difficoltà, ma che potrebbe migliorarsi con qualche studio, e
formarebbe il principale abbellimento di Parigi. Con 8 gran tavole in rame.</div><a id="catalogo-note-text-toggle-4002" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>