<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2232">
                  <span class="catalogo-item-label">2232.</span> <span class="catalogo-bibl"><span class="catalogo-author">CELLINI Benvenuto orefice e scultore fiorentino</span>, La stessa.

                  
                  
    <div id="catalogo-note-text-2232" class="catalogo-note truncate-line-clamp">Contraffazione colla stessa data, eseguita nel 17922in Firenze, ma con diversi caratteri, diverse lettere iniziali,
    diversa carta e facile a riconoscersi. Nel frontespizio vi è un mascherone senza orecchie asinine, diverso da
    quello della prima edizione e la tavola delle persone nominate nell’opera ha le pagine numerate con numeri
    romani, mentre nell’originale non hanno alcun numero. Ognuno sa quante nozioni unite a tanta bizzarria trovansi
    in questo libro singolare e prezioso.</div><a id="catalogo-note-text-toggle-2232" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>