<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="400">
                  <span class="catalogo-item-label">400.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ANTOLINI Giovanni</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/400">Idee elementari d’architettura civile per le scuole del disegno,</a></span> 
                     <span class="catalogo-pubPlace">Bologna
</span>	
                     <span class="catalogo-date">1813,</span> 
                     <span class="catalogo-extent">in fol. fig., M. 85.</span>
                  </span>
	                 <div id="catalogo-note-text-400" class="catalogo-note truncate-line-clamp">Opera stampata con molto decoro, piena di buoni principi; con 24 tav. intagliate diligentemente in contorni.</div><a id="catalogo-note-text-toggle-400" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>