<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2648">
  <span class="catalogo-item-label">2648.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARTHELEMY A.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2648">Reflexions sur 1’alphabet et sur la langue dont on se servoit autre fois à Palmyre</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1754</span>, in
4, fig., M. 19.</span>
<div id="catalogo-note-text-2648" class="catalogo-note truncate-line-clamp">Opuscolo esteso con profonde cognizioni. Sonovi tre tavole comparative di caratteri chiaramente e

                     
                     
diligentemente intagliati.</div><a id="catalogo-note-text-toggle-2648" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</section>