<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3528">
                     <span class="catalogo-item-label">3528.</span> <span class="catalogo-bibl"><span class="catalogo-author">MENETREIO Claudio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3528">Symbolica Dianae Ephesiae statua exposita</a></span>, 
                        <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1657</span>, fig., in 4, M. 10.
<div id="catalogo-note-text-3528" class="catalogo-note truncate-line-clamp">Questa è la prima edizione a cui va annessa l’altra operetta del Bellori in Nmismata tum Ephesia tum aliarum
Urbium apibus insignita. Romae 1658, in 4 coll’epistola d’Holstenio de verubus Dianae Ephesiae con 24 tavole
e alcune medaglie e monumenti fra il testo.</div><a id="catalogo-note-text-toggle-3528" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>