<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1064">
                  <span class="catalogo-item-label">1064.</span> <span class="catalogo-bibl"><span class="catalogo-author">MALASPINA M. di Sannazaro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1064">Delle leggi del Bello applicate alla pittura e architettura</a></span>, saggio,
      <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1791</span>, in 8.
      </span></section>