<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1634">
                  <span class="catalogo-item-label">1634.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1634">DIVERSARUM gentium armatura equestris ubi fere Europae, Asiae, atque Africae equitandi
    ratio propria espressa est., Amstelodami,</a></span> impressae in aedibus Nic. Jo. Visscheri, <span class="catalogo-date">1617</span>, in 4.
<div id="catalogo-note-text-1634" class="catalogo-note truncate-line-clamp">    Opera di bella maniera d’intaglio composta da un frontespizio figurato; poi segue un Nettuno, e una Pale con due
    cavalli marini. La terza carta presenta le armi di varie corti di Fiandra e d’Olanda; seguono settantasette stampe
    di cavalli montati da Cavalieri d’ogni Nazione, l’ultima però è un elefante. È da notarsi che 56 sono d’una
    grandezza uniforme e le residue estendo più piccole hanno un contorno e sembrano d’altra mano, quantunque
    della medesima scuola. Cosicché questo volume sembra composto da due opere diverse. Abramo Bruyn
    pubblicò in Colonia l’anno 1577 la prima edizione di questo libro, intitolata, come sopra e queste tavole sono
    tutte incise nella sua maniera.
</div><a id="catalogo-note-text-toggle-1634" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>    
    </span></section>