<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4773">
                     <span class="catalogo-item-label">4773.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4773">DESCRIPTION nouvelle de Blencheim, chateau de sa grandeur le Duc de Malborough</a></span>, <span class="catalogo-pubPlace">Oxford</span> <span class="catalogo-date">1815</span>, in 12.

                     
                     
<div class="catalogo-note collapse">Con alcune tavole in rame.</div>
</span></section>