<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3624">
                     <span class="catalogo-item-label">3624.</span> <span class="catalogo-bibl"><span class="catalogo-author">BLONDI Flavii</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/3624"> De Roma triumphante libri decem Brixiae 1503 per Angelum Brittannicum. Accedit: ejusdem de
Roma instaurata lib. III. De gestis venetorum ad Franciscum Foscari ducem etc. et de Italia illustrata lib. VIII</a></span>,
<span class="catalogo-pubPlace">Venetiis</span>, <span class="catalogo-date">1510</span>, per G. regnante Leonardo Lauretano duce.
</span></section>