<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="261">
                  <span class="catalogo-item-label">261.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GILPIN WILLIAM</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/261"> Éssai sur les gravures, traduit de l’anglais par le B. de B.,</a></span> 
                     <span class="catalogo-pubPlace">Breslau</span> 
                     <span class="catalogo-date">1800</span>, <span class="catalogo-extent">in 8.</span>
	La periferia ove si aggirano queste osservazioni è estremamente ristretta.</span>
	
	                 <span class="catalogo-pb" id="page_45">45</span>
	              </section>