<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1370">
                <span class="catalogo-item-label">1370.</span>
		<span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1370">La POMPA FUNEBRE e le esequie del già Re Cristianissimo di Francia Francesco I</a></span>, di questo
		nome, in <span class="catalogo-pubPlace">Vinegia</span>, per Paolo Gherardo, <span class="catalogo-date">1547</span>, in 8. Aggiuntavi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/1370">La entrata del Re
		Cristianissimo Enrico II nella città di Reims e la sua incoronazione</a></span>, in <span class="catalogo-pubPlace">Vinegia</span>, per Paolo
		Gherardo: e in fine, in <span class="catalogo-pubPlace">Vinegia</span> per Cormin de Trino, <span class="catalogo-date">1547</span>, in 8.</span>
		<div id="catalogo-note-text-1370" class="catalogo-note truncate-line-clamp">Sono due opuscoli per la piccolezza della loro forma così facili a smarrirsi che divennero rari, e sempre
		riscontrami in questi et altri simili preziose memorie storiche.</div><a id="catalogo-note-text-toggle-1370" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a> MDXLIX
	      </section>