<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="297">
                  <span class="catalogo-item-label">297.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BOTTMAN</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/297">Cours d’anatomie à l’usage des artistes,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1788</span>, <span class="catalogo-extent">in 12.</span>
	                    <div class="catalogo-note">Operetta che senza le dimostrazioni delle tavole riesce troppo astratta e può adoperarsi applicandola ad altre
	opere.</div><div id="catalogo-note-text-297" class="catalogo-note-search-results truncate-line-clamp">Operetta che senza le dimostrazioni delle tavole riesce troppo astratta e può adoperarsi applicandola ad altre
	opere.</div><a id="catalogo-note-text-toggle-297" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	                 </span>
	              </section>