<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3067">
                     <span class="catalogo-item-label">3067.</span> <span class="catalogo-bibl"><span class="catalogo-author">VISCONTI Ennio Quirino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3067">Osservazioni sopra un antico cammeo, rappresentante Giove Egioco</a></span>, <span class="catalogo-pubPlace">Padova</span> <span class="catalogo-date">1793</span>, in 4,
fig.
<div class="catalogo-note">Avvertasi, che la bella incisione di Morghen di questo cammeo, tratto da non troppo scrupoloso disegno, fu
stampata con un errore nell’iscrizione, essendosi intagliata la parola Effossus con una sola S che fu poi
emendata: per conseguenza il rame, ove esiste l’errore, riguardasi dagli amatori con maggior pregio. In questo
esemplare esistono amendue i rami. L’onice prezioso sta attualmente nella Biblioteca di S. Marco a Venezia e ne
fu fatto da noi eseguire un getto perfettamente simile in argento dorato, che vedesi alla Biblioteca Imperiale di
Vienna in un dittico di lavori d’orificeria, prezioso per la sua esecuzione, che gli Stati di Venezia hanno
presentato col nostro mezzo all’Imperatore.</div><div id="catalogo-note-text-3067" class="catalogo-note-search-results truncate-line-clamp">Avvertasi, che la bella incisione di Morghen di questo cammeo, tratto da non troppo scrupoloso disegno, fu
stampata con un errore nell’iscrizione, essendosi intagliata la parola Effossus con una sola S che fu poi
emendata: per conseguenza il rame, ove esiste l’errore, riguardasi dagli amatori con maggior pregio. In questo
esemplare esistono amendue i rami. L’onice prezioso sta attualmente nella Biblioteca di S. Marco a Venezia e ne
fu fatto da noi eseguire un getto perfettamente simile in argento dorato, che vedesi alla Biblioteca Imperiale di
Vienna in un dittico di lavori d’orificeria, prezioso per la sua esecuzione, che gli Stati di Venezia hanno
presentato col nostro mezzo all’Imperatore.</div><a id="catalogo-note-text-toggle-3067" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>