<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="252">
                  <span class="catalogo-item-label">252.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BOSSE Abr.</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/252">Traité des manières de graver en taille douce sur l’airaïn par le moyen des eaux
	  fortes et de vernix durs et mols, d’imprimer les planches et de construire la presse par le sieur
	  Ab Bosse. Augmenté de la nouvelle manière, dont se sert m. Le Clerc graveur du roi,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span>,
	  chez Pierre Emeroy, 
                     <span class="catalogo-date">1701</span>,<span class="catalogo-extent"> con 18 tav. compreso il frontispizio. Edizione seconda.</span>
                  </span>
	              </section>