<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="866">
                  <span class="catalogo-item-label">866.</span> <span class="catalogo-bibl"><span class="catalogo-author">TROLLI Giulio da Spinlamberto</span>, detto Paradosso, <span class="catalogo-title"><a class="catalog-link" href="/catalog/866">Paradossi per praticare la prospettiva senza
	saperla</a></span>, <span class="catalogo-pubPlace">Bologna</span> <span class="catalogo-date">1683</span>, colla terza parte divisa in due sezioni in fol. fig.
	<div class="catalogo-note">È duopo osservare gli esemplari, poiché spesso questa terza parte, che ha un frontespizio apposito, manca. Le
	tavole sono espresse con chiarezza di disegno e intagliate in legno. Si insegnano molte buone pratiche, ed è uno
	de’ migliori libri <span class="catalogo-pb" id="page_160">160</span> in questo genere, senza lenocinio di bella apparenza, che con poche emende,
	ommissioni e addizioni sarebbe eccellente.</div>
	
	</span></section>