<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1059">
                  <span class="catalogo-item-label">1059.</span> <span class="catalogo-bibl"><span class="catalogo-author">HOGARTH Guglielmo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1059">L’analisi della Bellezza</a></span>, tradotta dall’inglese, <span class="catalogo-pubPlace">Livorno</span> <span class="catalogo-date">1771</span>, in 8, fig.
      <div class="catalogo-note collapse">Come una gran parte del pregio delle opere di questo insigne autore sta nel gusto e nella precisione dei disegni
      intagliati originalmente, così troppo si perde per la mancanza delle buone tavole in una versione eseguita con
      negligenza.</div>
      
      </span></section>