<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2954">
                     <span class="catalogo-item-label">2954.</span> <span class="catalogo-bibl"><span class="catalogo-author">ORTELII Abrahami</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2954">Deorum, Dearumque capita ex vetustis numismatibus</a></span>, 
                       <span class="catalogo-pubPlace"> Antuerpiae</span> <span class="catalogo-date">1572</span>, sic in parv., fig., M.
1.
<div class="catalogo-note">Questi intagli in rame a guisa di medaglioni sono eseguiti con eccessiva libertà e sono posti in centro di
altrettante cartelle e compartimenti ornamentali e figurati. Dopo il frontespizio intagliato, segue la dedica del
volume a Giovanni Sambuco, a tergo sono alcuni versi latini, nel terzo foglietto è un avviso ai lettori, nel quarto
sono citati li scrittori che descrissero istorie e imagini delle divinità. Poi seguono cinquantanove foglietti colle
tavole, in fine nell’ultimo è il catalogo delle medaglie e a tergo il nome e l’anno dello stampatore. Antuerpiae
 excudebat ann. 1582.</div><div id="catalogo-note-text-2954" class="catalogo-note-search-results truncate-line-clamp">Questi intagli in rame a guisa di medaglioni sono eseguiti con eccessiva libertà e sono posti in centro di
altrettante cartelle e compartimenti ornamentali e figurati. Dopo il frontespizio intagliato, segue la dedica del
volume a Giovanni Sambuco, a tergo sono alcuni versi latini, nel terzo foglietto è un avviso ai lettori, nel quarto
sono citati li scrittori che descrissero istorie e imagini delle divinità. Poi seguono cinquantanove foglietti colle
tavole, in fine nell’ultimo è il catalogo delle medaglie e a tergo il nome e l’anno dello stampatore. Antuerpiae
 excudebat ann. 1582.</div><a id="catalogo-note-text-toggle-2954" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>