<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1469">
                  <span class="catalogo-item-label">1469.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1469">TEATRO de la gloria consagrado a la Exma Sennora Donna Felize de Sandaval Enriquez
    Duquessa de Uceda difunta</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1671</span>, in fol. fig.
    <div class="catalogo-note">Le invenzioni furono di Cesare Fiore architetto ed espresse in otto grandi tavole.</div><div id="catalogo-note-text-1469" class="catalogo-note-search-results truncate-line-clamp">Le invenzioni furono di Cesare Fiore architetto ed espresse in otto grandi tavole.</div><a id="catalogo-note-text-toggle-1469" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCLXXI
    
    </span></section>