<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2393">
                  <span class="catalogo-item-label">2393.</span> <span class="catalogo-bibl"><span class="catalogo-author">VASARI Giorgio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2393">Vite de’ più eccellenti pittori, scultori, architetti, pubblicate per opera del P.
    Guglielmo della Valle, Siena dal 1791 al 1794, tomi XI</a></span>, in 8, fig.
    <div class="catalogo-note">Opera resa più voluminosa da questo autore, senza aggiugnervi altra varietà rilevante, che un incomodo
    maggiore e un pregio minore.
    </div><div id="catalogo-note-text-2393" class="catalogo-note-search-results truncate-line-clamp">Opera resa più voluminosa da questo autore, senza aggiugnervi altra varietà rilevante, che un incomodo
    maggiore e un pregio minore.
    </div><a id="catalogo-note-text-toggle-2393" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    </span></section>