<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="753">
                  <span class="catalogo-item-label">753.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAMILLO Giulio Delminio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/753">L’idea del teatro</a></span>, <span class="catalogo-pubPlace">Firenze</span>, Torrentino, <span class="catalogo-date">1550</span>, in 4, pic.
	<div id="catalogo-note-text-753" class="catalogo-note truncate-line-clamp">Elegante edizione e bellissimo esemplare, ove di tutta sorta di allegorie e significazioni si ragiona sotto questo
	specioso nome di Teatro.</div><a id="catalogo-note-text-toggle-753" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	</span></section>