<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2080">
                  <span class="catalogo-item-label">2080.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2080">PERFECTA Christi Charitas.</a></span>
  <div class="catalogo-note">Sono queste 163 tavole molte delle quali duplicate, poiché da due lati intagliate, coi martiri di moltissimi soci
  della compagnia di Gesù nelle quattro parti del mondo: incise da Melchior Kusell. Libro pieno di atrocità che
  non è vinta dal merito dell’artefice, sebbene sia fra buoni intagliatori. Il disegnatore è un certo C. Screta.</div>
  
  </span></section>