<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4159">
                        <span class="catalogo-item-label">4159.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/4159">DESCRIPTION des principaux ouvrages de peintu <span class="catalogo-pb" id="page_265">265</span>re, et sculpture existantes dans les lieux pubbliques de la
ville d’Anverse</a></span>, <span class="catalogo-pubPlace">Anverse</span> <span class="catalogo-date">1774</span>, in 8.
</span></section>