<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1508">
                  <span class="catalogo-item-label">1508.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1508">RELAZIONE dei solenni funerali celebrati in Napoli alla memoria di Clemente XII nel Marzo
    <span class="catalogo-date">1740</span></a></span>, in foglio.
    <div class="catalogo-note">L’orazion funerale che sta in fine è del canonico Sirammaco Mazocchi.</div><div id="catalogo-note-text-1508" class="catalogo-note-search-results truncate-line-clamp">L’orazion funerale che sta in fine è del canonico Sirammaco Mazocchi.</div><a id="catalogo-note-text-toggle-1508" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    <span class="catalogo-pb" id="page_259">259</span>
    MDCCXLII
    
    </span></section>