<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="612">
                  <span class="catalogo-item-label">612.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">POLENI Joannis</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/612">Exercitationes vitruvianae primus commentarius criticus de Vitruvii decem
	librorum editionibus,</a></span> 
                     <span class="catalogo-pubPlace">Patavii</span> 
                     <span class="catalogo-date">1739</span> e <span class="catalogo-date">1741</span>, <span class="catalogo-extent">in 4, mag.</span> Vedi anche: <span class="catalogo-title"><a class="catalog-link" href="/catalog/612">Sexti Julii Frontini
	commentarmi:</a></span> 
                     <span class="catalogo-pubPlace">Patavii</span> 
                     <span class="catalogo-date">1712,</span> 
                     <span class="catalogo-extent">in 4, fig.</span>
                  </span> 
                  
	              </section>