<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="226">
                  <span class="catalogo-item-label">226.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VASARI</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/226">Trattato della pittura, nel quale si contiene la pratica di essa, divisata in tre giornate e
	  ridotto in ragionamenti nei quali si spiegano le invenzioni da lui dipinte in Firenze nel palazzo
	  di loro AA. SS. con due tavole copiose,</a></span> 
                     <span class="catalogo-pubPlace">Firenze</span>, presso i Giunti, 
                     <span class="catalogo-date">1619</span>, <span class="catalogo-extent">in 4</span>.</span>
	                 <div class="catalogo-note collapse">Questa è la seconda edizione dei ragionamenti, mutato l’ordine della parola sul frontispizio ed omessa la dedica,
	  quantunque non vi sia alcuna varietà nei tipi e venisse riprodotta soltanto col mutare i primi fogli e l’ultimo del
	  volume.</div>	  
	              </section>