<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4050">
                     <span class="catalogo-item-label">4050.</span> <span class="catalogo-bibl"><span class="catalogo-author">MOORE James</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4050">A selection of views in Scotland</a></span>, <span class="catalogo-pubPlace">London</span>, 
                        by Tho. Macklin, <span class="catalogo-date">1794</span>, in 4, fig.
<div id="catalogo-note-text-4050" class="catalogo-note truncate-line-clamp">Sono queste 25 vedute della Scozia meridionale tolte dalla collezione dei disegni del signor Moore, intagliate
colla direzione del signor John Landseer. In questo genere di preziose e minute vedutine piene di vapore, e di
gusto, gli inglesi sono insuperabili.</div><a id="catalogo-note-text-toggle-4050" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>