<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3625">
                     <span class="catalogo-item-label">3625.</span> <span class="catalogo-bibl"><span class="catalogo-author">BLONDI Flavii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3625">Historiarum ab inclinatione romanorum imperii: decades tres</a></span>, 
                        <span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1483</span>, in fol. Leggesi in
fine: Finis historiarum Blondi quas morte praeventus non complevit. Cum tamen interim Romam instauratam
tribus libris, Italiam illustratam lib. VIII, et Romam triumphantem lib. X absolverit. Impressum Venetiis, per
Octavianum Scotum Medatiensem, anno S. 1483 XVII kalendas Aug., Jo. Mocenigo inclyto Ven. duce.
</span></section>