<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="893">
                  <span class="catalogo-item-label">893.</span> <span class="catalogo-bibl"><span class="catalogo-author">CAREGA Michele</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/893">Memoria sopra i parafulmini</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1808</span>, in 4.
      
                  
                  
      <div class="catalogo-note collapse">Utilissima a leggersi da tutti i costruttori di edifici.</div>
      
      </span></section>