<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2661">
                     <span class="catalogo-item-label">2661.</span> <span class="catalogo-bibl"><span class="catalogo-author">CICOGNARA Leopoldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2661">Estratto dell’opera del signor Quatremere de Quirci intitolata: Il Giove Olimpico, ossia
l’arte della scultura antica, considerata sotto un nuovo punto di vista</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1817</span>, in 8, fig.
<div class="catalogo-note collapse">Intitolato ad Antonio Canova con una tavola in principio.
Esemplare in carta velina rosea.</div>
</span></section>