<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1907">
                  <span class="catalogo-item-label">1907.</span> <span class="catalogo-bibl"><span class="catalogo-author">HORAPPOLLINIS</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/1907">Hierogliphica</a></span>. Grece et latine, cum notis Jo. Mercerii et aliorum curante Io.
    Cornelio de Paw., <span class="catalogo-pubPlace">Trajecti ad Rhenum</span> <span class="catalogo-date">1727</span>, in 4.
    </span></section>