<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2278">
                  <span class="catalogo-item-label">2278.</span> <span class="catalogo-bibl"><span class="catalogo-author">GIOVIO Giovan Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2278">Elogii di Palladio, del Conte Algarotti, di Benedetto e di Paolo
    Giovio</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1782</span>, in 8.
    <div class="catalogo-note collapse">Scrisse il Bianconi su questo esemplare, che gli appartenne :fate (diceva uno) che il sig. Cav. Giovan Battista
    Giovio abbia più profondità di sapere e minor desiderio di comparire e di far spiccare i suoi maggiori e lo

                  
                  
    renderete scrittore insigne, che componendo meno, interesserà maggiormente.</div>
    
    </span></section>