<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4464">
                        <span class="catalogo-item-label">4464.</span> <span class="catalogo-bibl"><span class="catalogo-author">FOULIS Robert</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4464">A catalogue of pictures composed, and painted, chiefly by the most admired masters etc.</a></span>, 3 vol.,
<span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1776</span>.
</span></section>