<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="108">
                  <span class="catalogo-item-label">108.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DELORMOIS</span> Dessinateur du Roi, <span class="catalogo-title"><a class="catalog-link" href="/catalog/108">L’art de faire les indiennes et de composer les plus belles
	  coulers,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1780,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note collapse">Trattasi anche dei colori per le miniature, per acquerellare i disegni, piani, carte, ec. e molto altre cose.</div>
	              </section>