<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="59">
                  <span class="catalogo-item-label">59.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">WINCKELMANN Giovanni</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/59"> Storia delle arti del disegno presso gli antichi tradotta dal tedesco,
	  edizione aumentata dall’Ab. Carlo Fea, </a></span>
                     <span class="catalogo-pubPlace">Roma</span>
                     <span class="catalogo-date"> 1783,</span> 
                     <span class="catalogo-extent">vol. 3, in 4 fig.</span>
                  </span>
	                 <div class="catalogo-note">Queste note illustrarono molto la storia delle Arti, e resero preziosa l’edizione di Roma. Il ritratto dell’autore
	  trovasi nel terzo tomo, quello del cavalier d’Azara nel secondo, nel primo è un frontespizio figurato, e il ritratto
	  egualmente sulla pagina ove incomincia l’elogio dell’autore scritto da Heyner: edizione ricca di molte medaglie,
	  monumenti, e vignette oltre le 48 tavole in rame in fine de’ volumi.</div>
               </section>