<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1198">
                  <span class="catalogo-item-label">1198.</span> <span class="catalogo-bibl"><span class="catalogo-author">QUIRINI (Angelo M. Card.)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1198">Sermone detto nel nuovo Duomo di Brescia l’anno 1741</a></span>, <span class="catalogo-pubPlace">Brescia</span>
    <span class="catalogo-date">1741</span>, in 4, fig., M. 21.
    — <span class="catalogo-title"><a class="catalog-link" href="/catalog/1198">Litterae Apostolicae Clementis XII dilecto filio Angelo M. Quirino de Vaticanae
    Bibliothecae incremento</a></span>. In 4, fig., M. 21.
    — <span class="catalogo-title"><a class="catalog-link" href="/catalog/1198">Epistola ad Nicolaum Freretum de Diptyco Quiriniano</a></span>, <span class="catalogo-pubPlace">Brixiae</span><span class="catalogo-date">1743</span>, in 4, fig. M. 21. Vedi
    <span class="catalogo-author">Passeri</span>.
    — <span class="catalogo-title"><a class="catalog-link" href="/catalog/1198">Epistola Cortonensis Academiae sodalibus clarissimis</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1745</span>, in 4, M. 21.
    </span></section>