<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="440">
                  <span class="catalogo-item-label">440.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">BOFFRAND</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/440">Livre d’architecture contenant les principes généraux de cet art, Paris 1745, en f.
	fig. On y a joint la description de ce qui a été pratiqué pour fondre en bronze d’un soujet la
	figure equestre de Louis XIV. Ouvrage françois et latin,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1743.</span>
	                    <div id="catalogo-note-text-440" class="catalogo-note truncate-line-clamp">L’opera d’architettura di questo autore scritta in latino e francese applica molti precetti delta poetica d’Orazio
	all’architettura. Il libro è fatto con molto accorgimento e saviezza. Questo è uno degli autori francesi più
	palladiani come può vedersi nelle 70 belle tavole intagliate in rame che stanno in quest’opera; dell’altra
	aggiuntavi, a suo luogo si parla.</div><a id="catalogo-note-text-toggle-440" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>