<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1317">
                  <span class="catalogo-item-label">1317.</span> <span class="catalogo-bibl"><span class="catalogo-author">FOSSATI Giuseppe Luigi</span>. <span class="catalogo-title"><a class="catalog-link" href="/catalog/1317">Memoria sopra due cele <span class="catalogo-pb" id="page_227">227</span> bri accademie veneziane</a></span>, <span class="catalogo-pubPlace">Venezia</span>
    <span class="catalogo-date">1806</span>, in ottav.
    <div class="catalogo-note collapse">Le due accademie sono l’Aldina e la Veneziana, detta altrimenti della Fama.</div>
    
    </span></section>