<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1656">
                  <span class="catalogo-item-label">1656.</span> <span class="catalogo-bibl"><span class="catalogo-author">FRANZENII Jo. Ernesti</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1656">Commentario de funeribus veterum christianorum cum prefatione
    Fabricii Helmstadii</a></span>, <span class="catalogo-date">1709</span>, in 8, M. 73.

                  
                  <div class="catalogo-note collapse">
    Opera divisa in 4 libri, estesa a 448 pagine e ripiena di erudizione.
    </div>
    </span></section>