<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3720">
                     <span class="catalogo-item-label">3720.</span> <span class="catalogo-bibl"><span class="catalogo-author">FICORONI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3720">Osservazioni sopra l’antichità di Roma descritte nel Diario Italico di Montfaucon</a></span>, <span class="catalogo-pubPlace">Roma</span>
<span class="catalogo-date">1709</span>, in 4, fig.
<div id="catalogo-note-text-3720" class="catalogo-note truncate-line-clamp">Questo è un opuscolo assai dotto e interessante, ma trattiensi sovra un numero troppo scarso di oggetti, mentre il
Diario citato gli offriva una messe molto ampia.</div><a id="catalogo-note-text-toggle-3720" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                     
                     
                  </span></section>