<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1955">
                  <span class="catalogo-item-label">1955.</span> <span class="catalogo-bibl"><span class="catalogo-author">SCHOONHOVII Florentii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1955">Emblemata partim moralia, partim etiam civilia etc.</a></span>, <span class="catalogo-pubPlace">Goudae</span> <span class="catalogo-date">1618</span>, in
    4, p. figurato.
    <div class="catalogo-note collapse">Sono 74 emblemi di buono ed accurato intaglio oltre il ritratto dell’autore ed il frontespizio, prima ed elegante
    edizione.</div>
    
    </span></section>