<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1883">
                  <span class="catalogo-item-label">1883.</span> <span class="catalogo-bibl"><span class="catalogo-author">DOLCE Lodovico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1883">Imprese nobili ed ingegnose di diversi principi ed altri personaggi illustri</a></span>,
    <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1783</span>, in 4, fig. con 72 tavole.
    <div class="catalogo-note collapse">Ristampa delle più antiche e più accreditate edizioni citate all’articolo Pittoni.</div>
    
    </span></section>