<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4270">
                        <span class="catalogo-item-label">4270.</span> <span class="catalogo-bibl"><span class="catalogo-author">SARNELLI Pompeo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4270">La guida de’ forestieri per Pozzuoli, Baja, Cuma, Miseno, Gaeta, ed altri luoghi</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1784</span>,
in 12, fig.
<div class="catalogo-note collapse">Con diverse tavole in rame fra il testo di mala esecuzione.</div>
</span></section>