<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2036">
                  <span class="catalogo-item-label">2036.</span> <span class="catalogo-bibl"><span class="catalogo-author">GERLI Giuseppe milanese</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2036">Disegni di Leonardo da Vinci pubblicati ed incisi</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1784</span>, in
  fol., 61 tav.
  <div class="catalogo-note collapse">In queste tavole si comprende la più ampia collezione di disegni che siasi pubblicata del Vinci ed è
  accompagnata da un ragionamento che serve ad illustrarle in 16 pagine.</div>
  
  </span></section>