<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3073">
                     <span class="catalogo-item-label">3073.</span> <span class="catalogo-bibl"><span class="catalogo-author">WORLIDGE I. painter</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3073">A select collection of drawings from curious antique gems most of them in the possession
of the nobility and gentry of this kingdom. Etched after the manner of Rembrandt</a></span>, <span class="catalogo-pubPlace">Londou-Dryden Leach</span> <span class="catalogo-date">1768</span>,
2 vol., in fol., planch. 183.
<div class="catalogo-note collapse">Quoique datée de 1768 cette édition a été publiée apres 1780: on l’à antidatée a fin de la faire passér pour
l’édition originale quai avait réellement paru en 1768 mais en plus petit, et sans texte (Manuel de Brunet).
Nondimeno è da tenersi questo libro fra i più preziosi in questa materia, essendo le tavole di bello ed elegante
lavoro, quantunque si allontanino per vaghezza d’incisione dal gusto dell’antichità. Esemplare magnifico in mar.
verde dorato col ritratto dell’autore a principio. Niente di più lontano avvi dallo stile e dal carattere dell’antichità
quanto il modo di Rembrand per rappresentarla e l’autore annunzia di aver precisamente preso quello di mira.</div>
</span></section>