<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="419">
                  <span class="catalogo-item-label">419.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BAROZIO</span>, ec., <span class="catalogo-title"><a class="catalog-link" href="/catalog/419">L’architettura ridotta a facile metodo: aggiuntovi un Trattato di meccanica,</a></span>
	                    <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1748,</span>
                     <span class="catalogo-extent"> 2 piccoli volumetti in uno, in 8.</span>
	                    <div class="catalogo-note">Questa riproduzione del Vignola si scosta dalle precedenti edizioni ed è adattata secondo il sistema di
	quest’anonimo all’uso delle scuole elementari. Vi è molto di buono in iscorcio: e 31 tavole appartengono
	all’architettura e quattordici alla meccanica, compresa quella del Battipali che non è numerata.</div><div id="catalogo-note-text-419" class="catalogo-note-search-results truncate-line-clamp">Questa riproduzione del Vignola si scosta dalle precedenti edizioni ed è adattata secondo il sistema di
	quest’anonimo all’uso delle scuole elementari. Vi è molto di buono in iscorcio: e 31 tavole appartengono
	all’architettura e quattordici alla meccanica, compresa quella del Battipali che non è numerata.</div><a id="catalogo-note-text-toggle-419" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
                  </span>
	
	              </section>