<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3829">
                     <span class="catalogo-item-label">3829.</span> <span class="catalogo-bibl"><span class="catalogo-author">PIRANESI Giovan Battista </span> architetto veneziano, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3829">Vedute di Roma disegnate, ed incise</a></span>.
<div id="catalogo-note-text-3829" class="catalogo-note truncate-line-clamp">Questo potrebbe essere un quinto volume alle antichità romane se non fossero quivi intagliate anche alcune
fabbriche moderne in 54 tavole, compreso il frontespizio.</div><a id="catalogo-note-text-toggle-3829" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>