<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="98">
                  <span class="catalogo-item-label">98.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CARDUCHO Vincencio</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/98"> Dialogo della pintura, su defensa, origen, essencia, etc.,</a></span>
                     <span class="catalogo-pubPlace"> Madrid </span>
                     <span class="catalogo-date">1634,</span>
                     <span class="catalogo-extent"> in
	  4, fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Ad ognuno degli otto libri che compongono quest’opera è una tavola allegorica intagliata pittorescamente oltre il
	  frontespizio figurato.</div>
	                 <div class="catalogo-note collapse">Le notizie sparse in quest’opera sono preziose specialmente intorno i palazzi di Spagna, e servirono di scorta a
	  posteriori
	  trattati spagnuoli. Si parla ivi di alcuni discorsi inediti mirabilissimi di Michelangelo che ora o sono
	  perduti, o giacciono sconosciuti non senza gran danno e desiderio dell’arte. Il Carducho è un fiorentino d’origine
	  (Carducci) stabilitosi da giovine alla corte di Spagna.</div>

	                 <span class="catalogo-bibl">CARICATURE, Vedi Hollar, Mariette, Gerli, Grose.</span>	  
	              </section>