<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3084">
                     <span class="catalogo-item-label">3084.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZELADA cardinalis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3084">De nummis aliquot aereis uncialibus, epistola</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1778</span>, in 4, fig.
<div class="catalogo-note">Con 39 tavole in rame.</div>
</span></section>