<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3351">
                     <span class="catalogo-item-label">3351.</span> <span class="catalogo-bibl"><span class="catalogo-author">TASSONI Alexandri Mariae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3351">Dissertatio de collegiis</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1792</span>, in 4, M. 21.
<div class="catalogo-note">S’aggira questa sui diritti del principato nella legittima instituzione d’ogni corporazione.</div>
</span></section>