<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="230">
                  <span class="catalogo-item-label">230.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">Le VIEIL</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/230"> L’art de la peinture sur verre et de la <span class="catalogo-pb" id="page_38">38</span>vitrérie,</a></span> 
                     <span class="catalogo-pubPlace">Parigi</span> 
                     <span class="catalogo-date">1774</span>, <span class="catalogo-extent">fogl. fig.,</span> con
	  tredici grandi tavole dimostrative.</span>
	                 <div class="catalogo-note">Quest’opera raccoglie un’estesa quantità di notizie e può riguardarsi preziosa in questo genere.</div><div id="catalogo-note-text-230" class="catalogo-note-search-results truncate-line-clamp">Quest’opera raccoglie un’estesa quantità di notizie e può riguardarsi preziosa in questo genere.</div><a id="catalogo-note-text-toggle-230" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>