<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2094">
    <span class="catalogo-item-label">2094.</span> <span class="catalogo-bibl"><span class="catalogo-author">RICCI Mar.</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/2094">Bellunensis tabulae XXIV, coloribus expressae quae extant in sedibus Jos. Smith
    et Ant. M. Zanetti D. A. F. qui eas delineavit, incidit et in lucem edidit</a></span>, <span class="catalogo-pubPlace">Venetiis</span> <span class="catalogo-date">1743</span>, in fol.
    obl. M. 90.
    <div class="catalogo-note collapse">Sono intagli eseguiti con gusto all’acqua forte.</div>
  </span></section>