<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1809">
                  <span class="catalogo-item-label">1809.</span> <span class="catalogo-bibl"><span class="catalogo-author">TOMASINI Jac. Philippi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1809">De donariis et tabellis votivis liber singularis,</a></span><span class="catalogo-pubPlace"> Patavii</span><span class="catalogo-date"> 1654</span>, fig., in 4,
  M. 64.
                     <div class="catalogo-note collapse">Le tavole stanno ai diversi luoghi voluti dal testo: opera piena di dottrina e di monumenti.</div>
  
  </span></section>