<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1091">
                  <span class="catalogo-item-label">1091.</span> <span class="catalogo-bibl"><span class="catalogo-author">FEDINI Giovanni pittore fiorentino</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1091">Le due Persilie: Commedia fatta recitare dai Sig.
      Girolamo e Giulio Rossi de’ Conti di S. Secondo alla presenza delle Gran Principesse di
      Toscana</a></span>, <span class="catalogo-pubPlace">Firenze</span>, presso Giunti, <span class="catalogo-date">1563</span>, in 8, f.
      <div class="catalogo-note collapse">A tergo del frontespizio è il ritratto dell’autore: libretto raro, poiché il vogliono i collettori delle commedie
      antiche e il bramano gli amatori delle arti, anche per l’effigie d’un pittore che non trovasi in altro modo.</div>
      
      </span></section>