<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2057">
                  <span class="catalogo-item-label">2057.</span> <span class="catalogo-bibl"><span class="catalogo-author">KLEINKRII Salomonis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2057">Vera et accurata delineatio omnium Templomm, et Coenobiorurn,
  quae tam in Caesarea Urbe, ac sede Vienna</a></span>; Austriae quam in suburbiis eius reperiuntur, a
  Johan. Andrea Pfeffel excusa et edita, <span class="catalogo-pubPlace">Augustae Vindelicorum</span> <span class="catalogo-date">1724 1725</span>. Partes duae in uno
  vol. in fol. oblong.
  <div class="catalogo-note">Sono queste 71 tavole intagliale con diligenza, il cui breve testo dedicatorie che le accompagna è compreso in
  questo numero. I due frontespizi delle due parti sono di finito e bell’intaglio di Sperling e di Heüman.</div><div id="catalogo-note-text-2057" class="catalogo-note-search-results truncate-line-clamp">Sono queste 71 tavole intagliale con diligenza, il cui breve testo dedicatorie che le accompagna è compreso in
  questo numero. I due frontespizi delle due parti sono di finito e bell’intaglio di Sperling e di Heüman.</div><a id="catalogo-note-text-toggle-2057" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  <span class="catalogo-pb" id="page_354">354</span>
  
               </span></section>