<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="446">
                  <span class="catalogo-item-label">446.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BOSSE Abraham</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/446">Réprcesentation geometrale de plusieurs parties de bastimens faite par le
	regles de l’architecture antique.</a></span> 
                     <span class="catalogo-pubPlace">Colla data di Parigi</span> 
                     <span class="catalogo-date">1688,</span>
                     <span class="catalogo-extent"> in fol. fig.</span>
	                    <div class="catalogo-note collapse">Opera di 22 foglietti intagliati, tutto legato in un solo volume.</div>
                  </span>
	
	                 <span class="catalogo-pb" id="page_80">80</span>
	              </section>