<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2409">
                  <span class="catalogo-item-label">2409.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZAIST Giovan Battista</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2409">Notizie storiche de’ pittori, scultori ed architetti cremonesi, opera
    postuma data in luce da Anton Maria Panni. Vol. 2</a></span>, <span class="catalogo-pubPlace">Cremona</span> <span class="catalogo-date">1774</span>, in 4, leg. in I.
<div class="catalogo-note">    Nel volume secondo si trova il discorso d’Alessandro Lamo sulla pittura ed il parere di Bernardino Campo.
    Buona edizione che riunisce preziose nozioni ed operette prima stampate d’uomini dottissimi nell’arte, divenute
    rarissime.
</div><div id="catalogo-note-text-2409" class="catalogo-note-search-results truncate-line-clamp">    Nel volume secondo si trova il discorso d’Alessandro Lamo sulla pittura ed il parere di Bernardino Campo.
    Buona edizione che riunisce preziose nozioni ed operette prima stampate d’uomini dottissimi nell’arte, divenute
    rarissime.
</div><a id="catalogo-note-text-toggle-2409" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>    
    </span></section>