<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="524">
                  <span class="catalogo-item-label">524.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">GUARINI Padre D. Guarino</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/524">Del modo di misurare le fabbriche,</a></span> 
                     <span class="catalogo-pubPlace">Torino</span> 
                     <span class="catalogo-date">1674,</span> 
                     <span class="catalogo-extent">in 8, fig.</span>
                  </span>
	                 <div class="catalogo-note collapse">Se nelle opere architettoniche di questo autore la barbarie del gusto spaventa chi voglia esaminarle, in questa
	rimanisi talmente ingolfato nell’astrusa pompa che egli fa di nozioni matematiche per metter in evidenza se
	stesso, che un artista non sarebbe trovarvi né capo, né coda per quanto fosse iniziato negli studi geometrici. Le
	figure sono intagliate in legno e frapposte al testo.</div>
	
	              </section>