<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2243">
                  <span class="catalogo-item-label">2243.</span> <span class="catalogo-bibl"><span class="catalogo-author">CONDIVI Ascanio de la ripa Transone</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/2243"> Vita di Michel Angelo Buonarroti</a></span>, in <span class="catalogo-pubPlace">Roma</span>, presso
    Antonio Blado, <span class="catalogo-date">1553</span> a 16 Luglio in 4, pic. Prima edizione.
    <div id="catalogo-note-text-2243" class="catalogo-note truncate-line-clamp">Libretto assai raro e prezioso per esser stato scritto da un contemporaneo e amico di Michelangelo. Il
    frontespizio è seguito d’una dedica al papa, di un avviso ai lettori e il testo della vita occupa 50 foglietti.
    Bellissimo esemplare.</div><a id="catalogo-note-text-toggle-2243" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>