<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3992">
                     <span class="catalogo-item-label">3992.</span> <span class="catalogo-bibl"><span class="catalogo-author">CORDINER’s Charles</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3992">Remarkable ruins, and romantic prospects of north Britain with ancient monuments, and
singular subjects of natural history</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1795</span>, 2 vol., in 4, fig.
<div id="catalogo-note-text-3992" class="catalogo-note truncate-line-clamp">Le cento tavole che trovansi in quest’opera sono eseguite con minor cura che non sogliono essere ordinariamente
condotte simili opere inglesi. Le vedute pittoresche però sono preferibili alle tavole dei monumenti.</div><a id="catalogo-note-text-toggle-3992" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
<span class="catalogo-pb" id="page_238">238</span>
                  </span></section>