<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1050">
                  <span class="catalogo-item-label">1050.</span> <span class="catalogo-bibl"><span class="catalogo-author">COZENS Alexander</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1050">Principles of beauty relative to the human head</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1778</span>, in fol. gr.
      Inglese e francese.
      <div class="catalogo-note">Le 17 tavole che accompagnano il testo di quest’opera in singolar forma pubblicate ed incise, vennero intagliate
      da Francesco Bartolozzi. È da notarsi che le capigliature di tutte le teste vennero incise separatamente dai profili
      e stampa <span class="catalogo-pb" id="page_187">187</span>te in carta finissima e trasparente in altretanti foglietti mobili, che si adattano e sovrappongonsi
      ai profili stampati in carta solida, e compatta. I principi però addottati dall’autore in materia di proporzione
      conducono all’assurdo. Vedasi Bossi Giuseppe nell’opera sul Cenacolo di Leonardo.</div><div id="catalogo-note-text-1050" class="catalogo-note-search-results truncate-line-clamp">Le 17 tavole che accompagnano il testo di quest’opera in singolar forma pubblicate ed incise, vennero intagliate
      da Francesco Bartolozzi. È da notarsi che le capigliature di tutte le teste vennero incise separatamente dai profili
      e stampa <span class="catalogo-pb" id="page_187">187</span>te in carta finissima e trasparente in altretanti foglietti mobili, che si adattano e sovrappongonsi
      ai profili stampati in carta solida, e compatta. I principi però addottati dall’autore in materia di proporzione
      conducono all’assurdo. Vedasi Bossi Giuseppe nell’opera sul Cenacolo di Leonardo.</div><a id="catalogo-note-text-toggle-1050" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
      
      </span></section>