<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2381">
                  <span class="catalogo-item-label">2381.</span> <span class="catalogo-bibl"><span class="catalogo-author">TICOZZI Stefano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2381">Vite de’ pittori Vecelli di Cadore</a></span>. Libri quattro, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1817</span>, in 8.
 <div class="catalogo-note collapse">   Questo scrittore raccolse il primo e pubblicò interessanti notizie intorno Tiziano. Sarebbe stata a desiderarsi più
    lentezza del suo operare prima di pubblicarla.
 </div>   
    </span></section>