<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2031">
                  <span class="catalogo-item-label">2031.</span> <span class="catalogo-bibl"><span class="catalogo-author">FIRMANUS Hannibal Adamus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2031">Seminarii Romani Pallas purpurata sive Emin. Cardinale e
  seminario romano proditi imaginibus expressi ac epigrammatis illustrati</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1769</span>, in fol.
  <div class="catalogo-note">Sono 30 ritratti di buon intaglio seguiti da un’illustrazione poetica oltre il ritratto di Alessandro VII che succede
  al frontespizio: nell’ultimo del Card. Rospiglini è il nome dell’intagliatore G. Castel.</div><div id="catalogo-note-text-2031" class="catalogo-note-search-results truncate-line-clamp">Sono 30 ritratti di buon intaglio seguiti da un’illustrazione poetica oltre il ritratto di Alessandro VII che succede
  al frontespizio: nell’ultimo del Card. Rospiglini è il nome dell’intagliatore G. Castel.</div><a id="catalogo-note-text-toggle-2031" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  <span class="catalogo-pb" id="page_348">348</span>
               </span></section>