<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3859">
                     <span class="catalogo-item-label">3859.</span> <span class="catalogo-bibl"><span class="catalogo-author">RONDININI Philippus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3859">Historia monasterii Sanctae Mariae et SS. Joannis et Pauli de Casuemario</a></span>, <span class="catalogo-pubPlace">Romae</span>, <span class="catalogo-date">1707</span>, in
4, fig., per Franciscum Ganzagam.
<div class="catalogo-note">Esemplare di dedica in mar. dor. con quattro tavole in rame.</div>
</span></section>