<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1850">
                  <span class="catalogo-item-label">1850.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOCCHIIUS Achilles</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1850">Symbolicarum quaestionum de universo genere quas serio ludebat lib.
                     V</a></span>, <span class="catalogo-pubPlace">Bononiae</span>, in sedib. novae Academiae Bocchianae, <span class="catalogo-date">1555</span>. Prima edizione stimata a cagione
    delle stampe di Giulio Bonasone, in 4, esemplare che era di Giovan Battista Pinelli.
    <div class="catalogo-note">Le tavole sono 151, compreso il primo simbolo in legno che rappresenta un teschio di Bove e il bel ritratto di
    Achille Bocchi, che è il simbolo secondo. Il volume comincia col frontespizio suddetto, il privilegio di Giulio III
    il catalogo degli autori citati, l’elenco dei motti colla divisione dell’opera, l’indice delle materie, le ommissioni e
    gli errori di stampa e alcuni versi greci e latini in onore dell’autore. In tutto i prolegomeni, sino al numero primo
    e alla lettera A del registro, sono 28 foglietti. E singolarmente da notarsi come indistintamente nella prima e
    nella seconda edizione trovinsi alcune tavole non logore, ma mal stampate, siccome accade in tutti i libri ed
    opere intagliate dal Bonasone. E qualche volta abbiamo osservato qualche esemplare meglio impresso nella
    seconda che nella prima edizione. È però duopo avere parecchi esemplari per poter sceglierne, col disfarli, uno
    che sia perfetto e degno d’ una scelta e ricca biblioteca ec.</div>
    
    </span></section>