<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1758">
                  <span class="catalogo-item-label">1758.</span> <span class="catalogo-bibl"><span class="catalogo-author">PIATTOLI Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1758">Raccolta di 80 proverbi toscani espressi in figure</a></span>, divisi in 2 parti,
  <span class="catalogo-pubPlace">Firenze</span> <span class="catalogo-date">1786</span>, <span class="catalogo-date">1788</span>, in fol.
  <div class="catalogo-note">Le figure sono miniate, ma per onore del vero difficilmente può vedersi cosa di peggior gusto.</div>
  
  </span></section>