<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1924">
                  <span class="catalogo-item-label">1924.</span> <span class="catalogo-bibl"><span class="catalogo-author">Le MOYNE P. de la compagnie de Jesus</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1924">De l’art <span class="catalogo-pb" id="page_327">327</span> des dévises, avec divers recueils de
    dévises du même auteur</a></span>, <span class="catalogo-pubPlace">Paris</span>, chez Cramoisy, <span class="catalogo-date">1666</span>, in 4 f.
    <div class="catalogo-note collapse">Con un bel frontespizio di le Pautre e 191 tavole, delle quali un gran numero è intagliato da questo incisore.</div>
    
    </span></section>