<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3469">
                     <span class="catalogo-item-label">3469.</span> <span class="catalogo-bibl"><span class="catalogo-author">ZAMPIERI Dominici</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3469">Vulgo Domenichino</a></span>. Picturae quae extant in sacello sacrae aedis Cryptoferratensi, nunc
primum incisae, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1762</span>, in foglio mass.
<div id="catalogo-note-text-3469" class="catalogo-note truncate-line-clamp">Sono ventotto tavole diligentemente disegnate ed intagliate da Francesco Bartolozzi e da altri fra i migliori artisti
di quel tempo. Queste preziose pitture minacciavano deperimento e vennero ora restituite al loro splendore e
rassicurate.</div><a id="catalogo-note-text-toggle-3469" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                     
                     
                  </span></section>