<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1769">
                  <span class="catalogo-item-label">1769.</span> <span class="catalogo-bibl"><span class="catalogo-author">PRONTI Domenico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1769">Nuova raccolta rappresentante i costumi religiosi, civili e militari degli
  antichi Egiziani, Etruschi, Greci e Romani, tratti dai monumenti</a></span>, <span class="catalogo-pubPlace">Roma</span>, tav. 46.
  <div id="catalogo-note-text-1769" class="catalogo-note truncate-line-clamp">Questa non è che un’opera ricopiata dalle cento tavole del Roccheggiani.</div><a id="catalogo-note-text-toggle-1769" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>