<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2431">
                  <span class="catalogo-item-label">2431.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARDANI H. Medici mediolanensis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2431">Metoposcopia libris tredecm et octiogentis faciei humana
    iconibus complexa, accedit melampodis de naevis corporis tractatus graece et latine, nunc
    primum editiis</a></span>; interprete Claudio Martino Laurenderio, <span class="catalogo-pubPlace">Lutetiae Parisiorum</span> <span class="catalogo-date">1658</span>, in fol.
    <div id="catalogo-note-text-2431" class="catalogo-note truncate-line-clamp">Libro dei meno comuni in questa materia.</div><a id="catalogo-note-text-toggle-2431" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    <span class="catalogo-pb" id="page_409">409</span>
               </span></section>