<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4087">
                     <span class="catalogo-item-label">4087.</span> <span class="catalogo-bibl"><span class="catalogo-author">SAN-MICHELI Michele</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4087">Cappella della famiglia Pellegrini esistente nella chiesa di S. Bernardino in Verona
pubblicata, e illustrata dal conte Bartolommeo Giuliari in 30 tavole</a></span>, <span class="catalogo-pubPlace">Verona</span> <span class="catalogo-date">1816</span>, in fol., M. 85.
<div class="catalogo-note collapse">Questo cultissimo cavaliere architetto, disegnatore, tipografo, zelantissimo amatore della gloria patria merita
d’essere onorato per molte produzioni, e specialmente per questa in cui gareggia con ogni più insigne opera
architettonica <span class="catalogo-pb" id="page_253">253</span> che si conosca. L’esimio intagliatore delle tavole in rame fu il Mercoli di Milano, del
quale non conosciamo il migliore per simili opere.</div>
</span></section>