<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2039">
                  <span class="catalogo-item-label">2039.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUALDO Priorato Galeazzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2039">Scena d’uomini illustri d’Italia: conosciuti da lui singolari per
  nascita, per virtù e per fortuna</a></span> <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1659</span>, in 4, gr. fig.
  <div id="catalogo-note-text-2039" class="catalogo-note truncate-line-clamp">Questo volume non si trova quasi mai colla stessa quantità di vite degli uomini illustri, poiché l’autore, dopo
  averne stampate alcune, pensò d’aumentarle e affine di poterle introdurre senza sconcio nella medesima
  edizione, evitò che fossero numerate le pagine, ponendo invece dei numeri le lettere iniziali del nome dei
  personaggi accomodati alfabeticamente. In questo nostro esemplare sonovi 43 vite con ritratti, ma si conoscono
  altri esemplari in cui il numero è diverso. Sappiamo che questo autore scrisse le memorie del pittore Pietro Liberi
  padovano, le quali non trovansi nel nostro esemplare, ma in pochissimi sono riconosciute. <span class="catalogo-bibl">Vedi <span class="catalogo-author">Gualdo</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/2039">Vita</a></span>.</span></div><a id="catalogo-note-text-toggle-2039" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>