<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4398">
                        <span class="catalogo-item-label">4398.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARIANI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4398">Breve relazione dell’antichità di Viterbo. Aggiunto il discorso latino pro Annio Viterbiensi</a></span>,
<span class="catalogo-date">1732</span>.
— E in fine: <span class="catalogo-title"><a class="catalog-link" href="/catalog/4398">il discorso d’un Accademico Ardente in risposta al signor Filarete sopra l’Umbria di Toscana
all’eruditissimo Muratori</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1742</span>, in 4.</span></section>