<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3868">
                     <span class="catalogo-item-label">3868.</span> <span class="catalogo-bibl"><span class="catalogo-author">De ROSSI Filippo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3868">Ritratto di Roma moderna distinto in quattordici rioni con figure</a></span>, <span class="catalogo-date">1689</span>, in 8, vol. 2.
<div class="catalogo-note">Questi due volumi assai ben fatti viddero la luce la prima volta nel 1645 per opera di Filippo de Rossi, e vennero
riprodotti da Michel Angelo Rossi, negli anni indicati: sonovi anche molte stampe in rame, e massimamente sono
migliori quelle di Roma moderna.</div><div id="catalogo-note-text-3868" class="catalogo-note-search-results truncate-line-clamp">Questi due volumi assai ben fatti viddero la luce la prima volta nel 1645 per opera di Filippo de Rossi, e vennero
riprodotti da Michel Angelo Rossi, negli anni indicati: sonovi anche molte stampe in rame, e massimamente sono
migliori quelle di Roma moderna.</div><a id="catalogo-note-text-toggle-3868" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>