<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1395">
                  <span class="catalogo-item-label">1395.</span> <span class="catalogo-bibl"><span class="catalogo-author">GUALTIERI Guido</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1395">Relazioni della venuta degli ambasciatori giapponesi a Roma sino alla
    partita di Lisbona colle accoglienze fatte loro da tutti i principi cristiani per dove sono passati</a></span>,
    <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1586</span>, in 8, ec., per Francesco Zanetti, raccolte da Guido Gualtieri.
    <div class="catalogo-note collapse">Libretto contenente curiose notizie per ceremonie e costumanze.</div>
    MDLXXXIX
    
    </span></section>