<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="435">
                  <span class="catalogo-item-label">435.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BLONDEL François, </span>
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/435">De la distribution des maisons de plaisance et de <span class="catalogo-pb" id="page_78">78</span>la décoration des
	édifices en general,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1737,</span>
                     <span class="catalogo-extent"> en 4, fig. 3 vol.</span>
	                    <div class="catalogo-note">Col frontespizio disegnato da Cochin e cento sessanta tavole in rame inciso dall’autore. Sfortunatamente l’epoca
	in cui questi visse non era la migliore pel gusto delle fabbriche, ma la sua dottrina e il suo modo di distribuzione
	lo costituiscono fra gli architetti migliori di quell’età.</div>
                  </span>
	
	              </section>