<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4500">
                        <span class="catalogo-item-label">4500.</span> <span class="catalogo-bibl"><span class="catalogo-author">HAYOT de Longpré</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4500">Catalogue des tableaux, sculptures, desseins etc. de la succession de M. Le Bas graveur</a></span>,
<span class="catalogo-pubPlace">Paris</span>, <span class="catalogo-date">1783</span>, chez Joullain, in 8.
</span></section>