<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2236">
                  <span class="catalogo-item-label">2236.</span> <span class="catalogo-bibl"><span class="catalogo-author">CICOGNARA Leopoldo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2236">Memoria intorno all’indole e agli scritti di Francesco Milizia e
    progetto di pubblicare alcune sue lettere inedite</a></span>.Opuscolo di cui non si stamparono che 100
    esemplari, <span class="catalogo-pubPlace">Pisa</span> <span class="catalogo-date">1808</span>, in 4, M. 66. Esiste ancora presso l’autore una singolare e inedita
    collezione di lettere pittoriche e politiche del Milizia; e questo miscuglio rese per l’indole dei
    tempi impossibile il pubblicare il manoscritto senza mutilarlo.
    </span></section>