<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1387">
                  <span class="catalogo-item-label">1387.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1387">TORNEO fatto sotto il Castello d’Argio dai Signori Cavalieri Bolognesi il dì 9 febbraio</a></span>, <span class="catalogo-date">1578</span>,
    <span class="catalogo-pubPlace">Bologna</span>, per Girolamo Rossi, <span class="catalogo-date">1678</span>, in 8.
    MDLXXIX
    
    </span></section>