<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="819">
                  <span class="catalogo-item-label">819.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOSSE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/819">Traité pour pratiquer la perspective sur les surfaces irrégulieres</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1653</span>, en 8, fig.
	<div class="catalogo-note collapse">Questa è riproduzione del medesimo testo e della medesima edizione dell’opera seguente, ma eseguita senza la
	dedica e colle tavole più logore.</div>
	
	</span></section>