<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1474">
                  <span class="catalogo-item-label">1474.</span> <span class="catalogo-bibl"><span class="catalogo-author">VICECOMES Jo. M.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1474">Exequiae in tempio Santi Nazarii Manfredo Septalio Patritio mediolanesi
    eiusdem basilica canonico celebrata quas summatim exposuit Mar. Jo. M. Vicecomes Accad.
    Mediolani</a></span>, <span class="catalogo-date">1680</span>, in 8.
    <div class="catalogo-note">Le stampe del catafalco, e de’ sei emblemi, siccome del ritratto sono eseguite sui disegni di Cesare del Fiore.
    L’orazione funerale del P. Gio. Batt. Pastorini: a cui segue un’accademia funebre.</div><div id="catalogo-note-text-1474" class="catalogo-note-search-results truncate-line-clamp">Le stampe del catafalco, e de’ sei emblemi, siccome del ritratto sono eseguite sui disegni di Cesare del Fiore.
    L’orazione funerale del P. Gio. Batt. Pastorini: a cui segue un’accademia funebre.</div><a id="catalogo-note-text-toggle-1474" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCLXXXI
    
    </span></section>