<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4617">
                     <span class="catalogo-item-label">4617.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROSSELMINI Niccolò</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4617">Dell’obbedienza del cavallo</a></span>, <span class="catalogo-pubPlace">Livorno</span>, in 4 pic., fig.
<div class="catalogo-note">Quest’opera è divisa in quattro parti, tre delle quali sono consecrate all’obbedienza, e al maneggio, e l’ultima è
un Trattato delle razze selvatiche dei cavalli d’Italia. Con due tavole dello scheletro de’ cavalli, e del morso, e il
frontespizio figurato.</div><div id="catalogo-note-text-4617" class="catalogo-note-search-results truncate-line-clamp">Quest’opera è divisa in quattro parti, tre delle quali sono consecrate all’obbedienza, e al maneggio, e l’ultima è
un Trattato delle razze selvatiche dei cavalli d’Italia. Con due tavole dello scheletro de’ cavalli, e del morso, e il
frontespizio figurato.</div><a id="catalogo-note-text-toggle-4617" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>