<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1425">
                  <span class="catalogo-item-label">1425.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1425">DESCRIZIONE della battaglia del Ponte fra Abido e Sesto nell’Hellesponto</a></span>, festa rappresentata
    in Arno in <span class="catalogo-pubPlace">Firenze</span> li 25 Luglio <span class="catalogo-date">1618</span>, in 8.
    <div class="catalogo-note">Sono due foglietti di stampa.</div>
    MDCXVIII
    
    </span></section>