<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="996">
                  <span class="catalogo-item-label">996.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/996">La PEINTURE, Poëme</a></span>, à <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1755</span>, in 8.
      <div class="catalogo-note collapse">Da un avvertimento dell’autore si crede che l’anonimo sia M. Baillet de S. Julien. Breve poemetto di 15 pag.
      Aggiuntovi altro opuscoletto: Caracteres des peintres françois actuellement vivans. Nel medesimo libro è legato:
      Caylus memoire sur la peinture à l’encaustique, Geneve 1755, con altro opuscoletto in fine l’Ennuy d’un quart
      d’heure, Paris 1736. Libretto pieno di facezie.</div>
      
      </span></section>