<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1531">
                  <span class="catalogo-item-label">1531.</span>
                   
                  <span class="catalogo-bibl"><span class="catalogo-author">I PIANTI di Elicona sulla tomba di Teresa Ventura Venier</span>, Parma 1700, in 4.
    <div id="catalogo-note-text-1531" class="catalogo-note truncate-line-clamp">Sta una tavola nel principio col tumulo e col ritratto di questa donna famosa per la sua bellezza e per i suoi talenti    sommi nel canto e nella declamazione. Sono raccolte le produzioni poetiche de’ primi ingegni del secolo,
    pubblicate con somma eleganza nella stamperia Reale coi tipi Bodoniani.</div><a id="catalogo-note-text-toggle-1531" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCCXCII </span> </section>