<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3103">
                     <span class="catalogo-item-label">3103.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOARI Octavio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3103">De Plinii Caecilii Secundi Novocomensis testamentaria inscriptione Mediolanensibus adserta et
illustrata</a></span>, dissertatio, <span class="catalogo-pubPlace">Mantuae</span> <span class="catalogo-date">1773</span>, in 4, M. 8.
<div class="catalogo-note">Con una grandissima tavola.</div>

                     
                     

                  </span></section>