<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2789">
                     <span class="catalogo-item-label">2789.</span> <span class="catalogo-bibl"><span class="catalogo-author">BUDELIO Renero</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2789">De monetis et re nummaria. Libri duo quorum primus artem cudendae monetae, secundus vero
quaestionum monetariarum decisiones continent</a></span>, <span class="catalogo-pubPlace">Coloniae Agrip.</span> <span class="catalogo-date">1591</span>, in 4.
<div class="catalogo-note collapse">Opera voluminosa di circa 900 pagine compresi i molti indici e prolegomeni, ma che tratta la materia sotto
l’aspetto legale piuttosto che colle viste dell’arte e dell’erudizione.</div>
</span></section>