<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2636">
                     <span class="catalogo-item-label">2636.</span> <span class="catalogo-bibl"><span class="catalogo-author">VERMIGLIOLI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2636">Dell’antica città di Arna umbro-etrusca commentario storico-critico con note e figure</a></span>, <span class="catalogo-pubPlace">Perugia</span>
<span class="catalogo-date">1800</span>, in 8.
</span></section>