<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="418">
                  <span class="catalogo-item-label">418.</span> 
	                 <span class="catalogo-bibl">BAROZZIO Giacomo da Vignola, <span class="catalogo-title"><a class="catalog-link" href="/catalog/418">Regola delli cinque ordini d’architettura colla <span class="catalogo-pb" id="page_75">75</span>nuova
	aggiunta di Michel Angelo Buonarrotti,</a></span> 
                     <span class="catalogo-pubPlace">Arnhem</span> 
                     <span class="catalogo-date">1620,</span> 
                     <span class="catalogo-extent">in fol. fig.</span>
	                    <div class="catalogo-note collapse">Il testo di quest’opera è in italiano, olandese, francese e tedesco, distribuita in 42 tavole, la quale a dir vero è una
	assai bella imitazione delle anteriori buone edizioni italiane. Vedi d’Avilar e Labacco.</div>
                  </span>
	
	              </section>