<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1797">
                  <span class="catalogo-item-label">1797.</span> <span class="catalogo-bibl"><span class="catalogo-author">SOLERII Anselmi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1797">De Pileo, caeterisque capitis tegminibus</a></span>, <span class="catalogo-pubPlace">Amstelodami</span><span class="catalogo-date"> 1671</span>.
  <div id="catalogo-note-text-1797" class="catalogo-note truncate-line-clamp">— Accedit Bossii Hieronimi, De toga romana commentarius, Amstelod. 1671, in 12, fig.
     Con belle e numerose tavole a’ luoghi citati nel testo e con elegante frontespizio intagliato da R. de Hooge.</div><a id="catalogo-note-text-toggle-1797" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>