<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2550">
                     <span class="catalogo-item-label">2550.</span> <span class="catalogo-bibl"><span class="catalogo-author">WARBURTON Wittel</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2550">Éssai sur les hiéroglyphes des egyptiens où l’on voit l’origine, et les progrès du langage et
de l’écriture, l’antiquité des sciences en Egypte etc.</a></span> traduit de l’anglais par Léonard de Malpeines, vol. 2, en 12,
fig., <span class="catalogo-pubPlace">Paris</span>, chez Guerin, <span class="catalogo-date">1744</span>.
<div class="catalogo-note">Opera curiosa e dottissima con note interessanti e manoscritte di M. di Anse de Villoison, cui appartenne questo
esemplare.</div>

                     
                     
                  </span></section>