<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="669">
                  <span class="catalogo-item-label">669.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">SERLIO</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/669">Estraordinario libro di architettura, nel quale si dimostrano trenta opere di opera
	rustica e venti di opera dilicata con la scrittura d’avanti che narra il tutto,</a></span> 
                     <span class="catalogo-pubPlace">Venezia,</span> 
                     pei fratelli
	Sessa, 
                     <span class="catalogo-date">1537,</span> in fol. fig.</span>
	                 <div id="catalogo-note-text-669" class="catalogo-note truncate-line-clamp">Bellissimo esemplare intonso.</div><a id="catalogo-note-text-toggle-669" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
	
	              </section>