<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1733">
                  <span class="catalogo-item-label">1733.</span> <span class="catalogo-bibl"><span class="catalogo-author">NICOLAI Joannis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1733">De Sepulchris Haebreorum libri quatuor</a></span>, <span class="catalogo-pubPlace">Lugduni Batav.</span> <span class="catalogo-date">1706</span>, in 4, fig.
  <div class="catalogo-note">Opera eseguita con somma diligenza e studio, con 10 tavole intagliate in rame eseguite con duplicato lavoro in
  tal modo che levando la parte esterna di alcuni sepolcri sovrapposta, veggonsi i sotterranei interiori per
  facilitarne al lettore la percezione.</div><div id="catalogo-note-text-1733" class="catalogo-note-search-results truncate-line-clamp">Opera eseguita con somma diligenza e studio, con 10 tavole intagliate in rame eseguite con duplicato lavoro in
  tal modo che levando la parte esterna di alcuni sepolcri sovrapposta, veggonsi i sotterranei interiori per
  facilitarne al lettore la percezione.</div><a id="catalogo-note-text-toggle-1733" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>