<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1757">
                  <span class="catalogo-item-label">1757.</span> <span class="catalogo-bibl"><span class="catalogo-author">PETRONI Alexandri</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1757">De victu Romanorum et de sanitate tuenda</a></span>. Libri quinque, <span class="catalogo-pubPlace">Roma</span>, in
  aedibus Populi Romani, <span class="catalogo-date">1581</span>, in fol.
  <div id="catalogo-note-text-1757" class="catalogo-note truncate-line-clamp">Questo insigne medico dedicò la sua opera a Gregorio XIII e la corredò di molte preziose notizie. Edizione di
  bellissima esecuzione.</div><a id="catalogo-note-text-toggle-1757" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>