<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2849">
                     <span class="catalogo-item-label">2849.</span> <span class="catalogo-bibl"><span class="catalogo-author">FROELICH Erasmi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2849">Dubia de Minnisari aliorumque Armeniae Regum nummis nuper vulgatis proposita</a></span>, <span class="catalogo-pubPlace">Viennae</span>
                        <span class="catalogo-date">1754</span>, in 4, fig., M. 91. Vedi Corsini.
                        <div class="catalogo-note collapse">Con una tavola in fine</div>.
</span></section>