<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2639">
                     <span class="catalogo-item-label">2639.</span> <span class="catalogo-bibl"><span class="catalogo-author">VERMIGLIOLI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2639">Di uno scritto autografo di Pietro Perugino nell’Archivio dell’Accademia delle Belle Arti di
Perugia inciso al fac simile</a></span>, <span class="catalogo-pubPlace">Perugia</span> <span class="catalogo-date">1820</span>, in 8, M. 80.
</span></section>