<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2528">
                     <span class="catalogo-item-label">2528.</span> <span class="catalogo-bibl"><span class="catalogo-author">KIRCHERII Athanasii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2528">China monumentis sacris et profanis, nec non naturae et artis spectaculis illustrata</a></span>, Ant.
<span class="catalogo-date">1667</span>, in fol., fig. Col ritratto dell’autore in fronte.
<div class="catalogo-note">Le molte tavole, che sono sparse nelle opere di questo autore, i viaggi, gli studi, le nozioni di questo dottissimo
frate infaticabile, rendono le sue opere pregevoli, quand’anche manchino spesso di critica; e quantunque la
filosofia fosse lontana dagli immensi progressi che ha fatto in seguito, la posterità deve essergli riconoscente.</div><div id="catalogo-note-text-2528" class="catalogo-note-search-results truncate-line-clamp">Le molte tavole, che sono sparse nelle opere di questo autore, i viaggi, gli studi, le nozioni di questo dottissimo
frate infaticabile, rendono le sue opere pregevoli, quand’anche manchino spesso di critica; e quantunque la
filosofia fosse lontana dagli immensi progressi che ha fatto in seguito, la posterità deve essergli riconoscente.</div><a id="catalogo-note-text-toggle-2528" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>

                     
                     

                  </span></section>