<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3645">
                     <span class="catalogo-item-label">3645.</span> <span class="catalogo-bibl"><span class="catalogo-author">CANCELLIERI</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3645">Il mercato, il lago dell’acqua vergine, ed il palazzo Panfiliano nel circo agonale, detto volgarmente
Piazza Navona</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1811</span>, in 4, fig.
<div id="catalogo-note-text-3645" class="catalogo-note truncate-line-clamp">Le figure sono collocate secondo le indicazioni del testo, e l’edizione, in un numero discreto di circa 300 pagine,
contiene più che ordinariamente non contengono i libri stampati per speculazione e sordidezza libraria, in grazia
della buona distribuzione, e piccola forma dei caratteri.</div><a id="catalogo-note-text-toggle-3645" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>