<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2825">
                     <span class="catalogo-item-label">2825.</span> <span class="catalogo-bibl"><span class="catalogo-author">DUOBUS (De)</span> <span class="catalogo-title"><a class="catalog-link" href="/catalog/2825">imperatorum Russiae nummis editio altera monetis ac documentis adhuc ineditis aucta</a></span>, <span class="catalogo-date">1752</span>, in 8,
fi., M. 50.
<div class="catalogo-note collapse">Con due tavole di monete intagliate in rame.</div>
</span></section>