<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3189">
                     <span class="catalogo-item-label">3189.</span> <span class="catalogo-bibl"><span class="catalogo-author">CANCELLIERI Francesco</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3189">Dissertazioni epistolari, bibliografiche sopra Cristoforo Colombo e Giovanni Gersen</a></span>,
<span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1809</span>, in 8.
<div id="catalogo-note-text-3189" class="catalogo-note truncate-line-clamp">Opera ripiena d’immensa erudizione dall’infaticabile autore, che ha scritto gran numero di libri in merito
d’antichità e di erudizione.</div><a id="catalogo-note-text-toggle-3189" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>