<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1391">
                  <span class="catalogo-item-label">1391.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1391">DESCRIZIONE delle pompe e delle feste fatte nella venuta alla città di Firenze del Sereniss. D.
    Vincenzo Gonzaga Principe di Mantova per la Sere <span class="catalogo-pb" id="page_237">237</span> niss. Donna Eleonora de’ Medici
    Princ. di Toscana sua consorte</a></span>, <span class="catalogo-pubPlace">Firenze</span>, per Bartolomeo Sermartelli, <span class="catalogo-date">1584</span>, in 4.
    MDLXXX
    
    </span></section>