<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1448">
                  <span class="catalogo-item-label">1448.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAERLE Van Kaspar</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1448">Ingresso di Maria de’ Medici in Amsterdam</a></span>. Tradotto dal latino in
    lingua olandese da Gasparo Van Baerle, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1639</span>, in fol. fig.
    <div class="catalogo-note">Sonovi 16 tavole in gran foglio oltre il ritratto di Maria dei Medici intagliate da buoni maestri nella maniera di
    Hollard.</div>
    MDCXLI
    
    </span></section>