<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2506">

                     <span class="catalogo-item-label">2506.</span> <span class="catalogo-bibl"><span class="catalogo-author">WINCKELMANN</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2506">Monumenti antichi inediti spiegati ed illustrati</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1767</span>, in fol., fig., vol. 3.
<div class="catalogo-note">Il terzo volume composto di sette opuscoli da varj eruditi va sempre unito all’opera precedente e sono i seguenti.</div><div id="catalogo-note-text-2506" class="catalogo-note-search-results truncate-line-clamp">Il terzo volume composto di sette opuscoli da varj eruditi va sempre unito all’opera precedente e sono i seguenti.</div><a id="catalogo-note-text-toggle-2506" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a></span>
<span class="catalogo-bibl">—<span class="catalogo-author"> Raffei Stefano</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2506">Saggio di osservazioni sopra un basso rilievo di Villa Albani; e osservazioni sopra un altro
monumento della medesima Villa</a></span>, <span class="catalogo-pubPlace">Roma</span> <span class="catalogo-date">1773</span>.</span>
<span class="catalogo-bibl">— <span class="catalogo-title"><a class="catalog-link" href="/catalog/2506">Dissertazione sopra un singolar combattimento in basso rilievo nella Villa Albani</a></span>.</span>
<span class="catalogo-bibl">— <span class="catalogo-title"><a class="catalog-link" href="/catalog/2506">Filottete addolorato; altro basso rilievo come sopra</a></span>.</span>
<span class="catalogo-bibl">— <span class="catalogo-title"><a class="catalog-link" href="/catalog/2506">Il Nido. Canzone Didascalica con note sopra un antico nido di marmo in Villa Albani</a></span>, <span class="catalogo-date">1778</span>.</span>

              

                     
                     
<span class="catalogo-bibl">— Osservazioni sopra alcuni antichi monumenti di Villa Albani, Roma 1779 </span>
<span class="catalogo-bibl">— Statua camminante per l’aria, simulacri astriferi, sacerdote egizio, Osiride, statua egizia Averrunca.</span>
— <span class="catalogo-bibl">Osservazioni sovra un Apolline ec.</span>          </section>