<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1482">
                  <span class="catalogo-item-label">1482.</span> <span class="catalogo-bibl"><span class="catalogo-author">Aimi A D. Vincenzo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1482">La giostra discorso historico</a></span>, <span class="catalogo-pubPlace">Palermo</span> <span class="catalogo-date">1690</span>, in 8.
    <div class="catalogo-note">Opuscoletto erudito con una tavola.</div><div id="catalogo-note-text-1482" class="catalogo-note-search-results truncate-line-clamp">Opuscoletto erudito con una tavola.</div><a id="catalogo-note-text-toggle-1482" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    MDCXCI
    
    </span></section>