<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4041">
                     <span class="catalogo-item-label">4041.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARTINI Josephi</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4041">Theatrum basilicae pisanae</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1703</span>, in fol., fig.
<span class="catalogo-bibl">— Accedit <span class="catalogo-title"><a class="catalog-link" href="/catalog/4041">appendix ad theatrum basilicae pisanae</a></span> <span class="catalogo-date">1723</span>.</span>
<div class="catalogo-note">Le copiose e grandi tavole di quest’opera ottima sono inserite fra il testo, e accuratamente intagliate in rame:
sono queste in numero di 36, compresa una Vergine avanti il frontespizio, cui è dedicato il libro.</div>
</span></section>