<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3639">
                     <span class="catalogo-item-label">3639.</span> <span class="catalogo-bibl"><span class="catalogo-author">CALVI Fabii</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3639">Antiquae urbis Romae cum regionibus simulachrum authore M. Fabio ravennate</a></span>, 
                        <span class="catalogo-pubPlace">Basileae</span>, apud
Hier. Frobenium, et Nic. Episcopium, <span class="catalogo-date">1556</span>, in fol., fig.
<div class="catalogo-note">Questa seconda edizione meno rara, non è però comune, ed è in foglio molto minore della prima. Le armi del Papa</div>
Clemente VII, del cardinal de’ Medici, e del Senato Romano stanno nel frontespizio della prima edizione. A tergo
è la dedica al Papa: seguono 21 tavole, d’incontro alle quali leggonsi brevi illustrazioni, e nello stesso modo
procede anche la seconda edizione copiano esattamente la prima.
</span></section>