<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2130">
    <span class="catalogo-item-label">2130.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2130">VETERIS Testamenti figurae, L’ancien testament mis en figures: de l’imprimerie de Pierre
  Mariette</a></span>, Rue de S. Jacques à l’Esperance.</span>
  — <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2130">Novi Testamenti figurae. Le nouveau testament <span class="catalogo-pb" id="page_368">368</span> mis en figures</a></span>, de l’imprimerie de
  P. M., in 8, oblungo.</span>
  <div class="catalogo-note collapse">Sotto ciascuna tarala è un cenno d’illustrazione tratto dai libri della scrittura in latino colla versione francese
  accanto, il tutto intagliato sulle tavole in rame: 156 cono le tavole del Testamento vecchio: 77 sono quelle del
  nuovo e unitamente ai 2 frontespizi formano 22 tavole in tutto.</div>
  </section>