<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1554">
                  <span class="catalogo-item-label">1554.</span> <span class="catalogo-bibl"><span class="catalogo-author">ALCIATI Andrea</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1554">Libellus de ponderibus et mensuris in 8</a></span>, sine loco et anno. Accedit
    Melanchtonii Philippi Oratio de legibus et Budaei de moneta graeca ad Gallicani pecuniam
    aestimata.
    <div id="catalogo-note-text-1554" class="catalogo-note truncate-line-clamp">Quest’elegante operetta è dedicata dall’Alciato a Girolamo Arcbinto Milanese e rassomiglia pei tipi alle edizioni
    del Sessa in Venezia.</div><a id="catalogo-note-text-toggle-1554" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>