<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2451">
                  <span class="catalogo-item-label">2451.</span> <span class="catalogo-bibl"><span class="catalogo-author">PADOVANI Joan. Veronensis</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2451">De singularum humani corporis partium significationibus</a></span>,
    <span class="catalogo-pubPlace">Veronae</span> <span class="catalogo-date">1689</span>, in 4, parv.
    <div class="catalogo-note collapse">L’ ordine e la chiarezza di questo libretto epiloga quelle diffuse nozioni che trovatisi sparse in tante altre opere.</div>
    
    </span></section>