<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1569">
                  <span class="catalogo-item-label">1569.</span> <span class="catalogo-bibl"><span class="catalogo-author">BAR</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1569">Recueil de tous les costumes des ordres réligieux et militaires avec un abrégé historique
    et chronologique enrichi de notes et de planches colorées</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1778</span>, vol. 6, in. fol.
   <div class="catalogo-note"> Quest’opera di gran lusso e ricchezza, per essere tutte le tavole miniate con precisione, è utile oltre modo agli
    artisti e alle decorazioni teatrali. Il primo volume contiene 93 tavole: il secondo 74: il terzo 106: il quarto 91: il
    quinto 117: il sesto 93. Le dissertazioni illustrative sono tolte dalle fonti migliori, ma nell’esecuzione delle tavole
    si è posta troppa celerità per farne un’opera di speculazione, che per la sua mole sostiensi peraltro a un prezzo
    considerabile.</div>
    
    </span></section>