<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1631">
                  <span class="catalogo-item-label">1631.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1631">DECLAMAZIONE delle gentil donne di Cesena intorno alle pompe, al molto Illustre e Rev.
    Monsignor Lattanzio Presidente di Romagna </a></span>, <span class="catalogo-pubPlace">Cesena</span> <span class="catalogo-date">1575</span>, in 8, M. 54.
    <div class="catalogo-note">Vedesi da questo ingegnoso discorso che questo Monsignor Lattanzio Presidente Romagna nell’anno del
    Giubileo aveva preso ad inveire contro la pompe feminili, intorno le quali le gentildonne di Cesena sagacemente
    vengono giustificate. Opuscolo raro.</div>
    
    </span></section>