<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2981">
                     <span class="catalogo-item-label">2981.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2981">RASPE Catalogue raisonné d’une collection générale de pierres gravées antiques et modernes tant en creux que
camées, tireés des plus célebres cabinets de l’Europe moulées en pâtes par Jacques Tassie sculpteur, orné de
planches gravées</a></span>, <span class="catalogo-pubPlace">Londres</span> <span class="catalogo-date">1761</span>, 2 vol., in 4, fig. ingl. e fran.
<div class="catalogo-note collapse">Molti preliminari dottissimamente sono esposti dall’autore e procedesi con un abisso di pazienza e di cognizioni
a riordinare per materie, ossia per soggetto un numero di 15800 pietre incise. Termina il secondo volume con 57
tavole in rame assai ben incise. Esemplare in carta distinta, leg. in mar. in un solo grosso volume.</div>
</span></section>