<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2794">
                     <span class="catalogo-item-label">2794.</span> <span class="catalogo-bibl"><span class="catalogo-author">CARONNI Felice</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2794">Sopra un piombo antico di Santa Apollonia, al sig. c. Giovan Giacomo Triulzi</a></span>, <span class="catalogo-pubPlace">Milano</span> <span class="catalogo-date">1812</span>, in
8, M. 96.
<div class="catalogo-note">Colla medaglia stampata in rame sul testo.</div>
</span></section>