<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1603">
                  <span class="catalogo-item-label">1603.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRADFORD Guillaume</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1603">Chronological, and historical retrospect of the memorable events of
    the war in the Peninsula from thè embarkation of the Prince Regent of Portugal to the Brazils,
    and the imprisonment of the King of Spain in France</a></span>. Collected and anexed as a supplemental
    addition to the Rev. William Bradford views etc., <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1813</span>.
    <span class="catalogo-pb" id="page_278">278</span>
    <span class="catalogo-bibl"><span class="catalogo-author">BRADFORD</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1603">Sketches of the country, character, and costume in Portugal, and Spain Made
    during the campaign and on the route of the british armyn: 1808 and 1809</a></span>. Engraved and
    coloured from the drawing: by the Rev. William Bradford, Wall incidental illustration et
    appropriate descriptions of each subject, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1812</span>, Plat 54, fol. gr.
    <div class="catalogo-note">Il testo è inglese e francese e l’edizione è fatta con molto lusso di tavole e di tipi. Tutti i rami sono miniati in
    colori con gusto, non vi si riconosce troppo nell’opera la superficialità della speculazione libraria.</div></span>
    
    </span></section>