<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3211">
                     <span class="catalogo-item-label">3211.</span> <span class="catalogo-bibl"><span class="catalogo-author">CRENII Thomae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3211">De furibus librariis, dissertationes tres</a></span>, Lugd. Bat. <span class="catalogo-date">1716</span>, in 12.
<div class="catalogo-note">È singolare l’immensa rivista degli autori citati e accusati di plagio. Se si dovesse però dall’epoca che ha scritto
il Crenio, continuar l’esame delle immense opere stampate in quest’ultimo secolo, non basterebbero altre dieci
dissertazioni.</div><div id="catalogo-note-text-3211" class="catalogo-note-search-results truncate-line-clamp">È singolare l’immensa rivista degli autori citati e accusati di plagio. Se si dovesse però dall’epoca che ha scritto
il Crenio, continuar l’esame delle immense opere stampate in quest’ultimo secolo, non basterebbero altre dieci
dissertazioni.</div><a id="catalogo-note-text-toggle-3211" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>