<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1860">
                  <span class="catalogo-item-label">1860.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRUCK</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1860">Emblemata politica</a></span>, <span class="catalogo-pubPlace">Arg.</span> <span class="catalogo-date">1618</span>, in 4.
    <div class="catalogo-note collapse">Bello esemplare della biblioteca del Duca di Malborough.</div>
    
    </span></section>