<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2447">
                  <span class="catalogo-item-label">2447.</span> <span class="catalogo-bibl"><span class="catalogo-author">INGEGNERI Mousig. Giovanni</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2447">Fisonomia naturale</a></span>, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1606</span>, in 4, pic.
    <div class="catalogo-note">Questo è uno de’ migliori scrittori in questa materia e l’opuscolo fu pubblicato dal suo nipote Angiolo
    dedicandolo al sig. Filiberto Gherardo Scaglia Conte di Verrua.</div>
    
    </span></section>