<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4130">
                     <span class="catalogo-item-label">4130.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARBARO Tommaso</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4130">Il pellegrino geografo cronistorico da Napoli fino a Venezia</a></span>, <span class="catalogo-pubPlace">Venezia</span> <span class="catalogo-date">1739</span>, 
                        in 8, diviso in 7
libri, e la serie Cronistica dell’origine di Venezia sino all’anno 1738.
</span></section>