<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1137">
                  <span class="catalogo-item-label">1137.</span> <span class="catalogo-bibl"><span class="catalogo-author">BIANCHI Gio.</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1137">Lettera intorno il Panteo sacro di <span class="catalogo-pb" id="page_205">205</span> quella città ed alcune altre antichità</a></span>,
    inserita poi nelle Novelle Letterarie Fiorentine <span class="catalogo-date">1751</span>, in 4, M. 1.
    </span></section>