<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="176">
                  <span class="catalogo-item-label">176.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">PASSERI Niccola</span> di Faenza, <span class="catalogo-title"><a class="catalog-link" href="/catalog/176">Esame ragionato sopra la nobiltà della pittura e della scultura,</a></span>
	                    <span class="catalogo-pubPlace">Napoli</span> 
                     <span class="catalogo-date">1783,</span>
                     <span class="catalogo-extent"> in 8.</span>
                  </span>
	                 <div class="catalogo-note">Operetta rifusa nella seguente.</div>	  
	              </section>