<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2334">
                  <span class="catalogo-item-label">2334.</span> <span class="catalogo-bibl"><span class="catalogo-author">NICOLI Federico</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2334">Della vita e delle pitture di Lattanzio Gambara memorie storielle.</a></span>
    <span class="catalogo-bibl">Aggiuntevi brevi notizie intorno a’ più celebri ed eccellenti pittori bresciani, <span class="catalogo-pubPlace">Brescia</span> <span class="catalogo-date">1807</span>, in

                  
                  
    
    8.</span>
    <div class="catalogo-note">Col ritratto del Gambara in principio.</div>
    
    </span></section>