<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2706">
                     <span class="catalogo-item-label">2706.</span> <span class="catalogo-bibl"><span class="catalogo-author">ROY (Le)</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2706">Ruins of Athens, with romains, and other valuable antiquities in Grece</a></span>, <span class="catalogo-pubPlace">London</span> <span class="catalogo-date">1759</span>, in fol. figurato.
<div class="catalogo-note">Traduzione dell’opera precedente, con 26 tavole di accuratissimo intaglio e il prospetto de’ Propilei e la pianta

                     
                     
della cittadella d’Atene in principio. Esemplare in vit. dorat.</div>
</span></section>