<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3969">
                     <span class="catalogo-item-label">3969.</span> <span class="catalogo-bibl"><span class="catalogo-author">BRUYN, ou Brune Corneille</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3969">Le voyage par la Moscovie, en Perse, et aux Indes Orientales</a></span>. Ouvrage enrichie de
320 gravures, réprésentantes les plus belles vues de cet pays, et celle du palais de Persépolis, <span class="catalogo-pubPlace">Amsterdam</span> <span class="catalogo-date">1718</span>, 2
vol., in fol. pet.
<div id="catalogo-note-text-3969" class="catalogo-note truncate-line-clamp">Si avverta che non manchi il bellissimo frontespizio figurato di Pickart, il ritratto dell’autore, e le tre carte
geografiche in principio del I vol.: opera piena di cognizioni utili per le costumanze, e non comune in Italia.</div><a id="catalogo-note-text-toggle-3969" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>