<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1760">
                  <span class="catalogo-item-label">1760.</span> <span class="catalogo-bibl"><span class="catalogo-author">PINELLI Bartolommeo</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1760">Raccolta di cento costumi antichi cavati dai monumenti e incisi
  all’acqua forte</a></span>, <span class="catalogo-pubPlace">Roma</span>, in fol. oblong., tavole 52.
  <div id="catalogo-note-text-1760" class="catalogo-note truncate-line-clamp">Opera trattata con tutto il gusto pittoresco e l’intelligenza.</div><a id="catalogo-note-text-toggle-1760" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
  
  </span></section>