<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3958">
                     <span class="catalogo-item-label">3958.</span> <span class="catalogo-bibl"><span class="catalogo-author">BETUSSI M. Giuseppe</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3958">Descrizione del Catajo luogo del marchese Obizzi colle aggiunte del Berni, e del Libanori</a></span>,
<span class="catalogo-pubPlace">Ferrara</span> <span class="catalogo-date">1669</span>, in 4 p., fig.
<div id="catalogo-note-text-3958" class="catalogo-note truncate-line-clamp">Libro pieno di curiose notizie, il quale descrive uno dei luoghi più singolari d’Italia, che ricorda gli antichi
castelli della cavalleria: ora detta villa appartiene ai principi d’Este.</div><a id="catalogo-note-text-toggle-3958" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>