<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1589">
                  <span class="catalogo-item-label">1589.</span> <span class="catalogo-bibl"><span class="catalogo-author">BERTELLI Petri</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1589">Diversarum nationum habitus</a></span>, centum et quatuor iconibus in aere incisis
    diligenter expressi, item ordines duo de processionibus, <span class="catalogo-pb" id="page_275">275</span> unus Summi Pontificis, alter
    Serenissimi Principis Venetiarum, apud Alciatum et Petrum Bertellum, <span class="catalogo-pubPlace">Patavii</span> <span class="catalogo-date">1689</span>, in 8, fig.
    <div class="catalogo-note">Il Libretto è dedicato al C. di Hanau dall’editore ed è intagliato in rame con qualche grazia: le tavole sono
    numerate e descritte.</div><div id="catalogo-note-text-1589" class="catalogo-note-search-results truncate-line-clamp">Il Libretto è dedicato al C. di Hanau dall’editore ed è intagliato in rame con qualche grazia: le tavole sono
    numerate e descritte.</div><a id="catalogo-note-text-toggle-1589" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
    
    </span></section>