<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4035">
                    <span class="catalogo-item-label">4035.</span>
		    <span class="catalogo-bibl"><span class="catalogo-author">MAFFEI Scipionis</span>,<span class="catalogo-title"><a class="catalog-link" href="/catalog/4035"> Galliae antiquitates quaedam selectae, atque in plures epistolas distributae ad parisinum
exemplar iterum editae</a></span>. Accedunt epistolae duae, altera Sorbonicorum Doctorum ad auctorem hujus operis, altera
March. Jo. Polenii de Olympico Theatro, <span class="catalogo-pubPlace">Veronae</span> <span class="catalogo-date">1734</span>, in 4.</span>
<div class="catalogo-note">L’edizione di Parigi contiene molte memorie di meno, e questa è da preferirsi. Le tavole sono a’ luoghi indicati
nel testo.</div><div id="catalogo-note-text-4035" class="catalogo-note-search-results truncate-line-clamp">L’edizione di Parigi contiene molte memorie di meno, e questa è da preferirsi. Le tavole sono a’ luoghi indicati
nel testo.</div><a id="catalogo-note-text-toggle-4035" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
		  </section>