<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2315">
                  <span class="catalogo-item-label">2315.</span> <span class="catalogo-bibl"><span class="catalogo-author">MARISCOTTI Annibale</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2315">Il Ratto d’Elena di Guido Reni, panegirico all’Emin. Princ. il Card. S.
    Croce legato di Bologna</a></span>, <span class="catalogo-pubPlace">Bol.</span> <span class="catalogo-date">1633</span>, in 4.
    </span></section>