<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3279">
                     <span class="catalogo-item-label">3279.</span> <span class="catalogo-bibl"> <span class="catalogo-title"><a class="catalog-link" href="/catalog/3279">MUESTRA de letras quelle varà la impresion que se hace por la Real Biblioteca de la collecion canonica espannola
por el Codice Gotico Vigilano del siglo X con algunas laminas de esto celebre original imitado con propriedad el
tosco debuxo de a quel tiempo</a></span>, f., M. 84.
</span></section>