<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2289">
                  <span class="catalogo-item-label">2289.</span> <span class="catalogo-bibl"><span class="catalogo-author">HONDII Henrici</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2289">Pictorum aliquot celebrium praecipue Germaniae inferioris effigies</a></span>. <span class="catalogo-pubPlace">Hagae
    Comitis</span>, ex officina Henrici Hondii, in 4, fig., partes tres.
    </span></section>