<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="572">
                  <span class="catalogo-item-label">572.</span>
                  <span class="catalogo-bibl"> 
                     <span class="catalogo-author">MONTECUCOLI Raimondo</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/572">Opere illustrate da Ugo Foscolo,</a></span> 
                     <span class="catalogo-pubPlace">Milano,</span> 
                     per Luigi Mussi, 
                     <span class="catalogo-date">1807,</span>
	                    <span class="catalogo-extent">vol. 2, in fol. fig.</span>
                  </span>
	                 <div class="catalogo-note">Edizione splendidissima col ritratto di Montecucoli in principio intagliato da Rosaspina e due tavole in fine del 2
	volume, della quale non vennero stampati che 170 esemplari. Fu dedicata al ministro della guerra, il generale
	Cafarelli. Cominciano alcuni avvertimenti dell’illustratore, segue l’elogio di Montecucoli fatto da Agostino
	Paradisi il vecchio; poi vengono gli Aforismi dell’arte bellica, lib. unico, terminati dalle considerazioni
	dell’editore. Nel vol. 2 sono i Commentari delle guerre nell’Ungheria, Libri due: Il sistema dell’arte bellica: 5
	Lettere inedite e alcune considerazioni dell’editore nel fine. Opera delle più commendevoli, escite dai torchi
	italiani nel principio di questo secolo.</div>
	
	                 <span class="catalogo-pb" id="page_103">103</span>
	              </section>