<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="852">
                  <span class="catalogo-item-label">852.</span> <span class="catalogo-bibl"><span class="catalogo-author">OZANAM</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/852">La perspective théorique et pratique</a></span>, <span class="catalogo-pubPlace">Paris</span>, chez Jombert, <span class="catalogo-date">1720</span>. Aggiuntavi: <span class="catalogo-title"><a class="catalog-link" href="/catalog/852">La
	Méchanique</a></span>, stesso anno e luogo, figurati in 8.
	<div class="catalogo-note collapse">Nel trattato della prospettiva sono 36 tavole e 28 in quello delle meccaniche: tutte le opere mattematiche di
	quest’uomo dottissimo sono da tenersi in pregio.</div>
	
	</span></section>