<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1570">
                  <span class="catalogo-item-label">1570.</span> <span class="catalogo-bibl"><span class="catalogo-author">BARDI de’ Conti di Vernio Giovanni</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1570">Memorie del Calcio Fiorentino tratte da diverse scritture
    ec.</a></span>, <span class="catalogo-pubPlace">Firenze</span>, nella stamperia di S. A. S. alla Condotta, <span class="catalogo-date">1688</span>, in 4, fig.
<div class="catalogo-note">    Edizione citata dalla Crusca con 2 tavole. Questa seconda edizione molto aumentata di scritture di altri autori,
    ebbe per raccoglitore delle memorie Pietro di Lorenzo Bini.</div>
    
    </span></section>