<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1016">
                  <span class="catalogo-item-label">1016.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/1016">COMPOSIZIONI (Alcune) di diversi autori in lode del ritratto della Sabina, scolpito in marmo
      dall’eccellentissimo M. Giovanni Bologna, posto nella Piazza del Serenissimo Gran Duca di
      Toscana</a></span>, <span class="catalogo-pubPlace">Firenze</span>, pel Sermartelli, <span class="catalogo-date">1583</span>, in 4, fig. M. 37.
      <div class="catalogo-note collapse">Con tre tavole in legno: Opuscoletto ben fatto e divenuto raro, e prezioso fra gli oggetti d’arte.</div>
      
      <span class="catalogo-pb" id="page_182">182</span>
               </span></section>