<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3762">
                     <span class="catalogo-item-label">3762.</span> <span class="catalogo-bibl"><span class="catalogo-author">LIGORIO M. Pyrro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3762">Libro delle antichità di Roma, nella quale si tratta de’ circi, teatri, ed anfiteatri, con le
paradosse del medesimo autore ec.</a></span>, <span class="catalogo-pubPlace">Venezia</span>, per Michele Tramezzino, <span class="catalogo-date">1553</span>, in 8.
<div id="catalogo-note-text-3762" class="catalogo-note truncate-line-clamp">Nella seconda di queste operette sono confutate molte opinioni intorno le antichità. Elegante edizione, e bellissimo
esemplare in vit. dor.</div><a id="catalogo-note-text-toggle-3762" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>