<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="3664">
                     <span class="catalogo-item-label">3664.</span> <span class="catalogo-bibl"><span class="catalogo-author">CHATTARD Giovan Pietro</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/3664">Nuova descrizione del Vaticano, ossia della sacrosanta basilica di S. Pietro</a></span>, vol. 3, in
12, fig., <span class="catalogo-pubPlace">Roma</span> dal <span class="catalogo-date">1762 al 1767</span>.
<div class="catalogo-note collapse">Entra l’autore in tutte le minute particolarità che riguardano la basilica non meno che il palazzo, e nel primo
volume sono sei tavole in rame. Opera eseguita con mediocrità di mezzi, e poca critica.</div>
</span></section>