<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1189">
                  <span class="catalogo-item-label">1189.</span> <span class="catalogo-bibl"><span class="catalogo-author">MINERVINO D. Ciro Saverio</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1189">Origine corso del fiume Meandro in occasione di un luogo di
    Plinio</a></span>. Lettera al Conte della Torre Rezzonico, <span class="catalogo-pubPlace">Napoli</span> <span class="catalogo-date">1768</span>, in 8, fig., M. 61.
    <div class="catalogo-note">Con una medaglia nel frontespizio e una gran carta topografica.</div>
    
    <span class="catalogo-pb" id="page_211">211</span>
               </span></section>