<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="4555">
                        <span class="catalogo-item-label">4555.</span> <span class="catalogo-bibl"><span class="catalogo-author">REGNAULT</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/4555">Catalogue des tableaux la plupart de peintres françois après le décès du citoyen Beauvallet</a></span>, <span class="catalogo-pubPlace">Paris</span> an.
                           VI de la Rep., in 8, <span class="catalogo-date">1797</span>.
</span></section>