<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="243">
                  <span class="catalogo-item-label">243.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ZANNOTTI Giampietro</span>, 
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/243">Avvertimenti per l’incaminamento d’un giovine alla pittura,</a></span> 
                     <span class="catalogo-pubPlace">Bologna</span>
	                    <span class="catalogo-date">1756</span>, <span class="catalogo-extent">in 8.</span>
                  </span>
	                 <div id="catalogo-note-text-243" class="catalogo-note truncate-line-clamp">Tutto ciò che ha scritto questo ben ordinato ingegno è pieno di saviezza, quantunque senza pregio di novità.</div><a id="catalogo-note-text-toggle-243" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>	  
	              </section>