<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2163">
                  <span class="catalogo-item-label">2163.</span> <span class="catalogo-bibl"><span class="catalogo-author">LACOMBE</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2163">Dictionnaire portatif des beaux arts</a></span>, <span class="catalogo-pubPlace">Paris</span> <span class="catalogo-date">1759</span>, in 8.
    <div class="catalogo-note collapse">Buona edizione in 686 pagine con un supplemento d’altre 19 pagine.</div>
    
    — <span class="catalogo-bibl">Lo stesso. Traduzione dal francese in italiano, <span class="catalogo-pubPlace">Bassano</span> <span class="catalogo-date">1781</span>, in 8.
    <div class="catalogo-note collapse">Opera utilissima agli artisti per la riunione di molte buone cognizioni.</div></span>

                  
                  
    
               </span></section>