<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2776">
                     <span class="catalogo-item-label">2776.</span> <span class="catalogo-bibl"><span class="catalogo-author">BOECE Anselme de Boot</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2776">Le parfait Joaillier, ou histoire des pierreries, de nouveau enrichi de belles annotations,
indices et figures par André Toll</a></span>, <span class="catalogo-pubPlace">Lion</span> <span class="catalogo-date">1644</span>, in 8, fig. Traduzione dal latino.
<div class="catalogo-note collapse">Opera curiosa e ricercata per le molte notizie che contiene: i bibliografi francesi l’apprezzano più della latina,
forse perché la versione nella lingua nativa per l’uso che ne hanno fatto facilmente gli artisti, ha diminuito il
numero degli esemplari.</div>
</span></section>