<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="456">
                  <span class="catalogo-item-label">456.</span>
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BULLET</span>,
                     <span class="catalogo-title"><a class="catalog-link" href="/catalog/456"> L’architecture pratique qui comprende le detail du Toisé et du Devis des ouvrages de
	massonerie, charpenterie, menuiserie ec.,</a></span> 
                     <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1691,</span>
                     <span class="catalogo-extent"> in 8.</span>
	                    <div class="catalogo-note">Con un frontespizio figurato e molte tavole in rame di bell’intaglio inserite fra il testo. Opera utile per le pratiche
	e i costumi e le leggi in materia edificatoria.</div>
                  </span>
	
	              </section>