<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2947">
                     <span class="catalogo-item-label">2947.</span> <span class="catalogo-bibl"><span class="catalogo-title"><a class="catalog-link" href="/catalog/2947">&gt;NUMISMATA cimelii Caesarei vindobonensis quorum rariora iconismis caetera catalogis exhibita jussu Mariae
Theresiae</a></span>, <span class="catalogo-pubPlace">Vindobonae</span> <span class="catalogo-date">1754</span> et <span class="catalogo-date">1755</span>, in fol., fig. Due parti legate in una.
<div class="catalogo-note">25 tavole contiene la prima parte e 112 la seconda: l’esecuzione non è fatta con gusto e l’opera impone soltanto
per la sua mole e il suo numero e per lo splendore apparente che non rende idea dello splendore reale di quel
gabinetto.</div><div id="catalogo-note-text-2947" class="catalogo-note-search-results truncate-line-clamp">25 tavole contiene la prima parte e 112 la seconda: l’esecuzione non è fatta con gusto e l’opera impone soltanto
per la sua mole e il suo numero e per lo splendore apparente che non rende idea dello splendore reale di quel
gabinetto.</div><a id="catalogo-note-text-toggle-2947" class="catalogo-note-search-results-toggle" href="#"><i class="bi bi-caret-down"/><span>Show More</span></a>
</span></section>