<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2516">
                     <span class="catalogo-item-label">2516.</span> <span class="catalogo-bibl"><span class="catalogo-author">BANDINI Angeli Mariae</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2516">De obelisco Caesaris Augusti e Campi-Martii ruderibus eruto commentarius. Accedunt
CII virorum epistolae atque opuscula</a></span>, <span class="catalogo-pubPlace">Romae</span> <span class="catalogo-date">1750</span>, in fol., fig.
<div class="catalogo-note collapse">Questo libro ripieno di note e di erudizione ha quattro tavole intagliate in rame.</div>
</span></section>