<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="2302">
                  <span class="catalogo-item-label">2302.</span> <span class="catalogo-bibl"><span class="catalogo-author">LÉPICIÉ</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/2302">Catalogue raisonné des tableaux du Roy avec un Abregé de la vie des peintres fait
    par ordre de S. M.</a></span>, vol. 2 rel. in 1, <span class="catalogo-pubPlace">Paris</span>, de l’imprimérie Royale, <span class="catalogo-date">1762</span>, in 4.
    <div class="catalogo-note collapse">Magnifica edizione col ritratto del Rre intagliato da Cochin ed impresso sopra la dedica.</div>

                  
                  
    
               </span></section>