<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1876">
                  <span class="catalogo-item-label">1876.</span> <span class="catalogo-bibl"><span class="catalogo-author">CRAMERII</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1876">Emblemata deac. V</a></span>, <span class="catalogo-pubPlace">Franf.</span> <span class="catalogo-date">1624</span>, in 8.
    <div class="catalogo-note collapse">Cento sono gli emblemi intagliati in rame diviti in due parti.</div>
    
    </span></section>