<section xmlns="http://www.w3.org/1999/xhtml" class="catalogo-item" id="1">
	      <span class="catalogo-item-label">1.</span>
	      <span class="catalogo-bibl">
		<span class="catalogo-author">AGINCOURT (d’) Seroux</span>, <span class="catalogo-title"><a class="catalog-link" href="/catalog/1">Histoire de l’Art
		par les Monumens depuis sa decadence au 4ᵐᵉ siecle, jusque à son
		renouvellement au 16.me pour servir de suite à l’histoire de
		l’art chez les Anciens.</a></span> <span class="catalogo-pubPlace">Paris</span>
		<span class="catalogo-date">1811</span> et <span class="catalogo-date">1820</span>, <span class="catalogo-extent">6
		vol. fol. fig. ornés de 325 pl. en 24 livraisons.</span>
	      </span>
	      
	      <div class="catalogo-note">La piccola dimensione delle figure e l’inesattezza de’
	      disegni non tolgono a quest’opera il merito intrinseco di cui è
	      ripiena, potendosi dire l’unica che abbiasi di tale estensione,
	      per illustrare le oscure epoche de’ bassi tempi.</div>
	    </section>