<div xmlns="http://www.w3.org/1999/xhtml" class="container">
   <div class="row">
      <div class="col-sm-3">
         <div id="facets" class="facets sidenav">
            <div class="top-panel-heading panel-heading">
               <button type="button"
                       class="facets-toggle"
                       data-toggle="collapse"
                       data-target="#facet-panel-collapse">
                  <span class="sr-only">Toggle table of contents</span>
                  <span class="glyphicon glyphicon-menu-hamburger"/>
               </button>
               <h2 class="facets-heading hidden-sm hidden-md hidden-lg">
                                  Table of Contents
                                </h2>
            </div>
            <div id="facet-panel-collapse"
                 class="collapse panel-group"
                 data-spy="affix"
                 data-offset-top="120">
               <ol class="toc">
                  <li>
                     <a href="/catalogo/section_1.1">Delle belle arti in generale</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.2">Della Pittura Trattati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.1">Dell’antichità in genere</a>
                  </li>
                  <li class="current">Vedute di città</li>
               </ol>
            </div>
         </div>
      </div>
      <div class="col-sm-9">
         <section class="catalogo-section" id="2.11">
            <head>
               <h1>Vedute di città
	       e descrizioni di monumenti, e antichità,
	       templi, palazzi, ed altri edifici
	       grandiosi fuori di Roma.</h1>
            </head>

               <ol class="catalogo-list">
               <li id="item_4025" class="catalogo-item">
                     <span class="catalogo-item-label">4025.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">IKENII Conradi</span>,<span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4025"> Antiquitates hebraicae</a>
                     </span>, <span class="catalogo-pubPlace">Bremae</span> 
                     <span class="catalogo-date">1764</span>, in 8.
          </span>
               </li>
            </ol>
         </section>
      </div>
   </div>
</div>
