<div xmlns="http://www.w3.org/1999/xhtml" class="container">
   <div class="row">
      <div class="col-sm-3">
         <div id="facets" class="facets sidenav">
            <div class="top-panel-heading panel-heading">
               <button type="button"
                       class="facets-toggle"
                       data-toggle="collapse"
                       data-target="#facet-panel-collapse">
                  <span class="sr-only">Toggle table of contents</span>
                  <span class="glyphicon glyphicon-menu-hamburger"/>
               </button>
               <h2 class="facets-heading hidden-sm hidden-md hidden-lg">
                                  Table of Contents
                                </h2>
            </div>
            <a class="btn btn-primary vatican-catalogo"
               href="https://digi.vatlib.it/view/STP_Riserva.IV.169(1)">Vatican Annotated Catalogo</a>
            <div id="facet-panel-collapse"
                 class="collapse panel-group"
                 data-spy="affix"
                 data-offset-top="120">
               <ol class="toc">
                  <li>
                     <a href="/catalogo/section_1.0">Proemio</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.1">Delle belle arti in generale</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.2">Della Pittura Trattati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.3">Dell’intaglio in Rame e in Legno</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.4">Della scultura trattati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.5">Elementi proporzioni e anatomia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.6">Della architettura trattati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.7">Architettura teatrale moderna</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.8">Architettura teatrale antica</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.9">Prospettiva</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.10">Edifici di vario genere</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.11">Poemetti didascalici sulle arti</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.12">Scrittori del bello</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.13">Poemi, drammi e autori classici figurati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.14">Favoleggiatori</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.15">Lettere pittoriche e antiquarie</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.16">Descrizioni relazioni e memorie</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.17">Orazioni pittoriche</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.18">Feste ingressi, trionfi, spettacoli e funerali</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.19">Miscellanee</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.20">Abiti e costumanze antiche e moderne</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.21">Emblemi</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.22">Mitologia, riti e costumi religiosi di tutti i popoli</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.23">Biblie figurate vite istoriate</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.24">Dizionari e abecedari</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.25">Biografia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.26">Autori di fisonomia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.0">Proemio</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.1">Dell’antichità in genere</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.2">Antichitá arabe, egizie, indiche ec.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.3">Antichitá etrusche e italiane avanti i romani</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.4">Antichità greche, greco-italiche, ercolanensi.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.5">Numismatica e pietre intagliate</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.6">Iscrizioni</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.7">Erudizione varia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.8">Grandi musei</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.9">Opere di scultura d’ogni genere antiche e moderne illustrate.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.10">Roma antica e moderna.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.11">Vedute di città</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.12">Guide e brevi illustrazioni</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.13">Guide</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.14">Cataloghi</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.15">Cataloghi senz’anno</a>
                  </li>
                  <li class="current">Equitazione</li>
                  <li>
                     <a href="/catalogo/section_2.17">Alcuni libri di bibliografia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.18">Mitologia imagini sacre e costumi religiosi di diversi popoli</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.19">Appendice</a>
                  </li>
               </ol>
            </div>
         </div>
      </div>
      <div class="col-sm-9">
         <section class="catalogo-section" id="2.16">
               <head>
               <h1>Equitazione</h1>
            </head>
               <ol class="catalogo-list">

                  <li id="item_4595" class="catalogo-item">
                     <span class="catalogo-item-label">4595.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BIONDO Michelangelo</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4595">Della domazione del polledro, del suo ammaestramento etc. Opera d’incerto filosofo
                        antiquo dedicata ad uno degli antiqui imperadori, da lui tradotto in lingua materna</a>
                     </span>, <span class="catalogo-pubPlace">Venezia</span>
                     <span class="catalogo-date"> 1549</span>, in 8.
<div class="catalogo-note">Opera, che ha tutta l’apparenza d’esser immaginata come antica, e direbbesi tutta di conio dell’autore, che scrisse
   il Trattato della pittura</div>.
</span>
               </li>

                  <li id="item_4596" class="catalogo-item">
                     <span class="catalogo-item-label">4596.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CARACCIOLO Pasquale</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4596">La gloria del cavallo divisa in dieci libri, Venezia</a>
                     </span>, <span class="catalogo-pubPlace">Giolito</span>, <span class="catalogo-date">1567</span>, in 4.
<div class="catalogo-note">Opera la più vasta che conosciamo in questa materia, senza figure, con molte e ben estese tavole delle materie,
ma che eccede le mille pagine di testo: stampato in minuto carattere corsivo. Nel 1587 ne comparve una seconda
edizione ricorretta</div>.
</span>
               </li>

                  <li id="item_4597" class="catalogo-item">
                     <span class="catalogo-item-label">4597.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CATTANEO Gaetano</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4597">Equejade. Monumento antico <span class="catalogo-pb" id="page_309">309</span> di bronzo nel Museo Nazionale Ungarese considerato
                        ne’ suoi rapporti coll’antichità figurata</a>
                     </span>, <span class="catalogo-pubPlace">Milano</span>
                     <span class="catalogo-date"> 1819</span>, in 4 gr., fig.
<div class="catalogo-note">Con quattro tavole in rame. La rarità dei monumenti di questa dea custode de’ cavalli e delle stalle conduce a
molte discussioni e sogni eruditi, e in ispecie a quella sulla varia denominazione, che aveva presso i greci, e i
latini. Bellissima edizione esemplare in carta distinta in vit. dor</div>.
</span>
               </li>

                  <li id="item_4598" class="catalogo-item">
                     <span class="catalogo-item-label">4598.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">COLLOMBRE Agostino da S. Severo</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4598">Del modo di conoscere la natura dei cavalli, e le medicine, che loro
                        appartengono</a>
                     </span>, <span class="catalogo-pubPlace">Venezia</span>
                     <span class="catalogo-date"> 1622</span>, in 4, fig.
                        <div class="catalogo-note">Opera divisa in tre libri, e dettata secondo molte antiche superstizioni, e con tutto l’empirismo di quei tempi</div>.
</span>
               </li>

                  <li id="item_4599" class="catalogo-item">
                     <span class="catalogo-item-label">4599.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CORTE messer Claudio</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4599">Il cavallerizzo</a>
                     </span>, <span class="catalogo-pubPlace">Lione</span>
                     <span class="catalogo-date"> 1573</span>, in 4.
                        <div class="catalogo-note">Si tratta in questi tre libri della natura de’ cavalli, del domarli, e frenarli, e d’ogni cosa a buon cavallerizzo

                     
                     
appartenente, accresciuto, emendato, ed ornato di utilissime cose e molto piacevoli. La prima edizione comparve
in Venezia per il Ziletti nel 1562.
Senza figure, col solo frontespizio ornato d’intagli di legno.</div>
                  </span>
               </li>

                  <li id="item_4600" class="catalogo-item">
                     <span class="catalogo-item-label">4600.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">EISEMBERG</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4600">Déscription du manége moderne dans la perféction, gravée par Bernard Picard</a>
                     </span>, a la <span class="catalogo-pubPlace">Haye</span>, <span class="catalogo-date">1737</span>, <div class="catalogo-note">in
fol. oblong., chez Pierre de Hondt. Tavole 55 rappresentanti cavalli, e 4 tavole comprendono diversi morsi: sono
60 tavole compresovi il frontespizio.
Edizione in bel disegno, ed intaglio, quantunque l’altra comparsa dieci anni avanti possa ritenersi in qualche
maggior pregio per la freschezza delle tavole</div>.
</span>
               </li>

                  <li id="item_4601" class="catalogo-item">
                     <span class="catalogo-item-label">4601.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FABRICY Gabriel le R. Pere</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4601">Récherches sur l’époque de l’équitation</a>
                     </span>. <div class="catalogo-note">Vedi fra i Costumi</div>.
</span>
               </li>

                  <li id="item_4602" class="catalogo-item">
                     <span class="catalogo-item-label">4602.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FERRARO Pirro Antonio</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4602">Il cavallo frenato</a>
                     </span>, <span class="catalogo-pubPlace">Venezia</span>
                     <span class="catalogo-date"> 1620</span>, in fol., fig.
<div class="catalogo-note">Opera a cui preceder deve l’altra di Giovan Battista padre di questo autore sul modo di conservar le razze de’
cavalli, e il modo di curarli. Tutte le numerose tavole di questo volume esprimenti ogni specie di freni antichi e
moderni sono intagliate in legno. Edizione accurata</div>.
</span>
               </li>

                  <li id="item_4603" class="catalogo-item">
                     <span class="catalogo-item-label">4603.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FIASCHI Cesare</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4603">Trattato dell’imbrigliare, maneggiare, e ferrare i cavalli</a>
                     </span>. Diviso in tre parti, <span class="catalogo-pubPlace">Bologna</span>
                     <span class="catalogo-date"> 1556</span>, in 4,
fig.
<div class="catalogo-note">Trattasi di ognuna di queste parti chiaramente, e in sussi <span class="catalogo-pb" id="page_310">310</span> dio trovansi copiosissime tavole intagliate in
   legno riportate fra il testo, oltre i frontespizj figurati ad ognuna di esse: accuratissima edizione</div>.
</span>
               </li>

                  <li id="item_4604" class="catalogo-item">
                     <span class="catalogo-item-label">4604.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GALIBERTI Giovan Battista conte napoletano</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4604">Il cavallo da maneggio, ove si tratta della nobilissima virtù del
                        cavalcare</a>
                     </span>, <span class="catalogo-pubPlace">Vienna d’Austria</span>
                     <span class="catalogo-date"> 1559</span>, in fol., fig.
                        <div class="catalogo-note">Con trenta tavole in rame di scorretto disegno</div>.
</span>
               </li>

                  <li id="item_4605" class="catalogo-item">
                     <span class="catalogo-item-label">4605.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GAMBOA Giovanni</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4605">La ragione dell’arte del cavalcare</a>
                     </span>, <span class="catalogo-pubPlace">Palermo</span>
                     <span class="catalogo-date"> 1606</span>, in 4 pic.
                        <div class="catalogo-note">Opera divisa in tre parti, e trattata praticamente</div>.
</span>
               </li>

                  <li id="item_4606" class="catalogo-item">
                     <span class="catalogo-item-label">4606.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GARSSAULT (de) F. A.</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4606">Le nouveau parfait maréchal ou la connoisance générale, et universelle du cheval: divisé
                        en 7 traités, avec un dictionnaire des termes de cavalérie</a>
                     </span>, <span class="catalogo-pubPlace">Paris</span>
                     <span class="catalogo-date"> 1797</span>, in 4, figur.
<div class="catalogo-note">Opera pregievole, di cui si fecero molte edizioni sempre ricorrette ed aumentate, delle quali questa è la quinta
   con 29 tavole relative al cavallo, e 20 ai semplici impiegati nella medicatura. Vedi Traité des voitures.</div>
                  </span>
               </li>

                  <li id="item_4607" class="catalogo-item">
                     <span class="catalogo-item-label">4607.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GOIFFON et Vincent</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4607">Mémoire artificielle des principes relatifs à la fidelle réprésentation des animaux tant en
                        peinture qu’en sculpture</a>
                     </span>, troi vol. rel. en 1 vol., <span class="catalogo-pubPlace">Paris</span>
                     <span class="catalogo-date"> 1779</span>, fol., fig.
                        <div class="catalogo-note">Con 23 grandi tavole dimostrative</div>.
</span>
               </li>

                  <li id="item_4608" class="catalogo-item">
                     <span class="catalogo-item-label">4608.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GRISONE Federico gentiluomo napoletano</span>, Gli ordini di cavalcare, Roma 1550, in 4, fig.
Dedicato al cardinal Ippolito d’Este. Opera divisa in quattro libri, e assai ben ordinata, a cui aggiugnesi in fine un
numero di 50 tavole intagliate in legno per i morsi de’ cavalli, di bella esecuzione.
</span>
               </li>

                  <li id="item_4609" class="catalogo-item">
                     <span class="catalogo-item-label">4609.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GUERINIERE (de la) ecuyer du Roi</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4609">École de la cavalérie contenant la connoissance, l’instruction et la
                        conservation du chéval avec figures en taille douce</a>
                     </span>, <span class="catalogo-pubPlace">Paris</span>
                     <span class="catalogo-date"> 1751</span>, in fol.
<div class="catalogo-note">Bella edizione con 38 tavole compreso il frontespizio, la maggior parte intagliate da I. Audran, da Le Bas, e da
   altri incisori, con gusto, e grandiosa esecuzione</div>.
</span>
               </li>

                  <li id="item_4610" class="catalogo-item">
                     <span class="catalogo-item-label">4610.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">LIBERATI Francesco</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4610">La perfezione del cavallo</a>
                     </span>, <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1669</span>, in 4, fig.
<div class="catalogo-note">— Aggiuntavi l’altra edizione di Roma 1639, nella quale leggesi in fine la traduzione dal greco dell’arte di
cavalcare tratta da Xenofonte, in 4, fig.
L’opera è divisa in tre libri, l’ultimo de’ quali riporta i <span class="catalogo-pb" id="page_311">311</span> marchj de’ cavalli intagliati in legno. In principio
   è la gran tavola in rame delle malattie del cavallo</div>.
</span>
               </li>

                  <li id="item_4611" class="catalogo-item">
                     <span class="catalogo-item-label">4611.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4611">LIBRO di arnesi, ed ornamenti per cavalli, e carrozze, incisi in rame con diligenza, ed eleganza, e i respettivi
prezzi di ciascheduno in lingua inglese, tedesca, spagnuola, e italiana</a>
                     </span>.

                     
                     
                        <div class="catalogo-note">Con cinque figure di cavalli guarniti: sono in tutto 34 grandi tavole in foglio piegate in quarto</div>.
</span>
               </li>

                  <li id="item_4612" class="catalogo-item">
                     <span class="catalogo-item-label">4612.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4612">LIBRO de’ marchj de’ cavalli con li nomi de’ tutti li principi e privati signori che hanno razza di cavalli</a>
                     </span>, <span class="catalogo-pubPlace">Venezia</span>,
                        presso Niccolò Nelli, <span class="catalogo-date">1569</span>, in 8.
<div class="catalogo-note">Otto foglietti col frontespizio figurato elegantemente. Contengono un ricettario pei cavalli, e seguono i marchj in
76 foglietti intagliati in rame con diligenza, sotto ciascuno de’ quali stanno le dichiarazioni incise nelle tavole.
Libretto raro, poiché queste operette di consumazione frequente nelle fiere e mercati perirono, e per le variazioni
nelle razze non vennero mai ristampate le antiche indicazioni. Vedi Zen.</div>
                  </span>
               </li>

                  <li id="item_4613" class="catalogo-item">
                     <span class="catalogo-item-label">4613.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4613">MARCHJ de’ cavalli dello stato veneti</a>
                     </span>. Raccolti, e stampati con alcune notizie della fiera di Rovigo, 
                        <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1770</span>,
fig.
<div class="catalogo-note">Comprende questo volumetto 130 marchj intagliati in rame.</div>
                     <span class="catalogo-bibl">— Aggiuntovi un compendio di varie ricette per medicar cavalli, raccolte da Francesco Canevese, <span class="catalogo-pubPlace">Venezia</span> 
                        <span class="catalogo-date">1780</span>,
in 8.</span>
                  </span>
               </li>

                  <li id="item_4614" class="catalogo-item">
                     <span class="catalogo-item-label">4614.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MARINELLI Giuseppe Antonio</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4614">La scuola moderna del maneggio de’ cavalli</a>
                     </span>, 
                        <span class="catalogo-pubPlace">Bologna</span> 
                     <span class="catalogo-date">1737</span>, in 4 pic.
<div class="catalogo-note">Opera con buone avvertenze senza figure, meno un cattivo intaglio in legno nel frontespizio.</div>
                  </span>
               </li>

                  <li id="item_4615" class="catalogo-item">
                     <span class="catalogo-item-label">4615.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">PALMIERI di Lorenzo</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4615">Perfette regole, e modi di cavalcare</a>
                     </span>, 
                        <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1625</span>, in 4, fig.
<div class="catalogo-note">Il frontespizio figurato in rame porta la data dell’anno dopo. L’opera non è molto estesa, e contiene al fine un
ristretto delle infermità de’ cavalli con una tavola intagliata in rame.</div>
                  </span>
               </li>

                  <li id="item_4616" class="catalogo-item">
                     <span class="catalogo-item-label">4616.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">PLUVINEL Antoine</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4616">L’instruction du Roi en le exercice de monter à cheval enrichi des figures en taille douce par
Crispian de Pas</a>
                     </span>, <span class="catalogo-pubPlace">Amsterdam</span> 
                     <span class="catalogo-date">1666</span>, in fol., fig.
<div class="catalogo-note">Vi si trova il bel frontespizio intagliato, il ritratto del gran scudiere maresciallo di Bellegarde, quello del Re e <span class="catalogo-pb" id="page_312">312</span> quello dell’autore, e in tutto il volume stampato con gran lusso di tipi tavole 57 in gran foglio, le quali sono
meno logore di quel che sembra ch’esser dovrebbero in questa ristampa, giacché la prima edizione comparve a
Parigi nel 1625, e tiensi in molto pregio.</div>
                  </span>
               </li>

                  <li id="item_4617" class="catalogo-item">
                     <span class="catalogo-item-label">4617.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ROSSELMINI Niccolò</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4617">Dell’obbedienza del cavallo</a>
                     </span>, <span class="catalogo-pubPlace">Livorno</span>, in 4 pic., fig.
<div class="catalogo-note">Quest’opera è divisa in quattro parti, tre delle quali sono consecrate all’obbedienza, e al maneggio, e l’ultima è
un Trattato delle razze selvatiche dei cavalli d’Italia. Con due tavole dello scheletro de’ cavalli, e del morso, e il
frontespizio figurato.</div>
                  </span>
               </li>

                  <li id="item_4618" class="catalogo-item">
                     <span class="catalogo-item-label">4618.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">RUFFI Jordani calabrensis</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4618">Hippiatria, nunc primum edente Hieronymo Molin</a>
                     </span>, 
                        <span class="catalogo-pubPlace">Patavii</span> 
                     <span class="catalogo-date">1818</span>, in 8.
<div class="catalogo-note">L’autore scriveva nel XIII secolo, ma la sua latinità lo farebbe presupporre d’un’epoca migliore.</div>
                  </span>
               </li>

                  <li id="item_4619" class="catalogo-item">
                     <span class="catalogo-item-label">4619.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4619">SAGGIO sopra le razze con alcuni altri utili trattati in materia di cavalli. Tradotti dal francese, e pubblicati a
profitto de’ poveri carcerati</a>
                     </span>, <span class="catalogo-pubPlace">Turino</span> 
                     <span class="catalogo-date">1770</span>, in 12, fig.
<div class="catalogo-note">Con quattro tavole intagliate in rame al fine.</div>
                  </span>
               </li>

                  <li id="item_4620" class="catalogo-item">
                     <span class="catalogo-item-label">4620.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SAUNIER (de)</span>,<span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4620"> La parfaite connoissance des chévaux, leur anatomie, qualités, maladies, et rémedies</a>
                     </span>, a la <span class="catalogo-pubPlace">Haye</span>
                     <span class="catalogo-date">1734</span>, in fol., fig.
<div class="catalogo-note">Col ritratto dell’autore in principio, e 61 tavole in rame.</div>
                  </span>
               </li>

                  <li id="item_4621" class="catalogo-item">
                     <span class="catalogo-item-label">4621.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SIMONCELLI de Monte Baldovino</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4621">Il Cesarino, ovvero dell’arte di cavalcare, dialogo</a>
                     </span>, 
                        <span class="catalogo-pubPlace">Mantova, Osanna</span>, <span class="catalogo-date">1625</span>, in
4 pic.
<div class="catalogo-note">Col frontespizio figurato. Questo autore avea pubblicato nel 1616 in Firenze un’altra opera intitolata l’Idea del
prelato. Questo trattato del cavalcare è piuttosto esteso da un erudito, che da un pratico cavallerizzo.</div>
                  </span>
               </li>

                  <li id="item_4622" class="catalogo-item">
                     <span class="catalogo-item-label">4622.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SNAP Andrea</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4622">L’anatomia del cavallo con un’esatta descrizione della struttura, e relazione delle sue parti</a>
                     </span>,
rappresentata in 49 tavole, <span class="catalogo-pubPlace">Londra</span> 
                     <span class="catalogo-date">1683</span>, in fol., in lingua inglese.
<div class="catalogo-note">Le incisioni sono trattate con gran solerzia di bulino da N. Yeats, ma l’opera versa interamente sull’anatomia, e
in nulla sui movimenti dell’animale: magnifico esemplare in vitel. dorato.</div>

                     
                     
                     <span class="catalogo-pb" id="page_313">313</span>
                  </span>
               </li>

                  <li id="item_4623" class="catalogo-item">
                     <span class="catalogo-item-label">4623.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">STRADANO Jo. pictore</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4623">Equile in quo omnis generis generosissimorum equorum ex variis orbis partibus insignis
delectus ad vivum omnes delineati, expensis ac studio M. Sadeleri in lucem editi</a>
                     </span>.
<div class="catalogo-note">In questa ristampa l’opera è intitolata dopo il frontespizio figurato con una dedica in una bella cartella istoriata al
C. Francesco Crescenzio. Filippo Gallé originariamente fu l’intagliatore delle 43 tavole, oltre le quali in
quest’esemplare sono due tavole dimostrative delle infermità del cavallo, segnata Domenego venetiano f.
intagliata con molto bel garbo.</div>
                     <span class="catalogo-bibl">— Aggiuntevi: <span class="catalogo-title">
                           <a class="catalog-link" href="/catalog/4623">Trentadue tavole di vedute prospettiche, e teatrali intagliate da Domenico Custode, da Uriese, ed
altri</a>
                        </span>.</span>
                     <span class="catalogo-bibl">— Più: Le sette scene d’una festa teatrale data in Firenze, disegnate da Alfonso Parigino, intagliate da Stefano
della Bella, ed altre 7 per le feste date in Toscana nel 1608 per le nozze del Principe, disegnate da Giul. Parigino
intagliate da Remigio Cantagallina.</span>
                  </span>
               </li>

                  <li id="item_4624" class="catalogo-item">
                     <span class="catalogo-item-label">4624.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">TEMPESTA Antonio</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4624">Serie di cavalli in vari movimenti: 30 tavole</a>
                     </span>. 
                        Dedicate al Duca di Bracciano, <span class="catalogo-date">1590</span>, in 4 pic.
</span>
               </li>

                  <li id="item_4625" class="catalogo-item">
                     <span class="catalogo-item-label">4625.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">TEMPESTA Antonio</span>,<span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4625"> Sedici cavalli in varie mosse incisi da Giuseppe Rossi vicentino in 8</a>
                     </span>.
<div class="catalogo-note">Questo mediocre artista non poteva imitare la maestria degli originali.</div>
                  </span>
               </li>

                  <li id="item_4626" class="catalogo-item">
                     <span class="catalogo-item-label">4626.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4626">TRAITÉ des voitures pour servir de supplément au nouveau parfait maréchal, avec la construction d’une Berline
nouvelle, nommée l’inversable</a>
                     </span>, <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1756</span>, in 4.
<div class="catalogo-note">Con 16 tavole intagliate in rame.</div>
                  </span>
               </li>

                  <li id="item_4627" class="catalogo-item">
                     <span class="catalogo-item-label">4627.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VERNET Carlo</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4627">e Orazio figlio</a>
                     </span>.
<div class="catalogo-note">Raccolta fatta da noi di 72 tavole di cavalli diversi, parte intagliati in rame, e parte in litografia. Incominciando
dalle parti elementari della testa del cavallo in grande, offrono la più bella serie che sia mai stata disegnata de’
studj per l’intelligenza delle parti, e del movimento di questo nobilissimo animale. Prove scelte, delle quali 32
tavole sono in gran quarto, e 40 in foglio atlantico.</div>
                     <span class="catalogo-pb" id="page_314">314</span>
                  </span>
               </li>

                  <li id="item_4628" class="catalogo-item">
                     <span class="catalogo-item-label">4628.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">WINTERII Georgii Simonis</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4628">De re equaria complectens partes tres. In tedesco, latino, francese</a>
                     </span>, 
                        <span class="catalogo-pubPlace">Norimberg</span>a <span class="catalogo-date">1687</span>,
in fol., fig.
<div class="catalogo-note">Con 48 tavole assai ben intagliate: edizione di gran lunga ampliata e pel testo e per le tavole dalla prima del 1672
e da tenersi in molto maggior pregio.</div>
                  </span>
               </li>

                  <li id="item_4629" class="catalogo-item">
                     <span class="catalogo-item-label">4629.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ZEN Anania</span>,<span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4629"> Il cavallo di razza riconosciuto dal segno de’ marchi delle più perfette razze del veneziano, della
Lombardia, e parte della Romagna</a>
                     </span>, <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1658</span>, in 16, fig.
<div class="catalogo-note">I 107 marchi di questo libriccino sono stampati in legno.</div>
                  </span>
               </li>
               </ol>
            </section>
         <a rel="prev"
            class="btn btn-default btn-sm"
            href="/catalogo/section_2.15">« Previous</a>
         <a rel="next"
            class="btn btn-default btn-sm"
            href="/catalogo/section_2.17">Next »</a>
      </div>
   </div>
</div>
