<div xmlns="http://www.w3.org/1999/xhtml" class="container">
   <div class="row">
      <div class="col-sm-3">
         <div id="facets" class="facets sidenav">
            <div class="top-panel-heading panel-heading">
               <button type="button"
                       class="facets-toggle"
                       data-toggle="collapse"
                       data-target="#facet-panel-collapse">
                  <span class="sr-only">Toggle table of contents</span>
                  <span class="glyphicon glyphicon-menu-hamburger"/>
               </button>
               <h2 class="facets-heading hidden-sm hidden-md hidden-lg">
                                  Table of Contents
                                </h2>
            </div>
            <div id="facet-panel-collapse"
                 class="collapse panel-group"
                 data-spy="affix"
                 data-offset-top="120">
               <ol class="toc">
                  <li>
                     <a href="/catalogo/section_1.0">Proemio</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.1">Delle belle arti in generale</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.2">Della Pittura Trattati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.3">Dell’intaglio in Rame e in Legno</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.4">Della scultura trattati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.5">Elementi proporzioni e anatomia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.6">Della architettura trattati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.7">Architettura teatrale moderna</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.8">Architettura teatrale antica</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.9">Prospettiva</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.10">Edifici di vario genere</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.11">Poemetti didascalici sulle arti</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.12">Scrittori del bello</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.13">Poemi, drammi e autori classici figurati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.14">Favoleggiatori</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.15">Lettere pittoriche e antiquarie</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.16">Descrizioni relazioni e memorie</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.17">Orazioni pittoriche</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.18">Feste ingressi, trionfi, spettacoli e funerali</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.19">Miscellanee</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.20">Abiti e costumanze antiche e moderne</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.21">Emblemi</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.22">Mitologia, riti e costumi religiosi di tutti i popoli</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.23">Biblie figurate vite istoriate</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.24">Dizionari e abecedari</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.25">Biografia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.26">Autori di fisonomia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.0">Proemio</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.1">Dell’antichità in genere</a>
                  </li>
                  <li class="current">Antichitá arabe, egizie, indiche ec.</li>
                  <li>
                     <a href="/catalogo/section_2.3">Antichitá etrusche e italiane avanti i romani</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.4">Antichità greche, greco-italiche, ercolanensi.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.5">Numismatica e pietre intagliate</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.6">Iscrizioni</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.7">Erudizione varia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.8">Grandi musei</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.9">Opere di scultura d’ogni genere antiche e moderne illustrate.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.10">Roma antica e moderna.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.11">Vedute di città</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.12">Guide e brevi illustrazioni</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.13">Guide</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.14">Cataloghi</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.15">Cataloghi senz’anno</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.16">Equitazione</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.17">Alcuni libri di bibliografia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.18">Mitologia imagini sacre e costumi religiosi di diversi popoli</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.19">Appendice</a>
                  </li>
               </ol>
            </div>
         </div>
      </div>
      <div class="col-sm-9">
         <section class="catalogo-section" id="2.2">
               
               
               <span class="catalogo-pb" id="page_7">7</span>

               <head>
               <h1>Antichitá arabe, egizie, indiche ec.</h1>
            </head>
               <ol class="catalogo-list">

                  <li id="item_2508" class="catalogo-item">

                     <span class="catalogo-item-label">2508.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ABDOLLATIPHI</span> 
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2508">historiae AEgypti compendium, arabice et latine.</a>
                     </span> Partim ipse vertit, partim a Pocokio versum
edendum curavit, notisque illustravit J. White S. T. P., Oxonii, typis Academicis impensis editoris, <span class="catalogo-date">1800</span>, in 4 g.
<div class="catalogo-note">Opera del più alto interesse e preziosa per l’antica erudizione non controversa che in essa ritrovasi.</div>
                  </span>
               </li>

                  <li id="item_2509" class="catalogo-item">
                     <span class="catalogo-item-label">2509.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ADLER Jacobus Georgius</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2509">Descriptio codicum quorundam Cuficorum partes Corani exhibentium etc. Praemittitur
disquisitio generalis de arte scribendi apud Arabos</a>
                     </span>, <span class="catalogo-pubPlace">Altonae</span> 
                     <span class="catalogo-date">1780</span>, in 4, M 45.
</span>
               </li>

                  <li id="item_2510" class="catalogo-item">

                     <span class="catalogo-item-label">2510.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ADLER Christianus</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2510">Museum Cuficum Borgianum Velitris illustratum</a>
                     </span>, <span class="catalogo-pubPlace">Romae</span> 
                     <span class="catalogo-date">1782</span>, in 4, fig.
<div class="catalogo-note">Bella e nitida edizione pei caratteri orientali di cui è ripiena con 12 tavole di accurato intaglio in rame. Esemplare
di dedica in vit. dorato in carta grande.</div>
                  </span>
               </li>

                  <li id="item_2511" class="catalogo-item">
                     <span class="catalogo-item-label">2511.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ANTIGUIDADES</span> 
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2511">arabes de Espana</a>
                     </span>, <span class="catalogo-pubPlace">Madrid</span> 
                     <span class="catalogo-date">1780</span>.
<div class="catalogo-note">Questo raro vol. comprende 31 tav. in foglio atlantico precedute da un solo foglio di testo, il quale unicamente
contiene l’elenco delle tavole medesime mancanti di illustrazioni, che non furono mai pubblicate e rendesi conto
in questo foglio di quanto fu ordinato ed eseguito da tre professori dell’Accad. di S. Ferdinando sotto il ministero
del C. di Florída Bianca, acciò pel ritardo del testo non venissero più lungamente defraudati i curiosi delle tavole,
delle quali si pubblicarono pochi esemplari.</div>
                  </span>
               </li>

                  <li id="item_2512" class="catalogo-item">
                     <span class="catalogo-item-label">2512.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2512">Dell’ARCHITETTURA egiziana. Dissertazione d’un corrispondente dell’Accademia delle Scienze di Parigi,

membro dell’Istituto di Bologna e di diverse Accademie</a>
                     </span>, <span class="catalogo-pubPlace">Parma</span> 
                     <span class="catalogo-date">1786</span>, in 4.

</span>
               </li>

                  <li id="item_2513" class="catalogo-item">
                     <span class="catalogo-item-label">2513.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ASSEMANI Simone</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2513">Saggio sull’origine, culto, letteratura e costumi degli arabi avanti Maometto</a>
                     </span>, <span class="catalogo-pubPlace">Padova</span> 
                     <span class="catalogo-date">1787</span>, M
50.
</span>
               </li>

                  <span class="catalogo-pb" id="page_8">8</span>


                  <li id="item_2514" class="catalogo-item">
                     <span class="catalogo-item-label">2514.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ASSEMANI</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2514">Museo Cufico Naniano illustrato</a>
                     </span>, <span class="catalogo-pubPlace">Padova</span> 
                     <span class="catalogo-date">1787</span> e 88, in 4, parte prima e seconda, fig., M. 6.
<div class="catalogo-note">Opera dottissima e illustrata con 9 tavole intagliate in rame. Con 3 grandissime tavole.</div>
                  </span>
               </li>

                  <li id="item_2515" class="catalogo-item">
                     <span class="catalogo-item-label">2515.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ASSEMANI Simonis</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2515">Globus coelestis Cufice-Arabicus Veliterni Musaei Borgiani illustratus; praemissa ejusdem
de arabum astronomia dissertazione, et adjectis duabus epistolis Josephi Toaldi astronomiae professoris</a>
                     </span>, <span class="catalogo-pubPlace">Patavii</span>
                     <span class="catalogo-date">1790</span>, in fol.
<div class="catalogo-note">Con grandissime tavole.</div>
                  </span>
               </li>

                  <li id="item_2516" class="catalogo-item">
                     <span class="catalogo-item-label">2516.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BANDINI Angeli Mariae</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2516">De obelisco Caesaris Augusti e Campi-Martii ruderibus eruto commentarius. Accedunt
CII virorum epistolae atque opuscula</a>
                     </span>, <span class="catalogo-pubPlace">Romae</span> 
                     <span class="catalogo-date">1750</span>, in fol., fig.
<div class="catalogo-note">Questo libro ripieno di note e di erudizione ha quattro tavole intagliate in rame.</div>
                  </span>
               </li>

                  <li id="item_2517" class="catalogo-item">
                     <span class="catalogo-item-label">2517.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BANIER ab.</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2517">Origine del culto prestato dagli egizj agli animali; dissertazione</a>
                     </span>, <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1748</span>, in 4, M 65.
<div class="catalogo-note">Questa è una delle dissertazioni della collezione di Antonio Groppo.</div>
                  </span>
               </li>

                  <li id="item_2518" class="catalogo-item">
                     <span class="catalogo-item-label">2518.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BROCCHI Giovan Battista</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2518">Ricerche sopra la scultura presso gli egiziani</a>
                     </span>, <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1792</span>, in 8, fig.
<div class="catalogo-note">Sono in fine al vol. 12 tavole in rame. Quest’opera è piuttosto l’estratto di una serie di nozioni e d’autori, che il
risultato d’alcuna nuova scoperta od ispezione sui luoghi.</div>
                  </span>
               </li>

                  <li id="item_2519" class="catalogo-item">
                     <span class="catalogo-item-label">2519.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">De CHAULNES M. Le Duc</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2519">Mémoire sur la veritable entrée du monument egyptien qui se trouve à quatre lieues du
Caire etc.</a>
                     </span>, <span class="catalogo-pubPlace">Rome</span> 
                     <span class="catalogo-date">1783</span>, in 4, fi., M. I.
<div class="catalogo-note">Con una tavola dimostrativa: memoria interessante per compararsi alle ulteriori verificazioni e scoperte.</div>

                     
                     
                  </span>
               </li>

                  <li id="item_2520" class="catalogo-item">
                     <span class="catalogo-item-label">2520.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">DENON</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2520">Viaggio del basso ed alto Egitto illustrato</a>
                     </span>, <span class="catalogo-pubPlace">Firenze</span>, presso Giuseppe Tofani, <span class="catalogo-date">1708</span>, vol. 2, in fol., fig.
<div class="catalogo-note">Gli editori di Firenze intesero di illustrare quest’opera con alcune note ed aggiunte e col premettere alcune tavole
per una più chiara intelligenza. Fu adoperato in ciò il chiarissimo ab. Fontani bibliotecario della Riccardiana; ma
il segreto del <span class="catalogo-pb" id="page_9">9</span> le note ed illustrazioni si fu per poter ristampare a Firenze (suddita allora della Francia)
un’opera pubblicata a Parigi, senza aver l’apparenza di ledere la proprietà e gli interessi dell’autore. Nondimeno
questa seconda edizione e prima italiana, non cede all’edizione originale ed è eseguita con molta diligenza. Le
tavole sono in numero di 544.</div>
                  </span>
               </li>

                  <li id="item_2521" class="catalogo-item">
                     <span class="catalogo-item-label">2521.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2521">DESCRIPTION de l’Egypte, ou recueil des observations et des recherches qui ont été faites en Egypte pendant
l’expédition de l’armée Française</a>
                     </span>, <span class="catalogo-pubPlace">Paris</span>, Imprimerie impériale, <span class="catalogo-date">1809 et ann. suiv.</span>, 13 vol. de texte, in fol., br. 3
livraisons in fol. max. de figures, 8 vol., in fol. gr.
<div class="catalogo-note">Quest’opera grandiosa e imponente composta da tanti elementi come sono le varie arti e scienze che abbraccia
non poteva ricevere una conformità di esecuzione come se fosse il risultato d’un solo ingegno e non tutte le parti
per conseguenza esser possono dello stesso merito: ma però per la sua vastità, per l’estensione delle cognizioni in
essa spiegate, per l’eccellenza d’alcuni autori e la magnificenza dell’intrapresa terrà luogo fra le più insigni
produzioni. Il merito della tipografia e della calcografia è assai distinto. Le tavole della storia naturale e in
ispecie dei serpenti sono pregievolissime pel merito del bulino. Pare che migliori risultati ottener si potessero
dalle macchine adoprate per le paralelle nelle tavole architettoniche, le quali sebbene di accurata esecuzione,
nullameno lasciano luogo a desiderarvi più gusto. L’impresa veramente monarchica di produrre tavole d’una
dimensione affatto nuova per l’immensità della mole sarà difficilmente imitata per gli ostacoli che incontransi
nella esecuzione meccanica superati con valor sommo. Questo nostro esemplare è dono del clementissimo Re di
Francia e l’opera non essendo per anche ultimata è tuttora slegato, acciò possa venir riunito come meglio si
crederà, allor che sia interamente compiuto il lavoro.</div>
                  </span>
               </li>

                  <li id="item_2522" class="catalogo-item">
                     <span class="catalogo-item-label">2522.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GAFFAREL Jacques</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2522">Curiosités inouies sur la sculpture talismanique des persans, horoscope des patriarches, et
lecture des étoiles</a>
                     </span>, <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1629</span>, in 8. Prima edizione. <div class="catalogo-note">Fu molte volte ristampato e anche da Giorgio Michele con
note nel 1676 al 78 in due volumetti in 8.</div>
                  </span>
               </li>

                  <li id="item_2523" class="catalogo-item">
                     <span class="catalogo-item-label">2523.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GROBERT Jacques</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2523">Description des piramides de Ghize de la ville du Kaire et de ses environs</a>
                     </span>, <span class="catalogo-pubPlace">Paris</span>, an. IX in 4,
fig., M. 106.
<div class="catalogo-note">L’autore, ufficiale d’artiglieria e membro dell’Instituto di Bologna fu al Cairo nella gran spedizione ed illustrò
questa opera con cinque tavole in rame.</div>
                     <span class="catalogo-pb" id="page_10">10</span>
                  </span>
               </li>

                  <li id="item_2524" class="catalogo-item">
                     <span class="catalogo-item-label">2524.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">HAMILTON William</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2524">Egyptiaca… Remarks on several parts of Turkey</a>
                     </span>, <span class="catalogo-pubPlace">London</span> 
                     <span class="catalogo-date">1809</span>, in 4.
<div class="catalogo-note">L’atlante di quest’opera è composto di 25 tavole in foglio legate a parte.</div>
                  </span>
               </li>

                  <li id="item_2525" class="catalogo-item">
                     <span class="catalogo-item-label">2525.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">JABLONSKI Pauli Ernesti</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2525">De Memnone graecorum et aegyptiorum hujusque celeberrima in Thebaide statua,
syntagmata cum figuris aeneis</a>
                     </span>, in 4, <span class="catalogo-pubPlace">Francofurti</span> 
                     <span class="catalogo-date">1753</span>, M. 39 e 41.
<div class="catalogo-note">Con due tavole intagliate in rame.</div>
                  </span>
               </li>

                  <li id="item_2526" class="catalogo-item">
                     <span class="catalogo-item-label">2526.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">KIRCHERII Athanasii</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2526">Obeliscus Pamphilius; hoc est interpretatio nova obelisci hierogliphici quem etc.</a>
                     </span>, <span class="catalogo-pubPlace">Romae</span>
                     <span class="catalogo-date">1650</span>, in f., fig.
</span>
               </li>

                  <li id="item_2527" class="catalogo-item">
                     <span class="catalogo-item-label">2527.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">KIRCHERII Athanasii</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2527">Oepidus egyptiacus, hoc est universalis hierogliphicae veterum doctrinae temporum injuria
abolitae instauratio</a>
                     </span>, <span class="catalogo-pubPlace">Romae</span> 
                     <span class="catalogo-date">1662</span> ed anni seg., 4 vol., in fol., fig.
<div class="catalogo-note">Questa è l’opera più dotta, profonda e stimata del Kirchero; e perciò gli esemplari sono tenuti in pregio, non
essendone mai stata intrapresa una seconda edizione, che costerebbe un grave dispendio.</div>
                  </span>
               </li>

                  <li id="item_2528" class="catalogo-item">
                     <span class="catalogo-item-label">2528.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">KIRCHERII Athanasii</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2528">China monumentis sacris et profanis, nec non naturae et artis spectaculis illustrata</a>
                     </span>, Ant.
<span class="catalogo-date">1667</span>, in fol., fig. Col ritratto dell’autore in fronte.
<div class="catalogo-note">Le molte tavole, che sono sparse nelle opere di questo autore, i viaggi, gli studi, le nozioni di questo dottissimo
frate infaticabile, rendono le sue opere pregevoli, quand’anche manchino spesso di critica; e quantunque la
filosofia fosse lontana dagli immensi progressi che ha fatto in seguito, la posterità deve essergli riconoscente.</div>

                     
                     

                  </span>
               </li>

                  <li id="item_2529" class="catalogo-item">
                     <span class="catalogo-item-label">2529.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2529">LETTRE sur les hiérogliphes - Davus sum non Oedipus</a>
                     </span>, <span class="catalogo-date">1802</span>, in 4, M. 104.
</span>
               </li>

                  <li id="item_2530" class="catalogo-item">
                   
                        <span class="catalogo-bibl">
                     <span class="catalogo-author">MAYER Luigi</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2530">Views in Egypte from the original gravings in the possession of sir Robert Ainslie. Engraved by
and under the direction of Thomas Milton</a>
                     </span>, <span class="catalogo-pubPlace">London</span> 
                     <span class="catalogo-date">1801</span>, in fol., fig.
— <span class="catalogo-bibl">
                        <span class="catalogo-title">
                           <a class="catalog-link" href="/catalog/2530">Aggiuntovi: Vue en Palestine d’après les desseins originaux de L. Mayer</a>
                        </span>, <span class="catalogo-pubPlace">London</span> 
                        <span class="catalogo-date">1804</span>.</span>
— <span class="catalogo-bibl">
                        <span class="catalogo-title">
                           <a class="catalog-link" href="/catalog/2530">Vue dans l’Empire Ottoman, principalément dans la Caramanie</a>
                        </span>, <span class="catalogo-pubPlace">London</span> 
                        <span class="catalogo-date">1803</span>.</span>
                     <div class="catalogo-note">Queste due ulteriori opere hanno la traduzione francese a fronte del testo inglese; la prima delle tre contiene 48
tavole; la seconda ne contiene 24 e la terza 24. <span class="catalogo-pb" id="page_11">11</span> L’edizione di queste opere è del massimo splendore e le
tavole colorate sono di una classica bellezza e tale che equivalgono a ben dipinti quadri da gabinetto. Nessuno
vinse ancora in questo genere le opere inglesi. La carta che servì a queste magnifiche edizioni può assolutamente
equivalere a lamine d’avorio; tanto è compatta, eguale e candida.</div>
                  </span>
               </li>

                  <li id="item_2531" class="catalogo-item">
                     <span class="catalogo-item-label">2531.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MAYER</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2531">Views in the ottoman dominions in Europe, in Asia, and some of the mediterranean islands</a>
                     </span>, <span class="catalogo-pubPlace">London</span> 
                     <span class="catalogo-date">1810</span>.
<div class="catalogo-note">Opera di merito uguale alla precedente con 71 tavole.</div>
                  </span>
               </li>

                  <li id="item_2532" class="catalogo-item">
                     <span class="catalogo-item-label">2532.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2532">MEMORIA sopra due statue egizie mandate in dono alla sua patria da Giovan Battista Bolzoni Padovano</a>
                     </span>. L’autore
è il sig. Paer gen. inglese, <span class="catalogo-pubPlace">Padova</span> 
                     <span class="catalogo-date">1819</span>, in 8, fig., M. 102.
</span>
               </li>

                  <li id="item_2533" class="catalogo-item">
                     <span class="catalogo-item-label">2533.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MERCATI Michele</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2533">Considerazioni sopra gli avvertimenti del sig. Latino Latini intorno alcune cose scritte nel
libro degli obelischi di Roma insieme con alcuni supplementi al medesimo libro</a>
                     </span>, <span class="catalogo-pubPlace">Roma</span>, per Domenico Basa.
<span class="catalogo-date">1590</span>, in 4.
</span>
               </li>

                  <li id="item_2534" class="catalogo-item">
                     <span class="catalogo-item-label">2534.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MERCATI Michele</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2534">Degli obelischi di Roma; alla Santità di Sisto V, Roma</a>
                     </span>, per Domenico Basa, <span class="catalogo-date">1589</span>, in 4.
</span>
               </li>

                  <li id="item_2535" class="catalogo-item">
                     <span class="catalogo-item-label">2535.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MILLIN Aubin Louis</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2535">Egyptiaques ou recueil de quelques monumens egyptiens inedits</a>
                     </span>, <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1816</span>, in 4, fi., M.
77.
<div class="catalogo-note">Sono 12 tavole ben intagliate, con poche pagine d’illustrazioni.</div>
                  </span>
               </li>

                  <li id="item_2536" class="catalogo-item">
                     <span class="catalogo-item-label">2536.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MURPHY James Cavanah</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2536">The arabian antiquities of Spain</a>
                     </span>, <span class="catalogo-pubPlace">London</span> 
                     <span class="catalogo-date">1816</span>, in fol. atlant., fig.
<div class="catalogo-note">Questo libro eseguito con una diligentissima esecuzione e un lusso immenso di tavole intagliate, ripete e
moltiplica una quantità di minute parti con estremo dispendio degli acquirenti: a quest’opera di tanto lusso non
corrisponde una relativa utilità: tavole 97.</div>
                  </span>
               </li>

                  <li id="item_2537" class="catalogo-item">
                     <span class="catalogo-item-label">2537.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">MURPHY James Cavanah</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2537">The history of the Mahometan empire in Spain</a>
                     </span>, <span class="catalogo-pubPlace">London</span> 
                     <span class="catalogo-date">1816</span>, in 4.
<div class="catalogo-note">Questo libro può servire di testo storico alla grand’opera atlantica di questo autore sopracitata.</div>
                  </span>
               </li>

                  <li id="item_2538" class="catalogo-item">
                     <span class="catalogo-item-label">2538.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">NIEBUHR</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2538">Voyage en Arabie et en d’autres pays circonvoisins, traduit de l’Allemand</a>
                     </span>, vol. 2, in 4, fig.,
<span class="catalogo-pubPlace">Amsterdam</span> 
                     <span class="catalogo-date">1776</span>.
<div class="catalogo-note">Con 124 tavole in rame.</div>
                     <span class="catalogo-pb" id="page_12">12</span>
                  </span>
               </li>

                  <li id="item_2539" class="catalogo-item">
                     <span class="catalogo-item-label">2539.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">NIEBUHR</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2539">Description de l’Arabie</a>
                     </span>, <span class="catalogo-pubPlace">Amsterdam</span>, in 4, fig.
<div class="catalogo-note">Con 25 tavole in rame.</div>
                  </span>
               </li>

                  <li id="item_2540" class="catalogo-item">
                     <span class="catalogo-item-label">2540.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">NIEBUHR</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2540">Recueil des questions proposées à une societé de savants qui font le voyage de l’Arabie par M.
Michaelis, avec un extrait de la description de 1’Arabie</a>
                     </span>, <span class="catalogo-pubPlace">Amsterdam</span> 
                     <span class="catalogo-date">1774</span>, in 4.
<div class="catalogo-note">In questi quattro volumi riunisconsi le migliori notizie riguardo ad ogni costumanza di quei popoli.</div>
                  </span>
               </li>

                  <li id="item_2541" class="catalogo-item">
                     <span class="catalogo-item-label">2541.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">NORDEN Frederich Lewis</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2541">Travels in Egypt, and Nubia in two volumes</a>
                     </span>, <span class="catalogo-pubPlace">London</span> 
                     <span class="catalogo-date">1757</span>, 2 vol., in fol., figurato.
<div class="catalogo-note">Quest’opera tradotta dal danese in cui fu scritta venne pubblicata in Londra in inglese dal d. Peter Tempelmann e
deve riguardarsi come una delle migliori opere che hanno preceduto la grande e colossale ultimamente in
Francia. Tutto il primo volume è consecrato al testo: il secondo alle tavole in numero di 159.</div>

                     
                     

                  </span>
               </li>

                  <li id="item_2542" class="catalogo-item">
                     <span class="catalogo-item-label">2542.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2542">OBELISCI Vaticani Opuscula. Sive Gallesini Petri, obeliscus vaticanus, pietate invictissimae crucis sacerd. ad
perpetuitatem praeclaris litteris laudatus</a>
                     </span>, <span class="catalogo-pubPlace">Romae</span> 
                     <span class="catalogo-date">1587</span>.
— <span class="catalogo-bibl">
                        <span class="catalogo-title">
                           <a class="catalog-link" href="/catalog/2542">Ordo dedicationis obelisci</a>
                        </span>, <span class="catalogo-pubPlace">Romae</span> 
                        <span class="catalogo-date">1586</span>
                     </span>.
— <span class="catalogo-bibl">
                        <span class="catalogo-title">
                           <a class="catalog-link" href="/catalog/2542">Familiaris epistola e Roma in Hispaniam missa in qua explicatur translatio obelisci</a>
                        </span>, <span class="catalogo-pubPlace">Romae</span> 
                        <span class="catalogo-date">1586</span>.</span>
— <span class="catalogo-bibl">
                        <span class="catalogo-author">Bargaei Petri Angeli</span>, <span class="catalogo-title">
                           <a class="catalog-link" href="/catalog/2542">Commentarius de obelisco</a>
                        </span>, <span class="catalogo-pubPlace">Romae</span> 
                        <span class="catalogo-date">1586</span>.</span>
— <span class="catalogo-bibl">
                        <span class="catalogo-author">De Aguilar Jo.</span> 
                        <span class="catalogo-title">
                           <a class="catalog-link" href="/catalog/2542">Baptista in dedicatione obelisci epigrammata collecta</a>
                        </span>, <span class="catalogo-pubPlace">Romae</span> 
                        <span class="catalogo-date">1587</span>.</span>
— <span class="catalogo-bibl">
                        <span class="catalogo-author">Blanci Guglielmi</span>, <span class="catalogo-title">
                           <a class="catalog-link" href="/catalog/2542">Epigrammata in obeliscum</a>
                        </span>, <span class="catalogo-pubPlace">Romae</span> 
                        <span class="catalogo-date">1586</span>.</span>
— <span class="catalogo-bibl">
                        <span class="catalogo-author">Gaci Cosimo</span>, <span class="catalogo-title">
                           <a class="catalog-link" href="/catalog/2542">Dialogo in cui si parla delle operazioni di Sisto V e in particolare del trasporto dell’obelisco
vaticano</a>
                        </span>, <span class="catalogo-pubPlace">Roma</span> 
                        <span class="catalogo-date">1586</span>.
</span>— <span class="catalogo-bibl">
                        <span class="catalogo-author">Pigafetta Filippo</span>, <span class="catalogo-title">
                           <a class="catalog-link" href="/catalog/2542">Discorso intorno la storia della guglia e della ragione del muoverla</a>
                        </span>, <span class="catalogo-pubPlace">Roma</span> 
                        <span class="catalogo-date">1586</span>, in 4.
<div class="catalogo-note">Collezione difficile a riunirsi. Col ritratto di Sisto V in principio.</div>
                     </span>
                  </span>
               </li>

                  <li id="item_2543" class="catalogo-item">
                     <span class="catalogo-item-label">2543.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">PAOLINO fra da S. Bartolomeo</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2543">Monumenti Indi <span class="catalogo-pb" id="page_13">13</span> ci del Museo Naniano illustrati</a>
                     </span>, <span class="catalogo-pubPlace">Padova</span> 
                     <span class="catalogo-date">1790</span>, in 4, fig.,
M. 26.
<div class="catalogo-note">Con una singolare tavola in rame.</div>
                  </span>
               </li>

                  <li id="item_2544" class="catalogo-item">
                     <span class="catalogo-item-label">2544.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">PIGNORIO Laurentius</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2544">Vetustissimae tabulae aeneae sacris aegyptiorum simulacris coelatae accurata explicatio
etc. Accessit ab eodem auctarium in quo ex antiquis sigillis gemmisque selectiora quaedam ejus generis, et
veterum haereticorum amuleta exhibentur </a>
                     </span>, <span class="catalogo-pubPlace">Venetiis</span>, apud Rampazzetum, sumptibus Jac. Franco, <span class="catalogo-date">1605</span>, in 4, fig.,
M. 41.
<div class="catalogo-note">La piazza s. Marco di Venezia è intagliata in rame sul frontespizio: oltre le figure sparse fra il testo dell’opera
sonovi cinque tavole in legno al fine e la grandiosa tavola isiaca in forma atlantica con questa iscrizione:
Vetustissimae Tabule aeneae Hierogliphicis hoc est sacris aegyptiorum litteris caelatae Typus quem ex Torquati
Bembi museo anno 1559 Aeneas Vicus Parmensis edidit, ac Imp. Caes. Ferdinando dedicavit, nunc denno
publicae utilitatis ergo e tenebris in lucem prodit opera et industria Jacobi Franci Venetus A. M. D. C.
Questa è la prima edizione di questo prezioso libro, che tre anni dopo de Bry ristampò a Francfort.</div>
                  </span>
               </li>

                  <li id="item_2545" class="catalogo-item">
                     <span class="catalogo-item-label">2545.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">QUATREMERE de Quincy</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2545">De l’architecture egyptienne considérée dans son origine, et comparée à l’architecture
grecque</a>
                     </span>, <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1803</span>, en 4, figurato.
<div class="catalogo-note">Con 18 tavole intagliate in rame. Dissertazione premiata dall’Accademia di Francia nel 1785, piena di buona
critica e profonda erudizione.</div>
                  </span>
               </li>

                  <li id="item_2546" class="catalogo-item">
                     <span class="catalogo-item-label">2546.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">RICAULT</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2546">Histoire de l’état present de l’empire ottoman traduite de l’anglais par M. Briot</a>
                     </span>, <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1670</span>, in 12. Avec
figures par Sebastien le Clerc.
</span>
               </li>

                  <li id="item_2547" class="catalogo-item">
                     <span class="catalogo-item-label">2547.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">Del ROSSO Giuseppe</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2547">Ricerche sull’architettura egiziana</a>
                     </span>, <span class="catalogo-pubPlace">Firenze</span> 
                     <span class="catalogo-date">1787</span>, in 8.
</span>
               </li>

                  <li id="item_2548" class="catalogo-item">
                     <span class="catalogo-item-label">2548.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">SWINBURNE Henry</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2548">Travels through Spain in the years 1775 and 1776 in which several monuments of roman, and
moorish architecture</a>
                     </span>, <span class="catalogo-pubPlace">London</span> 
                     <span class="catalogo-date">1779</span>, in fol., fig.
<div class="catalogo-note">Opera che rende conto delle antichità arabe tanto celebrate e intorno le quali si è ultimamente scritto e si sono
pubblicate opere grandiose, come se non fossero state precedentemente illustrate. Le tavole sono collocate a’
rispettivi luoghi voluti dal testo. Vedi anche Antiguidades e Murphy.</div>
                     <span class="catalogo-pb" id="page_14">14</span>
                  </span>
               </li>

                  <li id="item_2549" class="catalogo-item">
                     <span class="catalogo-item-label">2549.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">De TORRES Antonio</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2549">Letteratura de’ Numidi</a>
                     </span>, <span class="catalogo-pubPlace">Venezia</span> 
                     <span class="catalogo-date">1789</span>, in 4, M. 78.
<div class="catalogo-note">Memoria assai dotta e interessante.</div>
                  </span>
               </li>

                  <li id="item_2550" class="catalogo-item">
                     <span class="catalogo-item-label">2550.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">WARBURTON Wittel</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2550">Éssai sur les hiéroglyphes des egyptiens où l’on voit l’origine, et les progrès du langage et
de l’écriture, l’antiquité des sciences en Egypte etc.</a>
                     </span> traduit de l’anglais par Léonard de Malpeines, vol. 2, en 12,
fig., <span class="catalogo-pubPlace">Paris</span>, chez Guerin, <span class="catalogo-date">1744</span>.
<div class="catalogo-note">Opera curiosa e dottissima con note interessanti e manoscritte di M. di Anse de Villoison, cui appartenne questo
esemplare.</div>

                     
                     
                  </span>
               </li>

                  <li id="item_2551" class="catalogo-item">
                     <span class="catalogo-item-label">2551.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ZOEGA Georgii</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2551">De origine et usu obeliscorum</a>
                     </span>, <span class="catalogo-pubPlace">Romae</span> 
                     <span class="catalogo-date">1797</span>, in fol., fig.
<div class="catalogo-note">Con otto tavole in rame grandissime, opera insigne e profonda.</div>
                  </span>
               </li>

                  <li id="item_2552" class="catalogo-item">
                     <span class="catalogo-item-label">2552.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ZOEGA Georgii</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2552">Nummi Egyptii. Vedi nella Numismatica.</a>
                     </span>
                  </span>
               </li>
               </ol>
            </section>
         <a rel="prev"
            class="btn btn-default btn-sm"
            href="/catalogo/section_2.1">« Previous</a>
         <a rel="next"
            class="btn btn-default btn-sm"
            href="/catalogo/section_2.3">Next »</a>
      </div>
   </div>
</div>
