<div xmlns="http://www.w3.org/1999/xhtml" class="container">
   <div class="row">
      <div class="col-sm-3">
         <div id="facets" class="facets sidenav">
            <div class="top-panel-heading panel-heading">
               <button type="button"
                       class="facets-toggle"
                       data-toggle="collapse"
                       data-target="#facet-panel-collapse">
                  <span class="sr-only">Toggle table of contents</span>
                  <span class="glyphicon glyphicon-menu-hamburger"/>
               </button>
               <h2 class="facets-heading hidden-sm hidden-md hidden-lg">
                                  Table of Contents
                                </h2>
            </div>
            <a class="btn btn-primary vatican-catalogo"
               href="https://digi.vatlib.it/view/STP_Riserva.IV.169(1)">Vatican Annotated Catalogo</a>
            <div id="facet-panel-collapse"
                 class="collapse panel-group"
                 data-spy="affix"
                 data-offset-top="120">
               <ol class="toc">
                  <li>
                     <a href="/catalogo/section_1.0">Proemio</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.1">Delle belle arti in generale</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.2">Della Pittura Trattati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.3">Dell’intaglio in Rame e in Legno</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.4">Della scultura trattati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.5">Elementi proporzioni e anatomia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.6">Della architettura trattati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.7">Architettura teatrale moderna</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.8">Architettura teatrale antica</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.9">Prospettiva</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.10">Edifici di vario genere</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.11">Poemetti didascalici sulle arti</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.12">Scrittori del bello</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.13">Poemi, drammi e autori classici figurati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.14">Favoleggiatori</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.15">Lettere pittoriche e antiquarie</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.16">Descrizioni relazioni e memorie</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.17">Orazioni pittoriche</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.18">Feste ingressi, trionfi, spettacoli e funerali</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.19">Miscellanee</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.20">Abiti e costumanze antiche e moderne</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.21">Emblemi</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.22">Mitologia, riti e costumi religiosi di tutti i popoli</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.23">Biblie figurate vite istoriate</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.24">Dizionari e abecedari</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.25">Biografia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.26">Autori di fisonomia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.0">Proemio</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.1">Dell’antichità in genere</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.2">Antichitá arabe, egizie, indiche ec.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.3">Antichitá etrusche e italiane avanti i romani</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.4">Antichità greche, greco-italiche, ercolanensi.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.5">Numismatica e pietre intagliate</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.6">Iscrizioni</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.7">Erudizione varia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.8">Grandi musei</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.9">Opere di scultura d’ogni genere antiche e moderne illustrate.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.10">Roma antica e moderna.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.11">Vedute di città</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.12">Guide e brevi illustrazioni</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.13">Guide</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.14">Cataloghi</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.15">Cataloghi senz’anno</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.16">Equitazione</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.17">Alcuni libri di bibliografia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.18">Mitologia imagini sacre e costumi religiosi di diversi popoli</a>
                  </li>
                  <li class="current">Appendice</li>
               </ol>
            </div>
         </div>
      </div>
      <div class="col-sm-9">
         <section class="catalogo-section" id="2.19">
               <head>
               <h1>Appendice</h1>
            </head>
               <ol class="catalogo-list">

                  <li id="item_4760" class="catalogo-item">
                     <span class="catalogo-item-label">4760.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">AHMED Teifascite</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4760">Fior di pensieri sulle pietre preziose. Opera stampata nel suo originale arabo con la traduzione
e note di Antonio Ranieri</a>
                     </span>, <span class="catalogo-pubPlace">Firenze</span> 
                     <span class="catalogo-date">1818</span>, in 4.
</span>
               </li>

                  <li id="item_4761" class="catalogo-item">
                     <span class="catalogo-item-label">4761.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALDINI Giovanni</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4761">Memoria sulla illuminazione a gas dei teatri, e progetto di applicarla all’I. R. Teatro della Scala
in Milano</a>
                     </span>, <span class="catalogo-pubPlace">Milano</span> 
                     <span class="catalogo-date">1820</span>, in 8, con due tavole.
</span>
               </li>

                  <li id="item_4762" class="catalogo-item">
                     <span class="catalogo-item-label">4762.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BABINGTON Thomas Pompeii</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4762">A poem which obtained the Chancellor’s Medal at the Cambridge
Commencement</a>
                     </span>, July <span class="catalogo-date">1819</span>, in 8.
</span>
               </li>

                  <li id="item_4763" class="catalogo-item">
                     <span class="catalogo-item-label">4763.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">BUSCHING Giovan Gustavo</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4763">Dissertazione intorno una statuetta antica rappresentante l’idolo Tyr</a>
                     </span>, <span class="catalogo-pubPlace">Breslavia</span> 
                     <span class="catalogo-date">1819</span>,
in 8, con una tavola in rame in lingua tedesca.
</span>
               </li>

                  <li id="item_4764" class="catalogo-item">
                     <span class="catalogo-item-label">4764.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4764">CATALOGUE des livres de la bibliothéque de feu M. Millin</a>
                     </span>, <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1819</span>, in 8.
</span>
               </li>

                  <li id="item_4765" class="catalogo-item">
                     <span class="catalogo-item-label">4765.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CENNINI Cennino</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4765">Trattato della pittura messo in luce la prima volta con annotazioni del cavalier Giuseppe
Tambroni</a>
                     </span>, <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1821</span>, in 8, esemplare in carta velina.
<div class="catalogo-note">Questa edizione venne tratta dal manoscritto che trovasi nella Vaticana, il quale verosimilmente era stato
trascritto da quella della Laurenziana di Firenze, che da noi ritiensi per originale, e da cui ne traemmo copia, e
venne citata in una nota nel I volume della Storia della Scultura.</div>
                  </span>
               </li>

                  <li id="item_4766" class="catalogo-item">
                     <span class="catalogo-item-label">4766.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CIAMPI Sebastiano</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4766">Feriae Varsavienses</a>
                     </span>, <span class="catalogo-pubPlace">Varsaviae</span> 
                     <span class="catalogo-date">1819</span>, in 4.
<div class="catalogo-note">Trattasi particolarmente in questo quaderno d’illustrare qualche luogo di Pausania, ed in ispecie del tempio di
Giove Olimpico, con una tavola in fol.</div>
                  </span>
               </li>

                  <li id="item_4767" class="catalogo-item">
                     <span class="catalogo-item-label">4767.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CIACCIAPORCI Antonio</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4767">Degli etruschi, lettere</a>
                     </span>, <span class="catalogo-pubPlace">Firenze</span> 
                     <span class="catalogo-date">1816</span>, in 8.
<div class="catalogo-note">Sono quindici lettere dirette ad opporsi a quanto in tal materia era stato enunciato da autori gravissimi.</div>
                  </span>
               </li>

                  <li id="item_4768" class="catalogo-item">
                     <span class="catalogo-item-label">4768.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CORDERO Sanquintino Giulio</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4768">Delle misure luc <span class="catalogo-pb" id="page_330">330</span> chesi, e del miglior modo di ordinarle, lezione
accademica</a>
                     </span>, <span class="catalogo-pubPlace">Badia Fiesolana</span> 
                     <span class="catalogo-date">1821</span>, in 8.
</span>
               </li>

                  <li id="item_4769" class="catalogo-item">
                     <span class="catalogo-item-label">4769.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CORDERO Sanquintino Giulio</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4769">Della Zecca e degli antichi marchesi della Toscana edizione seconda emendata</a>
                     </span>,
<span class="catalogo-pubPlace">Pisa</span> 
                     <span class="catalogo-date">1821</span>, in 8.
<div class="catalogo-note">In quest’operetta dottissima si fanno importanti osservazioni sull’opera del signor Menizzi intorno la Zecca e le
monete veneziane.</div>
                  </span>
               </li>

                  <li id="item_4770" class="catalogo-item">
                     <span class="catalogo-item-label">4770.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">CUNNINGHAM Francis</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4770">Notes récuillies en visitant les prisons de la Suisse, et rémarques sur les moyens de les
améliorer</a>
                     </span>, <span class="catalogo-pubPlace">Geneve</span> 
                     <span class="catalogo-date">1820</span>, in 8.
</span>
               </li>

                  <li id="item_4771" class="catalogo-item">
                     <span class="catalogo-item-label">4771.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4771">DESCRIPTION, an improved history and description of the Tower of London</a>
                     </span>, <span class="catalogo-pubPlace">London</span> 
                     <span class="catalogo-date">1819</span>, in 8.
</span>
               </li>

                  <li id="item_4772" class="catalogo-item">
                     <span class="catalogo-item-label">4772.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4772">DESCRIPTION of Fonthill Abbey Wiltshire with views</a>
                     </span>, <span class="catalogo-pubPlace">London</span> 
                     <span class="catalogo-date">1817</span>, in 8.
<div class="catalogo-note">Questa descrizione della villa del cavalier William Beckford è tanto più preziosa quanto è maggiore la difficoltà
di vedere questo luogo magnifico e pittoresco. Il libro è ornato da 9 tavole di finissimo intaglio, e termina con
alcuni cenni su i più singolari libri della biblioteca di quel palazzo.</div>
                  </span>
               </li>

                  <li id="item_4773" class="catalogo-item">
                     <span class="catalogo-item-label">4773.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4773">DESCRIPTION nouvelle de Blencheim, chateau de sa grandeur le Duc de Malborough</a>
                     </span>, <span class="catalogo-pubPlace">Oxford</span> 
                     <span class="catalogo-date">1815</span>, in 12.

                     
                     
<div class="catalogo-note">Con alcune tavole in rame.</div>
                  </span>
               </li>

                  <li id="item_4774" class="catalogo-item">
                     <span class="catalogo-item-label">4774.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4774">DESCRIZIONE delle pitture a fresco di Luca Giordano esistenti nelle II. RR. Galleria, e Biblioteca Riccardiana</a>
                     </span>,
<span class="catalogo-pubPlace">Firenze</span> 
                     <span class="catalogo-date">1819</span>, in 8, italiano e francese, esemplare in carta distinta.
</span>
               </li>

                  <li id="item_4775" class="catalogo-item">
                     <span class="catalogo-item-label">4775.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4775">DISCORSI letti nella I. R. Accademia di Belle Arti in Venezia per la distribuzione de’ premj dell’anno <span class="catalogo-date">1820</span>
                        </a>
                     </span>, in 8.
<div class="catalogo-note">In questo volumetto contiensi l’Elogio del Piranesi scritto dall’avvocato Pietro Biagi, e un Discorso teorico sulle
piccole differenze del signor Antonio Diedo. L’Accademia Veneta ha per costume d’illustrare annualmente col
mezzo d’un oratore le memorie d’uno degli antichi artisti della sua scuola, piuttosto che vagare col soccorso
dell’eloquenza in tante inutili ripetizioni di cose dette e ridette.</div>
                  </span>
               </li>

                  <li id="item_4776" class="catalogo-item">
                     <span class="catalogo-item-label">4776.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4776">DISCORSO letto nella grande aula dell’I. R. Palazzo delle Scienze ed Arti in occasione della distribuzione de’
premj nell’I. R. Accademia delle Belle Arti l’anno <span class="catalogo-date">1820</span>
                        </a>
                     </span>, in <span class="catalogo-pubPlace">Milano</span>, in 8.
<div class="catalogo-note">Questo è un discorso teorico del signor Fumagalli segretario di quell’Accademia.</div>
                     <span class="catalogo-pb" id="page_331">331</span>
                  </span>
               </li>

                  <li id="item_4777" class="catalogo-item">
                     <span class="catalogo-item-label">4777.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4777">The EXHIBITION of the Royal Accademy 1819 the fifty first</a>
                     </span>, <span class="catalogo-pubPlace">London</span>, in 4. Unitovi British Institution for
promoting the fine arts in the kingdom, <span class="catalogo-pubPlace">London</span> 
                     <span class="catalogo-date">1819</span>, in 4.
</span>
               </li>

                  <li id="item_4778" class="catalogo-item">
                     <span class="catalogo-item-label">4778.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">FRANCESCHI Giacomo</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4778">Igéa de’ Bagni, e più particolarmente di quelli di Lucca, edizione seconda</a>
                     </span>, <span class="catalogo-pubPlace">Lucca</span> 
                     <span class="catalogo-date">1820</span>, in
8.
</span>
               </li>

                  <li id="item_4779" class="catalogo-item">
                     <span class="catalogo-item-label">4779.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GAZZERA Costanzo</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4779">Lettera al C. Giuseppe Franchi di Pont intorno alle opere di pittura, e di scultura esposte nel
Palazzo della R. Università l’estate del 1820</a>
                     </span>, <span class="catalogo-pubPlace">Torino</span> 
                     <span class="catalogo-date">1821</span>, in 8.
</span>
               </li>

                  <li id="item_4780" class="catalogo-item">
                     <span class="catalogo-item-label">4780.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GRAZIADEI Ercole</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4780">Discorso sopra lo studio dell’ornato</a>
                     </span>, <span class="catalogo-pubPlace">Ferrara</span> 6 aprile <span class="catalogo-date">1820</span>.
<div class="catalogo-note">Seguito da altro discorso sopra la vita di Benvenuto Tisi da Garofolo, stesso luogo ed anno. Il primo
specialmente di questi discorsi è pieno di bellissime idee.</div>
                  </span>
               </li>

                  <li id="item_4781" class="catalogo-item">
                     <span class="catalogo-item-label">4781.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">GUATTANI Antonio</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4781">Spiegazione di un basso rilievo denominato i Fanti scritti di Carrara</a>
                     </span>, <span class="catalogo-pubPlace">Roma</span> 
                     <span class="catalogo-date">1819</span>, in 4.
<div class="catalogo-note">Con due tavole e il frontespizio figurato.</div>
                  </span>
               </li>

                  <li id="item_4782" class="catalogo-item">
                     <span class="catalogo-item-label">4782.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">HAYDON B. R. pittore inglese</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4782">Giudizio dei conoscitori delle Belle Arti comparato con quello dei professori di
esse relativamente ai marmi di Lord Elgin</a>
                     </span>, <span class="catalogo-pubPlace">Londra</span> 
                     <span class="catalogo-date">1818</span>, in 8.
</span>
               </li>

                  <li id="item_4783" class="catalogo-item">
                     <span class="catalogo-item-label">4783.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">HAYDON B. R. pittore inglese</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4783">Comparaison entre la tête d’un des chévaux de Venise qui etoient sur l’arc
triomphale des Thuilléries, et qu’on dit etre de Lysippe, et la tête du cheval d’Elgin du Parthénon</a>
                     </span>, <span class="catalogo-pubPlace">Londres</span> 
                     <span class="catalogo-date">1818</span>,
in 8.
<div class="catalogo-note">Con una tavola vivacemente intagliata. Sono asserite in questa memoria alcune cose, che non sembrano fondate,
intorno i cavalli di Venezia.</div>
                  </span>
               </li>

                  <li id="item_4784" class="catalogo-item">
                     <span class="catalogo-item-label">4784.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">HAYDON B. R. pittore inglese</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4784">Erreur de Visconti relative à l’action de la statue de l’Ilissus, dans la colléction
d’Elgin au Museum Britannique</a>
                     </span>, <span class="catalogo-pubPlace">Lond.</span> 
                     <span class="catalogo-date">1819</span>, in 8, con una tavola.
</span>
               </li>

                  <li id="item_4785" class="catalogo-item">
                     <span class="catalogo-item-label">4785.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">HUGONI Hermanni</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4785">Pia desideria emblematis, elegiis, et affectibus SS. Patrum illustrata</a>
                     </span>, <span class="catalogo-pubPlace">Ant.</span> 
                     <span class="catalogo-date">1628</span>, in 12, fig.
<div class="catalogo-note">Con 45 tavole, oltre il frontespizio intagliato in legno.</div>
                  </span>
               </li>

                  <li id="item_4786" class="catalogo-item">
                     <span class="catalogo-item-label">4786.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4786">IDEE d’un monumento a Dante Alighieri, lettere <span class="catalogo-pb" id="page_332">332</span> due, e in appendice l’Edituo della Chiesa di S. Croce in
Firenze</a>
                     </span>, opuscolo non mai pubblicato, <span class="catalogo-pubPlace">Italia</span> 
                     <span class="catalogo-date">1819</span>, in 8.
<div class="catalogo-note">Vedesi in questo libretto che il monumento a Dante verrà forse inalzato per singolar protezione d’un Mecenato,
che non ha voluto aprire un concorso, non solo, escludendo gli artisti e le Accademie d’Itailia, ma neppure
risvegliando l’emulazione degli scultori toscani.</div>
                  </span>
               </li>

                  <li id="item_4787" class="catalogo-item">
                     <span class="catalogo-item-label">4787.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">IMPERIALE Giovan Vincenzo</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4787">La Santa Teresa, componimenti ed emblemi con otto tavole in rame, compreso il

                     
                     
frontespizio</a>
                     </span>, <span class="catalogo-pubPlace">Venezia</span>, presso il Deuchino, <span class="catalogo-date">1622</span>, in 8.
</span>
               </li>

                  <li id="item_4788" class="catalogo-item">
                     <span class="catalogo-item-label">4788.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">INGHIRAMI Francesco</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4788">Alcune figuline di Arezzo esposte</a>
                     </span>, <span class="catalogo-pubPlace">Badia Fiesolana</span> 
                     <span class="catalogo-date">1820</span>, in 4, fig.
<div class="catalogo-note">Con 4 tavole in rame colorate. Undici copie soltanto vennero stampate di questo opuscolo estratto dalla
grand’opera di questo autore come leggesi nella pagina a retro del frontespizio, ove è indicato il nome dei
personaggi cui furono destinate.</div>
                  </span>
               </li>

                  <li id="item_4789" class="catalogo-item">
                     <span class="catalogo-item-label">4789.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">KNIGHT R. P.</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4789">An inquiry into the symbolical language of ancient art and mythology</a>
                     </span>, <span class="catalogo-pubPlace">Lond.</span> 
                     <span class="catalogo-date">1818</span>, in 8.
</span>
               </li>

                  <li id="item_4790" class="catalogo-item">
                     <span class="catalogo-item-label">4790.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">Da PERSICO Giovan Battista</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4790">Anfiteatro di Verona e suoi nuovi scavi descritti</a>
                     </span>, <span class="catalogo-pubPlace">Verona</span> 
                     <span class="catalogo-date">1820</span>, in 8, fig.
<div class="catalogo-note">Con tre tavole e il frontespizio figurato. In questo insigne anfiteatro continuano le operazioni dirette a restituirlo
al suo pristino splendore per cura dell’autore, attuale podestà di Verona, il qual sta pubblicnado in due volumi
una guida ragionata pel forestiere onde possa ammirare le curiosità della sua patria.</div>
                  </span>
               </li>

                  <li id="item_4791" class="catalogo-item">
                     <span class="catalogo-item-label">4791.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">PETRARCA</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4791">Le Rime</a>
                     </span>, <span class="catalogo-pubPlace">Padova</span>, nella tipografia del Seminario, <span class="catalogo-date">1819 e 1820</span>, vol. 2, in 4 gr., fig.
<div class="catalogo-note">L’edizione splendida di questo Canzoniere fu fatta per cura del signor abate Antonio Marsan professore
nell’Università di Padova. L’opera è ornata di molti accuratissimi intagli, fra’ quali si distinguono due ritratti,
l’uno del Petrarca, l’altro di Laura, preso da un creduto originale di Simone Memmi, oltre i quali sono sette
vedute di luoghi relativi al Poeta intagliate da’ buoni maestri. La vita del Poeta estesa con finezza di
accorgimento, come se egli stesso parlasse, le nozioni amplissime sparse nel volume, le cognizioni bibliografiche
delle edizioni di Petrarca, e il lusso elegante di quest’opera, assicurano all’egregio illustratore ed editore la
riconoscenza della posterità.</div>
                  </span>
               </li>

                  <li id="item_4792" class="catalogo-item">
                     <span class="catalogo-item-label">4792.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">QUATREMERE de Quincy</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4792">Lettre écrite de Londres <span class="catalogo-pb" id="page_333">333</span> à Rome, ed adressée à M. Canova sur les marbres
d’Elgin ou les sculptures du temple de Minerve à Athenes</a>
                     </span>, <span class="catalogo-pubPlace">Rome</span> 
                     <span class="catalogo-date">1818</span>, in 8.
</span>
               </li>

                  <li id="item_4793" class="catalogo-item">
                     <span class="catalogo-item-label">4793.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4793">STATUTI due suntuarii circa il vestire degli uomini e delle donne ordinati prima dell’anno 1322 dal comune di
Perugia</a>
                     </span>, tratti da un testo inedito, <span class="catalogo-pubPlace">Perugia</span> 
                     <span class="catalogo-date">1821</span>, in 4.
</span>
               </li>

                  <li id="item_4794" class="catalogo-item">
                     <span class="catalogo-item-label">4794.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">STROCCHI Dionigi, e Marchetti Giovanni</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4794">Discorso, e canzone in onore di Ennio Q. Visconti</a>
                     </span>, <span class="catalogo-pubPlace">Bologna</span> 
                     <span class="catalogo-date">1819</span>, in 8.
</span>
               </li>

                  <li id="item_4795" class="catalogo-item">
                     <span class="catalogo-item-label">4795.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">STUKELEY D.</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4795">Paleografia britannica or discourses on antiquities in Britain in which is given a particular account
of Lady Roisia (foundress of Royston) and her family witch a description of her cave there discovered in 1742</a>
                     </span>,
<span class="catalogo-pubPlace">Cambridge</span> 
                     <span class="catalogo-date">1795</span>, in 8.
</span>
               </li>

                  <li id="item_4796" class="catalogo-item">
                     <span class="catalogo-item-label">4796.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">TRENTA Tommaso</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4796">Guida del forestiere per la città e contado di Lucca</a>
                     </span>, <span class="catalogo-pubPlace">Lucca</span> 
                     <span class="catalogo-date">1820</span>, in 8.
<div class="catalogo-note">Quest’operetta è fatta con critica, consultate le migliori fonti per attingere notizie preziose.</div>
                  </span>
               </li>

                  <li id="item_4797" class="catalogo-item">
                     <span class="catalogo-item-label">4797.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VERMIGLIOLI Giovan Battista</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4797">Elogio d’Ignazio Danti perugino</a>
                     </span>, <span class="catalogo-pubPlace">Perugia</span> 
                     <span class="catalogo-date">1820</span>, in 4.
</span>
               </li>

                  <li id="item_4798" class="catalogo-item">
                     <span class="catalogo-item-label">4798.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VERMIGLIOLI Giovan Battista</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4798">Principii della stampa in Perugia, e suoi progressi per tutto il XV secolo</a>
                     </span>, edizione
seconda, <span class="catalogo-pubPlace">Perugia</span> 
                     <span class="catalogo-date">1820</span>, in 8.
</span>
               </li>

                  <li id="item_4799" class="catalogo-item">
                     <span class="catalogo-item-label">4799.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4799">La VILLA Sampieri in Casalecchio, sonetti epitalamici</a>
                     </span>, <span class="catalogo-pubPlace">Bologna</span> 
                     <span class="catalogo-date">1818</span>, in 4.
<div class="catalogo-note">Scrissero uomini chiarissimi per trattare delle varie e belle invenzioni che decorano questa villa, da noi riputata
una delle più graziose d’Italia, che nel suo nascere promette per cura del suo possessore d’abbellirsi ancor
maggiormente.</div>
                  </span>
               </li>

                  <li id="item_4800" class="catalogo-item">
                     <span class="catalogo-item-label">4800.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">VISCONTI Ennio Quirino</span>, <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/4800">Mémoire sur les ouvrages de sculpture du Parténon, et de quelques édifices de
l’Acropole à Athenes</a>
                     </span>, <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1818</span>, in 12.
</span>
               </li>
               </ol>
               
            </section>
         <a rel="prev"
            class="btn btn-default btn-sm"
            href="/catalogo/section_2.18">« Previous</a>
         <a rel="next" class="btn btn-default btn-sm disabled" href="#">Next »</a>
      </div>
   </div>
</div>
