<div xmlns="http://www.w3.org/1999/xhtml" class="container">
   <div class="row">
      <div class="col-sm-3">
         <div id="facets" class="facets sidenav">
            <div class="top-panel-heading panel-heading">
               <button type="button"
                       class="facets-toggle"
                       data-toggle="collapse"
                       data-target="#facet-panel-collapse">
                  <span class="sr-only">Toggle table of contents</span>
                  <span class="glyphicon glyphicon-menu-hamburger"/>
               </button>
               <h2 class="facets-heading hidden-sm hidden-md hidden-lg">
                                  Table of Contents
                                </h2>
            </div>
            <div id="facet-panel-collapse"
                 class="collapse panel-group"
                 data-spy="affix"
                 data-offset-top="120">
               <ol class="toc">
                  <li>
                     <a href="/catalogo/section_1.1">Delle belle arti in generale</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.2">Della Pittura Trattati</a>
                  </li>
                  <li class="current">Dell’antichità in genere</li>
                  <li>
                     <a href="/catalogo/section_2.11">Vedute di città</a>
                  </li>
               </ol>
            </div>
         </div>
      </div>
      <div class="col-sm-9">
         <section class="catalogo-section" id="2.1">
            <head>
               <h1>Dell’antichità in genere</h1>
            </head>
            <ol class="catalogo-list">
              <li id="item_2475" class="catalogo-item">
                  <span class="catalogo-item-label">2475.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ABREGE</span>
                     <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/2475"> des transactions philosophiques de la Societé Royale de Londres: redigé par Gibelin. Onzieme Partie:
                antiquité, et beaux arts</a>
                     </span>, <span class="catalogo-pubPlace">Paris</span> 
                     <span class="catalogo-date">1789 e 1790</span>, vol. 2, en 8, fig.
	      </span>
               </li>
	           </ol>
          </section>
      </div>
   </div>
</div>
