<div xmlns="http://www.w3.org/1999/xhtml" class="container">
   <div class="row">
      <div class="col-sm-3">
         <div id="facets" class="facets sidenav">
            <div class="top-panel-heading panel-heading">
               <button type="button"
                       class="facets-toggle"
                       data-toggle="collapse"
                       data-target="#facet-panel-collapse">
                  <span class="sr-only">Toggle table of contents</span>
                  <span class="glyphicon glyphicon-menu-hamburger"/>
               </button>
               <h2 class="facets-heading hidden-sm hidden-md hidden-lg">
                                  Table of Contents
                                </h2>
            </div>
            <div id="facet-panel-collapse"
                 class="collapse panel-group"
                 data-spy="affix"
                 data-offset-top="120">
               <ol class="toc">
                  <li>
                     <a href="/catalogo/section_1.0">Proemio</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.1">Delle belle arti in generale</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.2">Della Pittura Trattati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.3">Dell’intaglio in Rame e in Legno</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.4">Della scultura trattati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.5">Elementi proporzioni e anatomia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.6">Della architettura trattati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.7">Architettura teatrale moderna</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.8">Architettura teatrale antica</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.9">Prospettiva</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.10">Edifici di vario genere</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.11">Poemetti didascalici sulle arti</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.12">Scrittori del bello</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.13">Poemi, drammi e autori classici figurati</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.14">Favoleggiatori</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.15">Lettere pittoriche e antiquarie</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.16">Descrizioni relazioni e memorie</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.17">Orazioni pittoriche</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.18">Feste ingressi, trionfi, spettacoli e funerali</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.19">Miscellanee</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.20">Abiti e costumanze antiche e moderne</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.21">Emblemi</a>
                  </li>
                  <li class="current">Mitologia, riti e costumi religiosi di tutti i popoli</li>
                  <li>
                     <a href="/catalogo/section_1.23">Biblie figurate vite istoriate</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.24">Dizionari e abecedari</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.25">Biografia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_1.26">Autori di fisonomia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.0">Proemio</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.1">Dell’antichità in genere</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.2">Antichitá arabe, egizie, indiche ec.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.3">Antichitá etrusche e italiane avanti i romani</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.4">Antichità greche, greco-italiche, ercolanensi.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.5">Numismatica e pietre intagliate</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.6">Iscrizioni</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.7">Erudizione varia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.8">Grandi musei</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.9">Opere di scultura d’ogni genere antiche e moderne illustrate.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.10">Roma antica e moderna.</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.11">Vedute di città</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.12">Guide e brevi illustrazioni</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.13">Guide</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.14">Cataloghi</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.15">Cataloghi senz’anno</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.16">Equitazione</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.17">Alcuni libri di bibliografia</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.18">Mitologia imagini sacre e costumi religiosi di diversi popoli</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.19">Appendice</a>
                  </li>
               </ol>
            </div>
         </div>
      </div>
      <div class="col-sm-9">
         <section class="catalogo-section" id="1.22">
            <head>
               <h1>Mitologia, riti e costumi religiosi di tutti i popoli. Questo articolo, che doveva qui collocarsi, si veda in fine al Secondo Volume.</h1>
            </head>
  
            
         </section>
      </div>
   </div>
</div>
