<div xmlns="http://www.w3.org/1999/xhtml" class="container">
   <div class="row">
      <div class="col-sm-3">
         <div id="facets" class="facets sidenav">
            <div class="top-panel-heading panel-heading">
               <button type="button"
                       class="facets-toggle"
                       data-toggle="collapse"
                       data-target="#facet-panel-collapse">
                  <span class="sr-only">Toggle table of contents</span>
                  <span class="glyphicon glyphicon-menu-hamburger"/>
               </button>
               <h2 class="facets-heading hidden-sm hidden-md hidden-lg">
                                  Table of Contents
                                </h2>
            </div>
            <div id="facet-panel-collapse"
                 class="collapse panel-group"
                 data-spy="affix"
                 data-offset-top="120">
               <ol class="toc">
                  <li>
                     <a href="/catalogo/section_1.1">Delle belle arti in generale</a>
                  </li>
                  <li class="current">Della Pittura Trattati</li>
                  <li>
                     <a href="/catalogo/section_2.1">Dell’antichità in genere</a>
                  </li>
                  <li>
                     <a href="/catalogo/section_2.11">Vedute di città</a>
                  </li>
               </ol>
            </div>
         </div>
      </div>
      <div class="col-sm-9">
         <section class="catalogo-section" id="1.2">
            <span class="catalogo-pb" id="page_11">11</span>
	  
	  
	           <head>
               <h1>Della Pittura Trattati</h1>
            </head>
	           <ol class="catalogo-list">
	              <li id="item_66" class="catalogo-item">
                  <span class="catalogo-item-label">66.</span> 
                  <span class="catalogo-bibl">
                     <span class="catalogo-author">ALBERTI Leon Battista</span>, 
                <span class="catalogo-title">
                        <a class="catalog-link" href="/catalog/66">La pittura tradotta per mess. Lodovico Domenichi.</a>
                     </span> 
                     <span class="catalogo-extent">Libri tre,</span> 
                     <span class="catalogo-pubPlace">Venezia,</span>
	         Giolito, 
                <span class="catalogo-date">1547,</span>
                 in 8.
              </span>
	              </li>
	           </ol>
	        </section>
      </div>
   </div>
</div>
