<body class="splash">
  <header>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/partners">Partners</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/news">News</a></li>
      </ul>
    </header>
    <section class="intro">
        <div class="wrap">
          <div class="center">
            <h1>The Digital Cicognara Library <span class="small"><span class="italic">An</span> Open-Access Collection <span class="italic">of the</span> Early Literature of the Arts</span></h1>
            <div class="search-browse--home">
              <%= render_search_bar  %>
              <%= link_to 'Browse the Catalogo', 'catalogo', class: 'btn btn-primary browse-catalogo' %>
            </div>
          </div>
        </div>
      </section>
