<section id="microfiche_copyright">
  <div class="wrap">
    <h1>Microfiche Copyright</h1>
    <p>This microfiche has been digitized by the Digital Cicognara Library with
       the permission of the Vatican Library. Neither the Vatican Library nor the
       Digital Cicognara Library claims any copyright governing this digital
       resource. It is provided for free, on a non-commercial, open-access basis,
       for fair-use academic and research purposes only. Anyone who claims
       copyright over any part of these resources and feels that they should not
       be presented in this manner is invited to contact the Digital Cicognara
       Library which will consider such concerns and make every effort to respond
       appropriately.</p>

    <p>For publication purposes, it is possible to order high-resolution,
       black-and-white or color photographic reproductions by using the
       appropriate Vatican Library order forms. Fees include the cost of the
       reproductions plus the publication rights. For further information, see
       the Vatican Library’s Photographic Reproductions web page at
       <a href="https://www.vatlib.it/home.php?pag=riproduzioni_fotografiche">
       https://www.vatlib.it/home.php?pag=riproduzioni_fotografiche</a>.
       High-resolution photography is available only through the Vatican Library.</p>
  </div>
</section>
