
<section id="news">
  <div class="wrap">
    <h1>Latest News</h1>
    <div class="news-entry">
      <h2>Call for Papers: Historic Libraries and the Early Historiography of Art</h2>
      <p class="dateline">5 July 2018</p>
      <p>Seeking papers for a session on "Historic Libraries &amp; the Early Historiography of Art" at the <a href="http://www.collegeart.org/programs/conference/">CAA Annual Conference 2019</a> in New York, February 13 - 16, 2019. For more information see <a href="https://blog.arthistoricum.net/beitrag/2018/07/02/call-for-papers-historic-libraries-and-the-early-historiography-of-art/">Call for Papers</a>. Deadline for papers: August 6 2018</p>
    </div>
    <hr>
    <div class="news-entry">
      <h2>ARLIS UK &amp; IRELAND 2018: Museum libraries and library history</h2>
      <p class="dateline">5 July 2018</p>
      <p>On Friday July 27th 2018 Jonathan Franklin (The National Gallery, London) is giving a talk on "<a href="https://arlislondon.wixsite.com/arlislondon2018/franklin">Museum libraries and library history: joining the research conversation at the National Gallery</a>".  He will present the “founding library” of the National Gallery in London acquired in 1870 from the widow of its first Director, Sir Charles Eastlake (1793-1865), and touch amongst others on the library of Sir Eastlake's contemporary, Count Leopoldo Cicognara (1767-1834).</p>
    </div>
    <hr>
    <div class="news-entry">
      <h2>Cicognara at IIIF</h2>
      <p class="dateline">25 May 2018</p>
      <p>Roger Lawson (National Gallery of Art) and Esmé Cowles (Princeton University Library) presented on various aspects of the project at the 2018 <a href="http://iiif.io/event/2018/washington/">IIIF Conference</a> in Washington, DC.  Roger presented an overview of the project as part of the session <a href="http://iiif.io/event/2018/washington/program/paper-20/">Uses of IIIF at the National Gallery of Art</a>, and Esmé discussed how the Digital Cicognara Library fits into Princeton's overall IIIF ecosystem in the session <a href="http://iiif.io/event/2018/washington/program/paper-49/">IIIF Integration Between (and Within) Applications</a> (<a href="http://bit.ly/iiif-within-between">slides</a>).</p>
    </div>
    <hr>
    <div class="news-entry">
      <h2>Comparison of the Eastlake Library and the Cicognara Library</h2>
      <p class="dateline">20 April 2018</p>
      <p>Please note the advertisement for the <a href="http://www.ahrc-cdp.org/phd-studentship-art-history-scholarship-between-the-1820s-and-the-1870s-the-role-of-the-eastlake-library-at-the-national-gallery-with-the-national-gallery-london-and-robert-gordo/">PhD Studentship: 'Art history scholarship between the 1820s and the 1870s: the role of the Eastlake Library at the National Gallery'</a> with the National Gallery, London, and Robert Gordon University, Aberdeen.</p>
   </div>
   <hr>
    <div class="news-entry">
      <h2>Cicognara at ARLIS/NA</h2>
      <p class="dateline">27 February 2018</p>
      <p>Alexandra Büttner and Roger Lawson (National Gallery of Art) will host a project update and open partners meeting at <a href="http://sched.co/Cxi7">ARLIS/NA's 46th Annual Conference</a> in New York.</p>
   </div>
   <hr>
    <div class="news-entry">
      <h2>Cicognara Symposium in Rome, 5 October 2017</h2>
      <h4>The Digital Cicognara Library: An Open-Access Collection of the Early Literature of Art</h4>
      <p class="dateline">21 September 2017</p>
      <p>Please join the partners and a panel of Cicognara scholars to discuss the project’s current status and its aspirations as a tool for discovery and research. 15:00-18:30 with reception following, AMERICAN UNIVERSITY OF ROME, AURIANA AUDITORIUM, Via Pietro Roselli 16, 00153 Roma RM</p>
      <p>Speakers:
        <ul>
          <li>Timothy Janz, Biblioteca Apostolica Vaticana</li>
          <li>Adriano Aymonino, University of Buckingham</li>
          <li>Francesco Benelli, Università di Bologna</li>
          <li>Jeanne-Marie Musto, City University of New York</li>
          <li>Silvia Vantaggiato, Università del Salento</li>
          <li>Esmé Cowles, Princeton University</li>
          <li>Sandra Ludig Brooke, Princeton University</li>
        </ul>
      </p>
   </div>
   <hr>
   <div class="news-entry">
     <h2>Cicognara at ARLIS/NA</h2>
     <p class="dateline">8 February 2017</p>
     <p>Sandra Brooke (Princeton) and Roger Lawson (National Gallery of Art) will host a project update and open partners meeting at <a href="http://www.arlisna.org/neworleans2017/">ARLIS/NA's 45th Annual Conference</a> in New Orleans, Louisana.</p>
   </div>
   <hr>
    <div class="news-entry">
      <h2>Cicognara at DLF</h2>
      <p class="dateline">1 November 2016</p>
      <p>Princeton's Sandra Brooke (Marquand Librarian) and Jon Stroop (Library Applications Development Manager) will be discussing the Digital Cicognara Library on November 7, 2016, in a IIIF-focused session at the <a href="https://www.diglib.org/forums/2016forum/">Digital Library Federation Forum</a> in Milwaukee, Wisconsin. <a href="https://dlfforum2016.sched.org/event/8LGE/m3b-iiif">"Uncommon Objects of Delight: Recreating Count Leopoldo Cicognara's Library"</a> will address the DCL’s academic goals and technical implementation and show how the project is leveraging Blacklight and the International Interoperability Framework technologies.</p>
    </div>
    <hr>
    <div class="news-entry">
      <h2>Cicognara at IFLA</h2>
      <p class="dateline">16 August 2016</p>
      <p><em>Worth a Thousand Words:  A Global Perspective on Image Description, Discovery, and Access</em>, a full day symposium at the <a href="http://2016.ifla.org/">IFLA World Library and Information Congress</a> in Columbus, Ohio, August 15, 2016, was the setting for a Cicognara talk by Kathleen Salomon (Assistant Director, Getty Research Institute) and Sandra Brooke (Marquand Librarian, Princeton). <a href="http://www.ifla.org/node/10802">"These Silent Witnesses of My Affections: A Collaborative Recreation of Count Leopoldo Cicognara’s Library"</a> described the projects scope and aims and set it within the context of the <a href="http://www.getty.edu/research/institute/development_collaborations/fab/">Future of Art Bibliography</a> and <a href="http://www.getty.edu/research/tools/portal/index.html">Getty Portal initiatives</a>.</p>
    </div>
  </div>
  <figure class="center">
    <%= image_tag 'vatican-library.jpg' %>
    <figcaption>Biblioteca Apostolica Vaticana, Vatican Museums. Courtesy Scala / Art Resource, NY</figcaption>
  </figure>
</section>
