<section class="partners-page" id="partners-page">
  <div class="wrap">
    <h1>Founding Partners</h1>
    <p>Thanks to the generous support of the Samuel H. Kress Foundation, the founding partners have
       provided essential administrative and project management assistance since 2015.</p>
    <div class="partners-desc-container">
      <%= render partial: "shared/partner", collection: PARTNERS["founders"], as: :partner %>
    </div>
    <h1>Contributing Partners</h1>
    <p>Read more on how to become a contributing partner <%= link_to "here", static_page_path('contributor') %>.

    <div class="partners-desc-container">
      <%= render partial: "shared/partner", collection: PARTNERS["contributors"], as: :partner %>
    </div>
  </div>
</section>
