<section class="research">
<div class="wrap">

<h1>Research</h1>

<p>With the goal of providing broad exposure of scholarship supporting the Cicognara Library and to
enhance engagement with the collection, please explore the following bibliography related to Count
Leopoldo Cicognara and the history of his collection.</p>

<p>In 2020, an opportunity to support English translation for two peer-reviewed academic articles
was made possible by a grant from <a href="https://www.kressfoundation.org/">The Samuel H. Kress
Foundation</a>. These two articles are now available via JSTOR and open access through the 
<a href="https://arthistoriography.wordpress.com/">Journal of Art Historiography</a> providing
fundamental information and analysis for those who wish to make use of Cicognara's collection.</p>

<h2><a href="https://arthistoriography.wordpress.com/">Journal of Art Historiography</a></h2>

<h3>Number 26 June 2022</h3>

<p><a href="https://arthistoriography.files.wordpress.com/2022/05/musto-intro-to-cicognara.pdf"
>Studies on the Cicognara Library, Part 1 of a series</a>: Guest edited by Jeanne-Marie Musto (New
York Public Library). Jeanne-Marie Musto,
<a href="https://arthistoriography.files.wordpress.com/2022/05/musto-intro-to-cicognara.pdf">
&quot;Introduction&quot; 26/JMM1</a></p>
<p>Translation: Barbara Steindl (Kunsthistorisches Institut in Florenz, Max-Planck-Institut),
<a href="https://arthistoriography.files.wordpress.com/2022/05/steindl_1.pdf">&lsquo;The early years
of Leopoldo Cicognara&rsquo;s book collection&rsquo; 26/BS1</a></p>
<p>Translation: Barbara Steindl (Kunsthistorisches Institut in Florenz, Max-Planck-Institut),
<a href="https://arthistoriography.files.wordpress.com/2022/05/steindl-trans.pdf">&lsquo;Collecting
art books: the library of Leopoldo Cicognara and his bibliographic system&rsquo; 26/BS2</a></p>

<h3>December 2022</h3>

<p><a href="https://arthistoriography.wordpress.com/27-dec22/">Studies on the Cicognara Library,
Part 2 of a series</a>: Guest edited by Jeanne-Marie Musto (New York Public Library). Jeanne-Marie Musto,
<a href="https://arthistoriography.files.wordpress.com/2022/11/musto-intro-cicognara-series-pt-2.pdf">
&quot;Introduction&quot; 27/JM1</a></p>
<p>Elena Granuzzo (Ca ‘Foscari University of Venice),
<a href="https://arthistoriography.files.wordpress.com/2022/11/granuzzo.pdf">&quot;Leopoldo Cicognara
and his library: Formation and significance of a collection (I)&quot; 27/EG1</a></p>
<p>Barbara Steindl (Kunsthistorisches Institut in Florenz, Max-Planck-Institut),
<a href="https://arthistoriography.files.wordpress.com/2022/12/steindl.pdf">&quot;Cicognara’s views on
fifteenth-century sculpture in light of his art library&quot; 27/BS1</a></p>


<h2>Cicognara Bibliography</h2>

<h3>Modern Scholarship: Cicognara, art history bibliography, and historiography</h3>

<p>Antolini, Patrizio. 1879. <i>Notizie su Leopoldo Cicognara e sua famiglia.</i> Ferrara: Premiata
tipografia sociale.</p>
<p>&quot;ARLIS/NA CAA Joint Session on Art Bibliography.&quot; <i>ARLIS/NA Newsletter</i> 6, no. 2
(1978): 26-26.</p>
<p>Arntzen, Etta, and Rainwater, Robert. A Guide to the Literature of Art History. Chicago:
American Library Association, 1980.</p>
<p>Bassi, Elena. <i>Venezia Nell&#39;et&agrave; Di Canova, 1780-1830: Venezia, Ala Napoleonica,
Museo Correr</i>, Ottobre-Dicembre 1978. Venezia: Alfieri, 1978.</p>
<p>Besterman, Theodore. Old Art Books: Collected and Catalogued by Theodore Besterman. London:
Maggs Brothers, 1975.</p>
<p>Borenius, Tancred. &quot;The Catalogo Cicognara.&quot; <i>The Book-Collector&#39;s Quarterly</i>
0, no. 5 (1932): 78.
<a href="https://search.proquest.com/docview/1298877459">https://search.proquest.com/docview/1298877459</a>.</p>
<p>C.-B, P. &quot;Publication of the Fondo Cicognara.&quot; <i>Museum Management and Curatorship</i>
8, no. 3 (1989): 333-334.</p>
<p>Chamberlin, Mary W. A Guide to Art Reference Books. Chicago: American Library Association,
1959.</p>
<p>Dodds, Douglas. &quot;Viewpoint: The Future of Art Bibliography.&quot; <i>Art Libraries
Journal</i> 36, no. 3 (2011): 3-4.</p>
<p>Esposito, Enzo, Giovanni Solimine, Rino Pizzi, and Prentiss Moore. &quot;Bibliographical Studies
in Italy since 1945.&quot; <i>Libraries &amp; Culture</i> 25, no. 3 (1990): 433-445.</p>
<p>Fabian, Carole Ann and Kathleen Salomon. &quot;Future of Art Bibliography Initiative: Charting a
New Future.&quot; <i>Art Documentation: Journal of the Art Libraries Society of North America</i>
31, no. 2 (2012): 176-185.</p>
<p>Fehl, Philipp P., Lizabeth Wilson, and Leopoldo Cicognara. <i>The Cicognara Library: Literary
Sources In the History of Art and Kindred Subjects</i>. Urbana, Ill.: Published by the Leopoldo
Cicognara Program at the University of Illinois Library in association with the Vatican Library,
1989.</p>
<p>Fehl, Philipp P. 1999. &quot;Stendhal and Leopoldo Cicognara: notes on the strategy and the
truth of Stendhal&#39;s lies&quot;. <i>Gazette Des Beaux-Arts / Fond&eacute;e Par Charles Blanc</i>.
93-116.</p>
<p>Franklin, Jonathan. &quot; Cataloguing the Library of Sir Charles Eastlake (1793-1865) at the
Library of the National Gallery, London.&quot; <i>Art Libraries Journal</i> 42, no. 4 (10, 2017):
189-194.</p>
<p>Franklin, Jonathan. &quot;Museum Libraries and Library History: Joining the Research
Conversation at the National Gallery.&quot; <i>Art Libraries Journal</i> 44, no. 1 (01, 2019):
19-22. doi:http://dx.doi.org/10.1017/alj.2018.35.
<a href="https://search.proquest.com/docview/2173848141">https://search.proquest.com/docview/2173848141</a>.</p>
<p>Glover-Godlewski, Susan and Lee Sorensen. &quot;PROFESSIONAL LITERATURE: Art Bibliographies: A
Comparison of the Big Three.&quot; <i>Art Documentation: Journal of the Art Libraries Society of
North America</i> 5, no. 4 (1986): 175-176.</p>
<p>Granuzzo, Elena. &quot;Leopoldo Cicognara e La Sua Biblioteca: Formazione e Significato Di Una
Collezione (I).&quot; <i>La Bibliofil&iacute;a</i> 114, no. 2 (2012): 231-272.</p>
<p>Granuzzo, Elena. &quot;Leopoldo Cicognara e La Sua Biblioteca: Formazione e Significato Di Una
Collezione (II).&quot; <i>La Bibliofil&iacute;a</i> 114, no. 3 (2012): 371-412.</p>
<p>Haskell, Francis, <i>History and Its Images: Art and the Interpretation of the Past</i>. New
Haven: Yale University Press, 1993. (193-200)</p>
<p>Hatheway, Holly, Roger Lawson, and Charlotte Oertel. &quot;The Digital Cicognara Library: transforming a 19th
century resource for the digital age.&quot; Art libraries journal, no. 4, volume 45, issue 2 (2020):47-54.</p>
<p>Holly, Michael Ann. Panofsky and the Foundations of Art History. Ithaca, N.Y.: Cornell University
Press, 1984.</p>
<p>Irvine, Betty Jo and William B. Walker. &quot;Wolfgang M. Freitag, 1924&ndash;2012: A
Tribute.&quot; <i>Art Documentation: Journal of the Art Libraries Society of North America</i> 32,
no. 2 (2013): 152-173.</p>
<p>Johnson, Geraldine A. &quot;&lsquo;(Un)Richtige Aufnahme&rsquo;: Renaissance Sculpture and the
Visual Historiography of Art History.&quot; <i>Art History</i> 36, no. 1 (2013): 12-51.</p>
<p>La collezione di tutti i disegni originali che hanno servito per intagliare le tavole della
storia della scultura di Leopoldo Cicognara&quot; : (Vat. Lat. 13748) / Elisabetta G. Rizzioli.
Rizzioli, Elisabetta. Citta&#768; del Vaticano : Biblioteca apostolica vaticana, 2016.</p>
<p>Larsen, John C. &quot;A Seminar in Fine Arts Bibliography.&quot; <i>Journal of Education for
Librarianship</i> 11, no. 2 (1970): 145-147.</p>
<p>Magani, Fabrizio. <i>Canova e L&#39;accademia: Il Maestro e Gli Allievi</i>. Treviso [Italy]:
Canova, 2002.</p>
<p>Malamani, Vittorio. 1888. <i>Memorie del conte Leopoldo Cicognara, tratte dai documenti
originali</i>. Venezia: I. Merlo.</p>
<p>Marmor, Max. &quot;Baedeker and Art Bibliography.&quot; <i>Art Documentation: Journal of the Art
Libraries Society of North America</i>14, no. 4 (1995): 25-26.</p>
<p>Mazzocca, Fernando, Paola Marini, and Roberto De Feo. <i>Canova, Hayez e Cicognara: L&#39;ultima
Gloria Di Venezia</i>. Prima edizione.</p>
<p>Picotti, 1813-18.Cicognara, Leopoldo. Le fabbriche e i monumenti cospicui di Venezia. 2 vols.
Venice: G. Antonelli, 18 15-20.</p>
<p>Racioppi, Pier Paolo. &quot;The Men of Letters and the Teaching Artists: Guattani, Minardi, and
the Discourse on Art at the Accademia Di San Luca in Rome in the Nineteenth Century.&quot;
<i>Journal of Art Historiography</i> no. 19 (12, 2018): 1-19.
<a href="https://search.proquest.com/docview/2167787909">https://search.proquest.com/docview/2167787909</a>.</p>
<p>Reinink, Adriaan Wessel, and Jeroen Stumpel. <i>Memory &amp; Oblivion: Proceedings of the XXIXth
International Congress of the History of Art Held In Amsterdam, 1-7 September 1996</i>. Dordrecht:
Kluwer Academic Publishers, 1999.</p>
<p>Rizzioli, Elisabetta, and Leopoldo Cicognara. <i>La collezione Di Tutti i Disegni Originali Che
Hanno Servito Per Intagliare Le Tavole Della Storia Della Scultura Di Leopoldo Cicognara (vat. Lat.
13748).</i></p>
<p>Rizzioli, Elisabetta G., <i>L&#39;officina Di Leopoldo Cicognara: La Creazione Delle Immagini
Per La Storia Della Scultura</i>.</p>
<p>Salomon, Kathleen. &quot;Facilitating Art-Historical Research in the Digital Age: The Getty
Research Portal.&quot; <i>Getty Research Journal</i> 6, no. 1 (2014): 137-141.</p>
<p>Schlosser, Julius. La letteratura artistica: Manuale delle fonti della storia dell&#39;arte
moderna. Translated by Filippo Rossi. Florence: la Nuova Italia, 1964.</p>
<p>Sorensen, Lee R. &quot;Art Bibliographies: A Survey of their Development, 1595-1821.&quot;
<i>The Library Quarterly: Information, Community, Policy</i> 56, no. 1 (1986): 31-55.</p>
<p>Sorensen, Lee and Susan Glover-Godlewski. &quot;PROFESSIONAL LITERATURE: Art Bibliographies: A
Comparison of the Big Three Part II.&quot; Art Documentation: <i>Journal of the Art Libraries
Society of North America</i> 6, no. 1 (1987): 35-36.</p>
<p>Steinitz, Kate T. &quot;Early Art Bibliographies. Who Compiled the First Art Bibliography?&quot;
<i>The Burlington Magazine</i> 114, no. 837 (1972): 829-837.</p>
<p>Zanetti, Alessandro, and Leopoldo Cicognara. 1837. <i>Le premier si&egrave;cle de la
calcographie ou catalogue raisonn&eacute; des estampes du cabinet de feu M. le Comte L&eacute;opold
Cicognara... Avec une appendice sur les Nielles du m&ecirc;me cabinet</i>. Venise: Antonelli.</p>
 
<h3>Count Leopoldo Cicognara (1767-1834): Published Works</h3>

<p>Cicognara, Leopoldo, <i>Catalogo Ragionato Dei Libri D&#39;arte e D&#39;antichit&agrave;
Posseduti Dal Conte Cicognara</i>. Pisa: N. Capurro, co&#39;caratteri di F. Didot, 1821.</p>
<p>Cicognara, Leopoldo. Catalogo ragionato dei libri d&#39;arte e d&#39;antichita posseduti di
conte Cicognara. 2 vols. Pisa: N. Capurro, co&#39;caratteri di F. Didot, 1821.</p>
<p>Cicognara, Leopoldo, <i>Catalogo Ragionato Dei Libri D&#39;arte e D&#39;antichita Posseduti Dal
Conte Cigognara. Mansfield Center</i>, CT: Martino Publishers, 2007.</p>
<p>Cicognara, Leopoldo, <i>Del Bello: Ragionamenti</i>. Firenze: Molini, Landi, 1808.</p>
<p>Cicognara, Leopoldo, <i>Elogio Di Andrea Palladio</i>... Venezia, 1811.</p>
<p>Cicognara, Leopoldo, <i>Dei Quattro Cavalli Riposti Sul Pronao Della Basilica Di S. Marco:
Narrazione Storica</i>. Venice: Dalla Tipografia di Alvisopoli, 1815.</p>
<p>Cicognara, Leopoldo, Johann Joachim Winckelmann, and Jean Baptists Louis Georges Seroux
d&#39;Agincourt. <i>Storia Della Scultura Dal Suo Risorgimento In Italia: Fino Al Secolo Di Canova
Del Conte Leopoldo Cicognara</i>. Ed. 2. riveduta ed ampliata dall&#39;autore Prato: Frat.
Giachetti, 1823.</p>
<p>Cicognara, Leopoldo, <i>Memorie Spettanti Alla Storia Della Calcografia Del Commend. Conte
Leopoldo Cicognara</i>. Prato: Giachetti, 1831.</p>
<p>Cicognara, Leopoldo, <i>Notizie Intorno Ad Antonio Fabbris Udinese Orefice, Coniatore,
Intagliatore, Ec</i>. Firenze, 1831.</p>
<p><i>Elogio Del Conte Leopoldo Cicognara</i>. Venezia: Tipografia di Tommaso Fontana, 1846.</p>
<p>Memorie del conte Leopoldo Cicognara : tratte dai documenti originali...Malamani, Vittorio,
1860- Venezia : I. Merlo, 1888.</p>
<p>Cicognara, Leopoldo, Antonio Canova, and Gianni Venturi. <i>Lettere Ad Antonio Canova</i>.
Urbino: Argali&#768;a, 1973.</p>
<p>Cicognara, Leopoldo, Antonio Canova, and Paolo Mariuz. <i>Leopoldo Cicognara Ad Antonio Canova:
Lettere Inedite Della Fondazione Canova Di Possagno</i>. Cittadella (PD) [Italy]: Bertoncello
artigrafiche, 2000.</p>
<p>Cicognara, Leopoldo, <i>Biblioteca Cicognara</i>. Urbana, Ill.: Leopoldo Cicognara Program,
University of Illinois Library, 1989.</p>
<p>Cicognara, Leopoldo. Stonra della scultura dal suo risorgzmento in Italia... 3 vols.
Venice:Tip.</p>
<p>Cicognara, Leopoldo, Johann Joachim Winckelmann, and J. B. L. G. Seroux d&#39;Agincourt. 1813.
<i>Storia della scultura dal suo risorgimento in Italia sino al secolo di Napoleone</i>. Venezia:
Picotti.</p>

</div>
</section>
