<p id="notice"><%= notice %></p>

<h1>All Books</h1>

<ul class="item-index">
  <% @books.select { |b| b.digital_cico_number.present? }.sort_by(&:digital_cico_number).each do |book| %>
    <li class="item-link"><%= link_to book.digital_cico_number, book %></li>
  <% end %>
</ul>
