<h2 class="error">Internal Server Error</h2>
<p class="error">There was a problem processing your request.  Please report this error, including the page
URL and any steps to reproduce the error, using the <%= link_to 'Contact Form', static_page_path('contact') %>.</p>
