<section class="what" id="about">
  <div class="wrap">
    <h2>What is The Digital Cicognara Library?</h2>
    <figure class="right">
      <%= image_tag 'catalogo-spine.jpg' %>
      <figcaption>Courtesy Heidelberg University Library</figcaption>
    </figure>
    <p>The Digital Cicognara Library is an international initiative to recreate in digital form the remarkable private book collection of Count Leopoldo Cicognara (1767–1834). Though assembled in the Romantic era, Cicognara’s collection of some five thousand early imprints still comprises the foundational literature of art and archaeology. Cicognara’s famous, two-volume inventory of his library, the <em>Catalogo ragionato dei libri d’arte e d’antichità</em>, published in 1821 and often reprinted, remains an essential tool for scholars and bibliophiles. </p>
    <p>When complete, the Digital Cicognara Library will consist of a sophisticated digital library application that includes the text of the <em>Catalogo ragionato</em> itself, integrated with digital images and full text of every title in the corpus, including black-and-white facsimiles of the original volumes in the Vatican; one or more high-resolution, color facsimiles of unique copies from partner libraries; and thorough bibliographic information. Thanks to generous support from the Samuel H. Kress Foundation and partner institutions, the Digital Cicognara Library will be an open-access resource.</p>
  </div>
</section>
