<div class="view-links col-md-12">
  <% counter = document_counter_with_offset(document_counter) %>
    <%= link_to_document document, 'Catalog View', counter: counter, class: 'btn btn-xs btn-default' %>
    <%= link_to 'Browse View', catalogo_link(document), class: 'btn btn-xs btn-default' %>
</div>
