<% @linked_documents.each do |document| %>
  <% if document['format'] %>
    <div class="row linked-books">
      <h4><%= document['title_display'] %></h4>
      <%= render partial: 'show_default', locals: { document: document } %>

      <% book_record = Book.where(id: document['book_id_s']).first %>
      <% if book_record %>
        <% versions = Version.where(book_id: book_record.id) %>
        <div class="col-xs-offset-3">
          <ul>
            <% versions.each do |version| %>
              <% if can? :show, version %>
                <li><%= link_to version.label, book_version_path(book_record, version) %></li>
              <% end %>
            <% end %>
            <% if can? :create, Version %>
              <li><%= link_to 'Add a version', new_book_version_path(book_record) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
