<% if document.manifests.present? %>
  <div class="viewer">
    <% manifests = document.manifests.map do |manifest|
      {manifestUri: manifest, location: "Digital Cicognara Library"}
    end
  %>
<%= mirador_tag(height: '100%', options: {layout: layout(document.manifests), windowSettings: { sidePanelVisible: false }, data: manifests, windowObjects: document.manifests.map{|x| {loadedManifest: x}}}) %>
  </div>
<% end %>
