// Styling for the advanced search index view

.advanced-search-form {
  .advanced.page-header {
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    .advanced-search-start-over {
      font-size: 1.8rem;
    }
  }
}
