.community-entry {
  h2 {
    text-align: left;
    margin-bottom: 0;
    border: solid black 1px;
  }
}

img.community-logo {
  float: left;
  max-width: 200px;
}

.normal-size-text {
  font-size: 18px;
  line-height: 1.5em;
}

.bold-text {
  font-weight: bold;
}

.question-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
}

code {
  font-size: 14px;
}

.code-block {
  color: #c7254e;
  font-size: 14px;
}

.research {
  h2 {
    text-align: left;
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 24px;
  }
  h3 {
    text-align: left;
    font-size: 18px;
    font-family: $sans-serif;
    font-weight: bold;
  }
}
