footer {
  background: $lighter-gray;
  background: linear-gradient(to bottom, $lighter-gray, $white);
  border-top: 1px solid $light-gray;
  padding: 1.5em 0;
  margin-top: 2em;

  ul {
    margin: 0;
  }
}

.bottom {
  text-align: center;
}
