figure {
  margin: 0;

  img {
    display: block;
    margin: 0 auto;
    position: relative;
    max-width: 100%;

    @media (min-width: 480px) {
      width: 350px;
    }

    @media (min-width: 600px) {
      display: inline-block;
      margin: .5em 1.5em;
    }
  }

  &.right {
    clear: both;
    margin: 0;
    display: inline-block;
    float: right;
    width: 100%;

    @media (min-width: 600px) {
      float: right;
      width: 425px;
    }
  }

  &.left {
    clear: both;
    margin: 0;

    @media (min-width: 600px) {
      float: left;
    }
  }

  &.center {
    text-align: center;
  }

  figcaption {
    font-family: $serif;
    font-size: 0.95em;
    padding: .5em 1.9em .55em;
    width: 350px;
    margin: 0 auto;
  }
}

img {
  display: block;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}

.partners {
  text-align: center;

  .wrap {
    text-align: left;
  }

  ul {
    list-style: none;
    padding: 0;
    text-align:center;

    li {
      display: inline-block;
      max-height: 90px;
      padding: 1rem;
      position: relative;
      text-align: center;

      img {
        width: auto;
        max-height: 60px;
      }
    }
  }
}
