header {
  background: $beige;
  height: 50px;
  position: fixed;
  z-index: 5;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  text-align: center;

  ul {
    padding: 0;
    margin: 0;
    display: inline-block;

    li.banner {
      display: inline-block;
      float: left;
      padding: 1em;
    }

    li.banner-right {
      position: absolute;
      right: 1em;
    }
  }

  a.banner {
    text-transform: uppercase;
    font-family: $intro-heading;
    font-size: 15px;
    color: $black;

    &:hover {
      box-shadow: none;
      color: $black;
      text-decoration: underline;
    }
  }
}

