.blacklight-catalog-show {
  h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;

    .catalogo-note {
      font-weight: normal;
    }
  }
  .browse {
    margin-bottom: 1em;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .linked-books {
    font-family: $sans-serif;
    border: 1px solid $light-gray;
    background: $lighter-gray;
    margin: 1em;
    padding: 1.5em;
    clear: both;

    h4 {
      margin-top: 0;
      line-height: 1.4em;
      font-weight: 600;
    }

    dl {
      margin-bottom: 0;
    }
    dt {
      font-weight: 600;
      color: $black;
      margin-top: 1em;

      @media (min-width: 768px) {
        margin-top: 0;
      }
    }
  }
}
