.constraints-container {
  background: none;
  border: 0;
  box-shadow: none;
  padding: 16px 0 0;
}

#sortAndPerPage {
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.appliedFilter {
  font-size: 14px;
}

.suggest {
  margin-top: 0;
}

@media (max-width: 768px) {
  .page_links,
  .search-widgets {
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.25em;
  }
}

.page_entries {
  font-size: 14px;
}

.page_links {
  padding: 0;
}

.catalogo-note, .catalogo-note p {

}
.catalogo-note {
  font-family: $sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0 15px;
  margin: 10px 0 5px;
}

/* Hide from search results view */
#documents .catalogo-note {
  display: none;
}

/* Hide from show view */
#document .catalogo-note-search-results {
  display: none;
}

#document .catalogo-note-search-results-toggle {
  display: none;
}

.catalogo-note-search-results {
  background: $light-gray;
  border-left: 10px solid $medium-gray;
  clear: both;
  font-family: $sans-serif;
  font-size: 14px;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
  p {
    line-height: 1.5em;
    padding: 0 15px;
    margin: 10px 0 5px;
  }
}

.catalogo-note-search-results:before,
.catalogo-note-search-results:after {
  color: $medium-gray;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

.catalogo-note-search-results:before {
  content: open-quote;
  margin-right: 0.25em;
}

.catalogo-note-search-results:after {
  content: close-quote;
  margin-left: 0.25em;
}

/*
* Source: https://blog.kritikapattalam.com/2-simple-ways-you-can-truncate-text-using-css
*/
.truncate-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
