$beige: #E6E8DB;
$red: #971c06;
$black: #221E1D;
$brown: #ADAB9D;
$white: #fff;
$lighter-gray: #fafafa;
$light-gray: #efefef;

$sans-serif: Helvetica, sans-serif;
$serif: "Cardo", Georgia, serif;
$intro-heading: "Playfair Display", Georgia, serif;

$border-radius-base: 4px;

// bootstrap overrides
$font-family-serif: "Cardo", Georgia, serif;
$brand-primary: $black;
$logo_image: image_path('cicognara-logo.svg') !default;
