$beige: #E6E8DB;
$red: #672418;
$black: #221E1D;
$brown: #ADAB9D;
$white: #fff;

$sans-serif: "Source Sans Pro", Helvetica, sans-serif;
$serif: "Cardo", Georgia, serif;
$intro-heading: 28px "Playfair Display", Georgia, serif;
