ol.catalogo-list { list-style-type: none; }

span.catalogo-pb { display: block; }

span.catalogo-pb::before { content: "["; }

span.catalogo-pb::after { content: "]"; }

div.catalogo-note { font-size: smaller; }

span.catalogo-title { font-style: italic; }

ol.catalogo-list li { margin: 0 0 6px 0; }

span.catalogo-item-label {
    font-weight: bold;
    padding-right: 5px; 
}


/* For debugging and proofing*/
span.catalogo-bibl { border: 1px dotted gray; }

span.catalogo-title { background: rgb(255,255,235); }

span.catalogo-author { background: rgb(235,255,255); }

